[2017-11-05 14:15] #1208 closed

[2017-11-05 14:20] tarebyte commented on #1208
@bewithsahilsaif I see you're a security researcher from your profile. While I appreciate you trying to make GitHub safer by pen testing the site I'm going to ask you don't use this repo as your playground.

If you do this again I'll be forced to either block you from the repository, or mark your account as spam.

Thanks!

[2017-11-06 20:28] scorpioblk1 opened #1209 "Leaving an assignment after joining. Cannot rejoin the assignment through same link?"
I accepted an assignment sent out by my course instructor, I then pressed "leave" as the repo didn't completely initialize due to internet cutting out during process. Now that I have left the repo, when I try and accept assignment again, it already shows as accepted, but the link to the repo now throws up a 404 error...
Any way of re-joining and re-accepting assignment?

[2017-11-06 21:25] tarebyte commented on #1209
@scorpioblk1 there isn't ATM because the repository wasn't deleted. If you reach out to education@github.com with the details we can get you sorted out.

Thanks!

[2017-11-06 21:25] #1209 closed

[2017-11-11 08:43] #1108 closed

[2017-11-16 00:43] trombonekenny opened #1213 "undefined method `id' for "":String"
Hi all,

I'm trying to get @mdwheele's `feature/support-ghe` branch working against my Github Enterprise. I'm pretty n00b with Ruby on Rails, but with his PR #1163 patch I was able to get OAuth and the basic functionality working, at least in localhost:5000 mode. :smiley:

I am getting a NoMethodError in AssignmentInvitationsController#accept crash right after I accept an invite. It says:

and poi

[2017-11-16 15:55] d12 commented on #1213
Hi trombonekenny,

I can try to take a peek at this sometime this week. We don't officially support forks though, you may have better luck trying to get assistance from @mdwheele.

[2017-11-16 16:03] mdwheele commented on #1213
@trombonekenny @d12

I've enabled issues on my fork. This branch is part of an open PR to support GitHub Enterprise and I cannot reproduce this issue currently. If there is an actual bug, I want to add a test that reproduces it because currently, the PR is passing tests.

[2017-11-16 16:05] d12 commented on #1213
Thanks @mdwheele!

Let us know when your PR is ready for review, me and Tarebyte would be happy to check it out.

[2017-11-16 16:06] mdwheele commented on #1213
Go for it. I know y'all are super busy, but it's ready for review.

[2017-11-16 19:25] bvelez opened #1214 "Students accepted assignment but URI directs to non-existing repo"
Many of my students have been able to successfully create their repos thru the assignment link:
    https://classroom.github.com/g/p7Nkj9N5

This particular team:
    https://github.com/orgs/UPRM-CIIC4010-F17/teams/git-reckt/members

created the assignment but obtained a dangling URI:
     https://github.com/UPRM-CIIC4010-F17/PokerMemory-git-reckt

How can we fix this so they get the correct repo

[2017-11-16 23:51] trombonekenny commented on #1213
I followed up on the issue in his fork repo. I think it makes more sense to track it there. I just wanted to update here for completeness. Thanks all!

[2017-11-19 21:22] #1116 closed

[2017-11-20 18:00] bvelez opened #1215 "I cannot seem to fully remove stranger member from an assignment team"
I was able to remove team member AmbujaAK from team:

https://github.com/orgs/UPRM-CIIC4010-F17/teams/tem-240db.

![image](https://user-images.githubusercontent.com/5605641/33033548-199059ea-cdfb-11e7-85f9-105a92166161.png)

But it still appears in the list of teams in the assignment screen:

![image](https://user-images.githubusercontent.com/5605641/33033506-edefc2c6-cdfa-11e7-826b-a9c51f92c195.p

[2017-11-22 17:10] drbeco opened #1216 "Number of group members wrong"
(feature-request, but also a _bug_ imho)

It should be important for classroom to keep updated with the real group teams after they are created.

For now I have a group assignment where one of the groups had a problem and a member simply left the "team", the other I removed.

Now the assignment states there are 8 members, while the team sees only 6.

This prevented another member to join, since th

[2017-11-22 17:11] drbeco commented on #1215
This request seems to be related to my new issue (feature-request), so I'm linking here ( #1216 ) for organization. Please take a look if that would address this matter. Thanks.

[2017-11-22 22:08] wschilling commented on #595
I'm curios as to the status of this change.  For accreditation purposes, it would be much easier if I could have a second classroom now for a second set of courses, as I am tag teaching with different people now.  But, I'd rather not have to have another organization, as really, only the class is different.  Any updates on this one?

[2017-11-22 22:47] iluvatar1 opened #1217 "Clone student repo up to submission, not latest commit?"
Hi, I wonder if it is possible to clone an student repo only up to the "submission" , since, for now, a submission is actually a commit and there is no systematic way to download the repo until the submission, ignoring the remaining commits.
My use case: I batch-clone the students repositories for a given homework and then evaluate them. It is impossible for me, right now, to know what is the last

[2017-11-27 22:03] anglinb commented on #1167
:wave: friendly bump

[2017-11-28 20:20] ceefour commented on #1184
@athityakumar github username, github real name, email, student ID (the custom identifier)

[2017-11-28 20:38] gmporter commented on #1184
Also having the team name would be useful for classroom projects where multi-person teams are allowed.

[2017-11-30 19:04] #1144 closed

[2017-11-30 20:19] #960 closed

[2017-11-30 20:19] #1139 closed

[2017-12-06 16:05] #1173 closed

[2017-12-11 21:34] #1176 closed

[2017-12-12 19:04] #729 closed

[2017-12-14 18:37] #937 closed

[2017-12-20 12:18] teraiulr opened #1222 "Remove a ghost classroom"
How can a ghost classroom be deleted. Since entering the organization name, do not enable the delete button to delete the classroom.

[2017-12-20 12:24] #1222 closed

[2017-12-20 22:45] #1190 closed

[2017-12-22 17:35] jlperla opened #1223 "Math rendering support?"
It is pretty difficult to use github for a classroom when you can't post up math in latex within the markdown in classrooms.  I don't see any open issues for this, is it on the radar?  If not, please!

[2017-12-22 17:40] tarebyte commented on #1223
@jlperla this sounds like more like a feature request for GitHub than it does for GitHub classroom.

Would you mind reaching out to support@github.com?

Thanks!

[2017-12-22 17:45] jlperla commented on #1223
I will, thank you.  And to whatever extent possible when discussing with higher-ups, please press the need for math.  The irritation it is causing, relative to the amount of work it requires for github to do, is quite high.

[2017-12-22 17:45] #1223 closed

[2017-12-25 14:40] #1185 closed

[2017-12-25 14:40] #1187 closed

[2017-12-27 18:34] #1201 closed

[2017-12-29 22:04] #1198 closed

[2018-01-01 02:02] #1206 closed

[2018-01-01 15:34] #1203 closed

[2018-01-03 20:27] drstearns commented on #772
I just had over a dozen students in a class of 40 experience this problem. I sent out the GitHub classroom link early, but many students had not yet clicked it, so many students clicked it at roughly the same time during class. The import began, but never finished. When they clicked the link in the GitHub Classroom confirmation page, it showed a status bar that never advanced.

I had to cancel the

[2018-01-05 18:03] gchallen opened #1224 "Best Practices For Saving Submission Timestamps"
I'm new to GitHub classroom but very excited to use it for the first time. Thanks to all for the hard work that went into this project.

I'm trying to determine the best way to ensure that we have reliable timestamps for student submissions, given that it's well-known that Git commit timestamps can be altered. The deadline support that was added recently isn't sufficient for us, since we let stude

[2018-01-08 17:46] #1207 closed

[2018-01-10 12:56] daveogle1818 opened #1225 "Assignment question"
I have 40 students in my classroom. I can only see 20 of their assignments, although I know the other 20 have submitted the assignment. One student sent me the link to his assignment but I get a 404 when I access it. Is there a help section available to help figure out what is going wrong/

dave

[2018-01-10 13:05] tarebyte commented on #1225
@daveogle1818 so I think there is something wrong with the assignment view, our database says that all 40 assignments are there and I can verify that those repos are on GitHub.

I'm not sure why the GitHub link would 404 for you though.

Would you mind emailing education@github.com so we can talk more specifically?

[2018-01-10 13:37] Kadaaran opened #1226 "The server loses connection when signing in."
Hi there,

The server does not let me acces the `http://localhost:500/classrooms` page after signing in.

To explain a little what happened:
- setup went perfectly
- the app runs at localhost:5000
- ngrok runs as well

I'm signing in, I see in the logs the beginning of the redirection at `http://localhost:5000/classrooms` but then it crashes and the server can't redirect me and sends me this error

[2018-01-10 14:36] Kadaaran commented on #1226
I've found the solution.
The problem was about Elasticsearch.
It appears that `./script/setup` installs the last version of `java` (v.9) but `elasticsearch@1.7` does not support `Java 9` but `Java 8`.

I'll update `./script/setup` and the README if that's ok !

[2018-01-10 16:40] tarebyte commented on #1226
Go for it @Kadaaran!

[2018-01-13 04:07] mfk2909 opened #1229 "Could not join the team again...??"
I accidentally created a team with wrong name but was able to see all the assignment stuff....but when my instructor deleted that faulty name team n readded me to the repository....I wasn't able to join the assignment .....as it always shows....could not join the team

[2018-01-13 17:48] francesco-santini commented on #286
I'd like to raise attention to this issue again, as periodically done since 2015, as it appears from the top of this discussion. I guess this is a very simple feature to be added, as simple as important for teachers who need to download (and then evaluate) each assignment (over 100 even in my case).  @tarebyte @johndbritton , it seems GitHub classroom does still not include the download_all featur

[2018-01-13 18:07] mozzadrella commented on #286
@francesco-santini correct--this will be part of the sprint for manage and assess: https://github.com/education/classroom/blob/master/ROADMAP.md

[2018-01-15 14:29] gchallen opened #1230 "Disable Import Email"
I've disabled automatic repository email watching, but I'm still getting "Import to ... succeeded" emails each time a student accepts an assignment invitation.

Yes, I know how to filter these into a folder. But is there a way to disable this notification entirely? I'm about to deploy this assignment to 600 students... 🙂 .

[2018-01-15 14:30] gchallen commented on #1224
Answering my own question: we developed a small node.js-based logger for GitHub webhook events. It both saves them to a MongoDB instance so that the timestamps are preserved, and also fires off messages using RSMQ to start autograding. Here's the repo: https://github.com/cs125-illinois/githublogger. It probably won't work perfectly for your setup, but it's a starting point.

I'm still wondering if

[2018-01-16 14:45] nicholascw commented on #1224
@gchallen  Hi, Challen, as one of your CA, I would recommend you to do a trusted timestamp signing process when running the test case or commiting the work.

[2018-01-16 22:22] DavidGoedicke opened #1231 "After re-granting access to github classroom, cannot create a new class. WebHook error."
It was admittedly a stupid thing to do but after revoking access to GitHub classroom I granted it access again. Now, whenever I try to use my organization to create a class I get the error:

Any ideas what might be going on?

[2018-01-16 22:27] tarebyte commented on #1231
@DavidGoedicke you probably need to go remove the webhook from your organization and then and create the classroom again.

[2018-01-17 16:20] jdkent opened #1232 "github account only associated with ghost user"
We had a user delete their account before they signed up for the class, and when they re-created their account, every time they try to accept the assignment, their account is associated with the [ghost](https://github.com/ghost) account, even though I can visit their existing account.

I even had them make another account with a different username (but same email) and we got the same result.

The

[2018-01-17 16:29] tarebyte commented on #1232
Thanks for letting us know @jdkent!

Yeah there was probably some session confusion there. So just logging out of classroom and GitHub, signing back into GitHub then trying to accept the assignment should fix it.

[2018-01-17 16:30] tarebyte commented on #1230
@gchallen unfortunately the Import API we use doesn't give us that ability 😢

I wish we could, that would save folks a _lot_ of spam.

[2018-01-17 16:30] #1230 closed

[2018-01-17 16:30] jdkent commented on #1232
Yep, that was it, just had them log in/out of classroom and it worked. Sorry for causing an unnecessary fuss.

[2018-01-17 16:30] #1232 closed

[2018-01-17 16:31] tarebyte commented on #1229
@mfk2909 we would have to delete the resource on the classroom side. Right now we don't listen for a team deletion even and make the appropriate action.

[2018-01-17 16:39] tarebyte commented on #1224
@gchallen it might be helpful to post your questions over in the GitHub Education Community forum https://education.github.community

[2018-01-18 21:45] rsardinas opened #1234 "Can't make new assignment"
I am having issues making new assignments for my students in github classroom. I just get errors when I create new assignments.

[2018-01-18 22:22] witchel commented on #772
I think this is still an issue.  Out of 14 repositories (so far), 3 of them failed to import.

[2018-01-18 22:48] tarebyte commented on #1234
@rsardinas would you mind what settings and type of assignment you are trying to create?

I'm trying to recreate your issue to see what the problem is.

[2018-01-18 22:56] rsardinas opened #1235 "Error creating new assignments"
[github_assgn_error.docx](https://github.com/education/classroom/files/1644717/github_assgn_error.docx)

Hello, I'm getting an error where I can't create any assignments. I've attached a word document with a screenshot of what I see after I attempt to create an assignment.

Also, I can't delete assignments (or don't know how). Any help would be appreciated. I'd like to make the next assignment for

[2018-01-18 23:52] johnboat opened #1236 "Assignments links do not work (error 500)"
I've set up two assignments in Classroom, but when I go to the main page listing Assignments, the link to each assignment page is broken (I'm referring to clicking the name of the assignment), Internal Server error 500.

[2018-01-19 01:26] rsardinas commented on #1234
Absolutely.
Individual Assignment
I've tried Public and Private repos
Give students admin permission box checked and unchecked
Once I hit create, I land on the error page shown in the word document I've attached.

I was able to create an initial assignment. Since then, I am unable to.
[github_assgn_error.docx](https://github.com/education/classroom/files/1645007/github_assgn_error.docx)

Thanks in

[2018-01-19 01:27] rsardinas commented on #1234
Also, once I try to create the assignments, it does actually create an assignments link on my assignments page, but clicking the links will simply take me to the same page shown in the word doc.

[2018-01-19 01:58] rsardinas commented on #1234
It seems the problem has gone away. Maybe it was a server issue? I am now able to see the assignments I made before and I am able to create new ones. Thank you for looking into it.

[2018-01-19 02:06] tarebyte commented on #1234
@rsardinas not a problem, we had a pull request out that we were testing.

Thanks for the bug report!

[2018-01-19 02:06] #1234 closed

[2018-01-19 02:06] tarebyte commented on #1235
Duplicate of https://github.com/education/classroom/issues/1234

[2018-01-19 02:06] #1235 closed

[2018-01-19 02:06] tarebyte commented on #1236
@johnboat we had a pull request out for testing, but I've reverted and deployed master.

Mind giving it another try?

[2018-01-19 02:10] johnboat commented on #1236
It works. Thank you. Sorry, I thought I looked through everything before posting, but obviously missed that. Thanks again.

[2018-01-19 02:12] #1236 closed

[2018-01-19 16:06] #1231 closed

[2018-01-19 20:03] mine-cetinkaya-rundel commented on #377
I agree with @jayvdb's point above -- I would also like to restrict assignments to only be used by someone affiliated with the org. Some of the comments above suggest that this functionality could be prioritized if enough people experience outsiders creating repositories. I haven't had this problem yet, because I don't post my assignment links publicly, specifically to avoid this issue. So I wonde

[2018-01-20 13:03] gchallen commented on #1230
OK thanks for letting me know.

[2018-01-22 21:29] #1214 closed

[2018-01-23 01:23] #1213 closed

[2018-01-23 18:03] anyaevostinar opened #1238 "Git Authentication page continuously reloading"
Hello, I have had several students get stuck when trying to join my git classroom where they are at the Git account authentication page and they click the authenticate button and it just reloads the page. I was able to fix most of the students' problems by having them logout, quit the browser and try again, but one student still can't get it to work. Help would be appreciated greatly.

[2018-01-24 15:08] Kadaaran commented on #1238
Hello @anyaevostinar, thank you for reporting this bug.
The quickest solution I can think of right now would be for your students to go into `[](https://github.com/settings/applications)` and to revoke Classrooms access.
Then they can try to join your classroom again.

Can you keep me updated if it works on your end ?

[2018-01-24 16:35] Kadaaran commented on #1216
Hi @drbeco  , thank you for reporting this issue.

I've been trying to find a fix for this issue this week and I think I have found how to do so.

I'll try to ship a first try this week 🚀

[2018-01-25 16:47] amueller opened #1239 "Sort ids in roster alphabetical for first log-in"
When a student first logs in, they are shown a roster to select their ID from.
That roster is not sorted alphabetically, which makes it really painful for users to find their ID.
It should probably be easy to sort it, and that would make students life much easier.

I'm using student IDs, which is usually two characters followed by 4 numbers. Imagine scrolling through 150 of those trying to find yo

[2018-01-25 17:06] pmantini opened #1240 "Unable to create classroom, after deleting the old clasroom"
I had a classroom created last semester, that was associated with an organization. I realized that one could only create single classroom under one organization. So I deleted the old classroom hoping to create a new one.

How ever, it does not give me an option to create a new classroom. Please see screen shots

![gh_2](https://user-images.githubusercontent.com/9559602/35401546-705ab584-01bf-11e8-

[2018-01-25 18:06] anyaevostinar commented on #1238
Hi @Kadaaran That seems to have worked for the student. Thank you!

[2018-01-25 20:06] ashleytqy commented on #1239
I'd like to contribute to this issue, if possible!

[2018-01-25 20:07] Kadaaran commented on #1238
Amazing ! Thank you for letting us know !

[2018-01-25 20:08] #1238 closed

[2018-01-25 20:11] Kadaaran commented on #1239
@ashleytqy Sure, go ahead ! ✨ In the meantime feel free to ask if you have any questions.

[2018-01-26 17:48] Losnen opened #1243 "Problems running the server locally."
I'm trying to run the server locally for contribute but I have some problems with elasticsearch after the authorization with github.

got this in the terminal

`17:44:53 web.1           | 2018-01-26 17:44:53 +0000: Rack app error handling request { GET /auth/github/callback }
17:44:53 web.1           | #<Elasticsearch::Transport::Transport::Errors::BadRequest: [400] {"error":{"root_cause":[{"type"

[2018-01-26 20:35] anyaevostinar opened #1244 "How to prevent graders names showing up"
Hello, I've run into a problem that when my graders go to grade the classroom assignments, their names are revealed, for example:

![received_10214175171473708](https://user-images.githubusercontent.com/868594/35459597-749bb53e-02a6-11e8-8281-01cb6ce3f12f.jpeg)

Is there a way to avoid this other than anonymous grader accounts?

[2018-01-28 18:33] #1215 closed

[2018-01-29 00:42] #1217 closed

[2018-01-29 13:43] tarebyte commented on #1244
@anyaevostinar unfortunately yes since that's on the GitHub side, we really don't have control over that.

[2018-01-30 19:47] #1239 closed

[2018-01-31 00:32] dcoreyrasm commented on #595
Just curious if there have been any updates on this? I'm currently writing a course and without the ability to add multiple classrooms with unlimited private repositories, it looks like I'll have to advise faculty to create their own accounts & organizations, then create a classroom...which I really wish would allow the unlimited private repositories without submitting a new request. (or am I wron

[2018-01-31 17:08] lubaochuan commented on #960
:white_check_mark:

[2018-01-31 17:35] Kadaaran commented on #1243
Hi @Losnen did you have any trouble while running `./script/setup` ?

[2018-01-31 17:40] Losnen commented on #1243
`$ ./script/setup
==> Bootstrapping Homebrew OSX environment
==> Installing gem dependencies…
Using rake 12.0.0
Using concurrent-ruby 1.0.5
Using i18n 0.8.6
Using minitest 5.10.3
Using thread_safe 0.3.6
Using tzinfo 1.2.3
Using activesupport 5.1.3
Using builder 3.2.3
Using erubi 1.6.1
Using mini_portile2 2.2.0
Using nokogiri 1.8.0
Using rails-dom-testing 2.0.3
Using loofah 2.0.3
Using rails-html-s

[2018-01-31 17:47] Kadaaran commented on #1243
@Losnen Can you give me your `elasticsearch` version and your `java` version as well ?
I know I had trouble while setting up the app (we never know it might be the same for you)

[2018-01-31 17:51] Losnen commented on #1243
@Kadaaran

My `elasticsearch` version:

[code]

My `java `version:

[code]

[2018-01-31 18:19] Kadaaran commented on #1243
@Losnen I don't know if it will work but can you update your java version to `Java 8` , make sure `Java 9` is uninstalled and see if it works ?

[2018-02-01 12:10] Kadaaran opened #1250 "Teachers onboarding & organization teams and members issues"
Hi 👋

I've seen a few teachers in the education community page which thinks GitHub and Classroom are connected and are the same without knowing in what they are different. They use both at the same time and then encounter issues based on that.

The result is that teachers add their students to their organization as members instead of outside collaborators (this may be a huge security issue for the

[2018-02-01 14:33] gchallen commented on #1148
I'd like to reopen this issue, since I'm seeing the same problem. (Hi Dan!) With 600 students in my class, a few empty repos becomes a huge pain to fix.

[2018-02-01 15:26] gchallen commented on #1148
Happy to provide more information if it is helpful. We're using an invitation link. Some small but non-zero percent of the time accepting the invitation produces an empty repository. With 600 students I've had maybe one or two of these per-assignment.

The problem is that there is no way for the student to rectify this problem. They can't accept the invitation again, unless they create a new accou

[2018-02-01 15:39] danwallach commented on #1148
My own workaround, hinted at above, is to have my master repo on my laptop. "git add remote" for the student's repo, then "git push --force" to the student's repo. This is slightly preferable, but I really would appreciate this bug being addressed.

[2018-02-01 15:55] tarebyte commented on #1148
@danwallach @gchallen it's rather difficult on our end to know because the importer is not part of classroom.

That being said I wonder if we have a force recreation mechanism that would let you do it through the UI?

[2018-02-01 18:15] gchallen commented on #1148
The "solution" is to just delete the repository and let the student try again. However, this requires manual work on my part. I don't want to use the UI—I just want a way for this to work every time 🙂 .

[2018-02-01 18:35] danwallach commented on #1148
UX on a "force recreation" mechanism could be confusing. We don't want students accidentally blowing away the repo with all their work by pressing the wrong button.

(I had a student deliberately nuke their .git directory and a bunch of their files, reinitialize everything, do a force-push to their repo of whatever was left, and only then realize they'd done something really unfortunate. Thankfull

[2018-02-01 19:35] tarebyte commented on #1148
@danwallach I was thinking this would be on the teacher's side rather than on the student side.

We could also add a step on to the end of the process where if there is a designated template that we make sure that the two repos look the same or that it has content, and if not automatically blow it away and try it again.

[2018-02-01 20:36] gchallen commented on #1148
@tarebyte: your second suggestion is much more along the lines of what I'm after. At minimum you can remove empty repos and start again. (I haven't seen the partial clone problem that @danwallach  reported.)

[2018-02-01 20:48] elray1 commented on #772
Also confirm that this is still a problem.  I had a high enough failure rate (~10 in 40) that I decided continuing to use this tool is infeasible.

[2018-02-02 15:12] tarebyte opened #1253 "Making the import process more resilient"
Yesterday we had a lot of folks not be able to import repositories because of an issue with the service backing the [Source Imports API](https://developer.github.com/v3/migration/source_imports/)

This tells me that we need to make this process more resilient on our end in order to make it more clear to the end user what is going on.

I propose moving the import process to the background and put t

[2018-02-02 15:26] tarebyte commented on #1253
Another thought is that we could add on we could add on to the work that @wilfriedE did with repository imports to make the UI experience even better.

I'm thinking instead of pulling in the foreground we can use action cable and let it listen for the status of the background job.

[2018-02-02 17:59] Kadaaran commented on #1253
Could we maybe add a time limit when it's `pending` and then update it to `errored` if it takes too long so users know what's happening ?

[2018-02-02 18:17] nved1990 opened #1255 "Students cannot clone repositories"
Hi,

We have a assignment in a repository which cannot be cloned by students. Can you help with this.

Thank you.

Best,
Niharika

[2018-02-02 18:18] tarebyte commented on #1255
@nved1990 by clone are you referring to the assignment creation process? Or do you mean an actual `git clone` ?

[2018-02-02 19:02] rjsvcs opened #1256 "Unable to verify repo plan..."
I managed to convince the faculty for Computer Science 2 at my university to start using GitHub Classroom for our weekly lab assignments. There are approximately 20 lab sessions per week, each of which has about 20 students in it (there are over 400 students in the class).

I have two sessions at 8am (Tuesday and Thursday). During those sessions my students experienced several errors, but the most

[2018-02-02 23:09] #1167 closed

[2018-02-02 23:39] nved1990 commented on #1255
I mean the assignment creation process. This is the link: https://classroom.github.com/a/FhwqBtZ0

[2018-02-03 14:46] nved1990 commented on #1255
Hi, can I get some help with this? The students need access to the assignment asap.

[2018-02-03 15:28] tarebyte commented on #1255
@nved1990 I went through the assignment flow (as @tatooine-moisture-farmer) and the process was successful.

Are your students receiving errors? Or are the repositories coming up with no content?

[2018-02-03 16:00] nved1990 commented on #1255
Their repos do not have any of the 6 commits made by the teaching team. They are not able to see the assignment. Something seems to be broken. Students have to delete their repository and try again.

[2018-02-04 07:29] drbeco commented on #1216
Merci

[2018-02-04 09:45] kaspersoerensen opened #1260 "Students repo does not show up in their Github profil"
Hi,

I have a Github Classroom with one assignment. The students have signed up and accepted the assignment.

For some students however, the cloned repository from the assignment does not show up in their overview of repositories, when they log in to Github. They are able to access the repo through the link provided in the mail they got when accepting the repo.

[2018-02-04 09:59] kaspersoerensen opened #1261 "Unable to assign Roster ID to student"
Hi,

In my Github Classroom Roster Overview I have added all the emails for the Students in my course. I have a few student that were able to accept the Assignment Link and clone the Repo without linking their Github account to the Classroom Roster.

I am however not able to link the roster ID to the github accounts. When clicking the "Link to Github Account" button in the Roster overview, the stu

[2018-02-04 10:19] kaspersoerensen commented on #1261
Sorry - Human error, my mistake!

[2018-02-04 10:19] #1261 closed

[2018-02-05 15:25] nved1990 commented on #1255
Could you rerun this process and see if the repository is being created correctly?

[2018-02-05 15:44] Kadaaran commented on #1260
Hi @kaspersoerensen ,

Do you mean in their profile page or the GitHub homepage ?

When students clone assignments repositories, they are not "owners" of these repos. They have access to the repo in your Organization that's why it's not showing in their profile page `repositories` section.
They can find their link in the GitHub homepage on the right in the `repositories` section.

Can you keep me

[2018-02-06 03:08] dwrue1 commented on #1117
I'm having the same issue. I just created an assignment, which is showing an invitation link, but when I click the assignment I get the 500 error.

[2018-02-06 03:58] tarebyte commented on #1117
@dwrue1 we had a bad deploy which I've reverted, would you mind checking it out to see if your issue has resolved?

[2018-02-06 08:33] kaspersoerensen commented on #1260
Hi @Kadaaran

Thank you so much for the fast answer. I will have the next lecture on friday, so by then I will know more - and try and find out more. But I think you are right. When thee go to the GitHub Homepage they should be able to see the repo there.

This issue can be closed for now 😃

[2018-02-06 08:33] #1260 closed

[2018-02-06 11:04] dwrue1 commented on #1117
It's working. Thanks!

On Mon, Feb 5, 2018, 10:58 PM Mark Tareshawty <notifications@github.com>
wrote:

[2018-02-06 14:06] alsuhr opened #1264 "Automatically merge teams"
Hello,

Is there any way to merge teams (either as a student or an instructor)? I have an assignment where students work in pairs, and some students created individual teams before finding a partner. It seems like students don't have the permissions to modify their teams (e.g., change team name or delete the team), so I have just been manually deleting one team and telling them to join the other.

[2018-02-06 15:44] Kadaaran commented on #1256
Hi @rjsvcs ,

On the 1st of February we experienced some issues with the service we rely on to create repositories and then a lot of repos ended up empty, were not even created or were under some other issues.

Also we are working on a better solution to make the UX more convenient and let know the user if something is wrong during the process.

Thank you for reporting this issue !
Let us know if

[2018-02-06 22:50] jinchenxiangdan opened #1266 "I was forbidden from performing accept assignment"
most of us are forbidden when we try to accept assignments. some of us can accept them after refresh pages, but some of us cannot accept assignments for several days.

[2018-02-08 00:16] mstroutStudent opened #1267 "You are forbidden from performing this action on github.com"
I have a class with 163 students.  We have been accepting programming assignments for 3 weeks.  However, now about 20+ students (including my mstroutStudent account) keeps getting this error message, "You are forbidden from performing this action on github.com".  This is a major problem because students are not able to get their own github repository for PA4.

We have looked at various posts about

[2018-02-08 00:18] mstroutStudent commented on #364
I am now having this issue with a large class.  Even when the email addresses have been verified it is happening.  Could we reopen this issue?

[2018-02-08 17:01] kaspersoerensen opened #1268 "Help wanted: Disable clone-notification email."
Hi there,

Whenever a student accepts an invitation to an assignment I get a Notification on Email regarding that. It is possible to disable that?

The screendump below shows my current notification settings.
![skaermbillede 2018-02-08 kl 18 00 08](https://user-images.githubusercontent.com/2018894/35986674-fdc3baac-0cf9-11e8-816b-2bbeca46ff66.png)

[2018-02-08 19:15] tarebyte commented on #1268
Duplicate of https://github.com/education/classroom/issues/1230

Unfortunately we can't turn off emails for the notification at this time, sorry about that @kaspersoerensen

[2018-02-08 19:15] #1268 closed

[2018-02-09 05:01] mstroutStudent commented on #364
It *might* be that github classroom just recently started checking that the email associated with the github account trying to accept the assignment has a .edu extension.  I am guessing this because when I changed my github "student" account to a .edu address, it started working.  Does anyone know if this is the case?

[2018-02-11 19:45] dwrue1 opened #1269 "Suggestion: Enable sorting of assignments"
I thought I could get around the problem of having multiple classes sharing one github classroom by adding a prefix to each assignment that would designate the classroom it belonged to. The problem is that the assignments don't seem to be sorted in alphabetical order - or any order for that matter. Simply put I am looking for a way to organize assignments by prefix (i.e. alphabetical order). The p

[2018-02-11 21:51] ashleytqy commented on #1269
I'd like to contribute to this feature if possible!

[2018-02-12 10:53] Kadaaran commented on #1266
Hi @jinchenxiangdan , thanks for reporting this issue.

Can you tell me more about it ? What error message do you get ? Can you provide a screenshot ?

[2018-02-12 13:08] dogfishbar commented on #664
Hello. I am having the same problems with organization BC-CSCI1102. I do not understand from the above discussion what I can do to fix it.
I created the organization a few years ago (I think) and I am the only person creating assignments. I don't remember the exact sequence of problems but we were getting duplicate repos for some students but not for others and token authentication problems (again

[2018-02-12 14:57] Kadaaran commented on #1269
Hi @dwrue1 thanks for reporting this issue.
I believe they are order by creation date (it seems) 🤔

@ashleytqy Sure !

[2018-02-12 20:17] Kadaaran commented on #1256
Hi @rjsvcs !

Can you tell me for which assignment it happened and on which Classroom ?

[2018-02-12 20:20] rjsvcs commented on #1256
Sure: https://classroom.github.com/classrooms/29046939-csci-142-03/assignments/lab-03

[2018-02-15 09:45] Kadaaran opened #1270 "Suggestion: copy branch settings from source repo"
Suggestion from Slack Education:

Also that could also help protect the assignment so student can't copy from others (maybe? not sure about that yet).

[2018-02-15 18:08] Kadaaran commented on #1256
Hi @rjsvcs ,

Sorry for the delay.

So here's what happened, your organization's owner changed on GitHub, but Classroom did not update this informations.
We still used the old owner's token to check the repo plan which explains the banner saying the organization could not be verified and might explains also some issues with the repo as well (and also with the fact that the service we rely on to cr

[2018-02-15 21:01] ratairas opened #1271 "Unable to add as collaborator"
One of my students is unable to create a repository. The error message "We were not able to add you to the assignment as a collaborator on this assignment. Please try again." came up. Other students have been able to accept the assignment, the latest as being about three hours ago. When I go to the organization dashboard, it shows the repository being generated several times, but it does not show

[2018-02-15 21:08] chenkuan94 opened #1272 "Problem in accpeting the assignment"
The site always says "We were not able to add you to the Assignment as a collaborator, please try again." I don't know the reason. Could someone help me ?

[2018-02-15 22:01] emanMarcu opened #1273 "Inconsistency in the teams structure between GitHubClassroom and the organization"
Hello and thank you for maintaining GitHub Classroom.

I have distributed an assignment and ran into a strange inconsistency. There is a team for which in the GitHub Classroom page it shows there are **two** members but when I click on the team I see there is only **one** member.

Here is a screenshot. I am referring to the team called DynamicTeam, which here shows two members:

![screenshot 2018-

[2018-02-15 22:45] matt297 commented on #1271
My students are encountering the same issue when they try and accept an assignment invitation -
 they always get the error message, `We were not able to add you to the assignment as a collaborator on this assignment. Please try again.`

I tried creating a brand new assignment (https://classroom.github.com/a/8FyDefF3), but accepting the invitation produces the same error. One student tried revoking

[2018-02-15 23:30] rmquimby commented on #1271
My students are suddenly having this same problem. All students were able to access assignments yesterday, but as of a few hours ago none of them can.

[2018-02-15 23:48] laleese opened #1275 "Students cannot accept assignment"
I created a new assignment today. You can find it at: https://classroom.github.com/a/UvQiVcNw
My test student gets the message "We were not able to add you to the Assignment as a collaborator, please try again." This is our third assignment, but the first one to have this problem.

Can you help?

[2018-02-15 23:55] filalano commented on #1271
I have the same issue at the moment! https://classroom.github.com/a/UvQiVcNw

[2018-02-16 14:24] Kadaaran commented on #1275
Duplicate of #1272

[2018-02-16 14:24] #1275 closed

[2018-02-16 14:56] filalano commented on #1275
But the problem still exists. why is this issue closed?

[2018-02-16 14:59] filalano commented on #1272
@Kadaaran, this problem still exists in our assignment. https://classroom.github.com/a/UvQiVcNw -- Can somebody help? Why is this issue closed?

[2018-02-16 15:11] Kadaaran commented on #1275
Hi @filalano ,

Yes the problem still exists. This issue is a duplicate fo the #1272 that's why I closed it (to avoid having multiple issues open for the same issue)

[2018-02-16 15:16] Kadaaran commented on #1272
Hi @filalano ,

This issue is a duplicate of #1271 that's why I am closing it as well.
But don't worry I'm well aware of the issue.
I am just gathering all the comments about one issue in a same place so it'll be easier to gather comments and fix it.
You may go into #1271 to talk about the assignments issue so we can get your comments and explanations about the issue.

[2018-02-16 15:16] Kadaaran commented on #1272
Hi @filalano ,

This issue is a duplicate of #1271 that's why I am closing it as well.
But don't worry I'm well aware of the issue.
I am just gathering all the comments about one issue in a same place so it'll be easier to gather comments and fix it.
You may go into #1271 to talk about the assignments issue so we can get your comments and explanations about the issue.

[2018-02-16 15:16] #1272 closed

[2018-02-16 15:21] Kadaaran commented on #1271
Hello everyone,

Thank you for reporting this issue.

@ratairas @rmquimby can you give me your organization ID and the assignment so we can take a look at it ?
@filalano @matt297 Can you give me the name of the assignment you're talking about so we can take a look ?

[2018-02-16 15:32] Kadaaran commented on #1273
Hi @emanMarcu ,

Sorry for the delay and thank you for reporting this issue.

It is indeed a bug 🙇
Classroom does not keep informations about teams and organizations members updated.
If a user leaves the team Classroom will still display outdated informations.

However two PR to fix these bugs are on their way ! ✨ (#1274 & #1254 )
It'll be soon released I believe.

[2018-02-16 15:38] ratairas commented on #1271
@Kadaaran My organization ID is vu-cs3270-s18 and assignment is Project 1. I tried Homework 3 and it didn't work either.

Thanks.

[2018-02-16 15:44] Kadaaran commented on #1271
@ratairas Do you have the login or name of a student that got the repository created multliple times and on which assignment ?

[2018-02-16 15:46] ratairas commented on #1271
@Kadaaran Here's one: vandercc gets an error on Homework 3 and Project 1.

[2018-02-16 15:48] ghemingway commented on #1271
@Kadaaran I am seeing this issue also.  My organization is vu-cs3251-s18 assignment is Assignment 3.  The student with the issue's GH account ID is: kzhang798.

[2018-02-16 16:43] matt297 commented on #1271
@Kadaaran The organization id is `34665183` and the assignment name is `Test Assignment` (https://classroom.github.com/a/8FyDefF3). All of my students are getting the error, but if it helps, a couple specifically are `navroop9152` and `chaoxunzhou`.

[2018-02-16 17:24] ivanjimenez opened #1277 "Not able to add you to the assigment Error"
Dear friends of classroom:

I use google classroom assignments for my students. All worked fine until a couple of students tried to accept an assignment by link. But they couldn't with this error output:
`We were not able to add you to the Assignment as a collaborator, please try again.`

I have an organization with a team, and other users of this team accepted the assignment without problem. I tr

[2018-02-16 17:33] laleese commented on #1271
@Kadaaran - our org is @CS-112-02-spring2018 and its for Lab3
URL: https://classroom.github.com/a/UvQiVcNw

[2018-02-16 17:39] Kadaaran commented on #1277
Hi @ivanjimenez !

We are aware of this issue and are trying to fix it.
Unfortunately your issue is a duplicate of #1271
I'm going to close this one and invite you to go to #1271 to get more informations and to be updated regarding this issue.

Thank you for reporting this issue.

[2018-02-16 17:39] mmm commented on #1271
We're seeing the same thing for multiple classrooms.

The audit log for the org shows lots of: `repo.create`, `repo.add_member`, and then `repo.destroy` events for the problematic student assignment repos, but doesn't include any error messages

[2018-02-16 17:39] #1277 closed

[2018-02-16 17:40] rmquimby commented on #1271
Thanks @Kadaaran . My organization id is 35276586. The problem first showed up with my assignment `homework#4` (some students successfully accepted, but later others could not). None of my students were able to  accept `Quiz #6`.

[2018-02-16 17:47] ivanjimenez commented on #1277
I appreciate your quick response. So, I'm waiting for the solution.
Best regards.

[2018-02-16 18:09] FanBu opened #1278 "Cannot accept an assignment"
Cannot accept an assignment. Reported by many different users with same assignment.
It seems like some lock is not released and fork cannot be done properly.
Please resolve this bug quickly since the due of this assignment is coming.

[2018-02-16 18:16] Kadaaran commented on #1278
Hi @FanBu  !

We are aware of this issue and are trying to fix it.
Unfortunately your issue is a duplicate of #1271
I'm going to close this one and invite you to go to #1271 to get more informations and to be updated regarding this issue.

Thank you for reporting this issue.

[2018-02-16 18:16] #1278 closed

[2018-02-16 19:18] FanBu commented on #1271
It seems like something is wrong here. https://github.com/education/classroom/blob/6a50c7febf555fb1ba91c79b0b9f0062134dde0e/app/models/github_organization.rb#L29
The repo cannot be created but the user is invited to the repo.

[2018-02-16 19:23] tarebyte commented on #1271
Hi Everyone,

First thank you for reporting this issue, we really appreciate the community bringing these problems to us.

There was a deploy that made a breaking change to the GitHub API yesterday afternoon which is what is causing your issues.

I'm currently working on a PR to fix the API problem and then a subsequent PR to fix this issue on the Classroom side.

Thank you for your patience.

[2018-02-16 19:30] FanBu commented on #1271
The error is raised here https://github.com/education/classroom/blob/6a50c7febf555fb1ba91c79b0b9f0062134dde0e/app/models/assignment_repo/creator.rb#L106
because the controller tries to add users to a repo which is failed during creation.
However, I think the error should be raised within https://github.com/education/classroom/blob/6a50c7febf555fb1ba91c79b0b9f0062134dde0e/app/models/assignment_repo

[2018-02-16 20:53] johndbritton commented on #1270
Rather than copying the settings from the source repo, when we do implement this it should be as a config file on the `github-classroom` branch of the source repo like we do for issues and labels currently.

[2018-02-16 21:16] yanneta commented on #817
Hi @tarebyte,
I am getting the same issue with my students.

Any ideas on what the problem could be?
Thanks!
Yannet
<img width="1033" alt="screen shot 2018-02-16 at 1 01 50 pm" src="https://user-images.githubusercontent.com/2998885/36329651-8f4618cc-131b-11e8-9f61-137da2fbf50e.png">

[2018-02-16 21:40] DbCrWk commented on #1271
I'm also having this issue. Commenting here to stay subscribed!

[2018-02-16 22:05] Kadaaran commented on #817
Hi @yanneta !

Please refer to #1271 for more informations, we are currently working on it and a fix should be implemented soon 🙏

[2018-02-16 22:18] Percipient24 commented on #1271
I'm also having this issue. I'm happy to provide additional details / add you to my ORG / act as test subject.

[2018-02-17 05:10] ashwinvidiyala commented on #1269
I want to contribute to this feature if it hasn't been built out already.

[2018-02-17 05:55] avatar-lavventura opened #1280 "How to prevent Students change there repository private to public."
I have created an assignment as private repository. Each student accept the assignment and enters into their repository that is private. I have realize that under setting each student can make their repository public. Hence I do not anyone to change their repository setting and make it public.

[Q] Is there any way to prevent students change there repository private to public? So no matter what al

[2018-02-17 06:02] avatar-lavventura commented on #1280
I checked it out wrong, sorry. Students won't able to access `Setting` option.

[2018-02-17 06:02] #1280 closed

[2018-02-17 11:39] whatwho commented on #1271
Our students are having the same issue, commenting here just to stay subscibed! Thanks for the quick fix in advance!

[2018-02-17 13:06] ericboivin opened #1281 "Assignment is preventing students from joining"
Greetings.
I have an assignment created for my organization (GTI525) and for the first 15 or so students, there were no problems. But starting this week, every student taking this assignment gets this message:

Is there anything I can provide to help diagnose this problem?

Thanks,
Eric

[2018-02-17 13:07] ericboivin commented on #1281
Duplicate from #1271, will close for now and follow the other one

[2018-02-17 13:07] #1281 closed

[2018-02-17 22:59] malloc82 commented on #1271
One of my students had the same issue, but I was able to fix it by converting him to "outside collaborator" from "member" manually.

He was listed as a organization member because github classroom added first time students as member last fall. However, this semester github added first time students as an "outside collaborator".

So all the students who listed as "outside collaborator" had no probl

[2018-02-18 05:28] sebkopf commented on #1271
Same problem with our students, could not solve it with malloc82's suggestion. Thanks in advance for working on the fix.

[2018-02-18 05:36] malloc82 commented on #1271
Just want to add that at the moment, not even organization's owner can accept assignment, only "outside collaborator" can accept assignment in my classroom.

And my assignments are all individual assignments.

[2018-02-18 09:15] DbCrWk commented on #1271
@malloc82 I'm experiencing similar behavior

[2018-02-18 20:29] coatless commented on #1271
@Kadaaran thanks for your work on the problem thus far. However, is there an ETA expected for this fix or should I start working on a side script to spin up repos for students?

[2018-02-18 21:29] aknilosey opened #1282 "Unable to fork a repository"
When I try to fork a repo using GitHUb classroom it gives an error saying "We were not able to add you to the Assignment as a collaborator, please try again." although I am added as a collaborator.

[2018-02-19 01:27] hoyosjs commented on #1282
See #1271

[2018-02-19 05:33] Percipient24 commented on #1271
I'm writing to confirm @malloc82's 'outside collaborator' fix worked for me and my students. Go to https://github.com/orgs/[your org here]/people and, for each student, select 'Convert to outside collaborator' from the settings cog menu:

<img width="282" alt="screen shot 2018-02-19 at 12 30 44 am" src="https://user-images.githubusercontent.com/1882129/36363601-663e1cb6-150c-11e8-86d2-1f5a345b606d

[2018-02-19 09:00] Kadaaran commented on #1282
Duplicate of #1271

[2018-02-19 09:00] #1282 closed

[2018-02-19 09:09] arjenpdevries commented on #1271
Worked here as well, tnx @malloc82

[2018-02-19 09:13] arjenpdevries commented on #1271
Is there an ETA for a solution, @tarebyte ?

(I need to hand out new assignments on Thursday, would be nice to know if I need to look for a workaround or that this will likely not be an issue anymore.)

[2018-02-19 16:27] AlexHartveld commented on #1271
We're having the same issues, commenting here to keep updated about a possible fix.
Thanks for going after this, hope the PR is done soon.

[2018-02-19 16:39] lubaochuan commented on #1271
I am experiencing the same issue. Couldn't accept this assignment created by myself: https://classroom.github.com/a/ajnTka1E

[2018-02-19 16:47] malloc82 commented on #1271
@lubaochuan I just accepted your assignment. I don't know if you are a owner or member, but at the moment, only "outside collaborator" or people have no association to the organization (like me) at all can accept the repo.

[2018-02-19 16:52] kmmcgarry commented on #1271
I'm having the same issue. Patiently waiting for an update on this.

[2018-02-19 17:52] ashleytqy commented on #1269
@ashwinvidiyala I'm still working on it! Sorry for the delay, was busy with school.

[2018-02-19 18:54] vuse-student commented on #1271
@ratairas @ghemingway pls daddy

[2018-02-19 20:17] yanneta commented on #817
@Sarik-bot There is no solution yet. I am asking my students to submit to the repo from the previous assignment. (-:

[2018-02-19 20:35] maryvilleDevProf commented on #1271
Adding myself to the listener list. Thanks for working on this!

[2018-02-20 14:45] farassadek commented on #240
I too need the enterprise github classroom

[2018-02-20 15:11] mrmirah commented on #1271
Thank you for the workaround for now and working quickly to get a fix.  Subscribing to this to stay updated.

[2018-02-20 19:02] kraigh commented on #1271
Would like to chime in that we're experiencing a similar issue- students are able to clone the repos, but the "Give students Admin permissions on their repository" option is not honored, and students are not added as administrators on their repository, only write permissions. This is an issue for us because students use Github Pages to host their site, and they cannot set up Github Pages without a

[2018-02-21 03:11] mfagan451 opened #1285 "Unable to give students admin privileges for their private assignment repositories."
When creating an assignment, we checked the "Give students admin permissions on their repository".
The assignment was marked "Private".

The admin permissions, however, did NOT go through for any of the students.

As an additional point of concern, we did the exact same thing on our previous assignment and everything worked as intended.

[2018-02-21 04:27] LINKIWI commented on #1148
Potentially some additional insight. I have not had time to inspect the source to identify a root cause.

Here are some reproduction steps:

1. Create a starter code repository `A`. Push an initial commit.
2. Create an assignment. Set the starter code repo for the assignment to `A`.
3. Rewrite the initial commit of `A` (`git commit --amend && git push origin HEAD --force`)
4. Create a repo from th

[2018-02-21 15:38] Kadaaran commented on #1184
PR #1245 merged ! 🎉

[2018-02-21 15:38] #1184 closed

[2018-02-21 22:02] dogfishbar opened #1286 "Token authentication & duplicate repos"
Hello. I am having a problem with organization BC-CSCI1102. The organization has 58 Members enrolled with 3 Owners, myself & 2 TAs. Many of us are getting token errors at odd intervals:

And when students accept Assignments, they are often getting duplicates repos made. The number of duplicates can vary from 1 to as many as 5:
![image](https://user-images.githubusercontent.com/1794931/36507704-985

[2018-02-21 23:38] mfagan451 opened #1287 "Unacceptable number of empty repositories"
For each of our 11 assignments this semester, we have gotten 5-10 empty repositories generated
(out of 140 students). Furthermore, it is not the same students each time. In addition, the empty
repos occur at random times.

[2018-02-21 23:48] mfagan451 commented on #1148
Let me also chime in here with our Rice experience. We have posted 11 assignments so far. For every assignment, between 5 and 10 students have empty repos. It appears to be completely stochastic.
It is different students every time, and it seems to occur at random times during the day.

[2018-02-22 01:27] eblanton commented on #1148
I have 140 students in a course, and I have had one instance of these in each of two projects.  As some of the previous posters, I'd be happy to provide more information (and specific repositories) to GitHub Education if it would help.

[2018-02-22 09:17] Kadaaran commented on #1287
Hi @mfagan451 ,

First thank you fo reporting this issue. Unfortunately your issue is a duplicate of #1148
I invite you to go there so I can keep everyone updated about it.

Thank you !

[2018-02-22 09:18] #1287 closed

[2018-02-22 13:08] Kadaaran commented on #1286
Hi @dogfishbar ,

Thank you for reporting this issue
Did you change the organization's owner recently (for example one of the organization owners left)? 🤔

[2018-02-22 13:09] Kadaaran commented on #1286
Hi @dogfishbar ,

This on is indeed a duplicate of #664 I am closing this one and will answer you in #664 thanks !

[2018-02-22 13:09] #1286 closed

[2018-02-22 13:09] Kadaaran commented on #664
Hi @dogfishbar ,
Thank you for reporting this issue
Did you change the organization's owner recently (for example one of the organization owners left)? 🤔

[2018-02-22 13:25] dogfishbar commented on #664
That's possible. I teach the course regularly, my TAs come and go. One present TA, sc8ing, is an Owner of this org but a Member of a different org (BC-CSCI3366, which is working fine). So I'm not 100% sure that ownership changed but I do think it did.

[2018-02-22 13:40] lubaochuan commented on #1271
@malloc82 Thanks for your comment. It turned out a few of my students were considered inside collaborators because they were added to a team in my organization last year. The issue is definitely new because none of my students had issues accepting assignments just a few weeks ago. It seems the issue has been fixed.

[2018-02-22 20:04] jmflorezff opened #1289 "Deleted user still shows up in assignment group"
I have a user named @ghost in one of my groups and I can't remove them because they don't show up in the organization team management interface in github. I understand this is a deleted user from github, so that would explain why I can't see them there. They are taking up a space that is needed by an account that is actually active.

[2018-02-23 10:53] Kadaaran commented on #1289
Hi @jmflorezff ,

Thank you for reporting this issue. It appears that it's a duplicate of #1216
The PR #1254 to fix this issue will be on its way soon 🙏

[2018-02-23 10:53] #1289 closed

[2018-02-23 11:01] Kadaaran commented on #664
@dogfishbar We removed the old owner, you should be okay now. Tell me if it's not the case and if I can help you with anything.

[2018-02-23 13:19] dogfishbar commented on #664
Thank you! Just for my information, that old owner's name wasn't visible to
me, right? Can you tell me who it was?
Thanks again!
Bob

On Fri, Feb 23, 2018 at 6:02 AM, Kassandre Pedro <notifications@github.com>
wrote:

[2018-02-23 19:57] robertcduvall opened #1291 "Roster Download"
Only downloads the first page (20) of students --- it needs to do all the pages.

[2018-02-25 16:32] eblanton commented on #1148
As an update, regarding the above "blow it away and try again" solution ... For my students who have had this problem, the repository has been truly empty, so I have been able to simply pull their repo, pull the handout code, then push back to their repo without problem.  As @gchallen said, this is too manual to be a long-term solution for large classes, but it suggests that the "fix" may be to si

[2018-02-26 19:22] gchallen commented on #1148
Just a bump since this is still happening to me, and seems worse with our latest assignment. This assignment is a bit larger than the previous ones, so I'm wondering if that offers a clue about what the underlying issue is.

[2018-02-27 07:35] itggot-daniel-berg commented on #595
Hope this gets enabled soon. Would really, _really_ simplify using Github Classroom for my different courses.

[2018-02-28 00:10] fjorgemota commented on #603
Hey.

I'm working on a class on the Federal University of Santa Catarina where we need to define a maximum and a minimum number of students per groups (we need groups with the maximum of three students and the minimum of two, so it's viable to verify all the submissions).
Another way to see that at least on my case would be a limit for the number of groups that can be created. For example, on my c

[2018-02-28 16:25] mozzadrella commented on #603
@fjorgemota that is a great pedagogical question for the education community: https://education.github.community/

[2018-02-28 16:45] fjorgemota commented on #603
I don't understood.

When I asked "what do you think?" I asked on the context of this issue of
the Github Classroom project, where a discussion happened about how to add
this feature and it was asked about feedback of users of the application. I
do not see how asking on a education community would help here, as I don't
have any doubts about the method, just a few suggestions to help on the
develop

[2018-02-28 21:12] Kadaaran commented on #1271
Hi everyone,

You can find the report of the last week's incident [here](https://education.github.community/t/en-fr-github-classroom-incident-report-28-february-2018-rapport-dincident-28-fevrier-2018/26616) if you want more informations about what happened and how it was resolved.

Thank you ✨

[2018-03-01 17:28] jinchenxiangdan commented on #1266
Hi
this is the screenshot.

Thank you for your time

2018-02-12 3:53 GMT-07:00 Kassandre Pedro <notifications@github.com>:

[2018-03-01 17:36] Kadaaran commented on #1266
Hi @jinchenxiangdan 👋 I don't see your screenshot, did you send it ? 🤔

[2018-03-01 17:39] jinchenxiangdan commented on #1266
yes, but I have attached the file.  this is the screenshot.
sorry about that.

2018-03-01 10:36 GMT-07:00 Kassandre Pedro <notifications@github.com>:

[2018-03-01 19:21] Kadaaran commented on #1266
I'm sorry @jinchenxiangdan but I can't found here here or in my emails notifications. Do you mind sending me over to `kadaaran@github.com` so I can have a look ?  Thank you again.

[2018-03-02 20:27] fjorgemota commented on #1139
I suffered of the same problem here when testing Classroom.

What I do not understand is why this issue was marked with wontfix. This issue will really not be fixed or it's just the stale bot doing wrong things here?

[2018-03-02 20:57] Kadaaran commented on #1139
Hi @fjorgemota , the stale bot adds `wontfix` if there is no activity after (almost) 2 months. I removed the label 👍

We are currently working on a solution about team members (PR here: #1254) which keeps track of every member that leaves a team.
If your problem is not related to this PR can you tell me more about it so I can try to help you on this ? Thanks 🙏

[2018-03-02 21:04] fjorgemota commented on #1139
Hey @Kadaaran. Thanks for the fast answer!

When I delete someone from a team here, not only the counting of the teams are not updated, but I cannot rejoin any team of the assignment (nor create a new team).

According to your reply to me, this issue seems to allow a user to rejoin a team on the assignment if deleted of a team on github. That's exactly what you want. But according to the PR descri

[2018-03-02 21:33] fjorgemota commented on #1139
Just to describe the problem  better, imagine the following situation:

- Teacher uses Github Classroom to manage repositories for the class;
- Teacher creates a group assignment and share the link with the students;
- A student join, by mistake, a wrong group;

Today, I'm not able to delete the student from a team in a way that it's possible for him to join another team or even create a new team.

[2018-03-02 21:33] Kadaaran commented on #1139
Hi @fjorgemota ! I understand what you mean.
What happens now is that Classroom does not update the number of people in a team when one is removed from GitHub. The PR fixes indeed the team members numbers issue.

What I think is happening is that you not being able to join again a team on this assignment is linked to the fact that Classroom does not update team members and think you're still in a

[2018-03-02 21:41] fjorgemota commented on #1139
Hey, @Kadaaran!

That's exactly what I think it's happening here. Seems like Github Classroom do not update the database correctly when managing team members using the Github's admin panel. I do not develop on ruby, but reading the code here seems like your PR fix that. So seems like your PR fix the actual problem from what I understand. So....nice! Good work! :D

And yeah, you answered my questio

[2018-03-02 21:44] Kadaaran commented on #1139
Well I still have some issues with my tests (that I really really need to fix soon) so that's why it's not merged yet 😭
Thank you ! If you have any issues with Classroom feel free to open an issue and I'll try to help you as best as I can 💪

You're welcome ! Happy to help !

[2018-03-02 21:51] fjorgemota commented on #1139
Ok @Kadaaran! Good luck! :+1:

[2018-03-02 22:47] johndbritton commented on #1291
@Kadaaran Can you verify this bug, write a failing test, and fix?

[2018-03-03 18:58] majid169 opened #1295 "Merging teams, adding new member or other operations on previously created team"
Hi,
We are using the organizational repo for our class, which is a very large class with 400 students and 200 teams. We let students to create their own team and now I need to merge 2 teams, switch partner for 2 teams and create a new team. However, it seems that I am not allowed to do any of these with existing teams.
For example, I added a member to a new team and deleted the old team, however,

[2018-03-04 23:44] rossdakin commented on #1271
@Kadaaran was this intentionally reopened? Are there ongoing/new issues?

Thanks!

[2018-03-05 09:48] Kadaaran commented on #1271
Hi @rossdakin , we are keeping it open in case some people still experience this issue.
If there is no issues related to this one we will close it in a few weeks :)

[2018-03-05 14:17] Kadaaran commented on #1291
Hi @robertcduvall , the PR is now merged this issue should be fixed.
Please keep me updated if it's (or not) the case.

Thank you for your patience and for reporting this issue.

[2018-03-06 00:06] talsafran opened #1297 "script/setup fails because of java8 in Brewfile"
When I run `script/setup` it yells at me that the `java8` cask is not available:

[code]

I was able to run `script/setup` successfully by using `java` instead of `java8` in the Brewfile, but noticed that in https://github.com/education/classroom/pull/1227 we specifically wanted `java8`. Not sure how to proceed here, thoughts?

---

cc @Kadaaran @tarebyte

[2018-03-06 12:28] Kadaaran commented on #1297
It appears that ElasticSearch *finally* [supports](https://www.elastic.co/blog/elasticsearch-java-9-and-beyond) Java9 🎉

I was able to run successfully `script/setup` and `script/server` as well. I think we can definitely remove `java8` and put back `java` 👍

[2018-03-06 15:03] pesehr opened #1299 "Student join API"
Hey,
We want to use GitHub classroom and we have a designed registration website ([here](https://register.imantabrizian.me/)).
I'm wondering if there any API for calling?

[2018-03-06 15:28] Kadaaran commented on #1299
Hi @pesehr 👋
You mean if Classroom has a dedicated API ?
If I understand, you want to push all your entries from your form to Classroom directly each time someones registers to the form ?

[2018-03-06 16:37] amueller opened #1300 "Search submissions"
It would be great if there was a way to search the submissions.
Let's say I want to find the repository that corresponds to homework 1 of a particular student.
There's no way to do this, and doing it manually by scrolling to the paginated assignment submissions is not really feasible (the interface is sluggish and I have 8 pages).
Sorting by the identifier as suggested in #847 would help a bit (I

[2018-03-06 16:50] Kadaaran commented on #1300
Hi @amueller 👋

There is an ongoing PR #1182 that might be linked to your issue.
It lets the teacher re-order the assignments (oldest - newest - student_id etc).

We can indeed think of implementing a search bar on the assignments submissions.

[2018-03-06 16:51] amueller commented on #1300
Thanks @Kadaaran. That still means I need to do manual binary search if I want to find a particular student.

[2018-03-06 17:38] Kadaaran opened #1301 "script/server fails"
All good when running `script/setup` but when I run `script/server` it yells at me this:

[code]

I've been adding debug messages and it fails eventually on `lib/docker_compose/parser.rb:55` , I think we try to pop an array which was already under `.pop` earlier or something like that ?

[2018-03-06 20:33] talsafran commented on #1297
w00t thanks @Kadaaran!

[2018-03-06 20:33] #1297 closed

[2018-03-06 22:20] shaquillie23 commented on #1300
👍

[2018-03-06 22:52] talsafran commented on #1301
+1, I get this when I run `script/test`:

[code]

[2018-03-07 07:37] dfitiskin opened #1302 "Invite other administrators link not work"
Return 404 error

Link: https://classroom.github.com/classrooms/25052038-hj
User: https://github.com/orgs/netology-code/people/wizzzjer

[2018-03-07 11:02] Kadaaran commented on #1302
Hi @dfitiskin , thank you for reporting this issue.

Do you know if `wizzzjer` accepted the invitation ? 🤔
It will return a 404 error if the person did not accept the invitation to the organization.

[2018-03-07 13:39] pesehr commented on #1299
@Kadaaran tanks for your attention.
Yes, I need an API.

[2018-03-07 13:40] pesehr commented on #1299
Sorry I've closed the issue.

[2018-03-07 14:19] Kadaaran commented on #1299
Unfortunately Classroom does not have an API. Classroom is built on GitHub API though.

Can you explain to me what you are trying to do ? Maybe I can help you to find something that would work on your end.

[2018-03-07 22:26] leskat47 commented on #664
Hi. I am having this problem as well, not only for students, but I am not able to make changes (like creating assignments) either. I did make some changes to staff last week, but I should still be an owner. Anything I do gives me the error: Cannot retrieve this organizations repo plan, please reauthenticate your token.
Help?

[2018-03-08 13:31] dfitiskin commented on #1302
<img width="239" alt="2018-03-08 20 29 57" src="https://user-images.githubusercontent.com/26603/37153529-907b28be-230f-11e8-861f-15385f913294.png">

[2018-03-08 15:37] Kadaaran commented on #664
Hi @leskat47 👋 We removed the owners on Classroom that are not owners on GitHub so you should be good for now ! We have an ongoing PR that should fix this issue for once and for all.

Thank you for your patience !

[2018-03-08 15:42] Kadaaran commented on #1302
Hi @dfitiskin ! 👋

Classroom is returning a 404 because`wizzzjer` is not an owner of the organization. You just have to set the person as owner and it should work :)

[2018-03-08 17:15] pesehr commented on #1299
@Kadaaran

OK, it's important for us the students join Github first and after that join homework repository.
so it's the scenario:
1. the student submit the form and we check if he/she has GitHub account.
2. invite the student to GitHub if doesn't have an account (GitHub has an API for it and works and also GitHub send an invitation to the classroom after joining).
3. if he/she has an account, map

[2018-03-08 17:38] Kadaaran commented on #1299
@pesehr

Just to make sure we are on the same page here:

You need an Organization to create a Classroom.
You can't actually *add* students to a Classroom itself. However you can add them to the roster page which makes it easier for the teacher to know which GitHub accounts is linked to which student ID.

The students will be added to the Organization as `outside_members` through the assignments t

[2018-03-08 18:05] leskat47 commented on #664
Thank you, @Kadaaran!!

[2018-03-09 07:31] dfitiskin commented on #1302
But she is only assistant for checking assignments. And she is freelancer. It is bad idea to set her account as owner of organization.

Is classroom only allow adding teachers from Organization Owners list?

[2018-03-09 18:32] rituparna89 commented on #286
I was able to do it by using the ruby code at
http://tagomoris.hatenablog.com/entry/2015/03/04/180252
and it worked like a charm

[2018-03-12 10:14] Kadaaran commented on #1302
Hi @dfitiskin , sorry for the delay.

Yes it is. You can only add administrators in Classroom if they are owners.

[2018-03-13 00:33] cindyanorris opened #1303 "assignment repository web page "next" (page 2, 3, ...) buttons don't work"
I'm unable to get to the second, third, etc page of classroom assignment repositories.  Clicking on next or manually changing the URL doesn't work.  It only returns the first page.

![page1](https://user-images.githubusercontent.com/6600260/37316186-100d7a2e-2634-11e8-83df-420f3feca9d5.png)
![page2](https://user-images.githubusercontent.com/6600260/37316187-101ffac8-2634-11e8-9ee1-a3f04ea424a6.png

[2018-03-13 13:59] Kadaaran commented on #1301
All good now 👍

[2018-03-13 14:30] Kadaaran commented on #1229
Hi @mfk2909 👋

We recently merged the PR #1254 that should fix this issue 🚀
Thank you for your patience.

[2018-03-13 14:32] Kadaaran commented on #1216
Hi @drbeco  👋

We finally merged the PR #1254 that should fix this issue 🚀
Next one will be #1274

Thank you for again your patience !

[2018-03-13 14:33] Kadaaran commented on #1273
Hi @emanMarcu 👋

We recently merged the PR #1254 that should fix this issue 🚀
Thank you for your patience.

[2018-03-13 14:34] Kadaaran commented on #1139
Hi evryone 👋

We recently merged the PR #1254 that should fix this issue 🚀
Thank you for your patience.

[2018-03-13 15:56] Kadaaran commented on #1303
Hi @cindyanorris 👋 First thank you for reporting this issue.

Unfortunately for now after trying a few times, I can't reproduce your issue on my end.
Did it happen suddenly or did you already have this issue before ?

As soon as I can reproduce it I'll fix it.
Thank you for your patience.

[2018-03-13 16:05] Kadaaran commented on #1295
Hi @majid169 👋
Sorry for the delay.

About your issue, only students can create teams when accepting the assignment.

We recently merges #1254, now if your students leave teams on GitHub, Classroom will update all the informations.

Hope it helps, thank you again for your patience !

[2018-03-13 16:12] Kadaaran commented on #1264
Hi @alsuhr 👋
Sorry for the delay.

We recently merged the PR #1254
If a student leaves a team Classroom now updates the team and removes the student. Then the user can re-accept the assignment and join another team.

I hope it solves your issue 🙏
Thank you for your patience !

[2018-03-13 16:15] Kadaaran commented on #1240
Hi @pmantini 👋
Sorry for the delay !

A quick fix would be to go on the `settings` page of your Organization and to remove the Classroom's webhook used for your Organization, then to try again.
It should work and create a new webhook.

[2018-03-13 16:59] Kadaaran commented on #1266
Hi @jinchenxiangdan , sorry for the delay.

Unfortunately I can't reproduce this bug on my side...
But I will fix it as soon as I can reproduce it.

I'll keep you updated. Thank you for your patience 🙏

[2018-03-13 17:06] Kadaaran opened #1304 "Changelog for Classroom"
Hi everyone 👋

For now we are keeping the community updated through [forums](https://education.github.community/c/github-classroom) and the [issues](https://github.com/education/classroom/issues) on GitHub.
It would be great to have a `changelog` in Classroom (thanks @johndbritton  👋) to keep the community updated about new updates, bug fixes and new features on Classroom ✨

The first version will

[2018-03-13 18:07] Kadaaran commented on #1285
Hi @mfagan451 👋
Sorry for the delay !

I've been trying to reproduce your issue on my side but I am unable to do so...
I will fix it as soon as I can reproduce it.

Can you give me the assignment name so I can check if the admin rights are set ?

Thank you.

[2018-03-14 08:06] volltin opened #1306 "Lost admin access to created repository"
After assignment has been created, I carelessly deleted the created team (only my own account) from settings of the created repository. Now I can't delete the existing repository (because the team has no access to that repository) or recreate a new one (because I had created one).

[2018-03-14 09:30] trondaal opened #1307 "Buggy paging mechanism?"
I am using github classroom for a course with a large number of groups, but it seems like the paging mechanism for browsing the groups is bugged. I have around 50 groups for each assignment which is presented on 3 pages, but the page numbers at the bottom always give the first page and so does the button for browsing...

[2018-03-14 09:45] Kadaaran commented on #1307
Hi @trondaal 👋
Your issues is a duplicate of #1303

I'll close this one and invite you to go to the other one to talk about the issue, thanks a lot !

[2018-03-14 09:45] #1307 closed

[2018-03-14 12:02] Kadaaran commented on #1306
Hi @volltin  👋
Did you remove yourself from the team or did you delete the team itself ?

[2018-03-14 12:15] Kadaaran opened #1308 "Bad credentials when running RSPEC"
Thanks to @d12 👋for this one.

I was getting `401 - Bad credentials` all over again and again, it seems that it comes from this line.

https://github.com/education/classroom/blob/a0f29d2742e315f7e093dd2270b1e28d98d2119a/app/models/organization.rb#L39

When running test we might use the token of a test account whom do not have rights over the `organization` which results with `401 - Bad credentials

[2018-03-14 12:29] markpolyak commented on #1148
I have the same issue here as well. Currently I have a course with a single assignment and about 40 students already accepted the invite link and tried to import the repository. Today a 4th student had issues with importing the repo when it turned out to be empty. So in my case 10% of students get stuck because of GitHub Classroom assignment import malfunctioning during the last 3 weeks.

The solu

[2018-03-14 12:46] markpolyak commented on #1291
I had the same issue when I tried to download the rooster a couple of weeks ago. I can confirm that now the "Download" button on "Rooster management" page downloads a CSV file with all students, not just 20 shown on the web page.

[2018-03-14 13:23] #1291 closed

[2018-03-14 13:30] robertcduvall opened #1310 "Suggestion: Roster downloads should include GitHub IDs"
In addition to including the GitHub account and name for each student in the roster, please include their GitHub ID since both of those fields can be changed during the class by the student.

Note, this suggestion actually came from John B during our conversation about the roster in general.

[2018-03-14 14:16] gchallen commented on #1148
Yes, this is a well-known problem and biting a bunch of us that are using Classroom.

I may break down and write a small cron-type script to just find empty repos matching a pattern and delete them. Unfortunately due to (AFAICT unfounded) FERPA fears we don't have a strong linkage between repository and student identity—students eventually commit an email.txt file containing their student ID. So i

[2018-03-14 14:50] Kadaaran commented on #1148
Hi there 👋

I've been trying to reproduce this issue on my side so I can write a fix.
Unfortunately I still can't ...
I'm trying to find another way by trying different things on the setup.

@gchallen do you have an exemple of an empty repo to give me so I try to check the status ?

[2018-03-14 16:51] volltin commented on #1306
I deleted the team itself. Maybe removing myself from the team will cause the same problem.
Actually the behaviors are expected. But adding a "recover access to my assignments" or "forbidding making the assignment repository without admin access" is better.

[2018-03-14 17:49] Kadaaran commented on #1306
Actually no it will not.
Removing yourself from the team would have let you join another one right away.

Now in Classroom we still have a record of you in the team linked to the repository.
I'm going to find a solution and I'll come back to you when I'll have one, thank you for your patience 🙏

[2018-03-15 13:35] rainywang opened #1311 "Error when entering an assignment"
I use GitHub classroom service for my course. I have already set up several assignment, but when I click one of the assignments, it takes long time to wait and finally enters a page showing "500 Internal server error. We're sorry, but something went wrong. Try going back to classroom dashboard".

But for my other assignment, it has no such error. I can enter and change the settings.

Can I get hel

[2018-03-15 13:55] Kadaaran commented on #1311
Hi @rainywang 👋 Thank you for reporting this issue.

Can you give me the name of the assignment so I can take a look ?

[2018-03-15 14:27] rainywang commented on #1311
Hi Kassandre, thank you for attention! The assignment is Lab2: ADT and OOP (https://classroom.github.com/classrooms/35315614-software-construction-for-spring-2018/assignments/Lab2)

                            Zhongjie Wang

                                    邮箱：rainy.wang@gmail.com

签名由 网易邮箱大师 定制
On 03/15/2018 21:55, Kassandre Pedro wrote: Hi @rainywang 👋 Thank you for reporting this issue.
Can

[2018-03-16 14:54] ashleytqy commented on #1310
Hi! Can I help out with this if it hasn't been worked on yet?

[2018-03-16 15:10] Kadaaran commented on #1310
@ashleytqy Not yet, go for it 🚀

[2018-03-16 17:29] Kadaaran commented on #1148
Hi @mfagan451 @markpolyak @eblanton I'm actually digging into it do you have the name of the assignment (and student login) who had empty repos so I can take a look ?

[2018-03-16 22:26] Kadaaran commented on #1306
Hi @volltin I've been digging into it.
Just a few questions: how were you able to delete the entire team as you are not a teacher in the classroom ?

[2018-03-17 01:35] markpolyak commented on #1148
Hi @Kadaaran

Please, note that the following repositories are private, but I can manually make them public if it will help you in any way.

1. This is the repository we had problems with a few days ago on March 14th: https://github.com/k43guap/os-task1-ALLZsaz
I deleted empty repository and the same student was able to successfully import it on a second attempt. So it is not empty now. Strange th

[2018-03-18 11:59] volltin commented on #1306
I clicked the revoke button on `https://github.com/<my-classroom>/<my-repo>/settings/collaboration`. Before that my team's role was 'admin'.
I think I'm not set as a teacher. Because my teacher can recover my access while I can't do that.

[2018-03-19 09:47] Kadaaran commented on #1301
Not fixed, it still happens randomly.

[2018-03-19 09:53] Kadaaran commented on #1301
I found out that I have to run `docker-compose stop` before `script/server` so it can relaunch the containers without any bugs.

I added a `sleep 5` just before the database setup, otherwise  PG tries to connect when the database is not all set yet.

https://github.com/education/classroom/blob/db93001fa86d84efa65a6ccca59645eceef4af46/script/setup#L17

[2018-03-19 10:47] Kadaaran commented on #1148
Hi @markpolyak 👋
I see 🤔Thank you for all the informations !

In order to write a fix I need to check the import status of an empty repo. If you encounter again an empty repository could you tell me so I can quickly check what happened ?

Thank you !

[2018-03-19 11:59] Kadaaran commented on #1306
I see !
You did not delete the team actually, just removed the teams access to the repo :)

Your teacher can add your team back to the repo via GitHub and it should work again and won't have an impact on Classroom.

[2018-03-19 12:37] hybrid-web opened #1313 "All Classroom repos are bringing up a 404 error"
Nevermind. I'm logged in to the wrong account, but can still see the classroom. I didn't think that would be possible.

[2018-03-19 12:47] d12 commented on #1313
Hey @hybrid-web ! This happens because GitHub Classroom and GitHub.com maintain your logged-in user separately for technical reasons. Glad you got this sorted :)

[2018-03-19 12:47] #1313 closed

[2018-03-19 13:28] #1271 closed

[2018-03-19 13:36] Kadaaran commented on #1310
Thank you @robertcduvall for opening this issue 🙏, thanks @ashleytqy for the PR 👏

[2018-03-19 13:36] #1310 closed

[2018-03-20 05:12] nlazaridis opened #1315 "Validation failed: Title is too long (maximum is 60 characters)"
Hello there,
I'm trying to set up a new classroom for the second organization called aLIS-UWA (Department of Archives, Libraries and Information Systems @ University of West Attica, Greece) and receive the message "Validation failed: Title is too long (maximum is 60 characters)" with no further steps to follow. How can we fix that?

[2018-03-20 15:07] Kadaaran commented on #1315
Hi @nlazaridis ,
Your Classroom name is way too long, just make it shorter and it should work 👍

[2018-03-21 00:18] fjorgemota commented on #1205
Hi, i'm seeing this bug on a class.

Basically, the base repository has 704 commits. But Classroom only detects 660, and I think that your description is a good reason for the wrong commit count.

Shouldn't this issue be open?

[2018-03-21 08:34] sfikas opened #1316 "Next page button doesn't work on group assignments"
The 'next page' button takes me back to the same page.
The list is a set of group assignments:
https://classroom.github.com/classrooms/23520047/group-assignments/psee-heim-2017-2i-seira-askiseon

[2018-03-21 17:18] Kadaaran commented on #1316
Hi @sfikas thank you for reporting this issue.
Yours is a duplicate of #1303 I invite you to go there for more informations thank you 🙏

[2018-03-21 17:18] #1316 closed

[2018-03-21 17:46] #1315 closed

[2018-03-21 17:47] Kadaaran commented on #1256
Merged #1274

[2018-03-21 17:47] #1256 closed

[2018-03-21 17:47] Kadaaran commented on #1243
Merged #1251

[2018-03-21 17:47] #1243 closed

[2018-03-21 17:48] #1225 closed

[2018-03-21 17:48] Kadaaran commented on #1229
Merged #1274 & #1254

[2018-03-21 17:48] #1229 closed

[2018-03-21 17:49] Kadaaran commented on #1216
Merged #1274 & #1254

[2018-03-21 17:49] #1216 closed

[2018-03-21 17:51] Kadaaran commented on #1273
Merged #1254 & #1274

[2018-03-21 17:51] #1273 closed

[2018-03-21 17:55] #1240 closed

[2018-03-22 03:49] drbeco commented on #1216
Great news, thank you and all the team for the effort.

[2018-03-22 10:00] csorbakristof commented on #377
Hi everyone! Is this issue still in the deep waiting list? In autumn, we plan to start using classroom with some 200+ student courses (or even an 800+ undergraduate course), but I am afraid to do so if my approval is not required for creating a repository and assign students. As mentioned before, with an offending repository name, a student can get the whole organization automatically locked out,

[2018-03-22 11:19] sfikas commented on #1303
Hi, I'm having the same problem.

The 'next page' button takes me back to the same page.
The list is a set of *group* assignments:
https://classroom.github.com/classrooms/23520047/group-assignments/psee-heim-2017-2i-seira-askiseon

I see the problem for @cindyanorris 's list is also with a list of *group* assignments, this likely makes the difference (?)

[2018-03-22 15:47] Kadaaran opened #1319 "Admin list in Classroom settings"
## Feature Request

**What happens now**:  Classroom is not fully synchronised with GitHub, teachers can't track who has admin access on Classroom or not.
Ex: An `organization` has 2 owners on GitHub, but only one of them signed in into Classroom. Classroom tells us that the `organization` has only one member.

Even if we keep track of whom is no longer part of an organization because we merged #1

[2018-03-23 15:29] #1301 closed

[2018-03-23 15:47] Kadaaran commented on #1311
Hi @rainywang 👋
Just to keep you updated, we are currently working on a fix.

Thank you for your patience.

[2018-03-23 17:02] Kadaaran commented on #1303
Hi @sfikas
Yes it does you're right it's only on _group assignments_ !

I started to dig more into it but I'm still not able to reproduce the issue on my end in dev 😞

[2018-03-23 17:50] gchallen commented on #1148
Thanks @Kadaaran! I'll let you know the next time this happens. Usually students complain quickly and I fix the problem quickly. But I may see if I can get my large course staff to stress test things a bit, since they won't care if the clone doesn't work.

[2018-03-23 23:41] Kadaaran commented on #1148
Hi @gchallen 👋
I'm actually on a fix, I don't know how long it will take but I'm doing my best 💪

[2018-03-24 00:27] ProfDema opened #1322 "Unable to navigate assignment pages"
I have a github classroom assignment.
Page 1 is here:
https://classroom.github.com/classrooms/34876003-utmcsc301/group-assignments/a3?page=1
Although there are three pages reported, I am unable to visit pages 2 and 3

Thank you.

[2018-03-24 00:45] aaossa opened #1323 "New repositories without issues or wikis"
Hi! I was wondering if we could set the assignment repositories to be created without issues or wikis 🤔 Both are opt-out options in each repository settings, but given that new repositories are created dinamically, we can't change that configuration in each repository manually. Could these be opt-out options in our assignment settings? Thanks!

[2018-03-24 10:10] sfikas opened #1324 "Option to view all assignment submissions"
It would be useful to have a button to view all submissions for an assignment in one page.

[2018-03-25 15:38] bvelez opened #1325 "Can move farther than first page in an assignment"
Classroom: UPRM-CIIC4010-S18 Advanced Programming
Assignment: MineSweeper

I cannot go beyond the first page of assignemnt:
https://classroom.github.com/classrooms/36892910-uprm-ciic4010-s18-advanced-programming/group-assignments/minesweeper

-Bienve

[2018-03-26 09:42] Kadaaran commented on #1322
Hi @ProfDema , your issues is a duplicate of #1303
I invite you to go there to be updated about it. Thank you.

[2018-03-26 09:42] #1322 closed

[2018-03-26 09:43] Kadaaran commented on #1325
Hi @bvelez , your issues is a duplicate of #1303
I invite you to go there to be updated about it. Thank you !

[2018-03-26 09:43] #1325 closed

[2018-03-26 09:46] Kadaaran commented on #1324
Hi @sfikas 👋

The submissions are all paginated because in the case of an assignment with a lot of submissions (300 for example) it will take to much time for the request to be done and the result to render.

[2018-03-26 11:02] gchallen commented on #1148
Glad to hear it @Kadaaran! In the mean time, here's an example of broken repository creation: https://github.com/cs125-illinois-students/MP5-chenminni1113. FWIW I will need to fix this by mid-day, so if you can't look at it by then it will be gone. Sorry for the fast turnaround, but my students have an assignment due today.

[2018-03-26 11:59] sfikas commented on #1324
Is it possible then to have an option to choose the number of submissions to appear on a single page?

On its present state, it's also difficult to search for a specific submission. For example, I've got 80 participants on my course. If I want to look for the current state of submission of user, say, "george", I have to go through all 4 pages and hit Ctrl+F.

[2018-03-26 12:51] Kadaaran commented on #1148
Hi @gchallen thank you I was able to check ! 🙌

[2018-03-26 13:30] Kadaaran commented on #1324
Wouldn't a search bar or filters be more useful to your use case ? 🤔

This PR #1182 adds filters (student id, student name, repo name etc) in submissions so the search becomes easier.

[2018-03-26 13:31] gchallen commented on #1148
OK great! @Kadaaran: can I clear these now? (Just had another one. Ugh.)

[2018-03-26 14:28] Kadaaran commented on #1303
Hi everyone 👋
I *finally* found what causes this issue and I'm working on a fix right away.

Thank you for your patience 🙏

[2018-03-26 17:24] sapu76 opened #1328 "doocuments server is not loaded"
<doc>server load</doc>
<h1>front load</h1>
<code>203.168.01.1:3423</code>

[2018-03-26 17:37] sapu76 commented on #1328
<code>203.168.01.1:3423</code>
db:reset tmp:clear
echo ====> setting up
db:restart  ad:file paths new

[2018-03-27 17:18] BU-AWolfe commented on #1270
What's the problem with students working on master?

[2018-03-27 17:45] BU-AWolfe opened #1330 "Accepting Classroom Assignment requires students grant access to all their orgs"
From a student:

At BU Metropolitan College, our mandate is teaching part-time, non-residential adult students.  In our Master's programs, students are largely active professionals who want to deepen their knowledge of computer science and IT.  Many, like this student, have other GitHub accounts.  Some have accounts they use for contributing to open-source projects.

_Asking my students to expose

[2018-03-27 20:39] eblanton commented on #1148
Interestingly, I haven't had an empty repo come up since that request, and I released a new project last week.  I'm glad progress is being made.

[2018-03-28 09:13] mir-ch commented on #1270
？

在 2018-03-28 00:18:16，"Andrew D Wolfe Jr, MSCS" <notifications@github.com> 写道：

What's the problem with students working on master?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-28 17:27] gchallen commented on #1148
@Kadaaran: is Ethan's report good luck or were changes made?

[2018-03-28 22:20] Kadaaran commented on #1148
@gchallen Good luck sorry 🙇 I'll let you know as soon as the PR is made.

[2018-03-28 23:19] Kadaaran commented on #1303
Hello everyone,

Just to let you know that the fix is now merged and the issue should be fixed 🎉

[2018-03-28 23:19] #1303 closed

[2018-03-29 08:29] sfikas commented on #1303
It works, thanks!

[2018-03-29 08:30] sfikas commented on #1324
Yes, #1182 sounds quite appropriate to me.. thanks!

[2018-03-29 08:30] #1324 closed

[2018-03-29 11:46] jakethesnnake opened #1332 "Trying to recover deleted repository"
I was having trouble with my GitHub project (because the README was the only file attached, instead of the two solutions), so I  to delete it/leave the project. I then attempted open the invitation again, hoping that it would open a new project that was unmodified and fit the assignment criteria. FYI, I am cloning the url to Visual Studio for a school project.

Instead of my actions solving the pr

[2018-03-29 14:22] Kadaaran commented on #1332
Hi @jakethesnnake 👋

You should be alright now, can you retry to accept the assignment and keep me updated about it ?

Thanks a lot !

[2018-03-29 15:12] Kadaaran commented on #1269
Merged 🚀

[2018-03-29 15:12] #1269 closed

[2018-03-29 15:24] jakethesnnake commented on #1332
You are a lifesaver, thank you so much!

[2018-03-29 15:24] #1332 closed

[2018-03-29 17:28] jakethesnnake commented on #1332
Yes i greatly appreciate the help

Sent from my iPhone

On Mar 29, 2018, at 9:22 AM, Kassandre Pedro <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @jakethesnnake<https://github.com/jakethesnnake> 👋

You should be alright now, can you retry to accept the assignment and keep me updated about it ?

Thanks a lot !

—
You are receiving this because you were mentioned.
Reply to

[2018-03-30 07:35] parthh98 opened #1333 "bug report"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
_I tried to create a new assignment ..._

#### What happened (include screenshot if you can) ?
_The assignment was not created ..._

#### Step-by-step reproduction instructions
Please provide as much explanations as you can, reproduce a bug is the first step to write a fix :raised_hands:

##
### Featu

[2018-03-30 11:41] Kadaaran commented on #1333
Hi @parthh98 is your issue the same as the template ? Can your provide more informations ? Thank you !

[2018-03-30 21:47] johndbritton commented on #1319
@Kadaaran For the implementation, would removing a classroom administrator also remove the user as an owner of the GitHub organization?

[2018-03-30 23:15] Kadaaran commented on #1319
@johndbritton No it just removes access on Classroom side.
But a few weeks ago we merged a PR that gets the event of when an owner leaves an org so we can update the org in Classroom as well.

[2018-03-30 23:15] #1319 closed

[2018-04-03 18:49] malloc82 opened #1338 "Assignment from branch instead of repo"
### Feature request :sparkles:
Is it possible to have an option to create assignment from one branch of the original repository instead of copying the whole repository? Or an option to hide certain branch.

[2018-04-05 00:17] professordaehn opened #1339 "After accepting assignment, repo not fully created; restart failed"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
_One of my students was trying to get started on an assignment. She accepted the assignment with the link I provided, the process kicked off but never completed. The name of the assignment appeared in her GitHub account list of repos, but when she tried to follow the link (so she could subsequently cl

[2018-04-05 12:49] #1267 closed

[2018-04-05 12:49] #1244 closed

[2018-04-05 16:26] Kadaaran commented on #1339
Hi @professordaehn , your issues is a duplicate of #1148 , I invite you to go there to be updated about it thank you for your patience !

[2018-04-05 16:26] #1339 closed

[2018-04-05 17:07] potash opened #1340 ""Cannot retrieve this organizations repo plan, please reauthenticate your token.""
### Issue
#### What you were trying to do ?
My students are trying to accept an assignment

#### What happened (include screenshot if you can) ?
They get the error "cannot retrieve this organizations repo plan, please reauthenticate your token."

#### Step-by-step reproduction instructions
Visit accept assignment link (e.g. https://classroom.github.com/a/ea-FaLox)

Sometimes it is fixed if a stude

[2018-04-06 15:31] Kadaaran commented on #1340
Hi @potash , your issues is a duplicate of #664 , I invite you to go there to be updated about it.

Just to let you know, this issue appears when an owner has been removed from your organization in GitHub but not in Classroom but we recently merged a fix to this issue 👍

I invite you to check if the owners of your organization are the same than your administrators in GitHub Classroom.
If it's not

[2018-04-06 15:31] #1340 closed

[2018-04-06 16:11] Kadaaran commented on #1323
Hi @aaossa 👋
Sorry for getting back to you so late 🙏

Soo I checked the [API](https://developer.github.com/v3/repos/#create) and I _think_ indeed we can try something to make it happen in the repository settings 👍

[2018-04-06 16:14] Kadaaran commented on #1338
Hi @malloc82 , I believe your issue is a duplicate of #1270, I invite you to go there to be updated or to talk about it.

[2018-04-06 16:14] #1338 closed

[2018-04-06 18:57] aaossa commented on #1323
Can I collaborate with a PR? Where could this be added? LEt me know if I can help

[2018-04-06 21:57] Kadaaran commented on #1323
@aaossa Sure go ahead ! 🚀
You need to figure out how to pass parameters when creating a new repository based on the parameters from the [repository calls from the API](https://developer.github.com/v3/repos/#create)
Here what we need is to create boolean fields for `issues` and `wikis`
Then maybe add new fields in the database like we did for `private` or `public` repositories in assignments but fo

[2018-04-08 19:37] sethb157 commented on #1193
Hi! I want to start contributing to Classroom, and I figured this might be a good place to start. I've been looking at the code--seems like the JavaScript this is relying on is acting a bit interesting across pages. Was wondering if there's someone I can send a few questions to. @mozzadrella, could you point me to the right person? Thanks!

[2018-04-08 20:03] Kadaaran commented on #1193
Hi @sethb157 👋
Awesome ! Feel free to ask me any questions I'll try so answer to all of them 💪

[2018-04-08 23:46] jmcda001 opened #1341 "Error resetting classroom"
Please choose either _issue_

##
### Issue
#### What you were trying to do ?
I tried to reset the classroom. It said it was in the process of resetting.

#### What happened (include screenshot if you can) ?
The classroom was removed from my list of classrooms, but it wasn't fully reset. As can be seen in attached screenshots, the organization still has all members and repos, I can't add a classroo

[2018-04-09 12:32] Kadaaran commented on #1341
Hi @jmcda001 👋
Thank you for opening this issue.

Can you go in your organization settings and revoke access to Classroom.
Then you should be able to recreate a classroom and it will initiate a new token when you will authorize Classroom again in your Organization.

Can you keep me updated about it and tell me if it worked ? Thank you 🙏

[2018-04-09 15:25] Kadaaran commented on #1341
@jmcda001 We checked why some repositories are still available.
It seems that your students transferred their repositories to themselves therefore we can't delete them (if you enabled admin access in the assignment then they have admin access on those repositories)

[2018-04-09 17:49] jmcda001 commented on #1341
@Kadaaran Thank you for the assistance! I was able to get a new classroom set up by revoking access and re-adding it. I still have those other repositories, but I suppose I will have to manually go through and remove them.

[2018-04-09 20:27] sethb157 commented on #1193
Ok awesome! There are two places where the All Students/Unlinked Students tabs show up: once on the Assignment Detail view and once in the Roster Management view. The way things work now, the two are connected. That is, the following happens: 1) Start on Assignment Detail view, with All Students tab open 2) Go to Roster Management view, click on Unlinked Students tab 3) Go back to Assignment Detai

[2018-04-09 20:30] sethb157 commented on #1193
If you need more clarification, please let me know!

[2018-04-10 05:40] alhvi commented on #595
I'm also interested on this feature

[2018-04-10 06:59] sjimi opened #1342 "Fix assignments created for wrong organization"
## Fix assignments created for wrong organization
### Issue
#### What you were trying to do ?
I have two organizations, let's call them A & B. Both of these organizations have the same assignment (same repository name) which start from the same starter code. I send out links to the candidates for organization A so they can start their assignment for organization A.

#### What happened (include scr

[2018-04-10 09:24] sfikas opened #1343 "Grading of assignments"
### Feature request :sparkles:
_Please provide a description of the feature you would like Classroom to have_

It would be useful to have an option to grade assignments.
For example, once the deadline is over, the instructor would be able to fill-in a 'grade' cell next that would appear next to each submitted assignment.

[2018-04-10 12:03] Kadaaran commented on #1343
Hi @sfikas 👋

Then I think the grade should not be editable.
Teachers keep grades in their LMS if I'm correct, wouldn't be an issue to have two grades at different places ? 🤔

[2018-04-10 12:17] sfikas commented on #1343
Hi Kadaaran!

I don't think everyone uses specialized software to keep track of grades. Most instructors (the ones *I* know at least), me included, just use an excel sheet to do that ;)

But even if grades were saved somewhere else - LMS or excel sheet or whatever - I think it would be a useful feature.

[2018-04-10 22:06] hdiep2015 opened #1344 "Creating a team containing the word "null" such as "NullPointer" or "Team NullPointer" results in weird issues."
### Issue
#### What you were trying to do ?
I tried to create a team for my group project containing the word "null"...

#### What happened (include screenshot if you can) ?
For the following words containing "Null" I got the following responses:

1. NullPointer -- "Team: Name has already been taken"
2. Team NullPointer -- "Team: Name has already been taken"
3. NullRef -- "You are forbidden from p

[2018-04-11 18:48] Kadaaran commented on #1193
@sethb157 Oops. The expected behaviour is that the two paginations should work independently from each other.

What happens is that in the view, the Javascript we load is the roster one
https://github.com/education/classroom/blob/4346984e6ca87e555329777b3df0e9ff926ab015/app/views/assignments/show.html.erb#L96

That's why I _think_ the targeted tabs are the same no matter page you change. One solut

[2018-04-11 18:58] Kadaaran commented on #1342
Hi @sjimi 👋

Thank you for opening this issue.
I just need some precisions here:

Create two assignments using the above repositories as starter code. >

These two explanations are very different and don't act the same way.

If I get it, you have:
- Repository w/ starter code S (it could be anywhere in A, B or even in your own account)
- Organization A
- Organization B

Did you use `S` as a starte

[2018-04-11 19:36] Kadaaran commented on #1344
Hi @hdiep2015 👋

I checked and it seems that the teams already exists:
<img width="297" alt="screen shot 2018-04-11 at 21 08 31" src="https://user-images.githubusercontent.com/11220823/38637821-9b9f662e-3dcc-11e8-9e9f-616adfdb9f05.png">
The error messages were accurate.

The thing is that the teams have no students so we deleted them and you should be alright 👍

Keep me updated if it worked or not

[2018-04-11 23:01] hdiep2015 commented on #1344
I can't test it out as I'm a student and I've already made another team. I didn't know teams were global to all classrooms. Thanks!

[2018-04-12 00:07] sethb157 commented on #1193
@Kadaaran Ok, great. I didn't think that was expected behavior but just wanted to make sure. I'll get working on this. One last thing, what type of tests would you expect for this issue? I could potentially see both integration or view specs working here.

[2018-04-12 09:40] Kadaaran commented on #1344
No they're not, they already existed on the assignment but were just empty. Thanks!

[2018-04-12 09:40] #1344 closed

[2018-04-12 15:12] sjimi commented on #1342
Hi @Kadaaran!

Sorry my explanation isn't thorough enough indeed!

Let me try to recap.

For organization A:
* I create repository Sa which holds the starter code for the assignment I will create for organization A.
* I create technical assignment Aa for organization a with Sa as starter code.

For organization B:
* I create repository Bs which holds the starter code for the assignment I will crea

[2018-04-12 15:51] Kadaaran commented on #1193
@sethb157 Yeah that would be great but we don't have Capybara for now 😞
We are going to update the app to Rails `5.2` (integration tests with Capybara are built in 🎉)

In the meantime, you can start to work on it, open a PR (even if it's WIP )and then as soon as we update to 5.2 then you could start the test with Capybara.

Would that work on your end ?

[2018-04-12 16:04] Kadaaran commented on #1342
Hi @sjimi 👋
Thank you for the explanations ! Yes it is hard to reproduce indeed 🤔

Did you reset the repositories ? Is there still repositories in the wrong organizations so I can quickly take a look ?

[2018-04-12 17:42] Kadaaran commented on #1342
No worries ! I was just asking if by any chance you did not removed them but you were right to do so !

In the meantime, I'm letting this one open and if it ever happen again please tell me so I can try to check quickly what happened 👍

[2018-04-12 17:44] Kadaaran commented on #1343
Hi @sfikas 👋

I think it's a good idea but if I may, I think it's important to know which teacher gave the grade so we can display the name of the teacher next to the grade like for example:

`Grade: 80 given by Kadaaran`

[2018-04-14 03:38] quiltykim opened #1347 "running script/bootstrap script results in error"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
_I tried to run script/bootstrap ..._

#### What happened (include screenshot if you can) ?
_I got the following error: ..._

~/classroom/lib/docker_compose/parser.rb:50:in `service_attributes': undefined method `[]' for nil:NilClass (NoMethodError)
	from ~/classroom/lib/docker_compose/parser.rb:38:in

[2018-04-14 16:59] quiltykim opened #1348 "running script/bootstrap results in error and script stops"
##
### Issue
#### What you were trying to do ?
_I tried to run script/bootstrap on macos_

#### What happened (include screenshot if you can) ?
_Received "Error: Unknown command: bootstrap-rbenv-ruby"_

#### Step-by-step reproduction instructions
See above

[2018-04-14 23:56] eblanton commented on #1148
While it may be good luck, it continues.  I've had a couple hundred clones (I'm not sure how many, but somewhere between 200 and 300) since the last student complaint.

[2018-04-15 10:25] Kadaaran commented on #1348
Hi @quiltykim 👋

Why were you trying to run `script/bootstrap` on itself ? 🤔
To run the app you just need to run `script/setup` then `script/server` , does it work on your end ?

Thanks !

[2018-04-15 17:41] quiltykim commented on #1348
Hi @Kadaaran 👋

Thanks for the response. I actually found out about this repo through this lecture: https://youtu.be/NrEdRi4U2Zk?t=278  and I suppose I took John's advice about "the only prerequisite [being] docker" too literally and ran `script/bootstrap` without consulting the readme.

But yes, running `script/setup` followed by `script/server` got me to where I need to be on macos just fine.

O

[2018-04-15 17:41] #1348 closed

[2018-04-18 12:14] fjorgemota opened #1350 "Allow download of CSV containing an association between team and roster data from it's members"
##
### Feature request :sparkles:

Hey! Here i'm again..

Actually, I do not see a great integration between rosters and the teams created for a group assignment. So I'm suggesting I feature that I think it would be helpful (not only for me, but for other teachers, too): provide a link to download a CSV (or spreadsheet) on the following format (it's just a suggestion, by the way):

| Group Name |

[2018-04-18 15:57] Kadaaran commented on #1347
Hi @quiltykim do you still have this issue ? Can I help ?

[2018-04-18 19:50] Kadaaran commented on #1350
Hi @fjorgemota 👋
No worries, the community's feedback is what makes Classroom better and better ✨

I don't see why not it's a great idea 👍

I agree on this point, there is no need for it on Assignment (imo 😄)

[2018-04-18 20:14] Kadaaran commented on #1341
Perfect ✨ I consider this on as closed for now then 👍

[2018-04-18 20:14] #1341 closed

[2018-04-19 11:54] Kadaaran commented on #1253
### What exactly is happens
### After a few research here's what I suggest:

With @johndbritton's help , based on talks with @tarebyte and some research I've come to this new design:

<img width="518" alt="screen shot 2018-04-12 at 18 04 02" src="https://user-images.githubusercontent.com/11220823/38989006-9622d186-43d5-11e8-94ca-3c9b2a7207df.png">

I was inspired by the [education-web](https://git

[2018-04-19 12:16] Kadaaran commented on #1253
### What exactly happens

This bug is happening because of the way the action are ordered and *mainly* because we don't take actions when Porter triggers an `Error`.
We add the student to the repo way **before** the code was imported.

https://github.com/education/classroom/blob/4346984e6ca87e555329777b3df0e9ff926ab015/app/models/assignment_repo/creator.rb#L58-L83

### What I suggest

I was inspir

[2018-04-20 13:47] #1333 closed

[2018-04-22 00:55] sethb157 commented on #1193
@Kadaaran that works for me!

[2018-04-23 06:12] aionutas opened #1352 "Trying to access repository assigned to me"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
Tried to access repository assigned to me
#### What happened (include screenshot if you can) ?

![](https://ci6.googleusercontent.com/proxy/6d44bQcvirDUVgj2E2fqDR-sfAPNctP-hQYlhMQYlaIx_dInAwS_KPGy57EwveEX3dLl6gY0AWT8bY9K5gRvxpFnP9_ui3A8zup9sraRtBhcqceSfVn4WZvHkcSQ2enU9Glw0xqsk9DuzG1UO-g4ZBnMHKhVaVkBiF

[2018-04-23 21:14] Kadaaran commented on #1352
Hi @aionutas 👋

It appears the import of your repository led to an `error`
I deleted the empty repo, you should be able to recreate a new repository just by clicking on the invitation link.

Thank you for your patience 🙏

[2018-04-24 22:15] robwhess commented on #602
I think something like this is a great idea.  I've been using Classroom for a while now, and I have lots of individual classrooms.  Since the list of classrooms doesn't appear to be organized in any way I can discern, it's getting hard for me to locate my current classrooms within the larger list.  Even just having that list split into "active" classrooms and "inactive" classrooms (where I can cha

[2018-04-24 22:17] robwhess commented on #602
As an added note: I use a separate GitHub organization for each course I teach.  This works well for me.  My main hope is to be able to mark classrooms as inactive.

[2018-04-26 21:57] sethb157 commented on #1120
@Kadaaran Quick question, should we be validating the uniqueness of roster_entry identifiers? Currently the app is not, but it seems like it should--having two "John Smith"s with no distinction could be confusing.

[2018-04-26 22:02] sethb157 commented on #1120
![screen shot 2018-04-26 at 3 02 25 pm](https://user-images.githubusercontent.com/4976750/39334287-e2315fe2-4962-11e8-8eea-abbf41a8d0eb.png)

[2018-04-27 16:07] sfikas opened #1353 "Students erroneously show up as having "Not submitted""
##
### Issue
#### What you were trying to do ?
I had created an assignment, of which the deadline passed recently. I wanted to check on the submitted assignments.

#### What happened (include screenshot if you can) ?
Several students show up as having "not submitted", while their repositories include a number of commits.

#### Step-by-step reproduction instructions
Please provide as much explanati

[2018-04-27 19:37] Kadaaran commented on #1120
@sethb157 I wonder if it is actually possible to have 2 identical emails given by the same university ? 🤔 If a Classroom have indeed two `John Smith` how do we deal with it ? 🤔

[2018-04-27 19:52] sethb157 commented on #1120
Hmm... I'm not sure 😬. So maybe the duplicate email thing was a bad example. I do still think this allowed behavior could lend itself to a lot of confusing situations (when a student joins a class and doesn't know which identifier to link to, or for teachers if a grading feature is implemented). In the case of two `John Smith`s, we might want to reject and ask the user to provide unique identifier

[2018-04-29 01:08] ashleytqy commented on #1350
hi! can i help out with this?

[2018-05-04 19:09] BU-AWolfe commented on #847
## MORE FEATURES:
- Folders and hierarchies for student repositories
- compact view with one student repository per line of text
- filter on "overdue" students
- look for pull requests

[2018-05-06 15:41] AkshayAndroid commented on #1144
not able to authorize

[2018-05-08 11:11] sjimi commented on #1342
@Kadaaran aha! We have a reproduction of the issue!

Not sure how best to report it but we have a technical assignment on organization `sweepbright` (https://classroom.github.com/classrooms/37142786-sweepbright/assignments/technical-assignment-back-end-engineer) with a specific link given to people.

When being followed the assignment is being created under another organization `madewithlove` (htt

[2018-05-14 12:54] markpolyak commented on #1148
The issue of empty repos didn't show up for a couple of months, but today one of my students got it again. The empty repository is https://github.com/k43guap/os-task4-Sonnad
I transfered this empty repo to be public (it is private by default) and will keep it for a day. After that I will have to delete it so that student can try to import it again and continue with the task.

I also received an em

[2018-05-14 12:56] markpolyak commented on #1148
Interestingly, this is the same student that already had a problem with an empty repository in February. It may be a coincidence though, because he didn't have problems importing task2 & task3. Empty repos were with task1 and task4.

But after some more thought

[2018-05-14 13:54] swoicik opened #1355 "Issue Importing and Opening Module-1"
##
### Issue
#### What you were trying to do ?
Trying to start Module 1

#### What happened (include screenshot if you can) ?
Error when importing content to repository for Module 1. 404 Error when trying to restart.

![screenshot-classroom github com-2018 05 14-07-00-39](https://user-images.githubusercontent.com/438490/40001667-bd8411f0-575c-11e8-871c-f81182812659.png)
![screenshot-github com-201

[2018-05-14 14:00] gchallen commented on #1148
I do think that student behavior can cause this problem. The screen that Classroom throws up when it's working on the initial clone is a bit confusing in the sense that it seems like it wants to update when it's done but doesn't always. I suspect that sometimes this leads students to hit cancel which somehow can cause this problem.

Given that there's been little movement from GH on this issue, an

[2018-05-14 14:06] eblanton commented on #1148
@gchallen if you're going to go that far, I think you can just flat fix the problem by pushing the source to the empty repository.  I've been fixing failed clones (manually) by simply pushing from my local handout repo.

[2018-05-14 19:26] gchallen commented on #1148
Good point—that would also work.

[2018-05-15 06:39] sauerwald opened #1356 "Link student in rooster to GitHub account"
##Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
I tried to link a student in the classrooster to his github account.

#### What happened (include screenshot if you can) ?
No unlinked github account is shown to select.
![github_rooster](https://user-images.githubusercontent.com/12443233/40040645-998b2c94-580a-11e8-8a06-2fbf0516b8f6.PNG)

#### Step

[2018-05-15 18:27] d12 commented on #1355
Hey @swoicik ,

I think we've sorted this out, would you mind trying to accept the assignment again? It should work this time :)

[2018-05-15 19:30] danwallach commented on #1148
Or one step farther, create all the hundreds of clones at once and just email your students.

[2018-05-16 18:16] joelwross commented on #1148
I've hit this same issue still (though not as frequently as in the past); maybe ~5 times out of 8*150 assignment accepts. My solution is to force-push the starter code to the individual empty repo (takes 10 seconds once the student lets us know the week).

[code]

I don't know what student behavior is causing the problem, though it seems like a check for an empty repo after accepting the assignmen

[2018-05-17 15:17] swoicik commented on #1355
Thank you @d12, it is working properly now.

[2018-05-17 15:17] #1355 closed

[2018-05-17 19:27] drbeco opened #1357 "Unprocessable entity"
Hello guys,

I'm having this problem lately:

![image](https://user-images.githubusercontent.com/5805111/40199180-0ce8c6ca-59ef-11e8-9beb-5efc4256aa2c.png)

I tried login out and in again, to no avail.

Any tips of what is the problem?

Thanks

[2018-05-21 16:57] diegoep commented on #595
+1

[2018-05-23 22:32] sjimi commented on #1342
This problem seems to persist where I have one candidate being able to follow the link and start the assignment and another one is not (because I think he gets linked to a different assignment from a different organization).

[2018-05-27 20:37] #1356 closed

[2018-05-30 17:14] FlyteWizard opened #1358 "Github Classroom Assignment Overview - Not showing correct commits"
## Commits on Assignments
### Issue
#### What you were trying to do ?

I want to be able to log into Github Classrooms and from a glance see who has been committing to their repositories. However, the commits still show initial commits despite them updating their repository.

#### What happened (include screenshot if you can) ?
The commits do not reflect the commits on their repository.

**What Gi

[2018-06-03 20:58] seewise1983 opened #1359 "new day"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
_I tried to create a new assignment ..._

#### What happened (include screenshot if you can) ?
_The assignment was not created ..._

#### Step-by-step reproduction instructions
Please provide as much explanations as you can, reproduce a bug is the first step to write a fix :raised_hands:

##
### Featu

[2018-06-03 21:35] #1359 closed

[2018-06-06 23:13] sfogarty commented on #602
Here is a VERY hacky python script, with no error testing or anything of the sort. Use at your own risk.

[archive_classroom.txt](https://github.com/education/classroom/files/2078437/archive_classroom.txt)

[2018-06-08 03:52] drbeco opened #1361 "help-wanted: gitlab classroom"
##
### Help Wanted :sparkles:

**Dear developers**, it is so great that this project is open source and encourages us to clone it or run our own version of it, for that I can't thank you guys enough. I guess that is the spirit, that is why we do open source the way we do, and the community just grows bigger.

I'm sure this clone at gitlab isn't going to be big, an I just want really if we could ma

[2018-06-08 11:38] drbeco commented on #1361
What Mark said there ( https://gitlab.com/gitlab-org/gitlab-ce/issues/47561 ), I think it would apply here as well.

This post is not a _feature request_ nor an _issue_, so it is ok to close it labeled as _invalid_.

Thanks, and I'm still looking forward to your help.

[2018-06-08 13:44] mozzadrella commented on #1361
@drbeco we welcome development in the wider open ecosystem, but yes, this is not a feature request or a bug for GitHub Classroom. Thanks for using GitHub Classroom to help future developers learn to code.

[2018-06-08 13:44] #1361 closed

[2018-06-08 22:21] sfogarty commented on #602
Also wonderful would be the ability to archive the organization, so that it did not clutter my drop-downs on github.com.

[2018-06-11 04:11] AjitZero commented on #772
This is still a problem. There are no clear directions regarding importing in case of repeated failure.

[2018-06-11 14:48] photoszzt commented on #772
@AjitZero  in that case, you can manually mirror the starter code repo to student's repo yourself. You can follow this instruction: https://help.github.com/articles/duplicating-a-repository/#mirroring-a-repository

[2018-06-11 16:01] d12 commented on #1352
Looks like this has been sorted, please re-open if this comes back up!

[2018-06-11 16:01] #1352 closed

[2018-06-11 17:59] d12 commented on #1350
@ashleytqy Absolutely! Feel free to ping me on a PR if you get this working.

[2018-06-11 18:00] d12 commented on #1357
Hey @drbeco ,

Are you still seeing this issue?

[2018-06-11 18:07] d12 commented on #1311
This is caused by an octokit bug: https://github.com/octokit/octokit.rb/issues/912

[2018-06-11 18:11] d12 commented on #1304
Closed by #1305

[2018-06-11 18:11] #1304 closed

[2018-06-11 18:15] d12 commented on #1224
Hey @gchallen ,

I believe the existing Deadline feature meets your usecase.

When the deadline happens, Classroom grabs the SHA of the latest commit on each of your student's default branches, and saves the reference to that SHA as the submission. This cannot be altered or amended later.

This also doesn't stop students from submitting after the duedate. As long as they don't force-push over the

[2018-06-11 18:15] #1224 closed

[2018-06-11 18:18] d12 commented on #1205
Because of an [Octokit bug](https://github.com/octokit/octokit.rb/issues/912), the contributors endpoint is causing huge perf issues. Lets try to prioritize this work :+1:

[2018-06-11 18:21] ashleytqy commented on #1350
will work on it! sorry for the delay – didn't receive notifications for the thumbs up and this issue slipped my mind

[2018-06-11 18:32] d12 commented on #1350
No worries, and no rush! Thank you for taking this on :)

[2018-06-11 18:37] d12 commented on #861
@drbeco There is now an option in the assignment settings for individual/group assignments to disable the invitation link :)

[2018-06-11 18:37] #861 closed

[2018-06-11 18:39] gchallen commented on #1224
Unfortunately the deadline feature doesn't really meet our needs. For a large class a single deadline is fairly impractical, since there will be a dozen students with exceptions for a variety of reasons. And once you can ascertain when they submitted you've solved the more general problem. But I'm assuming that this is useful for people teaching smaller courses.

Anyway—we solved this problem as d

[2018-06-11 18:56] drbeco commented on #1357
No, it is clear now. I don't know what it was, but it was temporary. After a few retries, it went through. Thnaks a lot!

[2018-06-11 20:11] d12 commented on #1357
Great to hear! If this happens again, please let us know and we'll try to sort it out :)

[2018-06-11 20:11] #1357 closed

[2018-06-11 20:25] joelnw opened #1362 "Modify assignment deadlines in the past"
_issue_

##
### Issue
#### What you were trying to do ?
I tried to modify an assignment's deadline.

#### What happened (include screenshot if you can) ?
I accidentally modified a previous assignment's deadline, and it isn't possible to change the deadline back if the original deadline was in the past.  The instructor should be able to specify any deadline regardless of whether it is in the future

[2018-06-11 20:44] d12 commented on #1362
Hey @joelnw ,

Unfortunately we can't set deadlines in the past or change a deadline to be in the past due to how their implemented.

When a deadline passes, Classroom fetches the sha of each student's default branch and saves that as the submission. If we set a deadline in the past, the only way we could fetch SHAs would be to use Git datetimes, which can be modified and shouldn't be trusted.

Is

[2018-06-11 20:59] joelnw commented on #1362
Ahh yes, I suppose that does make sense.  However, in my case, if the date was accidentally modified, it would still be useful to set this in the past and use the git datetime (even though that shouldn't be trusted) because that is all I would have to go off of now and would end up having to do that manually anyway.

It _may_ be nice to at least allow the date to be set back with a warning to the

[2018-06-12 13:37] fvanwijk commented on #1271
It looks like the student needs 2FA enabled if the owning organisation required 2FA for alle collaborators

[2018-06-13 13:20] d12 commented on #1120
Hey @angrave , @sethb157 , @PandelisZ ,

This got merged into master yesterday :) (#1363)

[2018-06-13 13:20] #1120 closed

[2018-06-13 21:22] srinjoym opened #1365 "Rejected access token owner not kicked out"
Related to https://github.com/education/classroom/issues/1366
Organization owner is not removed from admins after rejecting access token on the Github side and can still browse Classroom without getting kicked out until they log out. We should be logging out the user when they try to navigate to a new page if the access token is invalid.

[2018-06-13 21:41] srinjoym opened #1366 "Deleted owner has access to Classroom until logout"
##
### Issue
Related to https://github.com/education/classroom/issues/1365
If an admin gets deleted from the classroom, they can keep using Classroom until they logout 😬 We should be checking on every page load if the owner still has access to the classroom.

[2018-06-14 00:12] srinjoym commented on #1365
Looks like we already had functionality to check scopes but there's a bug. We only add to the current scopes since we're using `||=` so the current_scopes points to the old scopes even after the user has an invalid token. @tarebyte is there any reason we're doing this?

https://github.com/education/classroom/pull/1367/commits/0c8c2bded86c4a410ae544c3ff428793029b7a6c#diff-1970c1941ce84ff0887a84ebdc

[2018-06-14 14:39] johndbritton commented on #1365
`current_scopes` is used because we need more scopes for org admins than we need for student users.

Can you write a test case that reproduces the bug you're experiencing?

[2018-06-14 14:41] johndbritton commented on #1362
I think a better solution to this issue is implementing multiple deadlines. When a deadline passes it should not be changeable and those shas should be stored permanently and an additional deadline could be created.

[2018-06-14 14:45] joelnw commented on #1362
@johndbritton That would actually be a great feature for more than just this issue.  That would enable multi-part assignments where the instructor could then enforce that certain parts of the assignment should be done at a given datetime.

[2018-06-14 14:51] johndbritton commented on #1362
That's exactly the intention we have and the reason why we set up the single deadline we have now the way it is. This is something we should be able to implement this summer.

[2018-06-15 00:57] jmfarrow commented on #1358
Seeing the same thing. Number of commits seems to reflect a point in time in the past not necessarily the initial setup.

<img width="238" alt="image" src="https://user-images.githubusercontent.com/119180/41445072-5ee5e456-708a-11e8-98c9-14d46df1cfc4.png">

Whereas the actual commits for these groups are 82, 43, 101, 17 and 53.

[2018-06-15 01:13] BenEmdon commented on #1253
Im curious about the Porter error:
* What status code is porter sending back?
* What are the circumstances that cause the failure?

[2018-06-15 04:14] JPMagalhaesCESAR commented on #960
✅

[2018-06-19 01:48] ashleytqy commented on #1350
hey @d12 !

Right now, the `Download` button for rosters is under the roster management page, but this may be problematic if we want to include group names since students can be in different groups for different assignments.

A solution would be having a `Download CSV` (with group names) function live on the assignment page, e.g.:

<img width="1067" alt="screen shot 2018-06-18 at 9 44 56 pm" src="

[2018-06-19 02:03] ashleytqy commented on #1350
a related note: I've created "fake accounts" with [my_email]+test@gmail.com, but have been marked as spam – is there another way to test Classrooms?

[2018-06-20 02:20] mic-max opened #1370 "Editing assignments errors when its starter code repository isn't reselected"
### Issue
#### What you were trying to do ?
I tried to edit an assignment

#### What happened (include screenshot if you can) ?
After pressing "Save changes" without making any changes the error message "Invalid repository name, use the format owner/name." was displayed.
![screenshot of the error](https://i.imgur.com/C9naDwN.png)

#### Step-by-step reproduction instructions
Create an assignment, f

[2018-06-20 04:13] BenEmdon commented on #1370
Hey @mic-max thanks for reporting this!
Looks like this is only happening when you edit assignments that have the character `.` in their name. The `.` doesn't match against the regex here https://github.com/education/classroom/blob/0638f37ce1ebc978926899cb8f64cc2b7fd4e8bf/app/controllers/concerns/starter_code.rb#L12

I can go ahead with a fix.

[2018-06-20 21:46] hubot opened #1373 "Sprockets vulnerable to directory traversal (CVE-2018-3760)"
Heaven detected that sprockets is not < 2.0.0, >= 4.0.0.beta8, ~> 2.12.5, ~> 3.7.2

  Your Gemfile.lock on the master branch currently is 3.7.1.

  Can you folks fix this up? :revolving_hearts:

  /cc https://github.com/github/security/issues/3186

[2018-06-20 22:00] cktricky commented on #1373
I've looked at this repository and while its useful to upgrade the Sprockets gem, the config(s) are set to `config.assets.compile = false` which means this is not exploitable.

[2018-06-21 01:12] #1373 closed

[2018-06-21 01:58] #1370 closed

[2018-06-21 22:03] BenEmdon commented on #1253
I've started tackling this in #1368

[2018-06-24 04:18] CorruptComputer opened #1376 "Active Directory integration for login and user management"
### Feature request :sparkles:
This may already be a feature I missed, but my University uses Active Directory for almost everything students log into. Would it be possible to add support for integration with that to not only sync user accounts, but also control which students would have access to classroom and to give access to instructors?

[2018-06-25 10:54] shivagoud commented on #595
I'd also like to voice support for multiple classrooms per org as well. I am an educator. I have been using classroom in a different way than intended.
- 1 organization and associated classroom has all the assignments.
- All assignments are group assignments
- Everytime a new batch of students join the course, I create a new team for them in the existing assignment.
- Each submission has to be in

[2018-06-25 15:14] d12 commented on #1350
@ashleytqy I'm not sure this option belongs on the group assignment page.

We have a concept of `Groupings`  which is a specific configuration of teams, and Groupings can be shared across multiple group assignments. Perhaps the existing `Download` button could open a modal of some sort where you can specify whether or not you want to group students by teams, and if so, which Grouping to use.

As f

[2018-07-04 00:10] BenEmdon opened #1381 "Improve Sidekiq queue efficiency"
### Feature request :sparkles:
Currently classroom uses sidekiq queues inefficiently.
This is our current queue setup:
https://github.com/education/classroom/blob/4f9db7e412c57ce8aeb328a355b223e0a7254546/config/sidekiq.yml#L7-L14

This is what the Sidekiq docs say about having lots of queues:

  https://github.com/mperham/sidekiq/wiki/Advanced-Options#queues

One way we could improve this would be

[2018-07-04 15:49] d12 commented on #1350
Hey @fjorgemota , this has just shipped. You'll find it under the roster management UI :)

[2018-07-04 15:55] #1350 closed

[2018-07-07 07:57] pattacini opened #1383 "Deadline calendar widget doesn't show up"
### Issue
#### What you were trying to do ?
Setting up the assignment deadline.

#### What happened (include screenshot if you can) ?
The calendar widget does no longer show up when I click within the field. Previously, it was working.

The behavior was firstly reported in this [forum discussion][1].

[1]: https://education.github.community/t/deadline-field-format/31491

[2018-07-09 18:06] mverdicchio commented on #595
Jumping on the bandwagon! Please create this feature!

[2018-07-11 14:03] roboticsTUe commented on #696
I have a similar problem: I cannot
1. Reset and remove this classroom
2. Delete this group assignment

The button is unresponsive.

[2018-07-11 20:10] fabiosperotto opened #1387 "Cannot delete one assignment"
### Issue
I tried to delete a assignment, but the button "delete this assignment" is not enabled, even typing correctly the name of assignment

Step-by-step:
Assignment Settings > click on "Delete this assignment" > Modal Opened > Type assignment name > button keeps disabled.

Am I doing something  wrong?

[2018-07-11 23:12] BenEmdon commented on #1387
Hey @fabiosperotto

You're right this looks broken to me.
Here's a gif of me reproducing the bug in production:

![jul-11-2018 16-10-10](https://user-images.githubusercontent.com/11095731/42603967-0d157704-8525-11e8-919c-85c56ab4b743.gif)

I'll investigate some more 👀

[2018-07-12 14:31] pattacini commented on #1383
Quick update: the calendar widget is operative again 👍
I believe we can thus close this.

[2018-07-12 14:31] #1383 closed

[2018-07-12 20:29] d12 commented on #1117
@shaleenx Sorry about that, this should be sorted!

[2018-07-12 21:29] #1311 closed

[2018-07-12 21:30] d12 commented on #1311
Hey @rainywang

Sorry about the delay. This perf bug was caused by an upstream problem in Octokit. We finally got that sorted, and just bumped our Gem version to the newest, fixed version.

The assignments that were previously not loading for you should now work. The performance still isn't quite where we want to be, but we have plans to work towards something better in the coming weeks.

[2018-07-12 22:05] Batarian711 opened #1391 "Logo Design"
Hi. I am a graphic designer. I volunteer to design a logo for open source projects. I can design it for you to use it in the readme file. What dou you say?

[2018-07-12 22:10] d12 commented on #1391
Hi @Batarian711 , Classroom actually already has it's own branding and logos. Thanks for the offer though :)

[2018-07-12 22:11] #1391 closed

[2018-07-12 22:42] BenEmdon opened #1392 "Fix concurrency issue with CreateGitHubRepositoryJob"
### Enhancement :sparkles:
`CreateGitHubRepositoryJob` retries with exponential backoff and if we add a manual retry button to the `setupv2.html.erb` we could run into a problem where we enqueue 2 of the same jobs.

It would be optimal if we guard on the `invitation_status` as the jop starts performing to prevent creating a GitHub repo twice.

In response to the post PR tasks in #1385

[2018-07-12 22:47] BenEmdon opened #1393 "Add a manual Retry button to new repo creation flow"
### Enhancement :sparkles:
Add a manual retry button to the `setupv2.html.erb` so that if enough goes wrong, a student has the option to perform a manual retry.

This is useful when importing starter code fails but repo creation passes (since importing starter code is observed from `PorterStatusJob` but not retried).

In response to the post PR tasks in #1385

[2018-07-12 22:49] BenEmdon opened #1394 "Import resiliency for group assignments"
### Enhancement :sparkles:
Apply the architecture and patterns of #1368 #1378 #1385 to group assignments.

In response to the post PR tasks in #1385

[2018-07-12 22:54] BenEmdon opened #1395 "Use ActionCable instead of short polling in setupv2"
### Enhancement :sparkles:
ActionCable is already mostly set up.
Just need to implement it such that it reacts to messages from the `RepoCreationStatusChannel` instead of short polling on the `/progress` route.

In response to the post PR tasks in #1385

[2018-07-13 18:08] BenEmdon opened #1397 "Fix routing for when a AssignmentRepo exists but the invitation status is not completed"
When hitting `accept` on the assignment invitations page while a `CreateGitHubRepositoryJob` or `PorterStatusJob` are running we should route to `setupv2` instead of `success`.

[2018-07-13 18:18] #1392 closed

[2018-07-13 18:42] #1397 closed

[2018-07-13 21:42] BenEmdon opened #1399 "Long imports cause importing to hang"
Really long imports causes importing to hang on the `setupv2` screen.

For example importing `rails/rails` takes a couple of minutes but before the import completes the `PorterStatusJob` has already timed out a max number of times.

[2018-07-16 08:32] chermenin commented on #1323
Did something change about this issue? So, if I create an assignment based on a repo with some issues and wiki pages, after applying the assignment the repo without issues and wiki pages will be created. How can I apply auto import issues and wikis into the repo for students?

[2018-07-16 22:32] BenEmdon opened #1402 "Add a separate `invitation.status` for porter status error"
Currently if the repo import step of the new resiliency beta fails, both the create repo and import status appear to failed:

![screen shot 2018-07-16 at 2 55 21 pm](https://user-images.githubusercontent.com/11095731/42785811-a4e9672a-8908-11e8-9223-82668238c8f7.png)

It would be clearer to show where exactly it failed by adding another status to the `invitation.status`

[2018-07-17 17:42] #1399 closed

[2018-07-17 18:17] #1393 closed

[2018-07-17 21:06] #1402 closed

[2018-07-17 22:37] BenEmdon opened #1406 "Make a `waiting` invitation status"
In order to reach the optimal user experience there should be a `waiting` status for the UI to know:
* disable the `retry` button (if in error state)
* the job is enqueued but not yet started
* only perform a `CreateGitHubRepoJob` if the `invitation.waiting?`

[2018-07-18 01:33] cooganb opened #1408 "Error deploying assignments"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
Deploy a previously-created assignment

#### What happened (include screenshot if you can) ?
Students first not able to access the page, then were stuck in the duplicating phase.

#### Step-by-step reproduction instructions
Screenshots below:

![screen shot 2018-07-17 at 8 04 11 pm](https://user-image

[2018-07-18 02:45] bjenkins4 opened #1409 "classroom cant sign-in/accept assignment repository"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
I tried to accept a classroom assignment in order to gain access to a class repository

#### What happened (include screenshot if you can) ?
was redirected to github classroom homepage and asked to give permissions to github classroom. I have the permissions, and then clicked "sign-in" link. I was not

[2018-07-18 09:15] tamastompa commented on #1409
We have the same issue at Codecool, let us know if we can help with investigation or anything

[2018-07-18 09:48] siddhantbajaj commented on #1358
Hi @FlyteWizard and @jmfarrow
I think this issue is similar to #1205.
 @d12 can I create a PR for this?

[2018-07-18 11:48] jmfarrow commented on #1358
Sounds plausible. At least one student in each group this semester didn't configure their git correctly and so were not committing using identities that would appear as contributors.

[2018-07-18 14:41] d12 commented on #1358
Hi @FlyteWizard , @jmfarrow , @siddhantbajaj ,

The fix here is to ensure your students have properly set up their local git environment and their GitHub account. Specifically, their local git email needs to match a verified email on their GitHub account.

[2018-07-18 14:41] d12 commented on #1358
If this keeps happening with properly configured Git, please re-open and we'll dig into this :)

[2018-07-18 14:41] #1358 closed

[2018-07-18 15:41] d12 commented on #1409
@bjenkins4 @tamastompa We're looking into this, we'll update here when this is resolved.

[2018-07-18 18:36] BenEmdon commented on #1408
Hey @cooganb,
Thanks for reporting this!
Mid checking if its still happening?
We just deployed a possible fix #1410

[2018-07-18 19:20] srinjoym commented on #1409
hey @bjenkins4 @tamastompa 👋
We were seeing some issues in the morning as well, but have not encountered any problems since. Are you guys still having this problem?

We deployed a fix to flash an error message for a potential culprit here: https://github.com/education/classroom/pull/1411

If you hit this problem again, let me know if you see an error message like this when you get redirected to th

[2018-07-18 20:00] cooganb commented on #1408
Hey @BenEmdon , thanks for getting back to me!

Students are reporting still getting stuck at the "duplicating" process, but the repo still gets cloned and populated. Perhaps something is getting snagged there?

Thanks again for taking care of this, is there some migration happening which is causing this?

[2018-07-18 20:43] cooganb commented on #1408
The bottom window. Students this morning reported getting stuck at "1.
Importing complete," but the repo is cloned and populated. Will be able to
report more in a few hours when class starts.

On Wed, Jul 18, 2018 at 3:28 PM, Ben Emdon <notifications@github.com> wrote:

[2018-07-18 20:49] BenEmdon commented on #1408
Good news is that flow was deprecated this morning in #1410 so your students shouldn't be stuck at that step anymore!
Thanks again for catching this!

Closing this since the old flow was removed.

[2018-07-18 20:49] #1408 closed

[2018-07-18 20:59] cooganb commented on #1408
Great! Thank you for taking care of it!

On Wed, Jul 18, 2018 at 3:50 PM, Ben Emdon <notifications@github.com> wrote:

[2018-07-18 22:41] BenEmdon commented on #1394
This is the current flow of group

Since the flow is different we will probably need a different way of creating repos. Maybe a `CreateGroupGitHubRepositoryJob`?

[2018-07-19 17:15] #1406 closed

[2018-07-19 18:56] BenEmdon commented on #1409
Friendly nudge to @bjenkins4 and @tamastompa 👋
Can either of you confirm this problem is still happening?

[2018-07-19 19:00] BenEmdon opened #1416 "Remove automatic retries in `CreateGitHubRepositoryJob`"
Retries are funneling up to our error reporting software even when they aren't necessarily errors.

We also have a manual retry button on the setupv2 page. It would reduce complexity to do away with automatic retries in place of manual retries.

[2018-07-19 22:44] BenEmdon opened #1418 "Delete repo if `PorterStatusJob` fails"
Since we don't want repos ending up in a bad state we should delete the `AssignmentRepo` and its associated GitHub repo when importing starter code fails.

[2018-07-19 22:45] BenEmdon opened #1419 "Redirect when assignment invitation is already accepted"
If an invitation is already accepted redirect to the setup page and flash "You've already accepted this invitation".

[2018-07-19 22:48] BenEmdon opened #1420 "Figure out better UX for long imports"
During a long import we show a Octocat spinner where instead we should show something like a progress bar.

We can get a `percentage` and `status` field from the source imports API (which we currently aren't displaying to the user).

Any ideas on how we can do this UX better?
CC: @d12 @johndbritton @srinjoym

[2018-07-19 22:57] BenEmdon opened #1421 "Better title for `setupv2.html.erb`"
Currently on `setupv2.html.erb` we have this:
![current-screen-flow](https://user-images.githubusercontent.com/11095731/42974531-8388bbc4-8b6c-11e8-87f1-185e8fa7e7b2.gif)

Since students should be able to leave the page we should think of a better title.

Any ideas?
CC: @d12 @johndbritton @srinjoym

[2018-07-20 17:00] srinjoym commented on #1409
Looks like we haven't hit this problem again, I'm going to go ahead and close this issue 👍. If you guys run into this again, please re-open this issue.

[2018-07-20 17:00] #1409 closed

[2018-07-20 17:56] BenEmdon commented on #1421
How about:
`Your assignment repository is being setup`
👍 👎 ❓

[2018-07-23 14:44] d12 commented on #1421
What happens if they leave the page though, how do they go to their new repository? Would they have to re-click the assignment invitation link later?

[2018-07-23 17:05] #1416 closed

[2018-07-23 17:09] BenEmdon commented on #1421
If they leave the page and go back to the `#show` page it should redirect them to `#setupv2` if the repo is still being setup or `#success` if the repo is successfully setup.

If they come back to the `#setupv2` it should show the correct state of the repo setup and redirect them to `#success` if the setup is complete

[2018-07-23 17:19] #1418 closed

[2018-07-23 22:16] miltonlab opened #1427 "LTI Google Classroom"
### Feature request :sparkles:
Dear @mozzadrella , where can i read the status of "LTI Google Classroom support"?

[2018-07-25 01:38] eblanton opened #1431 "Cannot set a private fork GitHub repo as the starter code repo"
### Issue
#### What you were trying to do ?
I am trying to create an assignment based on a repository from the organization with which GitHub Classroom is associated.  It is the first assignment in this particular Classroom.  I have used GHC in the past.

#### What happened (include screenshot if you can) ?
When I type in the organization name into the starter code box (so that I can select the ba

[2018-07-25 01:43] eblanton commented on #1431
Trying to create a repo without a handout repository, I got an error regarding creating private repositories (because GH approval for Academic use on this org is still pending).  Perhaps this is related?  I will report back after approval.

[2018-07-25 04:03] BenEmdon commented on #1431
Hey thanks for posting such a detailed bug report 👏
If your organization doesn't have private repos you won't be able to search for private repose in the starter code search bar. Once your organization gets approved for private repos you should be able to search for the private repo you are looking for.

If you still have a problem after that feel free to reopen this issue
Closing this for now.

[2018-07-25 16:14] #1421 closed

[2018-07-26 16:51] tflucke opened #1437 "New repositories copy issues/hooks from starter repository"
I'm working on a course curriculum on debugging techniques.  So far most of the assignments are in the form of:
 * Give students buggy code with a list of bugs
 * Students find/fix each bug and give a short summary of how they found it.

I thought it would be a good idea to incorporate issues/pull requests into this workflow; i.e. each bug has an issue and students submit pull requests once they h

[2018-07-27 18:29] BenEmdon opened #1439 "Error logging in CreateGitHubRepoJob"
### Feature request :sparkles:
Currently there isn't any error logging in `CreateGitHubRepositoryJob`. It would be nice to have some.

[2018-07-27 21:16] #1439 closed

[2018-07-27 22:35] #1419 closed

[2018-07-29 18:17] eblanton commented on #1431
My organization has been approved for an academic coupon, and I still have this problem.

[2018-07-29 23:02] eblanton commented on #1431
My organization currently has exactly one repository and no GitHub Classroom assignments -- I would be happy to add a GHC developer to the organization as admin to test this.

[2018-07-30 13:53] miltonlab commented on #721
I am the same question @adamfdotnet . I am theaher and researcher and thinking propose a Researh Project at my university related with this but i need to know the really status please @mozzadrella .

[2018-07-30 15:53] d12 commented on #1431
Hey @eblanton ,

Which organization are you seeing issues with? We should be able to try to debug this without requiring you to grant admin access to a developer.

Also to be clear, are you seeing issues accepting private invitations, looking up private starter code, or both?

[2018-07-30 16:22] eblanton commented on #1431
The organization is ub-cse410bla-f18.

I'm not sure how to answer your other question.  I am having trouble creating an assignment using starter code from the same organization.  The starter code repository is private.

[2018-07-30 16:46] BenEmdon opened #1443 "Report user errors on repo creation"
Using `ActionCable` we can now surface user errors to the user. That would make for a much richer experience.

[2018-07-30 17:01] BenEmdon opened #1444 "404 after repo is deleted"
**Describe the bug**
If an AssignmentRepos associated GitHub Repo is deleted the invitation 404s

**To Reproduce**
Steps to reproduce the behavior:
1. Create an AssignmentRepo and GitHub repo by accepting an invitation
2. Delete the repo on GitHub
3. Go to the invitation page
4. See 404

**Expected behavior**
To see a invitation in setup try again

[2018-07-30 17:03] #1395 closed

[2018-07-30 18:35] #1443 closed

[2018-07-31 01:11] BenEmdon opened #1448 "Automatic 3-5 retries repo creation"
It would be nice if we could make the create repo process have automatic retries. This way we could attempt a couple of times without the user having to retry manually.

[2018-07-31 16:34] #1420 closed

[2018-07-31 18:02] #1444 closed

[2018-07-31 18:04] lwasser commented on #595
me too! i manage many classes and having many organizations will become very tedious. quickly

[2018-08-01 14:37] eblanton commented on #1431
I deleted and re-created the classroom to see if this would help, and it did not.  I am trying to create a tutorial for students on how to perform their first Classroom / GitHub assignment, and this is holding me up.

[2018-08-01 14:52] d12 commented on #1431
Hey @eblanton , I'm ccing @BenEmdon on this issue to help out with looking into it.

Based on a quick investigation, it seems like we're having problems returning private forks in the starter code search. If it's possible to use a repo that isn't a private fork, it should work for you. We're going to look into why this is happening soon.

[2018-08-01 16:56] BenEmdon commented on #1431
@eblanton
While we look into this there is a work around you can do so that you aren't blocked by this issue.

## Work around steps
1. Create a new public or private repo on GitHub.com on [your account](https://github.com/new) or [your organization](https://github.com/organizations/ub-cse410bla-f18/repositories/new).
![screen shot 2018-08-01 at 9 42 55 am](https://user-images.githubusercontent.com

[2018-08-02 00:17] #1448 closed

[2018-08-02 18:46] BenEmdon opened #1452 "Make Group Assignments more resilient"
## Why Group Assignments?
Group assignments account for roughly ~15% of all assignments and as such should be as resilient as individual assignments. Individual assignments have recently been made much more resilient (see https://github.com/education/classroom/projects/9).

## Requirements to make Group Assignments resilient
- [x] Track progress of repo setup with a 1:N:1 model of `Group`:`GroupIn

[2018-08-02 18:46] BenEmdon commented on #1394
Closing this in favor of #1452

[2018-08-02 18:46] #1394 closed

[2018-08-02 21:18] johndbritton commented on #1437
We have a feature for this in the works. We're not going to implement copying issues, but there will be a way to create markdown files in your starter code that will generate issues during import.

There is not estimated timeline for this, but it's a valid suggestion that we do plan to implement.

[2018-08-02 23:07] BenEmdon opened #1456 "GroupInviteStatus model needed"
## What
We need a way to track progress of repo setup. This should be done with a 1:N:1 relationship of `Group:GroupInviteStatus:GroupInvitation`.

Part of #1452

[2018-08-03 17:34] d12 commented on #1452
@BenEmdon This system may need to work slightly differently than the normal assignments.

a) Groups are shared between multiple assignments. Does it make sense to have statuses attached to groups?
b) There are two different steps to processing an invitation redemption for a group assignment. If the user is the first in the group to redeem, we create the repository. Then we add them as a collaborat

[2018-08-03 18:38] BenEmdon commented on #1452
`GroupInviteStatus` are attached a `GroupAssignmentInvitation` and a `Group`. This way a `GroupInviteStatus` is unique to assignment/group.

Will do, sounds like a plan. Will take some time to investigate.

[2018-08-03 22:46] BenEmdon commented on #1452
Looks like there is no need to add users as a collaborator for group assignments.
Since each group is really just a GitHub team, all we need to do is add them to the GitHub team.
Teams on GitHub have repo access:
<img width="997" alt="screen shot 2018-08-03 at 3 43 05 pm" src="https://user-images.githubusercontent.com/11095731/43668876-30b2e48c-9734-11e8-8d2d-7ae78b04aba9.png">

[2018-08-03 23:25] BenEmdon commented on #1452
## Here is the current action flow (with before actions)

## Here is the flow that would be favorable

[2018-08-04 00:32] BenEmdon commented on #1452
## Models
This is what the models should look like after #1454
![frame 4](https://user-images.githubusercontent.com/11095731/43670653-1dab7ffc-9743-11e8-998e-526fcc3d36ef.png)

_blue represents new additions_

[2018-08-04 00:35] keithagroves opened #1457 "assignment-invitations stalling"
**Describe the bug**
My school uses github classroom hundreds of times per week and I have had students getting errors on certain repositories. The screen says "Your assignment repository is being setup. This might take a while" but it actually never finishes. It seems to only happen with certain repositories ( e.g. https://classroom.github.com/assignment-invitations/9677ea6dc1a78a7efb14028561196f

[2018-08-04 01:05] BenEmdon opened #1458 "ActiveRecord::ConnectionTimeoutError"
ActiveRecord::ConnectionTimeoutError

**[ActiveRecord::ConnectionTimeoutError]()** &mdash; First occurred on 2018-05-07 03:17:06 -0700

[code]

[2018-08-04 01:36] BenEmdon commented on #1457
@keithagroves if you need any extra support with this feel free to reach reopen this 📂

[2018-08-04 02:08] eblanton commented on #1431
I was unable to complete Step 3 (GitHub kept prompting me for my repo login credentials over and over, stalling for 60 seconds or so before each attempt), but I was able to simply push to the new repo at the command line.  So I guess the fork nature of the repo was the problem?

This is an acceptable workaround.

[2018-08-04 02:12] BenEmdon commented on #1431
Forks work, but private forks in particular are sort of an edge case.

Im glad this was able to work for you. On behalf of the classroom team I apologize for the inconvenience.

[2018-08-04 18:25] keithagroves commented on #1457
This is still a problem. I have a high level of students unable to setup their repositories and the process is a lot slower now than it was previously. Is there a reason for this?

[2018-08-04 21:56] rkomorn opened #1460 "Repository setup hanging / being slow."
### Issue
#### What you were trying to do ?
Several of our students are currently experiencing difficulties getting their repo set up for this weekend's assignment.

#### What happened (include screenshot if you can) ?
The error they're seeing is:

![image](https://user-images.githubusercontent.com/523308/43680741-a5db26fe-97f5-11e8-9ec6-287fa3e74d79.png)

The repo itself takes a while to be creat

[2018-08-05 01:13] BenEmdon commented on #1457
We should be able to aid the problem in with the patch in #1459. The fix should go out on Monday. The slowness on GitHub.com isn’t technically our responsibility but I will alert that team.

[2018-08-05 04:12] alyxterrell opened #1461 "Assignment Repository issues"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
_I tried to setup my assignment repository ..._

#### What happened (include screenshot if you can) ?
_the setup freezes at the same set of importing stater code ..._
![image](https://user-images.githubusercontent.com/42105241/43682453-f6a8e288-98b8-11e8-8e1b-a435a9146eb3.png)

#### Step-by-step repro

[2018-08-05 11:40] dawnngu18 commented on #1461
I seem to have the same problem.

[2018-08-06 04:41] BenEmdon commented on #1461
Hey @alyxterrell and @dawnngu18, thanks for reporting this.

Looks like we have had a high load of people accepting repositories. We found an issue with our database load handling in #1458 and should have that sorted out on Monday. The fix should be #1459.

I'll follow up on Monday after we deploy the fix.

[2018-08-06 04:48] BenEmdon commented on #1460
Hey @rkomorn, thanks for reporting this.

Looks like we have had a high load of people accepting repositories. We found an issue with our database load handling in #1458 and should have that sorted out on Monday. The fix should be #1459.

The slowness on GitHub.com is not the classroom project but I will alert the team responsible about slow times.

The assignments your students accepted should ev

[2018-08-06 09:48] craftybones opened #1462 "Github classroom created a duplicate repository for the same individual"
**Describe the bug**
Upon handing an assignment to an individual -  @debuc - he managed to create two repositories under my classroom organisation @step-tw

The links to the repositories are:

https://github.com/STEP-tw/ghtest--debuc

https://github.com/STEP-tw/ghtest--debuc-1

**To Reproduce**

The crazy part is that none of us know how exactly this happened. We've tried reproducing this a dozen

[2018-08-06 16:42] rkomorn commented on #1460
Yeah it did seem like things started working at some point. It was definitely disruptive.

[2018-08-06 16:45] BenEmdon commented on #1457
@keithagroves A fix went out, let me know if classroom is still causing problems.

[2018-08-06 16:54] #1458 closed

[2018-08-06 18:51] BenEmdon opened #1463 "Repo url during repo creation process"
### Feature request :sparkles:
A couple of teachers and students have been reporting slow source imports. I think to add transparency we could show the repo's url after the creation process ends so that users don't feel like all hope is lost and that things are stuck.

[2018-08-06 22:05] BenEmdon commented on #1460
We deployed a fix earlier this morning. Please report back with and questions/concerns.
Thanks again for writing in.

Closing this for now.
Feel free to re-open this issue if you feel the problem is unresolved.

[2018-08-06 22:06] #1460 closed

[2018-08-06 22:44] BenEmdon commented on #1461
We deployed a fix earlier this morning. Please report back with and questions/concerns.
Thanks again for writing in.

Closing this for now.
Feel free to re-open this issue if you feel the problem is unresolved.

[2018-08-06 22:44] #1461 closed

[2018-08-06 22:48] BenEmdon commented on #1462
Hey @craftybones,
This is a weird issue and I feel like your repository won't be the only one. I'll keep a close eye to see if this happens again.

Thanks for writing in. Please report back if this happens again.

[2018-08-07 17:10] #1463 closed

[2018-08-07 23:59] keithagroves commented on #1457
@BenEmdon Thank you! I hope things starting running smooth again. We love using classroom.

[2018-08-08 03:19] eallenOP opened #1465 "Team with emoji-only name"
**Describe the bug**
When using a group assignment in GH Classroom, one team decided that they would enter the team name "🐈". This was accepted by the team creation process, but generated a team with no URL so no way to access the team's discussion page etc. I did manage to somehow find another way to get to the team page and change the name to real characters.

**To Reproduce**
Steps to reproduce

[2018-08-09 13:06] d12 commented on #1452
We chatted about this in our 1-1, but looking at this again, it all makes sense to me :+1:

[2018-08-10 04:15] BenEmdon commented on #1253
## Import Resiliency Project Findings
#### The old repo creation flow % failures
Feb 26th - July 26th
![image](https://user-images.githubusercontent.com/11095731/43938495-c3fae706-9c18-11e8-8185-4594dd8b24a4.png)
![image](https://user-images.githubusercontent.com/11095731/43938547-0b4f62a8-9c19-11e8-86f1-6e74538f5d26.png)

#### The new repo creation flow % failures
July 28th - Aug 8th
![image](htt

[2018-08-10 14:31] d12 commented on #1253
Nice work!! I'm super happy with the difference we're seeing here.

[2018-08-10 16:45] craftybones commented on #1462
Hello,

It happened again. Just a few hours ago.

https://github.com/STEP-tw/ghtest--ashishkujoy-1

is a duplicate of

https://github.com/STEP-tw/ghtest--ashishkujoy

Please take a look at this

Thank you,

Jayanth

On Tue, Aug 7, 2018 at 4:18 AM Ben Emdon <notifications@github.com> wrote:

[2018-08-10 17:56] BenEmdon commented on #1462
@craftybones
Is this happening when you create an individual assignment or a group assignment?

[2018-08-10 18:12] craftybones commented on #1462
Individual assignment. What is interesting is that this person clicked a
link to a different assignment when this happened is what he says

On Fri, Aug 10, 2018, 23:26 Ben Emdon <notifications@github.com> wrote:

[2018-08-11 19:33] BenEmdon commented on #1462
What were the links to the two different assignments?

[2018-08-12 06:31] craftybones commented on #1462
The two links were:

https://classroom.github.com/a/ByQvSMd8

https://classroom.github.com/a/b_Ya1SIk

On Sun, Aug 12, 2018 at 1:03 AM Ben Emdon <notifications@github.com> wrote:

[2018-08-14 08:48] officialgabzz opened #1469 "Error Installing Gem dependencies"
Trying to run the application locally. i am running on linux(Ubuntu). i have installed all thats required on me to install, but whenever i run "script/server", its scripts bootstrap not found... the i run script/bootstrap ,it says script/bootstrap bundle not found... please how do i fix this???

[2018-08-15 20:12] LoyGabriel opened #1476 "I can't create a new group and the message error is not explaining anything"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
_I tried to create a new assignment ..._

#### What happened (include screenshot if you can) ?
_The assignment was not created ..._

#### Step-by-step reproduction instructions
Please provide as much explanations as you can, reproduce a bug is the first step to write a fix :raised_hands:

##
### Featu

[2018-08-15 21:46] BenEmdon commented on #1469
Hey @GABZZsoft 👋
Thanks for writing in!
Can you please provide a code snippet of the command you ran and its output?

[2018-08-15 21:52] BenEmdon commented on #1476
Hey @LoyGabriel, thanks for writing in!
Would you mind providing step-by-step reproduction instructions and screenshots?
If you can provide a link to the assignment that would also be great 🙌
The details you provided aren't sufficient for us to figure out the problem.

[2018-08-15 22:02] srinjoym opened #1479 "Classroom Home Page and Classroom Desktop Landing Page Updates"
This issue is for tracking updates to the Classroom Landing pages for the [Classroom Desktop Launch](https://github.com/github/education/issues/790). Working with @brandonrosage to showcase the new feature and provide a page for users to download the app.

Let me know what y'all think about the current design!
cc @johndbritton @mozzadrella @d12

#### Classroom Home page (`http://classroom.github.c

[2018-08-15 22:07] johndbritton commented on #1479
I'd suggest updating the desktop screenshot with more realistic user data. Test accounts without real names set don't look the best.

I wonder if including the full download link on the homepage is necessary. Maybe we just list the desktop app as a feature and include a link to the desktop page.

Similarly, for the `/desktop` page I don't think it's necessary to include the classroom homepage desc

[2018-08-16 04:02] LoyGabriel commented on #1476
![image](https://user-images.githubusercontent.com/26697041/44186477-03bb4580-a0f0-11e8-824d-e2f22590ac92.png)

[2018-08-16 07:14] GABZZsoft commented on #1469
![screenshot from 2018-08-16 07-12-25](https://user-images.githubusercontent.com/29066025/44193866-d7212100-a123-11e8-9e5f-9764fdb361fa.png)
Thanks @BenEmdon  for your response...

[2018-08-16 15:30] manu-msr opened #1481 "Can't accept new homework"
My students can't accept new homework in Classroom platform. There's only a message "An errror has occured".

Is this normal?

![unnamed](https://user-images.githubusercontent.com/15841718/44218472-6425a380-a13f-11e8-8492-bb2ac1d5bceb.png)

[2018-08-16 17:39] BenEmdon commented on #1469
They the following commands:
[code]

[2018-08-16 17:42] BenEmdon commented on #1481
Hey @manu-msr 👋 thanks for writing in.
This is definitely _not normal_.
Mind providing some steps to reproduce the behavior?
If you have a link to your classroom assignment that would be very helpful too!

[2018-08-16 18:17] #1456 closed

[2018-08-16 18:39] manu-msr commented on #1481
It is happening with all the assigments of the classroom.

The link for that asigment is: https://classroom.github.com/g/WgweRVm3

Thank you!

[2018-08-16 20:09] BenEmdon commented on #1481
It appears that classroom is creating private repositories, but not giving your students access to them.
Would you mind checking if the repository [`lenguajesfc/actividad2-github-staff-team-1`](GitHub.com/lenguajesfc/actividad2-github-staff-team-1) has starter code in it?

[2018-08-16 20:26] gchallen opened #1482 "Better Page for Disabled Invitation Link"
### Feature request :sparkles:

I'm in the process of preparing my course for this fall. To do so, I'm disabling the invitation links that I used last semester. (I'm also updating the prefixes and names, since I stupidly forgot to add semester tags. If anyone has a good script for updating the names of several thousand GitHub repos let me know.)

What I noticed is that disable GitHub Classroom inv

[2018-08-16 20:34] BenEmdon commented on #1481
A work around for now is to go to each team individually on `GitHub.com` and give each team access to their respective repositories.

The problem is related to https://github.com/octokit/octokit.rb/issues/1051.

Thanks again for reporting this ❤️  Sorry for the inconvenience. A fix should come out soon.

[2018-08-16 20:34] BenEmdon commented on #1476
The problem is related to https://github.com/octokit/octokit.rb/issues/1051.

Thanks again for reporting this ❤️  Sorry for the inconvenience. A fix should come out soon.

[2018-08-16 22:49] BenEmdon commented on #1481
It turns out the issue was in GitHub's API.
The problem has since been resolved. If you experience any more issues feel free to write back.

[2018-08-16 22:49] #1481 closed

[2018-08-16 22:50] BenEmdon commented on #1476
It turns out the issue was in GitHub's API.
The problem has since been resolved. If you experience any more issues feel free to write back.

[2018-08-16 22:50] #1476 closed

[2018-08-17 14:51] BenEmdon opened #1484 "Create new beta flag for Group Import Resiliency"

[2018-08-17 16:28] #1484 closed

[2018-08-17 19:46] brandonrosage commented on #1479
1. I think the Desktop page should include breadcrumbs to indicate its relationship to the rest of the website.

2. I'd suggest including the "See how it works" and "Sign in to get started" links in the general Classroom content area at the bottom of the Desktop page. Truly have the two pages be mirrors of each other, with respect to content and functionality.

[2018-08-17 21:23] BenEmdon opened #1487 "Create new routes for GroupAssignmentInvitationsController"
## Routes we want:
- [x] `setup`
  - [x] implemented controller action
  - [x] `setup.html.erb`
  - Implement javascript in different PR
- [x] `create_repo`
  - implemented controller action
  (implementation requires a new background job for repo creation)
- [x] `progress`
  - [x] implemented controller action

https://github.com/education/classroom/issues/1452#issuecomment-410400388

[2018-08-18 16:22] BenEmdon opened #1490 "In GroupAssignmentsInvitationsController route based on invite status"
## What
Apply the same idea of routing based on invite status in `AssignmentsInvitationsController` to `GroupAssignmentsInvitationsController`.

## Here is the current acceptance action flow (with before actions)

## Here is the ideal acceptance flow after this project is complete

[2018-08-19 20:28] BenEmdon opened #1492 "Make GroupAssignmentInvitations #redeem change the invitation.status(group)"

[2018-08-19 23:44] jbeckenbach commented on #960
✅

[2018-08-20 16:16] srinjoym commented on #1479
@brandonrosage and I discussed the design further during our weekly Classroom standup. As far as I understand, the motivation behind the two pages being mirrors of each other is two fold:

1. On the homepage, we're directly linking to the download button for Classroom-Desktop because there isn't really any other content on the Classroom-Desktop landing page for the user to see. If we linked them t

[2018-08-21 13:52] mozzadrella commented on #1479
@srinjoym working on these copy issues today

[2018-08-21 15:56] mozzadrella commented on #1479
I'm going to put these comments in buckets, so hopefully we can peel off and use.

## Classroom splash content
Please work [from this document](https://docs.google.com/document/d/1nICJuTeC6CLp3vfQegOB7d4Rzg1K-IFanH1sDmVqQ38/edit#).

## Desktop content
I suggest mentioning this in the "Why try Classroom" H2, and then pulling out into a separate H2 with an anchor and a download button CTA, and that

[2018-08-22 21:02] #1487 closed

[2018-08-22 21:04] BenEmdon opened #1493 "Implement the `#create_repo` route in GroupAssignmentsInvitationsController"
https://github.com/education/classroom/blob/d82ea459cc21a3f6d1e5d678402c3439a63ea633/app/controllers/group_assignment_invitations_controller.rb#L41-L43

[2018-08-22 21:05] brandonrosage commented on #1479
### Homepage wireframe:

![hone](https://user-images.githubusercontent.com/1136279/44490778-e07b2380-a624-11e8-91e6-65b674ce85ca.png)

Note that I've omitted the "How it works" section since the illustration content is a dependency.

Also, the quotes would be displayed in cards very similar to those used on the [GitHub Education "Stories" page](https://education.github.com/stories). I'm happy to b

[2018-08-22 21:08] BenEmdon opened #1494 "Add javascript for `group_assignment_invitations/setupv2.html.erb`"
Javascript should so what  [`classroom/app/assets/javascripts/setupv2.js`](https://github.com/education/classroom/blob/master/app/assets/javascripts/setupv2.js) does for individual assignments.

[2018-08-22 21:13] BenEmdon opened #1495 "Add a ActionCable channel for group assignment progress"
It should be very similar to [`app/channels/repository_creation_status_channel.rb`](https://github.com/education/classroom/blob/master/app/channels/repository_creation_status_channel.rb)

[2018-08-23 02:04] d12 opened #1496 "GraphQL + Classroom"
I've been spending occasional weekends and evenings prototyping a GraphQL API for Classroom that stitches into the GitHub API for some time now, and I have the API fully working end to end locally and backing one view. Now that I know it's feasible, I want to open this issue to raise one question: **Is this something we should do?**

## The Problem

Classroom currently uses the GitHub REST API to

[2018-08-23 04:01] MarkCLewis opened #1497 "Request for private repositories using wrong organization"
_issue_

##
### Issue
#### What you were trying to do ?
_In the request for private repositories for a classroom it automatically made the request for my personal organization (@MarkCLewis) instead of for the course (@CSCI1321-F18 and @CSCI3395-F18). The page for the request doesn't appear to have an option to select anything else._

#### What happened (include screenshot if you can) ?
_I got an e

[2018-08-23 14:06] BenEmdon commented on #1497
Hey @MarkCLewis, it looks like your issue is about [`education.github.com`](https://education.github.com) instead of [`classroom.github.com`](https://classroom.github.com) (this project).

For education support please alert the support team on https://github.com/contact.
Sorry for the inconvenience.

I'll close this issue, but feel free to open another if you have any problems with [`classroom.git

[2018-08-23 14:06] #1497 closed

[2018-08-23 14:51] BenEmdon commented on #1496
Thanks @d12 for summing up the pros/cons.
I feel that GraphQL is the right way forward for classroom, since it aligns with GitHub's efforts with the v4 GraphQL API. The nice part about your approach is that it can be done iteratively (screen by screen) giving us all the time we want to migrate over from REST to GraphQL.

### Some thoughts on your points:

This may be the simplest/easiest to unders

[2018-08-23 15:41] BenEmdon opened #1498 "Incorporate the new `repository_import` event webhook"
### Feature request :sparkles:
A new webhook for the source importer API just released: [`#repositoryimportevent`](https://developer.github.com/v3/activity/events/types/#repositoryimportevent).

## The difference between the webhook and `PorterStatusJob`
The webhook only fires after a source import completes, while [`PorterStatusJob`](https://github.com/education/classroom/blob/master/app/jobs/ass

[2018-08-23 18:35] talsafran commented on #1496
I'm gonna defer to @damaneice and @tessgriffin, since they're spending more time with education apps these days, but generally speaking I'm 👍:+1: this effort.

Lol, yes plz 😄

[2018-08-24 15:34] BenEmdon commented on #1460
@ramkumargopal would you mind [opening a new issue](https://github.com/education/classroom/issues/new?template=bug_report.md) and providing details? This issue was fixed so while your issue might be similar, it is technically different.

[2018-08-24 16:03] johndbritton commented on #1498
From the documentation:

This would mean that if the import succeeds or fails, a webhook will be fired and we can update the status immediately.

I don't think you need a webhook job. You just need an endpoint to receive the incoming webhook. When you receive it you'd just need to update the status of the import.

I think the approach that makes sense here is to tune our polling to be less frequen

[2018-08-24 16:42] cboettig opened #1500 "bug in "reset" classroom"
I am teaching a new semester of my course using an existing GitHub organization for my course.  I use the "reset classroom" link provided to try and delete the previous semester's students and assignments.  Instead, this deletes the Classroom entirely, and I cannot re-add it to Classroom because the GitHub Classroom still says "this organization has already been added".

---

My apologies, it seem

[2018-08-24 16:46] cullenmrc commented on #1437
I also was disappointed to find out the issues in the reference repository aren't copied over to the students' repos.

As a teacher new to CS I am a firm believer that Git and GitHub industry wide standards should be introduced very early on in a student's beginning CS learning experience.  While many of my colleagues across the country will not integrate GitHub; I am almost insisting on it - perh

[2018-08-24 16:55] #1500 closed

[2018-08-24 19:06] BenEmdon commented on #1500
Glad it you were able to resolve it 🎉

[2018-08-26 22:41] ScottGR1 opened #1502 "Repository not downloading"
It seems the repository I'm trying to download is stuck. The progress bar has been in the same location for the last hour:
![image](https://user-images.githubusercontent.com/14166596/44633916-31598780-a957-11e8-96c4-9300ffde0700.png)

Not sure what else I can do, already refreshed and reopened page several time.

Thanks for the help,

Scott

[2018-08-27 15:13] BenEmdon opened #1503 "NoMethodError: undefined method `users' for nil:NilClass"
**Describe the bug**
[code]

<details>
<summary>Backtrace</summary>
<pre>
<span class="l">/app/app/jobs/organization_event_job.rb:15:in `perform&#39;</span>
<span class="l">/app/vendor/bundle/ruby/2.4.0/gems/activejob-5.1.6/lib/active_job/execution.rb:37:in `block in perform_now&#39;</span>
<span class="l">/app/vendor/bundle/ruby/2.4.0/gems/activesupport-5.1.6/lib/active_support/callbacks.rb:108:i

[2018-08-27 16:04] BenEmdon opened #1505 "ActionView::Template::Error: undefined method `github_team' for nil:NilClass"
**Describe the bug**

[code]

<table>
  <thead>
    <tr>
      <th>attribute</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>action</td>
      <td>show</td>
    </tr>
    <tr>
      <td>cause</td>
      <td><pre>NoMethodError: undefined method `github_team&#39; for nil:NilClass<br>	/app/app/models/group_assignment_repo.rb:52:in `github_team&#39;<br>	/app/app/models/grou

[2018-08-27 16:11] BenEmdon opened #1506 "Way to delete groupings"
### Feature request :sparkles:
Currently there is no way to delete grouping of groups from classroom.
We can delete teams on GitHub which will delete Groups, but a ghost Grouping model will remain. 👻

[2018-08-27 16:15] #1490 closed

[2018-08-27 16:31] BenEmdon commented on #1505
It appears that this is happening when teams are deleted off GitHub.com which triggers the job introduced in #1346. The job deletes the group linked to the team. The problem with this is that the `GroupAssignment` model requires a `Group` presence.

[2018-08-27 16:37] BenEmdon commented on #1505
Before  #1346 we would get ghost teams:
<img width="1041" alt="screen shot 2018-08-27 at 12 23 57 pm" src="https://user-images.githubusercontent.com/11095731/44672221-ce6afd80-a9f5-11e8-8375-4564407b773c.png">

[2018-08-27 16:49] BenEmdon opened #1508 "To destroy, or not to destroy. That is the question."
### Feature request :sparkles:
_Please provide a description of the feature you would like Classroom to have_

[2018-08-27 17:01] BenEmdon commented on #1508
This is related to what has been happening with #1505 #1507 #868

[2018-08-27 17:06] BenEmdon commented on #1505
#1507 will prevent future `GroupAssignmentsRepos` from ending up in this state but won't get rid of the existing invalid `GroupAssignmentRepo`s

[2018-08-27 18:52] BenEmdon opened #1509 "Creation job similar to `CreateGitHubRepositoryJob`"
A job that creates an GroupAssignmentRepo and starts importing starter code

[2018-08-28 01:12] joelnw opened #1512 "Invitation email from admins other than the assignment creator"
**Describe the bug**
There are multiple instructors (admins) in the Classroom, when a student accepts an assignment the receive an email that is similar to "@<admin1> has invited you to collaborate on the
<path-to-repo-student> repository

The bug is that this email sometimes states @<admin2> instead of @<admin1>, when the assignment was created by @<admin1>.  I would imagine that the creator of t

[2018-08-28 09:57] fediskhakov commented on #1506
I second that. Would be very useful to be able to clean up the groupings.

[2018-08-28 13:17] bhirtzer opened #1513 "Repository issue"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
_I tried creating a GitHub repository in GitHub classroom

#### What happened (include screenshot if you can) ?
_It appears that here is an error along the way and it stops creating when it reaches the halfway mark
![github error](https://user-images.githubusercontent.com/17343959/44725344-ac778680-aa

[2018-08-28 13:41] BenEmdon commented on #1513
Hey @bhirtzer, thanks for writing in with a detailed issue. 🙌
This appears to be a bug. I'll investigate what's causing this bug.

#### Things you can do to work around this issue:
Please report this to the admin of your classroom (A teacher or TA), and ask them to create a new repo for you manually.

Sorry for the inconvenience.

[2018-08-28 13:42] BenEmdon commented on #1513
Duplicate of #1502

[2018-08-28 13:42] #1513 closed

[2018-08-28 15:52] BenEmdon opened #1515 "ActionView::Template::Error: undefined method `id' for nil:NilClass"
**Describe the bug**

[code]

<table>
  <thead>
    <tr>
      <th>attribute</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>action</td>
      <td>show</td>
    </tr>
    <tr>
      <td>cause</td>
      <td><pre>NoMethodError: undefined method `id&#39; for nil:NilClass<br>	/app/app/views/group_assignment_invitations/_group_assignment_team.erb:5:in `block in _app_views_g

[2018-08-28 20:21] rjhoyle opened #1516 "Unable to create private repository for classrooms"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?

It is not letting me create a homework assignment with private repositories, saying that I have to apply, sending me to https://education.github.com/discount_requests/new which shows that the organization is approved.

Deleting and recreating the classroom did not fix the issue.

The classroom is htt

[2018-08-28 20:45] davidlbean opened #1517 "Student unable to accept assignment"
**Describe the bug**
I'm using the classroom functionality for a class again this semester, and I've got several students who report problems when trying to accept the first homework assignment. They click the button to accept the assignment and then they're taking to a github page asking for reauthorization. What's odd is that it looks like github wants to add them to the classroom as an administ

[2018-08-28 21:10] BenEmdon commented on #1516
Hey @rjhoyle 👋 thanks for writing in!

Im wondering if someone from @education/github might be able to take a look? (since this has to deal with discount_requests)

[2018-08-29 17:00] d12 opened #1518 "GraphQL - Implementation Checklist"
This is a rough list of steps that need to happen as we work towards [GraphQL in Classroom](https://github.com/education/classroom/issues/1496). This work isn't a priority, it'll mostly be happening over my weekends and evenings.

## Steps

1. Store GitHub Global Relay IDs in Classroom
  - [x] Migrations to add appropriate `github_global_relay_id` columns
  - [x] When creating Users, Organizations

[2018-08-29 17:01] d12 commented on #1496
Thanks for the feedback @BenEmdon @talsafran . Since I've only heard good feedback in the last week, I'm going to start working on making this a thing! 🎉

I've put together a checklist that I'll be working through for those curious: #1518

[2018-08-29 18:12] rjhoyle commented on #1516
I have not heard yet from anyone in education.

r.
--
Roberto Hoyle
Assistant Professor
Computer Science Department
Oberlin College
rhoyle@oberlin.edu

[2018-08-29 18:16] BenEmdon commented on #1516
Did you make a support request to https://github.com/contact?

[2018-08-29 18:17] rjhoyle commented on #1516
I have not made a new request.  I submitted the original ticket through the GitHub Classroom page.  Are they different systems?

r.
--
Roberto Hoyle
Assistant Professor
Computer Science Department
Oberlin College
rhoyle@oberlin.edu

[2018-08-29 18:38] damaneice commented on #1496
I haven't worked on this app yet.  I would deter to @tarebyte @BenEmdon

[2018-08-29 19:41] BenEmdon commented on #1516
Closing this for now. Please re-open the issue if it doesn't get resolved.

[2018-08-29 19:41] #1516 closed

[2018-08-29 21:44] BenEmdon opened #1521 "Import status job similar to `PorterStatusJob` for `GroupAssignmentRepo`s"

[2018-08-30 01:36] kmayerpatel commented on #1502
Just FYI, some (I would say at least 5, maybe more) are seeing this issue in my class (about 400 students). Don't know if this is related, but it cropped up when I published an assignment invite link as an example to do in class and so there was probably a bit of a flash crowd as they all accepted the invitation within minutes of each other.

[2018-08-30 13:31] d12 commented on #1517
I'd have to defer to @tarebyte on this one

[2018-08-30 13:40] d12 commented on #1498
I have similar opinions. We lose some nice UX in exchange for reducing some code complexity. If this is something we want to do, I don't think it needs to be high priority.

[2018-08-30 13:43] srinjoym commented on #1479
Just got around to fully updating the homepage to match the new wireframes. Getting it to also work on mobile was a bit of a challenge, but I think I've got it to a pretty good point. Here's what it looks like now:

### Homepage
![screencapture-localhost-5000-2018-08-30-08_27_13](https://user-images.githubusercontent.com/7866060/44854728-fabd8e80-ac2e-11e8-861a-f3aa98e959c4.png)

### Homepage Mobi

[2018-08-30 14:31] #1495 closed

[2018-08-30 15:52] pvoosten opened #1523 "Http 500 when visiting classroom.github.com"
**Describe the bug**
There is an HTTP 500 message when visiting classroom.github.com, whether signed into GitHub or not

**To Reproduce**
The error is shown in both Safari on iPhone and Chrome and Edge in Windows.

**Expected behavior**
the normal classroom

**Screenshots**

**Additional context**
No idea whether it's related, but I got the 500 after deleting a roster.

[2018-08-30 15:55] mozzadrella commented on #1523
@pvoosten we're on it. Updates to come.

[2018-08-30 16:51] mozzadrella commented on #1523
We're back up. Thanks @pvoosten

![screenshot 2018-08-30 12 51 29](https://user-images.githubusercontent.com/1874003/44866504-703b5600-ac53-11e8-9188-0615fbe2e47e.png)

[2018-08-30 16:51] #1523 closed

[2018-08-30 17:15] BenEmdon opened #1527 "Make a cron job that cleans up any cleans up any invitations in bad states"

[2018-08-30 20:49] #1492 closed

[2018-08-31 13:40] astutiwidi opened #1529 "Login error when tried to access forum"
##
### Issue
#### What you were trying to do ?
_I tried to access https://education.github.com/forum ..._

#### What happened (include screenshot if you can) ?
_Login error ..._
![github login error](https://user-images.githubusercontent.com/39181853/44915776-107da180-ad5e-11e8-8e87-3dafb251f9fc.JPG)

#### Step-by-step reproduction instructions
I was on https://classroom.github.com/classrooms and

[2018-08-31 13:47] clwyatt opened #1530 "Assignment invitation links either return 500 or import hangs"
##
### Issue
#### What you were trying to do ?
On August 30 at approx 11 am around 50 students where trying to accept an assignment invitation for an in class assignment. They were provided with the link that they were clicking on in their browsers.

#### What happened (include screenshot if you can) ?
For about 30/50 of them the link showed a 500 Server Error code, or the import hung. In the latt

[2018-08-31 13:53] BenEmdon commented on #1530
Hey @clwyatt 👋 thanks for writing in.

Yesterday we experienced some downtime after there was a unexpected problem with our hosting service (Heroku). Fortunately we found a workaround within the hour, and hopefully it doesn't happen again.

Classroom should behave as expected. If you experience any unexpected behavior please open another issue.

I'll close this issue since we resolved the downtime

[2018-08-31 13:53] #1530 closed

[2018-08-31 13:56] BenEmdon commented on #1529
Hey @astutiwidi,
this problem doesn't appear to be related to GitHub Classroom, but is rather related to the GitHub Education Community site.

To get support for that site please contact GitHub support at
https://github.com/support

[2018-08-31 13:56] #1529 closed

[2018-08-31 14:29] d12 opened #1532 "test"
test

[2018-08-31 14:29] #1532 closed

[2018-08-31 14:37] #1509 closed

[2018-08-31 17:17] rv-cadams opened #1533 ""creating repository" indefinitely loads and never creates the project"
**Describe the bug**
External Users Pulling Project; candidates click on the link to create a repo and "creating repository" indefinitely loads and never creates the project. The repository set-up bar is half loaded and never comes to resolution so candidates cannot work on the Scoring Project.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '

[2018-08-31 17:27] BenEmdon commented on #1533
Hey @rv-cadams 👋 thanks for writing in. Does it look like this:

Also for some context:
* are you seeing any error messages?
* if you have a link to the assignment would you mind providing it?
* Does the loading ever end?
* What happens when the user refreshes the page?

This might be related to #1502

[2018-08-31 17:38] rv-cadams commented on #1533
Thank you for getting back to me! Please find the picture attached. Additionally:

  *   No error messages
  *   Here is the link: https://classroom.github.com/a/1jq8TY3v
  *   The loading does not end, candidates wait 2+ hours, have tried different machines, and have tried refreshing
  *   When refreshed, it goes back to the same view with no change.

[ignature_1745433566]
Caroline Adams
Senior R

[2018-08-31 17:53] BenEmdon commented on #1533
I have identified the problem and I am working to resolve it now.
Sorry for the inconvenience!

[2018-08-31 18:37] rv-cadams commented on #1533
Awesome, thank you!

[ignature_1440279369]
Caroline Adams
Senior Recruiter, Software Engineering
1101 Red Ventures Drive
Fort Mill, SC 29707
704-612-0476 direct line
704-971-2300 main
cadams@redventures.com<mailto:cadams@redventures.com>
www.redventures.com<http://www.redventures.com/>

[ignature_643036191]

From: Ben Emdon <notifications@github.com>
Reply-To: education/classroom <reply@reply.gith

[2018-08-31 19:14] #1533 closed

[2018-08-31 19:15] BenEmdon commented on #1502
This issue has since been resolved after we fixed this bug #1534

[2018-08-31 19:15] #1502 closed

[2018-08-31 19:15] BenEmdon commented on #1502
If you continue to experience this bug please reopen the issue.

[2018-08-31 19:17] BenEmdon commented on #1533
We just deployed a fix . I tried out your invitation link and everything looked good.
Thanks again for all the details 😄

If you feel that the issue is still happening please reach out again and re open this issue.

[2018-09-01 03:36] eblanton commented on #1517
I also have a student who encountered this.  I had to manually create his repository/etc.

[2018-09-02 14:29] djlin opened #1535 "Cannot create repo and accept assignments"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
I tried to create a new assignment and accept the existing assignments.

#### What happened (include screenshot if you can) ?
I created new personal token and changed the default organization member's permission (from None to Adm and others) to test the GitHub API. After than, I was unable to create/a

[2018-09-02 20:40] #1535 closed

[2018-09-02 20:43] djlin commented on #1535
Just figured out the problem was caused by the removal of Classroom access to my Organization. Once added it back, the problem is resolved.

[2018-09-03 03:44] BenEmdon commented on #1535
Hey @djlin 👋 thanks for writing in.
Glad you figured it out before we had a moment to investigate 🎉

[2018-09-04 19:01] wz337 opened #1536 "Source import (Starter Code Import) API is down"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
_I tried to create a new assignment ..._

#### What happened (include screenshot if you can) ?
_The assignment was not created ..._

#### Step-by-step reproduction instructions
Please provide as much explanations as you can, reproduce a bug is the first step to write a fix :raised_hands:

##
### Featu

[2018-09-04 19:05] gchallen commented on #1536
I'm seeing dozens of failed repository creations. Is this a general GitHub Classroom problem or something about our organization? (We have ~4500 private repositories already, but I did request many more than that.)

[2018-09-04 19:27] BenEmdon commented on #1536
Hey @wz337 @gchallen 👋

We have identified the problem, it appears part of GitHub's API is down. The team responsible for the outage is currently responding. Sorry for the inconvenience.

I'll post back with updates.

[2018-09-04 19:29] gchallen commented on #1536
👍

[2018-09-04 20:23] sbailey6 opened #1537 "Students can't clone a repository from an acceptance link"
**Describe the bug**
I made an individual assignment, using starter code from a private repository I created. Last week, the acceptance link worked fine, but today, when students went to use the acceptance link in a later lab section, the following error occurred.

![image](https://user-images.githubusercontent.com/11618866/45055310-6f446300-b05d-11e8-9f24-f3f93dcf7994.png)

I had to keep retrying

[2018-09-04 20:29] BenEmdon commented on #1537
Hey @sbailey6

We have identified the problem, it appears part of GitHub's API is down. The team responsible for the outage is currently responding. Sorry for the inconvenience.

I'll post back with updates.

[2018-09-04 20:30] gchallen commented on #1536
@BenEmdon : any idea on an ETA for this, even in terms of minutes v. hours? I have the better part of 900 students banging against GC and I want to make a call about what to do...

[2018-09-04 20:43] BenEmdon commented on #1536
Hey @gchallen,

The problem appears to be that that there was a influx of code imports, which caused the service to throttle GitHub. It will take a while before the queues of jobs die down.

We can't really say at this point. I'd estimate 1-2 hours for the situation to improve. I'll continue with updates here.

[2018-09-04 20:47] BenEmdon commented on #1537
The problem appears to be that that there was a influx of code imports, which caused the service to throttle GitHub. It will take a while before the queues of jobs die down.

We can't really say at this point. I'd estimate 1-2 hours for the situation to improve. I'll continue with updates here.

[2018-09-04 20:51] gchallen commented on #1536
Fair enough. Should I shut down the invitation link in the mean time to avoid generating more traffic?

[2018-09-04 20:54] DbCrWk commented on #1537
Having the same issues—thanks for responding so fast!

[2018-09-04 20:58] BenEmdon commented on #1536
Up to you 🙂 it would definitely send your students the right message if you do so.

[2018-09-04 20:59] gchallen commented on #1536
Hmm... OK. Well, right as I said that things seem to have improved.

[2018-09-04 21:17] gchallen commented on #1536
OK, shut off. Can you ping us when this is fully resolved? I guess my students will be able to thank GitHub for a small extension 😉.

[2018-09-04 21:36] BenEmdon commented on #1536
@gchallen we investigated and it looks like it was your token was the reason for the large influx of users 😅 The situation has since improved (not fully).
We have an idea on how to quickly support classes the size of yours (we don't often have 900 students in a single classroom accept a assignment).
I apologize for the inconvenience, I will investigate a more stable solution right away.

[2018-09-04 21:47] gchallen commented on #1536
OK great. So is it safe to turn the link on again? Happy to provide more information about this as needed. I'm surprised it was such a huge influx, given that we released the assignment last night. But we have labs today and tomorrow and our TAs are pushing students to get started.

[2018-09-04 21:49] BenEmdon commented on #1537
The problem appears was that starter code imports were being throttled by GitHub.com
The situation has improved slightly in the last 30 min. As we have reduced the import traffic.
I have a longer term solution in mind about how we will avoid throttling 🙂
I'll continue to  keep this thread posted with updates.

[2018-09-04 22:11] umasshokie commented on #1537
Does this mean that we can tell students to try to create their repositories again? This caused us mass havok in our intro courses this afternoon, which of course isn't great to convincing students that GitHub is worth their time (but we'll still try). Don't want to tell them it works too soon though.

[2018-09-04 22:15] BenEmdon commented on #1537
It looks like everything has calmed down for now. Please write in if the problem persists for you.

[2018-09-04 22:15] BenEmdon commented on #1536
It looks like everything has calmed down for now. Please write in if the problem persists for you.

[2018-09-04 22:16] danwallach commented on #1537
We ended up with half of the class in and half of the class out. The painful workaround is to create new repos manually with the right names, manually push to the new repo from your PC, and then manually give the student write-access to their repo. Takes about two minutes per student, and you've got about a 10% chance of some sort of typo making you have to rewind and do everything from scratch.

[2018-09-05 00:53] #1536 closed

[2018-09-05 00:54] BenEmdon commented on #1537
The issue has been resolved. If you experience it again, please reopen this issue.

[2018-09-05 00:54] #1537 closed

[2018-09-05 00:56] BenEmdon commented on #1536
We merged a change that should reduce the chance of this happening again. We will focus our efforts in finding the most scalable approach so that incidents like this don't happen again.

Again, apologies for the inconvenience. If you continue to experience problems please reopen this issue.

[2018-09-05 16:08] BenEmdon opened #1540 "ffi vulnerability"
### Feature request :sparkles:
Bump ffi version
<img width="737" alt="screen shot 2018-09-05 at 12 06 41 pm" src="https://user-images.githubusercontent.com/11095731/45106256-37dcc180-b104-11e8-8de0-b8bcc06fca12.png">

[2018-09-05 20:31] mikiehan opened #1542 "Github classroom importing repo fails"
I am using cbu-egr222-fa18 org account and created an assignment.
However the import of "cbu-egr222-fa18/test-assignment" is failing when a student accepts the invitation.

I have just one simple test.txt in the starter code. I also created test2-assignment but it also fails. Below are what my students sent me what they see from their view.

![image](https://user-images.githubusercontent.com/13935

[2018-09-05 20:36] BenEmdon commented on #1542
Hey @mikiehan 👋  thanks for writing in!
What happens when your students press the `Retry repository setup` button on GitHub classroom?

[2018-09-05 20:38] BenEmdon commented on #1542
Would you mind linking me to the source repo? (the template repo that assignments are made out of)
Would you mind linking me to the assignment? (as if I were one of your students)

[2018-09-05 20:43] mikiehan commented on #1542
https://classroom.github.com/a/lB7gk-eC
This is the invitation link

[2018-09-05 20:45] mikiehan commented on #1542
The same thing happens when they press "Retry repository setup" button. I've just added you as the collaborator for the template repo, which has just one file test.txt

[2018-09-05 20:47] mikiehan commented on #1542
This is another screenshot that my students set me
![image](https://user-images.githubusercontent.com/13935460/45120184-4500ad00-b112-11e8-9df3-114b775464bb.png)

[2018-09-05 21:03] BenEmdon commented on #1542
The problem appears to be happening on GitHub.com, I have notified the responsible teams and we are investigating.

[2018-09-05 21:10] BenEmdon commented on #1542
@mikiehan would you mind adding @dpmex4527 as a collaborator to your source repo?

[2018-09-05 21:19] mikiehan commented on #1542
Just did

[2018-09-05 22:15] bvelez opened #1543 "Students suddenly cannot import repo into their assignments after many students completed their assignments successfully"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
Offer a coding lab section using a GitHub Classroom assignment

#### What happened (include screenshot if you can) ?
After many students were able to create their assignment, Classroom begin giving this error:

![githubclassroomerror](https://user-images.githubusercontent.com/5605641/45124109-1ea13880