[2018-09-05 23:55] #1540 closed

[2018-09-05 23:59] BenEmdon commented on #1543
Hey @bvelez 👋  thanks for writing in.
It appears that your classroom accepted all the assignments quickly leading to your token getting rate limited.

If you get the students affected to accept their assignments an hour after an hour the problem may go away. Keep me updated if this problem persists. We are looking into a solution now.

[2018-09-06 04:27] mikiehan commented on #1542
I am sorry but what does #1544 mean?

[2018-09-06 07:52] mikiehan commented on #1542
I am sorry but what does #1544 mean?

[2018-09-06 07:53] mikiehan commented on #1542
Still my students are having issues doing import. The starter file contains a very simple test.txt. I hope to use it by next week for my assignment.

[2018-09-06 14:20] BenEmdon commented on #1542
We have identified a possible work around. @mikiehan you will have to try the following steps:
* log out of GitHub.com
* go to https://import.github.com/login and login again

This should regenerate your import token and allow your students to continue importing.
Please let me know if this works.

[2018-09-06 14:22] BenEmdon commented on #1543
We have identified a possible work around. @bvelez you will have to try the following steps:
* log out of GitHub.com
* go to https://import.github.com/login and login again

This should regenerate your import token and allow your students to continue importing.
Please let me know if this works.

[2018-09-06 15:04] mikiehan commented on #1542
What should I put in below screen?
![image](https://user-images.githubusercontent.com/13935460/45166267-78dbe100-b1ab-11e8-935a-71e1c75547fd.png)

[2018-09-06 15:05] mikiehan commented on #1542
what is the clone URL and the new repo detail that I need to put in?

[2018-09-06 15:30] srinjoym commented on #1479
@mozzadrella Here is a screenshot of the tweaks @brandonrosage made to the page. What are your thoughts?

![screencapture-localhost-5000-2018-09-06-10_29_07](https://user-images.githubusercontent.com/7866060/45167932-cbbf9380-b1bf-11e8-8d0a-b96e546c9488.png)

[2018-09-06 15:42] mozzadrella commented on #1479
@brandonrosage you are a magician.

[2018-09-06 16:01] Tanner164 opened #1545 "project 1"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
_I tried to create a new assignment ..._

#### What happened (include screenshot if you can) ?
_The assignment was not created ..._

#### Step-by-step reproduction instructions
Please provide as much explanations as you can, reproduce a bug is the first step to write a fix :raised_hands:

##
### Featu

[2018-09-06 16:02] Tanner164 commented on #1545
I dont want to get a bad grade in this class

[2018-09-06 16:35] BenEmdon commented on #1542
Once you logged in again, you should be fine. (Logging in on https://import.github.com/login reauthorized your import token)
Classroom should behave as expected again 🙂

[2018-09-06 16:45] BenEmdon commented on #1545
Hey @Tanner164,
The information you gave us isn’t sufficient for a big report. Please report your problem to your professor/TA/teacher.
Please open a new issue with a more details. Sorry for your inconvenience.

[2018-09-06 16:45] #1545 closed

[2018-09-06 17:17] mozzadrella commented on #1479
@srinjoym a few tweaks:
1. H2 in "Why Try Classroom" first paragraph typo "straight to the material."
2. Please strike the paragraph "You're not alone."
3. In the paragraph "Download all repositories" please insert:
**Download all repositories with the click of a button**
When you're ready to grade, download assignments to your machine from GitHub Classroom, or use our new desktop client, Classroo

[2018-09-06 17:19] ejgutierrez74 commented on #595
+1 I also want to add my support of @Badlapje 's vision of GitHub Classroom organization.
Is there any updates/news improvements in this request ?

[2018-09-06 17:26] mozzadrella commented on #1479
Classroom Assistant page:

Classroom Assistant
Download all of your Classroom assignments in one click.
Classroom Assistant is a desktop application to help you get student repositories for grading.

Below the screenshot.
Classroom is open source. Please file any bug reports or feature requests in the Classroom repository 💖.

[2018-09-06 18:03] gkapfham commented on #1543
Hello @BenEmdon, thanks for posting this workaround. Someone from GitHub Education also sent me the same point by Twitter. Again, thanks. I start my laboratory session in a few minutes and thus I have to be brief. I have some questions which I will write out separately:

- To clarify, is it enough for me to go to this mentioned site and login or do I actually need to do an import for each student

[2018-09-06 19:04] BenEmdon commented on #1543
Hey @gkapfham thanks for writing in on this thread,

All you need to do is login on https://import.github.com/login. That will regenerate your source import token so that classroom can perform imports on your behalf. You won't need to perform an import for each student (that's Classrooms job 😄).

While I don't think that so few students will cause the problem, if the problem does occur, all you ne

[2018-09-06 19:11] BenEmdon commented on #1542
Once you logged in on https://import.github.com/login, your import token will be regenerated. After you log in classroom should behave as expected. You won't need to perform any imports manually yourself.

Once you see this screen you are done. You can leave the page and continue about your day.

[2018-09-06 19:12] BenEmdon commented on #1542
Please let us know this this problem occurs again, or if this workaround doesn't solve the problem.

[2018-09-07 19:01] jlinseman commented on #1156
Any updates on this issue. Its almost been a year.

[2018-09-07 20:53] jagodwin opened #1549 "Group Created in Organization but not Classroom"
I created a Group assignment in classroom and linked it to a repository in our class organization. I received three notifications from classroom that new imports into a repository had been created automatically by classroom. When I opened classroom to verify that each one corresponded to a group, I found that only two of the teams exist in classroom. However, all three are present in the classroom

[2018-09-09 21:47] BenEmdon commented on #1549
Hey @jagodwin 👋 thanks for writing in!
Interesting, sounds like something is behaving unexpectedly.
Would you mind providing a link to the GitHub classroom affected and the GitHub organization where the problem occurred?

Currently there isn't a way link a team to a classroom at this point.

[2018-09-10 17:46] BenEmdon opened #1550 "Download repositories button breaks responsive design on mobile"
**Screenshots**
<img src="https://user-images.githubusercontent.com/11095731/45314327-69d49600-b4ff-11e8-932c-98d51b71a32a.PNG" height="800px">

[2018-09-10 19:25] BenEmdon opened #1551 "Change `/setupv2` routes to `/setup`"
### Where the routes are:
https://github.com/education/classroom/blob/master/config/routes.rb#L38
https://github.com/education/classroom/blob/master/config/routes.rb#L51

[2018-09-10 19:27] srinjoym commented on #1550
👀 whoops, thanks for catching that!

We should probably just be hiding this button on mobile because they wouldn't be able to use Classroom-Assistant. Will look into how to do that

[2018-09-10 20:38] BenEmdon opened #1552 "Remove `repo_url` from the setup process"
We don't want to show students where their repository is until it's fully created and imported.

[2018-09-11 20:33] #1503 closed

[2018-09-11 20:51] #1552 closed

[2018-09-12 00:06] johndbritton opened #1556 "Gracefully handle Elasticsearch availability issues"
We need to remove the hard dependency on Elasticsearch, if the service goes down Classroom should remain useable.

See this PR for details of the hard dependency: https://github.com/education/classroom/pull/1555

My recommended solution is to move the `update_index` calls into background jobs.

[2018-09-12 13:07] Magistern commented on #595
I just want to add my voice to this matter. We have ben using GitLab on a self hosted server before and there you organize your "classes" using projects.

I second the idea of having 1 organization (the school)
...having multiple teams/departments/subjects/professors
...having multiple classrooms
...having multiple annual versions.
...having multiple assignments.

That way, We would have the organ

[2018-09-12 14:55] ejgutierrez74 commented on #595
I think it would be clearer:

Jönköping University ( organization)
        Client-side programming 17 ( subject with year or course 18/19)
          Optionally this course/subject could have one or many classrooms ( ex: one in the mornings, one in the afternoon). Perhaps a university course with 200 students, could be divided in 4 clasrooms with 50 students each and with teachers assgined to each

[2018-09-12 17:25] BenEmdon opened #1557 "ActionView::Template::Error"
**Needle**: https://haystack.githubapp.com/classroom/needles/AsBaGppbwzqKVtXw1AY1mw
**Rollup**: https://haystack.githubapp.com/classroom/rollups/ca03c1cfe61e26e5c812a5771f45c403

[code]

<table>
  <thead>
    <tr>
      <th>attribute</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>action</td>
      <td>show</td>
    </tr>
    <tr>
      <td>cause</td>
      <td><pre>Far

[2018-09-12 17:26] gkapfham commented on #1117
Hi @PatWg, I wanted to write to confirm that I am also seeing this error in exactly the same situation.

[2018-09-12 17:34] drmarcopapa opened #1558 "Roster Managegement down"
Please choose either _issue_

##
### Issue
#### What you were trying to do ?
_I tried to access Roster Management for
https://classroom.github.com/classrooms/39249536-web-technologies-fall-2018

#### What happened (include screenshot if you can) ?
_error 500 Internal Server error
![screen shot 2018-09-12 at 10 32 01 am](https://user-images.githubusercontent.com/39249407/45442623-59472b80-b677-11e8

[2018-09-12 17:52] srinjoym commented on #1479
@mozzadrella Here's my updated version of the homepage. @brandonrosage I just realized you also pushed an update to blur the cards, let me know if this version works as well

1. Fixed all the issues with the links and typos (I think)
2. Modified the cards with a blur + darken so that it's easier to read the quotes
3. New visualization with the stats for teachers + repos created. @mozzadrella and @

[2018-09-12 18:34] d12 commented on #1558
@drmarcopapa We've just deployed a fix, would you mind trying again and letting us know if it works?

[2018-09-12 18:36] #1557 closed

[2018-09-12 18:48] drmarcopapa commented on #1558
Nope. Tried with both Firefox and Chrome. Same error 500.

Marco Papa, Ph.D.
Adjunct Assistant Professor of Computer Science Practice
Computer Science Department
University of Southern California
941 Bloom Walk
Los Angeles, California 90089-0781
Voice: +1-213-830-0120<http://s.wisestamp.com/links?url=tel%3A%252B1-213-974-2137&sn=cGFwYS5tYXJjb0BnbWFpbC5jb20%3D> Cell: +1-310-944-5468<http://s.wisest

[2018-09-12 18:52] BenEmdon opened #1560 "ActionView::Template::Error"
**Needle**: https://haystack.githubapp.com/classroom/needles/QgNiW5hdkM-QlsuhcAFmCA
**Rollup**: https://haystack.githubapp.com/classroom/rollups/ed6322f70b6c8f6c702655b4ab4f3348

[code]

<table>
  <thead>
    <tr>
      <th>attribute</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>action</td>
      <td>show</td>
    </tr>
    <tr>
      <td>cause</td>
      <td><pre>NoM

[2018-09-12 19:42] BenEmdon commented on #1558
Hey @drmarcopapa, just deployed another fix.
Would you mind taking another look?

[2018-09-12 19:44] drmarcopapa commented on #1558
That worked!! Thanks.

Marco Papa, Ph.D.
Adjunct Assistant Professor of Computer Science Practice
Computer Science Department
University of Southern California
941 Bloom Walk
Los Angeles, California 90089-0781
Voice: +1-213-830-0120<http://s.wisestamp.com/links?url=tel%3A%252B1-213-974-2137&sn=cGFwYS5tYXJjb0BnbWFpbC5jb20%3D> Cell: +1-310-944-5468<http://s.wisestamp.com/links?url=tel%3A%252B1-310-9

[2018-09-12 19:46] BenEmdon commented on #1558
Glad to hear 🎉 Thanks for reporting this!
Closing this for now. If you run in to any more issues, open a new issue.

[2018-09-12 19:46] #1558 closed

[2018-09-12 19:58] bradleygoldmeier opened #1562 "cannot join classroom"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
i tried to join a github classroom.
my teacher sent me this link  https://classroom.github.com/a/JdxDX-uI
and when i clicked it github started to try to make a new repo but ut just keeps waiting

#### What happened (include screenshot if you can) ?
nothing happened (thats the issue. a repo was suppose

[2018-09-12 20:55] BenEmdon commented on #1562
Hey @bradleygoldmeier, I just took a look and it looks like your assignment was created (just took some time).
Mind going back tohttps://classroom.github.com/a/JdxDX-uI to confirm your assignment exists?

[2018-09-12 21:35] PatWg commented on #1117
@gkapfham Wait, but I thought that your problem got fixed ? Did it come back again?

[2018-09-12 21:37] PatWg commented on #1117
Huh, actually, I just checked my roster now, and everything is in order.
Do we just need to wait a bit actually?

[2018-09-12 22:06] Magistern commented on #595
Sure, as I suggested, if we could just create and organize our categories and their hierarchical relationships our selves, we could create a structure that fits each organization, big or small.

So, taxonomies would be easy to implement, no fuzz about how it should be organized. Everyone does it their way.

GitHub already have a non hierarchical taxonomy structure; Topics, so implementing it
Would

[2018-09-13 13:58] mozzadrella opened #1563 "Standup 17 September 2018"
# Agenda

1. User testing @courtkh

- discrete project: the onboarding and creating assignments process
- aim to focus on usability of the experience
- where can something use design love / what exactly is confusing
- power users
- @courtkh: skim all the open issues

2. CI @mozzadrella @johndbritton @d12's master plan (related https://github.com/education/classroom/issues/582)

3. Design review of

[2018-09-13 14:08] mozzadrella commented on #1479
Design feedback for our Monday meeting:
- Overall, design-wise it is feeling to me like a wall of text with little connection to what Classroom actually *does*--I've tried to solve this problem with copy and I'm not sure I've nailed it. @brandonrosage ideas? Would icons and breaking up the different features help? (I may or may not be thinking of [a certain visual walkthrough of a product](https:/

[2018-09-13 15:57] jfiksel commented on #595
I agree with Johan here, this seems like a reasonable way to organize this. The way we've been getting around this is by having a master organization ([described here](https://github.com/jfiksel/github-classroom-for-teachers)) for a given class that has all of the base assignments, and then re-using or adding to these assignments for each new class (organization). So in addition to what Johan has

[2018-09-13 17:30] BenEmdon commented on #1549
Hey @jagodwin,
After investigating with my team we think that this behavior is related to one of the outages we experienced earlier this week. We don't expect this behavior to happen again.

### Work arounds you can do
<ol type="a">
  <li>You could continue to let these students work on the repo they already have access to on GitHub.com. This would require you to manually monitor the repo and keep

[2018-09-13 17:30] #1549 closed

[2018-09-13 23:04] bradleygoldmeier commented on #1562
thank you so much for all your help. have a wonderful weekend
    On Wednesday, September 12, 2018, 4:55:40 PM EDT, Ben Emdon <notifications@github.com> wrote:

Hey @bradleygoldmeier, I just took a look and it looks like your assignment was created (just took some time).
Mind going back tohttps://classroom.github.com/a/JdxDX-uI to confirm your assignment exists?

—
You are receiving this because y

[2018-09-14 09:19] rguillome opened #1566 "Link for admin invitation ends with 404"
### Issue
#### What you were trying to do ?
I trying to join a classroom as an admin from an invitation link

#### What happened (include screenshot if you can) ?
My collegue sends me link to be admin on a classroom but after subscribing to the classroom service I cannot access the classroom : the link ends with a HTTP 404 status.

#### Step-by-step reproduction instructions
. Click on the link :

[2018-09-14 14:48] #1562 closed

[2018-09-16 19:16] BenEmdon opened #1569 "ES search alternative"
Right now we don't have ES due to a service outage.

## Alternatives
Moving forward we need to fix staff tool search for debugging purposes. Alternatives to consider:
* Use Postgres [Full Text Search](https://www.viget.com/articles/implementing-full-text-search-in-rails-with-postgres/)
* Another ES [service provider](https://elements.heroku.com/addons#search)

## Urgency
Fortunately we are still a

[2018-09-16 19:18] BenEmdon commented on #1556
I could pick this up, lets discuss it (and timeline) in our standup.

[2018-09-16 19:21] rkomorn opened #1570 "Repository import occasionally hangs for dozens of minutes."
**Describe the bug**
Import

**To Reproduce**
Steps to reproduce the behavior:
1. Accept an assignment
2. Wait for assignment to be cloned.

https://github.com/hackbrightassessments/skills-object-orientation-salazardenise was the result of accepting an assignment before 12:06pm today, but by 12:16 it was still in the process of being set up. I had to cancel it so our student could get started on t

[2018-09-17 12:53] johndbritton commented on #1570
@rkomorn We recently changed the way repository creation is handled which should result in a much quicker and more reliable experience.

@BenEmdon can you take a look at this and see what might have been the cause?

[2018-09-17 12:55] johndbritton commented on #1570
Specifically, it'd be good to know what caused the slow creation, a few things I might guess:

* The import job started and completed, but we missed the `complete` webhook event
* The import job took a long time (not Classroom) and we should escalate the issue to our platform team.

[2018-09-17 13:30] BenEmdon commented on #1570
@rkomorn when you said:

Did you mean that you stopped the source import manually by clicking `cancel`?
![image](https://user-images.githubusercontent.com/820984/45320204-dbf4ad00-b4f6-11e8-8097-afca5bc259ab.png)

If not, what did you do specifically to cancel the creating the assignment?

[2018-09-17 13:32] rkomorn commented on #1570
@BenEmdon Precisely that button, yes.

[2018-09-17 13:45] BenEmdon commented on #1570
It appears that the problem was a that the import job took a long time. Like @johndbritton said, this isn't handled by the Classroom team so we will have to escalate the problem to our platform team.

To give you some context on this issue, the source importer queues repository imports. This means if theres a high load of repository imports, the source importer will take some time to work its way

[2018-09-17 13:49] rkomorn commented on #1570
@BenEmdon Will do. Just to be clear, when you talk about a high load of repo imports, you're talking about globally having a lot of requests for imports, right? Not with our repo importing too much stuff (since it's importing a single file)?

[2018-09-17 14:07] BenEmdon commented on #1570
Yes, I mean the global volume of import requests. A single file import such as yours shouldn't take so long to import.

[2018-09-17 17:02] johndbritton commented on #1570
I'm going to close this issue as we've identified the source and escalated via the appropriate internal channel. This was not an issue with GitHub Classroom, it was a load issue on the GitHub Source . mport API.

@rkomorn thanks very much for reporting this.

[2018-09-17 17:02] #1570 closed

[2018-09-17 18:51] srinjoym commented on #1479
Just dropping a screenshot of the desktop page updates I have made here, we can discuss more in the standup today!
![screencapture-localhost-5000-assistant-2018-09-17-13_51_12](https://user-images.githubusercontent.com/7866060/45643460-c5af9980-ba80-11e8-90f4-6141e662e030.png)

[2018-09-17 19:02] #1551 closed

[2018-09-17 19:04] johndbritton commented on #1479
@srinjoym You might want a <kbd>Back to Classroom</kbd> at the bottom of that page in the Classroom section.

[2018-09-18 05:20] djibouti33 opened #1575 "Can not add specific user as a collaborator to assignment."
### Issue
#### What you were trying to do ?
We're using GitHub classroom to facilitate coding challenges for prospective candidates. We tested internally and everything worked. I sent the assignment link to a few candidates and that seems to have worked well too.

#### What happened (include screenshot if you can) ?
We sent to one candidate today and they were not able to load the project. Receive

[2018-09-18 07:15] bessermt opened #1576 "Cannot make this private assignment, your limit of 0 repositories has been reached. You can request a larger plan for free at https://education.github.com/discount"
##
### Issue
#### What you were trying to do ?
_I tried to create a new assignment ..._

#### What happened (include screenshot if you can) ?
_The assignment was not created ..._

#### Step-by-step reproduction instructions
Please provide as much explanations as you can, reproduce a bug is the first step to write a fix :raised_hands:

Just get the following message:

Cannot make this private assig

[2018-09-18 07:32] labermt opened #1577 "Cannot make this private assignment, your limit of 0 repositories has been reached. You can request a larger plan for free at https://education.github.com/discount"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
_I tried to create a new assignment ..._

#### What happened (include screenshot if you can) ?
_The assignment was not created ..._

Message:

Cannot make this private assignment, your limit of 0 repositories has been reached. You can request a larger plan for free at https://education.github.com/disc

[2018-09-18 07:39] labermt opened #1578 "No Links"
### Issue
#### What you were trying to do ?
_I tried to create a roster entry ..._

#### What happened (include screenshot if you can) ?
_The assignment was not created ..._

Message:

![image](https://user-images.githubusercontent.com/26236731/45671787-3edbda80-badb-11e8-86fd-420cf501ab6b.png)

[2018-09-18 07:54] labermt opened #1579 "labermt@gmail.com or upload proof of your current school affiliation"
Please choose either _issue_ or _feature request_

##
### Issue
#### What you were trying to do ?
Create school email

#### What happened (include screenshot if you can) ?
Unable to create a school email. Entered, but never shows.

#### Step-by-step reproduction instructions
Please provide as much explanations as you can, reproduce a bug is the first step to write a fix :raised_hands:

[2018-09-18 13:56] johndbritton commented on #1575
I can't access your screenshot.

[2018-09-18 13:57] johndbritton commented on #1576
Your account doesn't have private repositories, you can request free private repositories for educational use at https://education.github.com/discount.

Alternatively, you can use public repositories.

[2018-09-18 13:57] #1576 closed

[2018-09-18 13:57] johndbritton commented on #1577
Your account doesn't have private repositories, you can request free private repositories for educational use at https://education.github.com/discount.

Alternatively, you can use public repositories.

[2018-09-18 13:57] #1577 closed

[2018-09-18 13:58] johndbritton commented on #1578
I'm closing this issue as not enough details were provided. If you choose to re-open, please be sure to include a full description with steps to reproduce.

[2018-09-18 13:58] #1578 closed

[2018-09-18 13:58] johndbritton commented on #1579
I'm closing this issue as not enough details were provided. If you choose to re-open, please be sure to include a full description with steps to reproduce.

[2018-09-18 13:58] #1579 closed

[2018-09-18 13:59] johndbritton commented on #1575
Can you please email `education@github.com` and reference this issue to specify the user that is having problems privately.

[2018-09-18 14:32] BenEmdon opened #1580 "Show teachers their plan constraints in the assignment creation screen"
### Feature request :sparkles:
This was initially implemented in https://github.com/education/classroom/pull/924
And reverted in https://github.com/education/classroom/pull/944

[2018-09-18 17:41] BenEmdon commented on #1569
Went with elasticsearch.

[2018-09-18 17:41] #1569 closed

[2018-09-18 17:46] #1494 closed

[2018-09-19 14:53] brandonrosage commented on #1479
**RE: Wall of text**

Generally speaking, I think these web pages are missing illustrations of the product in use. Basically, a smaller-scale version of what https://github.com/features is doing. Or, you know, what that knucklehead at Ushahidi did to their homepage 😛

[2018-09-19 16:37] BenEmdon commented on #1563
@mozzadrella what does one usually do with agenda issues? When should we close this?

[2018-09-19 16:38] #1563 closed

[2018-09-19 17:37] djibouti33 commented on #1575
Thanks @johndbritton! I sent an email yesterday and also included the screenshot.

[2018-09-19 19:46] BenEmdon opened #1584 "Elasticsearch::Transport::Transport::Errors::BadRequest"
Elasticsearch::Transport::Transport::Errors::BadRequest

**[Elasticsearch::Transport::Transport::Errors::BadRequest](https://haystack.githubapp.com/classroom/rollups/b8d755b0dcb88a985d017fb14a8ba665)** &mdash; First occurred on 2018-09-19 10:07:30 -0700

[code]

*Brought to you by Haystack's `!` hotkey.  Try it on a needle or rollup today!*

[2018-09-19 19:47] BenEmdon opened #1585 "Chewy::UndefinedUpdateStrategy"
Chewy::UndefinedUpdateStrategy

**[Chewy::UndefinedUpdateStrategy](https://haystack.githubapp.com/classroom/rollups/634135b9ba95dbeafe83bd076d637845)** &mdash; First occurred on 2018-09-19 10:05:27 -0700

[code]

*Brought to you by Haystack's `!` hotkey.  Try it on a needle or rollup today!*

[2018-09-19 21:30] johndbritton commented on #1575
@djibouti33 I'm not ignoring this issue, but I need to wait for https://github.com/education/classroom/pull/1574 to be deployed before I can investigate the details of what are causing this further.

I have not been able to find this email that you sent. Did you send it to `education@github.com`, reference this issue, and mention me by name?

[2018-09-20 02:32] edmundmok opened #1586 "Successful invitations can be reaccepted"
**Describe the bug**
Invitations that have already been accepted before can be reaccepted through the same link, causing a duplicate repository to be created. Possibly related to #1462.

**Expected behavior**
Only one repository should be created the first time the invitation is accepted.

[2018-09-20 03:36] BenEmdon commented on #1586
Thanks for writing in, I’ll investigate when I get some time 👀

[2018-09-21 18:30] BenEmdon opened #1589 "Don't show download repo button unless there assignment repos"
See https://github.com/education/classroom-assistant/issues/71#issuecomment-423628486 for details

[2018-09-21 22:53] xPointless opened #1590 "Can't connect to classroom"
**Describe the bug**
I end up on a screen that says "Whoa there! You have triggered an abuse detection mechanism. Please wait a few minutes before you try again."

**To Reproduce**
Steps to reproduce the behavior:
1. When I try to access a link to classroom, it asks for authentication.
2. By pressing the button that allows classroom to have permissions, the browser loads and refreshes in a loop un

[2018-09-22 02:42] rkomorn opened #1591 "Starter code imports slow down sporadically"
**Describe the bug**
Sometimes, after accepting an assignment, the process hangs during import. I've reported this a couple of times already. This time, the repo was https://github.com/hackbrightassessments/skills-flask-Lumicran , around 6:47pm PDT (and still hadn't completed by 7:30pm PDT).

**To Reproduce**
1. Accept assignment
2. Be unlucky
3. Hang, see screenshot below for a long amount of tim

[2018-09-22 02:43] rkomorn commented on #1591
This is a repeat of https://github.com/education/classroom/issues/1460 and https://github.com/education/classroom/issues/1570 .

[2018-09-22 02:55] rkomorn commented on #1591
Would having a repository that has no commit history prevent the importer from trying to do anything, and thus not fail?

[2018-09-22 04:09] rkomorn commented on #1591
While we're at it: does canceling the import eventually delete the repository? I originally thought it didn't, and provided that as a workaround for our students because the only import is a README of not much importance, but I noticed the repositories of some of our students who canceled vanished. I feel like I haven't seen that behavior before.

[2018-09-23 15:16] BenEmdon commented on #1590
Hey @xPointless, 👋 thanks for writing in.
The abuse detection mechanism should have timed out by now.
Mind trying to log in again and report back if you get stuck?

[2018-09-24 13:45] dmusican opened #1592 "Unchecking "enable assignment invitation URL" fails to stop URL from working"
**Describe the bug**
Unchecking "enable assignment invitation URL" has no effect. Even with the box unchecked, the link generated still works, and people can create new repos in the organization.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an assignment, and make sure check "enable assignment invitation URL" in the settings.
2. With a different GitHub account, verify that the URL

[2018-09-24 21:01] johndbritton commented on #1592
Thanks for reporting this issue @dmusican, we'll take a look and see what change might have introduced this bug.

[2018-09-24 22:13] #1584 closed

[2018-09-24 23:24] BenEmdon opened #1602 "Reindex rake task"
We need a rake task that makes a `commit` on every record of the following models:
The new indices are:
- Assignment
- AssignmentInvitation
- AssignmentRepo
- GroupAssignment
- GroupAssignmentInvitation
- GroupAssignmentRepo
- Group
- Grouping
- Organization
- RepoAccess
- User

The commit will automatically cause each record to reindex in elastic search.

[2018-09-25 14:07] johndbritton opened #1609 "Download link when OS detection fails"
When downloading GitHub Classroom Assistant from https://classroom.github.com/assistant, if you're on a non-supported OS there is no download button (for example ChromeOS).

We should have a default download button that takes the user to the release page or something like that if the OS cannot be detected.

[2018-09-25 19:49] Blackbaud-BobbyEarl opened #1611 "Creating classroom changes (without warning) organization's default repository permissions"
**Describe the bug**

When creating a classroom, the `org.update_default_repository_permission` is **changed** to `none`, as seen in: https://github.com/education/classroom/blob/cfa82c8608042709fc0ea806a5e18998f2393254/app/services/organization_default_repository_permission_migrator.rb#L73

We'd previously set this value to `read` and relied on this behavior.  Once this change went in to affect, i

[2018-09-25 21:41] johndbritton commented on #1611
Thanks for the report and apologies for the trouble.

This is required for Classroom to function. Without this setting repositories will not be kept private to individual students.

This makes sense. Additionally we should make it clear that we recommend using Classroom with a dedicated organization.

[2018-09-25 23:44] CorruptComputer commented on #1376
This is still an issue...

[2018-09-26 15:14] ejgutierrez74 commented on #1591
Me too happens this Tuesday at 16:00 ( Spain hour) with my students. Two of them were unlucky. The rest of them ( 12) worked fine.

+1

[2018-09-26 16:12] BenEmdon commented on #1591
Hey @ejgutierrez74 and @rkomorn can you confirm if their starter code imports eventually finished?

[2018-09-26 16:51] kevinwortman commented on #292
Could this please remain open? We desperately need at least the ability to remove a user from a group. Often a student will join a group by mistake and sorting this out is a major headache.

[2018-09-26 16:53] cboettig commented on #292
Yup, remains an issue for us as well

[2018-09-26 21:42] rkomorn commented on #1591
They did not. The resolution came from canceling and having new attempts finish quickly (ie: it stopped being broken).

[2018-09-27 16:28] gchallen commented on #1591
This seems to be happening again sporadically. I have one stuck now despite the fact that the process should complete fairly quickly.

[2018-09-27 18:05] BenEmdon commented on #1591
@gchallen @rkomorn @ejgutierrez74 my team and I are looking into possible solutions to the sporadic slowness. I'll keep this thread updated.

Sorry for the inconvenience.

[2018-09-27 18:54] ejgutierrez74 commented on #1591
@BenEmdon  @rkomorn  @gchallen My students told me the process didnt finish.. they go home and process havent finished....as told before the process should be almost instantly because the repos has only two text files with some tests ( not even 10 kb)

Perhaps solution would be to have a timer, and if in 60 seconds the process doesnt finish cancel and began again....or as i have read a cancel butt

[2018-09-29 12:36] gchallen commented on #1591
No further reports about this being an issue from our side, so maybe it's resolved? I second @ejgutierrez74's suggestion about making this cancellable.

[2018-09-29 17:38] bca-benise opened #1615 "Course sections"
### Feature request :sparkles:
_Please provide a description of the feature you would like Classroom to have_

We need a way to deal with both multiple courses taught, and multiple sections of the same course.

Giving this a shot - thanks for putting this together!

[2018-10-01 11:49] Rogue899 opened #1616 "importing starter project stuck"
i have followed a url link to github classroom page to import a project the importer is stuck on witing for hours

[2018-10-01 13:15] BenEmdon commented on #1616
Hey @Rogue899 👋
Could you please provide more info about the problem by filling out all the sections in the bug report at https://github.com/education/classroom/issues/new?template=bug_report.md
Please include screenshots and links.

Closing this due to lack of information. Please open a new issue with more details.

[2018-10-01 13:15] #1616 closed

[2018-10-01 18:27] BenEmdon commented on #1452
The feature is now complete and is hidden behind a beta flag.

[2018-10-01 18:27] #1452 closed

[2018-10-01 20:13] BenEmdon opened #1621 "Add `Message of the day` for intern positions"
### Feature request :sparkles:

- [ ] Fix message of the day styles. This can be tested locally by adding the env `MOTD="...."`
- [ ] Add a MOTD for open positions and/or hacktoberfest

[2018-10-02 07:38] jayvdb commented on #765
Dear bot, this is still highly desirable.

[2018-10-02 09:28] ejgutierrez74 commented on #1591
I could add that my students are stuck in importing an assignment. Its more than a week and if they clic on the assignments link again... it loads a page with imorting code and copying code.... So they cant turn back or start again to import the assignment from scratch...
Just if its worth to take a look to devs: this is the assignment link
https://classroom.github.com/a/hMFfiPZZ

One of this stud

[2018-10-02 14:05] Tanveerdhiman opened #1623 "importing starter code takes forever"
**Describe the bug**
importing starter code takes forever when accepting a assignment

**Screenshots**
![image](https://user-images.githubusercontent.com/17951930/46353850-ca786e00-c67a-11e8-8932-d46068ebd2c0.png)

**Additional context**
assignment link
https://classroom.github.com/assignment-invitations/217b811477799fc3887ab5b688249442

[2018-10-03 10:09] jtppragg commented on #1586
I also have this issue. During my first experience using GitHub Classroom most of my students ended up working with a duplicated repository (name ended with a number, ej. xxx-2) because of clicking the link several times, and GitHub Classroom only shows me the first repository (name not ended with -2, ej. xxx) so I cannot track their work from the assistant.

[2018-10-03 11:44] palves-ulht opened #1626 "Classroom roster - can't see original id in assignments"
### Feature request :sparkles:
I setup a classroom, using student IDs to fill the roster (nice feature, BTW!).

My assignment looks like this (you can see two student IDs: 21700000 and 21800000):
![image](https://user-images.githubusercontent.com/10359239/46408362-cf383300-c709-11e8-8a40-67c49110f7d4.png)

But when students accept the assignment and associate their github account with their studen

[2018-10-03 13:10] erikmd commented on #286
Dear GitHub classroom developers,

Even if the [classroom-assistant](https://github.com/education/classroom-assistant) tool is related to the feature requested in this issue, I think #286 would still deserve to be considered: it would indeed be great to be able to get the list of all Git URLs of a given assignment directly from the GitHub classroom interface. By "directly", I mean without needing

[2018-10-03 20:32] johndbritton opened #1627 "Flaky test"
There's a flaky test related to an unexpected HTTP request for creating a team on GitHub.

Details: https://github.com/education/classroom/pull/1625#issuecomment-426479545

[2018-10-04 11:06] ejgutierrez74 commented on #1591
As an update today seems that hector Jimenez has completed its import repository ( after two weeks). As i received a Github Notification:

![imagen](https://user-images.githubusercontent.com/11474846/46470204-1f7cc700-c7d6-11e8-8294-bb3057312208.png)

id ask Hector if he can join the classroom as appears as not joined still...

![imagen](https://user-images.githubusercontent.com/11474846/46470263-

[2018-10-05 17:47] manu-msr opened #1632 "Classroom Assistant - Could not find assignment"
**Describe the bug**
Classroom assitant couldn't find my assigment and I don't know why.

**Screenshots**
![image](https://user-images.githubusercontent.com/15841718/46551183-aeecad80-c89c-11e8-8fa1-fc28684987f4.png)

[2018-10-05 17:55] srinjoym commented on #1632
Hi @manu-msr 👋

Thanks for writing in, Sorry you're hitting this issue! Our recommended flow for using Classroom Assistant is to click the <kbd>Download Repositories</kbd> button from your assignment page.

Let me know if that works for you, if not I can go through some more debugging steps with you!

[2018-10-05 17:58] manu-msr commented on #1632
Hi @srinjoym ✋

I tried but it didn't work.

Thank you!

[2018-10-05 18:43] srinjoym commented on #1632
@manu-msr I've been investigating your issue and it looks like we are hitting an error on our end when trying to load assignments on Classroom Assistant for your account. Not sure what the source of the issue is yet, I'll keep debugging and let you know when I have an update.

Thanks for your patience 🙌

[2018-10-07 16:04] A-Alaa commented on #1632
The same issue happens to me also. E.g this assignment: https://classroom.github.com/classrooms/35454503-sbme-tasks/assignments/sbe206a-assignment-1

By the way, the avatar doesn't show on the classroom assistant (not sure if they are related bugs).

[2018-10-08 06:55] PohaoGit commented on #1623
@Tanveerdhiman I encounter this issue too, have you found a solution?

[2018-10-08 14:36] hroncok opened #1636 "Repository setup progressbar hangs at "Importing starter code...""
**Describe the bug**
The repository setup progressbar when clicking on assignment link hangs forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to classroom.github.com
2. In a classroom, create a new (individual) assignment
3. Use **Add your starter code from GitHub**
4. Make sure to **Enable assignment invitation URL**
5. Later, click on the assignment invitation URL and follow the

[2018-10-08 14:37] syky27 commented on #1636
Reproduces in Firefox and Safari.

[2018-10-08 14:38] syky27 commented on #1636
Duplication of https://github.com/education/classroom/issues/1623

[2018-10-08 18:41] orboan commented on #1049
So is it still not available? I teach 2 subjects in my school, each one belonging to one group of students, and I'd like to create one github classroom per each group of students / subject. How can I achieve that? At this moment I created 1 classroom for one of the subjects, but trying to create the second one I cannot. Thus should I create another organization? This sounds illogical as both group

[2018-10-09 07:43] rmacklin commented on #1589
I've opened https://github.com/education/classroom/pull/1637

[2018-10-09 21:34] BenEmdon commented on #1636
Thanks for writing in 👋
We have escalated this issue to the source imports team.
This problem occurs when there is a high demand on the source import infrastructure, unfortunately it happens sporadically.

[2018-10-09 21:55] BenEmdon commented on #1636
The source import team is working on scaling their infrastructure. In the meantime, I would suggest trying the assignment creation process again (by going back to your invitation link).

If that doesn't work for you, please report back in on this issue.

[2018-10-09 21:56] BenEmdon commented on #1623
Thanks for writing in 👋
We have escalated this issue to the source imports team.
This problem occurs when there is a high demand on the source import infrastructure, unfortunately it happens sporadically.

The source import team is working on scaling their infrastructure. In the meantime, I would suggest trying the assignment creation process again (by going back to your invitation link).

If that

[2018-10-09 21:57] hroncok commented on #1636
The import works fine. It's just that the progressbar gets stuck. The repo is created and has the proper content.

[2018-10-09 22:04] BenEmdon commented on #1636
Interesting 🤔
Would you mind looking at:
https://github.com/organizations/3dprintfit/settings/hooks

Do you see this symbol?

[2018-10-09 22:07] hroncok commented on #1636
I see one webhook, not classroom, it pings fine (has check mark). I see no classroom related webhook at all. Maybe we need to (re)add it?

[2018-10-09 22:17] BenEmdon commented on #1636
That seems very unusual. I'll get my team to investigate. Thanks for providing that information 👏

[2018-10-10 02:31] johndbritton commented on #1636
@hroncok Can you give this another go? Your webhooks should be configured correctly and the issue should be resolved.

We'll roll out the fix to other effected organizations asap.

[2018-10-10 05:07] johndbritton commented on #1623
@Tanveerdhiman @PohaoGit This issue should be resolved for both of you. Please try again and reopen this if the issue persists.

[2018-10-10 05:09] johndbritton commented on #1636
@syky27 Can you also try this and see if you're still facing the same issue?

[2018-10-10 05:10] johndbritton commented on #1636
I'm pretty sure this is resolved, so I'm closing the issue but please reopen if you are still facing the same problem.

[2018-10-10 05:10] #1636 closed

[2018-10-10 05:55] hroncok commented on #1636
I see a GitHub Classroom hook now. The progressbar now goes to the end just fine. This is indeed fixed.

Thank You very much!

[2018-10-10 09:20] syky27 commented on #1636
@johndbritton @BenEmdon Yeah, awesome quick fix, thank you guys!

[2018-10-11 10:20] inigobou commented on #1586
+1

[2018-10-11 14:04] Ololoshechkin opened #1645 "Problem authenticating with GitHub"
I am trying to access https://goo.gl/GdnT5A (classroom link suggested by my teacher) and I always get
"There was a problem authenticating with GitHub, please try again." message.
What is the workaround to fix this?

Thanks in advance

<img width="1090" alt="screen shot 2018-10-11 at 17 05 42" src="https://user-images.githubusercontent.com/24360128/46809793-f16c2980-cd77-11e8-92fd-f151103b491b.png"

[2018-10-11 14:52] BenEmdon commented on #1645
@Ololoshechkin thanks for reporting this.
@johndbritton @srinjoym Have we seen this before? Any idea on what might be causing this?

[2018-10-11 14:55] BenEmdon commented on #1645
Clicking that link you shared, worked for me (I was able to successfully create an assignment).
@Ololoshechkin Have tried again after this first occurrence?

[2018-10-11 15:15] BenEmdon commented on #1621
The Rails Developer Intern position is now closed on https://github.com/about/careers#internships

[2018-10-11 15:15] #1621 closed

[2018-10-11 15:17] johndbritton commented on #1645
This seems to have been a temporary issue. @Ololoshechkin please try again and reopen if you're still facing issues.

[2018-10-11 15:17] #1645 closed

[2018-10-11 15:40] BenEmdon opened #1646 "Duplicate GitHub Repositories"
So recently it has been reported that classroom is creating duplicate assignment repositories.
Related issues:
- https://github.com/education/classroom/issues/1586
- https://github.com/education/classroom/issues/1462
- https://github.com/education/classroom-assistant/issues/110

One source of this problem is that we have the following logic:
https://github.com/education/classroom/blob/c5aaa8af44d0

[2018-10-11 16:20] BenEmdon opened #1647 "Organizations Are Missing Webhooks"
From running the following query on production, it is evident that there are still a significant amount of `Organizations` that are missing webhooks:
[code]
This number excludes `Organizations` that have a `webhook_id` but who's webhooks are _deleted_ or _inactive_.

## The source of this problem
The problem occurred when we introduced webhooks back in https://github.com/education/classroom/pull/7

[2018-10-11 16:23] BenEmdon opened #1648 "Assignment Repo Access"
Right now we give students access to their `AssignmentRepo`s and `GroupAssignmentRepo`s right after the GitHub repository is created. For assignments that have starter code, this can be improved by only giving students access to their assignment repo after the repo has finished importing.

[2018-10-11 16:30] BenEmdon commented on #1602
This task is no longer needed since `rake chewy:sync` does the job 👍

[2018-10-11 16:30] #1602 closed

[2018-10-12 14:36] srinjoym opened #1651 "Invalid token used to fetch from API"
We randomly select an admin token from the GitHub owners of a Classroom. Sometimes these tokens can become invalidated if the user deauthorizes Classroom.

[2018-10-14 17:48] ejgutierrez74 commented on #1591
To get more information about this bug...

Seems that Hector Jimenez has his repository created:

https://github.com/InstitutAlmata/assignment-1-using-github-and-git-hejimenezcr

But cosminlupas doesnt...
Its strange because it seems that Classroom didnt get to user Hector Jimenez but to Cosmin Lupas...
and the repository created where in reverse order....

Hope this bug can be solved soon...

[2018-10-15 14:56] johndbritton commented on #1646
@BenEmdon The suffixing code above isn't the _cause_ of the duplicate repositories, it's just the way that Classroom handles the case.

This code should not be called if the repository creation process is working correctly. If the repo creation process fails, it should clean up the repository it created. The only way this code would run is if a repository creation failed during import or granting

[2018-10-15 19:58] BenEmdon commented on #1646
In https://github.com/education/classroom/issues/1462 I checked to see if each duplicate GitHub repo had an associated `AssignmentRepo` and I found that there were two assignment repos for the same `<User, Assignment>` key.

[code]

[2018-10-16 02:36] ProfKolta opened #1654 "Repo setup stuck at assignment acceptance"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/assignment-invitations/91340792943671c7b9a688078065dffd
2. Click on 'accept this assignment
the click registers but it remains on the same page, essentially nothing happens...

**Expected behavior**
I would be moved to the first part of t

[2018-10-16 13:44] BenEmdon commented on #1654
Hey @ProfKolta, thanks for writing a detailed bug report. I should be able to unstick your assignment for you.

I checked the progress at https://classroom.github.com/assignment-invitations/91340792943671c7b9a688078065dffd/progress and got:
[code]
So it looks like you have a repo! (https://github.com/Campus-Advisors/module-0-welcome-ProfKolta)  Mind checking if that repo is populated with content?

[2018-10-16 14:01] BenEmdon commented on #1654
@ProfKolta I went ahead and unstuck your assignment. You can access it via:
https://classroom.github.com/assignment-invitations/91340792943671c7b9a688078065dffd

[2018-10-16 14:19] #1586 closed

[2018-10-16 14:19] #1646 closed

[2018-10-16 16:35] BenEmdon opened #1655 "Assignment acceptance circles when repo already exists"
**Describe the bug**
Individual assignment acceptance circles on the `#show` action when trying to accept an assignment. This only happens in the case where an AssignmentRepo already exists.

Discovered in #1654

**To Reproduce**
Steps to reproduce the behavior:
1. accept an assignment and create an assignment repo
2. set the `invite_status` to `unaccepted` (as `lib/tasks/locked_invite_status_migr

[2018-10-16 17:16] BenEmdon commented on #1655
Reproduced in 64c877a

[2018-10-17 00:52] sheayun-kmu opened #1659 "Buggy listing of classroom repos"
**Describe the bug**
In more than one classrooms (and assignments), I found that the listing of private repos of enrolled students is seemingly incorrect. Some repos are listed twice (although on different pages) while others are missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to https://classroom.github.com
2. Choose a classroom, and then an assignment
3. Investigate the lis

[2018-10-17 09:18] ejgutierrez74 opened #1660 "Students got stuck importing assignment in classroom"
**Describe the bug**
In this assignment two students couldnt import their copy of the assignment: https://classroom.github.com/a/hMFfiPZZ
Classroom: https://classroom.github.com/classrooms/42045005-1819-m6_desenvolupamentweb_almata
Cosmin and Hector Jimenez
**To Reproduce**
Steps to reproduce the behavior:
1. Submit the link of the assignment: https://classroom.github.com/a/hMFfiPZZ
2. Students se

[2018-10-17 14:14] BenEmdon commented on #1660
Hey @ejgutierrez74, I'll investigate this and unstick them for you.
It looks like Cosmin's handle is @cosminlupas. What is  Hector Jimenez's GitHub handle?

[2018-10-17 14:17] BenEmdon commented on #1660
I just investigated @cosminlupas situation and it looks like they just needed to press the `retry` button.
Their assignment was created normally and successfully and they can access their assignment at
https://classroom.github.com/a/hMFfiPZZ.

☝️ No bug here, they just needed to try again.

[2018-10-17 14:34] BenEmdon commented on #1659
Hey @sheayun-kmu, thanks for reporting this detailed bug report.

I'll investigate the duplicated repo records.

Could you provide an example of a repo missing? Like a username and assignment link?

[2018-10-17 15:01] #1654 closed

[2018-10-17 15:01] #1655 closed

[2018-10-17 15:56] cosminlupas commented on #1660
No there is some kind of bug, because i tried several times, different days and hours.
I also reboot the computer and logout from github. Also i exited from my browser several times.

I spent in different computers. I finally got stuck without the repo created

[2018-10-17 16:12] BenEmdon commented on #1660
When you tried, did you ever see an error message?

Can you go to https://classroom.github.com/a/hMFfiPZZ and confirm that your assignment repo was created?

[2018-10-17 18:14] TianXieUSC opened #1661 "Repositories missing"
**Describe the bug**
A clear and concise description of what the bug is.
After students created their repositories and committed. Some students' repositories in the classroom are missing and some are repeating.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you

[2018-10-17 19:07] BenEmdon commented on #1661
Hey thanks for writing in.
This appears to be a duplicate #1659

[2018-10-18 01:50] sheayun-kmu commented on #1659
Dear Ben,

let me give you an example below.

Classroom: swp2-2018 (https://classroom.github.com/classrooms/41185521-swp2-2018 <https://classroom.github.com/classrooms/41185521-swp2-2018>)
Assignment: class-02 (https://classroom.github.com/classrooms/41185521-swp2-2018/assignments/class-02 <https://classroom.github.com/classrooms/41185521-swp2-2018/assignments/class-02>)

If you navigate to page 2

[2018-10-18 02:45] caw13 opened #1663 "Classroom landing page not working"
**Describe the bug**
Trying to access the classroom landing page via either https://classroom.github.com/ or https://classroom.github.com/classrooms results in 500 internal server error

**To Reproduce**
Be already authenticated go to https://classroom.github.com/classrooms, results in 500 internal server error.

Can also recreate by accessing https://classroom.github.com in a new browser session,

[2018-10-18 09:00] ejgutierrez74 commented on #1660
@BenEmdon as the teacher of @cosminlupas i can confirm that repo has been created yesterday when you answered this issue ( dont know if you have made anything to solve this bug).

![imagen](https://user-images.githubusercontent.com/11474846/47142815-10147800-d2c4-11e8-942a-d0c1876cfd52.png)

The assignment began two weeks ago, and i can assure that we had reloaded many times the page, reboot syste

[2018-10-18 11:16] cottrell commented on #1156
I've also noticed that when you edit your watched repos, all your own repos are watched by you. Seems like it bloats the interface a bit.

[2018-10-18 15:27] BenEmdon commented on #1660
I didn't do anything to solve the bug, the assignment just appeared when I accepted it on @cosminlupas behalf. Unfortunately because it succeeded I don't have insight into why this might be happening 😕

When students have problems accepting an assignment, the best they can do is take a screenshot of the part they are stuck at or record the error message that pops up. By doing that we can start to

[2018-10-18 15:40] BenEmdon commented on #1659
Thank's for providing al this detailed info I appreciate it 👍
I'll investigate as soon as possible 👀

[2018-10-18 15:49] #1589 closed

[2018-10-18 15:52] BenEmdon commented on #1663
Thanks for reporting this!

This seems to be related to https://haystack.githubapp.com/classroom/rollups/1ddf8567c0a6be4c3dc02b9ce7a6f8e9
https://haystack.githubapp.com/classroom/rollups/fa5d1a28578eb52913dd7c01a391731e

@srinjoym looks like you introduced the token error at:
https://github.com/education/classroom/blob/60d3f87e62c2b3ade4cf5d96dc62ad883b643f1f/app/models/organization.rb#L48

[2018-10-18 16:28] BenEmdon commented on #1663
Hey @caw13 mind talking a look now? We just reverted a change.

[2018-10-18 16:41] caw13 commented on #1663
@BenEmdon The landing page is working once again.  Thank you!

[2018-10-18 16:42] BenEmdon commented on #1663
Awesome, glad to hear 🎉

[2018-10-18 16:42] #1663 closed

[2018-10-18 19:54] BenEmdon commented on #1659
It appears there is something wrong with our pagination
[code]

[2018-10-18 20:20] BenEmdon commented on #1659
This is the source of the bad pagination:
https://github.com/education/classroom/blob/91ff1b062f87b7584496fbd7d3067a038f67a736/app/controllers/assignments_controller.rb#L39

[2018-10-18 20:27] TianXieUSC commented on #1661
Do you have any solutions? Have you fixed the issue and can I recover the
classroom repositories?

Best
Tian

On Wed, Oct 17, 2018 at 12:07 PM Ben Emdon <notifications@github.com> wrote:

[2018-10-18 20:38] BenEmdon commented on #1659
### Update:
Tried doing the regular `limit` with `offset` query and got the same result as the paginated query:
[code]
This must mean that there isn't anything wrong with the pagination, but possibly the fact that we are paginating 🤔

[2018-10-18 20:41] BenEmdon commented on #1659
[code]

[2018-10-18 20:49] BenEmdon commented on #1659
If we add an `order` to the sql query we can fix the problem:

[code]

[2018-10-18 20:53] BenEmdon commented on #1661
I have been debugging and should have a fix up soon!

[2018-10-18 21:32] BenEmdon commented on #1661
Mind checking back? The fix has been deployed!

[2018-10-18 21:54] BenEmdon commented on #1659
@sheayun-kmu Just deployed a fix. Everything should be working as expected!

[2018-10-18 23:09] TianXieUSC commented on #1661
I think my problem has been solved. Thanks!

Tian

On Thu, Oct 18, 2018 at 2:34 PM Ben Emdon <notifications@github.com> wrote:

[2018-10-19 09:37] blochmat opened #1668 "You can delete yourself as last contributor from a repository without getting any dialog"
**Describe the bug**
I was working on a repository created from a GitHub Classroom. I opened the Settings of the Repository in my web browser as i wanted to add another contributor to the repository. I misclicked and deleted myself as contributor. When trying to access the repo again i received a 404 as i was obviously no longer permitted to see the Repository.

**To Reproduce**
Steps to reproduce

[2018-10-19 15:30] sfrewen commented on #1632
Same issue as A-Alaa. "Could not find assignment" even when clicking the "Download Repositories" button from GitHub Classroom, and wrong avatar at the top right of the window. When clicked, the avatar only displays the "Sign out" option (not sure if there should be anything else).

[2018-10-19 16:49] #1659 closed

[2018-10-19 16:49] #1661 closed

[2018-10-19 18:54] BenEmdon commented on #1575
Hey @djibouti33, which specific user wasn't able to be accepted as a collaborator? Would you mind providing me with their GitHub handle?

You can of course conceal their identity by emailing their handle to `education@github.com` and please CC `benemdon@github.com`

[2018-10-21 17:41] basejumpa commented on #240
I also would like to use classroom with our GHE 2.14 instance at Continental AG

[2018-10-22 03:47] stan6 opened #1672 "Student should be able to view the deadline for an assignment"
### Feature request :sparkles: Deadline in Student View
I have been using GitHub classroom for several assignments. While the instructor is able to set the deadline for a particular assignment, my students have complained about the fact that there no way of seeing the deadline.

Currently, I needs to state the deadline in a separate document. I think the ability to view the deadline is a much need

[2018-10-22 20:19] BenEmdon commented on #1646
Why should we continue to suffix GitHub repositories? What is the use case for suffixing them?

If we don't suffix GitHub repositories, then we can treat the repository names as a source of truth.
This means that if a repo already exists, something has gone terribly wrong and we shouldn't allow anyone to create a second GitHub repository.

[2018-10-23 00:11] johndbritton opened #1674 "Search submissions"
It should be possible to filter the list of student submissions on an assignment view so that I can jump exactly to a particular student.

[2018-10-23 00:11] johndbritton commented on #1674
duplicate of https://github.com/education/classroom/issues/1300

[2018-10-23 00:11] #1674 closed

[2018-10-23 05:08] stan6 commented on #1672
Yes, I agree that dynamic badge will be cool to have for displaying the deadline!

[2018-10-23 16:47] palves-ulht opened #1675 "Assignments without students' commits should not be marked as submitted"
### Feature request :sparkles:
When a student accepts an assignment, github automatically creates a repository for them. But if the student doesn't make any changes to the repository, it shouldn't be marked as submitted when it reaches the deadline.

[2018-10-23 17:56] #1632 closed

[2018-10-23 17:58] srinjoym commented on #1632
@manu-msr Sorry for the delay on this, finally figured out the issue on the Classroom Side and pushed up a fix with #1673. This should fix the issue for you, let me know if you have any other problems!

@A-Alaa and @sfrewen I'm not sure if you were hitting the same bug as @manu-msr, let me know if this issue is fixed for you. If not, we can open up a new issue and go through some debugging steps.

[2018-10-23 21:59] yanntm opened #1676 "Per student view of work for a course"
### Feature request :sparkles:

It would be really helpful to be able to see all the repos a student has built to answer the set of assignments given within a team/course.

Like an overall view at the level of the org/team/course, where you add the assignments to go to roster.

There you see a list of students, with a column per assignment, clickable to go to, that gives at least the number of com

[2018-10-23 22:04] yanntm opened #1677 "Handling sub groups"
### Feature request :sparkles:

We have an issue currently when dealing with large roster of students.

If we could divide students into subgroups, and allow different teachers to have assigned groups of students, this would at least make it possible for each teacher to manually inspect his say ~20/30 submissions (not easy, but still doable).

Currently as course admin I see all students, but so d

[2018-10-23 22:07] yanntm commented on #1675
yes please remove at least the empty forks from the view, hard enough to find relevant student work in there

[2018-10-23 22:21] yanntm opened #1678 "Mixin of Github and Classroom polluting github accounts."
**Describe the bug**
A teacher using classroom sees *all* the student repositories *all the time* in GitHub.
Teaching is a specific activity, separate from "normal" github use.
These repositories and accounts should only be visible in github after specifically logging in through/doing a procedure from the ClassRoom interface, i.e. the place we sent the invitations to create private repos in the fi

[2018-10-24 08:15] talbronfer commented on #1677
+1  for that. We run a Coding School with multiple classes running simultaneously.
I think the natural solution to this problem would be using _GitHub Teams_. It doesn't make a lot of sense for a _classroom_ to be represented as an _organization_ - the school should be the organization.

[2018-10-24 08:49] talbronfer opened #1679 "API access to Classroom data"
### Feature request :sparkles:
It would be great if there could be some sort of API where we could do any of the following:
- Get all classroom assignments
- Get the repository url for a particular student per a given assignment (query by GH username)
- Modify the list of students with access to a particular assignment

Use case: we want to create a continuous integration workflow for all student

[2018-10-24 17:17] kevinwortman commented on #1591
We are experiencing this issue today, so unfortunately it is not resolved. Unfortunately it happened at the start of a timed midterm exam which is distressing for the affected students.

[2018-10-24 17:20] BenEmdon commented on #1591
@kevinwortman thanks for reporting in.
Could you provide an assignment link and the GitHub handle of a student that got stuck?

[2018-10-24 17:28] BenEmdon commented on #1678
Hey @yanntm, this is behavior is managed in GitHub.com and therefore we are not the best place report this to. The best you can do is contact GitHub support about this https://github.com/contact.

[2018-10-24 17:28] #1678 closed

[2018-10-24 17:30] BenEmdon commented on #1677
This feature request sounds like it could be solved with the addiction of multiple classrooms per organization  https://github.com/education/classroom/pull/1248. @srinjoym can you confirm this?

[2018-10-24 18:08] kevinwortman commented on #1591
@BenEmdon Thanks for the prompt response. We created additional backup versions of the assignment as an attempted workaround. My co-instructor @llarco writes:

[2018-10-24 19:29] yanntm commented on #1678
I feel I am not the one that has to setup collab with github services to get them to ackowledge problem, from my pov it comes from use of ClassRoom not github.You're all the same company, sort it out, or not and we look for service elsewhere.

[2018-10-24 19:44] johndbritton commented on #1678
@yanntm GitHub Classroom is built on the GitHub API, it does not alter the functionality of github.com.

When you connect an organization to Classroom, we automatically create student repositories for you from your GitHub account.

As such, all of the repositories will be visible from your GitHub account.

While I understand why you might want this, it is not something that we can change.

[2018-10-24 21:21] llarco commented on #1591
We are going to run the same exam on Friday with 30 other students. We will create a new assignment link (and have some new back up assignment links), and in case some students get stuck in all of the assignment creations, we will do the manual process that was explained above.

I can provide you with the exam time when this will happen in case you want to monitor the queue that processes these im

[2018-10-25 10:41] talbronfer commented on #1679
Hey @BenEmdon, thanks for your reply. I can see that the GraphQL API milestone is quite a bit of work.
In your opinion, what would it take to make the private Classroom Assistant API public? Does it have to GraphQL based as well for the PR to be accepted, or do we just need to make it routeable to public and add basic querying/sorting features?

[2018-10-25 16:15] BenEmdon commented on #1679
Just talked with the classroom team about this. A public API doesn't sound like something we can support at this time since it would require extra infrastructure to ensure third party rate limiting.

This is something we will have to start building ourself. The demand for a public API is noted and will influence the roadmap of the project.

[2018-10-25 18:32] mozzadrella commented on #1575
@djibouti33 we received your email, and @BenEmdon is on the case to investigate.

[2018-10-28 20:17] BenEmdon commented on #1253
## Group Import resiliency findings
Import resiliency for Group Exercises shipped at the beginning of the school year. Here's the comparison between the old way and the new (smaller is better):
<img width="644" alt="screen shot 2018-10-28 at 4 02 52 pm" src="https://user-images.githubusercontent.com/11095731/47621237-5095a200-dacb-11e8-8554-3344fd89925a.png">
_Data from Jan 1st 2018 to Oct 28th 20

[2018-10-29 12:43] talbronfer commented on #1679
@BenEmdon, thanks for following up. Please keep us posted -- I'd love to chip in and contribute when the infrastructure is ready.

[2018-10-29 16:00] kevinlin1 opened #1682 "500 Internal server errors in very large group assignments"
**Describe the bug**
When students attempt to visit the assignment invitation link for a group assignment, the application often gives a 500 Internal server error. Occasionally, after refreshing several times, the page will eventually load which suggests that the application is sometimes timing out on the request.

**To Reproduce**
Visit <https://classroom.github.com/g/WrZUiXxO>. It often (but not

[2018-10-29 20:00] hydrodog commented on #1156
This is a huge issue for any teacher with a lot of students.  You are sending me hundreds of emails.  Unwatching the repo is worse than the emails.  I shouldn't be watching the repo in the first place.

[2018-10-29 20:08] mangeshhambarde commented on #1623
@johndbritton I still see this issue at https://classroom.github.com/assignment-invitations/89eea7c971b83b90c476d75915991476/setup.

[2018-10-29 20:10] aaossa commented on #1156
A possible solution would be to ignore or unwatch repositories automatically once created (https://developer.github.com/v3/activity/watching/#set-a-repository-subscription), but the ideal solution (not technically available ATM) is "unwatch on create" or never even watch (in this method: https://developer.github.com/v3/repos/#create). Maybe the first API method could be called if the user wants to

[2018-10-29 20:49] BenEmdon commented on #1575
Hey @djibouti33, how many seats do you have left in your organization plan?

[2018-10-29 21:16] BenEmdon commented on #1575
Hey @djibouti33
I found that the following error when the users you specified tried to accept their assignment invitations:

It looks like neither of the users that you specified have two factor auth on their account and therefore aren't able to be added to your org as outside collaborators.

To resolve this problem:
* Tell the users that you had invited that they are required to have two factor a

[2018-10-29 21:16] #1575 closed

[2018-10-29 21:30] BenEmdon opened #1684 "Better error reporting on Assignment Creation flow"
It was difficult to determine the cause of #1575 because the error was obscured by the following non descriptive error strings:

https://github.com/education/classroom/blob/49864b3246ccc4d48829ddb6276a7bf98ebb2253/app/models/assignment_repo/creator.rb#L5-L8

Instead we should use errors straight from GitHub like we did (before moving it to the creator pattern) `GroupAssignmentRepo`s:
https://githu

[2018-10-30 03:11] johndbritton commented on #1623
@BenEmdon Can you please investigate the specific case for @mangeshhambarde? I think I addressed this issue for the majority of users, but this particular account may not have had a valid auth token at the time that I ran the webhook backfill.

[2018-10-30 15:58] #1682 closed

[2018-10-30 15:59] BenEmdon commented on #1682
@kevinlin1 The issue has been resolved! You can confirm by going to your assignment at https://classroom.github.com/group-assignment-invitations/f0ded2634591597e67f1e52912ecb637?roster=ignore

[2018-10-30 22:42] #1627 closed

[2018-10-31 20:49] #1465 closed

[2018-10-31 20:56] BenEmdon commented on #1465
Hey @eallenOP  👋, thanks for reporting this!
I just deployed a change that will prevent students from making team names with emojis.
Note that existing teams with emojis will not be changed/affected. Apologies for the inconvenience this has caused you.

[2018-11-01 07:54] boardfish commented on #1465
Perhaps it would be possible to allow this with punycode conversion? I don't know if that would create a bigger problem than it solves, but a quick Google gives [mmriis/SimpleIDN](https://github.com/mmriis/simpleidn/blob/master/README.rdoc) as a possible solution.

[2018-11-01 10:17] Magistern commented on #595
@srinjoym I see you closed and opened this request, does that mean you are considering it?

[2018-11-01 14:48] BenEmdon commented on #1465
@boardfish thanks for your input and proof of concept.
This is definitely a case where we don't want emojis. We use group titles to build the names of group assignment repositories, and GitHub doesn't accept emojis in repository in the name.

Would you mind elaborating?

[2018-11-01 15:03] BenEmdon commented on #1623
I can confirm that the webhook exists for the org that @mangeshhambarde
I'll investigate @mangeshhambarde's assignment in particular 👀

[2018-11-01 15:13] BenEmdon commented on #1623
@mangeshhambarde I have gone ahead and unstuck your assignment repo for you (go to
https://classroom.github.com/assignment-invitations/89eea7c971b83b90c476d75915991476)

It looks like the reason it was stuck "importing" is because GitHub.com experienced and outage at the time that you tried to create your assignment repo (on Monday 22 Oct 2018).

We are currently doing work in #1631 to prevent stu

[2018-11-01 17:04] boardfish commented on #1465
In hindsight I'm not sure how relevant it is to this issue, but URLs can be vulnerable to [IDN homograph attacks](https://en.wikipedia.org/wiki/IDN_homograph_attack) - in summary, identical characters between alphabets mean that URLs can be faked and lure users in other directions, in some instances. As an example of how it works, from the article:

I guess the way GitHub (and Git servers, by exte

[2018-11-01 17:41] BenEmdon commented on #1465
Fortunately this case isn't vulnerable to homograph attacks, as GitHub.com's permission model doesn't use team/user/repo names as a source of truth in repository access. Classrooms underlying source of truth is also based on IDs instead of names.

Representing emojis in a ASCII would yield unreadable repository names (e.g.  "assignment-1-xn--zn8h" using your example above).

[2018-11-04 03:08] mikiehan opened #1690 "Students import failing"
**Describe the bug**
Import fails for one of my students with Github ID dannia3. There are other students who have successfully imported.

Problem repo: https://github.com/cbu-egr222-fa18/hw6-dannia3/
assignment: https://classroom.github.com/classrooms/42749779-cbu-egr222-fa18/assignments/hw6
Invitation link: https://classroom.github.com/a/sRXFR1nF

When he clicks on the invitation link, it create

[2018-11-04 03:12] mikiehan commented on #1690
I also see import failure for another student with GithubID isaOrdaz

![image](https://user-images.githubusercontent.com/13935460/47959562-a6bf8500-dfa4-11e8-942b-e5917923866d.png)

[2018-11-04 15:50] BenEmdon commented on #1690
Hey @mikiehan, thanks for reporting this.
This issues is happening on GitHub.com so please contact support at https://github.com/contact to get support on this as fast as possible.
I will be sure to relay this issue to the appropriate team too.

[2018-11-06 21:21] git-abhishek opened #1691 "Unable to access repo"
**Describe the bug**
I am unable to access my classroom repository:
https://github.com/ds-umass/project2-git-abhishek/import

When I click on the invitation code, I am redirected to the following page (CS-590S-project2 @ds-umass) and it gets stuck at the "Importing starter code" phase.

![capture](https://user-images.githubusercontent.com/36498066/48094328-e3c38b80-e1df-11e8-8eef-8197f65bc1cf.PNG)

[2018-11-07 15:39] boardfish commented on #1691
There were [site status issues](https://status.github.com/messages) this morning. Investigation began 10 hours ago, so while this issue predates the investigation by about 8, perhaps it's involved.

[2018-11-07 15:49] BenEmdon commented on #1691
Possibly? I'll confirm by cross referencing time stamps.

[2018-11-07 18:46] git-abhishek commented on #1691
Hi @BenEmdon, the invitation link is https://classroom.github.com/a/emsQ9I1g
Let me know if any further information is needed from my part.

[2018-11-07 21:07] BenEmdon commented on #1691
This issue appears to coincide with the GitHub.com outage that happened on November 2nd https://status.github.com/messages/2018-11-2

@git-abhishek I have gone ahead and unstuck that assignment for you. Would you mind taking a look at
https://classroom.github.com/a/emsQ9I1g and confirm you can access your repo?

We are working on a solution for issues like this in https://github.com/education/clas

[2018-11-08 03:50] git-abhishek commented on #1691
@BenEmdon sorry, but it is still not working. I waited for more than 3 hours after clicking the invitation link and its still stuck at "importing starter code".

[2018-11-08 15:22] BenEmdon commented on #1691
I see the problem. It appears that the source import (handled on GitHub.com is still stuck in an `importing` state). I am going to notify the appropriate teams and get this fixed for you.

[2018-11-08 16:12] BenEmdon commented on #1691
@git-abhishek I went ahead and deleted your assignment repository. Go to https://classroom.github.com/a/emsQ9I1g to redeem a new assignment repository.

[2018-11-08 16:19] mikiehan commented on #1690
I didn’t hear anything from them ☹

From: Ben Emdon <notifications@github.com>
Sent: Thursday, November 8, 2018 8:14 AM
To: education/classroom <classroom@noreply.github.com>
Cc: Mi Kyung Han <mhan@calbaptist.edu>; Mention <mention@noreply.github.com>
Subject: Re: [education/classroom] Students import failing (#1690)

@mikiehan<https://github.com/mikiehan> was support able to help you resolve this

[2018-11-08 16:23] git-abhishek commented on #1691
Thank you @BenEmdon. I am now able to access the repository!

[2018-11-08 16:34] BenEmdon commented on #1691
Excellent!
Glad to hear @git-abhishek.
Closing this issue as it was caused by the GitHub outage https://status.github.com/messages/2018-11-2.

[2018-11-08 16:35] #1691 closed

[2018-11-08 16:43] BenEmdon commented on #1690
This might be related to to #1691. I'll cross reference to confirm.

I'll also go ahead and reset those assignment repos for you.

[2018-11-08 16:57] BenEmdon commented on #1690
It appears that the problem was caused by a GitHub.com outage on Friday the 2nd of November
https://status.github.com/messages/2018-11-2. This was related to https://github.com/education/classroom/issues/1691.

I reset the assignment repos for the following users:
- dannia3
- isaOrdaz

Tell these students to redeem a new assignment repo at https://classroom.github.com/a/sRXFR1nF

Closing this issu

[2018-11-08 16:57] #1690 closed

[2018-11-08 17:12] abdulmeque commented on #1049
Same problem here, I just manage it by appending an extra field in the roaster identifying the course+year+term and also using "class identifying" ()names for the assignments. So I a each assignment as the entry point to monitor progress and so on.

[2018-11-14 20:05] winterer opened #1698 "Tag or commit for starter code repo"
### Feature request :sparkles:
It would be helpful if the teacher could specify a tag (or commit) of the starter code repo when creating a new assignment. This tag (or commit) will then be used as HEAD for the cloned student repos.

[2018-11-15 07:14] BrianEmilius opened #1699 "Forking an assignment repo"
It seems students are unable to fork a repo they are given access to through the assignment system. I’ve tried both with and without admin rights for the students.
This forces my students to create branches instead of forks when they collaborate, and it gives me no chance to use classroom to teach my students about more real-world work flows.

Is this intentional?

[2018-11-16 15:17] winterer commented on #1626
@palves-ulht you can see all student IDs and their linked github account on the roster management page (On the classroom page, navigate to "Manage classroom" => "Roster management").
However, having the student IDs on the assignment pages too would really be an improvement, indeed.

[2018-11-19 23:19] rhewett commented on #1330
This is an issue when trying to create something with classroom too.  I created a test organization to play around with this tool and it wants admin access to all repositories in completely unrelated organizations.  I have no way to uncheck that authorization request.

I can't even test the tool, so there is no way I'm going to adopt it for my classes...

[2018-11-20 13:57] mozzadrella opened #1704 "Too many redirects error on group assignment"
**Describe the bug**
A clear and concise description of what the bug is.

When teachers attempt to accept [the team assignment](https://classroom.github.com/group-assignment-invitations/d6781417e41ebad9dfde584fbba07f6b) for Campus Advisors they get an error showing too many redirects.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'https://education.github.com/teachers/advisors
2.

[2018-11-21 09:11] boardfish commented on #1330
Personally I'm not sure if this issue can be fixed – when GitHub.com requests access, there's no fine-graining this down to particular orgs. At a lower level, when you're authorising access on the site, one permission it requests is the read:org [scope](https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/) (and potentially write:org, but any sign of that's obs

[2018-11-22 09:25] debordem opened #1705 "Last updated status"
**Describe the bug**
On the Github Classroom assignment page there used to be a last committed status, eg last committed 2 minutes ago.
This was helpful to see when students had updated code?
Can this come a back please?

If applicable, add screenshots to help explain your problem.
![last_commit](https://user-images.githubusercontent.com/23056603/48893539-e1e50380-ee40-11e8-8b54-07f858a91cea.png)

[2018-11-22 09:26] #1705 closed, assigned to nobody

[2018-11-28 12:13] BrianEmilius commented on #1699
Any news regarding this issue?

[2018-12-01 07:17] robustUTEP opened #1711 "repo not successfully created"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2018-12-01 07:18] robustUTEP opened #1712 "student repo failed to inport (worked for other students)"
**Describe the bug**
The student repo was not successfully created and "restart" doesn't work.

The error message from
   https://github.com/f18-arch1/project-3-video-toy-haomoy/import
is
  "We found an error during import" with "There was an error pushing commits to GitHub."
When I click
   "restart"
Then I get a 404 from
    https://github.com/f18-arch1/project-3-video-toy-haomoy/import

**To Re

[2018-12-01 16:49] BenEmdon commented on #1711
This appears to be a duplicate of https://github.com/education/classroom/issues/1712

[2018-12-01 16:49] #1711 closed

[2018-12-01 17:02] BenEmdon commented on #1712
Hey @robustUTEP, this problem is related to the source import (which happens on GitHub.com). I will notify the appropriate teams.
In the meantime you should contact GitHub support for this issue: https://github.com/contact

[2018-12-04 01:33] rblack42 opened #1714 "Github Team invitation link"
**Describe the bug**
One of my students clicked on the invitation link to accept a team project, and the system went into a state where it created many copies of the project in his account, each with a trailing number

The organization is ACC-COSC1337-004-FA18, the student's github account is "nour96h", and the team name was "brick-squad".
Not sure what caused this, but feel free to delete this me

[2018-12-04 07:06] floe commented on #1591
Just wanted to mention that my students also experience this error on a regular basis. It looks like the import completes in the end for all of them, but they are stuck at the progress screen indefinitely until they manually look up their new repo.

[2018-12-05 05:54] EricPickup commented on #1566
First post in classroom! 🎉

@rguillome I don't think classroom has direct links to invite an administrator to the classroom.

It appears that your colleague needs to add you to the classroom's organization (as an owner). The link they provided leads to the classroom's directory, which you cannot access without being an owner of the classroom organization.

I've attached a screenshot of how this wo

[2018-12-05 06:07] EricPickup commented on #1592
@johndbritton Were you able to reproduce this bug? I've tried with individual and group assignments and can't reproduce it.

[2018-12-05 16:04] ejgutierrez74 commented on #1698
But you can create a repo with initial commit or tag, and then use that repository as starter code ( repo) to students.....At least i ve done this way....

[2018-12-06 11:07] rguillome commented on #1566
Hi,

Thanks for the feedback. My colleague already added me as an owner to the classroom organisation. We've just checked this today and I'm still an owner of the classroom organisation and I still get a 404 after click the link he provided to me.

So I think the bug is here : even I'm an ower of this organisation, sending me the link couldn't allow me to sign in the classroom

[2018-12-06 15:24] winterer commented on #1698
Yes sure, but it is not possible to fix the assignment to this tag - if a student accepts the assignment, the HEAD of master will be copied.
But: In the meantime I'm pretty happy with this "sliding" behavior, as it allows me to do some minor fixes on the starter code repo after creating the assignment (but before sending the link to the students).

[2018-12-06 15:24] #1698 closed

[2018-12-06 20:32] phannan commented on #602
This would be great.  I teach 2 courses a term.  I have one organization per class per term.  I'm starting to get a long list and came over here to add an issue to sort the classrooms newest first.  Archiving would be even better.

[2018-12-10 21:48] metrolearn commented on #1623
+1  the process has been hanging for close to 40 minutes now. for me.  Refresh does not resolve the issue.

[2018-12-10 23:21] BenEmdon commented on #1623
Hey @metrolearn, if you are experiencing this issue please open a new issue (so we can keep track of it). This issue was due to a GitHub.com service outrage, and the cause of your issue might be different.
Thanks for your patience.

[2018-12-12 17:04] nikhilvicctor opened #1717 "i cant join a class on github even though i have a code"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2018-12-12 17:09] BenEmdon commented on #1717
Hey @nikhilvicctor sorry to hear about your issue. Would you mind providing the following information:
* the link of the assignment you were given
* a screenshot of the error you saw

Also would you mind clarifying what you mean by:

Do you have access to the repo on GitHub? If so, what is the url to the repo?

[2018-12-12 22:10] stevenbitner commented on #602
I also vote for this feature. For now, I change the organization icon to a big red X if it is a past course and some meaningful icon if it is an active course. It helps to wade through the junk. Not ideal, but without deleting the old courses, I cannot think of a better way.

[2018-12-12 22:35] ccannon94 commented on #1193
Please don't close this again 😅

[2018-12-12 23:22] CorruptComputer commented on #1376
This is still an issue.

[2018-12-13 00:30] BenEmdon commented on #1193
@ccannon94 stalebot no longer can close issues! I have my :eyes: on you @stalebot

[2018-12-14 16:25] elderfidelsolano opened #1719 "Incompatible module"
**Describe the bug**

The problem is generated when executing: script / setup, it appears to me that a module is not compatible with the engine node. It's module is: transliteration 1.6.2 that is in the package-json file. To solve it, delete this module from the package.json file but when you execute the script / server to get all the services, an error appeared when I wanted to load the project i

[2018-12-15 18:30] BenEmdon commented on #1704
## Notes from investigating:
* the assignment is marked as `unaccepted`
* the assignment repo exists

Will reproduce and submit a fix soon 🛠

[2018-12-15 21:08] BenEmdon commented on #1704
Proposed a fix in #1720

[2018-12-16 02:05] #1704 closed

[2018-12-16 02:09] BenEmdon commented on #1704
Apologies for the lengthy wait 😅 Just merged a fix for this!

@ccannon94 if you got to your [assignment invitation link](https://classroom.github.com/group-assignment-invitations/d6781417e41ebad9dfde584fbba07f6b), all should work as expected!

Please reopen this if you feel that the issue hasn't been resolved!

[2018-12-16 02:33] ccannon94 commented on #1704
Confirmed error no longer occurs! thanks so much @BenEmdon

[2018-12-17 19:42] dmgatti opened #1721 "Can't add second classroom"
**Describe the bug**
I have created one classroom and associated it with my organization. I cannot add a second classroom because it stops me on the 'Select an organization for your new classroom' screen. My organization is greyed out and the tool tip over it says '@dmgatti has already added this organization to GitHub Classroom'. It may be that I misunderstand how to add a new classroom.

**To Re

[2018-12-18 15:01] ccannon94 commented on #1721
@dmgatti there is a limit of 1 classroom per organization. The recommended setup is to have 1 organization and 1 classroom per class per semester. As a lab instructor, I find this helps keep things organized moving from semester to semester. Whether or not you want to use a different organization for each section of a class is up to you, we use 1 organization for all 4 sections. Anyway, hope this

[2018-12-18 15:41] ReshefElisha commented on #630
Commenting in support.

GH Classroom currently supports the roster IDs which don't serve much purpose yet, letting instructors pick the roster ID as the suffix would encompass the "custom list of substrings" part of this idea.

[2018-12-19 14:20] dmgatti commented on #1721
Got it. I suspected that it might be an intentional policy. I would suggest that the message in the tool tip over the organization mention the one-classoom-per-organization rule.

Thanks!

Dan

________________________________
From: Chris Cannon <notifications@github.com>
Sent: Tuesday, December 18, 2018 10:01 AM
To: education/classroom
Cc: Dan Gatti; Mention
Subject: Re: [education/classroom] Can

[2018-12-21 07:54] #1365 closed

[2018-12-22 20:04] dowobeha opened #1723 "Unable to create classroom for long-named organization"
**Describe the bug**
Create an organization with a long name, such as 2019-Spring-UIUC-LING490-LS4

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/classrooms/new
2. Click on the organization

**Expected behavior**
A classroom should be created

**Screenshots**
![screen shot 2018-12-22 at 2 03 48 pm](https://user-images.githubusercontent.com/331829/50378213-

[2018-12-27 22:30] chadfawcett commented on #1437
Hello all! I thought I'd let people know, I ran into this issue as well as I was wanting to use classroom for a workshop that would have attendees work their way through issues.

I've created a GitHub app that copies issues from the starter repository. I'd love feedback from others that are interested in this use-case. You can install the app from the [Marketplace](https://github.com/apps/classroo

[2019-01-01 15:00] AhmedKamal20 opened #1726 "Roster management Page is too slow"
When opening the roster page while you have a lot of unlinked users it will take a lot of time loading
It takes around 30-45 Seconds with me.

I tracked what is causing this delay and found that the issue is on this line below:

https://github.com/education/classroom/blob/6d3fa4663268345a264a0e77e031eb0da81471ca/app/views/orgs/rosters/_link_to_github_account_modal.html.erb#L14

It's not a bug but

[2019-01-03 09:42] maxsumrall opened #1728 "Github Actions in starter code makes import fail"
**Describe the bug**
Importing starter code step fails when starter code contains Github Actions.

**To Reproduce**
Steps to reproduce the behavior:
1. Create classroom assignment
2. Choose a base assignment (the starter code) which contains any simple Github Actions workflow.
3. Give assignment link to students
4. During "Import starter code" step, the process fails with "Errored".

**Expected be

[2019-01-03 09:49] AhmedKamal20 commented on #1723
This is not a bug, it's the expected behavior

https://github.com/education/classroom/blob/6d3fa4663268345a264a0e77e031eb0da81471ca/app/models/organization.rb#L24

i don't know why though.

[2019-01-04 17:14] kyleiwaniec opened #1729 "not receiving notifications"
**Describe the bug**
I am no longer receiving notifications when students click the assignment link to create their repos in my classroom

**To Reproduce**
Steps to reproduce the behavior:
1. create an assignment
2. send auto generated link to student
3. student clicks the link and a repo is created as expected
4. I used to get an email notification when this was completed. I no longer receive any

[2019-01-06 00:21] BenEmdon commented on #1728
Hey @maxsumrall ,

I have notified the appropriate teams about this issue.
I'll report back with updates when I hear them.

Excited to see Classroom users picking up GitHub actions!

[2019-01-07 20:21] BenEmdon commented on #1728
Just spoke with the GitHub Actions team and they said that integrations (OAuth apps like GitHub Classroom) are restricted from creating/writing/editing the `.github/main.workflow` file. This restriction is in place for the purpose of security.

At the time we are unsure if this restriction will loosen up, as it is still the early days of GitHub Actions.

I'm locking and closing this issue for now.

[2019-01-07 20:21] #1728 closed

[2019-01-08 07:48] chanlil opened #1730 ""Importing starter code" for my class take forever"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2019-01-08 07:49] #1730 closed

[2019-01-08 18:02] bulletshot60 commented on #1140
Just an idea, @mozzadrella, if adding a student to the roster sent them an invite to the organization, would it then be possible to limit accepting assignments to only organization members?

[2019-01-10 23:49] mhrmm opened #1731 "Importing starter code hangs"
Possibly related to #1623 or #1616.

Importing starter code takes an interminable length of time when accepting an assignment.

Here is the invitation link for repro:
https://classroom.github.com/a/zidPHJ4R

[2019-01-11 02:43] sethanderson8 opened #1732 "Stuck on importing starter code when accepting assignment"
**Describe the bug**
A clear and concise description of what the bug is.
When I accept my professors assignment, it creates the repository but ends up being stuck on the import starter code bar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/a/jh95IfbH
2. Click on Accept Invite
3. See error. Stuck on import starter code

**Expected behavior**
A clear and co

[2019-01-11 22:48] yanntm commented on #1343
+1 definitely this would give feedback to the students as well
ideally not just  a grade but a set of configurable checkboxes that explain the grade given
let copying the result to our own CMS/LMS be our problem (or better, give us some way to export a CSV sheet with the grades of each student per assignment in a course), if the functionality existed to grade on classroom it would add huge value t

[2019-01-11 22:51] yanntm commented on #1729
can I ask for the opposite ? ie. that the mail and notification come from ClassRoom and be configurable, but *NOT* from github proper ?

[2019-01-11 22:54] yanntm commented on #1675
please also leave commit count at zero if the only commits are from the original "given sources" repo

[2019-01-11 22:57] zorz0004 opened #1734 "Source import is not working. My hole class are trying for about 2 hours."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2019-01-12 13:45] dj-BU opened #1735 "Improve usability of web interface"
### Feature request :sparkles:
Many "classroom" screens have elements (text, icons) that can be clicked to get things done, but those elements are not obviously "clickable", nor is it obvious what they do. For newbies, this is frustrating. For example, I could not easily find a way to delete a classroom, so I could re-build it. There seems to be no way to find out what I can do with assignments BE

[2019-01-14 14:42] BenEmdon commented on #1734
This appears to coincide with the [outage on January 11th](https://status.github.com/messages/2019-01-11). Would you mind providing me details to which classroom was affected, such as:
* the classroom name
* the assignment name
* the assignment invitation link

[2019-01-14 14:44] BenEmdon commented on #1732
This appears to coincide with the [outage on January 9th](https://status.github.com/messages/2019-01-09). In the next day or two I will go ahead and unstick your assignment.

[2019-01-14 15:04] zorz0004 commented on #1734
Hi Ben,
Thanks so much for your reply.

My professor, Robert in copy, already tried to delete the folder on my user name and asked me to try again.
I’ve been trying all along the weekend and even today, but the issue is the same.

The classroom is: MAD9124-W19<https://github.com/MAD9124-W19>
The assignment name is: EX1-2 Hello Students
The invitation link is: https://classroom.github.com/a/MkpmhK5

[2019-01-15 02:37] BenEmdon commented on #1732
@sethanderson8 I have gone ahead and unstuck your assignment. Go to the assignment invitation link to see: https://classroom.github.com/a/jh95IfbH.

Apologies for the wait! Please reopen this issue if experience any more problems related to this.

[2019-01-15 02:39] BenEmdon commented on #1731
@mhrmm I have gone ahead and unstuck your assignment. Go to the assignment invitation link to see: https://classroom.github.com/a/zidPHJ4R.

Apologies for the wait! Please reopen this issue if experience any more problems related to this.

[2019-01-15 02:39] #1731 closed

[2019-01-15 02:46] mhrmm commented on #1731
Thanks!

On Mon, Jan 14, 2019 at 6:39 PM Ben Emdon <notifications@github.com> wrote:

[2019-01-15 03:04] BenEmdon commented on #1729
@kyleiwaniec It appears as if GitHub.com no longer sends these email notifications. If these notifications are important to your workflow [contact support](https://github.com/contact), as they are better equipped to assist you.

@yanntm If you have a feature request please open a new issue.

I am closing this and locking this as this issue relates to GitHub notifications which aren't worked on by

[2019-01-15 03:04] #1729 closed

[2019-01-15 03:10] BenEmdon commented on #1726
@AhmedKamal20 good catch! This appears to be a typical n+1 request. I will create the tag `slow request` so we can keep a tab on these pain points.

[2019-01-15 05:50] sethanderson8 commented on #1732
Thank you so much for your help but now when I open the invitation. It doesn't even begin to create the repository. It is completely stuck with no bars moving at all

[2019-01-15 14:03] BenEmdon commented on #1732
@sethanderson8 would you mind going to the assignment link and recording a screenshot? Just so we can get an idea of what you are seeing?

[2019-01-15 16:36] sethanderson8 commented on #1732
It worked this morning!

[2019-01-15 16:36] #1732 closed

[2019-01-15 18:00] prateekkumarweb commented on #1500
I am facing the same issue currently. I reset and removed the classroom but I am unable to create a new classroom using the same organization. It says "@pratekkumarweb has already added this organization to GitHub Classroom"

[2019-01-15 18:14] BenEmdon commented on #1500
@prateekkumarweb Multi classroom organizations are on our roadmap and will be released soon!
CC: @srinjoym is there a place where we are providing updates on multi classroom organizations?

[2019-01-15 18:22] prateekkumarweb commented on #1500
@BenEmdon Since I have deleted my previous classroom. There is no classroom with the organisation. Still I am unable to create a new classroom using the previous organisation. (I am guessing this is not what you meant when you said multi classroom organisation).

[2019-01-15 21:50] ADWolfe-LoyNO commented on #595
PLEASE IMPLEMENT THIS REQUESTS FOR MULTIPLE CLASSROOMS PER ORGANIZATION

[2019-01-15 22:31] lwasser commented on #595
woo hoo!! excited to hear this @srinjoym  !! thank you for the update on this issue.

[2019-01-16 02:15] zerbash opened #1738 "Student repositories not being created"
**Describe the bug**
The students accept the invitation, but the screen errors out trying to create repositories.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/a/fmUJguaJ
2. Log in
3. Watch the process go from green to red.

**Expected behavior**
A private repository created on the student's account

**Screenshots**
![screen shot 2019-01-15 at 6 12 51 pm]

[2019-01-16 02:33] zerbash commented on #1738
Ah... Googling that error turns up the source code...  No private repositories.  Do "classrooms" not get private repositories by default?

[2019-01-16 08:03] Magistern commented on #595
That's wonderful news! Looking forward to try it out.

[2019-01-16 15:10] BenEmdon commented on #1738
@zerbash organizations don't get private repositories by default. The good news is that GitHub gives free private repositories to organizations for education purposes. Have you signed your institution up yet at https://education.github.com?

[2019-01-16 15:58] BenEmdon commented on #1723
Classroom creates an organization using an organization's name if it is present, otherwise it uses the organizations handle (referred to as `login` in the GitHub API):
https://github.com/education/classroom/blob/1fbb76487f5a201076ac0b778071cd519b2e6d13/app/models/organization/creator.rb#L160

@dowobeha I looked up your organization with the handle `"019-Spring-UIUC-LING490-LS4"` at it's organizati

[2019-01-16 15:58] #1723 closed

[2019-01-16 17:27] zerbash commented on #1738
Yes, but apparently I got lost somewhere along the way and created a new _organization_ for the classroom. Went through the steps again with my original organization, and it seems to be working now. Thanks!

[2019-01-16 17:27] #1738 closed

[2019-01-16 19:00] Wind4Greg opened #1739 "Students can't create repository"
**Describe the bug**
Using the assignment link: https://classroom.github.com/a/tbEi0vGr

Students repeatedly get the: `GitHub repository could not be created, please try again` error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to link: https://classroom.github.com/a/tbEi0vGr
2. Wait and see error

**Expected behavior**
Student repo creation

**Screenshots**
![image](https://user-image

[2019-01-16 19:06] titaniumbones commented on #1679
I'd be interested in contributing insofar as I'm able. This would also probably be a necessary step towards LMS integration -- It would be great to grab a list of students from Canvas, for instance, and add them to a GH Classroom roster automagically. I recently wrote a primitive lisp client for Canvas and would be interested in combining the two, maybe even generating the repos automatically.

Ev

[2019-01-16 20:23] BenEmdon commented on #1739
I investigated what was going on under the hood and found the following error:
[code]

GitHub organizations don't get private repositories by default. The good news is that GitHub gives free private repositories to organizations for education purposes. Have you signed your institution up yet at https://education.github.com?

[2019-01-17 00:00] Wind4Greg commented on #1739
Hi Ben, yes I got a grant for this semester. Note that I have two emails on my account my usual email: gregb@grotto-networking.com, and my academic email: greg.bernstein@csueastbay.edu.

This is a screen shot of the email I received at my academic account:

![image](https://user-images.githubusercontent.com/1444268/51286359-8306bb00-19a7-11e9-8cce-45e98f9fe131.png)

It didn't seem any different fr

[2019-01-17 09:51] BrianEmilius commented on #595
This is fantastic news. Thanks for listening to the community!

[2019-01-17 12:43] prateekkumarweb commented on #1341
Hi @Kadaaran,
I am facing the same problem with organisation https://github.com/IITH-SBJoshi
I deleted the previous classroom and now I am unable to create a new classroom with the same organisation.
I tried removing the third party access (from Organisation settings) but that doesn't help.
Could you please try re-run a delete for this organisation as well?
Thanks.

[2019-01-17 13:59] BenEmdon commented on #1739
@Wind4Greg yesterday we checked which plan your organization is on, and it was still on the "free" plan. You can confirm this by going to https://github.com/organizations/CSUEB-CS351-Spring2019/settings/billing. To upgrade your plan please go to https://education.github.com/discount.

If you have trouble upgrading your plan please contact GitHub support (https://github.com/contact).

I am closing

[2019-01-17 13:59] #1739 closed

[2019-01-18 15:59] msalloum opened #1740 "GitHub classroom - repo cannot be created"
i created a github classroom and gave students link. Each time they try to use link to create repo, they get an error.

[2019-01-18 18:33] ArthVader opened #1741 "Error creating assignment repository"
**Describe the bug**
Creating the Assignment was successful and I was provided an invitation link. I decided to test this link to see if I could properly create an assignment repository using the link. When attempting to do this, an error arises with no further details other than retrying. I have attempted to retry many times with the progress bar going further and further but never completing. Th

[2019-01-18 20:53] BenEmdon commented on #1741
@ArthVader Thank you from writing such a detailed issue ✨

I just checked your organization (https://github.com/FSU-ComputerGraphics) and it looks like your organization is still on the "free" plan. You can confirm this by going to https://github.com/organizations/FSU-ComputerGraphics/settings/billing.

I see from your final screenshot that you signed your _user_ account up for the student develop

[2019-01-18 20:53] #1741 closed

[2019-01-18 20:56] BenEmdon commented on #1740
Hey @msalloum 👋

Your issue description doesn't provide us enough information to help you.

Could you please provide:
* the assignment invitation link
* a screenshot of the error your students are experiencing

[2019-01-18 21:06] BenEmdon commented on #1721
Hey @dmgatti 👋

As @ccannon94 mentioned, there is a limit of 1 classroom per organization.

This is definitely not ideal and we are working on allowing organizations to have multiple classrooms (but that change is still in the works).

Thanks @ccannon94 for answering and providing some advice 👏

Im going to go ahead and close this issue. If either experience a bug with classroom, be sure to open a

[2019-01-18 21:06] #1721 closed

[2019-01-18 21:08] msalloum commented on #1740
Thank you for the reply. Attached is the snapshot of the error.

Here is the repo: https://github.com/CS172-UCR/PS1

Find the invite link to Github Classroom here:
https://classroom.github.com/a/n4qYsrML

On Fri, Jan 18, 2019 at 12:57 PM Ben Emdon <notifications@github.com> wrote:

[2019-01-18 22:18] BenEmdon commented on #1740
I just checked your organization (https://github.com/CS172-UCR) and it looks like your organization is still on the "free" plan. You can confirm this by going to https://github.com/organizations/CS172-UCR/settings/billing. Organizations on the "free" plan aren't allowed to have private repositories.

To fix this issue you must sign up your organization to the education pack. To upgrade your plan p

[2019-01-18 22:18] #1740 closed

[2019-01-19 05:51] miscbits commented on #582
The way I would like to see this implemented is just by putting a webhook on an assignment that goes along with any repo that is created by a student accepting the assignment. This way, anyone could integrate with any service they'd like or create their own custom service.

I like this better than a config file in the repo because it doesn't allow a student to mess with a config file that rightful

[2019-01-19 10:37] ana-romero opened #1742 "Problem when trying to accept assignments"
I'm new in github education and I plan to use it with my students the following semester. For the moment I have created a classroom called "EDSS1819" and several assignments but when I send the link to an account supposed to be a student I get the error "Creating repository Errored" and the repository is not created. I have tried with different accounts and different assigments. Thank you very muc

[2019-01-20 04:35] JoshuaJB commented on #1742
I created a classroom for testing and played around with all the assignment settings to see if I could find some way in which repository creation works, and it seems like the only way is by setting the assignment repositories to be public. Maybe there's some internal issue around the recent switch to unlimited free private repositories which is causing problems?

[2019-01-20 16:12] ThierrySans commented on #1330
I am facing the same problem. Some of my students are working professionals and they are quite reluctant in giving access to their company's organization. I totally understand that and I see no reason why they should. To prevent that, they are creating new Github accounts. This is not ideal. It would be great to solve this problem.

[2019-01-20 18:58] BenEmdon commented on #1742
@ana-romero I just checked your organization (https://github.com/EDSS1819) and it looks like your organization is still on the "free" plan. You can confirm this by going to https://github.com/organizations/EDSS1819/settings/billing. Organizations on the "free" plan aren't allowed to have private repositories.

To fix this issue you must sign up your organization to the education pack. To upgrade y

[2019-01-20 18:58] #1742 closed

[2019-01-20 19:01] BenEmdon commented on #1742
@JoshuaJB I also checked your organization (https://github.com/comp524-s19) and yours is also on the "free" plan. You can confirm this by going to https://github.com/organizations/comp524-s19/settings/billing.

To fix this issue see my comment above ☝️

[2019-01-20 21:49] BenEmdon commented on #1330
@BU-AWolfe thank you for your detailed issue.

## How OAuth App organization access works
The OAuth App permission model doesn’t allow apps to request fine grain organization access, but it does allow users to grant fine grain access.

By default, GitHub Classroom will **not** get access to all of a users organizations. To give GitHub Classroom access to each organization, the user must be explici

[2019-01-20 21:49] #1330 closed

[2019-01-23 01:05] gbrain opened #1743 ""no seat user" when joining assignment"
**Describe the bug**
When Students attempt to join an assignment, they get a validation error: "TeamMember: no seat user"

**To Reproduce**
I'm not sure what if any of the following steps caused this error, but this is my journey
Steps to reproduce the behavior:
1. Setup a Classroom on a Free Account
2. Upgrade to a paid account
3. Create a new private repo on paid account
4. Convert private repo

[2019-01-24 20:13] mozzadrella commented on #443
@michaelmior LTI is a separate project from Google Classroom, but at the moment I am doing research and gathering requirements for this. Would you be open to being contacted for a brief interview about your school's needs?

[2019-01-24 22:46] michaelmior commented on #443
@mozzadrella I don't have any specific needs at this point. I understand that LTI is a separate project. I'm just confused why this issue was closed and where I should be following.

[2019-01-25 00:39] BenEmdon commented on #1743
I just checked your organization (https://github.com/LEARNAcademy) and it looks like your organization is still on the "free" plan. You can confirm this by going to https://github.com/organizations/LEARNAcademy/settings/billing. Organizations on the "free" plan aren't allowed to have private repositories.

To fix this issue you must sign up your organization to the education pack. To upgrade your

[2019-01-25 00:39] #1743 closed

[2019-01-25 08:43] nsilvestri opened #1745 "Student repositories inflate contribution count on profile"
**Describe the bug**
Cloning the assignment for the students also affects the count of contributions on my profile, as the commit I made on the starter repository got cloned to ~100 students and the commits got duplicated per student repository. I now have 300+ contributions that I did not make on January 10th and 17th.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new assignment,

[2019-01-25 16:34] malziagalvani opened #1746 "Students cannot accept assignments for private repositories"
**Describe the bug**
If I create a new individual assignment and set it as private the students get the message "GitHub repository could not be created, please try again"
If I create the same assignment with a public repository everithings works well

**To Reproduce**
Steps to reproduce the behavior:
1. Create a individual assignment with  a private repositorie
2. Give the link to a student accoun

[2019-01-27 18:49] BenEmdon commented on #1746
I just checked your organization (https://github.com/iisgalvanimi) and it looks like your organization is still on the "free" plan. You can confirm this by going to https://github.com/organizations/iisgalvanimi/settings/billing. Organizations on the "free" plan aren't allowed to have private repositories.

To fix this issue you must sign up your organization to the education pack. To upgrade your

[2019-01-27 18:49] #1746 closed

[2019-01-27 18:56] BenEmdon commented on #1745
@nsilvestri you are right that this is a problem with the contribution counting system.

If you use https://github.com/new/import to duplicate a repo on GitHub, then the contributions will be counted however many times you duplicate the repo.

Classroom uses the source import API underneath and is also subject to this problem.

Unfortunately this problem is out of scope for Classroom to fix, but I

[2019-01-27 18:56] #1745 closed

[2019-01-29 12:34] eoershova opened #1748 "Classroom Assistant could not find assignment"
**Describe the bug**
Cannot download repos via Classroom Assistant

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/classrooms/42267123-2018-2019/assignments/hw11-2
2. Click on Download Rep
3. Wait for Assistant to launch
4. See error

**Expected behavior**
repos get downloaded

**Screenshots**
If applicable, add screenshots to help explain your problem.

![

[2019-01-29 16:35] jashelio commented on #1660
This is still happening!

![image](https://user-images.githubusercontent.com/17816986/51923910-fa7e1680-23b9-11e9-8dd6-e43fc557fbbb.png)

[2019-01-29 17:00] BenEmdon commented on #1660
@jashelio the issue you are experiencing is different from the one specified in this issue. Please open a new issue to get assistance.

[2019-01-29 17:52] youngwghs commented on #1542
I am having the same problem right now with only one of my GitHub Classrooms. I created an individual assignment and students receive the error below when the repository for the assignment is being set up.
![github error](https://user-images.githubusercontent.com/19416141/51928764-4631bf80-23bc-11e9-9262-6a4263c5b073.png)

[2019-01-29 17:55] youngwghs opened #1749 "GitHub Classroom Assignment Setup Fails for Students"
**Describe the bug**
The error occurs when students accept the assignment and the repository is being imported.

**Expected behavior**
The repository would be imported successfully for each student after being accepted.

**Screenshots**
![github error](https://user-images.githubusercontent.com/19416141/51928922-9f99ee80-23bc-11e9-85a5-25330935b1f8.png)

**Additional context**
This does not happen

[2019-01-29 18:11] imbur opened #1750 "Cannot disable assignment URL"
**Describe the bug**
On the group assignment settings page after unchecking _Enable assignment invitation URL_, students can still sign up using the assignment link.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Group assignment
2. Check 'Enable assignment invitation URL'
3. Make sure others you invite with the link can sign up
4. Go to the assignment settings page
5. Uncheck 'Ena

[2019-01-29 18:38] BenEmdon commented on #1542
@youngwghs the issue you are experiencing is different from the one specified in this issue. Please open a new issue to get assistance.

[2019-01-29 19:00] jashelio opened #1751 "Students Cannot Clone my Assignment Repo"
When the students type in the URL for the assignment from my classroom's assignment list, the repository setup fails. We have tried many times.

Although I don't think this can be the problem, I will mention that I was not asked to renew my status as an educator by sending a scan of my photo ID again this spring.

![image](https://user-images.githubusercontent.com/17816986/51932967-48047e80-23ce-1

[2019-01-29 19:13] willemneal commented on #1749
I too am experiencing this.  And to add some more info the accounts are linked and on the roster.

[2019-01-29 20:33] BenEmdon commented on #1751
@jashelio I just checked your organization (https://github.com/CSCI-142-10-20185) and it looks like your organization is still on the "free" plan. You can confirm this by going to https://github.com/organizations/CSCI-142-10-20185/settings/billing. Organizations on the "free" plan aren't allowed to have private repositories.

To fix this issue you must sign up your organization to the education pa

[2019-01-29 20:33] #1751 closed

[2019-01-29 21:38] jashelio commented on #1751
Thanks, Ben, I found what I needed to do and have applied. I hope the approval does not take long, as I have a class soon.

I also look forward to the process becoming more straightforward!

Sincerely,
James Heliotis

[2019-01-29 21:52] BenEmdon commented on #1749
I just checked your organization (https://github.com/WGWebDesign) and it looks like your organization is still on the "free" plan. You can confirm this by going to https://github.com/organizations/WGWebDesign/settings/billing. Organizations on the "free" plan aren't allowed to have private repositories.

To fix this issue you must sign up your organization to the education pack. To upgrade your pl

[2019-01-29 21:52] #1749 closed

[2019-01-29 21:52] BenEmdon commented on #1749
@willemneal please check if you organization is on the "free" plan too. If you are still having issues please open a anew issue.

[2019-01-29 22:49] youngwghs commented on #1749
Thanks Ben,

I am on the Educational Discount plan and didn’t realize that I had not requested for that discount to apply to this particular class. Thanks so much!

Sent from my iPhone

[2019-01-30 10:41] nguyenngocphuongnb commented on #772
your repository may contain files with size larger than 100MB, try to remove these files using  [BFG Repo-Cleaner](https://rtyley.github.io/bfg-repo-cleaner/). There is a tutorial about [How to solve Github import error: "We found an error during import"](https://cloudreports.net/how-to-solve-github-import-error-we-found-error-during-import/). Remember to backup your project source code and git da

[2019-01-31 12:52] aakamis opened #1752 "GitHub classroom repo setup never"
**Describe the bug**
Process still has not completed to set up a tiny repo (8+ hours to set up a repo). First progress bar (Creating Repository, on the left) is quick. Second progress bar (Importing starter code), on the right, never completes.

**To Reproduce**
Followed the steps in the GitHub classroom for this:

BUS212a-S2-Spring-2019-classroom - Analyzing Big Data II

**Expected behavior**
Cre

[2019-01-31 13:57] boyland opened #1753 "Links to student repos on classroom assignment page often are missing"
**Describe the bug**
The assignment page is very unreliable for showing student repositories.

**To Reproduce**
Steps to reproduce the behavior:
Go to the assignment page listing repos.  Some student repos will be marked missing.  Refresh and a different set are marked missing.  Refresh again, and yet a different set are shown.

**Expected behavior**
All student repos that exist should be shown.

[2019-01-31 15:02] finin opened #1754 "Unable to accept assignment: "GitHub repository could not be created""
**Describe the bug**

I have a github classroom (https://classroom.github.com/classrooms/46271064-umbc-cmsc-471-01-s19-classroom) and created an initial assignment (https://classroom.github.com/a/dTtxskCT) but when I or students try to accept the the assignment, it fails with the message "GitHub repository could not be created, please try again".  Note: I tried deleting the assignment and recreati

[2019-01-31 15:36] BenEmdon commented on #1753
@boyland I have investigated thoroughly and have noticed that one of the admins in your classroom with the login [`stevensaunders`](https://github.com/stevensaunders) doesn't have the GitHub org permissions to see all of the repositories in the organization.

Classroom picks an admin token at random to use to request GitHub data (like such as seen in your screenshots).

A simple work around to thi

[2019-01-31 15:39] BenEmdon commented on #1754
I just checked your organization (https://github.com/UMBC-CMSC-471-01-Spring-2019) and it looks like your organization is still on the "free" plan. You can confirm this by going to https://github.com/organizations/UMBC-CMSC-471-01-Spring-2019/settings/billing. Organizations on the "free" plan aren't allowed to have private repositories.

To fix this issue you must sign up your organization to the

[2019-01-31 15:39] #1754 closed

[2019-01-31 15:51] finin opened #1755 "No students can accept assignment: "GitHub repository could not be created...""
**Describe the bug**

I have a github classroom (https://classroom.github.com/classrooms/46271064-umbc-cmsc-471-01-s19-classroom) and created an initial assignment (https://classroom.github.com/a/dTtxskCT) but when I or students try to accept the the assignment, it fails with the message "GitHub repository could not be created, please try again".  Note: I tried deleting the assignment and recreati

[2019-01-31 15:53] #1755 closed

[2019-01-31 18:22] aleveren commented on #1712
I'm also having this problem.  Can someone please look into this?  I've already tried contacting GitHub support and was instructed to open an issue on this repository.

Here's the assignment where multiple users are unable to import the starter code:
https://classroom.github.com/classrooms/46382312-cse-100-winter-2019/group-assignments/project-2
The import step gets stuck indefinitely, and attempt

[2019-01-31 18:48] BenEmdon commented on #1712
@aleveren its quite possible your issue is different from this one, so please open a new issue and include the assignment invitation link.

[2019-01-31 19:53] BenEmdon commented on #1753
Since we were able to resolve your issue I am going to go ahead and close this issue. If you feel it is unresolved, please reopen this issue.

[2019-01-31 19:53] #1753 closed

[2019-01-31 20:05] boyland commented on #1753
Closed: as in "won't fix" ??  github classroom shouldn't just say that the repo doesn't exist.  It is giving the wrong output.  So don't you agree this is a bug?

And classroom does this to *avoid* rate limiting, right?  It's trying to avoid getting caught by github's rate limiting checks, not because it actually helps anything.

[2019-01-31 20:40] BenEmdon commented on #1750
Hey @imbur 👋 thanks for reporting in.

This appears to be a known problem #1592.

[2019-01-31 22:42] mozzadrella commented on #1753
@boyland I understand the frustration, and I take the feedback. We're working within constraints, which @BenEmdon helped with.

A few of your comments in this thread border on uncivil. This project is governed by our [Code of Conduct](https://education.github.community/faq) and GitHub's [Terms of Service](https://help.github.com/articles/github-terms-of-service/). Please consider this a warning.

[2019-02-03 00:47] Braythor commented on #1748
Hi there @eoershova 👋, thanks for reporting this issue. When clicking on your link, it gives me a 404, are you sure that link is valid? The reason Classroom Assistant is giving you that error is because it probably got a 404 too.

[2019-02-03 01:46] amhics opened #1756 "Error accepting assignments"
**Describe the bug**
I am unable to create private repo assignments for students, although other instructors can (from the same starter code repo).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/classrooms/46939023-csci142-07-spring19-classroom
2. Click on either assignment link provided, so

https://classroom.github.com/a/QSLGDhfw
or
https://classroom.git

[2019-02-03 01:51] amhics commented on #1756
TO be more precise, I successfully "create" the assignment and have the link, but anyone trying to accept it fails right away, so they can't check out the code.

[2019-02-03 07:50] eoershova commented on #1748
Hey there!
Apparently it is, I rebooted my laptop twice and after the second time managed to download the assignment via the link

Thanks for your answer anyway, I wasn’t really expecting one
King regards,

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Braythor <notifications@github.com>
Sent: Sunday, February 3, 2019 3:47 AM
To: education/classroom
Cc: Ершова

[2019-02-03 15:58] BenEmdon commented on #1756
I just checked your organization (https://github.com/CSCI142-HAMZA-SPRING19) and it looks like your organization is still on the "free" plan. You can confirm this by going to https://github.com/organizations/CSCI142-HAMZA-SPRING19/settings/billing. Organizations on the "free" plan aren't allowed to have private repositories.

To fix this issue you must sign up your organization to the education pa

[2019-02-03 15:58] #1756 closed

[2019-02-04 16:10] rjsvcs opened #1757 "Class Invite/Repository Creation Taking Excessive Time"
**Describe the bug**
Many students are reporting that it takes an excessively long time to import starter code after accepting an assignment. When students click the classroom invitation link and accept the assignment, the progress bar for creating the repository moves quickly, but then the progress bar for importing starter code hangs, usually around 80-80%. Sometimes for hours. If the student re

[2019-02-04 16:19] mstine opened #1758 "Student repository creation stuck"
**Describe the bug**
Student @mml2 tried to create a repo for assignment https://classroom.github.com/classrooms/42622010-ddd-event-driven-microservices-course/assignments/2019-02-oreilly-sacon about 15 minutes ago. It is still stuck. No movement has happened on any of the progress bars. I confirmed from my dashboard there is not a repo for @mml2.

**To Reproduce**
Steps to reproduce the behavior:

[2019-02-05 01:46] joshua-doolan opened #1759 "Importing Starter Code Stuck for Indeterminate Amount of Time"
**Starter Code Takes Forever**
Likes issues #1623, #1732, #1731, and #1616, my starter code takes forever (12 hours and counting...) to import.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/assignment-invitations/0410d22b62daa9039caa9c711c678db5/setup
2. Wait

**Expected behavior**
The starter code should import, and I should be able to access the reposit

[2019-02-05 22:20] ericpollmann opened #1761 "Assignment fails: "We were not able to add you to the Assignment as a collaborator, please try again.""
**Describe the bug**
Assignment fails: "We were not able to add you to the Assignment as a collaborator, please try again."
Creating repository Errored
Importing starter code: Errored

**To Reproduce**
Steps to reproduce the behavior:
1. https://classroom.github.com/assignment-invitations/985d6b58f7ee6caffbce5871c696bb45/setup
2. Accept assignment
3. 2 of 8 people have experienced this error.

**E

[2019-02-05 22:20] ericpollmann commented on #1761
No official comment on https://github.com/education/classroom/issues/1271, but it may be due to 2FA being required for our org, I'll check with the student.

[2019-02-05 22:22] ericpollmann commented on #1761
Verified we do not have 2FA required for our org, but the students still had repeated failures accepting the assignment.
<img width="705" alt="screen shot 2019-02-05 at 2 21 58 pm" src="https://user-images.githubusercontent.com/7079390/52308143-7562a680-2951-11e9-884a-33dffd0bfa4e.png">

[2019-02-05 22:23] ericpollmann commented on #1271
I'm experiencing this issue again, we do not have 2FA on, and 2 of 8 students who attempted to accept the assignment failed setup with this message.

[2019-02-06 15:27] KCholod commented on #1759
I have the same issue with a different assignment: https://classroom.github.com/assignment-invitations/b630df97007bc7a4bcf7a8f98e5a74f4/setup

For me, this is my first time on GitHub, although I doubt that's relevant.

[2019-02-06 20:03] hswift1 commented on #1255
I am having this same type of issue - my students' links are not even getting through the repo creation. I have tried with two different types of assignments - one with starter code and one without - they both continue to error out.

Any assistance is greatly appreciated!
Sincerely,
Heather

[2019-02-06 23:01] kavinshah opened #1762 "importing starter code takes forever to complete"
**Describe the bug**
Importing Starter Code takes forever to complete

**To Reproduce**
Steps to reproduce the behavior:
When clicking 'Accept the assignment' on previous window

**Expected behavior**
Assignment must have been completely loaded for me

**Screenshots**
![send](https://user-images.githubusercontent.com/38910831/52379713-41fb4700-2a39-11e9-84a9-53072cfebe6e.PNG)

**Additional context

[2019-02-07 13:28] hswift1 opened #1763 "Students can not accept assignment and create repos."
I created a classroom and 2 different assignments. My students' links are not even getting through the repo creation. I have tried with two different types of assignments - one with starter code and one without - they both continue to error out.

Any assistance is greatly appreciated!
Sincerely,
Heather

<img width="1243" alt="screen shot 2019-02-07 at 8 27 48 am" src="https://user-images.githubus

[2019-02-07 16:14] elhambuxton opened #1764 "Deleting Student repository"
### Feature request :sparkles:
_Please provide a description of the feature you would like Classroom to have_

[2019-02-07 16:16] elhambuxton commented on #1764
I have a student who accepted the invitation for an assignment multiple times and created multiple repositories for the same assignment. It does not seem to be an option that allows me to delete the duplicate repositories. How can I delete a student repository for an assignment?

[2019-02-08 02:56] ADWolfe-LoyNO commented on #595
@srinjoym any further news on this?  We are starting to create assignments for upcoming classes and creating new orgs for them is just not a good situation

[2019-02-08 10:37] miguelpardal commented on #415
Hi @johndbritton @mozzadrella ,

I am an University Lecturer at a technical course on Distributed Systems. I am a big fan of GitHub for teaching and have been using it for 5 years!

This year we were considering using GitHub Classroom for the lab assignments. However, given that we have a 300 student roster and we need to have fixed students per lab, the teachers really needed to have the ability

[2019-02-08 14:34] mozzadrella commented on #595
@ADWolfe-LoyNO indeed! We now offer multiple classrooms per organization:

https://github.blog/2019-01-23-github-classroom-now-supports-multiple-classrooms-per-organization/

Thanks to all who were patient with us as we worked on this feature. If you have feedback, feel free to reach out to education@github.com and put my handle somewhere in the message.

Wishing you all an awesome semester. ✨

[2019-02-08 14:34] #595 closed

[2019-02-08 15:23] ADWolfe-LoyNO commented on #595
Hooray!

Andrew D Wolfe, Jr, MSCS
Assistant Visiting Professor
Department of Mathematics and Computer Science
Loyola University of New Orleans
adwolfe@loyno.edu <mailto:adwolfe@loyno.edu>
tel:+15048652951

[2019-02-08 15:32] jfiksel commented on #595
It's a bit unclear from the blog post how this works--does this mean that students in different classrooms will all be part of the same organization? And then the assignment repos will continue to all be within the same organization?

[2019-02-08 17:52] klancasterprof commented on #1763
I am having this problem as well.

[2019-02-08 19:14] msalloum commented on #1740
Hi Ben,

I had signedup for github education more than 2 weeks ago. I created a new
assignment here:
https://classroom.github.com/assignment-invitations/549da1cfa3a4896471a8c57496d2af8a/setup

But i'm having the same issue as last time. Since i requested education
account for @msalloum shoudn't this work this time around?

On Fri, Jan 18, 2019 at 2:18 PM Ben Emdon <notifications@github.com> wrote:

[2019-02-08 20:08] BenEmdon commented on #1740
Hey @msalloum, you need to request an education discount for your organization (https://github.com/CS172-UCR).

Here's a guide on what you need to do https://help.github.com/articles/applying-for-a-classroom-discount/

[2019-02-08 20:19] msalloum commented on #1740
Thank you for your response, but i believe I did this last time.

Is it possible my other account has this access:
https://github.com/organizations/UCR-ComputerScience/settings/profile
I know i went through this process last time

On Fri, Feb 8, 2019 at 12:08 PM Ben Emdon <notifications@github.com> wrote:

[2019-02-08 20:30] msalloum commented on #1740
So on the site it states: Once your application has been reviewed and you
receive an email notifying you that your GitHub Education individual
faculty membership has been approved, you may return to
https://education.github.com to upgrade your GitHub organizations used for
academic purposes.

So how do i do this step?

On Fri, Feb 8, 2019 at 12:18 PM Mariam Salloum <mariam.salloum@email.ucr.edu>
w

[2019-02-09 08:42] nourSmaoui commented on #1763
I am also having similar problems

[2019-02-09 17:53] rjsvcs commented on #1763
I have seen something similar a few times when an assignment is created to use private repositories, but the organization with which the classroom is associated cannot create unlimited private repositories. Is your assignment configured such that the student repositories are private? If so, is your organization able to create the required number of private repositories (e.g. a paid account or an e

[2019-02-09 17:55] rjsvcs commented on #1758
This is a duplicate of a bug that I reported at almost exactly the same time as you (issue #1757). Glad it's not just me.

[2019-02-09 17:56] rjsvcs commented on #1759
Duplicate: #1757

[2019-02-09 17:56] rjsvcs commented on #1762
Duplicate: #1757

[2019-02-09 20:39] klancasterprof commented on #1763
@rjsvcs I created the org using an educational discount (part of classroom) Github account. What else would need to happen? As an aside, the error messages are ridiculous. They provide no guidance at all.

[2019-02-09 21:44] rjsvcs commented on #1763
Once you create the org you need to explicitly apply for and receive an educational discount for the org. It's not enough that you have a discount on your own account; the org is the owner/creator of the repositories used by the classroom.

When you create an assignment, you should see a shortcut to the right side of the screen:

![image](https://user-images.githubusercontent.com/22302214/52526655

[2019-02-09 23:00] klancasterprof commented on #1763
@rjsvcs Thanks for the response. I had already done that. When I click on the box to apply, it says that I have already applied and been approved, so I don't think that is the problem.

[2019-02-10 14:15] rjsvcs commented on #1763
Then this is definitely not the problem that I have seen before. Good luck!

[2019-02-11 07:56] kaspersoerensen commented on #1764
Hi @elhambuxton

You should be able to find the student repository when you are logged into your github organization. In the overview of repositories, find the one you want to delete, click on the link to go to the repository page, click settings and scroll down to the bottom of the page where it says "Danger Zone". Here you should be able to delete the repo.

Does this answer your question?

[2019-02-11 14:33] klancasterprof commented on #1763
@hswift1 Have you had any luck with this?

[2019-02-11 14:57] klancasterprof commented on #1763
@rjsvcs It does appear that it is related to projects being public. Since I have already done what I think was required to have private repos, not sure where to go. Public repos on student projects is a complete non-starter.

[2019-02-11 18:23] hswift1 commented on #1763
Hi, sorry I was missing on this for a couple of days. I just got back to it and tested creating the assignment with the students' repositories being public. It does work when the repos are public. I agree with @klancasterprof in regards to completing all the necessary steps to create unlimited private repos for students. I also completed the steps and should have the ability to create unlimited pr

[2019-02-12 09:09] luytsm commented on #1764
It would be nice to be able to delete in bulk.

At the moment my organization has 532 repositories mainly of the Classroom Assigments. It would be nice to be able to delete all the repos that are associated with the press of a button

[2019-02-12 23:58] klancasterprof commented on #1763
@johndbritton Can someone please look at this? This issue may cause me to have to abandon using classroom, since I must have private repos.

[2019-02-13 14:22] mozzadrella commented on #1763
@hswift1 @klancasterprof I looked at both of your accounts, and the problem is that you applied for an individual discount (for your own repositories) not for an organization.

Here are the steps to get a Team plan for unlimited private repositories for your students:

Faculty can now easily upgrade any GitHub organization being used for academic purposes to [GitHub Team](https://github.com/pricin

[2019-02-13 14:22] #1763 closed

[2019-02-13 14:31] klancasterprof commented on #1763
@mozzadrella Thanks for the response! This is overall a bit confusing. I just went through the steps and it required me to verify my academic status again, and thus creates a delay. Is there some reason that verification has to occur twice?

[2019-02-13 14:33] mozzadrella commented on #1763
@klancasterprof from time to time we will ask faculty to renew. Since we just released the ability for teachers to self-serve in upgrading their own orgs, some faculty may need to re-verify.

[2019-02-13 14:36] klancasterprof commented on #1763
@mozzadrella Ok - thanks. I just thought it a bit odd since its only been 2 weeks since I was first approved. In any case, thanks again for responding.

[2019-02-13 15:09] hswift1 commented on #1763
@mozzadrella - thank you for the response - when I go to the page, it says I was already granted benefits in 2017. I will re-submit and see what happens.
Thank you!
<img width="1287" alt="screen shot 2019-02-13 at 10 07 49 am" src="https://user-images.githubusercontent.com/23033756/52721293-5b3f4e80-2f77-11e9-892e-c51f159cf4e3.png">

[2019-02-13 19:19] klancasterprof commented on #1437
@chadfawcett I just tried your plugin and for me, it does not seem to work. Any trick to getting it going? I tried adding it to both my personal account and to the group account, but no luck. Thanks, btw, for giving this a shot. This is an important feature that I hope will be in place soon.

[2019-02-13 23:26] chadfawcett commented on #1437
@klancasterprof I'd be happy to help you get it up and running, but I don't want to take over this thread.

Would you mind opening an issue on the [classroom-bot-issues](https://github.com/chadfawcett/classroom-bot-issues/issues) repo? I'm curious if you tried to install for the Marketplace link or if you tried to deploy your own.

[2019-02-14 00:42] Braythor commented on #1748
Hello @eoershova! Since there isn't any activity on this issue, and it seems as if you resolved it, I'd invite you to close the issue, so we don't get confused by this open issue.

[2019-02-14 00:45] Braythor commented on #1714
Hello @rblack42! It seems that there are parts missing from your issue template, so please take a look and try to add in those details so me and others can help you out better.

Cheers,
Braythor

[2019-02-14 07:34] eoershova commented on #1748
Thanks for you response again!

[2019-02-14 07:34] #1748 closed

[2019-02-14 07:51] swaaz opened #1765 "Process of 'Importing starter pack' is stuck"
**Describe the bug**
whenever you accept the assignment, it opens the page and displays the message "Your assignment repository is being setup. This might take a while." and the progress bar will be shown down. And the process of creating repository will be completed but the process of importing starter code will not complete.I  waited for an hour but it's not completed yet.
**To Reproduce**
Steps

[2019-02-14 18:12] eblanton commented on #1757
I am also experiencing this, and students are additionally having trouble accessing some repositories that appear to have been created successfully using git command line over https.  One student also could not download a .zip of his repository, despite it showing files on the web page (the clone/download menu button would not open a dropdown at all).

I have 198 students, and this is becoming a l

[2019-02-14 22:38] uvic-frodo commented on #595
@mozzadrella With this new feature, the repository name does not include the classroom ID.  In particular, the repository name appears to be formed by the assignment ID + "-" + user ID.  This choice of naming convention then requires a scheme for avoiding name collisions when more than one repository is associated with the same assignment-ID student-ID pair (which can arise in some use cases).  As

[2019-02-15 03:02] lichao2019 opened #1766 "Test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2019-02-15 03:03] #1766 closed

[2019-02-15 03:03] lichao2019 commented on #1766
justTest

[2019-02-15 12:05] kaspersoerensen commented on #1764
@luytsm  I agree. I have noticed that when deleting the classroom all repositories are removed from your organization as well. But that also leads to the repositories being deleted for the students - which might not be what you want to do. Maybe you should open a feature request for a delete in bulk function?

[2019-02-16 18:06] eblanton commented on #1765
This was reported two weeks ago in #1757, with no comment or acknowledgment from the GHC team.  I am still having this problem running my class, and GHC has become basically unusable.  I'm not sure any students have been able to successfully clone in days.

Your instructor should be able to fix this manually, I wouldn't hold out hope for a GHC fix.

[2019-02-16 22:58] jobartucz commented on #1626
I was going to submit a request for exactly this! Thank you. While you are at it, on the same page, could you add the date of the last commit to the repository? That way, in one screen, I can see all of my students and whether they have submitted anything new to the assignment. It would make grading so much easier! (I can also add a separate feature request if you think it is warranted)

![screen

[2019-02-17 08:57] swaaz commented on #1765
How to fix this issue? Do we have any other way? I'm an instructor and how should I fix?

[2019-02-17 14:13] eblanton commented on #1765
I have been fixing student accounts with the following technique (assuming that the student GH account is $STUDENT, the GHC organization is in $ORG, and the project repo prefix is $PREFIX):

 * Check out the master repository on the local machine, and cd to that directory.
 * On the GitHub web site, create a student repository $ORG/$PREFIX-$STUDENT
 * Add $STUDENT to the new repository as a collab

[2019-02-17 15:02] swaaz commented on #1765
Thanks buddy

[2019-02-17 16:13] klancasterprof commented on #1765
@eblanton I was able to get a GHC team member to respond by tagging them in a comment, but from what I see so far they pay little or no attention to these issues. I had planned on recommending GHC to other faculty but at this point I see no reason to.

[2019-02-17 21:54] eblanton commented on #1765
Yes, we are absolutely moving away from GHC (and GitHub) after this semester unless things improve rapidly.  I have been in contact with Atlassian about a hosted BitBucket, and their academic licensing is quite acceptable.  We have also had a lot of stability and connectivity problems with GitHub this semester (in the past I have had GHC problems, but GH itself was not problematic, and the GHC tea

[2019-02-18 16:12] maciossek opened #1767 "Cannot clone assignment with GitHub Actions acitvated"
**Describe the bug**
It's not possible to clone the assignment (accept it) and my guess is that this is related to GitHub Actions. I'd like to switch from travis-ci to GitHub actions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/a/aJPpPaAF
2. See error

**Expected behavior**
Cloning works e.g. with this assignment: https://classroom.github.com/a/crZTyKsH

[2019-02-19 12:55] bobmulder opened #1768 "Clone base-repository including issues and boards"
### Feature request :sparkles:
**Creating new teams/repositories will clone code from a base-repo. Why not cloning the issues and boards as well?**

We are very happy with this useful tool. However, when our students will start with a new assignment they will start with a bunch of issues. At this moment I've written my own tool to 'clone' the issues from one to another, but it would be nice to do

[2019-02-19 15:34] mozzadrella commented on #1768
@bobmulder hello, thanks for opening! This is actually possible with Probot: https://github.com/probot/probot

I am working on a blog post that outlines exactly how for the first week of March. Thank you!

[2019-02-20 04:54] srinjoym commented on #1767
Hi @maciossek,

Thanks for writing in!

This issue is related to https://github.com/education/classroom/issues/1728. OAuth apps like GitHub Classroom are not allowed to modify the `main.workflow` file. We can't do anything on our side until that restriction changes. Let me know if you have any questions.

[2019-02-20 04:54] #1767 closed

[2019-02-21 02:48] skinnyal commented on #846
Just bumping for visibility...Has there any progress on this issue? Or, would there be any other work arounds?

[2019-02-21 02:56] ccannon94 commented on #846
@skinnyal there is actually a GREAT workaround for this in the form of the [Settings Probot](
https://probot.github.io/apps/settings/). This GitHub app allows you to make very fine-grained adjustments to student repositories, including default branch, protected branches, issue tags, and more by adding a `settings.yml` file to the base repository. Hope this helps!

[2019-02-21 02:57] ccannon94 commented on #846
@nwoodthorpe honestly the Settings bot does this so well and in such a manageable way you may want to consider closing this issue and just say that the Settings bot is the way to do this.

[2019-02-21 02:58] skinnyal commented on #846
@ccannon94 Thanks!! I will forward/reference this to my Professor, as I'm the student lol :). Thanks again!

[2019-02-21 20:04] BenEmdon commented on #1765
@swaaz I investigated your classroom and I noticed that it was missing webhooks (related #1647). This appears to be a classroom wide problem and happens sporadically on classrooms. It is a high priority for the classroom team to fix.

We have a manual workaround on the classroom side and I went ahead and re-enabled webhooks on your classroom. If you go to your assignment invitation (https://classr

[2019-02-21 20:04] #1765 closed

[2019-02-21 20:28] BenEmdon commented on #1757
@rjsvcs I went ahead and investigated your repository and I found that it had an invalid web hook (related to #1647). I went ahead and manually fixed webhooks on your classroom _CSCI-124-03_. Your students should see their assignments import.

I went ahead and tried it out on your classroom and can confirm it is working as expected. I will go ahead and close this issue for now. @rjsvcs please reop

[2019-02-21 21:02] BenEmdon commented on #1764
Hey @elhambuxton @luytsm @kaspersoerensen 👋

To delete student repositories you can do so in 3 ways with varying magnitude:
* Delete an individual repository
* Delete all repositories related to an assignment
* Delete all repositories related to a classroom

## Delete an individual repository
You can do this on any repository via GitHub. Go to the github.com/`org_name/repository_name`/settings

##

[2019-02-21 21:02] #1764 closed

[2019-02-21 21:14] eblanton opened #1770 "Classroom invitations are not working on my classroom"
My GitHub classroom is not correctly creating assignments for student repositories.  I was asked by @BenEmdon to provide an invitation link.  Here is such a link:

https://classroom.github.com/a/DDyqbXrL

This is a fake, empty assignment.  Once you have your hands on my classroom, Programming Assignment 1 is the assignment that has been giving me grief (dozens of students were unable to use it), i

[2019-02-22 02:00] BenEmdon commented on #1770
@eblanton I was able to receive the fake empty assignment without issue. I went ahead and investigated what was going on with your _Programming Assignment 1: Conway's Game of Life_ and found there is an issue starting a [source import](https://developer.github.com/v3/migrations/source_imports/) with the starter code you have provided.

I investigated further and it appears that the starter code re

[2019-02-22 02:16] BenEmdon commented on #1762
@kavinshah can you please provide the assignment link?

[2019-02-22 02:27] BenEmdon commented on #1761
@ericpollmann I have just checked your organization and looks like your organization (https://github.com/clearbrain) is on the "team" plan and only has 12 seats. This means that only 12 users can be added to the organization. You can confirm this by going to https://github.com/organizations/clearbrain/settings/billing.

To fix the problem you can either upgrade your plan to have more seats, or if

[2019-02-22 02:27] #1761 closed

[2019-02-22 02:43] BenEmdon commented on #1759
@joshua-doolan I investigated your classroom and I found that it was missing webhooks (related to #1647). I went ahead and manually fixed webhooks on your classroom organization (https://github.com/harvard-ml-courses). Your students should see their assignments import.

---

@KCholod I investigated your classroom organization (https://github.com/umaine-mat400-2019-spring). Your classroom also miss

[2019-02-22 02:43] #1759 closed

[2019-02-22 02:49] BenEmdon commented on #1717
This issue doesn't provide enough information. I am going to go ahead and close the issue for now. @nikhilvicctor please reopen this issue if you are still affected and have some more information to help us debug.

[2019-02-22 02:49] #1717 closed

[2019-02-22 02:57] BenEmdon commented on #1758
@mstine Did this only happen for the one student (`mml2`)? Or did this happen to all of your students?

[2019-02-22 02:59] BenEmdon commented on #1255
@hswift1 Please open a new issue and fill out the issue template. Your issue sounds different from this one.

[2019-02-22 03:31] eblanton commented on #1770
When I went there it say "Deleted repository" in that box, although the repo URL loaded just fine in my browser.  I have reentered the repository URL (I had to type it by hand, I couldn't select it, as it didn't appear as an option in the dropdown due to too many student repos starting with the same sequence) and asked a student to retry the clone.

[2019-02-22 03:43] eblanton commented on #1770
I have confirmation that it worked, thank you!

[2019-02-22 03:46] #1770 closed

[2019-02-22 09:13] moritzge commented on #1759
I have the same issue.
Classroom: https://classroom.github.com/classrooms/47527793-compfabrob19
Assignement: https://classroom.github.com/classrooms/47527793-compfabrob19/assignments/comp-fab-a0
Main repo: https://github.com/computational-robotics-lab/comp-fab-a0
Student repo: https://github.com/computational-robotics-lab/comp-fab-a0-moritzgetest/import

[2019-02-22 09:27] arpita-abrol opened #1771 "Importing starter code not completing"
**Describe the bug**
Importing Starter Code is not completing. I accepted an invite via this link: https://classroom.github.com/a/KxVqoQKX to create this repository: https://github.com/cse320spring2019/hw1-arpita-abrol/

It was stuck for over an hour. I have since attempted to cancel and re-import. Currently, I have had no luck, but will update if I do.

**To Reproduce**
Steps to reproduce the beh

[2019-02-22 10:25] arpita-abrol commented on #1771
Update: I managed to resolve this issue. I re-clicked the link that gave me an invite to a previous repo, and then restarted the process to create the repo in this issue. I was then able to import everything

[2019-02-22 10:26] arpita-abrol commented on #1771
Update: I managed to resolve this issue. I re-clicked the link that gave me an invite to a previous repo, and then restarted the process to create the repo in this issue. I was then able to import everything

[2019-02-22 10:26] #1771 closed

[2019-02-22 14:35] Nirvikalpa108 commented on #1515
Hi @BenEmdon I'm a first time contributor and would really like to help on this repo. At the moment, I don't understand this issue,  but I would really like to help, so if you have any tips (maybe there's another issue that might be better for a beginner? Or this one could be re-described?) that would be really appreciated. Thank you so much in advance xxx

[2019-02-22 18:17] BenEmdon commented on #1759
@moritzge Please open a new issue with these details to ensure that your issue gets resolved.

[2019-02-22 18:40] BenEmdon commented on #286
This appears to have been resolved by [GitHub Classroom-Assistant](https://classroom.github.com/assistant).

Are we good to close this? CC: @mozzadrella @srinjoym

[2019-02-22 18:42] BenEmdon commented on #1431
@eblanton are we okay to close this issue?

[2019-02-22 18:48] BenEmdon commented on #1515
I was just looking through our error reports and it appears we haven't seen this error in a very long time so I would say it's sage to assume that this error is no longer a problem! I will go ahead and close this issue for now.

Hey @Nirvikalpa108 👋 Glad to hear you are interested in contributing to the classroom project! Since this issue appears to have been resolved I would checkout any of the f

[2019-02-22 18:48] #1515 closed

[2019-02-22 18:58] BenEmdon commented on #1762
@kavinshah I investigated your classroom which I looked up from the screenshot and I noticed that it was missing webhooks (related #1647). This appears to be a classroom wide problem and happens sporadically on classrooms. It is a high priority for the classroom team to fix.

We have a manual workaround on the classroom side and I went ahead and re-enabled webhooks on your classroom. All of your a

[2019-02-22 18:58] #1762 closed

[2019-02-22 19:09] kavinshah commented on #1762
@benEmdon thanks!

[2019-02-22 20:00] moritzge opened #1772 "Importing Starter Code never finishes"
**Describe the bug**
When the students click on the invite link for an assignment, a new repo is created, but the import takes forever/never ends.

**To Reproduce**
Steps to reproduce the behavior:
1. open invite link
2. repo gets created
3. import never ends
4. when import is canceled, repo is empty

**Expected behavior**
Starter code imported correctly.

**Screenshots**
If applicable, add screen

[2019-02-22 20:01] ZhengEnThan opened #1773 "Repository setup/ Starter code import takes a long time to load"
**Describe the bug**
The importing starter code progress bar when clicking on an assignment link hangs forever.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to https://classroom.github.com/a/Xh-s-mwL

**Expected behavior**
Everything should be successfully loaded and the page will be redirected to the assignment repository.

**Screenshots**
![image](https://user-images.githubusercont

[2019-02-22 20:03] ZhengEnThan commented on #1773
Please send help as soon as possible as I need to start this assignment immediately :'(((

[2019-02-22 20:05] Nirvikalpa108 commented on #1515
Great, thank you @BenEmdon 👍

[2019-02-22 21:34] eblanton commented on #1431
I don't know, is it fixed?  I have a work around that is good for me, but as far as I know the original issue was never addressed.

I guess my answer is that it's up to you, because it's not currently affecting me.

[2019-02-22 21:54] manu-msr commented on #1773
I have this problem too.

![image](https://user-images.githubusercontent.com/15841718/53273598-0b206480-36ba-11e9-949b-64b258fdf06f.png)

[2019-02-22 22:21] belgort-clark commented on #784
I'm today seeing this error with an assignment.

[2019-02-22 22:35] belgort-clark commented on #1623
I'm currently having this same issue today with an assignment. Is there a GitHub outage?

[2019-02-22 23:57] mainland opened #1774 "Importing starter code takes forever"
I am currently experiencing the same issue as #1623 for the DrexelCS360 organization. Is there a GitHub service outage?

[2019-02-23 00:40] dshean commented on #1774
I'm also experiencing this.  Worked normally for 4 out of 12 students.  The rest still have a stuck progress bar.  I deleted one student's repo, and she tried to re-accept the assignment.  Same problem.

[2019-02-23 00:45] belgort-clark commented on #1774
Same here. Students are contacting me with these same errors. Let me know how I can help.

[2019-02-23 01:09] klancasterprof commented on #1774
A student just contacted me about this - 2 hours and counting. I also noticed that just looking at a previous assignment I had given took a couple of minutes to load, even though there were only about 40 students.

[2019-02-23 01:56] amcdonald714 commented on #1774
I have also had multiple students contact me with this issue over the last few hours.

[2019-02-23 03:22] iakopatran commented on #1774
I am also experiencing this issue for the cal-cs184 class. Assistance or further information would be appreciated.

[2019-02-23 03:33] mahdi-b opened #1775 "accepting assignment gets stuck"
**Describe the bug**
Accepting assignment get stuck for most students

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Assignment 2'
2. Click on 'accept assignment'
3. "Importing starter code" get stuck

**Additional context**
This issue was reported by a few other users but the solution to fix it is not clear. How do I fix a webhook?

[2019-02-23 04:20] belgort-clark commented on #1775
I have not heard of a fix for this yet.

[2019-02-23 04:47] bbtong commented on #1623
Same issue for Cal students.

[2019-02-23 05:19] A-Alaa commented on #1774
The issue is still persisting for my classroom.

[2019-02-23 05:51] an-ju commented on #1774
We are having the same issue.

[2019-02-23 06:01] srinjoym commented on #1647
@BenEmdon What do you think about renaming this issue to include "Importing starter code taking a long time" or something like that so people know that it's related to this problem? That could help redirect people here as they run into issues

[2019-02-23 06:19] belgort-clark commented on #1772
Same here.

[2019-02-23 15:44] belgort-clark commented on #1772
It's still not working as of Saturday morning

[2019-02-23 17:37] kbinney opened #1776 "Classroom created repos stall"
Students attempt to accept an assignment, which is initialized with a public repo owned by the our organization, but after many hours (ie 8+) the assignment still shows as initializing.

**To Reproduce**
Attempt to accept the "ps 3" assignment for cs51. It doesn't happen every time, but enough that some students are not able to get started on work.

**Expected behavior**
We expect the repos to ini

[2019-02-23 19:32] dmusican commented on #286
Agreed. Thanks for working on this!

[2019-02-23 19:32] #286 closed

[2019-02-24 01:21] kbinney commented on #1776
<img width="1368" alt="screen shot 2019-02-23 at 12 42 41 pm" src="https://user-images.githubusercontent.com/19810267/53293770-96782380-37a8-11e9-8f4a-1451f3b12a27.png">
Update: Above is where it stalls for many hours / indefinitely.

[2019-02-24 10:25] fywu85 commented on #1623
Can someone look into this? I have been stuck with the following for a day...
![image](https://user-images.githubusercontent.com/8881002/53297981-6bf38e00-37db-11e9-9dd7-a2f6bc07c28d.png)

[2019-02-24 11:24] hroncok commented on #1623
It is happening again for us:

![_](https://user-images.githubusercontent.com/2401856/53298487-2660b080-382f-11e9-8f1f-0408f1126524.png)

[2019-02-24 11:28] hroncok opened #1777 "Repository setup progressbar hangs at "Importing starter code...""
**Describe the bug**
The repository setup progressbar when clicking on assignment link hangs forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to classroom.github.com
2. In a classroom, create a new (individual) assignment
3. Use **Add your starter code from GitHub**
4. Make sure to **Enable assignment invitation URL**
5. Later, click on the assignment invitation URL and follow the

[2019-02-24 11:28] hroncok commented on #1777
This time, the repository is not ready:

![_](https://user-images.githubusercontent.com/2401856/53298531-bacb1300-382f-11e9-810c-81c05541dfa3.png)

[2019-02-24 12:24] hroncok commented on #1777
deleting and starting over helped this time :( a haisenbug

[2019-02-24 14:50] snadi commented on #1777
I have the same problem. What I do is cancel the import and manually commit and push the starter code to the student's repo. The thing is this does't happen with every student though.

[2019-02-24 18:22] eblanton opened #1778 "Classroom invitations are failing to import"
I have the same bug that everyone else is having.  Classroom invitations are stalling for long periods of time.  An example invitation on my classroom is below, the invitations that are failing are for Lab 04.  I have disabled Lab 04 invitations for now to avoid having a bunch of broken repos on my organization, but labs start tomorrow at 2 PM.

Invitation to fake project:
https://classroom.github

[2019-02-24 18:28] ronz243 commented on #1623
Happening since 1 day

![screenshot 2019-02-24 at 10 27 40 am](https://user-images.githubusercontent.com/5845142/53303418-ea255400-381e-11e9-9fde-cfbda26513d7.png)

[2019-02-24 19:30] alanyli commented on #1591
Is there a fix for this? I am having the same issue. Looking up the repo manually would just redirect me to the page showing "Updating branches and 0 commit authors…".

[2019-02-24 19:46] boyland commented on #1591
One of my students had this issue Saturday and my TA (alanyli above) ran into it yesterday.  It's definitely a live issue.

[2019-02-24 20:19] #1773 closed

[2019-02-24 21:26] awatts3 opened #1779 "Importing starter code going forever"
From this assignment link: https://classroom.github.com/a/Binyi_IF
I've been stuck on importing starter code for almost 2 hours, the progress bar has stopped very near the end
I'm a student in the class and would love to do my homework

[2019-02-24 21:47] awatts3 commented on #1779
I canceled the creation and tried again a few times, that eventually worked

[2019-02-24 21:47] #1779 closed

[2019-02-24 23:35] Hugo0 commented on #1623
Can this issue be reopened? Happening to me as well:

![image](https://user-images.githubusercontent.com/12943235/53307100-314e2c00-3895-11e9-8ac7-8c938c357b8a.png)

[2019-02-24 23:51] Hugo0 commented on #1778
Having the same problem here.

Progress bar stuck here
![image](https://user-images.githubusercontent.com/12943235/53307322-812df280-3897-11e9-8d80-ff513cbe5d64.png)

[2019-02-24 23:52] Hugo0 commented on #1774
I'm having the same issue here.

[2019-02-25 00:13] nickjones1996 opened #1780 "Github import project hanging"
**Describe the bug**
A clear and concise description of what the bug is.
Importing starter code for project hangs, been over 3 hours and still stuck on "Importing starter code..."
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://classroom.github.com/a/2QeibC0F'
2. Click on 'import project'
3. Project import hangs, progress bar and text do not change for 3+ hours.

**Expected beh

[2019-02-25 01:56] BenEmdon commented on #1431
## Summary Of Bug
A private fork repository couldn't be found when searching in Classroom's _starter code repo_ search box, preventing the professor/instructor from setting their base repo to be a private fork.

This bug seems to be an edge case with searching for private forks. I'll leave this issue open and rename the issue.

[2019-02-25 01:59] BenEmdon commented on #1647
I'd like to keep the development track and incident reports separate so we can filter out the noise 😕 Maybe I should start a master issue for all the incidents?

[2019-02-25 02:01] srinjoym commented on #1647
That totally makes sense! I think we can open up another pinned issue just for the incidents and include some instructions on what to do if people hit this issue. Hopefully that makes it a bit easier to sort through

[2019-02-25 02:02] BenEmdon commented on #1778
@eblanton @Hugo0 do the imports ever complete or do they stay in an importing state?
What do you see on the student repo on GitHub.com?

[2019-02-25 02:09] eblanton commented on #1778
As far as I can tell, the imports that stalled this afternoon remain stalled even now.  They show 0 commits on GitHub classroom, and clicking through to the GitHub repository shows a page that says

[code]

The status bar under that says "Optimizing repository and pushing commits to GitHub…"

[2019-02-25 02:27] BenEmdon commented on #1778
@eblanton thanks for the information. We are investigating the problem and it appears to be an unreported outage on GitHub.com. Will keep posted on updates.

[2019-02-25 02:40] QianYuTanzanite opened #1781 "Cannot import starter code"
**Describe the bug**
After accepting the assignment I cannot import the starter code and it just never finishes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/a/k6Js2LWc
2. Click on Accept assignment
3. See error

**Expected behavior**
The assignment should be accepted and a repo link should pop up

**Screenshots**
![capture](https://user-images.githubuser

[2019-02-25 03:16] eblanton commented on #1778
OK.  FYI I am going to destroy the broken repositories and create new ones using a script, because my students have to student.  Hopefully you don't lose any information you require when I do that.

[2019-02-25 03:18] BenEmdon commented on #1778
The starter code importer uses GitHub's [source import API](https://developer.github.com/v3/migrations/source_imports). The source imports team has reported that there is a large backlog of imports that were started over this weekend. The imports that are currently stuck will eventually finish, but it might take some time.

[2019-02-25 03:19] BenEmdon commented on #1781
Duplicate of #1778

[2019-02-25 03:19] BenEmdon commented on #1780
Duplicate of #1778

[2019-02-25 03:21] BenEmdon commented on #1777
Duplicate of #1778
Please look [there](https://github.com/education/classroom/issues/1778) for updates and information ☝️

[2019-02-25 03:26] BenEmdon commented on #1778
## Update
The source import team have said that new imports should (imports started after this time) should just work.
Starter code imports that are currently stuck should take a couple of hours to process.

[2019-02-25 03:43] BenEmdon commented on #1776
Duplicate of #1778
Please look [there](https://github.com/education/classroom/issues/1778) for updates and information ☝️

[2019-02-25 03:44] BenEmdon commented on #1775
Duplicate of #1778
Please look there for updates and information ☝️

[2019-02-25 03:44] BenEmdon commented on #1774
Duplicate of #1778
Please look there for updates and information ☝️

[2019-02-25 03:44] BenEmdon commented on #1772
Duplicate of #1778
Please look there for updates and information ☝️

[2019-02-25 03:45] belgort-clark commented on #1778
@BenEmdon thank you for your help with this. It's very much appreciated.

[2019-02-25 03:56] BenEmdon commented on #1772
@moritzge I have just confirmed that imports are back up and running again on your classroom. I am going to go ahead and close this.

[2019-02-25 03:56] #1772 closed

[2019-02-25 04:13] BenEmdon commented on #1623
Duplicate of #1778
Please look there for updates and information ☝️

[2019-02-25 04:23] BenEmdon commented on #1781
I can confirm that starter code imports are working again on your classroom.

Your import may take a couple of hours to complete but it will complete eventually. This issue is due to a minor outage on GitHub.com. See #1778 for details.

If you continue to experience this problem after a couple of hours please report back.

[2019-02-25 04:23] #1781 closed

[2019-02-25 05:51] BenEmdon commented on #1647
Pinned #1778

[2019-02-25 07:46] fywu85 commented on #1778
Thank you for working on this! Unfortunately, I could not confirm this fix from my side. My import is still stuck despite several attempts in the past three hours.

[2019-02-25 09:57] moritzge commented on #1772
@BenEmdon Great! Thanks a lot.

[2019-02-25 13:31] QianYuTanzanite opened #1784 "404 error found when opening a5"
**Describe the bug**
When the a5 repositories are created, it didn`t show up in my settings repositories and I get an 404 error when clicking repository links.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://classroom.github.com/a/k6Js2LWc'
2. Click on 'accept invitation'
3. Wait until created
4. Go to 'https://github.com/settings/repositories'
5. Click on 'leave' a5 repositor

[2019-02-25 14:29] hroncok commented on #1778
It was better for a while but happened again for 3 students from 46.
It also happened again for me when creating new assignment for next week.

[2019-02-25 14:30] kaspersoerensen commented on #1778
Still experiencing this issue here unfortunately. Organization: "Sundhedsteknologi-OOP"

[2019-02-25 14:51] Unco3892 opened #1785 "Importing starter code hang"
Joining the assignments for the two links of the class freezes at the end for many students, Please suggest us what should be done.

https://classroom.github.com/a/Q-Gcc4Hq
https://classroom.github.com/classrooms/22398800-education-by-alphacruncher/assignments/DataAnalytics-hec-ss19
![image](https://user-images.githubusercontent.com/47745523/53345371-10c5b680-3915-11e9-93ac-2bfd524436b9.png)

[2019-02-25 14:57] khmchk commented on #1785
The same problem!

[2019-02-25 14:58] stanislasprog commented on #1785
same problem

[2019-02-25 17:05] gchallen commented on #1778
This is still happening for us as well: `cs125-illinois-students`. We have 600 students and each failure has to be repaired by hand. It's a medium-sized PITA.

I really love GitHub Classroom, but this problem is not new and it's getting frustrating to see it recur repeatedly. Could Classroom at least put up a status page that instructors and students could check? I'm assuming (hoping...) that ther

[2019-02-25 17:05] BenEmdon commented on #1785
## Duplicate of #1778
Please look at #1778 for updates and information ☝️

[2019-02-25 17:14] BenEmdon commented on #1778
## Update
Talking to the source imports team again this morning. They say that the import queue continued to act up over the night. I'll keep the updates coming.

@gchallen I hear you. A status page would be optimal. It's in our roadmap.

[2019-02-25 17:29] BenEmdon commented on #1778
## Update
Starter code imports will be running in  **degraded performance** today. All imports that are started will _eventually_ finish but will take some time. This should clear up later today, but if it doesn't please report back.

[2019-02-25 21:38] nasseef commented on #1778
I had the same issue earlier but it seems to be working now.

[2019-02-26 01:06] BenEmdon commented on #1778
## Update
Starter code imports will continue to run in **degraded performance**. The backlog of import jobs that GitHub is processing is very large. Fortunately the queue is shrinking.

All imports that are started will _eventually_ finish but will take some time.

[2019-02-26 05:21] pinventado commented on #1591
I also had this issue last week. My work around was to:

1. Find the students' repository from my organization
2. Cancel the import
3. Import the code manually (click import on the students' repository page and provide the URL of the skeleton code).

If it still hangs, repeat steps 1 and 2. Manually clone the repo, copy your starter code, then push the code so students get access to it. This is so

[2019-02-26 07:29] Unco3892 commented on #1778
The queue seems to be quite long as I have personally been waiting for 24 hours and some friends over three days, so the only way to resolve it is to wait for the import to finish over an undetermined time?

[2019-02-26 13:55] bsiever commented on #1591
Multiple students in my class have experienced this issue in the past week.  Importing via the web "Import code" button after a "Cancel" has also been problematic, but pushing from command line seems ok.  (Essentially same process described by pinventado)

[2019-02-26 16:55] BenEmdon commented on #1778
## Update
Starter code imports are expected to run in degraded performance for about 12 more hours.
All imports that are started will _eventually_ finish but will take some time.

I added a message of the day to provide status on the situation:
![MOTD](https://user-images.githubusercontent.com/11095731/53430817-3b6b4a00-39bd-11e9-8c85-22544711af7d.png)

[2019-02-26 16:57] kevinthayes commented on #1778
I tried to have my class import code and 4 out of 19 were successful and downloading the entire repo in 50 minutes

[2019-02-26 16:59] BenEmdon commented on #1591
If you are experiencing this in the last 4 days please see status on #1778. There is an incident with GitHub.com.

[2019-02-26 19:28] pinventado commented on #1778
I can confirm the same issue with slow imports. I had to cancel and manually clone repos so that students can continue working in our lab class today.

[2019-02-26 19:36] kedarabhyankar commented on #1778
Happening for the classroom I'm trying to clone a project for too, for my class at Purdue University.

[2019-02-26 19:45] rjsvcs commented on #1757
@eblanton Thanks for this. I have had one student run into the problem since you fixed it (I'm assuming it was a fluke because many dozens of other students have not had a problem). However, several of my colleagues are seeing the issue. Is there a way that we can fix the webhook issue without submitting a bug report?

[2019-02-26 21:40] desmonduz commented on #1778
I can confirm the same issue. I assign labs to my students, and they cannot create their starter repos during the lab.

[2019-02-26 23:25] BenEmdon commented on #1757
This issue is actually an ongoing (unreported) outage on GitHub.com. Please see #1778 for details.

[2019-02-26 23:40] Younes-Charfaoui commented on #1778
The same thing also, in fact when the students refresh, or stop and redo the process some of them got the repo created fast.

[2019-02-27 14:37] BlueTaurus commented on #1778
i am facing facing the same issue. In fact few students waited about 45-50 minutes for it to be completed but it never does. All that i can suggest is for them to refresh the page or try again till it creates their stater repo.

[2019-02-27 16:23] BenEmdon commented on #1778
## Update
The queues have reduced significantly but there still seems like there are a couple of hours of backlog to get through. Imports might take a couple of hours to complete at this time.

The message of the day will continue to be showed until this incident is over.

[2019-02-27 19:22] bwproud opened #1786 "Student's get stuck importing assignment in classroom"
**Describe the bug**
In this lab 5 students couldn't import their copy of the assignment: https://classroom.github.com/a/Hl53rYF1
**To Reproduce**
Steps to reproduce the behavior:

1. Accept assignment assignment: https://classroom.github.com/a/Hl53rYF1
3. Begin importing and copying repository
4. Some students get stuck

**Expected behavior**
All the students could import the assignment to their

[2019-02-27 23:14] BenEmdon commented on #1786
## Duplicate of #1778
Please look at #1778 for updates and information ☝️

[2019-02-28 12:13] bobmulder commented on #1768
That looks promising @mozzadrella, I'll dive into this! Thank you for your comment!

[2019-02-28 12:13] #1768 closed

[2019-02-28 14:22] BenEmdon commented on #1778
## Update
The import queues have stabilized and starter code imports should function as expected.

If you continue to experience this problem **please open a new issue**, as the cause might be unrelated.

[2019-02-28 14:22] #1778 closed

[2019-02-28 14:24] BenEmdon commented on #1786
## Update
The import queues have stabilized and starter code imports should function as expected.

If you continue to experience this problem **please open a new issue**, as the cause might be unrelated.

[2019-02-28 14:24] #1786 closed

[2019-02-28 14:24] BenEmdon commented on #1785
## Update
The import queues have stabilized and starter code imports should function as expected.

If you continue to experience this problem **please open a new issue**, as the cause might be unrelated.

[2019-02-28 14:24] #1785 closed

[2019-02-28 14:24] BenEmdon commented on #1780
## Update
The import queues have stabilized and starter code imports should function as expected.

If you continue to experience this problem **please open a new issue**, as the cause might be unrelated.

[2019-02-28 14:24] #1780 closed

[2019-02-28 14:24] BenEmdon commented on #1777
## Update
The import queues have stabilized and starter code imports should function as expected.

If you continue to experience this problem **please open a new issue**, as the cause might be unrelated.

[2019-02-28 14:24] #1777 closed

[2019-02-28 14:25] BenEmdon commented on #1776
## Update
The import queues have stabilized and starter code imports should function as expected.

If you continue to experience this problem **please open a new issue**, as the cause might be unrelated.

[2019-02-28 14:25] #1776 closed

[2019-02-28 14:25] BenEmdon commented on #1775
## Update
The import queues have stabilized and starter code imports should function as expected.

If you continue to experience this problem **please open a new issue**, as the cause might be unrelated.

[2019-02-28 14:25] #1775 closed

[2019-02-28 14:25] BenEmdon commented on #1774
## Update
The import queues have stabilized and starter code imports should function as expected.

If you continue to experience this problem **please open a new issue**, as the cause might be unrelated.

[2019-02-28 14:25] #1774 closed

[2019-02-28 14:25] BenEmdon commented on #1623
## Update
The import queues have stabilized and starter code imports should function as expected.

If you continue to experience this problem **please open a new issue**, as the cause might be unrelated.

[2019-02-28 14:25] #1623 closed

[2019-02-28 14:25] BenEmdon commented on #1757
## Update
The import queues have stabilized and starter code imports should function as expected.

If you continue to experience this problem **please open a new issue**, as the cause might be unrelated.

[2019-02-28 14:25] #1757 closed

[2019-02-28 14:27] BenEmdon commented on #1660
@ejgutierrez74 Has this issue happened to you recently?

[2019-02-28 14:35] jashelio commented on #1660
Ben,

Not to me currently, but it has happened to students of others in my instructor group here. It is making us reconsider use of GitHub classroom.

James

[2019-02-28 18:02] saurabhkanswal opened #1787 "regrading contribution"
is there any documentation work to understand code structure, so I can start contribution

[2019-02-28 20:57] MTDeacon commented on #1784
Having this exact same issue currently, did you find a fix?

[2019-03-04 22:54] AmeliaMN commented on #1592
Not completely related, but I didn't want to start an entirely new issue. What is the *intended* behavior when this box is unchecked? I'd love students to be able to go to a centralized "classroom" page for my class, and see all the assignments, rather than me having to send out the links for each assignment. Is that what's supposed to happen if I uncheck the "enable assignment invitation URL" box

[2019-03-05 04:24] divegeek opened #1788 "Starter code import hanging"
When trying to import starter code for a new student repo, the import process hangs.

I see this has happened to others, recently, but the last message says to report again as the source of the problem may be different.

A project whose import is hung right now is: https://github.com/MorganHigh/connect-four-garbleflunk/import

[2019-03-05 13:57] divegeek commented on #1788
It did finally finish. I don't know how long it took.  When I looked this morning (10 hours after starting it) it was done.

[2019-03-05 17:06] BenEmdon commented on #1788
Glad to hear that it completed. Unfortunately the starter code import times are subject to GitHub's infrastructure constraints. If a long import happens again, it would be better to [contact GitHub support](https://github.com/contact) about the import, since they are better equipped to handle these issues.

[2019-03-05 17:06] #1788 closed

[2019-03-05 17:09] BenEmdon commented on #1787
Hey @saurabhkanswal,

There is no body of documentation about the code –other than the code itself. Since this project relatively small, the best way you can understand the code would be to ready through the different controller/model/service/creator classes in the app.

Let us know if there's any specific questions you have by opening an issue. Thanks for your interest!

[2019-03-05 17:09] #1787 closed

[2019-03-06 21:34] Matiyeu commented on #1712
![image](https://user-images.githubusercontent.com/30661420/53915321-fb146780-405f-11e9-958f-09d4d7c0a522.png)
When I import from Giltab

[2019-03-06 22:43] BenEmdon commented on #1712
@Matiyeu that issue is related to GitHub's source importer. Please [contact support](https://github.com/contact) since the problem pertains to GitHub.com (and not GitHub classroom).

[2019-03-07 03:58] johnboat opened #1790 "Student Repo Import Bug is back"
**Describe the bug**
Student goes to Project URL to accept project and the import gets stuck. Most students worked fine, but I have one that has been "importing and optimizing" for two days and counting.

Same as #1778 but that bug has been closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a new Project URL
2. Accept Project
3. Import never finishes

**Expected behavior**
A qu

[2019-03-07 04:15] shanayastephenson commented on #1778
Hi I'm having an issue the bug is back :(

[2019-03-07 15:26] SirYancy commented on #1790
I am having this issue as well. It basically stops all forward progress in my classes. What gives?

[2019-03-07 17:24] srinjoym commented on #1790
@johnboat @SirYancy GitHub's source import API has an outage this morning which likely caused these issues with student repository imports. Let me know if you guys are still hitting these issues, or else I'll close this out.

[2019-03-07 17:25] srinjoym commented on #1778
@shanayastephenson The source import API had an outage this morning which is likely why you were hitting this bug again. If the problem continues to happen, please open a new issue as the cause might be unrelated.

[2019-03-07 17:31] johnboat commented on #1790
The problem started Monday for me. Some students reported being able to click the link on the page to the repo and that would “make it work”. All my students are fine now—the last import finished this morning.

[2019-03-07 17:34] srinjoym commented on #1790
@johnboat Good to hear that the imports finished! Thanks for reporting the issue and please open another issue if you hit any other problems

[2019-03-07 17:34] #1790 closed

[2019-03-08 14:06] maciejjankowski commented on #1623
Stuck with our org

<img width="1038" alt="obraz" src="https://user-images.githubusercontent.com/2905995/54033099-b13c9600-41b3-11e9-8ff1-c5123800609e.png">

[2019-03-08 14:07] maciejjankowski opened #1792 "Stuck at importing starter project code"
Stuck after following the assignment link

**To Reproduce**
Steps to reproduce the behavior:
1. Open the link
2. Wait and see the progress bar not moving

**Expected behavior**
repository cloned in my account with the code in it

**Screenshots**
<img width="1038" alt="obraz" src="https://user-images.githubusercontent.com/2905995/54033226-08db0180-41b4-11e9-9100-65f2783b0f5f.png">

[2019-03-08 17:14] ddbeck opened #1793 "Help site for Classroom"
### Feature request :sparkles:

(notifying @srinjoym, since we've discussed this before 👋 )

#### Description
I propose having a central help site for Classroom. This site would put, in one place, content (or links to content) that helps teachers complete tasks with Classroom, use best practices, or seek out additional help. This would include:

* existing Markdown in `/docs` and the README file
*

[2019-03-10 00:03] BenEmdon commented on #1792
@maciejjankowski can you confirm that your assignment repo is still stuck? There is a possibility that the source imports were slowed down at the time that you made this issue.

[2019-03-11 16:45] srinjoym commented on #1793
Hi @ddbeck 👋

Fantastic work on this! ✨ The prototype website looks great, and the content will be really useful for teachers and students.  For an initial go at integrating this into Classroom, I've created a Draft PR here: #1794

I think the best course of action here is to integrate this into Classroom directly. We don't have to add that much overhead in terms of technical complexity and it'll

[2019-03-12 15:32] wschilling opened #1795 "Importing Starter code is hanging"
**Describe the bug**
When a user joins a classroom project, the starter code import is hanging.  This leave the project in an unusable state.

**To Reproduce**
Steps to reproduce the behavior:
This has occurred randomly on about 50% of my students projects and is occurring  to me.  To reproduce, simply join a classroom with a given assignment.

This same issue also occurred to a colleagues class l

[2019-03-12 15:56] FranckSilvestre opened #1796 "Students import of starter project failed"
The import of the starter project failed for all of my students today (about 35) but 1.
The progress bar stalled during more than one hour.
The starter code has no large files.

Last week, on another assignment, students were stuck about 50 minutes before the import finished.

[2019-03-12 17:37] aaryno commented on #1778
Having this issue this morning. It seems the repo gets created but it doesn't finish the import.

[2019-03-12 19:29] mosser commented on #1758
I am also stuck for 2 groups created today in my class. This is really annoying. I did the import "by hand" (cloning the empty repo and pushing the starter code) so that my student can work.

[2019-03-12 19:32] mosser commented on #1795
I have the very same issue in my class. I had to do manually the import so that the student can work (cloning the empty repo on my computer, copying the starter code, comiting and pushing it to origin)

[2019-03-12 19:43] Nate-weeks commented on #1795
I'm having the exact same issue.  None of my students were able to import starter code today.

[2019-03-12 20:11] MrBriggsTeach opened #1797 "Issue Importing and Opening Module-1"
**Describe the bug**
Seems to be stuck on "Importing starter code".

**To Reproduce**
If I refresh the page the same thing happens.

**Screenshots**
![image](https://user-images.githubusercontent.com/48458796/54232658-04299b00-4570-11e9-91b3-30c27087f7b9.png)

[2019-03-12 20:23] #1797 closed

[2019-03-12 20:31] jessebartels commented on #1778
I, too, am having this issue from this morning (same as @aaryno)

[2019-03-13 18:37] ddbeck commented on #1793
Thanks for your patience while I got a chance to look this over, @srinjoym. All of this looks really promising. I think the draft PR looks like a good start and the task list makes sense to me. I'll start working on it by the end of the week! Thank you again!

[2019-03-13 19:41] sangkilc commented on #1758
Same problem here. Had to manually copy the starter code for few students in my class.

[2019-03-18 15:36] KamalAman opened #1800 "New repositories copy pull requests from starter repository"
### Feature request :sparkles:

Would it be possible to copy pull requests from the starter repo (and i guess the pull request branch as well) into the students assignment repo. Pull Request assignments would be great for an introductory assignment, or even advanced ones.

E.g. Given this Pull request find bugs, style issues, and coding optimizations. How to leave constructive feed back.

[2019-03-20 16:02] MelathStofi opened #1801 "Importing starter code freezes"
Importing starter code doesn't want to finish while creating my assignment repository in @CodecoolGlobal classroom. As I've read it must be a webhook problem. I need help in this, either webhook fix or suggestions what I should do.

[2019-03-21 14:24] zamansky opened #1802 "Pull all assignments from one student"
### Feature request :sparkles:

Right now, via classroom assistant we can pull all the repos from one assignment and from the GitHub classroom we can access all the repos from one assignment.

At times it would be very useful to pull all the assignments for one particular students.

[2019-03-22 18:22] johndbritton commented on #1802
Thanks for the feature request @zamansky, hadn't thought about this one but it does make sense. Im labeling this as `help-wanted` and putting it on our backlog.

[2019-03-23 19:28] tbartens commented on #1778
This crops up so often, I'm having a problem figuring out which issue is the "current" issue related to this problem! Hint Hint.

Here's what I've shared with my student's that seems to provide some relief...

If gitHub accept is not completing for a long time (like more than an hour or so), try the following:

1. Go to the GitHub web-page, and click on the started import of the assignment in ques

[2019-03-24 22:56] gastonambrogi commented on #1348
This help me to fix the issue: https://github.com/github/homebrew-bootstrap

[2019-03-25 12:29] srinjoym commented on #1801
@MelathStofi This issue is being tracked here: https://github.com/education/classroom/issues/1778. This crops up most often when the GitHub Source Import API is under high load due to resource constraints. Let me know if you're still having this issue if so it might be a separate issue. Really sorry for the inconvenience.

[2019-03-25 12:29] #1801 closed

[2019-03-25 14:47] amueller commented on #292
So this is still not possible? What are the instructors supposed to do?

[2019-03-26 15:01] dfkotz commented on #1302
This thread is a year old, but if the situation has not changed, it seems like a major flaw in Classroom.  I agree with @dfitiskin, student TAs should not need to be org owners just to download and grade student submissions.  I'm hopeful, now that a year has passed since this thread, that there is a better solution.

[2019-03-26 18:01] dfkotz opened #1803 "Accepting assignment creates three copies"
**Describe the bug**
I am a teacher.  I created an assignment in Classroom and logged out.  I logged-in using a 'test' account I use to represent a student.  I used the link to open and accept the assignment.  Classroom brought me to its progress page, which showed a message and progress bar regarding the creation of the new repo, then another about the installation of the starter kit.  When it fi

[2019-03-28 06:41] mohita-ajmera opened #1804 "Not able to load/render Jupyter(.ipynb) files on github repositories"
**Describe the bug**
Not able to load/render Jupyter(.ipynb) files on github repositories
It either never renders or takes hours to open even a 100 Kb python notebook.

**Screenshots**
![image](https://user-images.githubusercontent.com/14015331/55135750-93c77000-5152-11e9-9c86-d5732eaed51b.png)

[2019-03-28 06:42] mohita-ajmera commented on #1804
It is not loading in the end.
![image](https://user-images.githubusercontent.com/14015331/55135795-b063a800-5152-11e9-84c4-7e642ac81e2a.png)

[2019-03-28 13:26] johndbritton commented on #1804
This is not an issue with GitHub Classroom. Please contact `support@github.com` about this issue.

[2019-03-28 13:26] #1804 closed

[2019-04-02 21:04] joeparislbcc commented on #1795
I'm having this issue right now.

[2019-04-04 07:09] pwmarcz commented on #1795
This is happening routinely in our organization.

[2019-04-04 23:52] DavidGriswoldTeacher opened #1805 "Cannot checkout classroom repository on windows at all"
I was planning to play around with development for this application on Windows 10 x64 using a virtual machine created using http://railsbox.io . The best practice for those boxes, apparently, is to create the virtual machine WITHIN the project directory, so that storage of the files stays on the host system. This seemed like an easier thing to try than running up a full linux virtual box.

Unfortu

[2019-04-10 09:55] andreafioraldi commented on #1796
![Screenshot at 2019-04-10 11-50-27](https://user-images.githubusercontent.com/16168186/55869713-58cc3000-5b87-11e9-8bf9-cc0b3739f0c7.png)

Same problem here for the Advanced Operating System and Virtualization class at Sapienza Rome

/cc @alessandropellegrini

[2019-04-10 09:59] alessandropellegrini commented on #1796
I can add to this that even if the status bar doesn't complete, the repo is correctly cloned. Maybe it's a problem related to the acknowledgement to the frontend.

@andreafioraldi I can see your cloned repo in the organization. Could you please confirm if you have access?

[2019-04-10 11:17] andreafioraldi commented on #1796
Yeah I have the repo.
It hanged again also after a refresh but it created the repo this time.

[2019-04-11 13:29] Sadikum commented on #1140
Hi, is there any update on this issue ? I'm very interested in this feature too. Either as @bulletshot60 or another way I'm seeing would be to enter the list of Github's ID in the roster and limit to only those people.

[2019-04-11 16:37] ValentinaInterdonato opened #1808 "Assignment link doesn't work (404 page not found)"
I was added to the class https://github.com/SapienzaInteractiveGraphicsCourse by my professor. I also successfully accepted an assignment
https://classroom.github.com/assignment-invitations/8850583aaff624dba3670f5de43697dd/success
![Assignment  accepted](https://user-images.githubusercontent.com/44984728/55974586-45ed5480-5c88-11e9-937c-fa87d31f5090.JPG)

but when I click on the link https://githu

[2019-04-16 07:41] sfikas opened #1809 "Group assignments: Team creator should be able to control who joins the team"
### Feature request :sparkles:
_Please provide a description of the feature you would like Classroom to have_

The team creator should be able to get to control who can join his team.

The inability to do so also, **further creates the problem** that an 'uninvited/unwanted' student may join a team just to take a peek at their code, giving the student a good chance to cheat...

Related post at the

[2019-04-17 18:40] pisanuw opened #1810 "Download last commit before assignment deadline"
### Feature request :sparkles:
_Please provide a description of the feature you would like Classroom to have_

As a teacher, I'd like to download the last student commit **before** the assignment deadline, so students are not getting an automatic extension based on when the assignments happen to b e downloaded.

Students often continue to work on the assignment and some of their fixes post-deadlin

[2019-04-17 18:42] pisanuw opened #1811 "Use class roaster identifier rather than github account"
### Feature request :sparkles:
_Please provide a description of the feature you would like Classroom to have_

As a teacher, I use the class roaster identifier to find, grade and even email students. I'd like to use the same identifier when I download repositories from github rather than having to convert them from github usernames.

[2019-04-17 18:44] d12 commented on #1810
I think this is a great feature suggestion and shouldn't be too difficult to support. I believe @srinjoym is working on another feature right now, but hopefully we can get to this soon :)

[2019-04-17 18:46] d12 commented on #1811
xref-ing a similar issue in the Classroom Assistant repo so we don't lose track of this. https://github.com/education/classroom-assistant/issues/118

[2019-04-18 08:40] pvalicov commented on #734
Hello,

In my class I currently have a similar issue.
![ScreenShot](https://user-images.githubusercontent.com/23048683/56348051-f0540300-61c5-11e9-919b-85986de49284.png)

There was a problem during the acceptance of the assignment and fork for one team. I tried to solve the problem by deleting the team. But it did not help : now the team is in the organization and marked as deleted (see screenshot

[2019-04-19 18:36] dsparkin commented on #1795
Also happening for all assignments in my classroom.
Example invite: https://classroom.github.com/a/bcUGSFD-

[2019-04-22 19:07] wschilling opened #1812 "Student repositories disappeared"
**Describe the bug**
A set of students inside of a GitHub classroom created their group and had a working repository.  However, sometime yesterday, the repository disappeared for them.  They still have the group within GitHub classrooms, but their GitHub repo no longer exists.  As the faculty member, I can not see that their repo existed or see any indication of the repo being deleted.  Students d

[2019-04-22 22:15] srinjoym commented on #1812
Hi @wschilling 👋

Thanks for writing in, I'm sorry you're experiencing this issue. Could you provide the names of the classrooms and teams that were affected?

[2019-04-23 13:20] n2o commented on #1300
A simple search mechanism (e.g. search by the student's github nickname) would be great. It is very annoying to jump to the organization to search the repo there. It would be easier and more comfortable to be able to get a focused search form, which searchs in the current assignment.

[2019-04-23 13:42] mozzadrella commented on #1300
@n2o @amueller we hear you. We're shipping some things in the near-team that will hopefully make this easier for you.

[2019-04-25 22:10] phannan opened #1813 "github classroom classroom list unhelpful"
**Describe the bug**
The new github classroom classroom "list" is a step back.  I have a lot of classrooms to sift through.  Up until now I changed the icon for the organization with a big stop signs for the old classrooms.  Now I don't see the icon so its hard to see my current classes.  Its unclear how it is sorted.  Is it order created or something else?  Without either a sort or some visual in

[2019-04-26 11:56] talbronfer opened #1814 "Assignment invitation page - X-Frame-Options policy change"
I'm trying to embed the assignment invitation page into an iFrame element, to allow easier integration with the custom LMS we're using.

Unfortunately this page returns with a X-Frame-Options header with the `sameorigin` value and the browser blocks it.

Is there any particular reason for this limitation? Seeing as there is no API access for GHC at this time, it would be really helpful to allow de

[2019-04-26 18:15] reshamj opened #1815 "Revoking deleted repository"
1.My class was working on a group assignment for which I had done a Github Classroom setup here:
https://classroom.github.com/classrooms/47765225-cs-254-open-source-software-development-05-classroom-2

2. I had created a Group assignment called 'Project'; within which my students created their teams and repository for the assignment.

3. About 11 teams and their repositories were created in the pa