[2016-01-04 00:21] lifeiscontent commented on #416
or have the student delete the assignment and start new?

[2016-01-04 00:30] tarebyte opened #417 "ActiveRecord::RecordInvalid: Validation failed:"
Check full details on Airbrake: [#1590173271909693545](https://github-education.airbrake.io/projects/116727/groups/1590173271909693545)

Backtrace:
[code]

[2016-01-04 09:30] johndbritton commented on #415
I think we'd consider adding something like this if it was well thought out. Right now, there's no way to enforce pre-selected groups in the app, but that requirement can still be managed socially without any technical solution.

In order to support pre-selected groups, we'd need additional information ahead of time and when the students accept the assignment. For example, we could pre-select grou

[2016-01-05 15:51] tarebyte commented on #390
@beydogan right now this is not very high up on my todo list.

If you want to open a PR with these changes I'd be :cool: with reviewing it.

Thanks!

[2016-01-05 15:51] #390 closed

[2016-01-05 22:50] meling opened #420 "Invalid repository name, use the format owner/name"
The text entry field marked *Add your starter code from GitHub (optional)* is not clear what is expected, and the example is not helpful. I've tried all the different path and URL combinations that I can think of to no avail. That is, I get the following error message:

    Invalid repository name, use the format owner/name

Suggestions?

[2016-01-06 00:12] santina commented on #377
Hi @johndbritton, just wondering if there's any update on this issue. Thanks :)

[2016-01-06 02:29] tarebyte commented on #420
Hi @meling an example of the format `owner/name` would be `rails/rails` or `github/gitignore` it's the owner (organization or user) and the name of the repository.

Is there we can change the wording to make this more clear?

[2016-01-06 12:19] #360 closed

[2016-01-07 12:30] johndbritton commented on #420
@meling What would make the most sense to you for that field?

[2016-01-07 12:32] johndbritton commented on #377
We don't have a plan to implement this feature right now, but it's good feedback.

Since this hasn't really been a big issue for people, we'll probably leave it out for now but will keep the idea in mind for when we work on due dates.

[2016-01-09 20:47] johndbritton opened #424 "Add status check to `_ping` for Elasticsearch"
GET `/_ping` returns status for all the services we depend on. We should also report status for Elasticsearch.

[code]

[2016-01-09 21:25] johndbritton opened #426 "Connection refused in production logs"
I'm seeing the following constantly in the logs:

`2016-01-09T21:18:06.105506+00:00 app[web.1]: localhost:11211 failed (count: 0) Errno::ECONNREFUSED: Connection refused - connect(2) for "localhost" port 11211`

Looks like the default settings for the `dalli` gem. I see that we have memcached configured for peek, but maybe the default is being used somewhere else and is causing the log noise.

[2016-01-09 21:36] tarebyte commented on #426
@johndbritton  We might need to change this line https://github.com/education/classroom/blob/2665578268b63c0881ae073279500307ae530b6c/config/environments/production.rb#L58

[2016-01-10 00:02] johndbritton opened #429 "Get rid of Chewy debug notices in production logs"
I tried with https://github.com/education/classroom/pull/425, but it didn't work.

We're seeing a ton of entries in production logs with Chewy debug info:

[code]

[2016-01-11 22:00] neezer commented on #416
:+1: I'd also like to know the answer to this, as I have deleted a repo for a student and have been unable to get them to create a new one (clear the assignment for that student).

[2016-01-11 22:36] tarebyte commented on #416
@lifeiscontent @neezer we're working on a PR to solve this problem.

Thanks for your patience!

[2016-01-12 01:50] tarebyte commented on #416
The pull request is #418

[2016-01-12 02:41] tarebyte commented on #416
@neezer may I ask what was the cause for you deleting the students repository? Was it because of an error by Classroom?

[2016-01-13 20:49] tarebyte opened #430 "ActiveRecord::RecordInvalid: Validation failed: Organization has already been taken, User has already been taken"
Check full details on Airbrake: [#1597309748095448894](https://github-education.airbrake.io/projects/116727/groups/1597309748095448894)

Backtrace:
[code]

[2016-01-15 15:07] brandonrich opened #431 "Assignment spontaneously disappeared along with associated submitted repos"
Details here on this Google Doc.
https://docs.google.com/document/d/1U6JJUgFrfhNG0J4ubPtNCXt31gPY-7T613HpOVLI9_Y/edit?usp=sharing

My org is called NDMobileApps.  Yesterday I created an assignment called Assignment0 for testing submission with my students.  Two had already submitted repos and I browsed them.  Refreshing the org page this morning, they vanished, and do not appear in search.  The ne

[2016-01-15 15:12] tarebyte commented on #431
@brandonrich we don't randomly delete assignments nor do we delete repositories.

I'm going to investigate this today.

I will keep you posted with my findings.

[2016-01-15 15:14] brandonrich commented on #431
Thanks for the quick reply.  I assume the content is still lurking somewhere.  I just need to be confident in this going forward.  I haven't touched the classroom setup since I sent the assignment; I only browsed the repos in the org.  Thank you!

[2016-01-15 15:16] johndbritton commented on #431
I've restored the repositories to your organization account. Did you happen to reset your organization in Classroom for GitHub?

[2016-01-15 15:19] johndbritton commented on #431
It looks like you deleted the `Assignment0` assignment from your account in Classroom for GitHub. This made the invitation link stop working and removed the repositories from your account on GitHub.

Please let us know what other actions you took in Classroom for GitHub.

[2016-01-15 15:20] brandonrich commented on #431
No, definitely not.  Didn't touch a thing other than to refresh my org page and browse submissions.

Repos are back, thanks, but Assignment0 is still gone and the related invite link broken.

Somehow Assignment0 got removed/deleted and took the repos -- I'm guessing -- out the org.

[2016-01-15 15:21] brandonrich commented on #431
I don't even know how to delete assignments, which is why the three test assignments are still there.

[2016-01-15 15:22] johndbritton commented on #431
Yes, this is what it looks like on our end. You can create a new assignment in Classroom for GitHub to generate a new invitation link. I don't know what could have caused `Assignment0` to get deleted from Classroom for GitHub other than manually deleting the assingnment.

If you click on the assignment and then you use the `settings` button, you are able to delete it from that page.

[2016-01-15 15:26] brandonrich commented on #431
I'm glad the submissions are back, thank you.  A few things:

- If I create another assignment by the same name, do you anticipate any issue?
- Do you have logs that indicate a delete action definitely took place?  If so, any indication as to the source?
- Were the repos accessible to their creators the whole time, even when they were not visible to the org?

[2016-01-15 15:27] tarebyte commented on #431
@brandonrich is anyone else have access to the Classroom apart from you?

[2016-01-15 15:29] brandonrich commented on #431
No, I'm the only owner.

On a related note, I thought students had to accept an invite to the org when they take an assignment, so why does it still show I'm the only member of the org?

[2016-01-15 15:30] johndbritton commented on #431
No, you should be able to create a new assignment with the same name. The existing submissions will not be associated with the new assignment, however.

Can you follow up by emailing `education@github.com`, that way we can discus account specific issues in private.

Students are granted access to the repository as outside collaborators, only group assignments require them to become organization me

[2016-01-15 15:32] brandonrich commented on #431
I'll follow up via email on the assignment deletion.

Re: outside collaborators, I guessed at that, but the Outside Collaborators tab says "No one outside of the organization has access to its repositories."

[2016-01-15 15:33] johndbritton commented on #431
Outside collaborators are able to access repositories that they are assigned to, but no other repositories.

[2016-01-15 15:41] johndbritton opened #432 "User friendly 404 page"
The 404 page is still the Heroku default, which isn't super helpful for folks. Let's add some custom 404 pages. Specifically, we might consider a custom page for invalid invitation links that says the link is invalid and to contact the organization owner. For other pages, a generic 404 probably makes sense.

[2016-01-15 15:43] johndbritton commented on #431
The repositories have been restored. If we find that this was caused by a bug, I'll open another issue with full details.

[2016-01-15 15:43] #431 closed

[2016-01-15 17:02] johndbritton commented on #431
Resolved in https://github.com/education/classroom/pull/433

[2016-01-17 09:47] lifeiscontent commented on #416
@tarebyte for us, we have students that periodicly drop out of our course because its too hard. So we need to remove their coursework.

[2016-01-18 18:32] neezer commented on #416
@tarebyte In addition to everything @lifeiscontent said, I wasn't sure what kind of notifications activity on student repos would trigger on my account and wanted to test it out. I thought I could tweak some settings, delete the student repo, and have them try again fresh, but ran into this issue.

Think #418 provides what we're looking for, though.

[2016-01-19 03:19] bomeara commented on #364
About a quarter of my students are having this issue. Our assignment is at https://classroom.github.com/assignment-invitations/c28cc1d5a6c9e8151508df973ab23e70 .

[2016-01-19 13:11] johndbritton opened #436 "Upgrade to Sidekiq 4.x"
Speed improvements: http://www.mikeperham.com/2015/10/14/optimizing-sidekiq/

Upgrade guide: https://github.com/mperham/sidekiq/blob/master/4.0-Upgrade.md

[2016-01-19 13:15] #429 closed

[2016-01-19 15:46] tarebyte opened #437 "NoMethodError: undefined method `github_client' for nil:NilClass"
Check full details on Airbrake: [#1601506185712729927](https://github-education.airbrake.io/projects/116727/groups/1601506185712729927)

Backtrace:
[code]

[2016-01-20 13:26] johndbritton opened #438 "Transfer repositories"
Just got a suggestion from a user in person that we should provide a way to transfer assignment repositories to the submitters in one step.

[2016-01-20 15:16] tracicakes opened #439 "New organization doesn't show up"
I just created an organization and it's not showing up in the chooser, I think it might be due to a caching issue.

[2016-01-20 15:26] tracicakes commented on #439
Nevermind, needed to grant access.

[2016-01-20 15:26] #439 closed

[2016-01-22 07:40] johndbritton opened #440 "Search index incomplete"
When using stafftools to find certain organizations and users, they don't appear as search results. This seems to be a problem with an incomplete search index.

@tarebyte can you take a look and perhaps rebuild the search index?

[2016-01-22 07:53] johndbritton commented on #259
When an additional owner is invited to the classroom, they are able to access it directly via the classroom link, but the classroom does not show up in the list of classrooms.

We should be showing the classroom on the dashboard list for all owners.

[2016-01-22 07:56] johndbritton opened #441 "Improve unauthorized organization experience"
Issues like #439 are caused when the user doesn't know they need to grant organization access explicitly. This can happen easily when the user creates the organization after the first time using Classroom.

We're showing the `ProTip` that says to grant access, but perhaps that's not prominent enough. What do you think about adding an additional avatar to the list of classrooms that pushes the user

[2016-01-22 10:18] johndbritton opened #442 "Octospinner gets stuck when opening in new tab"
If you go to an assignment listing page and cmd+click on an assignment link to open it in a new tab, the octospinner starts, and never stops.

[2016-01-25 11:18] johndbritton commented on #440
Running `rake chewy:reset` results in the following error:

[code]

[2016-01-25 11:24] samwhitlock commented on #286
I have used [this Python tool](https://github.com/josegonzalez/python-github-backup) quite extensively for the classes I have taught. It would be pretty easy to integrate with classroom. You can just specify the assignment name prefix in the "download repo" regex.

[2016-01-25 11:31] samwhitlock commented on #379
@johndbritton I like the "submission" selection. One useful thing in this model would be for the "submission" to include all remote branches. For the classes I've taught, we often want students to push remotes to github to see that they are indeed doing proper software development (e.g. feature branches).

As a "failsafe", the state of all repositories at the submission deadline should also be rec

[2016-01-25 11:35] johndbritton commented on #379
It's possible to manipulate the commit timestamp. That's why I aim to have a hash recorded at the time the assignment is due.

This might not be entirely feasible, due to the numbers of assignments and storage requirements, and overhead of making sure all the copies work every time.

@tarebyte recently suggested using locked branches to stop students from submitting after the due date.

[2016-01-25 11:39] johndbritton opened #443 "Consider implementing Learning Tools Interoperability (LTI)"
[LTI on Wikipedia](https://en.wikipedia.org/wiki/Learning_Tools_Interoperability)

There's a standard for integrating tools like Classroom for GitHub with learning management systems, we should investigate and come to a decision about implementing the standard.

[2016-01-25 11:43] samwhitlock commented on #379
Actually, the locked branches feature seems like the way to go. I wasn't aware that github had them now :smile:

[2016-01-25 11:53] samwhitlock commented on #415
Along these same lines, it would be nice to associate each user with an academic email. In the [homebrew solution we've been using for a course at EPFL](https://github.com/EPFL-IC/sweng-management), we do this by having a separate spreadsheet which we populate using the internal LDAP directory info.

A way to do this with Classroom would be to ask new students to provide their academic email, send

[2016-01-25 11:55] samwhitlock commented on #415
It would be also useful to limit the email domain (e.g. `epfl.ch`, `stanford.edu`) when setting up the organization.

I guess this feature should be optional for those not running an "official" course (e.g. an informal MOOC or something). However, at least my own institution has pretty strict requirements about running courses and grading, and having a verified email would likely be necessary to c

[2016-01-25 12:57] #426 closed

[2016-01-25 14:33] johndbritton opened #445 "Don't reduce OAuth scopes"
When visiting a page that requires fewer scopes, we currently ask the user to reduce permissions. This can lead to problems for organization owners, so let's stop reducing scopes.

What's happening is that if any organization administrator accepts an assignment we downgrade the authentication token for that user. Since we create the repositories as the organization administrator, a downgraded toke

[2016-01-25 19:27] byrdman opened #446 "not recognizing organization"
Trying to setup a test classroom.  I've added an organization to my account, but it still says I have no organizations.

[2016-01-25 19:34] byrdman commented on #446
Never mind, figured out I hadn't granted classrooms access to my organization (perhaps that requirement should be highlighted more prominently?)

[2016-01-25 19:34] #446 closed

[2016-01-26 14:45] johndbritton commented on #415
I think what we'd like to do with this is provide a way for the student to provide an identifier, it could be an email, student ID, or anything else that the teacher specifies.

@samwhitlock Would you open up another issue for this feature request?

[2016-01-26 17:36] samwhitlock opened #448 "Implement "Student Identifiers" to map between GitHub users and Students"
A feature request: an optional, text-field identifier associated with each student.

The use case: instructors want to the relation between GitHub users and students in their class. For grading purposes, instructors need an unambiguous way to associate these 2 identities for each enrolled student. Students often have similar / alternate spellings for their names, or don't even use their real name

[2016-01-26 17:36] samwhitlock commented on #415
Opened #448

[2016-01-27 02:34] nalasbali opened #449 "Support my PhD Open Source research"
Hi,
I would like to invite you to participate in my PhD research which is about contributing to Open Source to modernize Computer Science education. The survey will take few minutes but will be of great support to my research as i need direct evidences from OS users like you, plz.
I hope you will be happy to participate by clicking on the related link to take the suitable survey & feel free to ans

[2016-01-29 10:08] #449 closed

[2016-01-29 10:11] johndbritton commented on #448
This sounds reasonable to me. We'll consider giving the teacher the ability to make the field required.

I think it's unlikely that we will go so far as to send an email validation.

I think this is a separate feature, see #377.

[2016-01-29 10:12] johndbritton commented on #448
Would love to hear from other teachers about how helpful it would be to have a text-field identifier for the students and if there are other implementations that achieve the same in a superior way.

[2016-01-29 10:33] samwhitlock commented on #448
To elaborate more on what I'm using for my course(s):

* I use [this home-brewed github management application](https://github.com/EPFL-IC/sweng-management)
* It primarily relies on students filling out a google form, to fill out a copy of [the template spreadsheet](https://docs.google.com/spreadsheets/d/1lSOhkBQrs7RRY0a-IoyfQRqvfp2kWnB-XvMBX-omfUY/edit#gid=0).
* The main function of the spreadshe

[2016-02-01 00:47] allaire opened #450 "[Question] Why rails server and not puma in dev?"
Hey guys,

Starting to take a look at the project and configuring it locally. Is there any reason why you use `bundle exec rails server` in development instead of puma (that looks configured for production)? IMO it would be a good thing to reproduce the production environment as close as possible when running something in production, but at the same time, I might be missing something :)

Really ni

[2016-02-01 00:51] allaire commented on #450
Oh and out of curiosity, does GitHub uses Vagrant in some of their projects to avoid "works on my machine" bugs? Our every machine is provisioned with boxen? If so, how do you make sure everyone is running the right version of let say Postgres?

Thanks!

[2016-02-01 02:55] tarebyte commented on #450
Hi @allaire, so puma is installed in development mode, https://github.com/education/classroom/blob/e56ac0487a58dab7e44211053f960a97af66dbe3/Gemfile#L38 so when you run `rails server` we do use puma.

The reason we don't use `foreman` to run a Procfile is because I like using pry while developing and pry doesn't work well with foreman. It's just a personal preference.

Also Boxen is not being maint

[2016-02-01 12:03] allaire commented on #450
Thanks mark for insight !

Congrats on the new job as well :)

[2016-02-01 12:03] #450 closed

[2016-02-02 21:27] cbetta opened #451 "Explanation for test env tokens"
I've been trying to setup the project locally and a bit confused around terminology. I understand I need to setup an organisation and then need an ID and TOKEN for 2 users (org admin and student) but I'm not quite getting what `TEST_CLASSROOM_OWNER_ORGANIZATION_ID` and `TEST_CLASSROOM_OWNER_ORGANIZATION_LOGIN` are. Can someone please explain?

[2016-02-02 21:31] cbetta opened #452 "Testing token scopes?"
Can someone explain what scopes the tokens for testing need exactly?

[2016-02-02 21:37] cbetta commented on #451
Ok I figured it out. Will make an update to the docs to reflect the misunderstanding.

[2016-02-02 21:38] tarebyte commented on #451
Sorry for the confusion @cbetta thank you for your contribution!

[2016-02-02 22:23] cbetta commented on #452
Going off the `omniauth.rb` I assume it's the same: `scope: 'user:email,repo,delete_repo,admin:org'`. Am I right?

[2016-02-03 00:29] tarebyte commented on #452
These are the tokens that you need and the minimum scopes they require.

| Token | Scope |
| ---------|-----------|
`TEST_CLASSROOM_OWNER_GITHUB_TOKEN` | `user:email,repo,delete_repo,admin:org`
`TEST_CLASSROOM_STUDENT_GITHUB_TOKEN` | `admin:org user:email`

[2016-02-03 02:18] bzsmz1990 opened #456 "How to delete a list of repositories by teacher_per"
Do you guys know if there is a scripted way with teachers pet or some other script whereby you can delete a list of repositories?

Thanks.

[2016-02-03 04:40] tarebyte commented on #456
@bzsmz1990 it would probably be better if you asked this in the https://github.com/education/teachers_pet repository but I would image you could do something like this

[code]

[2016-02-03 13:19] johndbritton commented on #456
If there's any follow up to this, please take it to https://github.com/education/teachers_pet.

[2016-02-03 13:19] #456 closed

[2016-02-03 20:36] tarebyte opened #457 "Questions about assignments"
From https://github.com/education/teachers/issues/35:

@khatchad it is not required to have a starter repo when creating an assignment. The reason we give everyone their own repository was due to a concern about cheating. If the user has a fork of a private repo they can see everyone else's fork which means that students can see everyone else's submission.

The best solution we have right now is t

[2016-02-03 21:48] laprej commented on #457
@tarebyte What if I just wanted to use it to copy their repositories e.g., clone_repos?

[2016-02-03 21:53] tarebyte commented on #457
@laprej if you just wanted to use `clone_repos` that's an ok use case.

But if you did something like `delete_repos` then you're going to run into trouble.

[2016-02-04 03:47] khatchad commented on #457
Thanks for the info, @tarebyte. In this case, what do you recommend we use for submissions considering that pull requests are not viable?

[2016-02-04 10:01] johndbritton commented on #457
It is possible to create a pull request from one branch to another branch within the same repository.

I still suggest having students submit pull requests against their master branch.

[2016-02-04 15:02] khatchad commented on #457
What if students don’t have a branch other than master?

[2016-02-04 20:27] johndbritton commented on #457
A few options:

* Have them use feature branches
* Grade against master branch
* Create another branch and send a pull request from master to that branch for grading

I definitely recommend teaching students to make feature branches and send pull requests. I think it's likely that we'll be adding a feature to lock the master branch so that students must use a branch and submit code via a pull requ

[2016-02-05 16:27] khatchad commented on #457
@johndbritton Thanks for the feedback, but two of your solutions involve making branches, which we may not cover at all (if so, perhaps towards the end of the semester). Also, grading against the master branch is not ideal as it is difficult to leave comments in scattered commits.

[2016-02-05 19:08] johndbritton commented on #457
The only way to make a pull request is to use two branches. In a fork you have two branches, one in each repository.

I don't recommend leaving feedback on individual commits. If you want to avoid students having to create branches you could make the branches in your starter code and they would already have the branches when they clone the repository.

[2016-02-15 20:29] vilhelmen opened #458 "Add ability to enable branch protection"
Short version:

An option to enable master branch protection (or all branches?) on import would be nice. With this, student's can't rewrite commit history and mess with the grading process.

Longer version:

My workflow might be a littler weird, since we're trying out the classroom tools for the first time, but I think it's a good start. We're using the sandbox model (because a quarter of the clas

[2016-02-15 20:37] vilhelmen opened #459 "Add ability to auto-invite students to a team"
We don't have a lot of private repos available for our organization, so each student gets a single repo to use throughout the course, and they must update their repo to get new assignments and code updates.

Under the sandbox model, students have to add the originating repo manually as their upstream, but in order to give them access to the upstream, which is private, I have to add them to a team

[2016-02-16 18:47] ajbraus commented on #364
+1

[2016-02-16 18:57] djh- opened #460 "Student not given write permission to repo after accepting assignment"
First of all, sorry if this has already been made an issue - I didn't see anything open, and I still see this problem happen in production.

At [Make School](http://makeschool.com) we use Classroom for Github a lot.  See our classroom organization here: https://github.com/makeschool-17

Very commonly, students won't be granted write permission to their repositories after accepting assignments.  It

[2016-02-17 12:59] johndbritton commented on #458
This is our plan for supporting due dates and a distinct process for submitting assignments.

[2016-02-17 13:01] johndbritton commented on #459
You can request free private repositories for classroom use at https://education.github.com/discount

I think the best solution for this is to use a starter code repository and invite link from Classroom to distribute the code. If you need more private repositories, we can help you with that.

[2016-02-17 13:01] #459 closed

[2016-02-17 13:02] johndbritton commented on #460
I'm sorry to hear you're having this problem. We're looking into it now. In the meantime, can you please share any other examples of this problem that you come across.

[2016-02-17 13:05] johndbritton commented on #460
@djh- Did Classroom create the repository and not give your student access, or did it fail to create the repository entirely?

It looks to me like the repository was not created by the application and that maybe you created it manually as I don't see a record of this repository in the app.

[2016-02-17 13:05] johndbritton commented on #460
@tarebyte can you take a look into this?

[2016-02-17 13:06] johndbritton commented on #364
@tarebyte Can you look into this issue as well?

[2016-02-17 20:33] djh- commented on #460
@johndbritton It created the repository, but didn't give the student write access.  I haven't ever created any repositories manually.

Sometimes, after clicking the accept assignment button, the repositories fail to create entirely.  I instruct the students to keep trying until it successfully creates, which happens eventually.  Perhaps that issue is related.

[2016-02-17 22:17] djh- commented on #460
[Here](https://github.com/MakeSchool-17/introduction-to-angular-choncou) is another example of a repository that I had to add the write permission to after creation.

[2016-02-18 01:06] mmm2360 opened #461 "won't let me accept an assingment"
for some reason when I click the accept invitation, I get a forbidden message. This isn't happening for others in my class.

[2016-02-18 01:09] tarebyte commented on #461
@mmm2360 are you a student? Do you know what organization you are trying to join with your invitation?

[2016-02-18 03:54] tarebyte commented on #436
Closed with #453

[2016-02-18 03:54] #436 closed

[2016-02-18 13:35] PeterDaveHello opened #462 "Missing organization on the page to create new classroom"
Oops I cannot see [my new organization](https://github.com/NCTU-CSE-Introduction-to-Algorithms) on the [page to create new classroom](https://classroom.github.com/classrooms/new), the screenshot will contain some private orgs so I didn't take it, if it's required, I can send you an email, thanks!

[2016-02-18 14:22] tarebyte commented on #462
@PeterDaveHello did you give Classroom permission to use your Organization?

[2016-02-18 14:23] tarebyte commented on #462
![screen shot 2016-02-18 at 9 23 00 am](https://cloud.githubusercontent.com/assets/564113/13145909/3a04aaba-d621-11e5-9cdf-f2af9089fb44.png)

[2016-02-18 14:24] PeterDaveHello commented on #462
Ah, my bad ... so careless that I didn't notice that, sorry for bothering, thanks @tarebyte

[2016-02-18 14:24] #462 closed

[2016-02-18 21:25] johndbritton commented on #460
Thanks for the additional information @djh-. It looks to me like the repositories are being created but then they're not recorded in the Classroom app for some reason. My hunch is that it has to do with some validations we're doing on our end after creating the repository on GitHub via the API.

@tarebyte I think this is related to the rollback of a record with failed validations where the repo wa

[2016-02-18 21:34] johndbritton commented on #460
@tarebyte I believe this is the relevant [Airbrake exception](https://github-education.airbrake.io/projects/116727/groups/1590173271909693545/notices/1603090033488074427) for the case mentioned [above](https://github.com/education/classroom/issues/460#issuecomment-185432149).

[2016-02-19 01:09] mmm2360 commented on #461
yes I'm a student, this is what comes up when I try to accept invitation:
![screen shot 2016-02-18 at 8 08 01 pm](https://cloud.githubusercontent.com/assets/14302512/13163484/6f26f5f4-d67b-11e5-9dc0-557479510bfa.png)

[2016-02-19 16:48] hackerkid commented on #377
@tarebyte @johndbritton Since GitHub allows multiple email accounts to be linked to a single account, why not verify the student identity by checking whether the account has at least one University email id? We can ask them to add the University id to GitHub to access the assignment in case they have not linked the id. The instructor can provide the University email domain while creating the assig

[2016-02-20 05:38] lucaquerella opened #464 ""Cannot retrieve this organizations repo plan, please reauthenticate your token.""
Some of my colleges cannot ask one of my assignment.
They get this error: "Cannot retrieve this organizations repo plan, please reauthenticate your token.".
The assignment works for other colleges.
They already try to login/logout both from github and from classroom. It didn't help.

[2016-02-20 17:18] johndbritton commented on #377
I think that's too much complexity for this tool. If we hear that this is a serious problem for folks I think we can implement a simpler solution.

[2016-02-20 17:44] hackerkid commented on #377
Sure.  It is sounds a bit complex. How about this?

* Student (who does not have the University id linked to GH) try to access the assignment
* We show a message that you need to have `example-university.edu` email id linked to your GH account.
* Ask the candidate whether he like to add the email id now.
* If yes, we show up a text box to enter his `example-university.edu` email id
* Once the stud

[2016-02-20 17:53] johndbritton commented on #377
One suggestion has been to have a code that the students have to type in to accept the assignment.

[2016-02-20 20:53] hackerkid commented on #438
@johndbritton How do we decide the user to which the repo should be transfered in case of team projects?

[2016-02-20 21:58] tarebyte commented on #438
We since we have access to the importer API we can just duplicate and add it to their accounts on their behalf.

The problem I see is the public/private situation, do we keep repos private if the assignment was private. And what do we do if the student doesn't have any more free private repos.

[2016-02-21 00:58] jermowery opened #466 "Team assignments not creating repos correctly"
Organization: CSC335

Today was the first time that we had students in our course accept a team assignment and attempt to use a team repo. However we ran into several problems that appear to be caused by GitHub.

The first issue that often after accepting an assignment a repository was created as expected with the correct name (the team name), but that repo would not have the team as a collaborato

[2016-02-21 01:02] Nodraak opened #467 "Error running script/setup (Bundler::GemRequireError)"
Hi !

I'm trying to setup Classroom inside a Docker container but I got an error when I run `script/setup`: ruby can't load the gem `autoprefixer-rails` although it seems to be installed as it should be (I have followed the README.md).

Here is the output of script/setup:

[code]

My Dockerfile:

[code]

Some more info, not sur if it will help:

[code]

Thanks for your help !

[2016-02-21 02:29] tarebyte commented on #467
I have about 0 experience with docker so bare with me, doing a little bit of googling I think it because you don't have a javascript runtime dependency.

This might fix your problem

[code]

[2016-02-21 08:35] Nodraak commented on #467
Thank you very much, `nodejs` was indeed missing !
I read it nowhere in any documentation ... I will submit a PR to fix that, so no other noob get lost !

[2016-02-21 08:35] #467 closed

[2016-02-21 11:32] hackerkid commented on #438
@tarebyte @johndbritton Should the original repository be deleted once the import is complete?

[2016-02-21 21:56] johndbritton commented on #438
Only drawback here is we might not be able to recreate all the issues and pull requests.

For the first pass, I would recommend just doing individual assignments and in the case of individual assignments, yes.

All in a single click for sure. Might be nice to have the ability to do it one by one, but not 100% sure that's needed. The use case I see here is that the course is over and the teacher wa

[2016-02-22 02:11] jermowery commented on #466
This could be related to this but I am not certain: https://github.com/education/classroom/issues/460

[2016-02-22 17:08] jermowery commented on #466
It looks like the creation happens sometimes but is delayed, in one case by 8 minutes

[2016-02-23 00:45] djh- commented on #460
Okay, so I have (at least) one student in particular who very often has problems.  He's Github user [DennisAleynikov](https://github.com/DennisAleynikov)

He has two different errors that are common.  He made a screen recording, and dumped the Chrome HTTP Archive for each.

[Github Classroom Issue 460.zip](https://github.com/education/classroom/files/141698/Github.Classroom.Issue.460.zip)

**Error

[2016-02-23 02:46] djh- commented on #460
Update on **Error 2**

May or may not actually matter, but even though the repo wasn't successfully created, I see updates on my news feed indicating that they were:

<img width="649" alt="screen shot 2016-02-22 at 5 52 57 pm" src="https://cloud.githubusercontent.com/assets/1690436/13240108/99097704-d994-11e5-9fb7-030c795db222.png">

[2016-02-23 12:11] johndbritton commented on #460
That's really useful information, and definitely points to a validation error upon creation.

[2016-02-24 04:04] ksuderman commented on #464
I had the same problem [1].  I finally resolved it by recreating the assignment with a different name.

REFERENCES
1. https://github.com/education/teachers/issues/46

[2016-02-24 13:26] jtong opened #468 "Could only give read permission to student repo after accepting assignment"
I am using classroom in remote training.
I want student use fork strategy to finish assignment, but they can push to their repo directly, so I have to correct them.
Could we make user choose only give read permission to student repo?

[2016-02-25 01:06] howiehu commented on #468
:+1:

[2016-02-25 21:02] hackerkid opened #471 "Undefined behavior on re-accepting an invitation link of a repo that has been deleted"
If I delete a repo and try to accept the invitation by opening the invitation link again it results in an  undefined behavior

[code]
The problem is

1) The messsage shows `#` instead of repo name
2) It's not showing that the repo has been deleted

I have fixed [https://github.com/education/classroom/pull/470] this by displaying a message that the repo no longer exists. The fix is for individual r

[2016-02-27 02:30] ksuderman opened #472 "api.github.com not returning a complete list of repositories"
I am not sure this is a Classroom bug, or general GitHub API bug...

I am trying to fetch a list of repositories for our organization (class) via the GitHub API. i.e.
[code]
However, the returned JSON document is missing at least one repository that I know of:
https://github.com/vassar-cmpu-331/lexicalanalyzer-mayahawkins.git

I am in the process of setting up travis-ci and the above repository is

[2016-02-28 15:37] tarebyte commented on #472
@ksuderman if you are curling `https://api.github.com` then it has nothing to do with Classroom.

Are the repos you are missing private repos?

[2016-02-28 17:54] ksuderman commented on #472
Yes, we are using private repositories for the assignments, and it just seems to be this one repository that isn't listed; the repositories for the other students are listed correctly.  I wasn't sure if this was a problem with the API or with the way the assignment repositories were created by Classroom.  Is there someplace else I should open an issue?

[2016-02-28 17:56] tarebyte commented on #472
@ksuderman there sure is! The wonderful Supportocats at GitHub should be able to help you out. You can message them here: https://github.com/contact

[2016-02-28 17:56] #472 closed

[2016-03-01 15:26] jermowery commented on #460
Any progress on fixing this issue?
We have a team assignment going out next week and we need to know if GitHub is a viable option.

[2016-03-01 15:47] tarebyte commented on #460
@jermowery there is a fix in the works, should be able to push it up soon for review. Sorry for the troubles.

[2016-03-01 17:12] hackerkid opened #476 "Runnig test script produces invalid json"
When I run script/test I keep getting error that the json is invalid

[code]
 JSON has `"id":hackerkid` instead of  `"id":"hackerkid"`

My .env file looks like this

[code]

[2016-03-01 17:23] jermowery commented on #460
Awesome thanks!

[2016-03-01 21:09] hubot opened #477 "Upgrade Rails due to security vulnerabilities (CVE-2016-2097, CVE-2016-2098)"
Heaven detected that rails is not >= 5.0, ~> 3.2.22.2, ~> 4.1.14.2, ~> 4.2.5.2

  Your Gemfile.lock on the master branch currently is 4.2.5.1.

  Can you folks fix this up? :revolving_hearts:

  /cc https://github.com/github/security/issues/1468

[2016-03-01 23:00] #477 closed

[2016-03-02 15:37] hackerkid commented on #476
@tarebyte  Is this a known issue?

[2016-03-02 18:16] tarebyte commented on #476
@hackerkid it looks like your `TEST_CLASSROOM_OWNER_GITHUB_ID` is your username instead of your GitHub id.

Here is my `.env`

[code]

[2016-03-02 19:34] hackerkid commented on #476
@tarebyte I got confused. Thanks :+1:

[2016-03-02 19:34] #476 closed

[2016-03-05 17:15] kenancasey opened #480 "Autocomplete for starter code repo"
It'd be great if the starter code repo textbox autocompleted based repo names (instead of having the type it exactly correct).

[2016-03-05 23:20] tarebyte commented on #480
@kenancasey that would be a pretty handy feature, unfortunately we don't really have to bandwidth to tackle this right now.

If you're really interested in this feature I encourage you to open a pull request.

Closing this just to try to clean up the issues, but please don't feel that I've closed this conversation from taking place.

[2016-03-05 23:37] johndbritton commented on #480
Yeah, this is a great feature request. I'm going to re-open and label as `help-wanted` as this would be a great beginner contribution to the project.

[2016-03-07 13:46] franktank opened #481 "Student identifier request"
Feature request

Implement authentication system that allows for both user sign up with optional fields for information requested by teacher and GitHub OAuth.

[2016-03-07 14:00] tarebyte commented on #481
@franktank thanks for the feature request.

I think what you're looking for is that when a student signs with GitHub Oauth, they can then add more metadata to their profile at the request of the teacher. Is this correct?

Students have to sign up with the GitHub Oauth flow otherwise we don't have a way to add them to the GitHub organization.

[2016-03-07 14:17] franktank commented on #481
Yeah, but I'm not quite sure what the best way of implementing that would be.

[2016-03-07 14:59] johndbritton commented on #460
@djh- just spent some time with @tarebyte debugging this issue. Can you do the following and report back:

1. Log out of Classroom using https://classroom.github.com/logout
2. Visit https://classroom.github.com and log in again
3. Have your student try and accept the invitation and see if it works.

We expect that this will resolve the issue, but could use your help in testing.

If it works, we'll

[2016-03-07 18:31] franktank commented on #442
Hi John,

I see that in the organization index view, @organizations is being rendered, but I am not sure where the octospinner is called.

[2016-03-07 23:21] tarebyte commented on #442
Hi @franktank :wave:

The markup for the spinner is here:
https://github.com/education/classroom/blob/master/app/views/layouts/application.html.erb#L16

The coffeescript is here:
https://github.com/education/classroom/blob/master/app/assets/javascripts/navigation.coffee

Hope this helps!

[2016-03-08 00:18] ksuderman opened #482 "Organization owner can't view classroom"
Our classroom organization has two owners, myself and @nancyide, however I am the only one that can view the classroom/assignments through [https://classroom.github.com](https://classroom.github.com).  When Nancy visits the Classroom web site she gets the message "You're not managing any classrooms yet.".  If she tries to create a classroom she can see our organization (vassar-cmpu-331), but when

[2016-03-08 00:43] tarebyte commented on #482
@ksuderman if @nancyide goes to the Classroom URL directly it should add her to the classroom.

Let me know if this doesn't work.

[2016-03-08 00:56] franktank commented on #442
Can a temporary fix be to put a timer on the loading spinner?

[2016-03-08 02:26] ksuderman commented on #482
Thanks for the quick response!  I was mis-reading (mis-understanding) the instructions on the /settings page.  I was simply sending her https://classroom.github.com not the full URL to our classroom.

[2016-03-08 02:26] #482 closed

[2016-03-08 15:13] johndbritton commented on #482
@ksuderman Keep an eye on https://github.com/education/classroom/issues/259, we'll be fixing this up so that owners are automatically given access even without going to the specific classroom url.

[2016-03-08 15:14] johndbritton commented on #442
I'd prefer that it not be triggered at all in this case.

[2016-03-08 15:30] johndbritton commented on #481
Closing as a duplicate of https://github.com/education/classroom/issues/448

[2016-03-08 15:30] #481 closed

[2016-03-08 16:03] franktank commented on #442
So in the event that the user is trying to open a new tab, disable the octospinner feature?

[2016-03-08 16:05] johndbritton commented on #442
That's the desired behavior.

[2016-03-08 16:06] tarebyte commented on #442
But in this case @johndbritton @franktank we lose the spinner entirely for the page load.

It would be :cool: if we could use https://github.com/turbolinks/turbolinks-classic#progress-bar to make this change.

[2016-03-08 16:13] franktank commented on #442
Okay so I was thinking of checking for event of ctrl key being pressed, and if it is hide the octospinner.

[2016-03-08 17:06] amitojsingh commented on #379
Hello,

As we are talking about assignments and test so due date or deadline is must.
I like your idea on how to implement it @johndbritton

:+1:
I want to add few points in it.

- First we will have to add a calendar with time while creating an assignment for deadline.
- After that as you are saying To " Remove student access to the repository at the deadline".  moreover students get informed thr

[2016-03-08 17:29] tarebyte commented on #379
@amitojsingh are you a University student / interested in participating in Google Summer of Code?

[2016-03-08 17:30] amitojsingh commented on #379
Yes @tarebyte

[2016-03-08 17:38] tarebyte commented on #379
@amitojsingh then I'd :heart: to :point_right: you to https://github.com/github/mentorships/issues/91.

[2016-03-08 17:40] tarebyte commented on #379
@amitojsingh you've already commented on it :derp:

[2016-03-08 18:42] ppannuto commented on #379
I'm not a big fan of the arbitrary read-only window. I don't think that encourages good action for students. I don't really want anything that would discourage people from working on things. It feels like we should be able to develop a mechanism that grabs a snapshot at the deadline but doesn't impede student's ability to keep working if they so desire.

[2016-03-08 18:50] jermowery commented on #460
@johndbritton We will be starting a new assignment tomorrow, I will let you know what happens when students start accepting the assignment.

[2016-03-08 19:02] tarebyte commented on #460
@jermowery I just checked out your permission scopes.

If you can have @djvaughn sign out of classroom and sign back in at https://classroom.github.com directly, then you should be good to go!

We use all of the organizations owners token to avoid rate limiting. Both you and @hjamal have the correct permission scope.

[2016-03-08 19:37] jermowery commented on #460
Thanks for the info!

I had all of our owners log in to classroom, log out, and log back in.
Can you verify that the permission scope is correct for all of our owners (@cindytrieu, @djvaughn, @hjamal, @rhm12399)?

[2016-03-08 19:53] tarebyte commented on #460
@jermowery I see the following users as owners of the Classroom

:white_check_mark: @cindytrieu
:white_check_mark: @djvaughn
:white_check_mark: @hjamal
:white_check_mark: @jermowery

All of these users have the correct scopes.

[2016-03-08 19:54] jermowery commented on #460
Awesome thank you! We will let you know if everything goes smoothly with our next assignment.

[2016-03-08 20:21] tarebyte commented on #379
@ppannuto we could grab a snapshot of the `sha` from when the assignment is due and then when present the link to the professor it uses that `sha`

[2016-03-09 11:34] johndbritton commented on #379
We're not planning to snapshot any code from GitHub, but we can easily grab the commit `SHA` as @tarebyte suggests. The most comprehensive way to do this would be to grab the `SHA` of the latest commit to each branch that was pushed to GitHub before the deadline. With this info, we can easily determine if any commit was submitted before or after the assignment deadline.

There are a lot of competi

[2016-03-09 11:37] johndbritton commented on #460
That explains why it was only happening in some cases.

[2016-03-09 15:38] amitojsingh commented on #379
@johndbritton What if student want to submit their assignment before the deadline?

If we can do this it would be great.

[2016-03-09 15:45] tarebyte commented on #379
@amitojsingh they could just stop to working on it if they were done. `¯\_(ツ)_/¯`

Is there a use case for being able to submit early?

[2016-03-09 15:54] amitojsingh commented on #379
Suppose their is a assignment with deadline of 1 week and a student completed in a day or two. Now he has to wait for the deadline so that their assignment is to be submitted!

[2016-03-09 16:01] tarebyte commented on #379
With the way the discussion is going it sounds like the student doesn't have to submit the assignment to begin with. We just take a snapshot (in one way or another) so that the teacher knows what to look at.

Is there benefit to alerting a teacher that an assignment is done early? As someone who used to grade projects even if someone gave it to me early I would grade them all at the same time. It'

[2016-03-09 16:31] samwhitlock commented on #379
It's not about when the instructor does the grading; it's about the students' ability to signal which version should be used for grading.

Consider students writing a Rails app for a class. Let's assume that they are new to git and/or don't use best/practices. This often means that `master` may be broken, or not passing tests.

If the approach for a deadline is for Classroom to just get all the co

[2016-03-09 16:45] tarebyte commented on #379
@samwhitlock @amitojsingh

If that's the case what do we think about making an assignment page per user/group? It would be permission locked obviously and then all the student has to do is go to the page and click submit.

[2016-03-09 17:36] johndbritton commented on #379
The student could stop working and all the commits in the repository before the deadline would be considered "on time."

I think this is a feature we should have. Students should have the ability to select which commit they intend to use as their submission.

The idea I put forward before was to to get the latest commit `SHA`s from all branches at the due date. This means that any commit at, or be

[2016-03-09 18:19] samwhitlock commented on #379
I'm teaching a beginner programming course now ([this one](http://progos.epfl.ch/projet/), only in French), and we "solve" this issue by just using a `done` directory -> students commit their work in `done/weekN`. Reminds me of more primitive version control systems :stuck_out_tongue:

Regardless of how it ends up being implemented, not having a way for students to mark a commit for the "final" ve

[2016-03-09 18:21] crichID opened #489 "Importer Failing on New Private Assignments"
@johndbritton This issue appears to be similar to https://github.com/education/classroom/pull/323. We are using Classroom to distribute activities to Trainer candidates. It worked well until this week when we started seeing a recurring issue with the importer.

1. The candidate accepts the assignment. The assignment template is a private repo and the assignment creates a new private repo for the c

[2016-03-09 18:27] crichID commented on #489
I wanted to rule out unverified email addresses as the reason for the failure, so I gathered the following additional info from the candidate: "I previously had a GitHub account, but I created a new account today for the activities. I verified my email prior to starting the import."

[2016-03-09 18:37] jermowery commented on #460
@tarebyte Students are accepting a new team assignment now and everything seems to be working correctly at the moment!

[2016-03-09 18:40] tarebyte commented on #489
@crichID do you know specifically when this week? I made a change to the importer #486

[2016-03-09 18:40] tarebyte commented on #460
:tada:

[2016-03-09 18:46] crichID commented on #489
@tarebyte I was first notified of the issue ~24 hours ago and it looked like we had one failure before that!

[2016-03-09 19:09] #489 closed

[2016-03-09 19:11] tarebyte commented on #489
@crichID just :ship: :dash: the fix for this. Sorry for the trouble!

[2016-03-09 19:21] crichID commented on #489
Thank you for the speedy resolution @tarebyte - all those good things people say about you are definitely true :smile:

[2016-03-09 19:22] tarebyte commented on #489
:blush:

[2016-03-09 20:58] johndbritton commented on #460
Great, thanks for your patience and help resolving this @cindytrieu @djvaughn @hjamal @jermowery.

We now know the underlying issue and are working on a solution to fix it permanently. In the meantime, just avoid using an assignment link from your main account as it's possible for the app to reduce your GitHub oauth scopes if you do.

We're working on a solution in https://github.com/education/cla

[2016-03-10 17:13] stevelaskaridis commented on #480
Hey, @kenancasey.
I am taking a look at the classroom's code and issues, as I would be interested in taking part in the classroom project for the [GSOC 2016](https://developers.google.com/open-source/gsoc/).

Could you describe me a little bit more on what you would like to accomplish?
I assume that you are referring to this textbox:
<img width="1106" alt="screen shot 2016-03-10 at 18 06 05" src="

[2016-03-10 19:49] kenancasey commented on #480
I imagined it working the same way as when I assign repos to a team.

![screen shot 2016-03-10 at 1 46 31 pm](https://cloud.githubusercontent.com/assets/315883/13682306/d4a0a7d0-e6c6-11e5-866d-382a2b4e0f7d.png)

[2016-03-10 19:54] johndbritton commented on #480
@kenancasey The only difference is that repo selection UI is scoped to repositories in the organization. In our case it can be any repository the user has access to on GitHub.

[2016-03-10 22:53] stevelaskaridis commented on #480
I get your points. It would be something useful to have indeed.

Implementation-wise, this may sound like a "stupid" question, but bare with me:
1. Should the backend fetch the repositories from Github and serve them to the browser of the user?
**or**
2. Should the frontend of the user make a cross domain request and get the results straight from the Github backend?

With the first approach you do

[2016-03-10 23:30] johndbritton commented on #480
You'll need to do it server side as you need to make an authenticated request to the API in order to let the user choose private repositories. I'd make an endpoint that the classroom frontend can use with the user session to make the request from the backend and then have the backend make the request to the GitHub API.

[2016-03-11 22:58] cswiercz opened #493 "Collecting assignments without teachers_pet"
I am uncertain of how "best" to collect assignments using the sandbox method without the `teachers_pet` tool.

Are there assignment options on http://classroom.github.com that I am missing? I ask because the [classroom guide for the sandbox method](https://education.github.com/guide/sandboxing) explains how to use `teachers_pet` to manage assignment collection. However, this seems to contradict th

[2016-03-11 23:08] johndbritton commented on #493
Classroom for GItHub is fairly new and we'll be updating documentation to be more clear.

Right now there's no standard way to do this. We have an open issue and plan to implement such a feature: https://github.com/education/classroom/issues/286

You might also want to check out https://github.com/education/classroom/issues/394 as well.

[2016-03-11 23:08] #493 closed

[2016-03-11 23:18] cswiercz commented on #493
@johndbritton Thank you for the references! I will be keeping my eyes open.

In the meantime is there any reason why I shouldn't be using `teachers_pet` if only for obtaining student repos? I assume it's non-destructive to the organization / assignment structure.

[2016-03-12 11:18] amitojsingh opened #494 "Error 404"
Hello,
I have installed classroom app successfully, but whenever I run the app it gives error
Error 404 This is not the webpage you are looking for!
Have I missed something?

[2016-03-12 13:14] johndbritton commented on #494
@amitojsingh What url are you using to try and access the local environment?

[2016-03-12 13:16] johndbritton commented on #493
You can still use it for cloning, just don't do anything that modifies the repositories. We'll be retiring `teachers_pet` eventually once we've addressed this need.

[2016-03-13 06:43] amitojsingh commented on #494
I run this app and then open the URL
`Localhost:3000`
this will open the homepage of classroom, but when I click on login with GitHub it gives an error.

[2016-03-13 13:13] johndbritton commented on #494
@amitojsingh Make sure you've set up your `.env` file correctly. You'll need to register an OAuth application from your GitHub account [here](https://github.com/settings/developers). Once you've done that you'll have to copy `.env-example` to `.env` and set the configuration variables.

Once you've done that, let me know if you're still getting the error.

[2016-03-14 13:04] johndbritton commented on #440
Resolved in https://github.com/education/classroom/pull/492

[2016-03-14 13:20] #440 closed

[2016-03-14 15:17] amitojsingh commented on #494
Yeah! @johndbritton Thanks I have successfully done this but now I am getting this <a href="https://bitbucket.org/snippets/amitojsingh/KRdyj">error</a>.

[2016-03-14 15:33] tarebyte commented on #494
@amitojsingh it doesn't look like you have elasticsearch running.

[2016-03-14 18:30] amitojsingh commented on #494
Solved! Actually, I haven't installed java runtime for elastic search that's why it was not working. I have installed it from <a href="https://www.digitalocean.com/community/tutorials/how-to-install-elasticsearch-on-an-ubuntu-vps">here</a>
Thanks!

[2016-03-14 19:06] johndbritton commented on #458
Marked as feedback and closing since there's nothing actionable for us here. We're already planning to bring protected branches in as a feature in the future.

[2016-03-14 19:06] #458 closed

[2016-03-14 19:07] johndbritton commented on #356
@tarebyte How do you feel about breaking out the last few remaining tasks here to individual issues with a bit more explanation of what they should be. Maybe with more info we can attract some community contributions.

[2016-03-14 19:09] tarebyte commented on #356
@johndbritton that sounds fine to me, do you want me to tackle it?

[2016-03-14 19:09] johndbritton commented on #468
You don't need to use Classroom if your students are using forks.

We don't have plans to implement such a feature, as it's possible to do directly on github.com without an external application.

[2016-03-14 19:09] #468 closed

[2016-03-14 19:14] johndbritton commented on #466
Thanks for reporting this @jermowery.

Since it's intermittent I think it may have something to do with one of your instructors having an authentication token with not enough scopes.

Yes, this is what I'm thinking. Can you have all of your instructors follow the steps [here](https://github.com/education/classroom/issues/460#issuecomment-193284915) and report back if the issue keeps happening.

I

[2016-03-14 19:16] johndbritton commented on #464
@lucaquerella This means that the user has removed our access to their account. The issue can be resolved by logging out and logging back in. When the user logs in again, they should be prompted to give Classroom access to their GitHub account.

[2016-03-14 19:21] johndbritton commented on #356
Sure, if you could write a short issue for each and close this one that'd be :100:

[2016-03-15 14:27] cyhsutw commented on #461
I was trying to understand how `classroom` works this morning, and I encounter the same issue.

My observation:
The account I used as a teacher somehow revoked the permission of `Classroom for GitHub`. This will cause the studnets not able to accept the assignment.
After logging out and in again with the teacher's account, the issue is then solved (since logging in will ask the account to grant pe

[2016-03-15 14:29] tarebyte commented on #461
@cyhsutw @mmm2360 this is known issue see #445

We should verify that the teacher has the proper token before continuing on with the request.

[2016-03-15 14:41] cyhsutw commented on #461
@tarebyte Got it, thanks.

[2016-03-15 22:03] ConnorCartwright opened #496 "Trying to improve the Getting Started guide"
Hey guys,

I'm just trying to work on making setting up the **.env** as simple as possible to make contributing to the app as easy as possible.

So far I've got:

I think this is enough for the Development Environment variables (I'm assuming we can put our own user ID for the non staff admin id field?)

I'm more confused about the Testing Environment variables (below), to get these variables do we

[2016-03-15 22:13] johndbritton commented on #496
Do we need a personal access token? I don't think that should be necessary except maybe for the test stuff.

I think these are used for recording VCR cassettes and substituting them so no real credentials end up in our test mocks, but @tarebyte is the best person to explain those.

[2016-03-15 22:25] ConnorCartwright commented on #496
Yeah, I think the personal access token is only used for the classroom owner and classroom student tokens.

I'm going to go take a look at VCR and try and understand how it works.

So the test env variables are needed when we change application functionality and want to add new tests/record new cassettes?

[2016-03-15 22:30] johndbritton commented on #496
Yeah, I believe that's the case.

[2016-03-15 22:31] johndbritton commented on #496
From the `README`:

[2016-03-15 22:56] ConnorCartwright commented on #496
Ah okay - I think seeing the empty .env file waiting for the values was a bit daunting; I'll look at seeing if I could make it a bit clearer that the test values are needed when you make functionality changes and need to add test cases.

[2016-03-15 23:13] fabiofj opened #497 "Acessar repositorio"
Não consigo acessar repositório criado para mim.

Recebo essa mensagem.

You are forbidden from performing this action on github.com

https://classroom.github.com/assignment-invitations/46b8cc40c9c58f551c471389a9794776

[2016-03-16 09:29] johndbritton commented on #497
Related: https://github.com/education/classroom/issues/461

[2016-03-16 15:00] dinever opened #499 "An interface to groups"
Currently we can not rename the group of teams after we have created them, so it may get a little bit messy if we have a lot of groups and always use the default group name:

![screen shot 2016-03-16 at 10 50 12 am](https://cloud.githubusercontent.com/assets/1311594/13816467/e6136744-eb64-11e5-85f9-1478639fa9c3.png)

What about we add an interface to groups so that we can rename them and have an o

[2016-03-16 15:46] johndbritton commented on #499
@dinever This would definitely be part of that GSoC project. Also take a look at https://github.com/education/classroom/issues/415 for some more context around features for team management.

[2016-03-16 16:59] arjenpdevries commented on #379
I like the proposed method:

Can we already do it this way?
(What would be the CLI commands to protect a branch?)

[2016-03-16 17:03] umasshokie commented on #286
I wish I had realized this issue existed before starting to use GitHub Classroom. The lack of being able to clone every repository for an assignment at the click of the button makes Classroom completely unusable, and now I can't use teacher's pet to clone either due to the reverse naming scheme as the OP noted. Has there been progress on this issue? How could anyone use Classroom without being abl

[2016-03-16 18:58] johndbritton commented on #286
@umasshokie I'm sorry this is causing trouble for you. It's on our list as something to implement.

[2016-03-16 19:01] johndbritton commented on #379
@arjenpdevries I think you're suggesting that you could lock all the master branches manually to enforce a due date right now. That's definitely possible, but it'd take you writing a simple script to hit the API and lock the branch. Here's the relevant [API method](https://developer.github.com/v3/repos/#enabling-and-disabling-branch-protection). Please note that this is a preview API and as such r

[2016-03-16 19:13] ksuderman commented on #464
@johndbritton @tarebyte This should be re-opened as it is still an ongoing issue... I am experiencing it again.

Logging out and logging back in again does ***not*** solve the problem. Unfortunately my previous work around of recreating the assignment hasn't worked either, and revoking the Classroom OAuth token from my profile and reauthorizing has no effect.  In fact after revoking the OAuth toke

[2016-03-16 20:27] johndbritton commented on #464
@ksuderman Thanks for letting us know. @tarebyte can you dig into this?

[2016-03-16 20:38] tarebyte commented on #464
Hey @ksuderman the other owner of your classroom @nancyide doesn't not have the proper token scopes. @nancyide has the scope of `user:email` which is not enough for assignment creation.

This is a duplicate of #461 and will be resolved once we close #445.

@ksuderman can you have @nancyide log back in as a teacher at htttps://classroom.github.com and see if that fixes the issue?

Thanks!

[2016-03-16 20:50] ksuderman commented on #464
@tarebyte I will have @nancyide log back in ASAP.  However, will Nancy not having the proper token scopes prevent students from accepting the assignment invitation?

Do you have an ETA on when #445 will be closed?

[2016-03-16 20:51] tarebyte commented on #496
Yes you need to create your own GitHub organization

No they have to be two separate IDs. One is the organization owner (a GitHub user) and one is a GitHub Organization ID that the owner is an admin of.

Yes

[2016-03-16 20:52] Aakash1312 opened #500 "Unable to start server"
I could successfully run the command `script/setup`
After changing .env file, I ran the command `script/server` and got the following error.

[code]

[2016-03-16 20:53] tarebyte commented on #464
Yes that is correct.

@ksuderman there isn't really a good way to fix this, but I'm hacking on something tonight which should at least try and help prevent this.

[2016-03-16 21:11] johndbritton commented on #497
The root issue is https://github.com/education/classroom/issues/445. What's happening is teachers are testing out the application and accepting assignments. When you accept an assignment we ask for less account permissions than we do for teachers. If a teacher accepts an assignment, we reduce the access we have to their github accounts making it impossible for us to give their students access to t

[2016-03-16 21:13] tarebyte commented on #500
Hi @Aakash1312 it looks like you don't have redis or elasticsearch configured on your machine.

[2016-03-16 21:13] johndbritton commented on #500
make sure you follow all the instructions here: https://github.com/education/classroom#installing-a-local-server

[2016-03-16 21:50] Aakash1312 commented on #500
Yes, I was able to do it. I killed all the redis-server background processes, then after running command again, I got it.

[2016-03-16 21:50] #500 closed

[2016-03-16 22:51] ksuderman commented on #464
@tarebyte having Nancy log back in to https://classroom.github.com fixed the problem.  Next assignment I will be sure to have both of use log out/in from the Classroom.  However, from what @johndbritton says in education/teachers#46 it seems that the simple act of testing the assignment checkout process breaks the assignment checkout process!

[2016-03-16 23:48] johndbritton commented on #464
Yes, that's exactly the case. The issue is a bit complicated, but it's due to the fact that we ask for less permissions of student users and since the user isn't logged in when they visit the accept assignment page we have to log in and request permissions again when the teacher tests out the accepting flow. When we get the permissions in this case they are reduced and we can no longer make reposi

[2016-03-17 00:02] franktank commented on #288
Should the input be a field or a select list? Also, should the column for team_size or group_size be added to group_assignments?

[2016-03-17 01:05] tarebyte commented on #496
Closed by #498

[2016-03-17 01:05] #496 closed

[2016-03-17 10:39] johndbritton commented on #288
It should be an optional field. Empty would mean no limit, enter an integer and we'll enforce that limit.

Yes, the value should also be editable on the settings page for the group assignment.

[2016-03-17 20:13] samwhitlock opened #502 "release code to existing repositories"
My use case:

* I manage an organization for a class
* I want to give students (who have an existing assignment repository) new code to that repository

This is useful for longer, semester-long projects that are released in bits and pieces.

Currently, I use github-backup (the Python version) to clone all the repositories, then use another Python script I wrote to insert new files into each reposi

[2016-03-17 21:29] dinever commented on #502
Hi Sam, @samwhitlock

I believe this is a pretty complex feature to implement.

Maybe you can try this approach:

- Create a repo `assignment` and a repo `resources`.
- `resources` will be the repo where you put new code & instructions.
- Set the repo `resources` as a submodule of `assignment`. For example:

        git submodule add https://github.com/samwhitlock/resources.git

- Use the repo `as

[2016-03-17 23:21] johndbritton commented on #502
I think this is a common enough workflow that we should investigate supporting it. I'd be interested to know if anyone is distributing code updates using different mechanisms. If you know all the steps up front, you could create the commits on branches and push each branch step by step.

Submodules are hard to use, I generally avoid them and definitely would not recommend them to people just learn

[2016-03-18 00:34] willprice opened #503 "Can't sign up with the organisation MVSE-outreach"
I get the error:

Any ideas?

[2016-03-18 01:57] johndbritton commented on #503
@willprice Can you give us a bit more context:

* What page is this on?
* What are you trying to do?

[2016-03-18 13:33] dinever commented on #480
Hi @johndbritton,

I wonder where you expect the autocomplete endpoint to be in the routes.

We can use

[code]

or setup a new namespace `autocomplete`

[code]

[2016-03-18 13:54] #259 closed

[2016-03-18 13:57] #494 closed

[2016-03-18 14:15] tarebyte opened #504 "Use Ajax call to load organizations on index page."
https://github.com/education/classroom/pull/501 closed a #259, :zap: to @dinever

Even with eager loading the users on the organizations the page load is rather slow.

It would be great if we could load the organizations using ajax so that the user isn't waiting for entire page to load.

/cc @johndbritton for thoughts.

[2016-03-18 14:19] johndbritton commented on #480
I think a new namespace is cleaner. What do you say @tarebyte?

[2016-03-18 14:21] tarebyte commented on #480
Agreed, since the search is for an API and not scoped by the models on the Classroom app it should be it's own thing.

@dinever what do you think about

`/autocomplete/github-repositories?q=keyword`

to be more explicit

[2016-03-18 14:26] dinever commented on #480
Sure @tarebyte @johndbritton,

BTW in the future, we can add more endpoints like `/autocomplete/students?q=keyword` if necessary.

[2016-03-19 01:16] willprice commented on #503
Apologies @johndbritton on rereading my report it is clearly very lacking in information!

I visit: https://classroom.github.com/classrooms, where I am logged in with my github account, that is associated with one organization *MVSE-Outreach*, when a click on create a new classroom (redirectring to https://classroom.github.com/classrooms/new) I am shown the available organisations I can use to cre

[2016-03-19 01:26] johndbritton commented on #503
@willprice Thanks for the additional information, it looks like this error is being caused because the name of your organization is too long for Classroom:

I've labeled this as a bug for us to fix, but in the meantime updating the [name of your organization](https://github.com/organizations/MVSE-Outreach/settings/profile) should help.

[2016-03-19 04:10] dinever opened #507 "Assignments should not be named `new`"
If a user creates an assignment named `new`, the URL for the assignment would be

[code]

which leads the user to the assignment creating page rather than the assignment page.

Same thing happens to group assignment too.

Potential solutions:
- Adding a `reserved word` restriction on the assignment name field, like the way GitHub handles it when user tries to create a user named `signin` or someth

[2016-03-19 04:20] dinever commented on #503
Hi John @johndbritton,

I wonder if we should fix this by truncating the name of the organization into 60 characters when it's too long.

[2016-03-19 09:08] johndbritton commented on #503
That's one possible solution, although the URL structure of this app has been giving us troubles in a few places. I think we might be better off doing a bigger project to simplify the structure than just solving this one issue. For example we could move to `id` based urls entirely.

[2016-03-19 09:10] johndbritton commented on #507
A third solution would be to change our routes to be `id` based.

[2016-03-19 13:55] cyhsutw commented on #480
Hello everyone,

I tried to implement this feature, here's what I got so far:

- By default, the site displays the repositories of the user (using the [list your repos API] (https://developer.github.com/v3/repos/#list-your-repositories), sorted by `updated`).
- Or, if the user put type some string like `education/t`, it will search the the repositories under namespace `education`.
- It utilize the

[2016-03-19 14:26] tarebyte commented on #480
@cyhsutw ascetically that looks really good so far, but I can't give give really useful feedback until I see the code :smiley:

[2016-03-19 14:48] johndbritton commented on #480
@cyhsutw looks great. Would it be possible to add autocomplete for the org / user login component as well?

[2016-03-19 14:56] johndbritton commented on #442
Fixed in https://github.com/education/classroom/pull/506

[2016-03-19 14:56] #442 closed

[2016-03-20 01:59] ConnorCartwright commented on #480
Hey guys @tarebyte @johndbritton

I also sunk a few hours into this earlier today and am at a similar point to @cyhsutw (minus the testing)

<img src="http://i.imgur.com/C1WDdLo.gif">

At the moment I have hardcoded my auth details - I wasn't exactly sure how to get hold of them from the app.

I'd love to get feedback on this - playing around with the app has been great fun, starting to like Coffe

[2016-03-20 04:05] cyhsutw commented on #480
Thanks for the feedback @tarebyte and @johndbritton!

I think this is technically possible but I'd like to know where we can use these features.

I have some use cases in my mind:

- Filter the organizations when creating classrooms.
- Filter the students who have accepted the assignment.

But these can be achieved by using simple filters (probably without sending any requests to the server).

Wou

[2016-03-20 10:35] OrthoDex commented on #432
Hi!
I am currently working on this, and the page renders when I visit /404, but I think we also want it to render when we visit 'assignment-invitations/some-invalid-link'. But this gives me a RecordNotFound error. Should I put a rescue_from clause for it? I don't think that would be the best possible option since it may be caused because of any other reason.

[2016-03-20 19:20] tarebyte commented on #432
@OrthoDex I think that would be fine, rescuing `RecordNotFound` and rendering the `404` page should work.

[2016-03-21 11:02] johndbritton commented on #480
@ConnorCartwright You should have your own OAuth application for development and store the credentials in your `.env` file. Then, the credentials will be available as environment variables like `ENV['API_KEY']` or similar.

[2016-03-21 11:18] OrthoDex commented on #432
@tarebyte I am writing tests for the 404 handling, and I am stuck at trying to get past the authenticate_user! method, since it runs before any action. I have put the test in integration and it says [here](http://stackoverflow.com/questions/5787409/stubbing-authentication-in-request-spec) that the session method is not available to a request spec. Is their any way to get around this? I was thinkin

[2016-03-21 11:30] johndbritton commented on #432
@OrthoDex If you make a pull request with your current code we can give you some feedback.

[2016-03-21 12:14] OrthoDex commented on #432
@johndbritton  @tarebyte I made a pull request at #510, looking forward to your feedback :)

[2016-03-21 22:04] rmacklin commented on #502
I'd like this feature too. Currently I'm going with the approach of having the "future" code on other branches, but it would be nice to completely hide these branches until the students are "ready" for the new code (because it may be distracting/intimidating to have that code right off the bat).

I'm thinking along the lines of what you mentioned in https://github.com/education/classroom/issues/26

[2016-03-22 13:36] johndbritton commented on #502
Thanks for all the great ideas, please keep them coming. I do want us to support this use case, but I want to make it as simple as possible. The more ideas for solutions we can get at this stage the better.

[2016-03-23 06:00] amitojsingh commented on #379
Can we create another branch for submission, Like after the deadline all the branches in the repository merged to a new branch name as submission and it is read-only branch after the deadline no one can push to the submission branch.

And mentor just switch to submission branch and can easily review the code whereas student continue their coding Without any interruption.

[2016-03-23 09:51] dasilvacontin opened #513 "Identical 'Settings' buttons in the same view"
<img width="1036" alt="screenshot 2016-03-23 10 07 15" src="https://cloud.githubusercontent.com/assets/1260830/13980488/2bc4b8a4-f0df-11e5-84b7-a926e63ebaa5.png">

There's two identical `Settings` buttons. I know, I know – if you pay enough attention, they are in different contexts / ui boxes:
- the 'Kipos' classroom header, and
- the ui box owned by the 'test' assignment.

Still, it doesn't feel

[2016-03-23 11:47] johndbritton commented on #513
This is a good point. @jasonlong Do you have any suggestions for improvement here?

[2016-03-23 13:11] jasonlong commented on #513
How about `Manage classroom` for the classroom button since it has more than settings (e.g. inviting other admins)?

`Assignment settings` for the assignment makes sense to me. Maybe we make that one a link with the gear Octicon to visually differentiate rather than having two very similar green buttons.

[2016-03-23 13:24] johndbritton opened #514 "Fail the build on missing newline at end of file"
We expect all source files to end with a newline character and I often have to remind contributors to meet this standard.

We should add a linter check for this so that it's automated.

[2016-03-23 14:02] #514 closed

[2016-03-23 18:07] #513 closed

[2016-03-23 18:10] dinever opened #517 "Adding all users to organizations."
Hi guys,

Currently, we are adding students to the organization only if they are involved in any group assignment, for individual assignments we just add them as a repo collaborator.

However, this causes some difficulties in the implementation of student management features in the future.

For example, an interface for student management is needed for the sake of #292, #448. If we want to list al

[2016-03-23 18:56] takehiroman opened #518 "利用方法"
このclassroom for githubは学生の課題を管理するためのサイトです。

[2016-03-23 18:58] #518 closed

[2016-03-23 22:23] johndbritton commented on #517
The main challenge with doing this is that we'd have to migrate all existing users to the new style which is less than ideal. Also, the default permission level for organization members is not really good for Classroom as it defaults to read access for everything in the organization and there's no way to manage that setting via the API.

We'd have to ask teachers to change their org settings manua

[2016-03-24 15:10] sahilshekhawat commented on #500
Faced the same issue, should we add a note to the Readme?

[2016-03-25 02:00] arademaker commented on #245
+1 asking for a solution! I am running in the same case here. I am creating the second assignment and I would like to preserve the teams already formed by the students. I would like to be able to edit the previous created 'group of teams' if one or other team is created. My course is https://github.com/ED-2016/

[2016-03-25 04:05] dinever commented on #517
Thanks, this is pretty reasonable. :smile:

[2016-03-25 04:05] #517 closed

[2016-03-25 10:17] johndbritton commented on #245
@arademaker If your first assignment was in Classroom then this should be possible for you already. Just choose the same "group of teams" when creating the assignment and students will only be prompted to choose if they didn't participate in the first assignment.

We don't have this ability yet, but it's something we're planning to implement. @dinever has laid the foundations of that interface in

[2016-03-25 11:26] sahilshekhawat commented on #438
Instead of transferring repository to the user, can we just fork it and sync it whenever it is updated??

[2016-03-25 11:30] johndbritton commented on #438
It think that's out of scope for this feature. The goals are to clean up the org account when a course finishes and let students keep their code.

What would be the benefit to using forks and keeping them in sync?

[2016-03-25 11:32] sahilshekhawat commented on #438
okay, I didn't understood it completely. But if it so, then we can fork it to respective students accounts and delete the main repositories in the organisation, right?

[2016-03-25 11:35] sahilshekhawat commented on #438
Also, it would be easy if Github can add Transfer feature into its API itself.

[2016-03-25 11:36] johndbritton commented on #438
If you do a fork, none of the issues will transfer over. I think moving the repository via transfer is the best solution.

[2016-03-25 11:37] johndbritton commented on #438
I agree, that would be ideal.

I don't know if that's part of their plans, but I will suggest it to them.

[2016-03-25 15:57] dasilvacontin commented on #502
@rmacklin I assume that the 2nd assignment won't only build up on top of the 1st assignment's starter code, but also on top of the student's "solution" for it. Is the intention to have the students merge the 2nd assignment's branch into `master`? If so, automatically creating a friendly pull request for the 2nd assignment's resources in each student repo could helpful.

The pull request could have

[2016-03-25 16:04] #480 closed

[2016-03-25 16:41] johndbritton commented on #502
@dasilvacontin Really like those ideas, especially the idea of sending a pull request to build up the assignment over time.

[2016-03-26 19:10] #424 closed

[2016-03-27 19:13] johndbritton opened #527 "Share solution with students that complete an assignment"
Going through my notes from a call with @samwhitlock and this was the only feature that didn't already have a corresponding issue.

It's common for teachers to release a reference solution to their students after grading has been completed and it's preferred to keep the solution private. It might be useful to some folks if there were a standard way to release solutions to students who completed an

[2016-03-27 19:32] dinever commented on #527
+1 for this one as students can discuss the solution on the issue page of the repo.

[2016-03-28 19:04] dasilvacontin commented on #527
And they could also open a PR if they feel like the proposed solution could be improved. :')

[2016-03-29 00:41] #288 closed

[2016-03-29 06:13] jermowery commented on #460
This still seems to be an issue. We might accidentally follow an invite link or follow one intentionally to try to help a student. Has there been progress on fixing the issue #485 looks like it hasn't been updated in awhile.

[2016-03-29 16:17] crank123 opened #530 "Why does this not let you add a description to each assignment?"
Why does this not let you add a description to each assignment? This is something that would be very useful. This would cut down on the amount of time spent creating each assignment.

[2016-03-29 16:24] tarebyte commented on #530
@crank123 I'm not entirely sure I follow, can you expand upon your thoughts here?

[2016-03-29 19:45] johndbritton opened #531 "Use id based routing throughout the app"
Although the intention of having pretty urls is nice, it's caused way more trouble for us than it's worth. Let's move to a simpler, `id` based routing system.

The default routes for all resources should be based on `id`s.
1. Implement `id` based routes for all resources
2. Make sure slug based routes redirect to their new id based coutnerparts
3. (optional) As a follow-up, bring slug based routes

[2016-03-29 19:47] johndbritton commented on #530
The expectation is that the assignment description is included in the starter code's `README.md` file, but would love to have your input on how we could improve the experience for you.

[2016-03-30 04:24] sahilshekhawat commented on #531
To be backward compatible we need to support current slug based routes too along side id based routes, right? Also, I am not sure if I understood 3rd point. Can you please elaborate on that?

[2016-03-30 12:24] johndbritton commented on #460
@jermowery This is still on our radar, we're working with some folks on the API team to come up with a solution for this.

[2016-03-30 13:38] johndbritton commented on #531
Yes, we will need to redirect the existing slug based routes.

Right now, slugs are auto-generated from the name of the assignment. If a user changes the name, the slug doesn't update. We might want to let teachers create a `permalink` url for their classroom that uses a manually configured slug rather than an auto-generated one.

I'd expect it to be something like `https://classroom.github.com/:s

[2016-03-30 14:34] khatchad opened #533 "Automatically create team from students"
I would like to have a team automatically created consisting of the students in my course. Specifically, when they accept an invite into the organization, they should automatically be added to a team called "students."

[2016-03-30 14:35] khatchad opened #534 "Bring back the forking model"
Before classrooms, I used the forking model and pull requests. Now, there are just too many (student) repositories which are not related in anyway besides their name to the original (instructor) repository. Also, pull requests were very convenient to review and comment on student code.

[2016-03-30 14:49] dinever commented on #533
Hi @khatchad,

What do you want to achieve by having all students added to a team?

The reason we are not adding all students to the organization is about the default permission level. The default permission level for GitHub organization members is `read`, which means students can see each other's private repo. However, we'd prefer it to be `none` as we don't really want students to have read acce

[2016-03-30 17:55] pilla opened #535 "Students cannot join teams"
When my students try to join an already created team for an assignment, they get the following message:

I have tried it myself with a non-admin account and it is reproducible.

I have turned off the number of members in a team in the assignment (it was configured for two students) but it still does not work.

Creating a new team works.

[2016-03-31 03:40] dinever commented on #535
Seems that classroom can not find the team in the related GitHub organization.

[2016-03-31 10:37] pilla commented on #535
dinever, thanks for the reply.

Should I create teams before students create their own copy of the repository through the assignment link? In previous editions of this class I used teachers_pet, but it is not working anymore for me.

This is the invitation link, please try to join "test" team:

https://classroom.github.com/group-assignment-invitations/ea4439e60e33cff9d5576d3913ee4116

[2016-03-31 11:31] pilla commented on #535
I just tried to add another account to the test team and compufpel organization, and I still got the same error.

[2016-03-31 11:37] pilla commented on #535
And weirdly enough, now I received a mail telling me that I am now subscribed to the repo... and I can access it.

So it seems like I need to:

- Create teams for my students
- Give them their team names and the link for the repositories

[2016-03-31 11:56] tarebyte commented on #535
Hi @pilla, just jumping into this now and took a look at your issue, just to clarify a few things

No, that's not really the design of classroom. Also if you create the teams you could possibly degrade your access_token which could cause more problems.

According to the error logs it looks like your not able to find a singular group

Let me take a look at this today and I'll get back to you.

[2016-03-31 15:14] khatchad commented on #533
Hi @dinever,

I want to share solutions with the students but I do not want to make the solution public. As such, I'd like to give *read-only* access to such repos to the *student* team.

Is it possible to change that level? Because, I currently have all students in a student team as part of the org and they cannot see each others repos by default.

Ah, so perhaps I set it to `none`. I can't remem

[2016-04-01 10:54] pilla commented on #535
Hi @tarebyte

Thanks for looking into my issue. If you think that can be fixed today, pray tell me. I am going abroad for a week and my students need the repos for their assignment, so if Classroom does not work, I am inclined to try teachers_pet again.

[2016-04-01 12:02] johndbritton commented on #535
Thanks for reporting this @pilla, I think we've found the problem and are working on a resolution.

[2016-04-01 12:39] #535 closed

[2016-04-01 12:40] tarebyte commented on #535
@pilla the fix for this has now shipped, I had a test user add themselves to one of your teams.

[2016-04-01 12:41] pilla commented on #535
@tarebyte , thanks for the quick heads up.

[2016-04-01 12:42] tarebyte commented on #535
@pilla no worries, thanks for the report!

I'll also go ahead and remove my test user from your group

[2016-04-01 12:43] johndbritton commented on #534
@khatchad You are still able to use forks with your students on GitHub directly. For that case, there's no need to use Classroom.

We created Classroom because the forking model was not sufficient for many teachers. Particularly, the fact that all repositories in a network of forks are visible to everyone was not acceptable to teachers who wanted to keep their students from seeing each the work of

[2016-04-01 12:46] johndbritton commented on #533
We've heard this feature request before and hope to offer a solution in Classroom. You may want to subscribe to https://github.com/education/classroom/issues/527 for updates.

Yes, but the setting is not currently available via the GitHub API and not available to Classroom to manage for you. You can manually change the setting at `https://github.com/organizations/#{your_organization_login}/setting

[2016-04-01 12:48] johndbritton commented on #533
@khatchad Does #527 cover your use case sufficiently? I think that feature will solve your problem, even if the implementation isn't that we create a `students` team in your organization.

If so, we can close this issue. Otherwise, it'd be helpful if you could provide some more details around why creating a `students` team is the preferred solution for you.

[2016-04-03 22:07] khatchad commented on #533
@johndbritton Yes, I think that #527 covers this request. I think that a `students` team would be useful to share multiple solutions.

[2016-04-03 22:11] khatchad commented on #534
On Fri, Apr 01, 2016 at 05:43:25AM -0700, John Britton wrote:

I disagree, actually. I think that classrooms is still useful. I find the invitation link to be very useful in particular. It really makes signing students up for the course very easy.

I should have been more precise. When I suggested to bring the forking model back I meant to have my cake and eat it too. That is, I would like a forki

[2016-04-04 00:50] tarebyte commented on #534
@khatchad that is impossible with the way the private forks work. All forks are connected in the same network.

So if you have a private fork there isn't anyway for us to turn off your ability to see other users private forks of the same repo.

[2016-04-04 07:45] rmacklin opened #546 "Add option to copy the open issues from the starter code repo to all student repos"
I'd like to add a feature that gives assignment creators the option to copy the open issues from the starter code repository to each student repository created for that assignment. My use case: the assignment is a long-term project and these issues are smaller "tasks" for the students to complete along the way.

I've got a basic implementation working locally with these changes: https://github.com

[2016-04-04 11:26] sahilshekhawat opened #548 "API for a desktop client."
To add various features like cloning all submission simultaneously we are planning to build a desktop client. We need an API (need not to be public or complete) which can be used by the desktop client. I have raised #547 to start this, which contains authentication part of the API.

[2016-04-04 11:35] tarebyte commented on #548
@sahilshekhawat what API endpoints do you think we need, and how do you suggest we design them?

[2016-04-04 12:03] sahilshekhawat commented on #548
Aim is to implement features which can not be implemented in web-app. Following are the main features that we plan to implement.

1. Authentication of a user.
2. List all organizations for a user and respective assignments.
3. Ability to clone all submission for an assignment simultaneously.
4. Directly create an issue in a submission repo. (Can me merged with next feature)
5. Open repo directly i

[2016-04-04 12:15] sahilshekhawat commented on #548
We can also add more functionality in the future like:

1. Creating assignments.
2. Managing teams.

[2016-04-04 13:38] hubot opened #549 "CVE-2015-7577"
Heaven detected that rails is not < 3.1.0, >= 5.0.0.beta1.1, ~> 3.2.22.1, ~> 4.1.14.1, ~> 4.2.5.1

  Your Gemfile.lock on the master branch currently is 4.2.6.

  Can you folks fix this up? :revolving_hearts:

  /cc https://github.com/github/security/issues/1363

[2016-04-04 13:38] hubot opened #550 "CVE-2016-0751"
Heaven detected that rails is not >= 5.0.0.beta1.1, ~> 3.2.22.1, ~> 4.1.14.1, ~> 4.2.5.1

  Your Gemfile.lock on the master branch currently is 4.2.6.

  Can you folks fix this up? :revolving_hearts:

  /cc https://github.com/github/security/issues/1363

[2016-04-04 13:38] hubot opened #551 "CVE-2016-0752"
Heaven detected that rails is not >= 5.0.0.beta1.1, ~> 3.2.22.1, ~> 4.1.14.1, ~> 4.2.5.1

  Your Gemfile.lock on the master branch currently is 4.2.6.

  Can you folks fix this up? :revolving_hearts:

  /cc https://github.com/github/security/issues/1363

[2016-04-04 13:38] hubot opened #552 "CVE-2015-7576"
Heaven detected that rails is not >= 5.0.0.beta1.1, ~> 3.2.22.1, ~> 4.1.14.1, ~> 4.2.5.1

  Your Gemfile.lock on the master branch currently is 4.2.6.

  Can you folks fix this up? :revolving_hearts:

  /cc https://github.com/github/security/issues/1363

[2016-04-04 13:38] hubot opened #553 "CVE-2016-0753"
Heaven detected that rails is not < 4.1.0, >= 5.0.0.beta1.1, ~> 4.1.14.1, ~> 4.2.5.1

  Your Gemfile.lock on the master branch currently is 4.2.6.

  Can you folks fix this up? :revolving_hearts:

  /cc https://github.com/github/security/issues/1363

[2016-04-04 13:38] hubot opened #554 "CVE-2015-7581"
Heaven detected that rails is not < 4.0.0, >= 5.0.0.beta1, ~> 4.1.14.1, ~> 4.2.5.1

  Your Gemfile.lock on the master branch currently is 4.2.6.

  Can you folks fix this up? :revolving_hearts:

  /cc https://github.com/github/security/issues/1363

[2016-04-04 13:51] #553 closed

[2016-04-04 13:51] #549 closed

[2016-04-04 13:51] #554 closed

[2016-04-04 13:51] #551 closed

[2016-04-04 13:51] #550 closed

[2016-04-04 13:51] #552 closed

[2016-04-04 19:10] johndbritton commented on #534
It would be possible for us to create an invite system and use forked repositories, but it would be impossible for us to keep the individual repositories private from the other students. This is built into the way forks work and it's not possible for us to change.

Both of these can be accomplished by having students use branches and submit pull requests to their master branch.

[2016-04-04 19:42] johndbritton commented on #533
Closing this in favor of #527, thanks for the feedback @khatchad.

[2016-04-04 19:42] #533 closed

[2016-04-05 10:43] johndbritton commented on #546
Thanks for the suggestion. We've had some similar ideas, but haven't come up with a solution that we love yet:

1. Copy over all starter repo issues on creation
2. Provide the ability to create an issue on all student repositories through Classroom on demand
3. Provide a way to automatically create issues on a set timeline

A couple of key considerations:

* Every issue is created by a person, who

[2016-04-05 16:54] dasilvacontin commented on #502
I'm looking forward to use Classroom for a course I'll be giving in early July. I'm laying out some thoughts here.

For my use case, at first I thought that I would like to build up assignments on top of earlier ones, meaning I would create multiple assignments and somehow link them in Classroom's interface. But then I examined what I _actually_ like about that idea:
  - having the students reuse

[2016-04-05 17:53] ConnorCartwright commented on #448
Hey @samwhitlock @johndbritton

I'm interested in giving this a crack but had a couple questions before starting.

Assuming we wanted the identifier to be set at a classroom level there could be an optional field on the classroom creation screen (if the classroom is already created, set in the 'Manage classroom' options) which lets the teacher set what the identifier is based on.

Here we need to

[2016-04-05 21:29] khatchad commented on #534
Oh ok. Sorry, I thought that classrooms was owned by GitHub. As for the commenting and reviewing point, I find that scheme a bit hacky. Students are already having trouble learning git. I feel that it would be an extra burden on them to straight-away learn about branching and pull requests (that's something they can learn later, not for the first assignment, for example).

On Mon, Apr 04, 2016 at

[2016-04-05 22:10] johndbritton commented on #534
This application was created and is run by GitHub. I think the confusion came from my statement above:

My point is that the forking feature of GitHub (the fork button) is built for collaborating on repositories across a network. All repositories in the network are visible to all members of the network and this is not something that we're going to change on GitHub. As such, it's not possible for C

[2016-04-05 22:16] johndbritton commented on #448
I've been thinking about it like this:

* Give the teacher the ability to specify a string that describes what the student should enter: (student id number, email address, etc)
* Give the teacher the ability to provide a list of said identifiers
* Only let students with the provided identifiers into the Classroom
* Let teachers manage groupings based on the pre-loaded identifiers and users that ha

[2016-04-05 22:36] rmacklin commented on #546
Thanks for the detailed reply @johndbritton!

(1) is the feature I'm requesting. For on-demand issue creation, I can do that right now just using Octokit, so I don't currently experience too much pain that (2) would solve. (3) is not personally something I need because I intentionally want students to be able to work at their own pace, so I just create all the issues from the get-go. Still, this c

[2016-04-05 23:27] cyhsutw commented on #448
And maybe also create the assignment repo based on the identifiers, which would be much easier for teachers to grade.

[2016-04-06 00:04] rmacklin commented on #502
@dasilvacontin I agree. I no longer like the suggestion I had previously made where you'd have to create a new Assignment in order to release new code. Right now I'm just using one assignment for the long-term project and I'll manually push branches to the student repos to "release new code" (unless Classroom adds support for that before I need it).

[2016-04-06 03:04] cyhsutw commented on #448
This a tiny prototype based on @johndbritton's comment.

Basically, the teacher can upload a list of the identifiers (`.csv`) and the students can link their GitHub account with the identifier (per classroom base).

This is how it looks like:

**For teachers:**

![teacher](https://cloud.githubusercontent.com/assets/1046917/14304583/b5443da4-fbe6-11e5-8ae4-a2c08d5cf67e.gif)

**For students (they on

[2016-04-06 08:16] johndbritton commented on #448
I think this is on the right track. A few notes:

* The term "Student ID" should be configurable as some schools might use an ID number while others might use an email address or something else
* Uploading a CSV is nice, but what if it has multiple columns, how does the user choose which one represents the identifier?
* We'll also likely need a way to unlink an identifier from a user account, as i

[2016-04-06 08:42] johndbritton commented on #546
What I mean is that the starter code repository would lay out the whole student journey in terms of issues for the student to resolve on the project. I meant script like a play not like a program. 😄

[2016-04-06 08:58] johndbritton commented on #546
I agree. This feature can definitely stand on it's own. I was thinking that on demand issue creation would be an easier first thing to implement. Not sure where there is more demand amongst other users.

[2016-04-06 08:59] johndbritton commented on #546
Thanks for opening https://github.com/education/classroom/pull/555, I've left a bunch of feedback over there.

[2016-04-06 09:42] johndbritton commented on #548
I agree here, only implementing things that we can't possibly do via the web.

I don't think we need any of these.

This is the only feature we need.

We don't want to support these features via the API. Our goal is not to make a feature complete API, but rather to solve the problem of teachers cloning many repositories at one time in the simplest way.

We might add a full API at some point in the

[2016-04-06 17:58] cswiercz opened #557 "Private sandbox repos not adding student as collaborator"
Using the sandbox approach, *on occasion* when a sandboxed / private repo is created for a student using a template the repo does not assign the student as a collaborator and, therefore, they do not have access.

The organization in question is https://github.com/uwhpsc-2016 and the template used for the assignment is https://github.com/uwhpsc-2016/homework1 .

This usually is the case when I have

[2016-04-06 17:58] ConnorCartwright commented on #448
I would think using 'Student Identifier' as the term would be a bit more generic.

I imagine most teachers would find taking the students' academic email addresses and then having classroom send the students a confirmation email upon accepting the invitation would be the best solution.

If we use ID numbers or a similar text field, then as you mentioned @johndbritton it could potentially be guesse

[2016-04-06 18:46] johndbritton commented on #448
We have to display something to the student on the invitation page. If we say "enter your student identifier" to everyone, that's just an ok experience. It'd be better to say "enter your school email address" or "enter your student id number" or "enter your secret code".

That would be nice, but I'd really like to avoid having this app send emails if possible. GitHub already has a system for addin

[2016-04-06 18:52] johndbritton commented on #557
This is a known issue, documented here: https://github.com/education/classroom/issues/445

We're actively working on a solution, but we're limited by the GitHub API. The workaround is to have all of the teachers log out and log back in at https://classroom.github.com.

This is caused by a teacher trying out the invitation flow and giving Classroom a reduced scope authentication token. When that ha

[2016-04-06 19:42] ConnorCartwright commented on #448
Oh I see - I was thinking more on the organisation side only.

We could let the teacher define the term (academic email, student id number, etc.) in the classroom settings, and then on the invitation page, the students can then see that term.

For example, the invitation could say _"You will need an academic email address from the University of x" to accept this assignment._

Assuming the teacher

[2016-04-06 19:57] johndbritton commented on #448
We could do this, and I have experience with a similar flow on `education.github.com`, but it's not very convenient for the user.

[2016-04-06 20:41] ConnorCartwright commented on #448
In that the user has to go to another tab to add the email address?

It looks like it would be possible to use the [API](https://developer.github.com/v3/users/emails/) to add the email directly from the assignment invitation page, the student would then just need to verify it from their email account.

[2016-04-06 21:05] johndbritton commented on #448
That's great, I hadn't thought of doing that. If we take this route, then we could potentially enable restriction by domain at the classroom level.

[2016-04-06 21:35] ConnorCartwright commented on #448
I think this would be the best way - it would allow teachers to easily link their student emails to GitHub accounts.

[2016-04-07 00:59] orbeckst opened #559 "How to switch a student from one team assignment to another?"
What have I as the instructor or the student got to do if they wrongly joined the wrong team in a team assignment?

Can I manually delete the student from the team using the GitHub org team settings? Will this allow them to follow the classroom "accept team assignment" link again and join another team?

[2016-04-08 09:16] johndbritton commented on #559
@orbeckst it's not currently possible to change a student from one team to another, but if you would email `education@github.com` with the username of the particular student you'd like reassigned I can fix it for you manually.

We're looking to add this as part of https://github.com/education/classroom/issues/292

[2016-04-08 09:16] #559 closed

[2016-04-08 23:14] LepcisMagna opened #560 "Repository: Name Already Exists on Account"
Similar to #557 (this one is actually my class) and #445, I am receiving an error when attempting to accept a homework invitation.  Initially, the errors were among:
"Cannot retrieve this organizations repo plan, please reauthenticate your token.", and
"You are forbidden from performing this action on github.com", but now each time the error is as below.

![chrome_2016-04-08_16-10-58](https://clou

[2016-04-09 00:47] johndbritton commented on #560
The root cause here seems to be the same as those issues, a bad token for one of the organization owners.

To resolve this issue, get your teacher to delete the existing `homework-LepcisMagna` repository or add you to that repository as a collaborator.

You should also let your teachers know not to try out accepting the assignment using their GitHub account, as it will reduce the scopes we have fo

[2016-04-11 14:15] #452 closed

[2016-04-12 00:08] ConnorCartwright commented on #448
I was working on the UI for this earlier and think that in the organisation settings we should have a 'Student Authentication' field, and allow the teacher to select one of a few options including:

* Email Domain (student has to have a matching email address, i.e. ending `@bham.ac.uk`, to accept the invitation)
* Email List (teacher uploads or inputs a list of emails, student has to have a matchi

[2016-04-12 01:11] cyhsutw commented on #394
I was thinking if we can generate a shell script for teachers to download the assignments.

For example, we may have a textfield containing a command for teachers to run in their terminal:

[code]

And the content return by accessing `/classrooms/18225127-swift-lab/assignments/swifty-syntax/repos` would be something like this:

[code]

So after executing the command in the terminal the teacher wou

[2016-04-12 09:44] johndbritton commented on #394
@cyhsutw I like it, but at the same time I also really dislike the idea of the user running arbitrary code that's downloaded like that.

[2016-04-12 10:27] cyhsutw commented on #394
That's one of the drawback of the idea, for me, I'd always check the script before executing it (for security issues ⚠️ ).

Actually, the idea was inspired by [Homebrew](http://brew.sh/) (and more other software with installation scripts), which utilize a single command to minimize installation effort.

And we'd like to minimze the effort for the teachers to clone repos, too.

Maybe we can offer a

[2016-04-13 11:08] johndbritton commented on #394
Let's ask @mastahyeti what he thinks about this from a security angle.

The pattern of downloading and executing a script does exist in a bunch of other projects, but just because they do it doesn't mean we should follow and do something similar.

@mastahyeti The goal is to make it easy for a teacher to clone tens or possibly hundreds of repositories in a single step, what do you think about this

[2016-04-13 12:20] mastahyeti commented on #394
I agree that it isn't great to ask people to copy and paste things into their terminal. It trains users that this is an okay thing to do and will make it more likely for them to copy and paste something malicious into their terminal in the future.

That said, lots of other places do this, and it wouldn't terrible if this app did too.

Personally, I think downloading a tarball of all the repos woul

[2016-04-13 13:01] cyhsutw commented on #394
@johndbritton @mastahyeti  Thank you for your feedback.

Just read a short blog [post](https://jordaneldredge.com/blog/one-way-curl-pipe-sh-install-scripts-can-be-dangerous/) about pipe shell install scripts and realized that this kind of approach might cause a lot of problem in terms of security.

I think that's the most important thing here, we don't want our users to get used to this kind of be

[2016-04-13 13:35] johndbritton commented on #394
@mastahyeti That'd be ideal, but we'd need the app to download all the repos then create and store the tarball which I think is more complexity than we want for this app. I think we might go the route of making a small API and desktop client using Electron to do bulk clones.

[2016-04-13 13:50] johndbritton commented on #448
The four cases you described:

* None - this is what we have now
* Password - I think we can skip this one for now
* Email domain - This should prompt the user to say they need to add an `@example.com` email to their account and verify it. When they add it, it should update to show that it's awaiting verification, and once verified the assignment can be accepted.
* Email list - I don't like this a

[2016-04-13 13:51] dasilvacontin commented on #394
I think short-term there could be a click-to-copy field with a command for cloning all assignment's repos using a CLI. The command could have an OR so that it opens the CLI's website in case the user doesn't have it installed.

Long-term, a button with a URI action for a GUI app. Alla view/open in GitHub button:

<img width="286" alt="screenshot 2016-04-13 15 15 29" src="https://cloud.githubuserco

[2016-04-13 13:54] dasilvacontin commented on #394
Also, against the tarball, not only the complexity and server overhead, but the fact that you lose all the benefits of having/navigating an actual Git repo.

[2016-04-13 15:17] jvilk opened #563 "Prevent Student from Aborting Import / Allow Reimporting If Aborted"
_[Originally mentioned in this bug thread](https://github.com/github/mentorships/issues/92#issuecomment-209373795), and reposted here._

I'm using GitHub classroom in a class with 100 students using private repositories. The "importer", which creates the repository for a student, allows the student to cancel the import. When this occurs, we are left with an empty repository in our org account.

If

[2016-04-13 15:47] johndbritton opened #565 "Update og-image to GitHub Classroom"
Currently, our `og-image` uses the old name for this app "Classroom for GitHub":

![og-image](https://cloud.githubusercontent.com/assets/123345/14499727/588f21b2-0197-11e6-8963-c184c8460639.png)

We need to update it to "GitHub Classroom" to go along with https://github.com/education/classroom/pull/564

[2016-04-13 18:58] #413 closed

[2016-04-13 18:58] #417 closed

[2016-04-13 18:58] #430 closed

[2016-04-13 18:58] #437 closed

[2016-04-13 23:57] ConnorCartwright commented on #448
I was working on this earlier and have added in the option to add an email domain on organization creation as well as within the organization settings, so it looks like:

<img src="http://i.imgur.com/DQFD6Cs.gif">

I'm going to work on the invitation side next and hopefully make a pull request soon.

I think using an Email list in conjunction with an email domain could be useful, this way the stud

[2016-04-14 14:32] sdeibel1 opened #567 "Cannot accept assignments"
I cannot accept assignments from my organization. I get a message stating that I am "forbidden from performing this action on github.com".

[2016-04-14 14:40] tarebyte commented on #567
@sdeibel1 are you a student or a teacher?

[2016-04-14 15:03] #565 closed

[2016-04-15 21:36] dinever commented on #394
How about we maintain a teacher's repo for each assignment. When a student accepts the assignment invitation, add the student's assignment repo into the teacher's repo as a submodule.

By this approach, the teacher can simply clone all repositories by the recursive clone command:

[code]

BTW I've just tried this and confirmed that it's feasible through the GitHub API.

Would appreciate hearing yo

[2016-04-15 22:12] dinever commented on #394
Another advantage of doing this is that each submodule is actually a "pointer" to one of the student repo's commit, which means that the submodule can be used as a snapshot and may solve the due date problem. #379

We can set a task to add all student's repos into the teacher's repo as submodules when the assignment is due. When the teacher clones the repository, all of the sub-repositories will h

[2016-04-16 10:43] johndbritton commented on #394
In general, I hate submodules. They always cause headaches but in this case I think it's a really clever solution that might work for us. The challenge will be in keeping the teacher's repository up to date with all of the commits in the other repositories.

If we go this route, maybe we don't try to keep things up to date all the time, but instead create a snapshot of all the student repositories

[2016-04-16 13:09] johndbritton opened #572 "Student projects roadmap summer 2016"
We're expecting to have a few students focused on improving Classroom this summer with help from @tarebyte and me. Let's use this issue to plan goals for the summer and track progress against them. For a first draft, I've split tasks into three main categories: setting up, monitoring progress, and winding down. By splitting our goals across the different parts of the usage cycle my hope is that we

[2016-04-16 16:37] dinever commented on #394
@johndbritton

Sure, I will give this a shot and see if it works.

[2016-04-18 00:05] ConnorCartwright commented on #448
I've made some good progress on this and have implemented it so that teachers can add multiple email domains (comma separated) encase they have students from different schools attending joint courses.

At the moment when you create a new assignment the default `email_domain` value is the organization level email domain but this can be edited to allow the teacher to specify the email domain(s) at a

[2016-04-19 21:26] #319 closed

[2016-04-20 15:51] sdeibel1 commented on #567
I am a student.

[2016-04-20 16:10] johndbritton commented on #567
@sdeibel1 Please ask your teacher to have all teachers log out of classroom and log back in. This is caused by one of the teachers trying to test out the system as a student. When that happens the application reduces the scopes of the token and makes it impossible for us to create repositories for the students.

See https://github.com/education/classroom/issues/445 for more details / examples.

[2016-04-23 23:46] Omarasifshaikh opened #580 "Cannot Sign in;Students cant accept"
Cannot sign into the website. Was able to get through with an error "you are not authorized". cannot sign in again after that. Students cannot accept the HW that was created during that time. Ive been using this for my class since a few months, so this may be a recent issue.

[2016-04-24 01:55] Omarasifshaikh commented on #580
A temporary bug in chrome was causing hundreds of requests to GitHub, thus maxing out api.github's X-RateLimit. Thus possibly limiting the classroom app from working correctly. Fixed. Closing.

[2016-04-24 01:55] #580 closed

[2016-04-24 01:58] tarebyte commented on #580
@Omarasifshaikh any chance you can link the Chrome issue?

[2016-04-24 02:14] Omarasifshaikh commented on #580
@tarebyte
Turns out, It was my background daemon that was the problem. I am using Travis's Ruby api to automatically query the organization and enable travis on each repository. I have assigned a process using launchd to run that script every 10 mins. It appears to be using up the limit by GitHub. Im am testing it with a 60 minute interval to see if that will fix my issue.

So no bug in Chrome. So

[2016-04-24 14:03] cyhsutw commented on #572
Hi @johndbritton @tarebyte

Thank you so much for considering my proposal and giving me the opportunity to work on GitHub Classroom this summer.

I have some ideas/questions about the items listed above, is there any preferred way for the discussion?

[2016-04-24 15:07] tarebyte commented on #572
I would raise another issue for a discussion thread and reference this issue.

[2016-04-25 02:35] Omarasifshaikh opened #581 "Authentication issues"
I am seeing repeated errors in the site saying: "You are forbidden from performing this action on GitHub".

The students are also not being assigned to their repositories. They receive the error "You are forbidden from performing this action on github.com"

It appears that the repository is being created, the template is being cloned. But the individual student is not being assigned as a contribut

[2016-04-25 02:41] Omarasifshaikh commented on #581
This is what a student is seeing:
<img width="582" alt="screen shot 2016-04-24 at 7 40 29 pm" src="https://cloud.githubusercontent.com/assets/6437181/14772548/8411dabc-0a54-11e6-8d29-fa8feb81d89b.png">

[2016-04-25 03:45] dinever commented on #581
Hi @Omarasifshaikh,

This is a known problem in GitHub Classroom and we are working on a solution.

This problem occurs when teachers try to accept assignments using their own GitHub account. When accepting an invitation, we reduce the permission scope we have for them and they will not be able to create assignments anymore using the reduced permission scope.

To resolve this issue, please log out

[2016-04-25 04:00] Omarasifshaikh commented on #581
@dinever
Thanks for the quick response. I have 55 students int the class, and they don't all accept the assignment at the same time. Thus would not be very practical to manually add them myself here.

Do you recommend me using teachers_pet for now?

https://github.com/education/teachers_pet

[2016-04-25 04:17] cyhsutw commented on #581
Hi @Omarasifshaikh

Is there any other teachers in your organizations?

[2016-04-25 14:47] tarebyte commented on #581
@Omarasifshaikh I looked at your teachers and all of them have the correct token scopes.

I'll investigate this today, sorry for the trouble.

[2016-04-25 16:35] Omarasifshaikh commented on #581
@tarebyte
Thanks for verifying that. Classroom is a great app and I have enjoyed using it this semester. Please let me know If I can contribute in any way to fix the issue.

Thanks!!

[2016-04-26 12:09] johndbritton commented on #581
@Omarasifshaikh It looks like you have multiple admin users on your organization and that you have been using one of them for testing.

Please try the following steps and report back:
1. Have each administrator visit classroom.github.com and log out by clicking the sign out icon in the menu bar
2. Once the admin is logged out, sign in to Classroom again by clicking the sign in button on classroom.

[2016-04-26 12:49] johndbritton commented on #580
Would you mind opening up an issue for a feature request to do this. I think we should make it possible to set up the webhooks for you.

You could also consider setting an organization wide webhook so you don't have to do this for every repo: https://github.com/blog/1933-introducing-organization-webhooks

[2016-04-27 03:10] Omarasifshaikh opened #582 "Setup webhooks for repositories"
I teach a C++ class, code is meant to be auto-graded by Travis CI (GTest). This requires me to manually enable Travis for each repository via their web interface/API ([https://travis-ci.org/](url))

I am suggesting a feature where in classroom set's up web hooks for each repository.

[2016-04-27 03:13] Omarasifshaikh commented on #580
@johndbritton
I have gone ahead and created a new issue. Let me know if something needs to be added in there. Organization web hooks would be a lot more convenient. But I don't think Travis supports organization web hooks just yet...

[2016-04-27 03:19] Omarasifshaikh commented on #581
@johndbritton
I will try to get in touch with my TA and do some more testing later. For now I have used [teachers_pet](https://github.com/education/teachers_pet) to create repositories for all students (I had a list of GitHub usernames). Creation of all the repositories at once also made it easier to enable Travis on all of them in one go.

[2016-04-27 08:52] johndbritton commented on #582
Thanks for opening this @Omarasifshaikh. Using webhooks to auto-grade with an external tool is a use case that we want to support.

A few ideas for how we could do this:

* Add the ability to set organization webhooks
* Add a way to set webhooks on assignments, so that they're automatically configured when the student repository is created
* Add a config file to the starter code that specifies web

[2016-04-27 09:17] cyhsutw commented on #563
Hi @jvilk

Technically, we can completely avoid the problem (by using Webhooks).

We first ensure the source code is successfully imported then add the students as collaborators.
By this, students will not have `write` access to the repo during the import procedure thus they can't abort it.

Students will get email notifications when they are added as collaborators (at the time, the code is alread

[2016-04-27 09:32] johndbritton commented on #563
This is clever. After the student accepts the assignment, I'd like for us to show a progress indicator on the page hosted by classroom and then update that page after the import completes and the student is added as a collaborator.

Right now, these steps are wrapped in a transaction that will delete the repository if there's an error since it all happens synchronously. If we split them up, we'll

[2016-04-27 16:16] jvilk commented on #563
Sounds like it would achieve the desired outcome!

[2016-05-08 19:40] guntbert commented on #420
@johndbritton This had me stumped too for a while. I'd suggest

instead of the current

(btw I only found out just now, that pressing <kbd>-></kbd> opens useful suggestions.)

[2016-05-08 19:48] dato commented on #534
@khatchad You could include two branches in your "base repo": _master_ and _review_.

The copy of the repo that’s made for students includes both branches.

They write their code on master; for the PR you can give them a link like:

[code]

That should do it, I think.

[2016-05-08 20:14] guntbert opened #586 "Documentation: tell teachers/classroom owners to create dummy-accounts"
There have been several issues ( #461 ,...) where teachers tried to see/test an assignment and thereby triggered that bug #445.

I suggest to include something in the guide to tell <strike>them</strike> us
- create some dummy-accounts to play the roles of students
- maybe even suggest a naming-scheme
- best use different browsers when testing assignments (closing the browser may still not be suffi

[2016-05-09 19:07] khatchad commented on #534
Interesting, thanks. I'll give that a shot.

On Sun, May 08, 2016 at 12:48:02PM -0700, Dato Simó wrote:

--
Raffi Khatchadourian, PhD
Assistant Professor and Open Educational Resources (OER) Fellow
Computer Systems Technology
New York City College of Technology
City University of New York
300 Jay St., Room N913
Brooklyn, NY 11201-1909
United States
+1 (718) 260-5325
rkhatchadourian@citytech.cuny.e

[2016-05-09 19:16] dato opened #587 "Copy team access & branch protection from base repo"
Hello!

Not sure if this will be part of #572, but it’d be great if the copied repo that’s given to students would include:
1. write/admin access for teams that have write/admin permissions in the base repo
2. branch protections from the base repo

Use case: if you have an organization where not all TAs are Owners, it'd be nice to give write/admin privileges in the base repo to the TA team... and

[2016-05-10 07:31] cyhsutw commented on #587
@dato thanks for the feedback and very realistic examples!

In my opinions, these features would be really useful for teachers.

@johndbritton should we can link this as one of the subtasks of #572?

[2016-05-10 08:34] cyhsutw commented on #420
@guntbert thanks for the feedback!

The text you suggested looks clearer, @johndbritton @tarebyte @dinever what do you think?

[2016-05-10 11:18] johndbritton commented on #420
:+1: @cyhsutw do you want to send a pull request?

[2016-05-10 11:22] johndbritton commented on #587
Copying these settings from the source repository would make it impossible to create repositories where those permissions are not included.

I understand this use case but I think a better solution would be for Classroom to explicitly manage these kinds of permissions rather than just copying them from the source repo to avoid the problem above.

@dato How important is this feature to you? Can you

[2016-05-10 12:22] pilla opened #588 "Students cannot join assignments"
It is my second assignment for an Operating Systems class and students that were able to enter the first assignment cannot enter the second one.

I first thought it might be that I was reusing the same set of groups of the former assignment and thus created a new assignment without reusing groups. Students still get the "forbidden" message when they try to get their shinny new repository.

They ca

[2016-05-10 13:03] dinever commented on #420
Looks good @cyhsutw. However, I'd suggest that we use *username* instead of *account* in that text:

[2016-05-10 13:08] guntbert commented on #420
@dinever not quite my intention, as the organization's name isn't a *username* per se.

[2016-05-10 14:42] tarebyte commented on #588
@pilla you need to sign back in to https://classroom.github.com

Your token scope needs to be `admin:org, delete_repo, repo, user:email` but it currently is `admin:org, user:email`

Did you try to accept an assignment?

[2016-05-10 15:12] pilla commented on #588
I logged in again and was able to accept. But I am an admin, the problem is that students cannot accept it. Oddly enough, I was able to accept it using another account. I guess it may be an issue with my students' credentials. Will check.

[2016-05-10 15:57] pilla commented on #588
The same student that reported me the problem tried again and it worked. Closing as I cannot reproduce it, but looks like some weird transient fault.

[2016-05-10 15:57] #588 closed

[2016-05-10 16:35] johndbritton commented on #420
To keep consistent with the terminology on GitHub let's use

[2016-05-10 17:10] guntbert commented on #420
@johndbritton remember we are talking about people (like myself) who have not got a feeling for the overall concept and therefore want to follow suggested procedures very carefully. Now I would read

but my login is *guntbert*, whereas the organization that owns that repo is *psysKursRE*. So telling me to use my login will not clarify things for me.
<sub> I admit though that this **is** better tha

[2016-05-11 15:12] johndbritton commented on #420
@guntbert Your organization also has a login, "psysKursRE"

Maybe we're coming at this from the wrong angle. Rather than trying to make help text, how can we make the repository select box more clear?

[2016-05-12 14:37] johndbritton commented on #588
I think this is another case of https://github.com/education/classroom/issues/445

[2016-05-12 15:13] johndbritton commented on #586
Thanks for the suggestion @guntbert. I'm hoping that we'll have a fix for that issue within the next couple of weeks. We really don't want to suggest creating multiple / dummy accounts. I'd rather just get this to work correctly.

[2016-05-12 16:11] guntbert commented on #420
@johndbritton Ah now I see more light :smile_cat:

As is often the case we are using the same words for different things:
- to me a *login* is something that somebody uses (probably along with a password..) to gain access to some ressource.
- You are using *login* as a field name in your database - which is perfectly valid of course but not so obvious.

Making the repository select box more clear

[2016-05-12 16:25] guntbert commented on #586
@johndbritton My approach was primarily born out of the desire to

1. see what exactly my students will see (that need diminishes with growing experience on teaching with github, of course)
2. be able to demo the first steps of creating an account, joining the organization, accpeting assignments,...

I asked for permission before :smile:

Wouldn't it be useful if github created two such accounts?

[2016-05-12 16:56] johndbritton commented on #586
Once this permission issue is resolved, you will be able to do this with your own account.

[2016-05-12 16:57] johndbritton commented on #420
An even simpler thing would be to create a blankslate that opens on focus and tells the user to search for the repository by name.

[2016-05-12 17:19] guntbert commented on #586
:+1:
Please don't forget to write some guide on the appropriate procedure.

BTW: I haven't said my **very big thanks** to the whole team for providing us with such a great tool.
So here comes
I :bow: and :clap: , you are doing tremendously, thank you!!

[2016-05-12 17:21] guntbert commented on #420
Sounds good, only I have no idea what a *blankslate* is :confused:

[2016-05-13 12:55] johndbritton commented on #420
@guntbert Sorry about that. It's just what displays on a screen when there's no data.

What I'm thinking is that we automatically open the pane and display some useful info as soon as you select the field. Then the useful information will be replaced once you begin interacting with the element.

[2016-05-13 16:48] guntbert commented on #420
:+1:

[2016-05-14 04:51] tabinks opened #595 "Allow Multiple Classrooms Per Organization"
Now that GitHub has unlimited repositories for educational organizations (I'm making this assumption since my account was upgraded, although I never saw anything official from GitHub), it would be useful to have multiple classrooms per organization.  You are currently only allowed to have a single classroom per organization.

For example, if I had an organization named "University-CS101", I could

[2016-05-17 11:42] OrthoDex commented on #432
@johndbritton @tarebyte I rewrote the code and opened a new pull request at #596. Sorry for the delay and looking forward to your feedback!

[2016-05-20 07:14] nilmestremas opened #597 "Issue creating a team"
Hello,

Once I've chosen my GitHub team's name from a subject of my university degree, I get an error that says something like "You don't have the permit to acces this repository". What should I do?

Thanks,
Nil

[2016-05-20 10:37] johndbritton commented on #597
@nilmestremas This is a known issue. It looks like the organization owner has tested out the platform and accepted an assignment. Since we require fewer permissions from students his token was downgraded.

To solve the issue, please tell your teacher to log out and log back in to Classroom and to not accept an assignment invitation with an organization owner account.

[2016-05-20 10:37] johndbritton commented on #597
cc/ https://github.com/education/classroom/issues/445

[2016-05-20 10:47] johndbritton commented on #595
I think this is something we want to support eventually. For now, you can create another organization and apply for the education program at https://education.github.com/discount to get free private repositories for your course.

We decided to limit it to one classroom per organization at first because it's easier to move to multiple classrooms per organization than it is to move the other way.

W

[2016-05-24 08:20] drbeco commented on #595
I support this idea. For example, one organization should be enough to put together diverse classrooms from one teacher (I teach 4 courses, -- each semester --).

Also, if we can have multiple owners in one organization, we can set other professors to be part of it. Then we would actually have the hierarchy:

Organization: University Foobar
Team1: Professors
Team2...N: different groups of students

[2016-05-24 08:39] johndbritton commented on #595
I've been thinking about this. What if we changed the mapping in Classroom to just be 1:1 organization with organization and within an organization in Classroom you could group assignments. Each group of assignments would be one course but all the repositories would live in one organization on GitHub.

One thing that complicates multiple classrooms in one organization is teams. You can't have two

[2016-05-24 08:40] johndbritton commented on #595
@tarebyte what do you think about this?

[2016-05-24 08:56] drbeco commented on #595
I think I see your problem with the relational database.

Suppose you set 1:1 classroom:organization. Ok, first of all, classroom will then be a "feature" of an organization. That is ok. Just change the way it is promoted and explained.

Now, if we can "group" assignments, we might have a problem with nomenclature. Maybe, if possible, we should name this groups "classrooms". Although the "Applicat

[2016-05-24 09:02] johndbritton commented on #595
Yeah, I agree with you here. This should be something that we make really simple for the end user.

Organization membership is another thing that will be polluted if we have multiple classrooms in one org. I don't think it's a blocker, but something that we need to think about.

This is something I think we will do, but it's likely to come after more important features like due dates, assignment s

[2016-05-24 14:06] tabinks commented on #595
Here is the flow I would imagine for an example course, CS101, that I teach multiple times per year:
* I have an existing organization named "CS101"
* I create a new "Classroom" in the web application named "Spring-2016"
* Later to create an assignment, I go to the Classroom web app, choose my classroom and create a new assignment named "Assignment1-HelloWorld"
* Students receive an invitation for

[2016-05-24 16:27] johndbritton commented on #595
This is really good feedback. Thanks for sharing.

Classroom works as is so long as you can enforce your rules using convention. For larger courses or with really newbie students it's hard to get them to understand how submission works. Due dates and submissions have been our most requested features.

Adding team management will let teachers self-service and fix cases where students accidentally j

[2016-05-24 19:03] jamedero commented on #582
I am also very interested in this for my C++-based course. Setting webhooks on assignments seems like the most natural way to do it, but I would also be open to the config file solution.

[2016-05-24 19:06] tabinks commented on #595
Another feature that may be useful would be the ability to "archive" a course.  For example, once CS101-Autumn is completed, provide some way to lock the repos and potentially hide them (or provide some other visual cue that the course is over).

[2016-05-25 02:39] cyhsutw opened #599 "[Discussion] Dashboard for Students"
*This thread is for discussing the implementation of "dashboard for students" feature which is part of "visualizeing classroom activity" in #572, any feedback and suggestions are welcome!*

### Description

We're planning to add few more features for students so they can get some information they might need when they visit the Classroom site.

### Dashboard for Students

A dashboard will be built

[2016-05-25 02:42] cyhsutw opened #600 "[Discussion] Explicit Submission & Due Date"
*This thread is for discussing the implementation of "explicit submission" feature mentioned in #572, any feedback and suggestions are welcome!*

### Description

Currently, students can only submit their assignments **implicitly by pushing commits** to the repositories.

We're planning to provide an **explicit submission** feature so students can have information about whether their work has been

[2016-05-25 09:37] johndbritton commented on #599
@cyhsutw One of the guiding philosophies of GitHub Classroom is that it should be as transparent as possible to the student. We don't want to build yet another learning management system that students have to learn. Instead, we want students to get hands on experience with a real tool from industry (GitHub).

I like the spirit of exposing more information to students, but I don't think we should d

[2016-05-25 09:42] cyhsutw commented on #599
@johndbritton Thanks for the feedback!

Sorry I didn't perceive this, maybe I should think about the solutions in #600 again.

Close this for for now.

[2016-05-25 09:42] #599 closed

[2016-05-25 09:43] johndbritton commented on #600
In building explicit submissions, there should be one default "best" way to use the feature but we should also allow flexibility for teachers to choose to use it in the way that best suits their workflow.

My preference is for the submission process to happen in the GitHub interface rather than in Classroom as the idea behind Classroom is to give students hands on experience with the tool that sof

[2016-05-25 09:43] johndbritton commented on #599
No worries at all, that's why we're having these discussions. 😄

[2016-05-25 09:44] johndbritton commented on #595
@tabinks Would you be willing to open another issue for that feature request and provide some ideas / reasoning for it so that it doesn't get lost in the shuffle here?

[2016-05-25 10:58] cyhsutw commented on #600
Thank you for helping me clarify the positioning for Classroom, I will keep this in mind when designing the features.

I've never used the "release" feature on GitHub before, just gave it a try and I think this is quite suitable for assignment submission as it's more visible compared to tags and source archives would be really helpful if they'd like to check the submission is successful or not.

L

[2016-05-25 20:25] drbeco opened #601 "Workflow - What if I delete this team?"
Hello guys,

It is my first time using git classrom, and I'm not certain how the workflow goes.

My steps until now was:

Before EVERYTHING:

1. I've created a "startup repository" to give as assignment start point code (exwumpus)
2. I've created 6 teams and invited the students in each, accordingly to my own division of the class.

Now, with all set, I went to create a new ASSIGNMENT:
1. Set assi

[2016-05-25 21:13] dinever commented on #601
Hi @drbeco,

Looks like the user ![screen shot 2016-05-25 at 4 49 18 pm](https://cloud.githubusercontent.com/assets/1311594/15555858/b18299c6-2298-11e6-9436-7d9c3aea9a2f.png) accepted the group assignment invitation, and chose to create a new team named `02-ClumsyWumpus`. That's why GitHub Classroom created a team named `02-ClumsyWumpus` in your orgnization.

As you can tell from the repo name, `w

[2016-05-25 21:29] drbeco commented on #601
Hello @dinever,

thanks for looking into this .

As I've stated, I created the groups even before I went to classroom.

I created them in the organization, manually, like any organization group.

Then I invited the members myself, also manually.

So, what should I do? Add the members from
wumpus clumsy to
02-wumpus-clumsy
manually (again)?

Also, what about the other groups that still need to crea

[2016-05-25 22:12] dinever commented on #601
Hi @drbeco,

By using Classroom there is no need for the teacher to create groups manually. The correct workflow for group assignments in GitHub Classroom should be like this:

1. The teacher creates a group assignment.
2. The teacher sends out the group assignment invitations to students, for example, by email.
3. Students open the invitation link, sign in with their GitHub accounts.
4. Students

[2016-05-25 22:24] tabinks opened #602 "Archiving a Classroom"
Add functionality to "archive" a Classroom. For example, once CS101-Autumn is completed, provide some way to lock the repos and potentially hide them (or provide some other visual cue that the course is over).

This request may be related to Issue #595 or a potential solution to #595 where an organization can only have a single classroom (the current behavior) but you can archive the previous clas

[2016-05-25 22:31] tabinks commented on #595
@johndbritton I have created a new issue #602.

[2016-05-26 00:35] drbeco opened #603 "Group Assignment - Minimum number of members"
Following the same line as #288 this is also a feature request.

Please, consider to add an optional field in the settings during creation for the minumum number of members per team.

If edited, only in the direction to open the range (that is, allowing a lower minimum).

What this setting would do: groups that are not in the range (minimum-maximum) would be **froze** until they grab the number of

[2016-05-26 00:40] drbeco commented on #448
Just to make a point: some universities doesn't have (give) emails for the students (just for teachers and staff) nor they use student IDs! The student is identified by his/her official ID (government ID, security number or passport).

[2016-05-26 03:26] dinever commented on #448
@drbeco Thanks for the feedback. We're working on a more generic method that fits all of the situations.

[2016-05-26 09:50] johndbritton commented on #448
In the case that they don't have an email identifier or student number, there's no need to use this feature. They can be identified by their GitHub logins as things work currently.

[2016-05-26 09:53] johndbritton commented on #602
Thanks for opening this @tabinks.

@NickTikhonov This is something you might want to consider as you're thinking about how the end of an assignment / course works.

[2016-05-26 16:48] johndbritton commented on #603
The way Classroom works, we create the repository for the group when the first member accepts an assignment invitation. There's no real way for us to enforce that a group have a minimum number of people.

Do you have some example use cases where this feature would be helpful? Are there any other teachers using Classroom that want this?

I think this is relatively low priority for us if we decide t

[2016-05-27 12:59] #445 closed

[2016-05-27 12:59] #461 closed

[2016-05-27 13:00] #464 closed

[2016-05-27 13:00] #497 closed

[2016-05-27 13:00] #557 closed

[2016-05-27 13:01] #560 closed

[2016-05-27 13:01] #567 closed

[2016-05-27 13:01] #581 closed

[2016-05-27 13:01] #586 closed

[2016-05-27 13:01] #597 closed

[2016-05-27 13:04] tarebyte commented on #460
@jermowery we fixed this issue in #604 please let us know if you have anymore problems.

Thanks!

[2016-05-27 13:04] #460 closed

[2016-05-27 16:14] johndbritton commented on #601
@dinever's explanation is correct. The idea behind Classroom is that you don't have to do any administrative work to set up the teams in advance. Classroom does that for you. You just create an assignment and invite your students. When they accept the invitation they can create a team or join an existing team. The naming of teams is up to the students.

This summer we're working on adding some fea

[2016-05-27 16:14] #601 closed

[2016-05-27 17:18] johndbritton commented on #445
:clap::clap::clap:

[2016-05-28 00:34] drbeco commented on #603
Hello @johndbritton ,

I can't tell on behalf of other teachers, and I hope more teachers comment.

An example, in my case, would be the recurring situation we have when we tell the whole class that there is a task to be done in group, lets say, group of 5, and they ask, of course:

- Teacher, can we work in pairs?
- No, group of five please.
- But teacher, what if there is not enough students?
-

[2016-05-28 00:35] drbeco commented on #601
Hi @johndbritton , although I'm very short on time right now, I still want to clarify some aspects. Can I reopen it in a couple of days? Thanks!

[2016-05-28 00:44] johndbritton commented on #603
Yeah, definitely understand the request. I think we'll keep this at low priority for now given the feedback we've received on the app. If other folks think this is important, please speak up.

[2016-05-28 02:18] cyhsutw opened #607 "Javascript events fired multiple times"
Just noticed that some Javascript events fired multiple times when the page first loads.
This might cause some problem like sending multiple requests to the server.

As discussion with @tarebyte, this might be a problem with TurboLinks.

One possible solution is setting `data-turbolinks-eval` to `false` as stated in [TurboLinks Classic - Evaluating script tags](https://github.com/turbolinks/turbol

[2016-05-28 02:24] johndbritton commented on #601
Drop your questions / feedback in here when you have time, no worries.

[2016-05-29 03:46] drbeco opened #612 "csrf_detected -- bug? Got this message."
Hello guys,

Just to help you developing, I'm reporting that today after trying to access the link:

https://classroom.github.com/classrooms

I got this error message:

![image](https://cloud.githubusercontent.com/assets/5805111/15631268/77cbb906-2536-11e6-98a3-416f22ca61f7.png)

After a few attempt, it finally went through.

Cheers

[2016-05-29 04:31] tarebyte commented on #612
@drbeco I changed had to revoke all of the user cookie tokens a few hours ago to force everyone to log back in. That may be this issue.

Thanks for reporting!

[2016-05-29 13:24] #612 closed

[2016-05-30 09:07] cyhsutw opened #613 "Dashboard for Teachers"
Hi everyone,

We're going to build a dashboard of teachers and we're looking for feedback, suggestions and ideas about what items will be shown in the dashboard to help teachers better understand the activities of an assignment.

Here are some basic items that will be included:
- time of the last push
- number of commits per student
- diff statistics (lines added / removed) per student
- build (CI

[2016-05-31 19:15] drbeco opened #615 "Creating teams - interface"
I don't quite understand what should I write here:

![image](https://cloud.githubusercontent.com/assets/5805111/15687387/c9d3f0e0-274a-11e6-94b6-497bbd28cb9c.png)

I've already tried to create teams beforehand, and that proved a waste of time.

Now I'm starting a new assignment. What should I do?

Thank you;

[2016-05-31 19:27] tarebyte commented on #615
@drbeco so the end goal here is that you are creating a name for your group of teams.

For example `Teams for Project 1`.

What would make this more clear?

[2016-06-01 00:31] drbeco commented on #615
Hello @tarebyte ,

Thank you for explaining. Now that I did it the first time, it is a bit more clear.

But I'm taking naively your last question as a true question, not just rhetoric; and as such I'm taking the liberty to answer to the best of my knowledge, ok?

I believe it would be much more clear at once if the form had standardized both questions using the same vocabulary (set/group, choose/r

[2016-06-01 00:34] drbeco commented on #615
( BTW, this form was the first barrier to confuses me regarding #601 )

[2016-06-01 15:54] DarcyCK commented on #448
@samwhitlock - cc @nsqe - was looped in on the pull request associated with this feature. how was student data privacy and any possible requirements to comply with FERPA assessed in relationship to this new feature?

what is the final set of data types being collected against the student and stored in GitHub?

[2016-06-03 18:11] tarebyte commented on #615
Thank you for the feedback, I'm going to list it add it on our list of things to improve.

Thanks @drbeco!

[2016-06-03 18:15] tarebyte opened #616 "Advanced settings UI for Assignments and Group Assignments"
https://github.com/education/classroom/pull/614 and https://github.com/education/classroom/pull/608 both add awesome new settings for teachers to further customize their assignments.

However this seems like a lot of checkboxes, and I would love if there was a way to better handle this in the UI.

@jasonlong is there a normal pattern we use here for stuff like this?
- [x] Organization settings
- [

[2016-06-03 18:43] dinever commented on #616
👍 I was thinking about using a sidebar menu like the GitHub repo settings page:

<img width="1007" alt="screen shot 2016-06-03 at 2 42 14 pm" src="https://cloud.githubusercontent.com/assets/1311594/15789314/746f9db0-2999-11e6-9b28-e7ab09f47480.png">

[2016-06-04 16:38] #607 closed

[2016-06-04 17:10] tarebyte commented on #457
Closing this, due to it being stale.

[2016-06-04 17:10] #457 closed

[2016-06-04 17:10] tarebyte commented on #451
Closing this, due to it being stale.

[2016-06-04 17:10] #451 closed

[2016-06-04 17:11] tarebyte commented on #420
Closing this, due to it being stale.

[2016-06-04 17:11] #420 closed

[2016-06-05 00:48] drbeco commented on #613
I believe a summary in a easy list of students, showing who did more commits, more lines of code, how many issues per student, pushs, wikipages, etc., that would allow me to evaluate a student in a glance.

Now I need to click on graphics, stats, student profiles, find them all by hand, it is really hard.

Thanks for asking the feedback. I hope mine is helpful to you.

[2016-06-05 01:10] cyhsutw commented on #613
Hi @drbeco

Thank you so much for the ideas, great to hear your feedback from the point of view of a teacher.

These metrics are quite interesting, I would love to hear how you utilize metrics like number of issues per student when you grade their work.

What I can think of now is that in a group assignment, teachers might like to know how active are their students in participating discussions wit

[2016-06-05 01:24] drbeco commented on #603
Hey @tarebyte , @tabinks , @cyhsutw , @dinever and @johndbritton , give me some support here! Need you! :smile:

I rather use the only **minimum** than the maximum! Because if I set only the minimum, and I only invite students in a class that obviously have a limited number of sits, I can with only one number set also the approximated number of groups the class would be divided into!

That is real

[2016-06-05 02:17] dinever commented on #603
Hi @drbeco,

This request is pretty reasonable, but there may be a little difficulty in the implementation. There is a solution that I can come up with which may be an implementation of the feature.

Create the assignment repository only if the team reaches the minimum number of students. For example, if the minimum number of student is set to **4**, the repository will not be created for a team u

[2016-06-05 02:55] drbeco commented on #603
Hello @dinever , thanks for commenting.

The bugs you quoted are very interesting. One of them I already read. The others are terrific. I hope `classroom` will keep improving like this.

All of them set, they would definitely make a good _workaround_, but they would not substitute the **minimum** set. With a minimum set, the teacher can let the students self-organizing, and I do my best to keep my

[2016-06-06 13:24] jasonlong commented on #616
The sidenav idea seems :ok_hand: to me.

[2016-06-07 14:45] canance opened #625 "unable to create classroom"
Hi,

I'm trying to create a github classroom.  I've created an organization 'Cory-Nance-Classrooms' and my main account 'canance' is an admin.  When I go to create a classroom though it does not see my organization and claims I need to create one.  I've checked that github classrooms has been granted access to the following:

 Full control of orgs and teams
 Delete repositories
 Full control of pr

[2016-06-07 14:54] tarebyte commented on #625
@canance can you try this link https://github.com/settings/connections/applications/64a051cf1598b9f0658f and see if you have granted Classroom permission to your organization?

Thanks!

[2016-06-07 15:00] canance commented on #625
Hey Mark,

Thanks for the reply.  Yes, it shows 'revoke access' and that Github classroom currently has the following permissions:

 Full control of orgs and teams
 Delete repositories
 Full control of private repositories
 Access user email addresses (read-only)

Best regards,

Cory Nance, MS
Lecturer
Department of Computing Sciences
Coastal Carolina University
P.O. Box 261954
Conway, SC  29528-6

[2016-06-07 15:09] cyhsutw commented on #625
Hi @canance,

Did you see your organization **Cory-Nance-Classrooms** in the Organization Access section?

<hr>

Mine looks like this:

![access](https://cloud.githubusercontent.com/assets/1046917/15862938/ddc54e32-2d03-11e6-996d-1a1425e20ac2.png)

In this picture, permissions for administrate *JAC-Security* and *HopApp* have not been granted for Classroom.

<hr>

Please click the <kbd>Grant Acces

[2016-06-07 15:47] canance commented on #625
I do.  Please see the attached screenshot.

Best regards,

Cory Nance, MS
Lecturer
Department of Computing Sciences
Coastal Carolina University
P.O. Box 261954
Conway, SC  29528-6054
843-349-2646
canance@coastal.edu
www.coastal.edu

________________________________________
From: Cheng-Yu Hsu [notifications@github.com]
Sent: Tuesday, June 07, 2016 11:09 AM
To: education/classroom
Cc: Cory Nance; Me

[2016-06-07 15:55] tarebyte commented on #625
@canance I'll look into this later today, may be a caching thing.

[2016-06-07 16:03] canance commented on #625
Ok sounds good.  Thanks!

Cory Nance, MS
Lecturer
Department of Computing Sciences
Coastal Carolina University
P.O. Box 261954
Conway, SC  29528-6054
843-349-2646
canance@coastal.edu
www.coastal.edu

________________________________________
From: Mark Tareshawty [notifications@github.com]
Sent: Tuesday, June 07, 2016 11:55 AM
To: education/classroom
Cc: Cory Nance; Mention
Subject: Re: [education/

[2016-06-08 14:23] bfritscher commented on #613
Hi,
For my specific needs (web project course) I hacked together a small dashboard using github's api
In addition to the discussed metrics (pushes,...) I also tracked a list of branches and tags.
Having a history of commits with different colors for different contributor helped to assess who was doing what and judging the quality of the commit texts.

I also implemented small assignment specific c

[2016-06-08 22:50] cyhsutw commented on #613
Hi @bfritscher,

Thank you so much for your feedback and example dashboard project you built*!*

I like this idea, we'll try to keep to charts/figures as readable as we can.

We use GitHub as the source of truth in Classroom, so having links to commits / tags on GitHub makes sense and would be helpful.

*By the way, accessing submitted commits is on our roadmap of this summer (#572).*

[2016-06-09 16:43] drbeco opened #628 "Unjoin a team"
A student of mine mistakenly created a new group using a computer logged with a friend's username.

Now how can we undo this mess?

I'm happy to give any information needed.

Thank you.

[2016-06-09 16:49] drbeco commented on #628
I think this refers to issue #292 , right?

[2016-06-09 17:01] drbeco opened #629 "Cache issues? Two users login in with the same computer"
Reporting a possible bug:

During a class a noticed this problem.

* Student A logs in, click the classroom assignment link and join certain team, using a shared computer with a friend.
* Student A logs out
* Student B logs in in the same computer
* Student B clicks on the classroom assignment link and gets a message:

`already joined the team`

[2016-06-09 17:15] tarebyte commented on #628
Yup

@drbeco if you email me the information, I can undo it for you in the mean time.

[2016-06-09 17:58] drbeco commented on #628
Thank you, @tarebyte ! I've sent an email.

[2016-06-09 23:39] drbeco commented on #628
Hello @tarebyte ,

Did you got my email? I'm afraid it went to SPAM or something.

The students are very sad because they are in a deadline and they are losing time.

Thank you and really sorry to bother!

[2016-06-10 16:10] drbeco commented on #628
Hello there guys, @tarebyte ,

I've sent you a new email reporting this bug. In the email I told some students probably are having the issue. It turns out that everyone really is, including me.

The error message is:

![image](https://cloud.githubusercontent.com/assets/5805111/15970767/abe80d2c-2f0c-11e6-949d-2f1e4fb0aebb.png)

I don't think this is for classroom in general because we had a manual

[2016-06-10 16:30] tarebyte commented on #628
Yup it was for the manual intervention, taking a look now

[2016-06-10 16:33] tarebyte commented on #628
@drbeco I deleted the Group but for got to delete the assignment that with it.

It works now

[2016-06-10 16:36] tarebyte commented on #628
Sorry again for the trouble

[2016-06-10 16:36] #628 closed

[2016-06-11 04:38] drbeco commented on #603
Hi guys, this is an example that shows the need for a minimum

If I only have a **minimum**, I would set the range for 2-3 for this exercise. But then, because I would like to use classroom, I let them choose and pick the way they want.

Look...

![image](https://cloud.githubusercontent.com/assets/5805111/15983167/0b9bbdfa-2f75-11e6-84f8-43dcd4db912a.png)

[2016-06-11 04:51] drbeco opened #630 "Repositories' names with a common pattern"
Hi guys, this is a feature request.

I always tell my students to follow some standard names so I can keep track of what is what.

But that is always prone to error (take off the human factor whenever you can)

So it would be nice if the name was automatically generated.

I have a few ideas:

* The simplest: just a number. It would be like: `assignment-title-XXX`. The order would be the creation o

[2016-06-11 04:57] drbeco commented on #630
Bellow some real examples I currently use, but that I needed to emphasize very much in class to the students, so they would not forget to follow (that is very tiresome).

![image](https://cloud.githubusercontent.com/assets/5805111/15983238/3520aa80-2f77-11e6-813d-7ec423f5f047.png)

![image](https://cloud.githubusercontent.com/assets/5805111/15983240/3a5653a6-2f77-11e6-913f-460a2881e5d1.png)

![ima

[2016-06-12 03:35] ryanburns31892 opened #632 "Unable to add new classroom to org"
![screen shot 2016-06-11 at 20 27 38](https://cloud.githubusercontent.com/assets/13726773/15988835/e76055aa-3013-11e6-8d64-0271686b3d5d.png)

Getting this message when trying to add a new classroom to this organization. This doesn't make sense,right?

[2016-06-12 11:23] diraulo commented on #632
@ryanburns31892 I was trying to do the same thing, but it seems this feature is not supported. See https://github.com/education/classroom/issues/595

[2016-06-12 13:31] tarebyte commented on #632
@diraulo is correct, as of right now there is a 1:1 relationship between a Classroom and an Organization.

Sorry for the inconvenience, if you need another org for a class please feel free to create another one and request what you need at education.github.com.

[2016-06-13 07:32] whatwho opened #637 "Something when wrong when accepting an invitation"
Hey guys,

today morning we get an error 500 when trying to open a specific assignment's page, or accept an invitation to it. Could you please take a look on the following assignment?

https://classroom.github.com/classrooms/19305404-codecool_bp_2016_1

Thanks,
Miki

[2016-06-13 13:02] ohcibi commented on #637
Hi. We have the same issue with our assignments. Its not even possible to create new assignemnts

[2016-06-13 13:46] tarebyte commented on #637
@whatwho @ohcibi my apologies it looks like my last PR broke this, even though I thought I tested it out 😢 .

Can you try it again and see if it works now?

[2016-06-13 15:45] whatwho commented on #637
hey @tarebyte, it seems to be working now! thanks for your help!

[2016-06-13 15:56] tarebyte commented on #637
Not a problem sorry again for the trouble!

[2016-06-13 15:56] #637 closed

[2016-06-15 02:03] tarebyte commented on #629
It could possibly be, I'll look into it.

Thanks @drbeco!

[2016-06-15 02:12] tarebyte commented on #615
Closed by #617

[2016-06-15 02:12] #615 closed

[2016-06-15 02:24] dinever commented on #629
Hi @drbeco,

Could it be that student A logs out only GitHub Classroom and forgot to log out GitHub, then student B visited the invitation page and was actually signed in with the account of student A?

[2016-06-15 11:32] drbeco commented on #629
Hi @dinever , I can check if that is the case.

Talk to you soon.

--
To be edited.

[2016-06-16 18:39] ptrobson opened #646 "Not recognising I have setup organisation"
Hi,

I am a secondary school teacher. I have setup on github the organisation
Cramlingtonlearningvillage. All done. Went onto classroom to have a play and it won't let me setup a classroom as keeps saying no organisation. We want to use this in school so having a play about to see if can have an organisation then a class. Then a set of tasks for them to do so it will self mark and tell us if they

[2016-06-16 18:42] tarebyte commented on #646
@ptrobson can you try this link here https://github.com/settings/connections/applications/64a051cf1598b9f0658f to make sure you have your organization authorized to use GitHub Classroom.

Thanks!

[2016-06-17 13:01] tarebyte opened #647 "Test issue created from Airbrake"
Test issue created from Airbrake

[2016-06-17 13:01] #647 closed

[2016-06-18 22:30] dinever opened #650 "Navigation UI for classrooms"
Hi guys,

To create a team management interface (#292), we need to introduce several new pages in the classroom, including a page for team management and a page for student management, etc.

So it is important to build an easy-to-use navigation UI for teachers to navigate through different pages.

Currently, I can come up with two options and would love to receive your feedback.

**Option 1: Tabna

[2016-06-20 21:00] johndbritton opened #654 "Error on group assignment invitation"
When accessing a group assignment invitation url, Classroom returns 500 with the following error:

[code]

cc/ @halfaro1 @tarebyte

[2016-06-20 22:25] #654 closed

[2016-06-21 08:17] n2o opened #657 "Wrong team members after changing a username"
Hello,
we configured GitHub Classroom to create teams with maximum of 5 members. Then 4 students joined a team and one of them changed his name from, for example, "foobar100" to "foobar". Now, switching the username is correctly handled inside the created repository itself (e.g. https://github.com/orgs/my-organization/teams/lieblingsprojekt), but not inside GitHub Classroom. Here are the original

[2016-06-21 11:50] tarebyte commented on #657
@n2o did the student just change their login, or did they create a new account?

We don't perform any action against their GitHub login specifically for reasons like the one you mentioned above.

[2016-06-21 11:55] n2o commented on #657
He told me that he changed his username, but as I can find both of these usernames on GitHub, he might have not tell the truth...

[2016-06-21 12:04] tarebyte commented on #657
@n2o looking at the pictures above, and looking at our production data, it looks like:

- The student removed themselves from the GitHub team on github.com
- Then added their new account to the group

Since GitHub currently doesn't have a way for us to see when a team member has left the team, we're kind of put in a pickle.

If you email me personally, I can fix the bad data in production for you.

[2016-06-21 12:06] tarebyte commented on #646
📟 @ptrobson did this work for you?

[2016-06-21 12:06] tarebyte commented on #548
Since this is stale, I'm closing it. Thanks @sahilshekhawat!

[2016-06-21 12:06] #548 closed

[2016-06-21 12:07] #629 closed

[2016-06-21 12:09] n2o commented on #657
I thought this might be a general problem and expected Classroom to create a free space in the team, since one team member left, but is still listed. Thanks for your help, I'll email you more details.

[2016-06-21 12:11] tarebyte commented on #657
@n2o since we don't have a way for GitHub to notify us when a team change was made on GitHub, we are working on #652 so that teachers can manually remove students from groups.

[2016-06-21 12:11] #657 closed

[2016-06-21 13:27] ptrobson commented on #646
Yes sorted.

[2016-06-21 13:27] #646 closed

[2016-06-21 13:32] sahilshekhawat commented on #548
I can work on this, if you can help me out regarding the roadmap and how
you envision it. Since, I was not able to understand that correctly.

On Tue, Jun 21, 2016 at 5:37 PM Mark Tareshawty <notifications@github.com>
wrote:

--
Sahil Shekhawat
https://sahilshekhawat.github.io
@sahil_shekhawat - https://twitter.com/sahil_shekhawat

[2016-07-01 02:43] drbeco opened #661 "what when the student finish?"
Hello guys,

I just watched my students presentation, and after that I deleted the repositories and teams.

![image](https://cloud.githubusercontent.com/assets/5805111/16510400/06689e1e-3f1c-11e6-822a-04740c688909.png)

But I wonder, (again the workflow is not clear to me), do they have any option to finish the assignment?

Also, I deleted all but one. They didn't get the necessary score (just 3 o

[2016-07-01 13:59] fabriciojr commented on #308
@johndbritton @tarebyte Can I jump straight into this task?

[2016-07-03 16:21] tarebyte commented on #308
Feel free to @fabriciojr!

Just a few pieces of advice, that help us all better work together.

- Make a new issue with your game plan so we can discuss it (you can reference this issue).
- Open small atomic PRs instead of one large PR. This makes it easier for use to review your code and to make sure we can keep track of everything going on.

Looking forward to your contributions!

[2016-07-03 16:54] tarebyte commented on #661
I'm not entirely sure I understand your question here. If you both deleted the teams and the repositories what is it you expect the students to do here?

I think what you're looking for is granular team and assignment management. Am I wrong in this assumption? Right now all you can do through Classroom is delete the Assignment, and it will delete the repos for everyone.

[2016-07-03 17:12] drbeco commented on #661
Hi @tarebyte , thanks for your answer.

In this specific case I'm not expecting any more actions (future).

I was hypothesizing what if I didn't delete the repos (past).

When the assignment is over, is there something the student would do to point that out to the teacher?

Thank you!

[2016-07-03 17:56] fabriciojr opened #662 "Internationalization roadmap"
As discussed in #308, this issue provides a roadmap to the project internationalization at all. Before add any new language inside classroom, the strings will be fully replaced by I18n keys. Each of the following changes needs to generate one pull request, this atomicity will make easier the code review, testing, tracking and collaboration on it.
### Milestone 1: String to key replacing at views

[2016-07-03 17:58] fabriciojr commented on #662
@tarebyte I made a draft about the internationalization roadmap. I'm still concerned of any text generated by a external library that could be prompted at the screen. Could you take a look on it?

[2016-07-03 23:00] tarebyte commented on #661
@drbeco @cyhsutw is working on something that would do just that. See https://github.com/education/classroom/pull/626

[2016-07-03 23:03] tarebyte commented on #662
@fabriciojr I think the best course of action here would be to crowd source the translations and avoid using a gem.

I think this guide http://guides.rubyonrails.org/i18n.html should give us a good starting place.

[2016-07-03 23:11] fabriciojr commented on #662
@tarebyte I think you misunderstood it, I wasn't thinking about using a gem, there's no good reason for it. My concern was about any text coming from external gems or JS libraries. Did you get it?

[2016-07-03 23:13] drbeco commented on #661
I'll, tx for pointing out the link. Closing here. Bye

[2016-07-03 23:13] #661 closed

[2016-07-03 23:15] tarebyte commented on #662
@fabriciojr oh I understand what you're saying. There is only once place where external next would come from and that is the repository auto completer.

For the most part we wrap the errors ourselves from the GitHub API.

[2016-07-03 23:23] fabriciojr commented on #662
@tarebyte Thanks for the two cents. I'll keep working on it. Can you assign it to me?

[2016-07-03 23:29] tarebyte commented on #662
@fabriciojr unfortunately I can't because you aren't apart of the Education organization nor are you an outside collaborator. Sorry about that.

[2016-07-04 00:03] fabriciojr commented on #662
@tarebyte No problem, I'm going to start coding here. 😄

[2016-07-05 14:12] akagr opened #664 "Cannot retrieve this organizations repo plan, please reauthenticate your token."
Hey!

Our students are getting the above error when they are trying to join our classroom using invitation link. Previous mentions of this error in closed issues told us to ask them to sign out and sign in after clicking on the link. That didn't help.

What's interesting is that I'm admin of this organisation and I get the same error when I'm trying to create a new assignment. The Github settings

[2016-07-05 14:15] akagr commented on #664
@tarebyte that's right

[2016-07-05 15:10] akagr commented on #664
@tarebyte If it helps, I reviewed the organisation's audit log. Looks like there's a repo add action (for the student signing up) followed immediately by a repo delete action. Don't know where that's coming from.

[2016-07-06 12:43] jayvdb opened #665 "Github Pages assignments"
One assignment type I would like to use is a "Set up a real github pages website" , and "Add github pages post", which obviously needs to be named "<username>.github.io" , and needs to be public.

This would be used to require regular devlogging of the students work.

While this doesnt need to be done within Classroom, it would help keep the tracking of student assignments in one place.

[2016-07-06 13:30] cyhsutw commented on #665
Hi John,

I'm not sure if this fulfills your teaching goal, but GitHub has pages for individual repositories.
Students can put contents under the `gh-pages` branch and they can access the website at `org_name.github.io/repo_name`.

For example, [Octokit.rb](https://github.com/octokit/octokit.rb) has its code for website under [`gh-pages` branch](https://github.com/octokit/octokit.rb/tree/gh-pages)

[2016-07-06 13:56] jayvdb commented on #665
Yea, a repo Github Pages would work for the first 'setup' assignment, but can they resubmit the same repo for additional assignments requiring additional posts?

It would still be preferred for it to be their main username based Github Pages, as the intention is to help these high school students to develop their online OSS profile with guidance on doing it safely.

[2016-07-11 06:41] cyhsutw opened #667 "Assignment Submission Flow"
Hi everyone,

We're going to add a feature that students can choose a specific version of their works to submit for grading (a part of #572).

_This is a potential implementation, would love to hear your feedback/suggestions on this!_ 😄
### Usage flows
- For **students**, the submission is really simple: create a _Release_ on GitHub.com for the version she/he would like the teacher to grade.
- For

[2016-07-11 06:51] cyhsutw commented on #600
Close in favor of #667.

[2016-07-11 06:51] #600 closed

[2016-07-22 08:22] jayvdb commented on #471
This is related to #563 ; it is easily reproduced.
It would be nice if the repository can be manually created, and the invitation link works again.

[2016-07-22 08:35] jayvdb opened #673 "Default branch not default in student fork"
I have a private template repository with two branches `develop` and `instruksi` , and the latter set as the default branch.

When the repository is created for the students, the default branch is `develop`.

[2016-07-22 19:57] maggie1000 opened #674 "## Migrate Heroku applications to Heroku Enterprise account - 2016-07-22"
Over in [internal systems cleanup](https://github.com/github/business-systems/issues/35), we’re working to move all Heroku apps to Heroku Enterprise. You can read about the latest efforts over on [Team](https://team.githubapp.com/posts/28665). Now it’s this app’s turn to move to Heroku Enterprise! :tada:

We’re requiring every application being migrated needs at least one “App Admin” who will be r

[2016-07-31 17:45] ataiya opened #675 "Integration of Classroom Wiki + MathJax"
Hello everybody, I am wondering whether this is something that "traditional" github cannot do because it has to deal with others constraints, but that could easily be a modded module of github classroom.

Take a look at [this page](https://github.com/ataiya/dgp/wiki/hw1_reconstr), all these equations should be typeset. I am a professor teaching math & computer science, not being able to eleganty w

[2016-07-31 17:59] jayvdb commented on #675
Ya, a workaround for this world be very helpful. https://github.com/github/markup/issues/897

I am using https://github.com/imsky/PocketEuler (actually an Indonesian translation of it) but we need to build a custom version of it because of this problem.

[2016-07-31 18:05] ataiya commented on #675
How are you using PocketEuler exactly?

My "hot-fix" is to pipe raw markdown from github wiki into PHP where I re-assemble a CSS page myself. Basically my web server acts as a latex translator by adding MathJax.

This is an example of markdown rendering within a generic page:
http://gfx.uvic.ca/teaching/index.md

[2016-07-31 18:08] jayvdb commented on #675
Converting it to HTML and serving it via github.io
http://wikimedia-id.github.io/projecteuler/

[2016-07-31 18:10] ataiya commented on #675
Right, so basically what I am also doing, but you live within the github webpage system

[2016-08-02 03:15] elites-minami opened #677 "Can not access to assignments page."
We are going to use the "classroom for GitHub" (https://classroom.github.com/classrooms)  in order to manage all students up to 500 people and their assignments.
After creation of classroom(New Classroom), I could not access to classroom page like "https://classroom.github.com/classrooms/xxxxxxxx-github-classroom"  with error message "We're sorry, but something went wrong. If you are the applicati

[2016-08-02 03:24] tarebyte commented on #677
@elites-minami apologies for the issue, I'll look into this tomorrow.

[2016-08-02 03:30] tarebyte commented on #677
@elites-minami looking at your assignments. There is one that includes all non english characters and unfortunately there is a known bug around this.

https://github.com/education/classroom/issues/266

[2016-08-02 03:36] elites-minami commented on #677
Oops, we have two assignments.
One is, as you mentioned , including non english characters in the Title of assignment, however, another is not including non english characters. And both of them are not working right now...

[2016-08-02 03:56] elites-minami commented on #677
I change my settings of Title from "non english characters" to "only english characters".
But there is no changes when I accessed my assignment page like "https://classroom.github.com/classrooms/XXXXX-my-first-github-classroom-experience".
Hmm, Ruby and RoR usually accept non english character by its nature, because Ruby is born in Japan, non english character environment :-P. What is the cause of

[2016-08-03 17:47] dinever commented on #650
Close this for now.

[2016-08-03 17:47] #650 closed

[2016-08-04 19:00] tarebyte commented on #677
@elites-minami the Classroom app can accept non english characters. The problem is the GitHub API.

When creating a repo we currently don't accept characters that aren't part of the english keyboard.

So under the hood what we do is take the assignment name you give us and call [`name.parameterize`](https://github.com/education/classroom/blob/master/app/models/concerns/sluggable.rb#L12).

This is

[2016-08-04 20:53] #499 closed

[2016-08-05 14:15] kytrinyx opened #682 "Develop a directory of available classroom assignments"
As people develop repositories to use as Classroom assignments, it would be very useful to provide a browsable directory of exercises that teachers can select from.

**Background**

@johndbritton and I recently discussed how we might turn the exercises from Exercism into assignments for GitHub Classroom. I created a prototype, turning the Exercism Ruby track into a set of exercises that currently

[2016-08-11 21:34] hubot opened #684 "Upgrade Rails due to XSS vulnerability in Action View (CVE-2016-6316)"
Heaven detected that rails is not < 3.0.0, >= 5.0.0.1, ~> 3.2.22.3, ~> 3.2.23, ~> 3.3, ~> 4.2.7.1, ~> 4.2.8, ~> 4.3

  Your Gemfile.lock on the master branch currently is 4.2.6.

  Can you folks fix this up? :revolving_hearts:

  /cc https://github.com/github/security/issues/1875

[2016-08-11 21:34] hubot opened #685 "Upgrade Rails due to unsafe query generation in Active Record (CVE-2016-6317)"
Heaven detected that rails is not < 4.2.0, >= 4.2.7.1

  Your Gemfile.lock on the master branch currently is 4.2.6.

  Can you folks fix this up? :revolving_hearts:

  /cc https://github.com/github/security/issues/1875

[2016-08-11 22:23] #684 closed

[2016-08-11 22:23] #685 closed

[2016-08-11 23:09] hollenberry opened #688 "Adding Other Administrators - 404"
Hey @tarebyte !

For every organization affiliated with GitHub Classroom, I reach a 404 after following the link in option 1 of "Add New Collaborators", found here:

<img width="1920" alt="screen shot 2016-08-11 at 4 06 46 pm" src="https://cloud.githubusercontent.com/assets/13326548/17607886/a316aae4-5fdd-11e6-8419-e56b4c355942.png">

It takes us to here:

<img width="1920" alt="screen shot 2016-0

[2016-08-12 01:07] tarebyte commented on #688
This is broken due to the fact that we changed the url scheme on dotcom for inviting users to organizations.

![screen shot 2016-08-11 at 20 53 01](https://cloud.githubusercontent.com/assets/564113/17609953/843727c8-6007-11e6-8681-6b53e63411fb.png)

If / when the API comes out for this, we'll look at this again. For the mean time I'll patch it.

[2016-08-12 01:26] #688 closed

[2016-08-12 14:06] sanicki opened #693 "Add Link to Apply for Discount on Assignment Settings Page"
On the Assignment Settings page under the **Private** option there should be a link to https://education.github.com/discount_requests/new

![screenshot_20160812-001600-01](https://cloud.githubusercontent.com/assets/6764844/17624706/a48f6adc-605a-11e6-986d-48968ef09232.jpeg)

[2016-08-13 20:03] peggyfox commented on #664
Hi, has there been any resolution to this issue? I am receiving the "Cannot retrieve this organizations repo plan, please reauthenticate your token." error message when trying to accept an assignment. I also tried logging out and back in. Thanks for your help @tarebyte !

[2016-08-14 20:35] #471 closed

[2016-08-16 15:18] battis opened #696 "Delete assignment button unresponsive"
I was experimenting with GitHub Classroom and wanted to delete a test assignment. When I tried, the **Delete this assignment** button was unresponsive (expected, based on a scan of the source, a modal dialog confirming the deletion).

[![Screencast](https://img.youtube.com/vi/N_oZwD_1Vwk/0.jpg)](https://www.youtube.com/watch?v=N_oZwD_1Vwk)

Referring to the Chrome Javascript console, I notice that

[2016-08-16 15:19] tarebyte commented on #696
Thanks for reporting @battis!

We'll take a look at this and get back to you.

[2016-08-16 16:08] RaminFP opened #697 ":session not kill on /auth/failure action and bypass authentication"
Hi,

1- i have valid request with "state" parameter on github and callback to https://classroom.github.com

## Response Callback Details
[code]
you see HTTP/1.1 302 Found Status Code and redirect to
`https://classroom.github.com/classrooms `

2- Now without  "state" parameter or empty "state"  on github

[code]
but now you see HTTP/1.1 302 Found Status Code and redirect to
`/auth/failure?message=c

[2016-08-16 16:17] zachfeldman commented on #595
This is a SUPER important feature for many schools to be able to use this platform at all. When we saw what was going on with this feature from GitHub here @nycda we were so excited! But once we realized we wouldn't be able to break up our various classes under our one organization, we were sad that we wouldn't be able to use . We'll see if we can divert the resources to hack something up but as a

[2016-08-16 22:20] johndbritton commented on #697
Thanks for reporting this @RaminFP.

I've taken a look, and this is expected behavior. In the case that you're showing, you already have a valid session when you remove the state. We detect the issue and show the alert, but your account is still logged in.

If you clear your cookies / log out and then try modifying the state again, you will find that you remain logged out.

We'd also request that

[2016-08-16 22:20] #697 closed

[2016-08-16 22:29] djholt commented on #286
I'd like to raise attention to this issue again. I received communication by GitHub Education today promoting this tool. And it looks amazing! But, I must agree with the other commenters: without the ability to clone (or at least download) repositories for an assignment, then this tool is sadly rendered unusable (for me, at least, and I'd assume for many others). I'm ready to use this tool in my c

[2016-08-16 22:35] eduvik opened #698 "Can't remove classroom and start over"
I tried creating a classroom as a test, but it defaulted to using an organisation that I don't want to have access to classroom. I tried to de-authorise this org but was unable to do so. So I de-authorised classroom entirely from my account, but now if I go to classroom.github.com I get a server error:
We're sorry, but something went wrong.
If you are the application owner check the logs for more

[2016-08-16 22:53] johndbritton opened #700 "Java required for Elasticsearch"
Just set this up on a fresh machine and was faced with an error that Java was not installed. I think we need to add `cask 'java'` to Brewfile.

[2016-08-16 23:28] tarebyte commented on #696
@battis I think I've fixed this in #701. Mind trying this out again?

[2016-08-16 23:31] tarebyte commented on #698
@eduvik would you mind clearing your cookies for classroom and try logging in again.

Thanks!

[2016-08-16 23:34] RaminFP commented on #697
Hi,
@johndbritton  Thanks,

` but your account is still logged in.` first i login with valid state , but for test without state i remove github classroom https://github.com/settings/applications with revoke and tested without state parameter

but i remove state you should not create session,but you have create session with invalid state this means state not work and you should display error to use

[2016-08-16 23:41] #700 closed

[2016-08-17 00:13] RaminFP commented on #697
Hi @johndbritton ,

route.rb:
https://github.com/education/classroom/blob/master/config/routes.rb#L10
here you set route when user logout for clear session
session_controller action "destroy" :
https://github.com/education/classroom/blob/master/app/controllers/sessions_controller.rb#L30&L33

for action "failure" you show display error but there is session on browser if happen fail request with cha

[2016-08-17 00:31] battis commented on #696
@tarebyte Totally works now! Thank you!

[2016-08-17 01:32] #696 closed

[2016-08-17 14:21] Em-AK commented on #665
Assignment titles must be unique and the name of the student repo for an assignment is directly derived from the assignment title. So I guess currently a student can not use the same repo for two different assignments.

I think the submission process described in #667 is going in this direction with the use of a *Release* for the student to explicit what version should be reviewed. But I see no ob

[2016-08-17 17:34] umasshokie commented on #286
I wrote shell scripts to do all of this for me last semester and it worked fine. I can share these scripts if they are useful, they are super simple and just require a unix shell (cygwin on Windows, or Terminal on Mac).

I do like that they can make their own repos through this tool, that does save me time and helps me see when they start a project. I still use teacher's pet when I need to control

[2016-08-17 19:07] umasshokie commented on #286
@djholt I've put my scripts on GitHub. They are very simple, I just slightly spruced them up from what I use myself for interacting with GitHub Classroom, and I'm sure there are others who have developed something more advanced. Feel free to use or modify to get yourself up and running with GitHub Classroom faster.

[My GitHub Classroom Scripts](https://github.com/umasshokie/classroom_scripts)

[2016-08-17 19:12] tarebyte commented on #286
@umasshokie for context @djholt also asked the question on our new community forum https://education.github.community/t/github-classroom-clone-assignments/784/3.

We're working on a tool called [GitHub Classroom Desktop](https://github.com/education/classroom-desktop) which should help with the huge issue of getting your assignments. Feedback welcome!

[2016-08-17 20:14] waleedahmed3045 opened #706 "No Organizations Under My Account"
Hi I am trying to create a class room but it says I don't have any Organization under my Account. But I actually do

[2016-08-17 20:33] tarebyte commented on #706
@waleedahmed3045 apologies if you're already tried this. Would you mind going [here](https://github.com/settings/connections/applications/64a051cf1598b9f0658f) and seeing if you've granted us access to any organizations?

Thanks!

[2016-08-18 08:48] johndbritton opened #710 "Flash error not displayed on logged out home page leads to message on login"
Following up on https://github.com/education/classroom/issues/697, @ptoomey3 suggests that we either display flash messages on the logged out home page or clear the flash.

In the case of an error that can't be displayed there, it's carried forward to the next request after login which is incorrect behavior.

[2016-08-18 13:30] waleedahmed3045 commented on #706
Thank you!!

[2016-08-18 13:30] #706 closed

[2016-08-18 13:45] johndbritton commented on #698
@eduvik Once you've cleared your cookies, you should be prompted to re-authorize. If you don't want to give Classroom access to all of your orgs, make sure that you have enabled third party access restrictions for your organization.

You can read more in this thread: https://education.github.community/t/github-oauth-permissions/1047

[2016-08-18 13:46] johndbritton commented on #698
Closing this issue as it's not actionable for us, but feel free to reopen if your problem isn't resolved.

[2016-08-18 13:46] #698 closed

[2016-08-18 18:04] mostafafp commented on #697
@RaminFP

[2016-08-19 03:46] djholt commented on #286
Thank you @umasshokie and @tarebyte. I replied to the thread on the community forum, but I'll reply here as well. I also resorted to creating a simple script to accomplish what I need. Using the GitHub API, it ultimately wasn't too complicated. I also look forward to the new desktop tool, for those faculty members who are willing to step away from the terminal. :)

Here is the tool I created, for

[2016-08-19 15:00] johndbritton opened #713 "Include tutorial video on logged out homepage"
[![screen shot 2016-08-19 at 5 00 06 pm](https://cloud.githubusercontent.com/assets/123345/17814095/67d9090c-662e-11e6-810e-2874275dd9ef.png)](https://www.youtube.com/watch?v=ChA_zph7aao)

https://www.youtube.com/watch?v=ChA_zph7aao

[2016-08-19 15:46] RaminFP opened #714 "Problem in message parameter auth/failure for show every message (content spoof bug)"
Hi,

[your code](https://github.com/education/classroom/blob/master/app/controllers/sessions_controller.rb#L35&L38)

secure code :
[code]
[link GET request](https://classroom.github.com/auth/failure?message=Hello Ramin! Are you ok?&strategy=github)

![github](https://cloud.githubusercontent.com/assets/10054759/17815489/c59bab60-6649-11e6-9c7a-aac2304d1bc1.PNG)

[2016-08-19 16:27] #714 closed

[2016-08-19 16:32] tarebyte commented on #710
Closed with #715

[2016-08-19 16:32] #710 closed

[2016-08-19 16:40] jrcpulliam commented on #503
I had this problem, too. I solved it by changing the long-form name of the organization to be less descriptive, as suggested above, but I noticed that the next screen automatically took the name of the organization as the suggested name of the classroom, and I wonder if this is the reason for limiting to 60 characters. If so, maybe it would be simple to use the short-form name of the organization

[2016-08-21 22:33] dinever commented on #713
Hey @johndbritton, I have two potential options for this one.

One option is that we place the video on the left side of the home page, like this:

![screen shot 2016-08-21 at 5 40 41 pm](https://cloud.githubusercontent.com/assets/1311594/17840187/1d265c34-67cd-11e6-8ae2-37e5a30f5e1f.png)

However, the thumbnail looks pretty weird with the same color background.

Another option is that we place a

[2016-08-22 13:18] jasonlong commented on #713
Definitely agree that the green thumbnail doesn't work well with the green header. I also fear that the play icon sitting by itself in the second option could easily be overlooked as a call to action.

Taking that idea though, maybe something along these lines?

![video](https://cloud.githubusercontent.com/assets/6104/17855995/69782438-6849-11e6-9c3f-630c175be2c8.png)

[2016-08-22 13:19] johndbritton commented on #713
I like the lightbox treatment in the second option, but not really a fan of the play icon.

What do you think about just having two buttons:

<kbd>📺 Watch video</kbd> <kbd>:octocat: Sign in </kbd>

[2016-08-22 18:50] robustUTEP opened #719 "Can't create a 2nd classroom."
I teach two courses, so I'd like to setup two  classrooms.

I created a organization and a classroom within it: 2016-fall-arch1@utep-cs-classes.

I want to create a second.  however, the web interface to "create a new classroom" won't let me select utep-cs-classes.  The error is "Another owner has already added this organization to GitHub classroom.

[2016-08-22 19:29] tarebyte commented on #719
@robustUTEP currently you can only make one classroom per GitHub organization.

However we're currently working on changing that so you can have multiple classrooms per org (see #595 for the original request).

[2016-08-22 19:32] #719 closed

[2016-08-24 23:24] johndbritton opened #721 "Integrate with Google Classroom / LTI"
Google Classroom has an [API](https://developers.google.com/classroom/) and could be a good option for us to integrate with for gradebooks and other course administrative things that are not specific to GitHub.

Specifically, they recently added the [Coursework API](https://developers.google.com/classroom/guides/manage-coursework) which could be used to integrate GitHub Classroom assignments with

[2016-08-28 16:12] devinberg opened #722 "Not recognizing my organization."
In attempting to create a classroom, it says I don't have any organizations on my account and that I need to create one and come back. I do have an organization created for this purpose.

[2016-08-28 16:14] devinberg commented on #722
Nevermind. Was a permissions issue that wasn't clearly communicated.

[2016-08-28 16:14] #722 closed

[2016-08-29 09:05] SkyZH opened #723 "Cannot create an assignment with Unicode characters in title"
After click on create assignment, I cannot even access my classroom page https://classroom.github.com/classrooms/20321486-zodiac-robotics/

[2016-08-29 21:53] hollenberry opened #724 "Authentication Issues"
Hey team! I know that we've documented this somewhere, but I can't seem to find it (if we locate it, feel free to close this out).

It appears that there's an authentication bug that's affecting several of our users, in both
On-Demand and our New Hire Trainings.

After following the link to a GitHub classroom for the first time, there's potential for this screen to pop up:
<img width="743" alt="sc

[2016-08-30 16:05] hollenberry commented on #724
Alternatively, you don't need to log-in to any GitHub account. You'll be routed to the same error page, just by navigating to the link, above: https://classroom.github.com/group-assignment-invitations/5fb54829a139ec1362f058626a559f7c

That link is also the url that remains on reaching the error.

[2016-08-30 16:06] brianamarie commented on #724
## More information

#### Linking relevant context/conversations:

- [#support-technical](https://github.slack.com/archives/support-technical/p1472567536000282)
- [#education](https://github.slack.com/archives/education/p1472572254000480)
- [Daily notes](https://github.com/github/services/issues/2412)
- [Gitter conversations](https://gitter.im/githubschool/on-demand?at=57c3804d42e38279218144bb)

#

[2016-08-30 16:08] brianamarie commented on #724
cc @crichID @matthewmccullough @jordanmccullough @beardofedu for awareness of continued troubleshooting github classroom authentication inconsistencies

[2016-08-30 16:12] hollenberry commented on #724
After testing with @brianamarie, the above theory is incorrect. This is reproducible even after following the Auth screen.

[2016-08-30 16:20] brianamarie commented on #724
I'm not _sure_ if this is what you're talking about...but I tried a few things:

## Going back to the URL (https://classroom.github.com/group-assignment-invitations/5fb54829a139ec1362f058626a559f7c)

- This causes the exact same error page to come as before

### In the **same tab**, hitting the back button to click the 'authorize application' button **again**

- Same page at first

![authorizeappa

[2016-08-30 18:17] #724 closed

[2016-08-30 18:31] hollenberry commented on #724
For reference: Issue was caused by large class size (data from tons of accounts pulled, causing timeout). Mark updated the request + we were able to test to see a successful result.

[2016-08-31 21:58] vbrh-immalle commented on #595
I was also surprised to see this was not possible. For now, I will try to seperate my two classes by using (secret) teams and see how it goes...

[2016-09-01 17:10] tarebyte commented on #722
@quizzy226 you need to ensure that your organizations have granted us access.

You can check it here: https://github.com/settings/connections/applications/64a051cf1598b9f0658f

[2016-09-02 13:11] jayvdb opened #729 "Duplicate repositories created concurrently for the same student"
I just released a set of assignments, and two students have managed to create three repositories for their assignments (two different assignments), named `x`, `x-1` and `x-2`, all created one minute apart, concurrently.

I havent also been able to reproduce this by using one of the invitation links a second time, after the first import had concluded. i.e. consecutively.

They are private repos.  I

[2016-09-06 14:34] tarebyte commented on #723
@SkyZH we just merged #728 which will fix your problem. I've also back filled a possible slug for your assignment.

[2016-09-06 14:34] #723 closed

[2016-09-06 16:02] crichID opened #730 "Teams cannot be deleted from Classroom once created"
### The Problem
- We are currently using GitHub Classroom to manage the on-demand courses for GitHub Training.
- We are adding all new students to a single team, however I feel confident this would also be an issue if we had any number of teams.
- At this time, **there is no way to prevent users from creating new teams for the assignment.**
- There is also **no way to delete a team from classroom*

[2016-09-06 23:56] amesbah opened #731 "Organization not recognized in Classroom"
Hi,

I'd like to connect my educational organization https://github.com/UBC-CPEN422/ to GitHub Classroom, but Classroom says I don't have any organizations.

Could you please look into this?

Thanks,
Ali

[2016-09-07 00:00] tarebyte commented on #731
@amesbah would you mind checking https://github.com/settings/connections/applications/64a051cf1598b9f0658f and looking to see if you have authorized your Organization to use Classroom?

Thanks!

[2016-09-07 01:32] tarebyte commented on #266
Fixed in #728

[2016-09-07 01:32] #266 closed

[2016-09-07 01:33] tarebyte commented on #677
Fixed by #728

[2016-09-07 01:33] #677 closed

[2016-09-07 14:39] tarebyte commented on #731
Closing this out, please feel free to reopen if this doesn't resolve your issue.

Thanks!

[2016-09-07 14:39] #731 closed

[2016-09-08 02:11] cyhsutw commented on #675
Another hack is utilizing the [Jupyter Notebook](http://jupyter.org/).

GitHub has [built-in support for rendering `.ipynb` files](https://github.com/blog/1995-github-jupyter-notebooks-3). You can write inline and display LaTeX code in the notebook and GitHub will render it for you.

Here's a sample notebook file: https://gist.github.com/cyhsutw/d5983d166fb70ff651f027b2aa56ee4e

[2016-09-08 02:20] ataiya commented on #675
Again, this should not be a hack, it should be something easily and natively supported by the markdown renderer!

[2016-09-08 11:17] CGA1123 commented on #662
Is there any work being done on this?

I'd be happy to start picking off some of these objectives.

[2016-09-08 12:46] jiteshjha commented on #662
Hi! I've worked on I18n in Google Summer of Code this year and I would love to help in the internationalization process! :smile:

[2016-09-08 13:24] tarebyte commented on #662
@jiteshjha feel free! Pull Requests are always welcomed 😄

[2016-09-08 13:46] CGA1123 commented on #662
What file structure should be used for holding the translation strings?

[code]
(similar structure as mentioned [here](http://guides.rubyonrails.org/i18n.html#organization-of-locale-files))
Does something along those lines look reasonable?

Sticking with a single `en.yml` in `config/locales` doesn't seem like the best approach.

[2016-09-08 13:48] tarebyte commented on #662
@CGA1123 I want to stick to the Rails convention to reduce the overhead of other people who work on this later.

Reference: http://guides.rubyonrails.org/i18n.html

[2016-09-08 21:47] rhm12399 opened #734 "Pseudo "Deleted repository""
Instead of seeing links to my student's repos, I see "Deleted repository". I am pretty sure 55 students would not have deleted their repos the day after accepting the assignment.

<img width="1006" alt="screen shot 2016-09-08 at 2 32 01 pm" src="https://cloud.githubusercontent.com/assets/2545827/18368105/17e3383c-75d3-11e6-9cb0-98e5ec9cbcf4.png">

[2016-09-08 21:47] rhm12399 opened #735 "Pseudo "Deleted repository""
Instead of seeing links to my student's repos, I see "Deleted repository". I am pretty sure 55 students would not have deleted their repos the day after accepting the assignment.

<img width="1006" alt="screen shot 2016-09-08 at 2 32 01 pm" src="https://cloud.githubusercontent.com/assets/2545827/18368105/17e3383c-75d3-11e6-9cb0-98e5ec9cbcf4.png">

[2016-09-08 22:02] tarebyte commented on #735
Closing duplicate of #734

[2016-09-08 22:02] #735 closed

[2016-09-09 01:15] tarebyte commented on #675
Since this isn't really relevant to the GitHub Classroom project _per se_ I'm going to close this issue.

Please feel free to continue this discussion here or on the education.github.community discourse site.

Thanks!

[2016-09-09 01:15] #675 closed

[2016-09-09 03:33] ataiya commented on #675
I don't see why this is not relevant to classrooms.
Can't classrooms have wiki which override GitHub default's behavior and add MathJax support?

I am failing to identify the correct split interface between github and github/classroom.