[2015-05-07 02:25] tarebyte opened #2 "Most common use cases for GitHub by educators?"
According to http://education.github.com there are two common ways for handling assignments.

* [Forks](https://education.github.com/guide/forks)
* [Sandboxing](https://education.github.com/guide/sandboxing)

I know personally the classes that I graded for practiced sandboxing, but that may not be the most common use case.

Is there any research or data that could give us an insight as to what met

[2015-05-07 04:57] johndbritton commented on #2
This has been the preferred method, especially for introductory level courses. Forking is most commonly found in project based courses and those classrooms are usually quite capable of handling the administrative burden.

[2015-05-07 19:32] tarebyte opened #3 "License?"
Wasn't entirely sure what license should be used for this project. I would assume MIT copyright to GitHub but I didn't want to make assumptions.

[2015-05-07 19:51] tarebyte commented on #2
We actually used sandboxing for group projects but maybe that wasn't the most efficient way of doing it :stuck_out_tongue_closed_eyes:

In any case I'd like to have educators be able to use both cases of sandboxing (individual and group projects). This seems like a pretty reasonable thing to handle on for the application.

Do you have a preferred way of planning user flows for applications? If not

[2015-05-07 20:13] tarebyte opened #4 "Project Timeline"
This is the original timeline from my GSoC proposal. Just throwing it in here for feedback and my own edits.

#### Timeline
**April 27th through May 25th**
Getting to my mentors and flesh out the projects requirements, security concerns, and goals. I will also take this time to work on the application's design so that I have preliminary mockups to work from when I start building on week 0.

<table

[2015-05-07 20:27] tarebyte opened #5 "Application Design"
I'd like to get feedback as to where in the process this application should be designed. I'm a fan of at least doing some general template design work done near the beginning.

Also since this is a GitHub sponsored open source project what about using [Primer](https://github.com/primer/primer) as a starting point for styling?

[2015-05-08 01:39] johndbritton commented on #2
That works for me. Sketching out the major use cases seems like a good idea.

[2015-05-09 07:44] johndbritton commented on #5
:+1: on using Primer. Are you talking about visual design? I think you're probably going to want to use Primer as a base and add polish as you go. When we get to the end of the summer we might be able to get some visual design help if we ask nicely.

[2015-05-09 07:45] johndbritton commented on #3
MIT all the way. We probably want to setup the GitHub CLA as well.

[2015-05-09 07:46] johndbritton commented on #3
MIT works for me.

[2015-05-09 07:50] johndbritton commented on #5
I accidentally deleted my previous post, so sorry for the duplicate notification.

Definitely recommend using Primer, some lightweight visual design up front is probably worthwhile followed by spending some more time near the end of the summer polishing things up.

[2015-05-09 13:22] tarebyte commented on #3
This showed up on my news feed but you deleted the comment, should we not setup the GitHub CLA for this project or just do it at a later time?

[2015-05-09 18:46] tarebyte commented on #3
Added

[2015-05-09 18:46] #3 closed

[2015-05-12 21:16] #5 closed

[2015-05-13 17:57] tarebyte commented on #4
I'm just going to keep a running issue of the things I'm working on, this timeline seems pointless now.

[2015-05-13 17:57] #4 closed

[2015-05-13 17:58] #2 closed

[2015-05-13 18:43] tarebyte opened #10 "What I'm working on"
This is just a running issue list of what I'm working on / what I will be working on.

## Classroom
**Done**
- [x] Add GitHub organization (classroom), with proper user relationships
- [x] Give users the ability to add their classroom **_only_** if they are an owner
- [x] Allow students to join the classroom through an invitation url, which adds them to a `students` team which consists of all stud

[2015-05-20 16:22] tarebyte opened #12 "Syncing users with their organizations"
Currently the only way that a user can see the classroom is if they add the organization themselves.

[2015-05-20 16:23] tarebyte opened #13 "User has too many organizations"
As discussed in chat, there may be a case where the user has more than one page of organizations. The new page for `Organizations` should be able to take care of that.

[2015-05-20 16:35] tarebyte opened #14 "Caching API Requests"
Currently we aren't caching any of the requests, when I deployed the application to Heroku I didn't notice any performance lags.

However this is something that should be looked into more, as the application grows and we use more end points.

[2015-06-05 18:44] tarebyte opened #25 "Assignment Relationships"
@johndbritton This is just an overview of the relationships as I view them for individual and group assignments.

Let me know what you think. (interaction diagram coming soon)

[code]

[2015-06-08 04:29] johndbritton commented on #25
This makes sense to me, but shouldn't there be a relationship between `User` and `Grouping` or perhaps a model for `Group`?

I see that it would be possible to infer who is in which group based on the `RepoAccesses` associated with each `GroupAssignmentRepo` but how would the teacher reuse the `Grouping` when creating the next `GroupAssignment`?

[2015-06-08 12:26] tarebyte commented on #25
@johndbritton nice catch! I gave the `Organization` `Groupings` which is now `has_many :groups`. That way a teacher can select from a `Grouping` if they don't want the teams to change.

[code]

[2015-06-08 13:41] tarebyte commented on #25
Also I'm going to update `AssignmentRepo` to `IndividualAssignmentRepo`, just fits the naming convention better.

[2015-06-08 15:52] tarebyte commented on #25
Implemented this in #26

[2015-06-08 15:52] #25 closed

[2015-06-23 11:54] tarebyte opened #41 "Landing Page"
The current state of the front page.

It would be awesome if it looked like an extension of [GitHub Education](https://education.github.com/).

![screen shot 2015-06-23 at 07 50 40](https://cloud.githubusercontent.com/assets/564113/8305389/8efdfbf0-197c-11e5-8be0-b7cc94429174.png)

[2015-06-23 11:57] tarebyte opened #42 "Logo / Branding"
Right now this is the logo for Classroom

![screen shot 2015-06-23 at 07 55 31](https://cloud.githubusercontent.com/assets/564113/8305439/3d2f4512-197d-11e5-9a0c-6fd4d380219a.png)

I know other GitHub open source projects like https://notifications.githubapp.com/ have a logo with the GitHub mark and the name of the app.

Can we do something similar? Or if not I'm totally open to suggestions.

[2015-06-23 12:08] tarebyte opened #43 "App layout"
I'd love some help and feedback on the general layout of these pages. Here are some of the app flows and the pages that go along with them.

**Current User Dashboard**
![screen shot 2015-06-23 at 07 57 47](https://cloud.githubusercontent.com/assets/564113/8305506/bdce591a-197d-11e5-9a87-5d92124b5bf1.png)

For Classroom, teachers can add their organization so that they can manage their assignments

[2015-06-23 12:28] tarebyte commented on #43
# Create a new assignment flow

Classroom has two type of assignments. The individual assignment, which should be completed by a single student, and the group assignment, which is completed by a group.

Once the assignment has been created, a url for an invitation is created for the assignment. This invitation will allow students to go to a page, and it will automatically or almost automatically c

[2015-06-23 12:30] tarebyte commented on #42
As a side note, I used [Primer](http://primercss.io/) to give it the feel of an app that extends from GitHub. I borrowed the basic layout and look from the Primer site as well.

[2015-06-23 12:56] johndbritton commented on #42
I think `Classroom` is a great name for the app itself, but we should probably come up with a way to consistently brand it in the interface. I see a few options:

* GitHub Classroom - Standard branding, matches everything else, easy, obvious association with GitHub. Worries me a bit because this is open source and none of our other open source projects are named like that. In this case, it might m

[2015-06-24 08:02] johndbritton opened #44 "Blankslate text confusing"
I just connected my GitHub account to Classroom and landed on the blankslate page with this:

The statement makes me think that I'm in my classroom and I might have multiple organizations for my classroom. I think it would be better stated as something along the lines of:

[2015-06-24 08:13] johndbritton opened #45 "Organization page blankslate"
After connecting my organization to Classroom, I end up on a page with a "create assignment" button. We should probably add a blankslate explaining that no assignments have been created.

[2015-06-24 08:15] johndbritton opened #46 "Private assignment with no private repositories available"
Creating a private assignment if there are no private repositories available results in a poor experience:

![screen shot 2015-06-24 at 5 14 24 pm](https://cloud.githubusercontent.com/assets/123345/8325424/87d39eac-1a94-11e5-859d-3d2b811ebe03.png)

[2015-06-24 08:54] tarebyte commented on #46
@johndbritton the public API doesn't allow me to check to see if the user has private repositories does it. I read through the docs and it doesn't seem like it.

Any recommendations about how to safe guard against this?

[2015-06-24 09:13] tarebyte commented on #44
:+1: I like that, it's much clearer. I need to get better at copy in general

[2015-06-24 09:34] tarebyte opened #49 "Design Halp"
:heart: :green_heart: :purple_heart:

- [x] Logo/Branding #42
- [x] Landing Page #77
- [x] Dashboard Layout #61
- [x] Organizations #78
  - [x] Invite Admins #79
  - [x] Settings #85
- [x] New Assignment #80
- [x] Assignments
  - [x] Creation #86
  - [x] Main Page #81
  - [x] Invitation Page #82
  - [x] Settings #84
- [x] Group Assignments
  - [x] Creation #87
  - [x] Main Page #81
  - [x] Invitat

[2015-06-24 14:47] johndbritton commented on #46
@pengwynn Do you have any suggestions for this? We'd like to be able to check the number of available private repositories in the organization's plan via the API.

[2015-06-24 15:05] #45 closed

[2015-06-24 15:05] #44 closed

[2015-06-24 15:41] johndbritton opened #50 "Assignment invitation success page"
When a student successfully accepts an assignment, we should provide some useful information and a link for them to go to their repository.

Right now, they just get a message that says "Success."

Would be better to say something like: "Your repository for #{assignment.name} has been created at https://github.com/#{org}/#{repo}."

[2015-06-24 15:44] johndbritton opened #51 "Copy invitation doesn't work"
The clipboard link on the invitation link doesn't copy the url to the clipboard.

[2015-06-24 15:53] tarebyte commented on #51
I'd hate to add flash to the site, but what do you think about using [zeroclipboard](https://github.com/zeroclipboard/zeroclipboard)?

[2015-06-24 15:58] johndbritton commented on #51
Word on the street is that this is possible without flash using `document.execCommand('copy')` in Chrome and maybe [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1012662) too.

I'd go for zeroclipboard and maybe see if they plan to update the lib to avoid flash usage.

[2015-06-24 15:59] tarebyte commented on #51
There is a giant thread talking about just that https://github.com/zeroclipboard/zeroclipboard/issues/171

[2015-06-24 16:01] tarebyte commented on #50
:+1:

[2015-06-24 16:24] johndbritton commented on #51
This comment has the solution from github.com: https://github.com/zeroclipboard/zeroclipboard/issues/171#issuecomment-111130212

I'd say just go ahead with zeroclipboard. We can always upgrade once they make it work with the new hotness.

[2015-06-24 17:47] pengwynn commented on #46
@johndbritton @tarebyte: I'm assuming you'd be authenticating as someone who otherwise could create a new repository? You just need a way to know if there's headroom on the plan to do so?

[2015-06-24 17:52] tarebyte commented on #46
@pengwynn yup that's exactly it. We authenticate an organization admin who can create repos on behalf of the org.

[2015-06-26 17:45] #51 closed

[2015-06-29 19:45] tarebyte commented on #46
@pengwynn @johndbritton as it turns out you can get the plan for an organization.

I just :walking: right by it.

[2015-07-06 19:12] tarebyte commented on #41
The main features of the application are.

* Inviting Students
* Managing Assignments
* Pushing Starter files

Should those be shown on the front page (screenshots copy etc), it highlights why the application is useful for teachers.

/cc @jglovier

[2015-07-06 19:15] tarebyte commented on #43
Going to separate these out

[2015-07-06 19:15] #43 closed

[2015-07-06 19:17] tarebyte opened #61 "Dashboard Layout"
This is the first page of the application, currently the user only has the ability to click on their already added Organizations, or add one to Classroom.

It currently looks like this when there aren't any organizations added.
![screen shot 2015-07-06 at 15 15 16](https://cloud.githubusercontent.com/assets/564113/8530894/d53fa080-23f1-11e5-81ec-f1ce667b0f29.png)

This is what it looks like with o

[2015-07-20 20:10] tarebyte opened #70 "Accept Organization invitation on behalf of the student"
According to https://developer.github.com/v3/orgs/members/#edit-your-organization-membership you can update your membership state from `pending` to `active`.

This should happen so that the student doesn't have to check their email

[2015-07-29 14:45] #70 closed

[2015-08-04 19:08] tarebyte commented on #49
/cc @jasonlong

[2015-08-05 16:12] tarebyte commented on #14
Done

[2015-08-05 16:12] #14 closed

[2015-08-05 16:12] tarebyte commented on #12
Done

[2015-08-05 16:12] #12 closed

[2015-08-05 16:13] #10 closed

[2015-08-05 16:13] tarebyte commented on #50
Done

[2015-08-05 16:13] #50 closed

[2015-08-05 16:17] tarebyte opened #76 "Update invitation template if there isn't anyone to invite"
<img width="1039" alt="screen shot 2015-08-05 at 12 16 58" src="https://cloud.githubusercontent.com/assets/564113/9091039/e5516382-3b6b-11e5-8045-3897e7efaf08.png">

[2015-08-05 16:36] #41 closed

[2015-08-05 16:40] tarebyte opened #77 "Landing Page"
When the user hits Classroom for the first time, this is what they currently see. I'm not entirely sure what to do with this, but it could possibly be a page to show off the highlights of the app.

<img width="1552" alt="screen shot 2015-08-05 at 12 39 06" src="https://cloud.githubusercontent.com/assets/564113/9091573/fb730154-3b6e-11e5-81c9-807631bca7a4.png">

[2015-08-05 16:45] tarebyte opened #78 "Organization Page"
Each user can have many Organization that are apart of Classroom. When a user chooses their organization on Classroom, this is what it looks like right now.

<img width="1552" alt="screen shot 2015-08-05 at 12 42 08" src="https://cloud.githubusercontent.com/assets/564113/9091673/880fbf4e-3b6f-11e5-8721-101a6730c92b.png">

<img width="1552" alt="screen shot 2015-08-05 at 12 42 24" src="https://clou

[2015-08-05 16:51] tarebyte opened #79 "Inviting new Org Admins to Classroom"
When a user creates an Organization if there are other admins that they want to add, they have the option of doing so after they add their Organization or later on from the Organizations page.

The GitHub API doesn't allow us to see a users email if it isn't public so I had to give them optional text boxes.

<img width="1552" alt="screen shot 2015-08-05 at 12 51 23" src="https://cloud.githubuserco

[2015-08-05 17:02] tarebyte opened #80 "Selecting between an Individual Assignment or a Group Assignment"
When you choose to create a new assignment from the Organization Page, you can choose to create one of the following

- Individual Assignment (each student gets their own repository)
- Group Assignment (students are in teams and those teams each get a repo)

Currently the selection looks like this:

<img width="1552" alt="screen shot 2015-08-05 at 12 59 58" src="https://cloud.githubusercontent.com

[2015-08-05 17:08] tarebyte opened #81 "Individual Assignment or Group Assignments Page"
Currently on an assignment page, the user can only see the invitation url for their assignment.

I still need to include the settings page see #84

There isn't a whole bunch here, but there is some information that may be useful to the teacher that we have access too. Such as how many student/teams have created their assignment and when they created their assignments.

We also have the ability to

[2015-08-05 17:15] tarebyte opened #82 "Individual Assignment invitation page"
When a student goes to the individual assignment invitation url, they are greeted with this

![assignment_invitations](https://cloud.githubusercontent.com/assets/564113/9092363/c1900734-3b73-11e5-8b15-2da22433f81f.gif)

This creates their assignment and sets up their team. Currently it will give them an error message or return their GitHub Repo URL for them to go to.

[2015-08-05 17:22] tarebyte opened #83 "Group Assignment Invitation Page"
When the student goes to a Group Assignment Invitation Page, they currently see this.

<img width="1552" alt="screen shot 2015-08-05 at 13 18 15" src="https://cloud.githubusercontent.com/assets/564113/9092500/876a83c6-3b74-11e5-8adc-741ae7daaf79.png">

Or if there already existing teams, then they see this

<img width="1552" alt="screen shot 2015-08-05 at 13 21 52" src="https://cloud.githubusercon

[2015-08-05 17:29] tarebyte opened #84 "Individual and Group Assignments Settings"
So there isn't a setting page yet for either Individual Assignments or Group Assignments.

What we can currently do is the following.

* Rename the assignment
* Destroy the assignment
* Regenerate the Invitation URL

If you destroy either type of assignment it **WILL** delete all of the github repositories that were created with it. Probably a good idea to warn them.

[2015-08-05 17:35] tarebyte opened #85 "Organizations Settings Page"
The Organizations Settings page currently looks like this

<img width="1552" alt="screen shot 2015-08-05 at 13 33 10" src="https://cloud.githubusercontent.com/assets/564113/9092833/8f9a5100-3b76-11e5-818e-78e263933c90.png">

The user can rename their Organization on Classroom, or they can remove it from Clasroom. This **WILL** delete all both types of assignments, delete all of the repos, and dele

[2015-08-05 17:44] tarebyte commented on #49
/cc @jglovier

[2015-08-05 18:09] tarebyte opened #86 "Creating a new Individual Assignment"
When a user creates a new Individual Assignment they can give it a name, choose whether the assignment repos will be public or private and choose a repository for starter code if they want to.

<img width="1552" alt="screen shot 2015-08-05 at 14 06 02" src="https://cloud.githubusercontent.com/assets/564113/9093670/64b72026-3b7b-11e5-86f0-f1bf3570e417.png">

[2015-08-05 18:11] tarebyte opened #87 "Creating a Group Assignment"
This has all of the same options as the Individual Assignment (#86) but the user has to either create a new group of teams, currently known as a grouping, or choose an existing one.

The grouping aspect isn't really super clear at this point, and I'm not really sure what's the best way to show that to the user.

<img width="1552" alt="screen shot 2015-08-05 at 14 06 14" src="https://cloud.githubus

[2015-08-05 21:07] jglovier commented on #49
Hey @tarebyte! :wave: :sparkles:  Sorry I've been MIA here. Will start providing feedback here shortly.

[2015-08-06 03:00] tarebyte commented on #49
Thanks @jglovier! :sparkles:

[2015-08-13 11:34] johndbritton opened #92 "Show organization login on organization page"
In this case my organization `title` is "August 2015" but there's no indication of the organization login on the page. I think it might be confusing to users to have a separate title from the actual organization login. Perhaps we should show `@classroom` next to the title?

<img width="984" alt="screen shot 2015-08-13 at 12 32 46 pm" src="https://cloud.githubusercontent.com/assets/123345/9248859/7

[2015-08-13 11:37] johndbritton opened #93 "Explain individual vs group assignments"
On the new assignment page we should explain a bit more:

<img width="366" alt="screen shot 2015-08-13 at 12 35 12 pm" src="https://cloud.githubusercontent.com/assets/123345/9248903/d7c59128-41b7-11e5-99ef-46b2d75b33b6.png">

Maybe something like this:

__Individual assignment__ - Each student works independently
__Group assignment__ - Students work in self-selecting groups

[2015-08-13 11:41] johndbritton opened #94 "Creating new team causes application error"
Visiting an assignment URL for a group assignment with starter code of `rails/rails` gives an application error after trying to join a new team.

URL: https://classroom-staging.herokuapp.com/group_assignment_invitations/5ba3f9f295292f846c56bcd72bc9ba56/accept_invitation

Don't really have any more insight into the issue.

[2015-08-13 11:46] johndbritton commented on #94
It looks like the repository was created and the starter code was successfully added. Teams were also created and I was given access. Might have been a timeout due to the size of the repository?

[2015-08-13 11:49] johndbritton commented on #92
Also probably worth showing on the dashboard:

<img width="713" alt="screen shot 2015-08-13 at 12 49 04 pm" src="https://cloud.githubusercontent.com/assets/123345/9249090/b6efc638-41b9-11e5-88e2-a19355a9ec02.png">

[2015-08-13 11:52] johndbritton opened #95 "List submissions on assignment page"
There should be a list of links to all the repositories that represent assignment submissions on the assignment page:

<img width="778" alt="screen shot 2015-08-13 at 12 51 48 pm" src="https://cloud.githubusercontent.com/assets/123345/9249131/342cb4e4-41ba-11e5-920d-ef06eb65502b.png">

[2015-08-16 14:35] tarebyte commented on #94
Not sure, I tried to read through the logs but couldn't find anything, I just tried your invitation and it worked for me without errors.

Will investigate further

[2015-08-17 18:15] tarebyte opened #99 "Launch Check List"
- [x] Domain name `classroom.github.com` :zap:
- [x] Google Analytics
- [x] Blog Post
- [x] Heroku app
- [x] Documentation
- [x] No blocking [issues](/education/classroom/issues)

/cc @johndbritton

[2015-08-17 19:18] tarebyte commented on #49
/cc @jasonlong

[2015-08-17 20:17] jasoncostello commented on #42
@tarebyte @jglovier Here's an svg logo in the style of the typical sub-brand:
https://www.dropbox.com/s/pqtxxgo9tbiei2e/github-classroom-logo.svg?dl=0

<img width="617" alt="screen shot 2015-08-17 at 1 15 28 pm" src="https://cloud.githubusercontent.com/assets/416727/9315125/2df3c2cc-44e2-11e5-9113-5cbcb54211ed.png">

[2015-08-17 21:28] jasoncostello commented on #42
Wait, takebacksies on that logo. If this is going to be an official, supported channel of communication owned by GitHub as a resource for teachers, we could call it **GitHub for Classrooms**. It'd be branded and the context would be clear, as it is in the style of "GitHub and Government".

[2015-08-18 00:34] johndbritton commented on #42
@jasoncostello This will be linked from https://education.github.com/guide, and will be a supported / recommended tool.

Would love your opinion on what domain we should host this on. The current plan is "GitHub Classroom" and `githubclassroom.com` but that's totally flexible depending on what you all think.

[2015-08-18 14:46] jasonlong commented on #49
Hey guise,

I know there was some confusion around getting @tarebyte some design help here. He and I got together yesterday and cranked through some rough mockups for a handful of views. I wanted to at least let folks chime in w/ any feedback or concerns here. I know Mark needs to get this wrapped up in the next week, so I'll try to help out with the CSS based on this direction. In the meantime, f

[2015-08-18 15:40] jglovier commented on #49
@jasonlong thank you so much for jumping in here!! :heart: :metal: :bow:

Looking really good. :heart_eyes: Only note is @jasoncostello's [comment](https://github.com/education/classroom/issues/42#issuecomment-131967779) about calling it GitHub for Classroom instead.

[2015-08-18 15:50] jasonlong commented on #49
:boom: Thx @jglovier. And :thumbsup: on "GitHub for Classrooms" – makes sense to me.

[2015-08-18 17:30] cameronmcefee commented on #49
:+1: Looks excellent.

[2015-08-18 22:15] johndbritton commented on #49
Thanks @jasonlong, looks great.

I'm cool with calling this whatever you all think makes sense, but please keep in mind that we also need to come up with a url for this. Simplest thing is going to be to give it it's own domain, like `githubclassroom.com` or 'githubforclassrooms.com`. Shorter is better IMHO.

[2015-08-18 22:16] johndbritton commented on #49
My only real feedback on these mockups is that we should make space for showing organization logins in addition to their friendly titles that are stored in the classroom app. cc #92

[2015-08-18 22:51] johndbritton commented on #49
One more thing that I just thought of:

Might be helpful to provide navigational elements to get to `education.github.com` and a link for help.

[2015-08-18 23:44] jasonlong commented on #49
Re: domain names - does it make sense to use `classroom.github.com` following the pattern of education, government, desktop, etc.?

:thumbsup: Good call.

[2015-08-19 00:22] jglovier commented on #49
Yeah, we should really use a consistent paradigm for our properties that designates something is an actual GitHub project – at least when it's part of the name (i.e. Atom, Boxen, etc are separate things because they a) are open source projects and b) don't have "GitHub" in the name). I'm :-1: on `githubclassroom.com` (or `githubforclassroom.com`), as it may introduce confusion as to whether it's a

[2015-08-19 09:33] johndbritton commented on #49
:+1:

[2015-08-19 11:01] johndbritton commented on #42
What do folks think about `Classroom for GitHub` rather than `GitHub for Classrooms`?

My logic is that this app is not __GitHub__, it's an app for GitHub to help you manage your GitHub organization.

[2015-08-19 17:45] cameronmcefee commented on #49
Assuming this remains as a GitHub maintained property, my vote is *GitHub for Classrooms* at *classroom.github.com*

[2015-08-19 18:02] johndbritton commented on #49
:+1:

[2015-08-19 19:32] jasoncostello commented on #49
Ditto.

[2015-08-19 20:00] cameronmcefee commented on #42
@johndbritton that's even better in my book

[2015-08-19 21:21] mastahyeti opened #102 "Logout should be a POST request"
The `/logout` endpoint should require a POST request. Currently, someone could CSRF this endpoint by including an image like `<img src="https://classroomdomain.com/logout">` on another domain to log users out. This is quite low risk, but is an easy fix.

[2015-08-19 21:21] mastahyeti commented on #102
It also wouldn't hurt to have the logout endpoint `reset_session` instead of just deleting the user id from the session.

[2015-08-19 21:28] mastahyeti opened #103 "Add ensure_logged_in before filter to ApplicationController"
For an app in which most endpoints require authentication, it's a good idea to check authentication in the `ApplicationController` and have unauthenticated actions opt-out via `skip_before_filter`. This makes it harder to forget to add the authentication check when adding a new controller.

[2015-08-20 00:02] mastahyeti opened #104 "Can create an Organization for any GitHub organization"
The `OrganizationsController#create` endpoint doesn't check that the current user has access to the GitHub organization they are creating an `Organization` for. An attacker can create an `Organization` for any GitHub organization by modifying the `organization[github_id]` POST parameter.

This request creates an `Organization` for the @classroom GitHub organization:

[code]

The application should

[2015-08-20 00:03] mastahyeti opened #105 "OrganizationAuthorizedConstraint doesn't work"
`OrganizationAuthorizedConstraint` searches the URL path for the first set of numeric characters and tries to look up an org with an id matching these digits. If no organization is found the check fails open. The `OrganizationsController#set_organization` method uses `Organization.find(params[:id])` to lookup organizations. Because of FriendlyId, this can take a slug instead of a numeric id. The r

[2015-08-20 00:04] mastahyeti opened #106 "Can add any user to an organization"
`OrganizationsController#invite_users` doesn't check that the id of the user being invited is actually part or the organization. This can be used to add arbitrary users to your organization. This *could* be an abuse vector since the new organization will show up on the user's dashboard and they will have no way to leave the organization. For example, when they go to their dashboard they might see:

[2015-08-20 00:08] mastahyeti opened #107 "Org invitations are a spam vector"
Organization invitations can be sent to any email address. The content of the invitation can be hijacked by modifying the Organization title, which can be quite long and even contain newlines:

*Creating an org with newlines in the title:*

[code]

*Sending spam to any email address:*

[code]

*Spam!!!*

<img width="903" alt="screen shot 2015-08-19 at 5 58 09 pm" src="https://cloud.githubuserconte

[2015-08-20 10:44] johndbritton opened #110 "Add pagination to listing pages"
It looks like the listing pages don't have any pagination right now. It's probably fine at the moment, but once we see some larger classes or teachers using it semester after semester, it will become necessary.

[2015-08-20 12:27] tarebyte commented on #107
@mastahyeti number 1 works for me, it'll be annoying for users, but if they don't have a public facing GitHub email address there isn't a whole lot we can do.

Thoughts? /cc @johndbritton

[2015-08-20 14:03] jasonlong commented on #42
That works for me. I'll update the logo.

[2015-08-20 14:13] jasonlong commented on #42
Closing this for now. Please to be reopening if need be.

![screen shot 2015-08-20 at 10 07 10 am](https://cloud.githubusercontent.com/assets/6104/9385345/f82a0a54-4723-11e5-9f1d-0333d282a3d9.png)

[2015-08-20 14:13] #42 closed

[2015-08-20 14:14] jasonlong commented on #80
Closing based on work in #101.

[2015-08-20 14:14] #80 closed

[2015-08-20 14:14] jasonlong commented on #86
Closing based on work in #101.

[2015-08-20 14:14] #86 closed

[2015-08-20 14:15] jasonlong commented on #87
Closing based on work in #101.

[2015-08-20 14:15] #87 closed

[2015-08-20 14:15] jasonlong commented on #78
Closing based on work in #101.

[2015-08-20 14:15] #78 closed

[2015-08-20 14:16] jasonlong commented on #79
Does the design in #101 cover this ok?

[2015-08-20 14:17] jasonlong commented on #61
Closing based on work in #101.

[2015-08-20 14:17] #61 closed

[2015-08-20 14:18] jasonlong commented on #77
The app currently shows the "no orgs" blank slate. Is that ok or do we need something else here?

[2015-08-20 16:36] tarebyte commented on #77
@jasonlong this the front page before authentication.

We may want something here just to show what classroom is about.

[2015-08-20 16:52] tarebyte commented on #79
The form here has to change, but that's trivial. I can do that when I'm working out some other issues.

[2015-08-20 16:52] #79 closed

[2015-08-20 16:55] #103 closed

[2015-08-20 16:55] #102 closed

[2015-08-20 19:27] mastahyeti opened #111 "eval() is a code smell"
While it isn't a vulnerability in this case, `eval()` gives security people heart palpitations. Instead of

[code]

you could do

[code]

or better yet

[code]

[2015-08-20 19:41] johndbritton commented on #107
I think that's fine, as the organization invites are only for inviting teachers and admins.

@tarebyte is there a way for an org admin to access classroom without being invited?

[2015-08-20 19:54] mastahyeti opened #112 "Bit.ly discloses all assignment URLs"
By taking one of the Bit.ly links generated by the application, I was able to use the Bit.ly [link info API](http://dev.bitly.com/links.html#v3_info) to find out whose account created the Bit.ly link. From there I was able to use the [user link history API](http://dev.bitly.com/user_info.html#v3_user_link_history) to find a listing of Bit.ly links generated by this user. This gives me the invitati

[2015-08-20 21:01] mastahyeti opened #113 "AssignmentInvitationsController#show should require confirmation"
Browsing to `AssignmentInvitationsController#show` fires JavaScript that accepts the invitation. It would be good to require some user interaction. Otherwise, any use can be sent to the URL and will be added to the org, added to the team, etc...

[2015-08-20 21:05] mastahyeti opened #114 "CSRF in AssignmentInvitationsController#accept_invitation"
`AssignmentInvitationsController#accept_invitation` uses a GET requests. This should be a POST. Otherwise, an attacker could post an image like

[code]

on another site, forcing every Classroom user visiting the page to accept the invitation.

[2015-08-20 22:06] tarebyte commented on #107
We could have it so anyone who is an admin who signs in to classroom automatically gets added to the org on Classroom

[2015-08-20 23:06] johndbritton commented on #112
I'd suggest removing Bitly and just using the standard urls.

If you want to use a shortener, we've got `git.io`

[2015-08-20 23:08] johndbritton commented on #107
Yeah, I think that makes sense.

[2015-08-21 03:59] #111 closed

[2015-08-21 03:59] #112 closed

[2015-08-21 09:21] johndbritton commented on #42
:clap::start:

[2015-08-21 09:59] johndbritton opened #117 "Consider rack-canonical-host"
https://github.com/tylerhunt/rack-canonical-host

Require SSL and redirect all domains to one official domain.

[2015-08-21 11:50] tarebyte commented on #107
@mastahyeti thank you for the great feedback here, we're going to change this so that you have to add the admin on GitHub first and then we will be adding them to classroom via url, similar to the assignment flow.

[2015-08-21 11:50] #107 closed

[2015-08-21 11:52] tarebyte commented on #106
This feature will be going away, see #107

[2015-08-21 11:52] #106 closed

[2015-08-21 11:53] tarebyte commented on #93
Completed in #101

[2015-08-21 11:53] #93 closed

[2015-08-21 11:54] #76 closed

[2015-08-21 12:14] tarebyte commented on #92
@johndbritton something like this?
<img width="1552" alt="screen shot 2015-08-21 at 08 13 29" src="https://cloud.githubusercontent.com/assets/564113/9408010/94171fe8-47dc-11e5-9282-2d39a146121f.png">

/cc @jasonlong for feedback

[2015-08-21 12:18] tarebyte commented on #92
This could also be an option

<img width="1552" alt="screen shot 2015-08-21 at 08 17 43" src="https://cloud.githubusercontent.com/assets/564113/9408057/235f9fd6-47dd-11e5-9916-d25ed564b016.png">

[2015-08-21 12:20] johndbritton commented on #92
Yeah, those both work. I prefer to use `@` with the login.

[2015-08-21 13:53] jasonlong commented on #92
I dig the `@` version as well and I think using 2 lines would be better to allow for longer names. The spacing could be a little better – I'll make a commit w/ some proposed styling.

[2015-08-21 13:55] johndbritton commented on #92
If you go with 2 lines, I think the edit button might need some vertical adjustment.

[2015-08-21 14:11] jasonlong commented on #92
I updated #101 w/ this placeholder:

![screen shot 2015-08-21 at 10 08 38 am](https://cloud.githubusercontent.com/assets/6104/9410215/f77096ae-47ec-11e5-8d65-e3c27632ce37.png)

[2015-08-21 14:13] tarebyte commented on #92
:sparkles:

[2015-08-22 19:11] #104 closed

[2015-08-22 20:01] #117 closed

[2015-08-22 21:56] tarebyte commented on #110
See #119

[2015-08-22 21:56] #110 closed

[2015-08-23 11:36] #113 closed

[2015-08-23 11:37] tarebyte commented on #114
See #120

[2015-08-23 11:37] #114 closed

[2015-08-23 11:40] tarebyte commented on #85
See 826a99058c7497d090559672b788df4fbbffd59e

[2015-08-23 11:40] #85 closed

[2015-08-24 14:24] johndbritton opened #122 "Organization missing from add organization dropdown"
I'm trying to add my organization, https://github.com/classroom. For some reason it's not showing in the dropdown. :question:

<img width="509" alt="screen shot 2015-08-24 at 3 23 22 pm" src="https://cloud.githubusercontent.com/assets/123345/9442491/1d1140c8-4a74-11e5-90b2-bdf424854fb8.png">

[2015-08-24 14:30] johndbritton opened #123 "Move sidekiq link to peek bar"
Having a link to Sidkiq is cool, but I'd prefer if we could keep all staff only links out of the main application. Can you add it to the peek bar instead?

<img width="54" alt="screen shot 2015-08-24 at 3 28 42 pm" src="https://cloud.githubusercontent.com/assets/123345/9442648/dae14080-4a74-11e5-8322-80c877383ada.png">

Here's what I did in another app:

<img width="154" alt="screen shot 2015-08-2

[2015-08-24 14:43] johndbritton opened #124 "Favicon"
<img width="147" alt="screen shot 2015-08-24 at 3 43 05 pm" src="https://cloud.githubusercontent.com/assets/123345/9443062/f5a220ea-4a76-11e5-9d75-ac69b3dccae0.png">

@jasonlong @jglovier How do you feel about this favicon? Would you prefer that we swap it out with something else? If so, PRs welcome :grin:.

[2015-08-24 14:52] jglovier commented on #124
LGTM! :+1:

[2015-08-24 14:56] tarebyte commented on #122
Is it just that org? Or is it multiple?

[2015-08-24 14:57] tarebyte commented on #123
:+1: great suggestion

[2015-08-24 15:02] jasonlong commented on #124
Yeah, I made the green one for lack of better ideas. I'm not sure what else makes sense at this point w/o some more branding work.

[2015-08-24 15:59] johndbritton commented on #124
:cool: just wanted to check

[2015-08-24 15:59] #124 closed

[2015-08-24 16:07] johndbritton commented on #122
It only lists one org in the dropdown, but I'm an admin on a bunch of orgs.

[2015-08-24 16:08] tarebyte commented on #122
Weird, that should not be the case. All of my orgs show up.

Will investigate

[2015-08-24 17:15] johndbritton commented on #122
Maybe I'm doing it wrong, it worked before.

[2015-08-24 17:32] johndbritton opened #125 ""/orgs" url"
Any particular reason you shortened "organizations" to "orgs" in the url? I think we're standardizing on using the full term everywhere.

[2015-08-24 17:49] tarebyte commented on #125
No particular reason, I'll go ahead and change it back

[2015-08-24 17:54] #125 closed

[2015-08-24 20:21] #81 closed

[2015-08-24 23:29] tarebyte opened #131 "Possible GeoPattern Header"
Took a quick break and was playing around with a geo_pattern header, wanted to see if anyone liked the idea.

/cc @jasonlong

[code]
<img width="1552" alt="screen shot 2015-08-24 at 19 24 45" src="https://cloud.githubusercontent.com/assets/564113/9455125/f6b180d8-4a95-11e5-903d-3b45066b6284.png">

[2015-08-25 11:41] jasonlong commented on #131
I could go either way to be honest. It's definitely "on brand" and if we lock the color in, it should be :ok_hand:. I'll leave it up to you @tarebyte unless anyone else has strong feels.

[2015-08-25 14:00] johndbritton commented on #131
:+1: from me. It's a good way to distinguish between different orgs. This also makes me wonder if we should be displaying the org avatar anywhere.

[2015-08-25 14:10] johndbritton commented on #92
This still needs to be wired up:

<img width="445" alt="screen shot 2015-08-25 at 3 09 45 pm" src="https://cloud.githubusercontent.com/assets/123345/9468800/65daccd0-4b3b-11e5-862f-756305d54536.png">

[2015-08-25 14:11] johndbritton opened #133 "Blank invite users page"
The invite users page is a bit weird when there are no people that you can invite.

<img width="477" alt="screen shot 2015-08-25 at 3 10 42 pm" src="https://cloud.githubusercontent.com/assets/123345/9468814/7c97a15a-4b3b-11e5-8435-12c27cafeaa8.png">

Maybe add some help text and handle the zero users to invite case.

[2015-08-25 14:12] johndbritton commented on #92
Looks like it's only needs to be fixed on the invite users page.

[2015-08-25 14:14] johndbritton opened #134 "Settings page is repetitive"
Maybe just use `Settings`, `Classroom settings`, or `Organization settings` for the title:

<img width="560" alt="screen shot 2015-08-25 at 3 12 49 pm" src="https://cloud.githubusercontent.com/assets/123345/9468851/caec4496-4b3b-11e5-9de6-a4ba4cbf942b.png">

[2015-08-25 14:17] johndbritton opened #135 ""Remove this organization" improvements"
The terminology used for removing an organization may be confusing:

<img width="334" alt="screen shot 2015-08-25 at 3 15 24 pm" src="https://cloud.githubusercontent.com/assets/123345/9468904/2264d742-4b3c-11e5-8771-544f651b56b6.png">

"Remove and reset organization" along with an explanation that the organization will be removed from classroom and all of the repositories, teams, and users created

[2015-08-25 14:19] johndbritton opened #136 "Save button on organization settings doesn't work"
If you edit the title and click save, nothing happens.

[2015-08-25 14:22] tarebyte commented on #133
I'll add this to #132

[2015-08-25 14:25] johndbritton opened #137 "Replace placeholder copy on create assignment page"
Likely just an oversight:

<img width="996" alt="screen shot 2015-08-25 at 3 24 38 pm" src="https://cloud.githubusercontent.com/assets/123345/9469166/7748b1ec-4b3d-11e5-84b6-f268ddac308c.png">

[2015-08-25 14:26] johndbritton opened #138 "Flash message is misaligned"
This is on the new individual assignment page:

<img width="998" alt="screen shot 2015-08-25 at 3 26 02 pm" src="https://cloud.githubusercontent.com/assets/123345/9469192/a1835854-4b3d-11e5-818a-5f490ff67a45.png">

[2015-08-25 14:30] johndbritton commented on #94
I just recreated this error again using `rails/rails` as my starter code. I think it's due to a timeout of the git clone / push that's happening in the background.

I think you should either adjust the timeout and messaging, saying "This might take a few minutes" or move the cloning stuff to the background and render the success page with a message saying "your starter code will be available short

[2015-08-25 14:31] johndbritton opened #140 "Assignment repository link targets the wrong url"
Clicking the link should take me to GitHub, but it just reloads the page.

<img width="938" alt="screen shot 2015-08-25 at 3 30 57 pm" src="https://cloud.githubusercontent.com/assets/123345/9469321/55262850-4b3e-11e5-90b6-57701c2bdff9.png">

[2015-08-25 14:46] johndbritton opened #141 "Invitation pages need some design love"
The invitation landing page doesn't have any of the app chrome, and it doesn't look great. The spinner page after clicking on `Accept` could benefit from expectation setting and explanation of what's happening: "We're giving you access to a repository on @organization and uploading some starter code for you." The success page could use chrome and some more explanation too.

[2015-08-25 14:50] johndbritton opened #142 "Explain groups of teams"
It may not be immediately obvious to users what this means:

<img width="461" alt="screen shot 2015-08-25 at 3 48 32 pm" src="https://cloud.githubusercontent.com/assets/123345/9469767/c4890774-4b40-11e5-8dc2-f20e51653e24.png">

Also, we should be consistent about how we refer to teams and groups. Maybe we should always use the word team, like we did with organization in the organization / classroo

[2015-08-25 14:53] johndbritton opened #143 "Using a group invitation twice"
If a user accepts a group assignment invitation and then goes back to the invitation page they are presented with the form to choose a team or create a new team but upon submitting, they're directed to the repo they created in the first pass.

I think we should probably just tell them that they already have a team / repo and direct them there without showing the form.

[2015-08-25 14:56] johndbritton opened #144 "Using an existing group of teams for a new group assignment"
Say I create a group of teams for students to work in and an assignment to go with it.

The students self-select into teams and then submit their assignments. I create a second assignment and choose the same group of teams and pass out the invite link.

Students still see the form on the invitation page prompting them to create a team or choose one. Since I decided to use the same group of teams a

[2015-08-25 15:09] tarebyte commented on #131
Closed with #139

[2015-08-25 15:24] #140 closed

[2015-08-25 15:25] #136 closed

[2015-08-25 17:34] tarebyte commented on #133
@johndbritton actually this part is going away.

What do you think about this page walking the user through adding admins to their github org? And then giving them their org url to give to their TA's?

[2015-08-25 17:59] johndbritton commented on #133
Yep, that makes sense to me.

[2015-08-25 18:38] #123 closed

[2015-08-25 18:49] tarebyte commented on #134
I like `Organization settings`

[2015-08-25 18:59] #134 closed

[2015-08-25 19:00] #122 closed

[2015-08-25 19:02] johndbritton commented on #122
I've since deleted an org a bunch of times and don't have this issue any more. Was it just that the DB records weren't cleaned up?

[2015-08-25 19:07] tarebyte commented on #122
yup!

[2015-08-25 19:25] tarebyte commented on #137
Thoughts on the wording.

### Individual assignment
Each student gets their own assignment repository, and works by themselves.

### Group assignment
Students form teams and work together on the assignment.

[2015-08-25 19:27] #138 closed

[2015-08-25 19:39] tarebyte commented on #95
Done!

[2015-08-25 19:39] #95 closed

[2015-08-26 08:32] johndbritton commented on #137
### Individual assignment
Each student gets their own assignment repository, and works by themselves.

### Group assignment
Students form teams and work together on the assignment.

[2015-08-26 08:41] johndbritton opened #150 "Documentation"
* [x] `README.md`
  * [x] Describe the app
  * [x] Screenshots
  * [x] Link to the app
  * [x] Environment setup
  * [x] Link to `CONTRIBUTING.md`
  * [x] Shoutout to @tarebyte and Summer of Code
* [x] `CONTRIBUTING.md`
  * [x] GitHub CLA
  * [x] Requirements (tests, etc.)

cc/ @bkeepers Anything else you'd recommend documenting about this open source project?

[2015-08-26 09:36] johndbritton commented on #137
Each student works individually in their own repository.

Students form teams and each team works together using a shared repository.

[2015-08-26 09:37] johndbritton commented on #137
@tarebyte What do you think of :arrow_up:

[2015-08-26 11:40] tarebyte commented on #137
I like that, will :ship:

[2015-08-26 14:23] bkeepers commented on #150
Here's the checklist we use for releasing a new open source project: https://gist.github.com/bkeepers/f1b6b2ed8e85f80f561c

[2015-08-26 14:53] #137 closed

[2015-08-26 16:52] #94 closed

[2015-08-26 19:20] tarebyte commented on #92
Closed with #132

[2015-08-26 19:20] #92 closed

[2015-08-27 15:58] johndbritton opened #155 "Invalid form redirects to bad url"
Minor stuff, but worth noting:

If you leave the form at `/organizations/new` blank and submit, it redirects you to `/organizations` instead of `/organizations/new`. If you dismiss the flash, the layout is a bit messed up.

[2015-08-27 17:36] tarebyte commented on #155
@johndbritton the form is still valid, and if you fix the error you can still submit it. But if you redirect instead of re-rendering then you lose the flash message errors.

Do you have any suggestions about how to sustain the errors?

I opened up #156, and right now it just has the flash message fix

[2015-08-28 08:59] johndbritton commented on #155
If you navigate to `/organizations` directly you get a not found, maybe that's because there's a route for `POST` but not `GET`. Never really noticed this behavior before, but maybe it's expected. Feel free to ignore.

[2015-08-28 13:35] #155 closed

[2015-08-28 18:39] johndbritton opened #157 "Mobile layout"
We don't need anything fancy, but the app should work on mobile.

[2015-08-29 15:07] #105 closed

[2015-08-30 23:49] tarebyte commented on #133
Closed with #132

[2015-08-30 23:49] #133 closed

[2015-09-01 04:09] #143 closed

[2015-09-01 04:09] #144 closed

[2015-09-01 04:33] tarebyte commented on #84
Closed with #154

[2015-09-01 04:33] #84 closed

[2015-09-01 04:34] tarebyte commented on #83
Closed by #154

[2015-09-01 04:34] #83 closed

[2015-09-01 04:34] tarebyte commented on #82
Closed with #154

[2015-09-01 04:34] #82 closed

[2015-09-01 04:35] tarebyte commented on #141
Closed by #154

[2015-09-01 04:35] #141 closed

[2015-09-01 11:27] johndbritton commented on #77
Here's the current logged out dashboard:

<img width="1004" alt="screen shot 2015-09-01 at 12 24 38 pm" src="https://cloud.githubusercontent.com/assets/123345/9602915/731bca52-50a4-11e5-836e-31b725350c5c.png">

What do you think about having a simple explanation of Classroom for GitHub there in the style of a herobox with sign in button down below. Then, on the logged in dashboard we can include t

[2015-09-01 11:36] johndbritton commented on #13
Resolved in https://github.com/education/classroom/pull/119. On the off chance that this was meant to address the fact that we might not show all orgs in the drop-drop down on the new page, I also verified that we're using Ocktokit's auto pagination.

[2015-09-01 11:36] #13 closed

[2015-09-01 12:54] johndbritton commented on #46
Here's the result I'm seeing now as a student who tries to accept an invitation to a private individual assignment on an organization which has no private repositories available

<img width="1041" alt="screen shot 2015-09-01 at 1 52 12 pm" src="https://cloud.githubusercontent.com/assets/123345/9604633/b220a9be-50b0-11e5-9df0-8fc601198835.png">

Need to handle the following cases:

* [ ] accepting

[2015-09-01 12:56] johndbritton opened #161 "Warn students about incoming organization invitation email"
When students accept an assignment for the first time they receive an email from GitHub alerting them about their pending organization invitation.

I think we should let the user know that this email will be sent and that it can safely be ignored when we successfully add them to an organization.

[2015-09-01 12:58] johndbritton commented on #77
@jasonlong Are you able to help out with the landing page?

[2015-09-01 13:45] jasonlong commented on #77
Sure, I can help out here.

My initial thoughts here are that we'd want to show a couple of sentences explaining **what** Classroom is and **why** you might want to use it – and then have the big sign in button. For people who are already signed in, they're already (at least somewhat) bought into the idea and don't need persuaded. They basically need to know what to do next. With that in mind, may

[2015-09-01 14:16] johndbritton commented on #131
What do you think about using the Organization `id` for the pattern seed, that way changing the name of the class doesn't change the header.

[2015-09-01 14:19] johndbritton opened #162 "Make `/organizations` default logged in page"
Let's :fire: `/dashboard` and default to `/organizations` for logged in users.

[2015-09-01 14:25] johndbritton commented on #77
:+1: Thanks for your help.

[2015-09-01 15:24] jasonlong commented on #77
For the logged out state, how about something like this? I'll let you guys hash out the actual copy. Or you could ask `github/copy` for input.

![screen shot 2015-09-01 at 11 23 19 am](https://cloud.githubusercontent.com/assets/6104/9608356/03aba140-509c-11e5-8efc-9c2918dbdea2.png)

I just picked those particular Octicons, but they could be whatever – or be removed altogether.

For the text styles

[2015-09-01 17:20] jasonlong commented on #131
Seems :ok_hand: to me.

FWIW, we use the title on GitHub Guides (which would indeed change the pattern w/ a rename – though you can specify a pattern in the front matter) and we use the user ID for identicons on dotcom (which is a very similar generative thing) so name changes wouldn't effect the pattern.

[2015-09-01 17:46] #131 closed

[2015-09-01 17:46] #162 closed

[2015-09-01 18:01] johndbritton commented on #77
Maybe start with this:

Some other features that might be worth calling out:

* Public and private repositories
* Individual and group assignments
* Students can form their own groups
* View student progress on GitHub
* Easy to navigate to submissions for each assignment

cc/ @bernars @gjtorikian We're working on copy for the landing page of `Classroom for GitHub` would love your input on the copy

[2015-09-02 00:37] tarebyte commented on #142
I had a professor give the suggestion of calling it a set of teams for reuse

[2015-09-02 10:11] johndbritton commented on #142
"Create a reusable set of teams">

[2015-09-02 10:15] tarebyte commented on #142
That sounds more clear to me

[2015-09-02 11:49] #46 closed

[2015-09-02 12:07] tarebyte commented on #161
I think that's a pretty reasonable thing to add

[2015-09-02 12:34] tarebyte commented on #135
Since we already have the ability to soft delete this should be pretty easy to implement.

[2015-09-02 14:58] johndbritton opened #168 "Logout button missing on invitation pages"
When navigating to a unique invitation url there's no link to log out.

<img width="259" alt="screen shot 2015-09-02 at 3 58 31 pm" src="https://cloud.githubusercontent.com/assets/123345/9634862/7dbf3042-518b-11e5-801d-618b9f67074f.png">

[2015-09-02 15:00] tarebyte commented on #168
That was by design, is there a reason they need to logout?

[2015-09-02 15:05] johndbritton opened #169 "Link to invite administrators from organization settings"
If you skip adding other admins there's no info about how to do it later. I think it makes sense as a link from the settings or you could also render the content on the settings page directly.

[2015-09-02 15:12] johndbritton commented on #168
I think we should always give them the option to log out.

In my case, I wanted to log out to use a different account for testing.

[2015-09-02 15:22] johndbritton opened #170 "Use a spinner when waiting for an invite link"
I've seen this case a couple times:

<img width="996" alt="screen shot 2015-09-02 at 4 16 56 pm" src="https://cloud.githubusercontent.com/assets/123345/9635487/9bef2d94-518e-11e5-956a-1b648d5ba0de.png">

It'd be better to wait or display a spinner so that the link is immediately available.

[2015-09-02 15:23] johndbritton opened #171 "Error when trying to join existing team"
I get the following error when I try to join an existing team:

<img width="995" alt="screen shot 2015-09-02 at 4 19 58 pm" src="https://cloud.githubusercontent.com/assets/123345/9635542/ded2ae88-518e-11e5-8615-12de679cc87a.png">

[2015-09-02 15:25] johndbritton opened #172 "Wrong repository name in message"
On the invitation page, the following message has the wrong repository name:

The repository should be `assignment-user` instead of `assignment`. In the case of group assignments it should be `assignment-team`.

[2015-09-02 17:17] tarebyte commented on #170
Currently creating the invitation is a background job which is why that message is there. I don't think it has to be the case though since it's not very memory heavy.

[2015-09-03 10:03] johndbritton commented on #170
:cool: Yeah, I don't think a background job is necessary here.

[2015-09-03 12:41] johndbritton commented on #171
I haven't been able to reproduce this.

[2015-09-03 12:45] johndbritton opened #175 "Users cannot change teams"
Accepting a group assignment and choosing to create a new team or join an existing team is a permanent choice.

What should a participant do if they accidentally choose the wrong team. Is there any way to undo / correct a mistake?

If not, maybe we should warn them when they accept the assignment.

[2015-09-03 12:46] johndbritton commented on #77
@jasonlong I think we should go ahead with the following copy:

[2015-09-03 12:50] tarebyte commented on #171
I'll close this for now. Feel free to reopen if this creeps up again.

[2015-09-03 12:51] tarebyte commented on #175
We should probably warn them because right now because we have no way of switching them.

[2015-09-03 13:00] johndbritton commented on #175
Yeah, I don't think we want to allow them to change teams. It should be clear that they can't change after the fact.

Maybe at some point we'll allow admins to reorganize teams.

[2015-09-03 14:09] jasonlong commented on #77
That sounds good to me.

@tarebyte Are you able to get this wired up? We had our :baby: this morning, so I'm going to be mostly offline for a while.

[2015-09-03 14:13] tarebyte commented on #77
Yeah, I can do it. Congrats!

[2015-09-03 14:25] johndbritton commented on #77
Congrats @jasonlong!

[2015-09-03 20:16] tarebyte opened #176 "GitHub Footer"
@johndbritton do we need to add the official GitHub footer to the site?

[2015-09-04 10:01] johndbritton commented on #176
@cameronmcefee Should we include a footer on the site? Do you prefer the `github.com` footer, the same footer as `education.github.com`, or something like ":mortar_board: with :heart: by GitHub"

[2015-09-04 11:41] johndbritton opened #177 "Improved organizations listing page"
We should show the following info on the organizations listing page:

* organization name
* organization login, linked to the github organization page
* organization avatar

[2015-09-04 11:43] johndbritton opened #178 "Report an issue"
Let's include a link to "report an issue" and point it to https://github.com/education/classroom/issues/new. Probably makes most sense in the footer.

[2015-09-04 12:15] tarebyte commented on #177
If we are putting the avatar up do we want to put it up on the banner as well? I think you brought that up before

[2015-09-04 12:20] johndbritton commented on #177
Sure.

[2015-09-04 13:29] #142 closed

[2015-09-04 13:29] #161 closed

[2015-09-04 13:29] #172 closed

[2015-09-04 17:33] cameronmcefee commented on #176
I think that depends on what you want the footer to do for the people using the app. Will the links in the .com or ed-web footers be relevant to these people?  If not, I think ":mortar_board: with :heart: by GitHub" (presumably in octicons) will work great.

[2015-09-04 17:39] #168 closed

[2015-09-04 17:40] tarebyte opened #180 "ZeroClipboard not working with turbolinks"
Just a reminder to myself

[2015-09-04 18:24] tarebyte commented on #176
I think the octicons should be fine since we already have a link to GitHub education

[2015-09-04 18:28] johndbritton commented on #176
:+1: for octicons.

[2015-09-04 21:49] cameronmcefee commented on #176
:+1:

[2015-09-05 12:56] #175 closed

[2015-09-05 12:56] #169 closed

[2015-09-05 13:55] #170 closed

[2015-09-05 17:16] #177 closed

[2015-09-05 20:20] tarebyte opened #186 "Initialize assignments without starter code with a README"
@sivilotti brought up a great question:

One question that just occurred to me: will the repos that
are created for each group be initialized with a basic README?
In other words, will students be able to immediately clone the
GH repo to start working?

assignments. In the past I've always created the assignment
repos with an initial basic README so that groups could start
by cloning the GH one.  I

[2015-09-05 21:00] johndbritton commented on #186
Maybe a checkbox like on GitHub?

[2015-09-06 16:22] sivilotti commented on #186
Yes, a checkbox would be great.  Selecting the "initialize with a README" checkbox should be mutually exclusive with providing starter code.

[2015-09-08 19:28] johndbritton commented on #171
I just reproduced this, but don't think I did anything differently.

[2015-09-08 19:33] johndbritton commented on #171
I think this happens if you focus the text area and then select something from the dropdown. Pressing submit a second time succeeds.

[2015-09-09 10:05] tarebyte commented on #176
Closed by #181

[2015-09-09 10:05] #176 closed

[2015-09-09 10:06] tarebyte commented on #178
Closed by #181

[2015-09-09 10:06] #178 closed

[2015-09-09 15:13] #135 closed

[2015-09-09 15:13] #180 closed

[2015-09-09 15:21] johndbritton opened #189 "Tooltips in navigation"
Can we get some tooltips like this:

<img width="181" alt="screen shot 2015-09-09 at 4 20 21 pm" src="https://cloud.githubusercontent.com/assets/123345/9765987/b595af68-570e-11e5-9e17-3c35c602800c.png">

* Report an issue
* Profile
* Sign out

[2015-09-09 17:10] #189 closed

[2015-09-10 11:56] tarebytetest opened #193 "Label Testing"
Ignore me please

[2015-09-10 11:57] #193 closed

[2015-09-10 12:05] #157 closed

[2015-09-10 14:25] johndbritton opened #194 "Copy link doesn't work on assignments page"
On the assignments listing page the copy button doesn't work on items after the first in the list. Might want to check other pages where you have multiple invite links as well.

[2015-09-10 14:33] johndbritton opened #196 "Mobile invite other admins copy link doesn't work"
We should probably replace this link with a simple [here](#) since zeroclipboard doesn't work on mobile.

![img_3836](https://cloud.githubusercontent.com/assets/123345/9791013/048d7c50-57d1-11e5-9abf-1de4324c36fa.PNG)

[2015-09-10 14:34] johndbritton opened #197 "Mobile new assignment page needs some breathing room"
The page could use some vertical padding around each of the two major divs (individual and group), this feels kind of cramped.

![img_3837](https://cloud.githubusercontent.com/assets/123345/9791024/0dd6adf4-57d1-11e5-9a54-3be065c15657.PNG)

[2015-09-10 14:35] johndbritton opened #198 "Mobile invitation link"
It says to share the invitation link, but there's nothing there on mobile. We should tell them the link is available on the desktop version or maybe show the link as "[invitation](#)".

![img_3838](https://cloud.githubusercontent.com/assets/123345/9791028/0f988496-57d1-11e5-8e22-3b39a90a72e9.PNG)

[2015-09-10 14:39] tarebyte opened #199 "Flash Messages break mobile layout"
<img width="764" alt="screen shot 2015-09-10 at 10 38 56" src="https://cloud.githubusercontent.com/assets/564113/9791268/2d600d24-57a8-11e5-9e91-393df4d09be3.png">

[2015-09-10 22:04] mastahyeti opened #200 "Octokit caching is overly aggressive"
With one of my test accounts, I went to create an organization on the classroom app. The account doesn't have any GitHub orgs, so I clicked the `create an organization on GitHub.com` button and created an org on GitHub. When I went back to the classroom app, it still said I didn't have any GitHub organizations. Probably a caching issue? Kind of a frustrating experience for a user.

[2015-09-10 22:08] mastahyeti commented on #200
The problem was actually that I hadn't granted access for the new org to the oauth app.

[2015-09-10 22:08] #200 closed

[2015-09-10 22:08] mastahyeti commented on #200
Still confusing though.

[2015-09-10 23:15] tarebyte commented on #200
Probably should tell the user they need to grant access on that same page. Thanks for the feedback @mastahyeti!

[2015-09-11 10:15] johndbritton commented on #186
I've given this some more thought and I'm not fully convinced that this is a necessary feature. Rather than add another option to the setup process, folks who need a starter repository can use the starter code feature. It has the added benefit that the `README.md` is in their control and they can distribute instructions.

@tarebyte What are your thoughts on this? Why would we do this rather than j

[2015-09-11 12:50] sivilotti commented on #186
How about a radio button with 3 choices:
* include starter code from GitHub (+ textbox for repo to use)
* include only a default readme: repo will be immediately cloneable
* create empty repo: students will add an existing repo

Maybe it's not *really* adding a new option, since it's just replacing the optional text box? :-)

I don't think the third option is very helpful to students (or instructo

[2015-09-11 16:01] johndbritton opened #201 "Reusable set of teams"
I always have a hard time naming my "reusable set of teams". What if we don't let the user provide a name and just create the first set for them. The second time through we can ask them if they want to use the same teams as before, or create a different set.

Maybe give the set a name based on date or something like that.

[2015-09-11 16:29] mastahyeti opened #202 "Org-list cache bug"
Alright, this time I've got a real cache bug:

<img width="1014" alt="screen shot 2015-09-11 at 10 26 50 am" src="https://cloud.githubusercontent.com/assets/1144197/9820234/d933bebc-586f-11e5-92a6-6cc5bd79b89d.png">

In four different browsers I'm logged in as four different users. @mastahyeti is the only one with access to the orgs listed in that screenshot, but the `/organizations/new` endpoint

[2015-09-11 16:35] tarebyte commented on #201
We could also give a suggested name and let them change it if they wanted to.

I know for the classes I work with we have `Project Groups` and `Tech Teams`

[2015-09-11 16:39] johndbritton commented on #201
That might work too. I guess my point is that it's a strange input field that I don't necessarily understand as a new user and it'd be nice if it was simpler.

[2015-09-11 16:40] mastahyeti opened #203 "Strange error creating an org"
<img width="653" alt="2015-09-11 at 10 38 am" src="https://cloud.githubusercontent.com/assets/1144197/9820473/7f8af9c8-5871-11e5-8178-15ddfb2568d7.png">

I had created a classroom org with my @foobartestorg GitHub org previously, but deleted it. Trying to make the org again, I'm getting a cryptic error.

[2015-09-11 17:06] tarebyte commented on #203
@mastahyeti something went wrong with the background job for deleting the organization, it is in a soft delete state.

[2015-09-11 17:08] mastahyeti commented on #203
:cool:

[2015-09-11 17:28] johndbritton commented on #99
I think we've got all the administrative stuff done, anything else you can think of @tarebyte?

[2015-09-11 17:37] tarebyte commented on #99
That looks fine to me!

[2015-09-11 17:53] mastahyeti opened #205 "Direct object reference of grouping id: Can get added to any org/group-team"
Alright, this is a bit complicated, so let me know if I do a :shit: job of explaining it.

We have the good guys: @goodTeacher and @goodStudent. @goodTeacher, creates @goodOrg on GitHub and GoodOrg on the classroom app. @goodTeacher creates GoodAssignment on the classroom app with a grouping called GoodGrouping. GoodGrouping gets a database ID of 123. @goodStudent follows the assignment invite lin

[2015-09-11 18:22] tarebyte commented on #205
That was very clear scenario.

[2015-09-11 19:01] mastahyeti opened #206 "Direct object reference of group id: Can get added to any org/group-team"
Similar to https://github.com/education/classroom/issues/205, an attacker can choose a team from any org on the invitation-accept page by modifying the `group_id` parameter. This will cause the attacker to be added to the victim's team on GitHub.

[2015-09-11 19:18] tarebyte commented on #206
Should these checks be done on the controller or the model?

[2015-09-11 19:21] tarebyte commented on #206
Also is there a better pattern for forms that I can be using for forms to prevent things like this?

[2015-09-11 19:23] mastahyeti commented on #206
Generally the fix for a direct-object-reference issue is to scope the query. For example, instead of

[code]

you might do

[code]

I'm not sure though if that applies to this case. Regardless, I think checking in the controller is good, so it can be caught early on. Having a model validation that ensures that the groups/groupings/repo_accesses/users/orgs all make sense would be good to have as we

[2015-09-11 19:24] mastahyeti commented on #206
Not really. Some times you just need to pass an ID.

[2015-09-14 13:18] #202 closed

[2015-09-15 02:39] #205 closed

[2015-09-15 02:39] #206 closed

[2015-09-15 03:37] tarebyte commented on #171
@johndbritton I can't reproduce your error with the steps that you gave me.

[2015-09-15 03:37] #196 closed

[2015-09-15 03:37] #197 closed

[2015-09-15 03:37] #198 closed

[2015-09-15 03:37] #199 closed

[2015-09-15 04:10] #194 closed

[2015-09-15 04:27] tarebyte commented on #203
@mastahyeti I had rejected the tokens, debugging something else and therefore the organization was not removed properly.

The organization has now been deleted.

[2015-09-15 09:31] #203 closed

[2015-09-15 11:22] #49 closed

[2015-09-15 12:11] #201 closed

[2015-09-15 12:24] johndbritton commented on #186
I filed this as a feature request and will leave it open. We don't have a timeline to add this feature, but it's something we're going to consider in the future.

[2015-09-15 12:25] johndbritton commented on #171
@tarebyte I understand, I've had trouble reproducing it myself. Labeled this as a bug and we can leave it open in case anyone else experiences the same issue. If we don't get any more reports and don't experience it ourselves for a while then we'll close this and move on.

I don't think it's worth spending more time to resolve this until we have more reports and can reliably reproduce the issue.

[2015-09-15 12:29] johndbritton opened #214 "Organization name on mobile view needs "@""
On mobile, the organization name doesn't have an "@" symbol prefixed in `Organizations#show`

[2015-09-15 12:58] johndbritton commented on #49
:clap:

[2015-09-15 13:09] jglovier commented on #49
![anchorman-jump-in-air](https://cloud.githubusercontent.com/assets/1319791/9877217/77046bde-5b89-11e5-9fb5-6e871cc1576d.gif)

[2015-09-15 16:24] tarebyte commented on #214
@johndbritton Are you referring to header?

![ios simulator screen shot sep 15 2015 12 23 34](https://cloud.githubusercontent.com/assets/564113/9882821/9bdd451e-5ba4-11e5-982e-c4fd7505c52a.png)

[2015-09-15 16:36] johndbritton commented on #214
Sorry, my bad. It's on the organization listing page, what used to be called "dashboard."

[2015-09-15 16:49] #214 closed

[2015-09-15 17:18] #77 closed

[2015-09-22 05:22] #150 closed

[2015-09-22 07:56] johndbritton commented on #99
Let's do this :rocket:

[2015-09-22 07:56] #99 closed

[2015-09-22 13:25] giratikanon opened #234 "Adding an organization doesn't work"
When I click "Add your first organization" on the home screen for GitHub for Classrooms, then select an existing organization, I get this error message:

![image](https://cloud.githubusercontent.com/assets/333527/10019510/e4f8d616-610b-11e5-8f8d-b3459b26b484.png)

I am one of the owners for the organization I tried.

[2015-09-22 13:32] johndbritton commented on #234
Thanks for the report @giratikanon. What organization are you trying to add? Did you authorize the application to access that organization?

[2015-09-22 13:45] romanpitak commented on #234
Same problem. I tried to add `romanpitak-classroom` which I created for that specific purpose.

Note: I'm also a member of `docpad`, but not an owner and `docpad` was checked in by default in the list of organisations.

[2015-09-22 13:59] johndbritton commented on #234
@romanpitak Would you be willing to invite me to that organization to help out with testing? I'd like to see if I can recreate the issue.

I'm able to add organizations without any issue.

[2015-09-22 14:00] romanpitak commented on #234
@johndbritton invitation pending.

[2015-09-22 14:03] nuk commented on #234
Same here, when trying to create an Organization attached to another with the same name.

[2015-09-22 14:06] johndbritton commented on #234
@romanpitak I was able to add your organization without issue.

<img width="1026" alt="screen shot 2015-09-22 at 3 05 15 pm" src="https://cloud.githubusercontent.com/assets/123345/10020535/62f96ee8-613b-11e5-9a99-43b6b729bf87.png">

You should be able to access it at this url: https://classroom.github.com/organizations/13029875-software-engineering

[2015-09-22 14:16] romanpitak commented on #234
@johndbritton Still not working for me.

[classroom.github.com](https://classroom.github.com/) is giving me the same error as before:

[your direct link](https://classroom.github.com/organizations/13029875-software-engineering) - is giving me a `404`:

[2015-09-22 14:26] johndbritton commented on #234
I think we've identified the issue, working on confirming and making a fix. Thanks for your patience.

I suspect we're experiencing something like this: https://github.com/plataformatec/faraday-http-cache/issues/38#issuecomment-40743361

[2015-09-22 14:47] johndbritton commented on #234
@romanpitak @giratikanon @nuk Can you all give this another go and report back? I haven't been able to reproduce this myself, but I think it may be fixed.

[2015-09-22 14:51] romanpitak commented on #234
@johndbritton seems to be working fine from my end :)

Thanks for the quick fix

[2015-09-22 15:03] giratikanon commented on #234
Works now. Thank you!

[2015-09-22 15:03] #234 closed

[2015-09-22 15:30] gdi2290 opened #237 "I can't change the header background image"
<img width="1195" alt="screen shot 2015-09-22 at 8 30 22 am" src="https://cloud.githubusercontent.com/assets/1016365/10022930/31b9e07e-6104-11e5-8801-f06e367bd57a.png">
rather than the green background I rather create my own

[2015-09-22 15:33] gdi2290 opened #238 "daily/weekly/quarterly/yearly assignments"
I'm unable to create daily assignments per-group or per-user

[2015-09-22 15:34] johndbritton commented on #237
The header image is not configurable. We don't have any plans to implement this, but I'm marking it as a feature request to consider in the future.

[2015-09-22 15:34] #237 closed

[2015-09-22 15:35] johndbritton commented on #238
@gdi2290 This issue report is unclear. Are you experiencing an error, or is this a feature request?

[2015-09-22 15:36] gdi2290 commented on #238
sorry it's a feature request

[2015-09-22 15:41] johndbritton commented on #238
@gdi2290 Could you give some more details about how you envision the feature working? We tried to keep things as simple as possible to start out, but we definitely want to listen to users and make improvements where warranted.

We can't promise to implement the feature, but we appreciate the requests, as they inform our future direction.

[2015-09-22 15:49] johndbritton commented on #234
@romanpitak Just as an FYI, I left your test organization. Thanks for your help with troubleshooting.

[2015-09-22 16:34] bnb opened #239 "No Organizations appearing"
I'm trying to set up Classroom, but it says no organizations are tied to my account. I created one as it suggested, and it still says there are no organizations. Am I doing something wrong?

[2015-09-22 16:36] tarebyte commented on #239
@bnb you may need to allow access to it. Checkout https://github.com/settings/applications and click on 'Classroom for GitHub'.

Make sure that you have enabled access for the organization.

[2015-09-22 16:36] johndbritton commented on #239
@tarebyte maybe we should add a `ProTip` to the organizations listings page pointing this out.

[2015-09-22 16:37] tarebyte commented on #239
@johndbritton agreed, will open a PR later

[2015-09-22 16:38] nuk commented on #234
Working like a charm

[2015-09-22 16:40] gdi2290 commented on #238
Ya I want to be able to assign a group of users to an assignment with a time limit and a review process

What's the workflow with an assignment? so far I see it's doing this

* create assignment
* send link to user

* secret team is created with their name
* user is added to secret team
* user is presented with a copy of the starter repo
* assignment is the name of the assignment with a uuid

* no

[2015-09-22 16:42] hartmamt opened #240 "Enterprise"
Can this use GitHub enterprise?  We have the academic unlimited license and this would be a great service to offer on top of that.

[2015-09-22 17:00] johndbritton commented on #240
@hartmamt Classroom for GitHub doesn't support GitHub Enterprise and we don't have a plan to add support right now.

That said, it is open source and it probably wouldn't be too hard for you to take the code and stand up an instance that works with your GitHub Enterprise. We use Octokit for all our GitHub API calls, their [enterprise docs](https://github.com/octokit/octokit.rb#working-with-github-

[2015-09-22 17:00] #240 closed

[2015-09-22 17:01] johndbritton commented on #238
@gdi2290 I think the process you outlined is beyond the scope of what we're able to commit to right now. I can see adding some additional features in the future around things like supporting a way to "finish" an assignment and have deadlines.

[2015-09-22 17:01] #238 closed

[2015-09-22 17:02] gdi2290 commented on #238
thanks for your time!

[2015-09-22 17:03] johndbritton commented on #238
Thanks for the feedback, it's good to know what folks are looking for.

[2015-09-22 17:18] justfortherec commented on #239
Granting access at the above mentioned page does not resolve the issue for me. Classroom still says I don't have any organizations.

Logging out and in again does not help either.

[2015-09-22 17:27] jrk opened #241 ""Add organization" page only shows some orgs"
The drop down list only shows 3 of the orgs I'm involved in. I think this is only a subset of orgs I even created/own/administer. It notably doesn't include the org I just created for a new course (CS448H)

[2015-09-22 17:31] tarebyte commented on #241
@jrk if you created the org after you authenticated into the application, then you have to give us access.

You may be able to resolve this by going here: https://github.com/settings/applications, selecting "Classroom for GitHub" and then authorizing your organization.

If that doesn't work please let me know!

[2015-09-22 18:09] matz3 commented on #241
Worked for me, thanks :+1:

[2015-09-22 18:23] mcdickenson commented on #239
+1 @justfortherec

[2015-09-22 18:29] jrk commented on #241
Worked. Thanks. FWIW, I understand why app auth works this way, but it is quite confusing. It's worth thinking about ways to make the option to re-auth new repos for an app after initial registration much more straightforward. (Specifically, this should be visible in the *apps*, not just here, otherwise it appears that the apps are silently broken. I've run into this with Slack integrations and ot

[2015-09-22 18:29] #241 closed

[2015-09-22 19:19] johndbritton commented on #241
Good point, I'll pass that along to our platform team.

[2015-09-22 19:39] gurgelrenan commented on #234
Still not working here :(

[2015-09-22 19:39] johndbritton commented on #239
@justfortherec @mcdickenson can you provide the names of your organizations?

[2015-09-22 20:05] johndbritton commented on #234
@gurgelrenan Can you open a new issue with details of your error. I think we found the root cause of this issue, so you might be experiencing something different.

[2015-09-22 20:11] mks-instructors commented on #239
Same issue here. I have green checkmarks next to my orgs on the settings page for the "Classroom for GitHub" application. The app still shows no orgs.

[2015-09-22 20:14] johndbritton commented on #239
@mks-instructors What's the name of the organization you are expecting to see?

[2015-09-22 20:14] hatboysam opened #244 "Classroom is saying I don't have any organizations yet, but I do"
I created an org with the flow but Classroom can't see it.

[2015-09-22 20:17] sebie commented on #244
Duplicate of #239 ?

[2015-09-22 20:31] mks-instructors commented on #239
@johndbritton makersquare

[2015-09-22 20:43] johndbritton commented on #239
Thanks for the report, we're investigating this.

[2015-09-22 21:11] johndbritton commented on #239
@mcdickenson Can you provide a screenshot of the organization access section of this page from your GitHub account: https://github.com/settings/connections/applications/64a051cf1598b9f0658f

[2015-09-22 21:18] johndbritton commented on #244
Closing this as duplicate of #239. Please make sure you have authorized the application to access an organization that you have administrative privileges on, once you're sure of that, please provide additional details in #239.

[2015-09-22 21:18] #244 closed

[2015-09-22 21:26] johndbritton commented on #239
@mks-instructors @justfortherec @bnb Has anyone else on your team added the organization to Classroom for GitHub. In some cases, folks aren't seeing their organizations in the list because they've already been added.

[2015-09-22 21:40] hatboysam commented on #239
I think the bug here has to do with the following steps:

  *  I granted classroom access to all of my orgs, but I am not admin of any
  * Classroom says 'hey, create an org!' so I do that
  * Classroom does not then re-prompt me for access to the new org, so therefore it still sees nothign

I had to go to https://github.com/settings/connections/applications/64a051cf1598b9f0658f to authorize class

[2015-09-22 21:41] hatboysam commented on #239
Actually I spoke too soon.  Even now classroom *still* does not see the org I created.  I even revoked access and granted it again, still nothing.

[2015-09-22 21:57] faloi opened #245 "Ability to create a set of teams from existing organization's teams"
Hi there!

I'm part of a group that teaches in several universities in Argentina, and we have many organizations with a lot of teams created with a [tool we developed](https://github.com/dds-utn/enma), with the same spirit as this one: automating the creation of assignments. Obviously we will be deprecating that one in favour of GitHub Classroom but (as good programmers we are) we don't want to cr

[2015-09-22 22:09] ajarmst opened #246 "Stops accepting students after about 20 on an assignment?"
After about 20 students accepting the invitation for an assignment, creating their repositories, the remaining students got a message claiming they'd exceeded the repository count, and suggesting they get an upgrade.  The students getting that message currently have 0 repositories.

I assume the limit they're hitting is on the classroom organization (CMPE1700-2015-Sep-A01) which should be subordin

[2015-09-22 22:24] ajarmst commented on #246
Ok, found the same issue on my organization page.  Yes, it appears we are hitting the "20 private repository" limit for the (free) plan that we were assigned when we first got our academic organization account.

If we were to use Classroom.Github, we would need on the order of (100 students * 6 courses/year * 20 assignments = ) 12,000 repositories per year.  As my tiny test run of 25 students for

[2015-09-22 23:22] tjhorner commented on #246
Well, it _is_ open source... you could fork it and change it to work on something like GitLab and host it yourself :)

[2015-09-22 23:28] faloi commented on #245
I imagine something like this:

![image](https://cloud.githubusercontent.com/assets/1585835/10034601/584feb20-6168-11e5-9536-bb6eedeae50d.png)

[2015-09-22 23:29] BatuhanK opened #247 "Organizations not updating."
I created an organization because classroom requires it, but it still says "You have no organization, please create one"

[2015-09-22 23:29] #247 closed

[2015-09-22 23:29] BatuhanK commented on #239
+1

[2015-09-22 23:59] tjhorner opened #249 "Open Graph metadata?"
I posted a link to classroom.github.com in my team's Slack chat then I noticed that there was no title or description for the metadata!

It would be nice to give a quick overview of Classroom in a meta tag. The description of this repository fits nicely: "Classroom for GitHub automates repository creation and access control, making it easy for teachers to distribute starter code and collect assign

[2015-09-23 00:04] jpolitz opened #250 "What's an "organization" in Classroom?"
I was baffled by this page on my first test of Classroom:

<img width="1057" alt="screen shot 2015-09-22 at 7 55 24 pm" src="https://cloud.githubusercontent.com/assets/119891/10035171/31887ff0-6165-11e5-8834-79d70f96556a.png">

It says "New Organization," and then there's a box for the name, and a dropdown that says "Organization".  Am I selecting which organization I'm adding an organization to?

[2015-09-23 00:44] timofei7 commented on #239
+1   see 2 of my organizations but not the one i need.  i had created a classroom organization and then reset it and after that that particular org disappeared.

[2015-09-23 00:57] skaragianis opened #251 "Can no longer access shared repo, or organisation via classroom"
Hey,

I thought I'd give your new service a whirl for our organisations developer test.

I shared an organisation and repo, testing it out. All good.

Made a change to the shared repo and suddenly it was no longer accessible within classroom. Link to administer it was broken. And no links to delete or remove classroom association.

Went to remove organisation and became concerned by error messages

[2015-09-23 01:05] tarebyte commented on #251
@skaragianis what change did you make to the repo?

btw when you remove the organization from Classroom it only removes the items that Classroom has created.

[2015-09-23 01:08] tarebyte commented on #251
Also what error messages are you referring to? Can you share a screenshot?

[2015-09-23 01:11] skaragianis commented on #251
That makes sense. From the message I couldn't be sure.

As I said, happy to give it another swing. It's a good idea and I would
like to use it.

On Wed, Sep 23, 2015 at 11:05 AM, Mark Tareshawty <notifications@github.com>
wrote:

[2015-09-23 01:14] skaragianis commented on #251
[image: Inline image 1]

Unfortunately this is all I see when I hit https://classroom.github.com
now, having revoked acess. The organisation that was linked (if you can see
traffic from me in the logs) is AssetView.

On Wed, Sep 23, 2015 at 11:08 AM, Mark Tareshawty <notifications@github.com>
wrote:

[2015-09-23 01:15] tarebyte opened #252 "Changing "Organization" to "Classroom""
@johndbritton there seems to be a lot of confusion what the difference between an Organization and a Classroom are. I think that is due to the fact that we intermingle the terms.

We say it's Classroom for GitHub, but we never actually use the term Classroom anywhere else.

What do you think using classroom in lieu of organization throughout the app.

[2015-09-23 01:15] tarebyte commented on #251
@skaragianis I can't see an image, I think it's due to the fact you are emailing me.

[2015-09-23 01:26] skaragianis commented on #251
[image: Inline image 1]

I've attached it again. If its not coming through, perhaps its another
deficiency you can add to the backlog ;-)

On Wed, Sep 23, 2015 at 11:15 AM, Mark Tareshawty <notifications@github.com>
wrote:

[2015-09-23 01:27] skaragianis commented on #251
We're sorry, but something went wrong.
If you are the application owner check the logs for more information.

Is what the message says.

On Wed, Sep 23, 2015 at 11:26 AM, Steffan Karagianis <
steffan.karagianis@gmail.com> wrote:

[2015-09-23 01:27] tarebyte commented on #251
@skaragianis thanks! I'll check it out

[2015-09-23 01:30] GabeIsman commented on #250
+1. I also found this deeply confusing. Basic terminology problem: 'Organization' is ambiguous on this page.

[2015-09-23 01:36] skaragianis commented on #251
Appreciated! I really would like to use this.

On Wed, Sep 23, 2015 at 11:27 AM, Mark Tareshawty <notifications@github.com>
wrote:

[2015-09-23 01:37] skaragianis commented on #251
Even if you can just clear me out of classroom entirely for now, I'll
relink, not pushing any changes to the attached repo, and give it a whirl
with candidates. I did test it with a new github account and it looks like
it will work well for us.

On Wed, Sep 23, 2015 at 11:27 AM, Mark Tareshawty <notifications@github.com>
wrote:

[2015-09-23 01:48] thiagogcm opened #253 "Not detecting my organization"
I do have an organization and it's not being detected during first use

[2015-09-23 01:50] #253 closed

[2015-09-23 01:50] thiagogcm commented on #253
Sorry, didn't see previous issues

[2015-09-23 02:14] tarebyte commented on #239
Just to cover all of the bases, is anyone here using the new beta organizations on GitHub?

[2015-09-23 06:15] winston opened #254 "Resource could not be found on github.com"
Hi,

I created an assignment, invited myself to it but now I can't seem to access the assignment.
![screen shot 2015-09-23 at 2 12 51 pm](https://cloud.githubusercontent.com/assets/2112/10038790/345be274-61fd-11e5-80b9-4ce93496cc63.png)

Clicking on the link gives me the error message "Resource could not be found on github.com".

----

Also, when a student accepts an assignment, it actually create

[2015-09-23 06:32] justfortherec commented on #239
@johndbritton

https://github.com/VUAPTest
I have created it right after I had allowed classroom access to my organizations (when classroom suggested it).

No, I'm currently testing alone.

![screenshot_2015-09-23_08-31-33](https://cloud.githubusercontent.com/assets/935534/10038951/9f168f7c-61cd-11e5-995a-c5f04806769b.png)

@tarebyte

I don't use beta (at least not that I know of)

@hatboysam desc

[2015-09-23 09:31] johndbritton commented on #250
This is follow up from https://news.ycombinator.com/item?id=10261303 & https://news.ycombinator.com/item?id=10262592.

[2015-09-23 09:37] johndbritton commented on #253
Duplicate of https://github.com/education/classroom/issues/239

[2015-09-23 09:37] johndbritton commented on #247
Duplicate of https://github.com/education/classroom/issues/239

[2015-09-23 09:41] johndbritton commented on #252
Yeah, we kind of had this discussion earlier and settled on using just one term throughout the application. I think we should probably stick to using the term `Organization`in code, but in the UI use `Classroom` for everything except the explainers on pages where teachers create a classroom by "linking an organization account on GitHub."

Open to other solutions, but that makes sense to me.

[2015-09-23 09:43] johndbritton commented on #251
@skaragianis You are able to remove and reset your organization by going to the settings page within classroom and clicking the DangerZone button labeled "Remove and reset."

That will remove your organization from Classroom for GitHub and delete the teams and repositories that were created by Classroom for GitHub.

[2015-09-23 09:45] johndbritton commented on #250
Yeah, I think this experience could be better as well. Unfortunately, we don't have a way to create an organization through the API so the org must be created on GitHub first.

I think what we want to do here is change the title to "New Classroom" and use language like "Link your new classroom to an existing organization account on github.com."

@tarebyte suggested updating terminology throughout

[2015-09-23 09:48] johndbritton commented on #249
@tjhorner That's a good idea. Would you be interested in sending a pull request for that? You'd just need to add the metadata to the [site layouts](https://github.com/education/classroom/tree/master/app/views/layouts).

If you do, I think the appropriate metadata to start with is

Maybe in the future we could get more sophisticated and provide metadata for the particular course that the user is lo

[2015-09-23 09:54] johndbritton commented on #246
@ajarmst The application stops making private repositories once you've reached your quota. You can request more private repositories at https://education.github.com/discount. Please be detailed in the additional information area of the request, and feel free to include a link to this comment, I'll do what I can to help you find a way to make things work for your courses.

My recommendation would b

[2015-09-23 09:55] #246 closed

[2015-09-23 10:03] johndbritton commented on #245
@faloi Thanks for the feedback. It's not likely that we're going to add a feature to import existing teams into Classroom for GitHub, mainly because of the decisions we've made around how we use teams for access control in the application.

Right now, students are added to teams by selecting an existing team or creating a new team when they accept an invitation. If a teacher wants to assign teams,

[2015-09-23 10:03] #245 closed

[2015-09-23 10:03] skaragianis commented on #251
Hi John,

I just tried again, visiting https://classroom.github.com which immediately
redirects to https://classroom.github.com/organizations with the same
message:

"We're sorry, but something went wrong
If you are the application owner check the logs for more information"

In "third party access" within the settings for assetview I tried "deny
access" then "grant access" for "Classroom for Githu

[2015-09-23 10:08] johndbritton opened #255 "Pre-authorization tutorial"
It looks like the majority of issues folks are having are with authorizing the app.

Let's insert a pre-roll page before we authorize the user that explains what permissions we're asking for, why we need them, how to grant them, and also why they shouldn't de-authorize the app (at least until they've removed and reset their organization).

[2015-09-23 10:12] johndbritton commented on #186
So we've taken to the pattern of labeling feature requests and closing them unless we have plans to work on them in the immediate term. That's not to say we aren't going to consider this, just keeping the issues list clean.

[2015-09-23 10:12] #186 closed

[2015-09-23 10:29] johndbritton commented on #251
@skaragianis I'm trying to figure out exactly how the issue started happening, you said

What change did you make exactly?

[2015-09-23 10:36] skaragianis commented on #251
I edited the readme.md in assetview/dev-test which classroom was configured
with. After I pushed and went back to classroom I got an error message when
I tried to click the settings for that repo. I'm sorry that I can't tell
you exactly what that message was. That's when I went hunting for a way to
delete the association and start again. There was no repo level action
because I could no longer acc

[2015-09-23 11:12] johndbritton commented on #251
Update: We think we've found the source of this issue and are working on a fix. Thanks for your help with debugging.

[2015-09-23 11:23] skaragianis commented on #251
I look forward to benefitting from your new service! :-) And good on you
for having a prominent 'report issue'. I wouldn't have bothered otherwise;
my loss and maybe yours. I'll steal that idea thank you :-)

Have fun!

Steff.

On Wed, Sep 23, 2015 at 9:12 PM, John Britton <notifications@github.com>
wrote:

[2015-09-23 11:41] johndbritton commented on #254
Can you clarify what link you're clicking?

This is the intended behavior, and it's unlikely to change. The main reason is that we offer free private repositories to teachers for their courses and students for their own projects and we don't want school work to take away from the capacity offered on student plans. In addition, it's easier for the teacher to have everything in one place on GitHub,

[2015-09-23 13:40] rickyc opened #257 "Assigning Private Repos as Starter Codes"
I tried to put a private repo path as the "starter code from GitHub path," but it just creates a blank repo. It seems to be fine with public repos.

[2015-09-23 13:43] tarebyte commented on #257
@rickyc do you have access to the private repo? We use the creators token to get the starter code

[2015-09-23 13:44] rickyc commented on #257
Yep, I have access to the private repo since I made it. I think it might be the issue where I'm trying to create a **public** assignment, but I'm assigning it a **private** repo as the starter code.

[2015-09-23 13:47] tarebyte commented on #257
@rickyc that shouldn't be an issue, let me try it out and I'll get back to you shortly

[2015-09-23 13:47] rickyc commented on #257
Hmm, so I was just trying to create a video depicting the problem and of course it works! Closing the issue now.

[2015-09-23 13:49] tarebyte commented on #257
@rickyc your starter code is pushed up as a background job, there is a possibility that it was just in the queue.

[2015-09-23 14:49] joewiz opened #258 "Unable to delete classroom"
Even after typing in the full name of the classroom, the reset and remove button remains inactive.  See this screenshot (taken in Mac OS X 10.10.5, Chrome 45.0.2454.93):

![screen shot 2015-09-23 at 10 47 28 am](https://cloud.githubusercontent.com/assets/59118/10048369/86d25de8-61e0-11e5-8d01-87cb9293ff87.png)

[2015-09-23 14:49] tarebyte commented on #258
@joewiz you just need to type `HistoryAtState`

[2015-09-23 14:56] joewiz commented on #258
A little scary, I'll be frank - but the text makes clear that it's only the repositories created by the classroom that are being reset. Thanks!

[2015-09-23 14:56] #258 closed

[2015-09-23 14:58] tarebyte commented on #258
We don't want it to be scary, but we **DO** want you to be absolutely sure that you want to perform the action :grin:

[2015-09-23 15:04] Danappelxx commented on #239
:+1:

[2015-09-23 15:14] joewiz commented on #258
I've deleted repos before and understand the drill.  The scary bit is the feeling that I'm deleting the organization. Again, the explanatory text is clear that this isn't the action being taken, but when I type an organization name and click on a button called, "Reset and remove this organization", it feels like I'm about to, um, reset and remove the organization.

[2015-09-23 15:15] joewiz commented on #258
Shouldn't the text be revised to say, "Reset and remove this organization's Classroom"?

[2015-09-23 15:28] fer-rum commented on #258
Agreed, it got me too the first time. I only figured out when I stumbled upon this issue :)

[2015-09-23 16:05] johndbritton opened #259 "Auto join any existing classrooms"
If a user is an admin on an organization that exists on Classroom, they should auto join the organization and it should be listed on `/organizations`.

There have been a couple cases where other administrators have added the organization to Classroom without sending out the direct invite link and they didn't get the access they should have.

cc/ @mks-instructors

[2015-09-23 16:05] johndbritton commented on #239
@mks-instructors It looks like someone else in your organization already add it to Classroom for GitHub, they can invite you to gain access. I opened up another issue to track improvements related to your issue: https://github.com/education/classroom/issues/259

[2015-09-23 16:07] johndbritton commented on #239
@justfortherec I'm still stumped by your case. Can you check one more time for me by doing a hard refresh on the organizations dashboard (cmd+shift+r / ctrl+shift+r). It might be that your browser is caching that page incorrectly because I see that you should have access to your organization in the dropdown.

[2015-09-23 16:11] BatuhanK commented on #239
I have 2 organizations and one of them recently created but it's still not showing on https://classroom.github.com/organizations

[2015-09-23 16:15] mikeantonelli opened #260 "Assignment Starter Code - Reference branch/tag"
As an assignment creator, I would like to be able to reference a specific tag or branch for assignment starter code so that I can create progressive assignments in the same repository.

I'm imaging an assignment progression that would be:
- Project Setup - tags/assignment-1
- Hello World - tags/assignment-2
- Writing Tests - tags/assignment-3

Currently this would require separate repositories for

[2015-09-23 16:21] mcdickenson commented on #239
@johndbritton It's working for me now. Thanks!

[2015-09-23 16:25] johndbritton commented on #239
@mcdickenson Can you elaborate on any steps that you took that might have resolved the issue?

[2015-09-23 16:41] johndbritton commented on #260
Thanks for the idea @mikeantonelli.

Is the idea that each of the branches are related and the steps build on each other? I think this could be accomplished with a single assignment in Classroom and some documentation in the README.md of your master branch.

[2015-09-23 17:30] johndbritton opened #263 "Request fewer permissions on invitation"
When a student accepts an invitation, we might be able to request less access than we do currently. We need `repo` scope to create repositories, but we could get that from the teacher when they authorize.

[2015-09-23 20:00] mikeantonelli commented on #260
I'm planning to to teach a class on unit testing javascript in ruby on rails projects. So assignment one would be project setup, and assignment two would require a successful project setup to write your first javascript test. If the student was only mostly correct, or had some trouble with assignment one, I wouldn't want to block them from writing their first test, moving on, or giving them the ri

[2015-09-23 20:32] faloi commented on #245
Ok, let's say I do that. I still won't have a way to include them in an assignment, right?

[2015-09-23 21:44] johndbritton commented on #245
I don't really understand the question here. The case I was suggesting was that you split your class into teams of four and tell them verbally who their groups are (or they choose in class). Then, one student from each team accepts the assignment and creates a team using the invitation. The others join the team by choosing from the list.

[2015-09-23 22:04] faloi commented on #245
I'll try it again with a concrete example.

We have a course (in fact many courses, but let's take just one to simplify things) with 15 groups of 2 students. Each of them has a team within [our organization](https://github.com/unq-objetos3-alumnos), we created them some months ago with the tool I mentioned in the description.

Next week we want to roll out a new assignment, and we want to try Clas

[2015-09-23 22:07] johndbritton commented on #245
Thanks for clarifying, I understand now.

Ideally you wouldn't have to make them join new teams, but due to the way we're managing them with the Classroom app, it's not really easy for us to import arbitrary team data from an existing organization.

@tarebyte Do you have any ideas for workarounds that wouldn't make things a lot more complex for the standard use case?

[2015-09-23 22:14] justfortherec commented on #239
@johndbritton
Apparently it is just me being stupid. Or it is your terminology being stupid. Probably a combination.

Classroom still tells me there is no organization and I have to add one before I can start. However if I click on the big green button, I'm led to a form where I can add a "new organization" by giving a title and selecting an organization from the dropdown menu which includes my al

[2015-09-23 22:43] reedcwilson opened #265 "Assignment Settings gets "Resource could not be found on github.com""
I created an assignment `python-execution` and then sent a request (to myself) and accepted it. I then deleted the generated repository (`python-execution-reedcwilson`) in the organization. When I go back to Classroom and attempt to click on the assignment I get the error: "Resource could not be found on github.com."

![resource_not_found](https://cloud.githubusercontent.com/assets/1641775/1006091

[2015-09-23 22:47] #265 closed

[2015-09-23 22:50] reedcwilson commented on #254
@johndbritton I am having the same problem. I created a new issue (#265) but closed it because I didn't see this one.

I encounter this problem based on the following scenario:

I created an assignment `python-execution` and then sent a request (to myself) and accepted it. I then deleted the generated repository (`python-execution-reedcwilson`) in the organization. When I go back to Classroom and

[2015-09-24 01:54] zsw12abc opened #266 "The members in my organization cant enter the github classroom page"
i just invite them into my organization
after they accepted, they cant enter the classroom page.

[2015-09-24 02:04] tarebyte commented on #266
@zsw12abc only owners of the organization can see your pages on Classroom for GitHub that aren't invitation pages.

[2015-09-24 02:07] zsw12abc commented on #266
so if i want to give them assignment, the only thing i can do is give them the link of the assignment?

[2015-09-24 02:09] zsw12abc commented on #266
and when they accept this assignment, they get the error message:
You are forbidden from performing this action on github.com

[2015-09-24 02:11] tarebyte commented on #266
can you give me the assignment link to try out?

[2015-09-24 02:12] zsw12abc commented on #266
yes
here is the link
https://classroom.github.com/assignment-invitations/b6680a4cd50797ad1155bde741d20c79

[2015-09-24 02:16] zsw12abc commented on #266
i just create another account for testing it.
what i do is i invite the test account into my organization
then, i use the test account to click this link and try to accept the assignment.
it gives me the error message, You are forbidden from performing this action on github.com
then, i find that there is a secret team automatically created and the name is same as the test account's name, but test

[2015-09-24 04:33] jingruoruchu opened #267 "testone"

[2015-09-24 04:34] jingruoruchu commented on #267
testone

[2015-09-24 04:34] #267 closed

[2015-09-24 04:37] jingruoruchu opened #268 "test"
test

[2015-09-24 07:01] bpesquet opened #269 "Course material creation with Classroom"
Hi GitHub,

I have begun using Classroom with my students and it works fine, thanks !

The next step would be for GitHub to provide a tool or a template to create course material in a standardized way. A few adventurous teachers have already started to tweak Jekyll : [example 1](https://github.com/qrohlf/sensible-web-development/), [example 2](https://github.com/defeo/aws/) (in French).

A standar

[2015-09-24 08:09] malkinpage opened #270 ""You’re not managing any organizations yet" message even though I am the owner of an organization"
After creating an organization on my account, I returned to classroom and i get the same message that I am not managing any organizations yet

[2015-09-24 10:36] robsonmarques commented on #254
I am having this problem too. My scenario is the same of @reedcwilson.

Plus, In cannot create new assignments (when I try I get the same error "Resource could not be found on github.com").

So I reseted my organization on Classroom, and now my Github organization does not appear in the list when creating a new organization on Classroom.

[2015-09-24 10:41] johndbritton commented on #239
@justfortherec thanks for checking, yeah that's our fault for not being more clear. We're going to fix that up in #252.

I'm glad to hear that it's working for you though.

Is anyone else still having an issue? If you don't have any organizations click the green button and check the drop down menu. L

[2015-09-24 10:50] johndbritton commented on #254
This is what is causing the issue. Classroom for GitHub expects that you do not delete the repositories it creates.

@tarebyte We should handle this situation more gracefully, maybe we should create a `deleted` state for assignments or something like that where things still work in classroom but we tell the user that the repository on GitHub has been deleted and maybe provide a button to re-create

[2015-09-24 10:59] johndbritton commented on #239
@bnb You need to [grant access](https://github.com/settings/connections/applications/64a051cf1598b9f0658f) to an organization that you're an admin of.

[2015-09-24 11:03] johndbritton commented on #239
I've looked through every report on here and I don't think there's actually a bug in the code, but clearly there's a UX issue here. Closing this in favor of #252.

If you don't see the organization you're looking for in Classroom for GitHub, please make sure you:

1. Are an admin of the organization you're trying to add
2. Have [granted access](https://github.com/settings/connections/applications/

[2015-09-24 11:03] #239 closed

[2015-09-24 11:04] #268 closed

[2015-09-24 11:06] johndbritton commented on #266
I am also seeing this issue @tarebyte.

[2015-09-24 11:12] johndbritton commented on #269
You're welcome. Thanks for letting us know that it's working well, it's great to hear.

I've heard this suggestion before, and would love to work on something like that.

If we work on a standardized format, it probably won't impact this application directly as the app can use any repository as a starting point.

[2015-09-24 11:12] #269 closed

[2015-09-24 11:13] winston commented on #254
Sorry I wasn't clear. I meant the assignment link "Test 1".

Thanks for the clarification on the intention. Appreciate it! :)

I don't think this is the problem though. Although I have also deleted the generated repo, but the error occurred before the deletion.

One thing that I did similarly to @reedcwilson was to invite myself to the assignment, i.e. I am both the assignment creator and the stud

[2015-09-24 11:15] johndbritton commented on #270
Please make sure you have [granted acess](https://github.com/settings/connections/22024051) to your organization first. Then you should be able to [add it](https://classroom.github.com/organizations/new) to Classroom for GitHub.

Once you've done that, you can reopen this if there's still an issue.

[2015-09-24 11:15] #270 closed

[2015-09-24 11:16] johndbritton commented on #254
Thanks for the additional details @winston. I'm going to wait and see what @tarebyte thinks about this, but I think we're close to finding the root cause.

[2015-09-24 11:31] johndbritton opened #271 "Illegal option "--no-clobber" in script/setup"
When running `script/setup` I get the following error:

[code]

Looks like it's caused by the [--no-clobber](https://github.com/education/classroom/blob/6da2cb71e75f27079e180ffb66199f2b47e38d4d/script/setup#L22) option.

cc/ @tarebyte

[2015-09-24 11:42] #271 closed

[2015-09-24 11:45] tarebyte commented on #266
@zsw12abc I'm pretty sure I'm right, but is your organization in question a new beta GitHub org?

[2015-09-24 11:59] johndbritton commented on #258
Yeah, I agree we can get some better terminology here.

[2015-09-24 13:59] johndbritton commented on #251
@skaragianis We deployed a fix that should resolve this issue. Can you check to see if it's working for you now?

[2015-09-24 14:24] johndbritton commented on #171
I just reproduced this again, perhaps in a different case: After deleting an old classroom, I reconnected and tried to accept an assignment. It tried to create a team named "johndbritton" which wasn't removed when I "reset and removed" my previous classroom. This is likely due to a failed deletion job.

[2015-09-24 14:25] johndbritton commented on #171
Also could be caused by folks recreating things faster than the job runs.

[2015-09-24 14:27] johndbritton commented on #254
I'm able to reproduce this, it's caused by a user deleting a repository or a failed deletion job.

@tarebyte we should also investigate where we're redirecting people when this error occurs. In one case I ended up on the new assignment page and in another I ended up on the assignments list.

[2015-09-24 14:28] johndbritton commented on #254
@robsonmarques This is due to a failed deletion job. Since you deleted the repository manually before resetting your classroom the reset job failed (it couldn't find the repository to delete). We're working on a fix.

[2015-09-24 15:45] robsonmarques commented on #254
Thanks @johndbritton !

[2015-09-24 17:37] johndbritton commented on #254
@winston @reedcwilson @robsonmarques I've just deployed a fix for this. Can you try navigating to the assignment page on Classroom and see if you're still getting the error.

We haven't resolved the issues related to creating a new Classroom after a failed deletion yet, but let me know if the first step worked.

[2015-09-24 17:39] winston commented on #254
@johndbritton Yes. Works now. I can access the assignment page! Thank you! :)

[2015-09-24 17:58] robsonmarques commented on #254
@johndbritton I can't help on this, since I've reseted my organization. Sorry. Looking forward to create a new Classroom. :)

[2015-09-24 18:23] johndbritton opened #275 "Failed deletions make it impossible to re-add an organization"
Steps to reproduce:

1. Connect an organization
2. Make an assignment
3. Accept an invitation
4. Delete the created repository from GitHub
5. Reset and remove the organization from classroom

Expected:
All records, teams, and repositories deleted. Possible to add the organization again.

Actual:
Error on deleting a non-existent repository causes the background job to fail and it doesn't delete the

[2015-09-24 18:23] #254 closed

[2015-09-24 18:24] johndbritton commented on #254
This issue is resolved, but the related issue of not being able to add an organization to Classroom after a failed deletion still exists. Tracking that in https://github.com/education/classroom/issues/275.

[2015-09-24 18:41] reedcwilson commented on #254
@johndbritton is awesome!

[2015-09-24 18:41] johndbritton commented on #254
Aww, shucks :blush:. Thanks @reedcwilson.

[2015-09-24 20:20] #275 closed

[2015-09-24 20:21] johndbritton commented on #275
@robsonmarques Your organization should now show up in the list on https://classroom.github.com/organizations/new

[2015-09-24 22:09] skaragianis commented on #251
Hi John,

Thank you very much, we're in action again! I associated the organisation
and removed/added an assignment. No issues. Looking good! I hope to trial
with real candidates in the coming days.

In future I'll do a better job of noting down issue details.

Nice talking with you.

Warm regards,

Steff.

On Thu, Sep 24, 2015 at 11:59 PM, John Britton <notifications@github.com>
wrote:

[2015-09-24 22:44] robsonmarques commented on #275
Nice! Thank you @johndbritton for the great work :)

[2015-09-24 23:54] johndbritton commented on #251
Thanks for following up Steff, sorry for the trouble getting started.

[2015-09-24 23:54] #251 closed

[2015-09-25 02:18] feliperdius opened #278 "My organization doesn't appears"
When I try to add a new organization for my classroom.

"Oh, you don’t have any organizations on your GitHub account."

[2015-09-25 02:25] #278 closed

[2015-09-25 02:27] feliperdius commented on #278
Solved.

I forget to allow access for my organization in personal settings "applications"

[2015-09-25 09:54] johndbritton commented on #249
@leereilly you helped out with his on the pack, would you be up for getting the right images in place?

[2015-09-25 21:45] josegustavo opened #279 "No aparecen mis organizaciones"
luego de crear una organización noaparece en el panel de organizaciones

[2015-09-25 22:43] tjhorner commented on #249
I can do it, sorry, I didn't catch the notification for your comment.

I'll look through and do it after I'm done with some other stuff.

[2015-09-25 23:18] bhanuc opened #280 "Any Scope of getting API access to Github Classroom"
Hi ,
I am working on a Desktop Client for College Professors to manage their CoursePage  [Kalam](https://github.com/navya/Kalam) and wish to integrate github classroom in the application. Initially I had thought to just use github-pages for the course webpage but It would be awesome if API access can be thought of. I can contribute code if it helps.

[2015-09-26 04:17] tarebyte commented on #280
@bhanuc not sure how I feel about having an API for this yet.

What were you looking to do with Classroom through Kalam?

[2015-09-26 09:58] bhanuc commented on #280
So essentially my client aimed to give a gui interface to create a course
webpage, host it on git-pages and manage it from the application.
Now with the introduction of github classroom, using an organization for
assignment submission has become highly simplified. I wanted some hooks to
create a classroom, create a assignment, get the assignment URL etc.
On 26-Sep-2015 9:47 AM, "Mark Tareshawty" <

[2015-09-26 12:10] johndbritton commented on #279
@josegustavo Has dado acesso de organización a Classroom? Puedes dárselo en este [página](https://github.com/settings/connections/applications/64a051cf1598b9f0658f).

[2015-09-26 18:09] jmalarcon opened #282 "Classroom keeps saying that I don't have any organizations, but I have"
Classroom keeps saying that I don't have any organizations, but I have one and I have already authorized it explicitly.

I can't keep moving forward and trying the features in "Classroom".

Can you help with this?

Thanks.

[2015-09-26 18:27] josegustavo commented on #279
Ok eso funcionó gracias.

2015-09-26 7:10 GMT-05:00 John Britton <notifications@github.com>:

[2015-09-26 22:43] rickyc commented on #257
Ahh, I figured the problem as I was just trying to create an assignment.

1) Create a blank repo.
2) Create an assignment linking to the blank repo.
3) Push some code into the blank repo. Now repo has code, yay!
4) Have a student click on one of your invites
5) They end up having a blank repo.

When creating an assignment, does it cache the repo at the current HEAD?

[2015-09-27 00:49] tarebyte commented on #257
@rickyc, it just clones down an exact mirror of the repo as is, and pushes it to the students repo

[2015-09-27 14:02] johndbritton commented on #279
De nada, buena suerte!

[2015-09-27 14:02] #279 closed

[2015-09-27 14:04] johndbritton commented on #249
For the image, I think you can use this screenshot:

![screenshot](https://cloud.githubusercontent.com/assets/123345/9819714/95b26b9c-58a7-11e5-99e9-d65996d53687.png)

[2015-09-27 14:39] tarebyte commented on #282
@jmalarcon did you grant the app access? https://github.com/settings/connections/applications/64a051cf1598b9f0658f

[2015-09-27 14:43] jmalarcon commented on #282
Yes, of course. See the attached screen capture. However it keeps saying that I need to create a new organization, since I don't have one.

Thanks.

Enviado desde Correo de Windows

De: Mark Tareshawty
Enviado el: ‎domingo‎, ‎27‎ de ‎septiembre‎ de ‎2015 ‎16‎:‎39
Para: education/classroom
CC: José M. Alarcón

@jmalarcon did you grant the app access? https://github.com/settings/connections/applicat

[2015-09-27 19:52] tarebyte commented on #280
@bhanuc I'm filing this as a feature request and closing this for now. An API isn't really on our radar ATM, but we really like the idea you have!

[2015-09-27 19:52] #280 closed

[2015-09-27 20:14] johndbritton opened #283 "Stuck `PushStarterCodeJob` in Sidekiq"
There's a `PushStarterCodeJob` stuck in Sidekiq with the error `GitHub::NotFound: Resource could not be found on github.com`.

We should gracefully handle losing access to the starter code repository due to permissions or repository deletion.

[2015-09-27 20:15] johndbritton commented on #283
I went ahead and removed the job from the stuck jobs.

[2015-09-27 22:45] tjhorner commented on #249
This look good?

[code]

[2015-09-28 05:07] nadirweibel opened #284 "Not able to use my organization for classroom"
Hello

I wanted to start using classroom for my class, and I have a profile that has been already upgraded to Platinum with private repositories for my students.

The name of the organization is WeibelLab-Teaching and is associated with my github profile and username nadirweibel

https://github.com/organizations/WeibelLab-Teaching

When I try to use that organization for classroom, it does not sho

[2015-09-28 11:30] jmalarcon commented on #282
Now it seems to work.. Go figure.

Thanks anyway!

[2015-09-28 11:30] #282 closed

[2015-09-28 13:21] rickyc opened #285 "Creating Assignments with Pre-Populated Issues"
It would be great to be able to create an assignment and have the repo / issues cloned as well.

[2015-09-28 13:22] rickyc commented on #257
Thanks for the clarification! It's probably the delayed job as you said.

[2015-09-28 13:22] #257 closed

[2015-09-28 13:24] johndbritton commented on #285
Thanks for the feedback @rickyc, I definitely want to add this in the future. It's not on the immediate timeline, so I'm marking this as closed, but feel free to drop more details in about how you'd imagine this working and use cases.

[2015-09-28 13:24] #285 closed

[2015-09-28 13:26] johndbritton commented on #284
Have you granted the Classroom application access? Check https://github.com/settings/connections/applications/64a051cf1598b9f0658f and make sure. In addition, you must be an admin of the organization in order to use Classroom for GitHub.

[2015-09-28 13:31] johndbritton commented on #249
:+1:

[2015-09-28 15:20] dmusican opened #286 "Clone repositories for grading"
Classroom for GitHub looks like a great tool! I just discovered it, and I'm going to try it as a replacement for teachers_pet with my class this week for setting up repos.

It doesn't appear to me that Classroom for GitHub offers the capability for cloning repos en masse for grading.  I'll still be needing to use teachers_pet for that. It would be great if this could be added, or if I missed that

[2015-09-28 16:01] talibanes opened #287 "Pregunta"
Porque hay Tanta Jente mentrosa?

[2015-09-28 18:01] ChristianMurphy opened #288 "Group Assignment - Maximum number of members"
This is a feature request, to add an optional field in the settings for the maximum number of members per team.

This is a setting would either: only be set on initial creation and be immutable afterwards, or could only be edited to a higher value.
Otherwise, if the value could be edited to a lower number of members per team, there would be the problems of removing members from a team, which membe

[2015-09-29 08:04] johndbritton commented on #288
Thanks for the suggestion @ChristianMurphy. I think this is a totally reasonable request and something that wouldn't be difficult to implement.

We'd welcome a pull request adding such a feature.

[2015-09-29 08:05] #287 closed

[2015-09-29 08:07] johndbritton commented on #286
You're correct, we don't have this feature.

How would you imagine something like this working? Having a single link to download an archive of all the repositories would be great, but technically challenging to implement and error prone for large courses.

What if there was a command you could copy and paste into terminal to clone all the repositories?

[2015-09-29 12:37] geeeeeeeeek commented on #266
same issue here
https://classroom.github.com/assignment-invitations/4d93730a57a97790ac76df9c71ab1fd9

[2015-09-29 12:45] johndbritton commented on #266
This issue is caused by changes [introduced](https://github.com/blog/2020-improved-organization-permissions) with [improved organization permissions](https://help.github.com/articles/about-improved-organization-permissions-early-access-program/).

[2015-09-29 13:47] dmusican commented on #286
The teachers_pet script handles it pretty well; it clones the repositories with a single command (with the right arguments). In fact, you almost don't need to create a new functionality; you can _almost_ use teachers_pet to download the repos made by Classroom for GitHub. The one showstopper (as far as I can tell) is that they two systems use different naming conventions: teachers_pet uses project

[2015-09-29 20:01] kevincoakley commented on #284
Hi @johndbritton, I am having the same issue trying to add an existing organization. See the attached screenshot for the Classroom application permissions. I am in the Owner team on the organization.
![github](https://cloud.githubusercontent.com/assets/7471118/10176487/dfd1ad40-66a9-11e5-9e22-b5a9abac15a9.png)

[2015-09-29 22:56] johndbritton commented on #284
@kevincoakley Can you hard refresh the [new organization page](https://classroom.github.com/organizations/new)?

`cmd+shift+r` or `ctrl+shift+r`

You should be able to see your organization in the dropdown list.

[2015-09-29 22:56] johndbritton commented on #284
@kevincoakley Can you hard refresh the [new organization page](https://classroom.github.com/organizations/new)?

`cmd+shift+r` or `ctrl+shift+r`

You should be able to see your organization in the dropdown list.

[2015-09-29 23:13] kevincoakley commented on #284
@johndbritton Sorry, that didn't help. I even tried a different browser that I have never used to login to GitHub.

[2015-09-30 08:29] johndbritton opened #289 "Add spacing to menubar tooltips"
This:
<img width="301" alt="screen shot 2015-09-30 at 10 27 47 am" src="https://cloud.githubusercontent.com/assets/123345/10188230/ee5a7478-675d-11e5-9b25-43faf2ffd6b7.png">

Needs more space, like this:
<img width="208" alt="screen shot 2015-09-30 at 10 28 30 am" src="https://cloud.githubusercontent.com/assets/123345/10188244/15d7fa34-675e-11e5-81e2-7820be0055bf.png">

[2015-09-30 17:11] tabinks opened #290 "Unable to Delete Organization"
Hi.  I was trying to delete a "Classroom Organization".  There was an alert that prompted me to type the name of my organization and offered some warnings.  I typed the organization name and the button never enabled.

Also, I found the wording on the alert to be a bit confusing as to what "organization" was going to be deleted.

[2015-09-30 17:34] tabinks commented on #290
I tried the same process ~15 minutes later and it worked fine.

[2015-09-30 17:34] #290 closed

[2015-09-30 21:47] leouieda opened #291 "Unable to access assignment page after deleting a team"
First of all, thank you for making this! I'm trying this out for the first time "in the wild". Hope you keep improving!

I've created an assignment today for my students and things worked mostly OK. One student had a problem that she accidentally created a new group when she should have joined another. I tried to fix this by deleting the Team that she created and inviting her to the correct team.

[2015-10-01 08:19] johndbritton commented on #291
@leouieda Can you tell me the name of the organization, the team you deleted, and the user who joined the wrong team?

[2015-10-01 08:25] johndbritton opened #292 "Team management for administrators"
When accepting a `GroupAssignmentInvitation` users have the ability to create or join a team, but in some cases they make a mistake as in #291.

One potential solution to this problem is to provide an interface for teachers to manage teams. This way they can reorganize the users if there's a mistake and we can keep the organization administrators in control of team changes.

[2015-10-01 10:16] johndbritton opened #295 "Tests for null object changes"
The work I did in #293 and #273 really should have some tests.

[2015-10-01 10:19] #291 closed

[2015-10-01 10:19] johndbritton commented on #291
@leouieda I was able to reproduce this behavior and find the bug that resulted in the unfriendly 500 error you're seeing. The fix is in #293. Can you try and access the assignment page and confirm that you're seeing a disabled group rather than the error you had before?

It's a known issue that you can't move a user between teams, I've opened a separate feature request to solve that problem in #29

[2015-10-01 12:45] johndbritton commented on #290
@tabinks Is it possible you tried to type the title of your organization rather than the github login of the organization? I'm trying to figure out if this is a bug or just an interface that we need to improve.

[2015-10-01 12:50] johndbritton opened #296 "Classroom for GitHub is open source"
We should add a note to the footer saying something like this:

[2015-10-01 13:01] leouieda commented on #291
@johndbritton wow that was fast! The site is back to normal and the deleted group now appears as deleted.

In the org management I see the student in the correct team (I added her manually and that worked) but that has not synced with the classroom dashboard. This is minor and the site works great now for the class purposes.

Thanks for fixing this so quickly (just in time for todays class) :smile

[2015-10-01 15:06] johndbritton commented on #291
Great, I'm glad that's resolved. I really don't want users to see such unhelpful errors.

Yeah, that's expected. We don't recommend modifying anything in the organization manually when using Classroom for GitHub. In this case you'll be able to get by for now, but the real solution to your problem will come when we resolve #292.

You're welcome, thanks for reporting!

[2015-10-01 17:59] timdams opened #297 "User wrongly joined a different team, after removal he still shows as part of that team"
A student, wrongly joined an existing team. I (organizer) removed the user from the repo (through settings/Collaborators) but the student still shows as part of the other tea when reviewing the team in the assignment overview of the teams.
The user is also unable to join another team.

[2015-10-01 18:44] tabinks commented on #290
@johndbritton I'm not sure which is which.  If my organization was "MyUniversity" and my classroom organization was "Bio 101", I typed "Bio 101" when trying to delete it.

[2015-10-01 18:46] tarebyte commented on #290
@tabinks what is the url of your Organization? We use the organization title that's in the URL (the `slug`)

[2015-10-01 18:53] tabinks opened #298 "Inclusion of Other Organizations in Permissions"
I received a inquiry from a student who wondered why the permissions granted when he joined our organization were not limited to just our organization.  He claims that by accepting the invitation that he granted "delete permissions" to other organizations he was part of that are unrelated to the class.

Is this accurate?

I can not verify this for myself since I can't seem to accept an invitation

[2015-10-01 18:55] tabinks commented on #290
My organization is "uchicago-bio".  The classroom organization was named "2015-Autumn".  I was able to delete it at a later attempt.

[2015-10-01 18:56] tarebyte commented on #298
@tabinks on the authentication page, the student had the option of granting or not granting access to any of their organizations. We are working on changing the permission scope for students so that this will not confuse people.

[2015-10-01 18:56] tarebyte commented on #290
@tabinks this is a UX issue on our part, did you end up typing `uchicago-bio` to delete it?

[2015-10-01 19:01] tabinks commented on #290
Honestly, I don't remember.  I probably tried them both until one worked.  Thanks for following up about it.

[2015-10-01 19:01] johndbritton commented on #298
He granted full access to multiple organization accounts. There is a way to avoid this issue, but it requires the organization owners to enable [third-party application restrictions](https://help.github.com/articles/about-third-party-application-restrictions/), which is a new feature on GitHub that older organizations have to opt in to using.

We are working on improving the user experience around

[2015-10-01 19:06] tabinks commented on #298
I just registered this organization about a month ago and this is what the default values look like.  One one student noticed (complained) about it.

<img width="762" alt="screenshot 2015-10-01 14 05 07" src="https://cloud.githubusercontent.com/assets/93689/10230919/7aef9318-6845-11e5-936a-dac7c03fefeb.png">

[2015-10-01 19:15] tarebyte commented on #297
@timdams we store team members on our database, so if you removed the student from GitHub we currently don't have a way of knowing that you performed that action.

[2015-10-01 19:35] johndbritton commented on #297
This is the expected behavior, but not a great user experience.

@timdams You might want to subscribe to https://github.com/education/classroom/issues/292, which will solve this issue.

I'm closing this in favor of #292.

[2015-10-01 19:35] #297 closed

[2015-10-01 19:36] johndbritton commented on #298
@tabinks It's dependent on the other organizations that your student is a member of. Each of the other organizations has a permission control that can limit access by other applications.

[2015-10-01 21:31] leouieda commented on #291
OK, I'll keep an eye out for that fix then.

[2015-10-01 23:30] tabinks commented on #298
Thank you for the clarification.

[2015-10-02 00:17] BlueT opened #299 "Using full URL in 'starter code from GitHub' caused server error"
![2015-10-02 08 16 04](https://cloud.githubusercontent.com/assets/51141/10236892/f048cf06-68dd-11e5-800c-51fb853bd099.png)

[2015-10-02 00:20] BlueT opened #300 "Should wrap assignment name if it's too long"
![2015-10-02 08 18 12](https://cloud.githubusercontent.com/assets/51141/10236924/611e4fe4-68de-11e5-90d9-4665b54e6d28.png)

[2015-10-02 07:24] johndbritton commented on #300
This is no longer an issue now with https://github.com/education/classroom/pull/248

[2015-10-02 07:24] #300 closed

[2015-10-02 07:38] johndbritton commented on #298
I've labeled this as feedback, we'll use it to inform our work on improved permissions in the future. Closing as there's no discrete actionable task for now.

[2015-10-02 07:38] #298 closed

[2015-10-02 07:42] johndbritton commented on #299
Steps to reproduce:

1. Connect an organization
2. Create a new assignment
3. Use a url for the starter repository

Expected behavior:

User receives a friendly error

Actual behavior:

User receives 500 error

[2015-10-02 17:29] mostlybadfly commented on #296
Hi! working on this now.  Any specific styling you recommend?  This is how it renders now.
<img width="1513" alt="screen shot 2015-10-02 at 12 28 51 pm" src="https://cloud.githubusercontent.com/assets/5193768/10253105/31fca47c-6901-11e5-9bc7-dbcd7bb73b78.png">

[2015-10-02 17:52] mostlybadfly commented on #296
Also, some tests failed. I didn't check before updating but in master it looks to be the same thing. I changed just the footer, any thoughts?

[2015-10-02 20:46] mccluresc commented on #284
Hi,

I am having the same issue. My organization also shows green (see below). I tried a hard refresh of the organization page as well as logging out / logging back in.

![image](https://cloud.githubusercontent.com/assets/4512030/10257381/fbdf14a0-6924-11e5-8a0e-5800bc1c720b.png)

[2015-10-03 00:27] fabriciojr commented on #249
Hi guys! I proposed this addition on #303

[2015-10-03 05:51] dhanifudin opened #304 "Starter code not imported into assignment repository"
I have an assignment on @polinema-gui repository with starter code from same organization, but the starter code not imported into the assignment repository.

[2015-10-03 06:39] wakita commented on #304
I experience the same and have no clue.

[2015-10-03 07:40] yasuhito commented on #304
Same here. @handai-trema

[2015-10-04 15:10] johndbritton commented on #296
Resolved in #301

[2015-10-04 15:10] #296 closed

[2015-10-04 15:32] johndbritton commented on #171
I believe this was resolved with #277.

[2015-10-04 15:34] #249 closed

[2015-10-04 15:58] johndbritton commented on #249
This is deployed and working according the the [Facebook object debugger](https://developers.facebook.com/tools/debug/og/object/):

<img width="491" alt="screen shot 2015-10-04 at 4 57 07 pm" src="https://cloud.githubusercontent.com/assets/123345/10268705/07035432-6ab9-11e5-9b9f-ae6b72a468f1.png">

[2015-10-04 16:00] johndbritton opened #306 "Better og:image for social sharing"
When sharing `https://classroom.github.com` on social sites, users see something like this:

<img width="491" alt="screen shot 2015-10-04 at 4 57 07 pm" src="https://cloud.githubusercontent.com/assets/123345/10268713/4645f942-6ab9-11e5-8eb1-3b4def999659.png">

There's room for improvement in that image.

[2015-10-04 16:26] ijaureguialzo commented on #304
It's working for me now, I've created a new assignment and the starter code shows on student's repository.

[2015-10-04 16:37] fabriciojr commented on #249
It's working on Slack as well
![screenshot from 2015-10-04 13 35 18](https://cloud.githubusercontent.com/assets/3369134/10268898/ebe60da0-6a9c-11e5-9c71-ab1f68080d94.png)

[2015-10-04 17:54] geeeeeeeeek commented on #266
@johndbritton I wanna know when will this bug be fixed? Since our first code assignment comes in days...

[2015-10-05 05:38] dhanifudin commented on #304
It's working now

[2015-10-05 09:37] johndbritton commented on #266
@geeeeeeeeek I can't promise when it will be fixed, but we are working on a resolution.

[2015-10-05 09:54] johndbritton commented on #289
#294 improved the icons, but the alignment with the logo is now off. Also the user's avatar is a different height that the icons. @tarebyte can you tidy that up when you get a chance?

[2015-10-05 09:56] johndbritton commented on #304
@dhanifudin @ijaureguialzo Can you please describe the exact steps you took that resulted in this issue? It's great that it's working for you now, but any additional information you can provide will help us find any sneaky cacheing issues.

@yasuhito @wakita Please reopen this if you're still experiencing the issue.

[2015-10-05 09:57] johndbritton commented on #249
:tada: :camera:

[2015-10-05 22:59] dpedoneze commented on #289
Can I submit a PR to fix this logo alignment and avatar size? @johndbritton

[2015-10-05 23:34] tarebyte commented on #289
@dpedineze, absolutely you can! The help more than welcome!

[2015-10-05 23:48] dpedoneze opened #308 "Add Internationalization support"
I was looking at the code and found out that the texts were added as `String` and not using the _Internationalization (I18n) API_.

Would be good to have it implemented since it would be very useful afterwards.

[2015-10-06 00:43] dpedoneze commented on #306
I've made an image (with some _small_ variations) to this `og:image`, can I post them here or should I open a PR for them?

[2015-10-06 01:01] tarebyte commented on #306
@dpedoneze go ahead and open a PR and we'll start a discussion

[2015-10-06 01:03] tarebyte commented on #308
@dpedoneze pull requests are welcome!

[2015-10-06 09:15] #289 closed

[2015-10-06 09:33] johndbritton commented on #308
Yeah, I think this would be a great contribution. We've got a lot of other things to improve before we get to i18n, but if someone wants to add it I'd be happy to review the changes.

[2015-10-06 14:53] #250 closed

[2015-10-06 14:53] #252 closed

[2015-10-06 22:01] ajarmst commented on #246
Noting here for the sake of others.  After creating a new "classroom" organization, asking for a "discount" on education.github.com was honoured in a couple of days.  I can now create sufficient private repos for our needs.  Thanks.

[2015-10-06 22:04] ajarmst opened #311 "Private group assignment repositories can still be cloned by anyone in the classroom organization"
Result is that student groups can easily see each other's code in even private repo assignments.  Bug?

[2015-10-06 22:11] ajarmst commented on #311
Never mind.  If you tunnel into the settings for the classroom organization, you can modify the default rights from "read" to "none".

[2015-10-06 22:38] johndbritton commented on #246
Glad things got sorted for you, thanks for the update.

[2015-10-07 02:39] dhanifudin commented on #304
@johndbritton I just create an assignment with normal steps, so I don't know what caused a problem.
This issue has  occurred again, but not affect all repository. This [repository](https://github.com/polinema-gui/tugas-2015-02-ridhoaffan96) have starter code but this [repository](https://github.com/polinema-gui/tugas-2015-01-FanistyaDiasAfrilia) just empty repository. There are a delay around 7 ho

[2015-10-07 03:45] #299 closed

[2015-10-07 08:03] johndbritton commented on #311
@

[2015-10-07 08:04] johndbritton commented on #311
@ajarmst You shouldn't need to modify team settings in your organization. Can you describe the issue you had step by step, what the results you expected were, and what the actual results were?

That'd be really helpful in determining if this is a bug and something that needs to be fixed.

[2015-10-07 08:12] johndbritton commented on #299
@blueT We've deployed a fix for this issue, thanks for reporting.

[2015-10-07 10:36] tarebyte commented on #306
Closed with #309

[2015-10-07 10:36] #306 closed

[2015-10-07 10:55] tarebyte commented on #311
@johndbritton with the new organization permissions there are now different levels of repository permissions.

<img width="1006" alt="screen shot 2015-10-07 at 6 52 14 am" src="https://cloud.githubusercontent.com/assets/564113/10335626/17ebbe98-6cc0-11e5-807f-22267c689bb8.png">

Setting the level of permission to `read` and above allows all users access to all repos on the org even the private one

[2015-10-07 13:30] johndbritton commented on #311
@tarebyte I think this might answer the question of creating teams in #312 for us. If we stick to collaborators only, this will not impact the privacy of code.

[2015-10-07 13:33] tarebyte commented on #311
I agree @johndbritton, setting everyone as outside collaborators will solve this issue.

[2015-10-07 16:04] ajarmst commented on #311
Following the principal of "default to fewer permissions", perhaps the default repository permission for Classroom groups should be "None" rather than the current "Read".

[2015-10-07 16:36] johndbritton commented on #311
@ajarmst Yes, I agree. We don't have a way to control that setting via the GitHub API, but we do have a solution in the works that will resolve this issue.

[2015-10-07 17:34] johndbritton opened #314 "Header CSS issue on invitation redemption page"
<img width="208" alt="screen shot 2015-10-07 at 6 33 30 pm" src="https://cloud.githubusercontent.com/assets/123345/10345498/fd090808-6d21-11e5-8799-570937086927.png">

Related to #289

[2015-10-07 17:39] robbyrob42 opened #315 "Organization That I have opened access up with doesn't appear"
![screen shot 2015-10-07 at 10 39 03 am](https://cloud.githubusercontent.com/assets/2531474/10345597/b0c440da-6cdf-11e5-819f-21a0ba2cf982.png)

![screen shot 2015-10-07 at 10 38 08 am](https://cloud.githubusercontent.com/assets/2531474/10345574/8cf232e8-6cdf-11e5-86c2-4457f2038347.png)

Am I doing something wrong?

[2015-10-07 18:27] johndbritton commented on #315
@robbyrob42 Are you an admin of that organization?

[2015-10-07 19:24] robbyrob42 commented on #315
Hi, yes I am

[2015-10-08 00:56] dpedoneze commented on #314
I couldn't reproduce this issue (tried using FF/Chrome/Safari)

But I didn't go to this "invitation redemption page" (but I think all of them uses the same css/structure, right?)

![image](https://cloud.githubusercontent.com/assets/5757502/10355102/1d6f91b8-6d3e-11e5-8771-792bf6ac8d83.png)

[2015-10-08 01:22] #314 closed

[2015-10-08 01:34] tarebyte commented on #315
@robbyrob42 is your organization migrated over to the [improved organization permissions](https://github.com/blog/2020-improved-organization-permissions)?

[2015-10-08 01:45] robbyrob42 commented on #315
Yes, we just migrated yesterday. just as a test, i revoked access to classroom and readded. I am a full admin of the CodeScience Organziation

[2015-10-08 01:48] tarebyte commented on #315
@robbyrob42 alright @johndbritton and I will take a look at it tomorrow and see what's up. Thanks for your patience!

[2015-10-08 06:40] dhanifudin commented on #304
it's working now

[2015-10-08 06:40] #304 closed

[2015-10-08 14:53] johndbritton opened #319 "Handle repository already exists on GitHub"
We've seen a few cases where something strange happened and a user was in a state where they were unable to accept an invitation because a repository already existed within an organization with the same name as the repository we were trying to create.

Let's handle this case gracefully for the user. Maybe give them the option to connect to the existing repository or just create a new repository wi

[2015-10-08 16:19] #283 closed

[2015-10-08 19:24] johndbritton commented on #315
@robbyrob42 Are you listed as an owner here: https://github.com/orgs/CodeScience/teams/owners

[2015-10-08 20:04] robbyrob42 commented on #315
@johndbritton I am an owner but we moved to individual permissions two days ago.

![screen shot 2015-10-08 at 1 03 10 pm](https://cloud.githubusercontent.com/assets/2531474/10378305/13086144-6dbd-11e5-83b0-8ac7e6432877.png)

[2015-10-09 09:29] johndbritton commented on #315
@robbyrob42 You should now see the organization in the dropdown list.

[2015-10-09 09:31] johndbritton commented on #315
@robbyrob42 Were you an owner prior to taking that screenshot?

[2015-10-09 15:36] robbyrob42 commented on #315
@johndbritton yes i was an owner prior to and I am still not seeing them. am i in the wrong place?

![screen shot 2015-10-09 at 8 36 06 am](https://cloud.githubusercontent.com/assets/2531474/10398253/e18ebe16-6e60-11e5-8d35-4921a9a83198.png)

[2015-10-09 16:34] johndbritton commented on #315
Thanks for your patience @robbyrob42, sorry for the trouble. You're in the right place, but I haven't figured out why you're not seeing your organizations in the list. I'm going to keep looking.

[2015-10-09 16:35] robbyrob42 commented on #315
@johndbritton no problem at all, thanks for your help. I'm happy to assist with any testing required to get to the bottom of it.

[2015-10-09 17:00] johndbritton commented on #315
@robbyrob42 I think I found the issue for you, it looks like someone else in your organization has already added the organization to classroom so it's not allowing you to add it again.

[2015-10-09 17:01] johndbritton commented on #315
This should be resolved with https://github.com/education/classroom/issues/259

[2015-10-09 17:17] robbyrob42 commented on #315
please excuse my ignorance but shouldn't I be able to see them then? Are you suggesting that I need to find the person who opened it up and have them revoke and me open it up? We are excited to use classroom to help our developers learn and I have been charged with orchestrating that effort.

[2015-10-09 17:21] johndbritton commented on #315
The person who created the organization in Classroom had the opportunity to invite other people as managers. We're working on removing that requirement, but for now that's what you need to do.

[2015-10-09 17:24] robbyrob42 commented on #315
ok yes, got it! i had someone remove the classroom they created and it works, thanks!

[2015-10-09 17:24] #315 closed

[2015-10-09 18:35] johndbritton commented on #304
Failed starter code pushes should be a thing of the past now, we've moved to using the GitHub Importer in https://github.com/education/classroom/pull/316

[2015-10-09 19:47] johndbritton commented on #315
If you go to the settings page of your classroom there's a link that you can share to invite other owners to manage the classroom.

[2015-10-09 20:03] robbyrob42 commented on #315
yep, now that i can see things, very straigthforward

On Fri, 9 Oct 2015 at 12:47 John Britton <notifications@github.com> wrote:

--
Rob Jacques

[2015-10-09 20:49] johndbritton commented on #259
@tarebyte I think we can fix this issue by adding the user to the organization if it exists here: https://github.com/education/classroom/blob/master/app/controllers/organizations_controller.rb#L96-L100

We can use this logic, but will probably want to extract a method: https://github.com/education/classroom/blob/master/app/controllers/organizations_controller.rb#L67-L71

[2015-10-10 14:16] robbyrob42 commented on #315
John, one last question, are you limiting organizations to one classroom at
the moment?

On Fri, 9 Oct 2015 at 13:03 Rob Jacques <robert.jacques1@gmail.com> wrote:

--
Rob Jacques

[2015-10-10 16:27] johndbritton commented on #315
The app only supports running one class per organization. You can create additional organizations for your other courses.

It'd probably be possible for us to allow you to run multiple classrooms out of one organization, but for simplicity we decided to limit it to one.

If that's a feature you'd really like to see, please open another issue with your rationale and we can see if other folks would

[2015-10-11 14:33] ryuhei-mori opened #321 "Importing from private repository requires authentication"
I made an individual assignment as private setting with starter code from a private repository. The private repository was made by me. So, I can access it. I visited the invitation link for the assignment by myself. Then, the GitHub Importer requires username and password. When I tried before, the GitHub Importer didn't apear. Is it due to the private settings of the assignment and/or the private

[2015-10-11 16:26] ryuhei-mori commented on #321
I found the following comment.
https://github.com/education/classroom/pull/316#issuecomment-146282071
If I understand correctly, the GitHub Importer has been used from 3days ago. If repo creation succeeds and starter code importer fails, undeletable garbage date is created. Even if the repo is deleted, the invitation link does not work. Is this correct ? I'm sorry about this since we plant to use

[2015-10-12 10:15] johndbritton commented on #321
@ryuhei-mori Is this the screen that you saw?

<img width="613" alt="screen shot 2015-10-12 at 11 14 20 am" src="https://cloud.githubusercontent.com/assets/123345/10425788/6d9b7390-70d2-11e5-9276-03d66c6ea450.png">

[2015-10-12 10:20] ryuhei-mori commented on #321
Yes !
If I understand correctly, it is the correct behaviour from few days ago irrespective of private/public setting.
It is not problem. Once, one enters a wrong password, there may be no way to recover.

[2015-10-12 10:21] johndbritton commented on #321
@ryuhei-mori The Importer is a new feature, but this is indeed a bug. Thanks for reporting. I'll keep this issue updated with our resolution plans.

[2015-10-12 10:30] johndbritton commented on #321
In the meantime, I'd suggest making the starter code repository public as a workaround.

[2015-10-12 10:35] ryuhei-mori commented on #321
Thanks !
I think that the follwing is also independent problem.
"Once the assignment X is accepted by a student Alice, both of the student Alice and the instructor Bob who is administrator of the organization cannot remove the connection between the assignment X and Alice and connect them again."
If the above problem does not exist, the importer bug is not a serious problem.

For the bug fixing, m

[2015-10-12 10:45] ryuhei-mori commented on #321
@johndbritton If the starter code repo is public, does the importer works without the bug ? I decided to use the "fork / pull request method" for our class this morning. If the Classroom works without bugs, it is nice for us.

[2015-10-12 11:03] johndbritton commented on #321
Yes

[2015-10-12 11:22] johndbritton commented on #266
@tarebyte and I have been investigating this and I think the improved organization permissions aspect of this is unrelated to the actual problem.

It looks like we're getting a `UnprocessableEntity` error. Perhaps there are some character encoding issues with the assignment title.

[2015-10-12 11:28] johndbritton commented on #171
@tarebyte finally reproduced this one

[2015-10-12 11:36] johndbritton opened #322 "Private group assignment advisory"
On the private group assignment page we need to add an info box telling the user to set their "Default repository permission" to "None" so that students can't see each other's assignments.

The info box should link to the exact settings page for that organization.

[2015-10-12 12:10] johndbritton commented on #311
@ajarmst Thanks for reporting this, we're moving individual assignments to outside collaborators and we'll advise users with private group assignments to change this setting: https://github.com/education/classroom/issues/322

[2015-10-12 12:10] #311 closed

[2015-10-12 12:18] johndbritton commented on #321
We're planning to address those issues in the future, if you'd like to stay up to date on progress, you should subscribe to https://github.com/education/classroom/issues/292.

[2015-10-12 12:21] ryuhei-mori commented on #321
Thanks !

[2015-10-12 12:58] geeeeeeeeek commented on #266
My original starter repo contains Chinese, which may cause encoding issues. Now I changed the repo name to pure English and it works all right. But I still think this issue should be handled seriously.

[2015-10-12 14:42] johndbritton commented on #266
That was my suspicion, but I couldn't figure out where the characters were coming from. What was the original name of your starter code repository?

Definitely.

[2015-10-12 14:53] geeeeeeeeek commented on #266
If I remember correctly, the starter repo is [WeChatLuckyMoney](https://github.com/geeeeeeeeek/WeChatLuckyMoney). The name has no Chinese itself, but I created an assignment called "Service实例：微信抢红包实例". That includes a fullwidth colon and Chinese characters. I don't know if it was the one causing the issue.

[2015-10-12 15:10] johndbritton commented on #266
I was able to successfully join your class using the invitation link, but it took two tries.

Are you currently having problems that are blocking you from using the application or have you found a suitable workaround?

We're still going to work on a fix for the original problem, but I want to make sure you're able to continue.

[2015-10-12 17:18] geeeeeeeeek commented on #266
Thanks for all of your work. It seems okay to join the assignments now. But considering the need for private repos, we are now using GitLab as a substitute. Classroom is a great project. Glad to see it being better!

[2015-10-12 17:38] johndbritton commented on #266
As a teacher you can get free private repositories in your organization at https://education.github.com/discount

[2015-10-14 20:46] ajarmst opened #324 "Request for Issue Labels Associated with Classroom Work"
Not really an issue, more of a suggestion:  I find that I am telling many of my students to create an issue with the label "Marking" and assign it to me when they have completed their work.  It might be of value to automatically add a few labels appropriate to a pedagogical environment for Classroom projects.  Others probably have suggestions, and the existing "question" and "need-help" labels are

[2015-10-14 21:05] ajarmst commented on #260
Oooooh.  I want this too.

[2015-10-15 08:23] johndbritton commented on #324
That's a cool idea. Definitely something we can consider for the future. Thanks for sharing.

Labeling this as `feature-request` and closing for now, but we will regularly review feedback like this to inform our future plans.

[2015-10-15 08:23] #324 closed

[2015-10-15 08:24] johndbritton commented on #260
This is a pretty cool concept. I could imagine a case where there's one repository and each assignment pushes an additional branch to the student's repo.

[2015-10-15 08:30] #321 closed

[2015-10-15 08:31] johndbritton commented on #321
@ryuhei-mori This is now resolved, you should be able to import code from private repositories so long as the assignment creator has access to the starter code repository.

Thanks for reporting.

[2015-10-15 09:22] ryuhei-mori commented on #321
Thanks a lot !
I'm also interested in the above problem on the reassignment. I'm afraid of using Classroom for our class unless it is implemented.

[2015-10-15 10:33] johndbritton commented on #321
@ryuhei-mori That issue should be resolved when we fix #292.

[2015-10-15 18:27] mastahyeti opened #327 "Audit OAuth scope for students"
It seems like a lot of the OAuth scopes we ask for might only be needed for teachers. It would be awesome if we asked for less scopes for students if possible.

<img width="487" alt="screen shot 2015-10-15 at 12 25 18 pm" src="https://cloud.githubusercontent.com/assets/1144197/10523504/f7e5679c-7337-11e5-99ce-852689a36207.png">

Any sense of which scopes the student OAuth accesses use?

/cc @grego

[2015-10-15 19:14] johndbritton commented on #327
Thanks for the feedback, we're planning to address this in https://github.com/education/classroom/issues/263.

The general outline is that we'll have a system of "stepping up" required permissions as users access different parts of the app.

[2015-10-15 19:14] #327 closed

[2015-10-19 18:59] bfritscher opened #329 "paginating to page2 does not work We're sorry, but something went wrong."
We're sorry, but something went wrong.
If you are the application owner check the logs for more information.

Airbrake Error 1534922897515050480

Some student did delete their account, maybe it broke something?

[2015-10-20 15:33] #329 closed

[2015-10-20 15:34] johndbritton commented on #329
@bfritscher Can you give this another try? It should be working now.

[2015-10-20 16:04] bfritscher commented on #329
@johndbritton Thanks for the fix! It is now working again.

[2015-10-23 08:12] floe opened #332 "Using classroom removes owner role"
Hello everyone,

I'm trying to get GH Classroom up and running for my organization "mmbuw". I recently created a first assignment and handed out the invitation link, however, this morning, I discovered that

a) all teams were grayed out in the classroom and deleted in the organization, and that
b) all team repositories had been deleted, too.

On top of that, I lost my owner role in the organizatio

[2015-10-23 08:38] floe commented on #332
Apologies for the noise, the repositories are still there, I just couldn't see them due to the lost owner role.

[2015-10-23 10:24] floe commented on #332
Sorry, spoke too early - the same issue just happened again, I lost my Owner role after viewing the classroom.

Exact sequence of events, as far as I can tell:
* created new group assignment, using existing groups
* handed out link to students
* about 8-9 students signed up with existing teams
* I viewed the classroom page to verify
* Few seconds later, all teams are suddenly grayed out and team r

[2015-10-23 11:44] floe commented on #266
I seem to have a similar issue, perhaps caused by German umlaut characters ("Übung 2") for the mmbuw org. I removed the assignments for now and switched to "plain" Github for the class.

[2015-10-23 11:53] floe opened #333 "Question/enhancement: pull requests for assignments?"
Hi again, sorry for the noise, but I couldn't find this documented anywhere.

I've used "plain" Github for my class last year, and was trying out Classroom for this year. One of the features I liked best last year is that students can use a pull request to the repo with the starter code to submit their assignment. The way it looks to me at the moment with Classroom, however, is that the newly crea

[2015-10-26 12:09] johndbritton commented on #332
Thanks for reporting this @floe, we're looking into the cause and will update this once we know more.

[2015-10-26 12:13] johndbritton commented on #333
This is the intended behavior.

This is a perfectly acceptable way to use GitHub in courses, if that works for you keep on doing it. The issue that a lot of folks have with that style is that every student is able to see every other student's work. Classroom for GitHub makes it possible to distribute starter code to students without them being able to see each other's code.

Students are still abl

[2015-10-26 12:13] #333 closed

[2015-10-26 12:33] floe commented on #333
Thanks for the quick response! Just to clarify, would these PRs then be visible in the starter code repository?

[2015-10-26 15:23] johndbritton commented on #333
If you're using Classroom for GitHub, no. They'd be visible on each individual repository that was created for the student or group working on the assignment.

Pull requests can be sent from a fork to the root repository, to any other repository in the network, or in the case of Classroom for GitHub and in many software development teams to the same repository.

[2015-10-28 13:14] floe commented on #333
Got it, thanks for clearing that up.

[2015-10-28 17:31] tansaku opened #335 "Get overview of which students have and haven't submitted an assignment via pull request"
Is there a way to get an overview of which students have and haven't submitted an assignment via pull request using the classroom system?  And possibly even to get an overview of CI stats running on their pull requests?

Many thanks in advance

[2015-10-28 18:08] johndbritton commented on #335
If you go to the assignment page in Classroom for GitHub you can see a list of who has accepted the assignment and you can access the repositories from that page.

Classroom for GitHub doesn't have any features for displaying pull requests or other repository activity in the app.

We don't have any features for CI status in Classroom for GitHub, but I think this is something we could consider in t

[2015-10-28 18:08] #335 closed

[2015-10-29 17:55] chortlehoort opened #337 "Github Classroom stole my organization"
I attached an organization to Github Classroom to assign projects to my students. Organization URL is https://github.com/nashville-software-school.  I decided later to detach the organization from Github Classroom.  When I detached, it removed all the students I added to the organization, but **it also removed me**, the owner, so now I no longer have ownership of my organization.

[2015-10-29 17:56] chortlehoort commented on #337
Nevermind, I see that the issue (https://github.com/education/classroom/pull/334) has already been reported and is being worked on.

[2015-10-29 17:56] #337 closed

[2015-10-29 22:54] #332 closed

[2015-10-29 22:55] johndbritton commented on #332
This issue has been resolved, if you need help regaining access please contact [GitHub Support](https://github.com/contact).

[2015-10-29 22:55] johndbritton commented on #337
This issue has been resolved, if you need help regaining access please contact [GitHub Support](https://github.com/contact).

[2015-11-02 12:03] mkcode opened #339 "NoMethodError: undefined method `login' for nil:NilClass"
Check full details on Airbrake: [#1544861274217608887](https://github-education.airbrake.io/projects/116727/groups/1544861274217608887)

Backtrace:
[code]

[2015-11-02 12:13] johndbritton commented on #339
This is caused by browsing to a classroom as admin where the owner does not have a valid auth token.

[2015-11-02 12:13] #339 closed

[2015-11-02 18:36] johndbritton commented on #284
@kevincoakley @mccluresc @nadirweibel We improved the flow for connecting an organization in #338. Can you try selecting your organization again and report back?

[2015-11-02 23:34] mattfxyz opened #342 "Project names include some kind of key"
Example "myFakeGroup/SuperAwseomeProject-34235-9160-4e50-ba243-545435-cool-team created by mattfxyz

[2015-11-03 00:21] johndbritton commented on #342
I believe this is a known issue. @tarebyte can you look into this?

[2015-11-03 15:54] #322 closed

[2015-11-03 16:40] tarebyte commented on #342
@mattfxyz do you know how to reproduce this? I'm working on a failing test

[2015-11-03 18:56] mkcode opened #344 "NoMethodError: undefined method `html_url' for nil:NilClass"
Check full details on Airbrake: [#1545793742579922639](https://github-education.airbrake.io/projects/116727/groups/1545793742579922639)

Backtrace:
[code]

[2015-11-03 19:01] lernerd opened #345 "When going into an assignment detail I get an error"
at https://classroom.github.com/classrooms/15637487-fullstackdev/group-assignments/php-basic

Airbrake Error 1545795695196206831
![screen shot 2015-11-03 at 4 01 00 pm](https://cloud.githubusercontent.com/assets/1086613/10918380/1a9fdaa4-8244-11e5-913a-8e495076c175.png)

[2015-11-03 19:50] tarebyte commented on #345
@lernerd it looks like one of your students rejected their auth token, I should have a fix for this later today.

[2015-11-03 19:52] lernerd commented on #345
Oh yeah, it was actually myself since I'm trying it out :stuck_out_tongue:
Sorry, I hope it helps in fixing someone else's problem as well.
Thanks!

[2015-11-03 19:52] tarebyte commented on #345
Not a problem, thank you for the report!

[2015-11-03 20:13] mattfxyz commented on #342
I sent out two different assignments. One had it and one didn't. It was
called "JavaScript-calculator"

On Tue, Nov 3, 2015 at 11:41 AM Mark Tareshawty <notifications@github.com>
wrote:

[2015-11-03 22:21] #344 closed

[2015-11-03 22:22] #263 closed

[2015-11-04 07:46] carnevlu opened #346 "not able to give a title to the classroom"
When selecting a organization,
![screen shot 2015-11-04 at 08 44 10](https://cloud.githubusercontent.com/assets/3392707/10932371/65875dd0-82d0-11e5-96bc-79e9226d68b1.png)

er are not able to provide the input "title" that is required.
![screen shot 2015-11-04 at 08 44 14](https://cloud.githubusercontent.com/assets/3392707/10932377/69fca9a6-82d0-11e5-8508-6869ff5b0c5c.png)

behaviour found on Chrom

[2015-11-04 09:17] tarebyte opened #347 "Errno::ETIMEDOUT: Connection timed out - connect(2) for "api.github.com" port 443"
Check full details on Airbrake: [#1546227398859519761](https://github-education.airbrake.io/projects/116727/groups/1546227398859519761)

Backtrace:
[code]

[2015-11-04 09:22] tarebyte opened #348 "Errno::ETIMEDOUT: Connection timed out - connect(2) for "api.github.com" port 443"
Check full details on Airbrake: [#1546229699468818208](https://github-education.airbrake.io/projects/116727/groups/1546229699468818208)

Backtrace:
[code]

[2015-11-04 09:37] tarebyte opened #349 "Errno::ETIMEDOUT: Connection timed out - connect(2) for "api.github.com" port 443"
Check full details on Airbrake: [#1546237401091766063](https://github-education.airbrake.io/projects/116727/groups/1546237401091766063)

Backtrace:
[code]

[2015-11-04 09:47] tarebyte opened #350 "Errno::ETIMEDOUT: Connection timed out - connect(2) for "api.github.com" port 443"
Check full details on Airbrake: [#1546242503856846655](https://github-education.airbrake.io/projects/116727/groups/1546242503856846655)

Backtrace:
[code]

[2015-11-04 09:57] tarebyte opened #351 "Errno::ETIMEDOUT: Connection timed out - connect(2) for "api.github.com" port 443"
Check full details on Airbrake: [#1546247270951778131](https://github-education.airbrake.io/projects/116727/groups/1546247270951778131)

Backtrace:
[code]

[2015-11-04 09:57] tarebyte opened #352 "Errno::ETIMEDOUT: Connection timed out - connect(2) for "api.github.com" port 443"
Check full details on Airbrake: [#1546247327054788450](https://github-education.airbrake.io/projects/116727/groups/1546247327054788450)

Backtrace:
[code]

[2015-11-04 09:59] tarebyte opened #353 "Errno::ETIMEDOUT: Connection timed out - connect(2) for "api.github.com" port 443"
Check full details on Airbrake: [#1546248270110488434](https://github-education.airbrake.io/projects/116727/groups/1546248270110488434)

Backtrace:
[code]

[2015-11-04 11:15] #347 closed

[2015-11-04 11:15] #348 closed

[2015-11-04 11:15] #349 closed

[2015-11-04 11:15] #350 closed

[2015-11-04 11:15] #351 closed

[2015-11-04 11:15] #352 closed

[2015-11-04 11:15] #353 closed

[2015-11-04 11:31] #345 closed

[2015-11-04 11:44] johndbritton opened #355 "Styling issues on organization select page"
Three issues:

* Tooltip cut off on the right
* Tooltip cut off on the bottom
* Extra space at the beginning of the second row

<img width="1004" alt="screen shot 2015-11-04 at 11 43 26 am" src="https://cloud.githubusercontent.com/assets/123345/10937228/565f207c-82e9-11e5-93d4-add34e51d5bc.png">
<img width="1006" alt="screen shot 2015-11-04 at 11 43 20 am" src="https://cloud.githubusercontent.com/

[2015-11-04 12:02] johndbritton commented on #346
@carnevlu I take it you're trying to add the @UNIFR organization, correct?

[2015-11-04 12:33] johndbritton opened #356 "Add stafftools for management"
Let's add a `StafftoolsController` with restricted access for managing the application. Here's a wishlist of features (we won't necessarily add them all):
- [x] Fake login (#359)
- [x] Search for all app models (#380)
- [ ] Statistics
- [ ] Link to exceptions in airbrake for current user
- [x] User activity (last access / login)
- [ ] Staff notes / comments for all resources
- [x] Enabled features

[2015-11-04 12:36] tarebyte commented on #356
@johndbritton what kind of statistics would be most helpful?

[2015-11-04 12:42] lernerd commented on #345
Thanks! :smile:

[2015-11-04 14:37] johndbritton commented on #356
We might want to use this as a project tracking issue and have a separate issue for each of the main features in stafftools.

Counts for all resources:
* Users
* Organizations
* Assignments
* GroupAssignments
* Groupings
* Groups

It'd be great if we could show a visual representation of the growth of these resources on a chart or graph of some sort

[2015-11-04 14:39] johndbritton commented on #356
There should be a resource overview for each of the models as well that gives a full diagnostic overview of the resource, for example the user overview would include data on related models.

You might consider building on top of `rails_admin` or similar, but I'm not sure if we need the full set of tools included in that library.

[2015-11-04 19:09] tarebyte opened #357 "ActiveRecord::RecordInvalid: Validation failed:"
Check full details on Airbrake: [#1546525252207474606](https://github-education.airbrake.io/projects/116727/groups/1546525252207474606)

Backtrace:
[code]

[2015-11-05 10:21] tarebyte opened #358 "ActiveRecord::RecordInvalid: Validation failed: Organization has already been taken, User has already been taken"
Check full details on Airbrake: [#1546984153960904639](https://github-education.airbrake.io/projects/116727/groups/1546984153960904639)

Backtrace:
[code]

[2015-11-06 17:18] bamford opened #360 "Repositories occasionally created with wrong user's name"
I have had two cases where a user has clicked to join an assignment and a repo has been created correctly, but with the wrong username.

The is the link to the assignment page in case it helps you investigate:
https://classroom.github.com/classrooms/9050108-mpags-python-2015/assignments/coursework
and this is the corresponding organisation:
https://github.com/mpags-python

On the first occasion, a

[2015-11-06 18:03] tarebyte commented on #360
There shouldn't be, but I will look into it.

Thanks for the report @bamford!

[2015-11-09 20:16] johndbritton commented on #360
Labeled as `report` until we can reproduce the issue.

[2015-11-12 13:05] tarebyte opened #361 "ActionController::RedirectBackError: No HTTP_REFERER was set in the request to this action, so redirect_to :back could not be called successfully. If this is a test, make sure to specify request.env["HTTP_REFERER"]."
Check full details on Airbrake: [#1552140371796916285](https://github-education.airbrake.io/projects/116727/groups/1552140371796916285)

Backtrace:
[code]

[2015-11-16 01:57] tarebyte opened #362 "NoMethodError: undefined method `decorate' for nil:NilClass"
Check full details on Airbrake: [#1554702854554351932](https://github-education.airbrake.io/projects/116727/groups/1554702854554351932)

Backtrace:
[code]

[2015-11-16 11:07] tarebyte commented on #362
looking at this today

[2015-11-16 11:07] #362 closed

[2015-11-16 11:08] #358 closed

[2015-11-16 11:08] #361 closed

[2015-11-16 11:08] #357 closed

[2015-11-19 06:56] xaph opened #364 "Gives error "You are forbidden from performing this action on github.com" if user does not approves his/her email"
Hi,

If we invite an user who does not approve email on github.com, classroom gives an error like "You are forbidden from performing this action on github.com". User does not know anything about email approval and I think error message should be more clear.

[2015-11-19 12:56] tarebyte commented on #364
@xaph I agree this error should be more descriptive, just to make sure I have this correct for testing, this is a new user who hasn't verified their email address on github.com correct?

[2015-11-19 13:23] tarebyte commented on #364
@xaph I created a new user on GitHub without an email address and cannot reproduce the error.

Can you give me a step by step way or reproducing this?

[2015-11-19 19:37] beydogan commented on #308
@tarebyte have you started working on this? I can dive into this if you haven't.

[2015-11-19 19:54] tarebyte commented on #308
@beydogan I have not, feel free to jump in! Can I assign you to this?

[2015-11-19 20:34] beydogan commented on #308
@tarebyte yes sure

[2015-11-20 22:01] jakesorce opened #366 "Errors with repository creation"
Hello,

My students are getting various errors while trying to accept the invitations to assignments. The first couple of assignments seemed to work ok but today they are getting the following errors:

1) repository already exists but they aren't able to see it or push to it
2) permission denied
3) forbidden
4) repository is empty

Each time they try to click the invite they get different errors.

[2015-11-20 22:16] hubot opened #367 "Various libxml2/libxslt vulnerabilities"
Heaven detected that nokogiri is not < 1.6, >= 1.6.6.4

  Your Gemfile.lock on the master branch currently is 1.6.6.2.

  Can you folks fix this up? :revolving_hearts:

  /cc https://github.com/github/security/issues/1199

[2015-11-21 00:19] tarebyte commented on #366
@jakesorce I'm going to take some time on Sunday and see if I can get it resolved. I'm seeing the errors on our end I'm just not sure what's causing them yet.

Thanks for your patience!

[2015-11-21 00:23] jakesorce commented on #366
Much appreciated @tarebyte

[2015-11-23 07:02] jakesorce commented on #366
@tarebyte - any luck with this one? Trying to decide if we should continue running class with github classroom.

[2015-11-23 12:11] tarebyte commented on #366
@jakesorce I'm making headway, did you by chance reject your auth token for your organization?

The error I'm receiving is:

[code]

The error [points to this line](https://github.com/education/classroom/blob/master/app/models/git_hub_organization.rb#L98)

This happens when we retrieve an organization through the API and through a token that can't retrieve the private information about an org.

[2015-11-23 12:12] tarebyte commented on #366
We should handle this error better, so I'm going to open a PR for it

[2015-11-23 14:10] #367 closed

[2015-11-23 14:23] tarebyte commented on #364
:pager: @xaph

[2015-11-23 15:03] xaph commented on #364
@tarebyte We got this error with 3 different users without email confirmation but we can't reproduce it now.

The steps we did:
- An admin creates a new assignment.
- Admin shares this assignment to a new user who didn't approve his/her email
- User clicks the assignment link and gets error.(I'm attaching the picture)
![screenshot_2015-11-18-22-16-07_1](https://cloud.githubusercontent.com/assets/1

[2015-11-24 02:07] tarebyte opened #371 "ActionView::MissingTemplate: Missing partial stafftools/assignments/_assignment with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :coffee, :jbuilder]}. Searched in: * "/app/app/views" * "/app/vendor/b..."
Check full details on Airbrake: [#1560506102116743758](https://github-education.airbrake.io/projects/116727/groups/1560506102116743758)

Backtrace:
[code]

[2015-11-24 02:07] tarebyte opened #372 "ActionView::MissingTemplate: Missing partial stafftools/assignment_invitations/_assignment_invitation with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :coffee, :jbuilder]}. Searched in: * "/app/app/vie..."
Check full details on Airbrake: [#1560506125764229725](https://github-education.airbrake.io/projects/116727/groups/1560506125764229725)

Backtrace:
[code]

[2015-11-24 02:23] #372 closed

[2015-11-24 02:23] #371 closed

[2015-11-24 18:43] tarebyte commented on #284
:pager: @kevincoakley @mccluresc @nadirweibel did this fix resolve your issues?

[2015-11-24 18:49] tarebyte commented on #284
Looking through the site

* @nadirweibel looking at your page it appears that you have added your org successfully.
* @kevincoakley someone else added your org as a classroom which is why you couldn't see it. The update flow seemed to solve the issue.
* @mccluresc according to Classroom you are not an owner of the ScriptEdcurriculum org. Perhaps it's a token issue?

[2015-11-24 22:06] sk11302012 opened #374 "I do not have any repositories"
I do not have any repositories but the system tells me that I have more than 10 and disallow my access to a project. What does it mean?
Thanks

[2015-11-24 23:38] tarebyte commented on #374
@sk11302012 Which organization are you trying to use for Classroom?

Did you recently upgrade your orgs plan?

[2015-11-25 02:42] sk11302012 commented on #374
No, as far as  I understand.

    On Tuesday, November 24, 2015 6:38 PM, Mark Tareshawty <notifications@github.com> wrote:

 @sk11302012 Which organization are you trying to use for Classroom?Did you recently upgrade your orgs plan?—
Reply to this email directly or view it on GitHub.

[2015-11-25 17:40] tk1221 opened #375 "Cannot make this private assignment, your limit of 10 repositories has been reached."
I have been invited to view an assignment and upon clicking the button:
"Accept this assignment", it gives the following error message:
"Cannot make this private assignment, your limit of 10 repositories has been reached. You can request a larger plan for free at https://education.github.com/discount"

I visited the above link but it is only for academic people and it is not applicable.
Thank you.

[2015-11-25 19:28] tarebyte commented on #374
@sk11302012 what organization are you trying to use?

[2015-11-25 19:30] tarebyte commented on #375
@tk1221 you can upgrade your plan from your organization settings if you are not academic and need more repos.

Are you using Classroom for GitHub for a non academic purpose?

[2015-11-25 19:38] sk11302012 commented on #374
Mark:It works now. So the issue seems to be resolved.Thanks.

    On Wednesday, November 25, 2015 2:28 PM, Mark Tareshawty <notifications@github.com> wrote:

 @sk11302012 what organization are you trying to use?—
Reply to this email directly or view it on GitHub.

[2015-11-25 19:39] #374 closed

[2015-11-26 03:04] tk1221 commented on #375
I am not using it actually. I had only one repo from sometime ago, and today I got an invitation to view an assignment and go the message that the limit of 10 repos was exceeded. I never had 10 repos. I contacted the people with the assignemnet-invitation and they solved the problem and I viewed the assignment. It was for non-academic. Thank you for your message.

    On Wednesday, 25 November 201

[2015-11-26 15:09] #375 closed

[2015-11-27 04:32] #346 closed

[2015-11-27 04:41] tarebyte opened #376 "Chewy::UndefinedUpdateStrategy: Index update strategy is undefined in current context. Please wrap your code with `Chewy.strategy(:strategy_name) block.`"
Check full details on Airbrake: [#1562757900403702415](https://github-education.airbrake.io/projects/116727/groups/1562757900403702415)

Backtrace:
[code]

[2015-11-27 04:57] tarebyte commented on #376
I can confirm this is an issue, working on a solution.

[2015-11-28 01:01] santina opened #377 "Control on creating repositories through invite links"
When an owner of a classroom creates an assignment, a common invitation link is created for that assignment. This link can then be manually sent to the students and through which they create their personal repository within the organization by logging into their GitHub account and simultaneously join the organization.

One possible issue with this set-up is that an unwanted outsider can somehow ob

[2015-11-29 16:20] tarebyte commented on #376
Closed by #378

[2015-11-29 16:20] #376 closed

[2015-11-29 16:35] tarebyte commented on #377
@santina thank you for the feedback!

Just out of curiosity have you seen this happen / has this happened to you?

The only problem with this is that there are some classes where there are more than 100 students and that can get tedious.

I think that is an interesting solution, which wouldn't be too hard to implement.

@johndbritton what are your thoughts on this?

[2015-11-29 22:42] santina commented on #377
Hi @tarebyte no the issue hasn't happened to me. Just something that I thought could happen.
Yeah the passcode, something like the Socrative. Students can choose a classroom to join

[2015-11-29 22:44] santina commented on #377
(^ Sorry I accidentally closed the issue when commenting)
Hi @tarebyte, no that hasn't happened to me. It's just a scenario that I thought could happen.

[2015-11-30 12:52] iamgoodbytes opened #379 "Adding a due date for assignments"
I'd like to use classroom to let students send in assignments and tests, but one requirement is that there is a specific due date and time. After that, students should not be able to send in any more modifications.

[2015-11-30 16:14] tarebyte commented on #379
@iamgoodbytes we don't really have submissions on Classroom for GitHub per se, but one thought is that at a certain time the permissions on the repo could be read only so that the students couldn't push anymore.

[2015-11-30 17:04] iamgoodbytes commented on #379
thanks @tarebyte I'll look into it more. I just tried to join an assignment (with a test account on github) but that gave me a 404 when following the link after "Your assignment has been created here: LINK". I was under the impression that repositories would be created for each individual student. I guess I'll need to play with the app more to see how things work out.

[2015-11-30 17:23] tarebyte commented on #379
They are, it shouldn't return a 404

[2015-11-30 17:30] tarebyte commented on #379
@iamgoodbytes what organization did you use to create the assignment? I don't see any assignments created on classroom page

[2015-11-30 17:47] iamgoodbytes commented on #379
@tarebyte my guess is that it had something to do with logging into multiple accounts at once in two browsers in order to test the student portion of the app. I've now been able to create assignments and access the repository as a student. I'll manually mark them as read-only, it's a bit of a drag with 40 students that have time until midnight for example, because I'll need to stay up and do that

[2015-11-30 17:57] johndbritton commented on #379
I think this is a common use case that we should support. I've got a few ideas for how we could do this:

* Remove student access to the repository at the deadline.
* Store the latest commit sha on every push that happens before the deadline. Students can still push after the deadline, but the submission will not be used for grading.
* Add a required build status to all repositories created by cla

[2015-11-30 18:04] johndbritton commented on #377
I agree that this is an unwanted consequence of using a single link, but it's a trade-off we made in the interest of simplicity.

If it starts to happen to people enough that they complain about it, we can come up with a solution but for now I think we'll stick to using a single link.

How would you distribute the passcode to students without having the same issue with sharing the private link?

S

[2015-12-01 13:38] johndbritton commented on #284
Since we haven't had any more reports and we haven't heard back, I'm closing this as resolved.

Feel free to reopen if the issue persists.

[2015-12-01 14:36] #284 closed

[2015-12-01 18:10] iamgoodbytes commented on #379
I think those are some wonderful ideas. All three solutions would work for me. I'll test this first time by giving an assignment and manually changing repo access to read-only. Thanks for following up!

[2015-12-02 08:58] bpesquet commented on #360
Hi,

Same for me: regularly, the repos are created with my username instead of the student's. Today, it happened 4 times for an assignment given to 22 students. Here's the assignment link : https://classroom.github.com/classrooms/14162426-slam5/assignments/presidents

[2015-12-03 02:51] tarebyte commented on #366
@jakesorce I'm closing this issue since it seems to be resolved, please feel free to reopen if you experience this again.

[2015-12-03 02:51] #366 closed

[2015-12-05 03:32] johndbritton opened #385 "Memory quota exceeded errors on Heroku"
I'm seeing occasional `R14: Memory Quota Exceeded` errors in the Heroku logs.

https://github.com/schneems/puma_worker_killer is a possible solution for those errors.

cc/ @mkcode because you know a thing or two about memory issues.

[2015-12-05 05:43] mkcode commented on #385
Yes. `puma-worker-killer` has worked very well in the education-web application. This work was done in https://github.com/github/education-web/pull/962 for reference.

[2015-12-06 11:01] beydogan commented on #364
I was able to reproduce this error when I was testing on my local environment by;

- I signed in as User A
- I created a classroom
- I created an assignment
- Opened new browser session and I go to invitation url and logged in as User A again.
- While logging in it removed some GitHub permissions like read/write permissions for repositories (that's the reason I believe)
- I click 'Accept this assi

[2015-12-06 17:02] #385 closed

[2015-12-06 17:15] #355 closed

[2015-12-06 17:26] #342 closed

[2015-12-06 19:11] beydogan opened #390 "Isolating requests to GitHub API in tests"
What would you say to create a wrapper for requests that are being made to GitHub and only mock that in tests? And then we can write unit tests for that wrapper to make sure its fine.

This would make controller + feature specs less painful :)

[2015-12-08 01:58] tarebyte opened #392 "Stafftools design"
@jasonlong w're currently working on Stafftools and wanted to run a few screens by you to see if you had any thoughts.

Right now we're working on #380 which lets use search for all resources on Classroom. But we're looking to make more to add on, including a dashboard of useful graphs (#391)

Here are some screenshots of what we have so far:

A single search result on the page

<img width="656" a

[2015-12-08 02:40] johndbritton commented on #392
A lot of this is still a work in progress, but it'd be awesome if you could do a pass through at some point once we've got the bulk of stafftools working and usable.

[2015-12-08 10:42] MattForshaw commented on #360
Good morning,

This is also a serious issue for my assignment at https://classroom.github.com/classrooms/16018527-ncl-cloudcomputing/assignments/csc8110-cloud-computing-2015-16. Please feel free to interrogate the audit logs for my assignment if you feel this will be useful.

One user affected by this is 'sherylcoe' whose assignment was originally created ending '-laureeeengarcia'. I went through

[2015-12-08 19:03] johndbritton commented on #360
@MattForshaw This is expected behavior, as you have deleted the repository from GitHub there is nothing for the app to link to.

Can you open another issue for this, as it's a separate problem than an improperly named repository.

[2015-12-08 19:07] MattForshaw commented on #360
Good afternoon @johndbritton, thank you for the quick reply to this.

As mentioned above; the reason I attempted to remove her repository was because it was intially incorrectly named as "https://github.com/NCL-CloudComputing/csc8110-cloud-computing-2015-16-laureeeengarcia".

This is very much the same issue.

Many thanks,
Matt

[2015-12-08 19:24] johndbritton commented on #360
@MattForshaw I missed the part about it being misnamed, but the fact that the link leads to `#success` is unrelated to the repository having been misnamed. That link is wrong because the repository on GitHub doesn't exist anymore. If it hadn't been deleted, it would link to the incorrectly named repository.

#393 Should fix the naming issue, but it will not resolve the broken link issue.

[2015-12-08 19:57] jasonlong commented on #392
I was hoping to find time to take a look at this today, but it doesn't look like I'll be able to until tomorrow. Hopefully that's ok.

[2015-12-08 20:18] tarebyte commented on #392
@jasonlong that's more than fine, thank you for your help!

[2015-12-08 22:10] tarebyte commented on #390
@beydogan in your mind how would this spec look. Would each test have a stub method for the API call we know it's going to perform and then call the controller action?

[2015-12-09 18:33] mattfxyz commented on #286
I think this would be a great feature addition. I used teacher_pet's clone all repos feature for each project I had to review. I think it could as simple as a button title "clone all repos" that just provide a zip file, but as you mentioned, it's harder to implement.

Now I copy all of the repo urls into a `git clone <...> && git clone <...>` command. Would something like this, but pregenerated, w

[2015-12-09 18:36] mattfaluotico opened #394 "Ability to clone repository(ies) from Assignment submission list"
By default, the URLs for each team's project all go to the repos themselves. Could something like the clone button on a repo page, with the HTTPS and SSH switch work for this? It would be nice to have the git link without taking that extra step.

[2015-12-09 18:43] johndbritton commented on #286
Pre-generating the command for copy and paste would be easy to do. I think there might be something better that's possible but I don't know what.

[2015-12-09 19:04] jasonlong commented on #392
Sorry for the delay, gents.

Taking a look at these screens with fresh eyes, the first thing that feels weird to me is calling this section "Resources". I'm not sure that name would hit me as the place to go if I wanted to look for something. I feel like there's also a cognitive disconnect between the search icon and the name Resources. So would "Search" work here?

When people search, they probab

[2015-12-09 20:22] tarebyte commented on #394
It wouldn't be to hard to change, I wonder if the clone action would be more useful to the professor than a link to the repo itself. Or is there a way to include both on the assignment listing.

Thoughts @johndbritton?

[2015-12-09 20:26] tarebyte commented on #392
@jasonlong I'm :cool: with renaming it to Search, this is what the page looks like with a white background

![screen shot 2015-12-09 at 3 25 36 pm](https://cloud.githubusercontent.com/assets/564113/11697746/229f66b4-9e89-11e5-9b66-0fad1c59b379.png)

[2015-12-09 20:27] tarebyte commented on #392
What would be a good way (UI wise) to do this?

[2015-12-09 20:49] jasonlong commented on #392
Yeah, that white bg looks better IMO.

For the results sections, I was just thinking you'd have a heading for each one (an `h2` or `h3`) like:

## Users

[image] name
[image] name
[image] name

## Assignments

[image] assignment name
[image] assignment name
[image] assignment name

And so on. If there are no results for a section, I probably wouldn't show it at all. All of this in the regular boxe

[2015-12-09 20:50] tarebyte commented on #392
Yeah makes sense to me, I'll give this a go

[2015-12-09 20:51] jasonlong commented on #392
:cool: If you need me to make a :lipstick: pass afterwards, I can do that. 💃

[2015-12-09 20:53] tarebyte commented on #392
:sparkling_heart:

[2015-12-09 21:21] johndbritton commented on #394
I'm guessing your talking about the assignment page which lists the repositories.

What's your end goal here? Are you trying to download the code for one submission, all submissions, or something else? We can try and make the task you're doing easier, but I wouldn't just want to start adding additional urls.

[2015-12-09 21:23] johndbritton commented on #392
I also like marking staff areas with a visual signal like this:

![screen shot 2015-12-09 at 1 22 55 pm](https://cloud.githubusercontent.com/assets/123345/11699204/08fb82e4-9e78-11e5-83db-a1a580e1fbe5.png)

[2015-12-09 21:30] mattfxyz commented on #394
I think checking out a groups repo, one or all of them, takes too many
steps. If there was a button to directly access the git URL or a download
button, it would eliminate actually going to the repo's page.
On Wed, Dec 9, 2015 at 4:21 PM John Britton <notifications@github.com>
wrote:

[2015-12-09 21:30] tarebyte commented on #392
@johndbritton, where is that usually located?

[2015-12-09 21:36] johndbritton commented on #392
at the border between navigation and the beginning of the page.

[2015-12-09 22:03] johndbritton commented on #394
We're talking about adding a way to download all repositories for an assignment in https://github.com/education/classroom/issues/286. I don't think we want to encourage folks to download a zip file, as that won't include the whole project history.

[2015-12-09 22:06] johndbritton commented on #394
I've marked this as a feature request.  I don't know exactly how we'll solve for this issue, but we're aware of it and are planning to make this take less steps. I'm not sure exactly when we'll get to this, but it's on our list. Thanks for submitting your feedback @mattfxyz.

[2015-12-09 22:09] johndbritton opened #396 "Focus text box on display"
When clicking the "reset and remove" classroom button, the confirmation box requires typing the organization name. That text box should be focused immediately.

That box should get focus in every case where we use this pattern.

[2015-12-10 16:16] #396 closed

[2015-12-10 18:20] ppannuto commented on #379
I'd like to put a vote in for using the best submission based on timestamp. I question the pedagogical value of stopping students from being able to improve something they've written just because a deadline has passed. Yes, it may not improve their grade, but that shouldn't stop them from continuing to explore / improve the project.

Actually, I would imagine an interesting project policy could ha

[2015-12-10 18:56] johndbritton commented on #379
@ppannuto Thanks for the feedback. I also like the timestamp idea. One thought I had was to give students the ability to select their "submission" up until the due date but lock that down after the due date.

[2015-12-10 20:14] ppannuto commented on #379
I've done that before in two different ways for projects: the first time
was an out-of-band google doc that students copied a commit hash into
(obviously could be done with a web interface). A refinement was to allow
students to add a tag labeled "submission" and use that (though the grader
also had to check the timestamp of the commit it pointed to). Students
liked the tag mechanism because it wa

[2015-12-13 03:23] tarebyte commented on #392
How's this?

![screen shot 2015-12-12 at 10 22 42 pm](https://cloud.githubusercontent.com/assets/564113/11765302/ef009fe2-a11e-11e5-8db0-38b81881b84c.png)

[2015-12-13 13:03] jasonlong commented on #392
I have some ideas that should help with readability. If I wanted to take a pass, would #380 be the place?

[2015-12-13 13:31] tarebyte commented on #392
@jasonlong yup that would be it!

[2015-12-13 16:05] jasonlong commented on #392
I've added my followup over in #380.

[2015-12-16 05:52] tarebyte opened #399 "ActionView::MissingTemplate: Missing template organizations/index, application/index with {:locale=>[:en], :formats=>[:json], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :coffee, :jbuilder]}. Searched in: * "/app/app/views" * "/app/ven..."
Check full details on Airbrake: [#1576564520283766697](https://github-education.airbrake.io/projects/116727/groups/1576564520283766697)

Backtrace:
[code]

[2015-12-16 05:52] tarebyte opened #400 "ActionView::MissingTemplate: Missing template organizations/show, application/show with {:locale=>[:en], :formats=>[:json], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :coffee, :jbuilder]}. Searched in: * "/app/app/views" * "/app/vendo..."
Check full details on Airbrake: [#1533444787128989060](https://github-education.airbrake.io/projects/116727/groups/1533444787128989060)

Backtrace:
[code]

[2015-12-16 15:12] tarebyte commented on #400
Closing this, someone keeps trying to hit a JSON endpoint that doesn't exist

[2015-12-16 15:12] #400 closed

[2015-12-16 15:12] tarebyte commented on #399
Closing this, someone keeps trying to hit a JSON endpoint that doesn't exist

[2015-12-16 15:12] #399 closed

[2015-12-16 15:22] iamgoodbytes opened #401 "Had to abandon github classroom in full exam setting"
Hi guys, I'm sure this is my own problem to solve but I wanted to give you all a heads up. I have a github organization account and prepared an exam assignment for my 40+ students here in class.

They wanted to start the assignment but 30 of them got the error saying that we have maxed out at 10 accounts. I'm abandoning github classroom right away so that my students can work on their exams.

Make

[2015-12-16 18:18] tarebyte commented on #401
@iamgoodbytes for future reference, you can request more private repos from GitHub education in advance and I'm sure they wouldn't mind helping out.

[2015-12-16 18:18] #401 closed

[2015-12-17 00:03] santina commented on #377
Hi @johndbritton, thanks for the detailed response. I definitely appreciate the interest of simplicity. Each of the suggestions that have been made in this thread has a pitfall.

A new idea: what about having a feature of disabling/enabling the link?  Right now once the link is created, it freely floats out there for an indefinite length of time. If someone get the link, they can create a repo and

[2015-12-17 00:21] johndbritton commented on #377
That sounds like a reasonable idea to me. Maybe we can combine that with the due date feature to close the invitation link on the due date. Would that make sense to you @santina?

[2015-12-17 00:23] santina commented on #377
Yes that makes sense :smile:

[2015-12-17 00:35] tarebyte opened #403 "NoMethodError: undefined method `avatar_url' for nil:NilClass"
Check full details on Airbrake: [#1577129586171278040](https://github-education.airbrake.io/projects/116727/groups/1577129586171278040)

Backtrace:
[code]

[2015-12-17 00:38] #295 closed

[2015-12-17 00:42] johndbritton commented on #392
I think we're done with this. Thanks @jasonlong.

[2015-12-17 00:42] #392 closed

[2015-12-17 00:44] johndbritton commented on #401
Hey @iamgoodbytes, I'm sorry for the trouble. If you need more repositories you can request them here: https://education.github.com/discount.

[2015-12-17 21:22] #403 closed

[2015-12-18 05:49] tarebyte opened #408 "NoMethodError: undefined method `decorate' for nil:NilClass"
Check full details on Airbrake: [#1578012586165630718](https://github-education.airbrake.io/projects/116727/groups/1578012586165630718)

Backtrace:
[code]

[2015-12-19 07:24] tarebyte commented on #171
I'm going to close this again until I can remember how to reproduce it.

[2015-12-19 07:24] #171 closed

[2015-12-20 03:50] lifeiscontent opened #411 "Create branches instead of seperate repos?"

[2015-12-21 01:01] #411 closed

[2015-12-22 13:27] #408 closed

[2015-12-22 21:11] tarebyte opened #413 "ActiveRecord::RecordInvalid: Validation failed:"
Check full details on Airbrake: [#1581375504496161692](https://github-education.airbrake.io/projects/116727/groups/1581375504496161692)

Backtrace:
[code]

[2015-12-23 23:21] nixpulvis commented on #288
Along the same lines, it would be nice to allow staff to assign groups.

[2015-12-29 22:43] johndbritton commented on #288
@nixpulvis Could you open another issue for that feature request? I'd be especially interested in your ideas as to how the teacher could assign the groups. When creating the assignments, we don't necessarily have the GitHub account info for all of the students yet.

[2015-12-30 16:03] nixpulvis opened #415 "Staff Assigned Groups"
In many classrooms groups are assigned (often by request) by the staff of the course. This allows larger courses in particular to group only students who for example share a lab. This is in a way an extension to #288 as it restricts the group membership even further.

Allowing assigned groups could also facilitate account creation. I'm currently thinking about this in the context of a GitHub enter

[2016-01-04 00:02] lifeiscontent opened #416 "Possible bug when deleting an assignment repo"
When deleting a assignment repo a student may no longer accept the assignment.

**Steps Taken**
1. Click invite link
2. Delete repo from github
3. Click invite link again
4. see the screen shot below

![49699abe132da40b32488a69bfa532f2f78ca4d6265df70397 pimgpsh_fullsize_distr](https://cloud.githubusercontent.com/assets/180963/12081616/61a3e0de-b233-11e5-99cc-0174089890a9.jpg)

**Expected outcome**

[2016-01-04 00:14] tarebyte commented on #416
@lifeiscontent this is not a bug. Currently deleting the GitHub repo does not delete the corresponding `assignment_repo` for the assignment.

So as far as Classroom knows the student has an assignment.

[2016-01-04 00:14] #416 closed

[2016-01-04 00:16] lifeiscontent commented on #416
@tarebyte how would I revoke an assignment from a student?