[2019-09-05 21:01] spinecone commented on #2343
Hi @bethard , we can investigate the classroom error since it may be a separate problem, but we aren't able to help with the account restriction from our side, and continuing to use a account that's been restricted will likely cause other problems.

[2019-09-05 21:07] bethard commented on #2343
Yeah, if account restriction is the problem, it would be nicer if the error message said something like that. Looking a bit at what GitHub has done to Iranian developers, I'm guessing the message should say something like "Your account is unable to create private repositories"?

[2019-09-06 06:06] kkeoghfeduni opened #2345 "one of my classrooms disappeared"
I am not sure if this is a bug, if there is automatic archiving or if someone else in my administrators list has done something wrong..
It seems that one of my classrooms has disappeared. The link I had to the classroom is: https://classroom.github.com/classrooms/35830262-itech2306feduni-agile-coding-2018-sem-1
When I access classroom.github.com ,  I no longer see this classroom listed.
If I try t

[2019-09-06 13:26] stephaniegiang commented on #2342
@femmebot we could re-use the search and sort we have for classrooms and for the student assignments we have

[2019-09-06 14:59] jdbarrie commented on #2342
@femmebot Sure! Would be happy to.

[2019-09-06 16:57] EricPickup opened #2346 "Remove Beta badge on template repositories"
I mentioned this in Slack during my last week. We should remove the Beta badge on the template repos feature since it has been working properly for over a month and performing all of the expected behavior.

We could also replace it with a `NEW!` badge instead of completely removing it.

The new school year is starting and I wouldn't want teachers to be afraid of using this amazing new feature duri

[2019-09-06 17:26] stephaniegiang commented on #2346
@femmebot would replacing the "Beta" with "New" text be enough? Or should there also be a color change?

[2019-09-06 18:09] stephaniegiang commented on #2346
@femmebot that is a really good question. I don't know why. We could change it so that it is there whether they have entered the name of the repo.

[2019-09-06 18:46] stephaniegiang commented on #2345
Hey @kkeoghfeduni 👋 Is it possible your classroom was renamed to `ITECH2306FedUni Agile Coding Classroom 1`. Looking at the assignment link you provided, it looks like the classroom name doesn't match the one original classroom you are looking for.

[2019-09-06 18:46] stephaniegiang commented on #2346
Oh I love this ❤️

[2019-09-06 20:54] spinecone commented on #2049
Making a note here that moving to a GitHub App would also allow us to use an installation token for rate limiting rather than our current strategy of picking a random org member's token, which would give us a higher rate limit overall and behave more consistently.

[2019-09-07 03:51] kkeoghfeduni commented on #2345
Hello Stephanie,
Thanks for your reply.
Yes I wondered that, however, I don’t see the original classroom material in the classroom ITECH2306FedUni Agile Coding Classroom 1.
My memory tells me that I created that classroom as a new classroom for my cohort of students who started later in 2018 at SGU campus. The first (missing ) classroom was for the cohort who started in March 2018.
For all cohorts

[2019-09-08 17:39] bsiever commented on #2325
At the moment download always times out.  Is there any alternative to get the roster other than manually grabbing each page and doing a little processing?

[2019-09-09 03:28] rkumar-teaching commented on #1632
I faced the same issues today But then clicking on the "Download Repositories" using classroom assistant button from GitHub Classroom worked!

[2019-09-09 14:16] d12 commented on #1431
I am digging into this right now. I'll keep y'all updated.

Right now, it seems https://github.com/education/classroom/blob/bab0ecfccaa23ca4d07aa65a59f7c001f8682b38/app/models/github_repository.rb#L215 does not return private forks, but _does_ return private non-forks. Odd.

[2019-09-09 14:56] d12 commented on #1431
This happens when trying to use a private fork of an organization repository that has third party access restrictions enabled. Using a repo forked from a User, disabling third party restrictions on the organization, or authorizing the Classroom oauth app will resolve the issues.

More about third party access restrictions: https://help.github.com/en/articles/about-oauth-app-access-restrictions

As

[2019-09-09 14:57] d12 commented on #1940
Lets just use actions instead: #2347

[2019-09-09 14:57] #1940 closed

[2019-09-09 14:59] d12 commented on #2123
cc @education/classroom-reviewers

[2019-09-09 14:59] spinecone commented on #2345
Hi @kkeoghfeduni , could you give us some more details about the classroom materials you're expecting to see? We couldn't find any audit logs showing that the classroom was deleted, so it's likely that it was renamed or some of its materials were deleted or renamed.

[2019-09-09 15:37] d12 commented on #765
We could do this using the new maintainer and triage GitHub roles possibly. I'll add to the backlog to investigate.

[2019-09-09 15:56] pinventado commented on #1431
I tried checking my organization's Third-Party Access settings that shows that Classroom is authorized.

![image](https://user-images.githubusercontent.com/341001/64546430-886e9800-d2df-11e9-89fd-12adefe3a25e.png)

![image](https://user-images.githubusercontent.com/341001/64545921-86580980-d2de-11e9-8bed-234bd2e6eb61.png)

Is this what you were referring to? I still have the Third-party applicatio

[2019-09-09 16:02] d12 commented on #1431
Hmmm. Perhaps someone in @education/classroom-reviewers has more ideas. There may be more to this problem than I discovered.

[2019-09-09 18:15] jeffrafter commented on #2031
This task came out of #1996 and we are looking for more user feedback around this. Are teachers currently needing this functionality?

[2019-09-09 18:17] jeffrafter commented on #2184
This was originally implemented in #2187 and we are investigating a leaky-bucket approach to handling rate limiting moving forward. We're also interested in collecting stories from educators who have been or are being impacted by rate limits.

[2019-09-09 18:35] JessRudder opened #2349 "Create a feature flag for the new design called `redesign`"
We're working on tightening up the design and flow of the onboarding process.

To avoid the confusion of a mixed process where some parts of the flow are new and some are old, we'll be keeping the new flow behind a feature flag until it's ready to launch.

[2019-09-09 19:14] stephaniegiang opened #2350 "Implementing LTI 1.3"
This summer we implemented LTI 1.1 and 1.0! However, recently IMS Global introduced LTI 1.3 as the new standard. We should think about moving over to LTI 1.3 soon.

### Why we should implement LTI 1.3 soon:

- All 1.0/1.1 services will be depreciated by 12/31/2020
- We have to renew our LTI certification each year and renewing 1.0/1.1 is not possible after 12/31/2019
- This gives us a year to impl

[2019-09-09 20:27] spinecone commented on #2346
It looks like we're not actually attempting to convert non-template repos into templates:
![Screen Shot 2019-09-09 at 3 22 47 PM](https://user-images.githubusercontent.com/7772827/64563750-bbcc1980-d315-11e9-9b8f-169e9b596df4.png)

Something I was unsure about was why we allow users to choose a template repo, but not use the template repo option. Is there a valid/common use case for that? If not w

[2019-09-09 20:55] spinecone commented on #2340
This will be addressed as part of the onboarding redesign that @femmebot is working on. We'll need to consider how the overall relationship between organizations and classrooms is conveyed.

[2019-09-09 21:02] stephaniegiang commented on #2279
Hey guys! We looked into the issue with D2L and determined that GitHub Classroom currently cannot support Brightspace. Brightspace currently does not implement the IMS names and provisioning service needed for roster importing. However, we are working on supporting Brightspace in the future!

[2019-09-09 21:02] #2279 closed

[2019-09-09 23:42] #2349 closed

[2019-09-09 23:49] JessRudder opened #2353 "Create a copy of the header/layout which is new/old based on the `redesign` feature flag"
The redesign will include a new header and we'll need to be able to serve both side-by-side (depending on the state of the feature flag).

For this we'll need to do the following:

Add logic for showing one header vs the other (depending on the feature flag)

Add the front end code for the new header

[2019-09-10 02:01] kkeoghfeduni commented on #2345
Hello,
I think you are right. The classroom was originally named ITECH2306FedUni Agile Coding 2018 Sem 1 and perhaps I renamed it to ITECH2306FedUni Agile Coding Classroom 1.

My apologies.
Regards,
Kathleen

Kathleen Keogh
Program Coordinator - BIT (Professional Practice), Bachelor of Information Technology (Cloud and Enterprise Computing)
School of Science, Engineering and Information Technology

[2019-09-10 12:30] bsiever commented on #2325
Update:  This is a horrible, inelegant hack ...but at the moment I'm running some JavaScript to get the entire roster.  (I'm not sure why advancing to the next page pegs my CPU at 100%, but it does.  If this were all web requests I'd expect the delay in async-waiting....  I'm guessing there's some weird looping or polling going on)

Anyway, if anyone else needs it...Right click on the page, Inspec

[2019-09-10 13:48] d12 opened #2355 "Replace `Classroom` with `GitHub Classroom`"
There's probably 10 or so `Classroom` usages in our UI that we should fix up, which I found using `[^GitHub|Google] Classroom[^ Assistant]`. Ignoring Classroom Assistant for now.

[2019-09-10 14:37] d12 commented on #2339
@mdwheele Me and the engineering team would be happy to help and review that work!

To @mwehr 's point (It seems `include_all_branches` didn't make it into 2.18), it may make sense to have the users enterprise version be a part of the .env so we can conditionally enable/disable features that don't exist in old versions of enterprise.

[2019-09-10 15:55] spinecone commented on #2345
No problem, let us know if you need any more help.

[2019-09-10 15:55] #2345 closed

[2019-09-10 18:07] shaunakpp commented on #2297
Hi @olano, after our offline discussion on a possible workaround, I have created a demo org with a demo repo for the unreal engine. I've also sent you an invite to the organization to check if the repository with no commit history works for you.

[2019-09-10 19:21] andrewbredow commented on #2222
Precursor:

1. Measure how often teachers are using private repos where the teacher is the owner and it's not in the org?
2. Design: Do we want to fork it for them, or do we want to direct them to GitHub to complete the action.

[2019-09-11 13:02] xieyuxi1107 opened #2358 "Starter Code Takes Forever"
Likes issues #1759, my starter code takes forever (10 hours and counting) to import too. The classroom is: https://github.com/EECS388-Classroom

To Reproduce Steps to reproduce the behavior:
Go to https://classroom.github.com/a/80TPAyLe
wait

Expected behavior The starter code should import, and I should see the starter code in the repository.

screenshot:
![Screen Shot 2019-09-11 at 9 00 22 AM](h

[2019-09-11 13:20] xieyuxi1107 commented on #1757
I have the same problem, just that my code is not actually imported into the repository. Why is that?

[2019-09-11 15:05] hanleybrand commented on #2350
Another benefit is that schools won't need to have that secret membership feature turned on for their instance, since the membership & roles feature is baked in to LTI 1.3

[2019-09-11 15:25] #2355 closed, assigned to spinecone

[2019-09-11 17:54] d12 commented on #2358
:wave: @xieyuxi1107, I see that assignment is using the source importer for starter code. We recently introduced a new beta method of importing source code via template repositories, would you mind giving that a try? It should resolve the timeout issues you're seeing.

To change, you can head to your assignment settings and look for the template repositories radio button under where you would sele

[2019-09-11 17:57] d12 commented on #602
This is _almost_ complete. The last thing to do is filter out archived repositories on the classrooms screen (and provide some tab or other page showing the archived ones). @femmebot Could you post the design ideas you had?

[2019-09-11 17:58] d12 commented on #765
We'll be starting work on this shortly :)

[2019-09-11 18:18] d12 commented on #2285
cc @jeffrafter

[2019-09-11 18:53] d12 commented on #602
We can already archive/unarchive within the classroom settings! This is the last missing piece, thank you @femmebot 💖

[2019-09-11 19:02] d12 opened #2363 "Show exact deadline datetime on hover"
When you set a deadline, this is what you see on on the assignment page:

<img width="252" alt="Screen Shot 2019-09-11 at 2 58 59 PM" src="https://user-images.githubusercontent.com/30920216/64726475-bc46ea80-d4a4-11e9-829a-ced78b2a31cf.png">

It's not very descriptive, it's hard to tell exactly what day it's talking about, and I don't know what time the deadline is at.

2 possible solutions:

a) H

[2019-09-11 19:36] d12 opened #2364 "Cumulative Assignments"
Simple assignments have starter code, a task, and a deadline. This works in simple cases, but a lot of classes use assignments to cumulatively build a larger application, introducing new concepts each week. Classroom doesn't support this at all, new tasks cannot be pushed by teacher, and an assignment cannot have multiple deadlines. The typical workaround is one assignment that doesn't use deadlin

[2019-09-11 20:10] spinecone commented on #2222
Some preliminary data gathered from the GitHub Classroom production console and octokit (limited it to just the past month for now because this query takes a long time to run):

- 4180 total assignments created in the past month (individual and group)
- 3075 with a repo starter code
- 2014 assignments whose starter repo is private
- 1604 assignments whose private starter repo belongs to an org
- 4

[2019-09-11 20:56] spinecone commented on #2343
Hi @ariyanzri , I've heard from our appeals review team that you submitted an appeal to reactivate your account and that it was successful. Have you experienced any more trouble with Classroom since then?

[2019-09-11 20:58] ariyanzri commented on #2343
Hi. Yes they reactivated my account yesterday but since I hadn't heard from them, I created another account and joined the classroom using the new account.

[2019-09-11 21:00] spinecone opened #2365 "display github.com API error messages when attempting to create repositories"
Based on discussion in https://github.com/education/classroom/issues/2343

If the request to create a repository on github.com fails, we should display the error message returned so it's clearer to the user what went wrong.

[2019-09-12 00:24] JessRudder commented on #2353
I'm going to remove my assignment from this while it's still in the design stage. This frees us up to have anyone pick it back up when we're ready to move forward.

[2019-09-13 04:04] marksherriff opened #2369 "Classroom + Heroku Deployment / Bulk add students to ORG"
In order for students to use the deploy features in Heroku, they need to be added to my class organization.

Is there a way to bulk add students to the class org?

[2019-09-13 16:30] marksherriff commented on #2369
Asked and Answered on Twitter - https://github.com/apps/invite/

Thanks!

[2019-09-13 16:30] #2369 closed

[2019-09-13 18:05] d12 opened #2372 "Moving off of VCR"
VCR is the single biggest development pain point when working on GitHub Classroom. It took me forever to get working, and most developers who start working on Classroom run into issues with it. Creating tests means creating actual records on GitHub.com, and you can't make tests if you're offline, your credentials are incorrect, or your plan isn't sufficient (You can't make private repos in an org

[2019-09-13 19:13] spinecone commented on #2372
In addition to the concerns that @d12 has mentioned, as someone new to this codebase, VCR has made it difficult to understand and update existing tests (what API requests is this behavior making? is my change doing something bad to the existing requests? I don't know because the answer lies is an unintelligible 7000 character file).

My personal strategy in avoiding VCR has been:

Whenever a spec

[2019-09-13 21:15] ac-1138 commented on #2263
@stephaniegiang - is it on GitHub Classroom's roadmap to have the app use OAuth 2.0 (assuming it's currently using 1.0a which the membership service configuration feature option enables)? Thanks!

[2019-09-14 18:02] dirkcgrunwald commented on #1156
Another "amen" - 100 students, too much email.

[2019-09-15 18:31] sigged opened #2374 "Don't reset assignment prefix on title focus"
Our education uses a structured format for classrooms and assignment prefixes.
When entering a title for a new assignment, the system automatically chooses a valid _assignment repository prefix_. That's great.
Before saving, we just change the suggested prefix to our own structured format before saving the assignment.

![2019-09-15 20_19_43-GitHub Classroom](https://user-images.githubusercontent.c

[2019-09-15 18:33] ConsoleFriend commented on #2374
Second that!

[2019-09-16 13:23] tamberg opened #2375 "Beta option selected per default"
Concerning the import of a (template) repo when creating an assignment.

Great to have a new option, but probably safer to select the proven option per default.

<img width="858" alt="Screenshot 2019-09-16 at 15 20 24" src="https://user-images.githubusercontent.com/142092/64961401-b92d6f00-d895-11e9-860a-acee11029eb2.png">

[2019-09-16 13:55] titaniumbones commented on #1679
@stephaniegiang what about things like the "download all repositories" feature for an assignment? Right now I hack my way through the listo frepos using regexps, but if there was a classroom-specific flag that could b added to the API I'd be more confident I'm getting everyone.

[2019-09-16 14:48] Sallenmoore commented on #2123
FYI - I created a new organization, and it doesn't seem to be happening in the new organization. Could it be an old API issue that's been carried along with the organization?

[2019-09-16 14:52] stephaniegiang commented on #2123
Sorry it has taken so long to get an answer.

☝️ Is this happening within the same organization you mentioned earlier on?

Still looking into this to see if anything pops up our side. Will update when I have something 😄

[2019-09-16 14:54] stephaniegiang commented on #1679
@titaniumbones We have a tool called Classroom Assistant that can help you with downloading all repositories. Have you tried that out yet?

[2019-09-16 16:14] Sallenmoore commented on #2123
Yes, it is still occurring in the previous organization. I moved the class to a new organization, and that seemed to solve the issue. For my part, I'm considering the issue solved, but I am willing to provide whatever assistance/info you may need to look further into it if you want to.

[2019-09-16 17:54] stephaniegiang opened #2376 "Remove "link_lms" attribute from LtiConfiguration"
Currently, we have an unused attribute on LtiConfiguration called `link_lms`.

We should remove it.

[2019-09-16 20:47] Kevin-CodeCrew commented on #595
That's been my experience. Great, I can now have multiple classrooms, but individual assignment repos from all Students show up in our primary organization which will not do. We quickly would be buried in a list of 100s and eventually, 1000s of Student assignment entries. Our main organization was/is intended to be a place where Instructor materials are housed. Not individual Student assignments.

[2019-09-16 21:42] #2376 closed

[2019-09-17 02:31] fly51fly opened #2379 "Roster Management page 500 Internal Server Error"
**Describe the bug**
I tried to access Roster Management for
https://classroom.github.com/classrooms/55371079-principle-of-web-search-2019-classroom
, then I got the 500 Internal Server Error

![未命名](https://user-images.githubusercontent.com/128885/65006631-390b1600-d936-11e9-9eec-a6409bd7bd15.jpg)

**To Reproduce**
Just access Manage Classroom - Roster Management

THX

[2019-09-17 14:02] kw-lee commented on #2313
I have the same problem. Isn't it fixed yet?
<img width="1166" alt="Screen Shot 2019-09-17 at 10 57 36 PM" src="https://user-images.githubusercontent.com/17693194/65048185-aeaacc80-d99e-11e9-87b9-6e2da2aa6243.png">
When I clicked my profile, I was redirected to 'https://github.com/my_old_username' page
<img width="1166" alt="Screen Shot 2019-09-17 at 10 54 05 PM" src="https://user-images.githubuse

[2019-09-17 14:11] stephaniegiang commented on #2313
@kw-lee I'll take a look 😄

[2019-09-17 14:24] stephaniegiang commented on #2313
@kw-lee Can you try again? Should work now.

[2019-09-17 14:28] kw-lee commented on #2313
Yes! works very well. Thank you!

[2019-09-17 14:29] stephaniegiang commented on #2313
Awesome! I'm going to lock this issue. If there are any other issues, please open a new issue as they are easier for us to find 😄

[2019-09-17 14:30] stephaniegiang commented on #2263
@ac-1138 We do currently have LTI 1.3 on our roadmap (I believe that is what you are referring to) 😄

I'm going to lock this issue. If there are any other issues, feel free to open a new issue as they will be easier for us to find and triage.

[2019-09-17 15:31] stephaniegiang opened #2380 "Verify Google Classroom course"
When we add the Google Course to the organization, we should do one more check just to verify that the user has access to the course.

[2019-09-17 18:13] ac-1138 opened #2382 "When will GitHub Classroom start using LTI 1.3?"
@stephaniegiang [mentioned](https://github.com/education/classroom/issues/2263#issuecomment-532247142) that LTI 1.3 is on GitHub Classroom's roadmap. What is the timeline for that step forward? Thank you!

[2019-09-17 19:55] spinecone commented on #2379
Hi @fly51fly , I've just pushed a change that should fix the problem you're seeing, could you try to access roster management for that classroom again?

[2019-09-17 20:05] liffiton commented on #2379
FWIW, I was having the exact same problem, and it is fixed now for me.

[2019-09-18 04:42] fly51fly commented on #2379
Fixed! Thank you!

[2019-09-18 14:39] #2379 closed

[2019-09-18 14:43] khaubold commented on #2299
I imported my Google Classroom roster, but only the first 30 students were imported into my Github Classroom.

[2019-09-18 16:22] stephaniegiang commented on #2299
@khaubold how many students are in your Google Classroom?

[2019-09-18 16:58] khaubold commented on #2299
@stephaniegiang There are 56 students in my Google Classroom. It looks at first glance like only the first 30 alphabetically transferred.

[2019-09-18 18:04] b2550 commented on #2358
I am experiencing the same issue as a student. I canceled the import after about 30 minutes of waiting but then there was no starter code so I used the invite link again. Now it is stuck again.

https://github.com/occs364s19/hw1-knn-benoberlin

[2019-09-18 19:17] d12 commented on #260
:wave:! We're moving conversation for this topic here: https://github.com/education/classroom/issues/2364. I'll close out this issue.

[2019-09-18 19:17] #260 closed

[2019-09-18 19:21] d12 commented on #364
Closing for inactivity, please re-open if this happens again.

[2019-09-18 19:21] #364 closed

[2019-09-18 19:27] d12 commented on #531
We're not too sure what issue slug-based URLs were causing 3 years ago. Closing, but please re-open if there's more information to add!

[2019-09-18 19:27] #531 closed

[2019-09-18 19:36] d12 commented on #603
Hey @drbeco !

https://github.com/education/classroom/pull/1876 merged earlier this summer which adds an optional maximum number of teams. Combined with a maximum number of students per team, this should solve your problem.

[2019-09-18 19:36] #603 closed

[2019-09-18 19:41] d12 commented on #664
Closing, looks like this one is solved.

[2019-09-18 19:41] #664 closed

[2019-09-18 19:43] d12 commented on #730
Teachers can now set a maximum number of teams which solves this issue: https://github.com/education/classroom/pull/1876

[2019-09-18 19:43] #730 closed

[2019-09-18 19:49] #849 closed

[2019-09-18 19:53] d12 commented on #918
Closing as duplicate of https://github.com/education/classroom/issues/918

[2019-09-18 19:53] #918 closed

[2019-09-18 19:54] #1002 closed

[2019-09-18 19:59] d12 commented on #1140
:wave:!

I'm closing this one out as a duplicate of https://github.com/education/classroom/issues/1140. This is something we want to tackle at some point, we'll post something in the other issue when we begin work.

[2019-09-18 19:59] #1140 closed

[2019-09-18 20:01] JarrettBillingsley commented on #1140
A duplicate of itself...?

[2019-09-18 20:20] d12 commented on #1140
@JarrettBillingsley Whoops, wrong link. https://github.com/education/classroom/issues/377

[2019-09-18 20:28] lwasser commented on #1679
hey all -- related to the questions above, is there a way to create a new classroom in an organization via the CLI / an api?

[2019-09-18 20:47] notslang opened #2384 "Unable to create a team after changing username"
I am a student who started using GitHub Classrooms a couple years ago for school. I changed my GitHub username from slang800 to notslang over the summer and now I am unable to create teams after being invited to a project in GitHub Classrooms.

This is the error that I get after typing in a team name on the "Accept the <assignment name> assignment" and pressing "+ Create Team":

![1568838833](http

[2019-09-18 20:51] d12 commented on #2384
:wave: @notslang, A fix for errors caused by account renames is coming soon, but I've went and fixed up your account! You should be good to go now :+1:

[2019-09-18 20:51] #2384 closed

[2019-09-18 20:55] halliganbs commented on #2384
I am having the same issue, for the same classroom

[2019-09-18 21:05] d12 commented on #2384
@halliganbs You're also all set :)

[2019-09-18 21:36] gchallen commented on #2054
We just got bitten by this same problem.

I really wish that this was explained more clearly at the place where the choice is made to use a templated repository. In our case we were always planning on release changes to an upstream repository, since we have students doing a multi-part assignment with new checkpoints released throughout the semester.

We're resorting to patch files, but that's a sa

[2019-09-19 10:50] aalexandrescu opened #2386 "Cannot import students from Moodle"
1. I have followed the tutorial to connect GitHub Classroom to Moodle 3.7.
2. When I click on the created Moodle activity, the connection is successful and the following messages appear: "Congratulations! You've successfully connected GitHub Classroom to Moodle" and "You are able to import your roster from Moodle."
3. Then I click the "Import students" button followed by "Import from Moodle".
4. A

[2019-09-19 13:36] stephaniegiang commented on #2386
Hi @aalexandrescu 👋
Do you have checked to make sure "IMS LTI Names and Role Provisioning" is turned onto "Use this service"? This can be found under Services.

[2019-09-19 20:06] spinecone commented on #2049
Next steps for migrating to a github app:
- researching github apps and their tokens
  - what can they access, maybe even private repos owned by users?
  - how long do teacher tokens last? what happens when a token expires?
  - we need an app that has "unlimited" access to github.com
  - team sync uses github apps (mtodd?)
  - github pages uses github apps, migrated from oauth apps (ben emdon?)

[2019-09-19 20:11] spinecone opened #2387 "Improve Onboarding"
(Split out from https://github.com/education/classroom/issues/2049)

Currently being researched by @femmebot ✨

[2019-09-19 22:30] dejohnso commented on #1462
I just had a student get 7 copies with one click and another get 3 repos with 1 click.

[2019-09-19 23:42] BenEmdon commented on #1462
@dejohnso Unfortunate to hear that this happed again. A lot has changed since this was "resolved".
I'll loop in the Classroom team.

CC: @education/classroom-reviewers @d12

[2019-09-20 03:38] aalexandrescu commented on #2386
Yes. I have also tried to set the other two options in the Settings category to "Use this service..." but I get the same result.
I have also deleted and recreated the external tool configuration and the activity, but it is the same error message.
If it helps I can provide screenshots or a short video.

[2019-09-20 04:52] yves-chevallier commented on #2073
I would also say that the format should be always ISO8601 not 09/23/2019 00:00 +200 but 2019-09-23 00:00+02:00

[2019-09-20 14:23] stephaniegiang commented on #2386
I wasn't able to reproduce this problem. There might be some additional settings within the Moodle from the administrator side. Have you tried contacting the administrator for your Moodle?

[2019-09-20 14:35] stephaniegiang commented on #2254
Closing this issue as it has been resolved 😄

[2019-09-20 14:35] #2254 closed

[2019-09-20 14:36] stephaniegiang commented on #2299
@khaubold Going to look further into this and I will let you know if I'm able to find the source of the problem

[2019-09-20 14:38] stephaniegiang commented on #2382
Hi 👋 We are currently in the planning phase. So will update when we have some dates 😄

[2019-09-20 15:19] khaubold commented on #2299
@stephaniegiang Thanks!

[2019-09-20 15:56] stephaniegiang commented on #2299
@khaubold meanwhile, what you can do is disconnect from Google Classroom and then manually add students to the existing roster.

[2019-09-20 18:41] drbeco commented on #603
Thank you @d12 .

I understand why you think this solve the issue.

But not really. The main reason was to not allow the first student to join to make a lot of commits in a group work with others, rendering the others that join late to follow from the given commit history without having a "say" on how the program would work, what frameworks they would chose, etc.

Usually there is a "dominant" stu

[2019-09-20 19:24] apoddaradmin opened #2389 "Integrating GitHub classroom with D2L Brightspace"
I am trying to integrate GitHub classroom with D2L Brightspace v1.2 but I am getting below:

"classroom.github.com refused to connect"

I am setting up the integration via the external learning tool and entered the key, secret and url information. I went into the course as an instructor and clicked on the external tool link and got the message above using the latest version of Chrome.
Is there any

[2019-09-20 19:36] stephaniegiang commented on #2389
Hi @apoddaradmin 👋 Unfortunately, at this time we do not support D2L Brightspace. However, we are working on supporting them in the near future 😄

[2019-09-23 05:43] aalexandrescu commented on #2386
Sorry for the late reply. I am the Moodle administrator.
I looked at the Apache server logs and it receives the request from github, but it returns a 401 UNAUTHORIZED response.
This is the request/response log:
`"GET /mod/lti/services.php/CourseSection/3/bindings/1/memberships?role=Student%2CLearner HTTP/1.1" 401 274 "-" "OAuth gem v0.5.4"`
I checked and re-entered the credentials (consumer key, s

[2019-09-23 14:07] d12 commented on #2084
This is still something we want to do.

[2019-09-23 16:06] d12 opened #2390 "Iterate on sample Classroom assignment"
A month ago, I set up a new sample GitHub Classroom assignment, we give users a link to it on the signed out Classroom page to experience the student flow of Classroom.

<img width="795" alt="Screen Shot 2019-09-23 at 11 50 57 AM" src="https://user-images.githubusercontent.com/30920216/65441474-70773800-ddf8-11e9-87fd-05adf7d9cb63.png">

I ran some queries to see how well we convert users from try

[2019-09-23 18:53] stephaniegiang commented on #2386
Do you mind telling me your classroom name on GitHub Classroom? I'm going to take a look on our side to see if we can get to the source of this issue.

[2019-09-23 19:09] d12 commented on #2390
One other number to add, about 1/3 of users accepting the sample assignment completed and submitted my 2-step python assignment.

[2019-09-24 02:19] aalexandrescu commented on #2386
My classroom name is HDR-Organization-classroom-1.
https://classroom.github.com/classrooms/55534494-hdr-organization-classroom-1

On Mon, Sep 23, 2019 at 9:54 PM Stephanie Giang <notifications@github.com>
wrote:

--
Adrian Alexandrescu
Assistant professor, Ph.D.
Department of Computer Science
Faculty of Automatic Control and Computer Engineering
”Gheorghe Asachi” Technical University of Iasi, Roma

[2019-09-24 12:36] bmilonovich commented on #2299
@stephaniegiang I am also having this same issue. It seems that only 30 students have imported in from Google Classroom, while I have 34 in Google Classroom. It doesn't seem to be alphabetical though. My classroom name is 14811435-ardsleyhs-introcs

[2019-09-24 14:48] d12 commented on #1078
:wave:, Curious what the "why" is here? GitHub Classroom works without having to add students to the organization, they're given outside collaborator access on all repositories they need access to. What's the goal in trying to add students as organization members?

[2019-09-24 14:50] d12 commented on #1148
Hey! Template repositories for starter code launched a couple of months ago and should fix this issue. Since this has been inactive for over a year, I'm going to close it out. https://classroom.github.com/help/using-template-repos-for-assignments 

[2019-09-24 14:50] #1148 closed

[2019-09-24 14:56] jfiksel commented on #1078
@d12 my use case is that our class used a private repo within the organization for class notes, which students could not access unless they were organization members

[2019-09-24 14:59] stephaniegiang commented on #2386
@aalexandrescu Thats for that! This was super helpful.  I was able to reproduce this issue. Seems like this only affects self-hosted versions of Moodle. I'll take a further look into this issue and update this issue once I have more information.

[2019-09-24 14:59] d12 commented on #1205
The commits count is meant to roughly show activity on a student repository. I don't think there's much value in counting merge commits and empty commits here. Also, template repo's squash all commits into one commit authored by the teacher, so "Commits by users who aren't contributors." won't be an issue anymore.

[2019-09-24 14:59] #1205 closed

[2019-09-24 15:01] d12 commented on #1250
Closing in favor of https://github.com/education/classroom/issues/2387

[2019-09-24 15:01] #1250 closed

[2019-09-24 15:02] #1255 closed

[2019-09-24 15:03] d12 commented on #1264
Closing in favor of https://github.com/education/classroom/issues/292

[2019-09-24 15:03] #1264 closed

[2019-09-24 15:05] d12 commented on #1266
:wave: This sounds like an importer problem. Classroom now has a template repo option you can use when creating an assignment, it'll make accepting assignments much faster and more reliable. https://classroom.github.com/help/using-template-repos-for-assignments

[2019-09-24 15:05] #1266 closed

[2019-09-24 15:07] d12 commented on #1270
Closing in favor of https://github.com/education/classroom/issues/846

[2019-09-24 15:07] #1270 closed

[2019-09-24 15:08] #1285 closed

[2019-09-24 15:09] d12 commented on #1295
Closing in favor of https://github.com/education/classroom/issues/292

[2019-09-24 15:09] #1295 closed

[2019-09-24 15:10] d12 commented on #1299
Closing in favor of https://github.com/education/classroom/issues/377

[2019-09-24 15:10] #1299 closed

[2019-09-24 15:11] #1306 closed

[2019-09-24 15:12] d12 commented on #1308
We fixed this a little bit ago here:

https://github.com/education/classroom/blob/fa60bc4a1be4b657cddf38a4670c5627be53b96a/app/models/organization.rb#L68-L72

[2019-09-24 15:12] #1308 closed

[2019-09-24 15:14] d12 commented on #1323
cc https://github.com/education/classroom/issues/846

[2019-09-24 15:16] d12 commented on #1342
Closing for inactivity, please re-open if this happens again!

[2019-09-24 15:16] #1342 closed

[2019-09-24 20:35] spinecone commented on #2049
I did some preliminary research on how we might migrate to a GitHub App. Some notes:
- We would need to continue using OAuth to handle user login
- The GitHub App for classroom would need to be installed on each organization used to set up a classroom
- The backend process for authenticating a request with a GitHub app would be:
  - Create a JWT token for the app itself (has a 10 minute expiration

[2019-09-24 21:07] d12 commented on #2049
This research is really valuable, thank you @spinecone! cc @femmebot as there may be design implications in the way we move forward here.

A next step could be putting together a plan for token management in a GitHub App world, since it looks like we're managing more than 1 type of token now (and we have to do some intermediate token generation type stuff). After that, giving a go at a spike would

[2019-09-25 05:34] alexander-katrompas opened #2392 "student private repos visible to other students"
I have set up a classroom, set it so that only administrators can see the member (student) repos, the student repos are private, but the students can still each other's repos. How do I restrict them so students can only see their own repo?

[2019-09-25 14:01] d12 commented on #2392
Hey @alexander-katrompas , did you manually add students as members of your organization, or as members of a team in the org? This can throw off the permissions system that Classroom manages. If you give us the name of your classroom and assignment, we can dig into this some more.

[2019-09-25 14:32] alexander-katrompas commented on #2392
I did manually add students as members of the organization. The organization is https://github.com/2019-Fall-COSC2436

The classroom is https://classroom.github.com/classrooms/55057076-cosc-2436-data-structures-fall-2019-classroom

The assignment is https://classroom.github.com/classrooms/55057076-cosc-2436-data-structures-fall-2019-classroom/assignments/linked-lists

I think the problem is I set

[2019-09-25 14:36] d12 commented on #2392
This issue is tracking that particular problem: https://github.com/education/classroom/issues/1078

We're planning on building out something as part of GitHub Classroom that solves this, but for now, you'll have to do something more manual.

With default permissions set to "none", you can create a "students" team that all students are on. That team can be granted access to the repositories your st

[2019-09-25 14:39] d12 commented on #1078
Gotcha :+1: Makes sense to me, this is something we'll tackle when we open up some bandwidth. Or, PRs welcome :)

[2019-09-25 14:41] alexander-katrompas commented on #2392
Thank you and that makes sense. I will work around the issue as you suggest.

[2019-09-25 14:41] #2392 closed

[2019-09-26 08:50] crguezl commented on #1078
Sometimes, for some tasks, I need a subgroup of students to create additional repositories. And I want them within the organization since this allows me to better track their work.

[2019-09-27 16:33] spinecone commented on #2049
Couple more notes:
- We can request a user's org memberships through the github.com API and link directly to the installation page for an org through the url `https://github.com/apps/[app name]/installations/new/permissions?target_id=[org id]`
- If the user has admin access to an org, the installation page looks like this:
![Screen Shot 2019-09-27 at 11 26 48 AM](https://user-images.githubusercont

[2019-09-27 16:43] spinecone commented on #2363
Right now we're using the `distance_of_time_in_words` function which is intended to convert a timestamp into human readable text; would it make sense to just add the exact time (formatted), so it would say something like `Deadline in 1 day (12/12/19 at 8:00 am)` ?

[2019-09-27 17:36] jmckernan0 commented on #1712
If on an enterprise system where students log into Google, ensure that student accounts have successfully synced. If not, sync account and the repository shou8ld complete loading.

[2019-09-28 17:34] favonia commented on #2339
@d12 Is it possible to parse `X-GitHub-Enterprise-Version:` directly from the HTTPS response?

[2019-09-28 17:38] favonia commented on #2339
@mdwheele My school has 2.18 now. Did you create a pull request already for your work? I could not find it.

[2019-09-28 17:38] d12 commented on #2339
TIL that's a header that exists! That's a great way to solve the issue.

I don't think we'll have bandwidth to take this on in the short-term, but as always, we're happy to review any and all contributions :)

[2019-09-29 02:50] d12 commented on #2363
Yes! We'll need to check what the users timezone is, we don't store it in the database so we'll have to check in JS.

[2019-09-30 14:15] d12 commented on #2390
With 300'ish per day, I'd say that's enough for split tests over a long enough timeline.

[2019-09-30 14:48] #813 closed

[2019-09-30 20:15] spinecone commented on #1802
This feature is being tracked in https://github.com/education/classroom/issues/1676 , so I'll close this one as a duplicate.

[2019-09-30 20:15] #1802 closed

[2019-10-01 15:33] jchoigist opened #2399 "Classroom started on the newly made organization"
I created two org's (say, orgA and orgB) under my github account. I created a github classroom under the orgB and apply for free private repositories (by educational promotion). Then the request goes to my **github account** not to the orgB and is approved. But the github classroom under the orgB still doesn't allow me to create the prviate repos. My question is:
1. Can I request the educational b

[2019-10-01 19:38] sierrajulietromeo opened #2400 "Downloading repositories via Github classroom - all fail"
Trying to download a set of class repositories using Github classroom helper. (Win 8 32bit).

Tried multiple times. All fail always.

![Capture](https://user-images.githubusercontent.com/30177706/65994495-51794580-e48b-11e9-948b-8032a32db872.PNG)

Assignment: https://classroom.github.com/classrooms/25031494-ada-unit-18-relational-databases-2019/assignments/python-sql-jupyter-notebooks

[2019-10-01 21:06] gmporter opened #2401 "Can't create private repos"
**Describe the bug**
I applied to be a faculty member on Aug 6, and my username 'gmporter' was approved as a faculty member.  When I go into GitHub classroom, it won't let me create private repos, and instead says I need to apply.

**To Reproduce**
Steps to reproduce the behavior:
Scanned my ID, applied to be a faculty member on Aug 6.  On Oct 1, tried to create my first assignment and I can't sel

[2019-10-01 21:15] spinecone commented on #2401
Hi @gmporter , does the organization you're using with this classroom have private repos enabled on it as well?

[2019-10-01 21:23] gmporter commented on #2401
I don't think so?  I used my person github account (gmporter) and applied
to be a faculty member and was approved.  Then I tried to create a new org
with it but that org doesn't have permission to create private repos.  Did
I do the setup correctly?

On Tue, Oct 1, 2019 at 2:15 PM Terian Koscik <notifications@github.com>
wrote:

[2019-10-01 21:26] spinecone commented on #2401
@gmporter You'll also need to upgrade the organization, since the private repos will be created by the organization and not your own user account. There are more detailed instructions about this step at https://help.github.com/en/articles/applying-for-an-educator-or-researcher-discount#upgrading-your-organization

[2019-10-01 22:37] gmporter commented on #2401
Thanks.  It just keeps asking me to submit the proof that I'm a faculty
member.  Perhaps the proof expired or something?  In any case, I've
submitted proof again so hopefully that fixes the problem.
George

On Tue, Oct 1, 2019 at 2:26 PM Terian Koscik <notifications@github.com>
wrote:

[2019-10-02 00:40] jchoigist commented on #2399
Thank you @femmebot. But I'm having hard time to find the link of "Upgrade your organization." Can you give me the link?

[2019-10-02 04:28] jchoigist commented on #2399
When I click the returning link, it just shows the generic github education benefit page. Note that I have upgraded the orgA a year ago and want to upgrade another org (the orgB) under my github account. Is the upgraded orgA preventing me upgrading other org?

[2019-10-02 07:17] yves-chevallier opened #2403 "Get rosters data (link between name and handle name)"
I love the idea of GitHub Classroom, but it is currently a bit cumbersome for me to do the assignments correction. When I use the Classroom Assistant, it syncs the repositories with some limitations:

- The destination repository is named using the student's handle name, not the real student name. Some of my student already have a GitHub account such as "Darth Vader" and it is hard for me to link

[2019-10-02 14:34] d12 commented on #2401
I'm going to close this out, it looks like you just need to wait for approval. After being approved, there's a form at https://education.github.com/benefits that you can use to upgrade your Classroom organization. Please re-open if you need a hand :)

[2019-10-02 14:34] #2401 closed

[2019-10-02 14:36] d12 commented on #2387
https://github.com/github/github/issues/120061 will allow us to redirect from org signup back to Classroom, once that ships, that can be used to help prevent users from getting lost on GitHub.com

[2019-10-02 14:36] jchoigist commented on #2399
I already resubmit the request and it's going to my personal account not going to the organization I'd like to request (the orgB).

![image](https://user-images.githubusercontent.com/42824284/66053493-64fcdd00-e56d-11e9-87ab-32f966339bea.png)

[2019-10-02 14:40] d12 commented on #2387
https://github.com/github/github/pull/114144 is also relevant.

[2019-10-02 14:45] d12 commented on #2403
Hey @yves-chevallier,

We have two issues open for the two pieces of information you're asking for:

https://github.com/education/classroom-assistant/issues/118 - Name folders by roster ID and not GitHub handle

https://github.com/education/classroom-assistant/issues/119 - Honor deadline when cloning repos

Would you mind dropping a comment or reaction over there? This helps us keep track of which

[2019-10-02 15:14] jchoigist commented on #2399
I followed the email link and successfully upgrade the new classroom. :) Thank you very much for the helps!

[2019-10-02 15:14] #2399 closed

[2019-10-03 02:31] tien-nguyen-duc commented on #2278
I have got the same problem. The old name is still displayed in my education account, and I cannot create classrooms.
Thanks

[2019-10-03 13:07] d12 commented on #2400
:wave: @sierrajulietromeo , would you mind opening an issue in the Classroom Assistant repo? Someone should be able to lend a hand over there. https://github.com/education/classroom-assistant

[2019-10-03 18:12] sierrajulietromeo commented on #2400
Thank you. I shall close this one a few hours after posting over there.

[2019-10-03 20:30] wmasek opened #2406 "Student Accounts being Frozen"
Students logging in to GitHub Classroom end up having their accounts temporarily frozen after multiple students login to the classroom in quick succession OR if one of them gets their password wrong multiple times. They end up with a login error citing suspicious login activity. The reason for this, I assume is because they are logging in from within the University Network and technically all shar

[2019-10-04 09:57] ggorman commented on #2358
We are having the same issue. About half the class have no issues at all. The other half have a hanging import. Really annoying as the import should only contain a 500k README.md!

[2019-10-04 16:39] d12 commented on #2406
@wmasek Unfortunately there's not much we can do on our side, it sounds like GitHub.com is blocking your students. I'd send them a message at https://github.com/support, they should be able to help you out.

[2019-10-04 16:39] #2406 closed

[2019-10-04 16:40] d12 commented on #2358
@ggorman @b2550 I commented [earlier](https://github.com/education/classroom/issues/2358#issuecomment-530492914) about template repo imports, a new setting when creating or editing an assignment. Using this instead of the old porter method will resolve the hanging import issues.

[2019-10-04 16:40] #2358 closed

[2019-10-04 19:22] spinecone commented on #1675
Discussed this on slack and decided that the way to approach this should be subtracting the number of commits in the starter repo from the total commit count.

[2019-10-05 11:52] pisanuw opened #2408 "Classroom Assistant stuck at the "Choose Repositories" stage"
Classroom Assistant stuck at the "Choose Repositories" stage. Not showing any repositories, spinning and waiting for over 5m.

Internet works fine, can reach classroom.github.com and other sited directly

Mac 10.12.6
Classroom Assistant Version 1.0.5
Might be a temporary problem (2019-10-04 4:08pm PDT)
Still not working on 2019-10-05 4:50am PDT

Reported it on https://github.com/education/classroo

[2019-10-07 18:37] jeffrafter commented on #2312
# Autofeedback Example

The autofeedback example consists of three parts:

1. A template repository for the assignment which includes:
    - The assignment README
    - Automated tests for the assignment
    - A check workflow for running the automated tests
    - A setup workflow for setting up the template when used
2. A setup action that:
    - Creates a new commit (using template files)
    -

[2019-10-07 18:48] andrewbredow commented on #2123
@Sallenmoore Thank you for the update! We'll re-open this if it comes up again.

[2019-10-07 18:48] #2123 closed

[2019-10-07 22:04] MeyAyre opened #2410 "Quick-Start Docs for Classroom"
Adding 2 new docs in addition to the existing Classroom documentation to help teachers and educators get onboarded through other means than videos.

Two documents planned to be written:

- Getting started with GitHub Classroom
- Creating an individual assignment

[2019-10-07 22:28] #1675 closed

[2019-10-07 23:26] englieh opened #2412 "Teams and assignment repos unable to load"
When I go to the classroom and assignment created, the teams and repo cannot be loaded.
![image](https://user-images.githubusercontent.com/6601940/66356228-e05ef400-e99c-11e9-96db-6419a12763ce.png)

[2019-10-07 23:32] jeffrafter commented on #2412
@englieh thanks for the report, I am looking into this.

[2019-10-07 23:55] #2412 closed

[2019-10-07 23:56] jeffrafter commented on #2412
@englieh I am seeing this as fixed in production, sorry about the trouble!

[2019-10-07 23:57] englieh commented on #2412
No worries. Fixed. Thanks!

[2019-10-08 01:19] JessRudder commented on #602
We've now fully launched the ability to archive a classroom.

You can archive a classroom from the classroom settings or from the classroom dropdown menu on the classroom listings page. For more details, you can check out the [documentation](https://classroom.github.com/help/archive-a-classroom).

When a classroom is archived, you cannot create or modify individual or group assignments for that cl

[2019-10-08 01:19] #602 closed

[2019-10-08 01:42] JessRudder commented on #1469
Since it's been a while since we've heard an update, I'm going to close this issue out. If you're still experiencing a problem, please let us know.

[2019-10-08 01:42] #1469 closed

[2019-10-08 12:33] h586634 opened #2414 ""Importing starter code" takes forever to load."
Importing the started code for my course's classroom takes forever to load. Loading bar occasionally goes backwards.

Edit: Canceled repository creation and tried again. Worked!

[2019-10-08 12:37] #2414 closed

[2019-10-08 13:38] d12 commented on #2408
@srinjoym @jeffrafter What methods do we have to debug things like this?

[2019-10-08 14:56] stephaniegiang commented on #2400
Closing as duplicate issue posted in https://github.com/education/classroom-assistant/issues/147

[2019-10-08 14:56] #2400 closed

[2019-10-08 17:31] tobiasmayrtfo opened #2417 "Commit count not updating"
**Describe the bug**
On the assignment page, there is a list of teams which reports the number of students in a team and the number of commits done. Sometimes, the commit counter of certain teams stays at one, even though the teams already did push more than one commit. At the same time, the counter works fine for other teams.

**To Reproduce**
What I did to see the bug:
1. Create a team assignmen

[2019-10-08 17:40] d12 commented on #2417
@tobiasmayrtfo :wave:! The API we use to fetch commit counts ignores commits not tied to a GitHub user. It looks like those commits made by your student aren't setup to associate with their GitHub user. You can point them towards [this link](https://help.github.com/en/articles/why-are-my-contributions-not-showing-up-on-my-profile#you-havent-added-your-local-git-commit-email-to-your-profile) to fix

[2019-10-08 17:59] tobiasmayrtfo commented on #2417
Ooh, that makes sense, thanks!!

Tobi

Am 8. Okt. 2019, 19:41, um 19:41, Nathaniel Woodthorpe <notifications@github.com> schrieb:

[2019-10-08 21:53] #2363 closed

[2019-10-08 22:19] robwhess opened #2419 "Changing "View" filter results in a 406 error"
**Describe the bug**
On the main classroom list page, if I make any change to the "View" filter dropdown, I am brought to an error page that says "406. Request not acceptable. The requested resource is unavailable in the format requested."  However, if I then navigate back to the main classroom list page, the change to the "View" filter appears to have taken effect.

**To Reproduce**
Steps to repr

[2019-10-09 02:00] JessRudder commented on #2419
Thanks for the report! We've dug in and it appears that this is an issue with Firefox the type of header Firefox is sending over in the request. It's an async request, but, it's asking for an html header instead of a js header (which seems to be a not uncommon Firefox issue).

We're working on a fix to make sure this will work correctly for Firefox.

In the meantime, you can get around this with t

[2019-10-09 12:15] katriendeleu commented on #1636
I have a student with the same problem: .starter code progress bar gets nearly to the end and then it retracts to the beginning and tries again endlessly, no matter what browser she uses.

[2019-10-09 15:10] danwallach opened #2420 "Classroom teams: create team with one project, can't reuse on another project"
**Describe the bug**
I created two GitHub Classroom repositories this week for two-student teams. One had some prior code, so they could experiment with redoing things, but with all the Git/GitHub team mechanisms. The other was their actual assignment for this week.

I've had several students who cloned the "test" repo then went on to try to clone the "real" repo. They all said that:

- Their orig

[2019-10-09 15:12] danwallach opened #2421 "Classroom with teams: students sometimes get totally different project link"
**Describe the bug**
This week I'm starting my students with teams. For the prior 6 weeks' projects, we did everything with solo projects.

I've seen several students, after clicking on the clone link for the project, find themselves staring at one of their repos *from earlier in the semester*. They rewind to the clone link, do it a second time, and it works.

No idea why, but this happened severa

[2019-10-09 15:15] danwallach commented on #2364
I solve this by giving students reference code to earlier weeks. So in week N, they get a starter repo with a solution to the assignment for week N-1.

In one case, where I had multiple deadlines sharing a common repo, I instructed the students to *tag* the commit they wished to submit for the first deadline.

[2019-10-09 22:53] danwallach commented on #2421
Update: I observed this happening in the wild. Here's the sequence.

- Student clicks the clone link.
- Gets a permission dialog. (Weird, because we're in week 7 of the class, so there's something that must have just changed.)
- Grants the appropriate permissions.
- Then lands on a page saying that they're ready to go, but it's for an earlier project.

The current workaround is that the student ba

[2019-10-10 06:46] radiobed commented on #2278
I have the same issue (changed username). Could you please help me out?

Many thanks!

[2019-10-10 13:53] d12 commented on #2278
Sorry about that @radiobed , you're all fixed!

[2019-10-10 14:23] d12 opened #2422 "undefined method `github_repository` for nil:NilClass"
**Needle**: https://haystack.githubapp.com/classroom/needles/3TYPQyb0TUnuB_eFTvq-jw
**Rollup**: https://haystack.githubapp.com/classroom/rollups/04af95995f467d51f44781c46c6459b7

[code]

[2019-10-10 14:25] d12 commented on #2420
@danwallach The "existing set of teams" feature should solve this issue. When making your second assignment, you can re-use a set of teams that exist for a previous group assignment here:

<img width="461" alt="Screen Shot 2019-10-10 at 10 20 41 AM" src="https://user-images.githubusercontent.com/30920216/66577945-37ed9300-eb48-11e9-9bd6-f1151e62d199.png">

If you use an existing set of teams, stud

[2019-10-10 16:31] danwallach commented on #2420
I intend to use different student teams every week, and there may or may not be repeating teams. The presence or absence of a team in a prior project shouldn't impact the UX on a new project using new teams.

[2019-10-10 18:42] maxcell commented on #2331
Definitely don't mind taking this on! 😄

[2019-10-11 09:36] dcorsar opened #2423 "Student used assignment link to create repo, deleted repo, now cannot use link again"
**Describe the bug**
Created a new assignment, student accepted it created their own repository for it, deleted the repository, attepted to accept link again to restart but got a 404 page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an assignment - group or individual both have this issue.
2. Add a starter code repository. Note sure if this is necessary, but its what I did.
3. Ena

[2019-10-11 12:04] jihelhere opened #2424 "importing class takes forever"
Describe the bug
Importing Starter Code takes forever to complete

To Reproduce
Steps to reproduce the behavior:
When clicking 'Accept the assignment' on previous window

Expected behavior
Assignment must have been completely loaded for me
![screenshot](https://user-images.githubusercontent.com/94481/66650147-2f708780-ec30-11e9-9721-899e605c50d2.jpg)

adding @nathanelnak @Badre-Dine

[2019-10-11 14:45] d12 commented on #2424
:wave: In the assignment settings, are you using the source importer or template repo setting?

<img width="668" alt="Screen Shot 2019-10-11 at 10 43 45 AM" src="https://user-images.githubusercontent.com/30920216/66660933-0e9a3900-ec14-11e9-9e56-15c7a52b37c8.png">

They're different methods of copying repos for students. Template repos are almost always the better choice, they don't have cloning i

[2019-10-11 14:45] #2424 closed

[2019-10-11 14:47] d12 commented on #2423
Thanks for the report @dcorsar ! This is a bug, Classroom doesn't handle deleted repositories properly. We'll update this issue when a fix is put up.

In the mean time, I suppose you could make a new assignment with the same configuration for the student who deleted their repo. Sorry about that!

[2019-10-11 14:48] d12 commented on #2420
Ah, I see. The issue comes because we create a GitHub team in the org for every GitHub Classroom team. We could get around the naming conflict issue by attaching a prefix per assignment.

[2019-10-12 18:46] hmisonne opened #2425 "How do I set up rbenv with Windows?"
I would like to access to GitHub classroom to work on projects with others.

I have forked the https://github.com/education/classroom repository and cloned it into a local repository. To get started I need to run in my command line script/bootstrap (to get the requirements). However I have this error message:
`"It looks like you don't have rbenv installed"`

I tried to go run this command :
`rbenv

[2019-10-13 11:53] crowbar27 opened #2426 "Documentation lacks nodenv as prerequisite"
**Describe the bug**
Following the step-by-step installation instructions does not work, because `nodenv` is a prerequisite for the installation that is - in contrast to `rbenv` - not mentioned.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/education/classroom#the-technical-details
2. Follow the steps described for Linux there
3. Once you reach https://github.com/e

[2019-10-14 20:25] dcorsar commented on #2423
Thanks, for getting back to me @d12

I'll follow your advice and create a new assignment and warn students not to delete their repo in the future!

[2019-10-15 14:00] stephaniegiang commented on #2331
@maxcell Feel free to take this on! We appreciate the help 😄

[2019-10-15 14:13] #2423 closed

[2019-10-15 16:40] JessRudder commented on #2419
@robwhess this should be resolved! You should now see the expected searching and filtering behavior on the `/classrooms` page when using Firefox.

Thanks again for letting us know about this issue!

[2019-10-15 17:00] robwhess commented on #2419
🎉 Thanks @JessRudder.  I can confirm that I'm now seeing the expected behavior.

[2019-10-15 17:21] srt32 opened #2428 "Onboarding issues / bugs for setting up a classroom"

[2019-10-15 17:23] #2428 closed

[2019-10-15 19:16] lnazhand opened #2429 "creating initial repository does not finish"
**Describe the bug**
In my GitHub classroom, ECE2534-F19, for the Project2 assignment, a few students are still waiting after several hours for the initial repository to be created after they accept the assignment. One of the IDs for the students is kafranz.

Thanks,
Leyla

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**

[2019-10-15 19:39] d12 commented on #2429
:wave: In the assignment settings, are you using the source importer or template repo setting?

<img width="668" alt="Screen Shot 2019-10-11 at 10 43 45 AM" src="https://user-images.githubusercontent.com/30920216/66660933-0e9a3900-ec14-11e9-9e56-15c7a52b37c8.png">

They're different methods of copying repos for students. Template repos are almost always the better choice, they don't have cloning i

[2019-10-15 19:39] #2429 closed

[2019-10-15 20:49] d12 opened #2430 "Increment metric when users attempt to use non-template repo w/ template setting enabled"
https://github.com/education/classroom/blob/d4246ec6ec1dca8399d6d965a7577ad430ad5374/app/models/concerns/starter_code_importable.rb#L29

Let's increment a ddog metric here, we can't tell if this is an error users are frequently seeing.

cc @andrewbredow @femmebot

[2019-10-16 16:47] natashaU commented on #2387
Hey there @d12 ! I saw your comments in the #pe-nux slack room and I'm working on this issue. Part I of this is shipping today. Mind posting a screen grab of the exact issue you're seeing so I can see the flow?

[2019-10-16 17:41] timalcon opened #2431 "Assignment repository setup hanging"
**Describe the bug**
I’m having several students report that when they try to set up an assignment repository, it just hangs, with no change in the progress bar. This is a new problem - it worked for them previously.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on GitHub Classroom link
2. Click "Accept this assignment"
3. Wait in vain for progress bar to change
It doesn't happen for

[2019-10-16 21:03] dominicwhite commented on #2431
This is also happening for me. So far just one student out of a class of 20, but he also gets the same issue for another Github classroom invitation in another organization.

![Screenshot from 2019-10-16 16-54-50](https://user-images.githubusercontent.com/6020835/66958751-e442e400-f036-11e9-8b36-a8c42b5bbc61.png)

[2019-10-16 21:21] kesttvanzyl commented on #2431
I am having the same issue. I have tried opening two assignments and both of them are stuck on the progress bar. I left the page open for about an hour and it is still just hanging without showing any progress in the progress bar.

[2019-10-16 21:23] robwhess commented on #2431
Some of my students are also experiencing this.

[2019-10-16 22:26] bulletshot60 commented on #2431
One of my students @ELANE931 is also having an issue cloning his assignments so I've been manually creating the repos for him in the mean time.

[2019-10-17 12:56] danwallach commented on #2431
This sounds like a common problem using the "original" clone link process. The new "template" process has been much more robust for me. Make sure you try that.

[2019-10-17 12:58] bulletshot60 commented on #2431
@danwallach My group has converted our classrooms over to the template system, and I still have a few random students that are having issues.

[2019-10-17 14:40] robwhess commented on #2431
Yes, I can confirm that I'm also using template repos for my starter code, and students are still experiencing this problem.

When my students used to have a problem with repository creation hanging under the original non-template system, it was almost invariably the case that a repo had been created for them on GitHub, but for some reason the code had failed to import. To fix the problem, I could

[2019-10-17 15:11] stephaniegiang commented on #2431
@robwhess could you tell us the classroom name and assignment this is happening in?

[2019-10-17 19:13] dominicwhite commented on #2431
I just had another student with the same issue in the Edge browser, but they were able to get their repository created by switching to Chrome.

[2019-10-17 19:45] psybers commented on #2431
This is happening to me too.  The classroom is BGSU-CS-3060-F19.

[2019-10-17 19:47] psybers commented on #2431
I can confirm switching from Edge to Chrome fixed it for my student.

[2019-10-17 20:27] stephaniegiang commented on #2431
Has retrying after waiting for a bit helped anyone?

[2019-10-17 20:34] dominicwhite commented on #2431
@stephaniegiang My first student was able to get it working after he went home, but I now wonder if that's because he was using a different (up-to-date?) browser on a different computer, rather than because of waiting.

[2019-10-17 20:42] spinecone commented on #2431
Since there have been multiple reports of this problem being resolved after switching from Edge to Chrome, has anyone experienced this problem on Chrome?

[2019-10-17 21:03] robwhess commented on #2431
The one student who gave me more details about the problem said they experienced the problem on both Edge and IE and that everything worked fine when they switched to Chrome.  Sounds like an MS thing!

[2019-10-17 21:26] spinecone commented on #2431
While we're working on resolving this, we recommend that folks running into this problem try again on Chrome and let us know if they're still seeing issues.

[2019-10-17 21:38] JessRudder commented on #2419
Hey @robwhess this fix introduced a bug elsewhere that prevented accepting assignment invitations for students on some browsers so we had to revert. This means the sorting/filtering won't be working on Firefox again. We are working on fix for this again though.

[2019-10-17 21:39] d12 opened #2434 "Investigate why failed Edge/IE imports weren't logged"
In https://github.com/education/classroom/issues/2431, there were a number of failed imports but we had no metrics indicate this. In the future, issues like this should surface in our dashboards so we can identify issues earlier, and accurately quantify impact.

cc @spinecone

[2019-10-17 21:46] d12 commented on #2431
Hey all, this should be resolved now. We're going to dig into why this wasn't raised by our metric systems earlier, thanks for the patience!

[2019-10-17 21:46] #2431 closed

[2019-10-17 21:53] spinecone commented on #2434
I'm not yet certain if this was a case of imports failing or not starting at all. We can add more metrics for API requests that explicitly fail (including browser info), but I'm not sure what would the best way to log imports that never start.

[2019-10-17 22:02] robwhess commented on #2419
Foiled by my own students (#2431)!

No worries @JessRudder. This bug causes extremely minor inconvenience compared to students not being able to accept assignments.

[2019-10-18 11:33] aalexandrescu commented on #2386
@stephaniegiang is there an ETA for fixing the bug?
I imagine it is not that hard to fix, if it works with versions of Moodle hosted in cloud solutions.

[2019-10-18 19:00] JessRudder commented on #2419
Alright!

We should have proper sorting and filtering behavior for you (and other Firefox users).

AND the ability to accept assignments for your IE/Edge using students (and folks who use other browsers as well).

Thanks for the patience on this one.

[2019-10-18 19:00] #2419 closed

[2019-10-18 19:09] robwhess commented on #2419
Yup, the sorting and filtering looks like it's working for me again.  Thanks for your work on this, @JessRudder 🍻

[2019-10-18 20:12] spinecone commented on #2434
Talked with @JessRudder today about possible ways to prevent problems like this from coming up again:

- Automated frontend tests for different browsers (i.e. selenium)
- Tracking javascript errors (sentry)
- Baselines for the number of imports we expect to see per day, per browser, with an alert if we go below that number
- In the retrospective today it was discussed how users of classroom use a

[2019-10-19 04:05] v4vasanth commented on #1381
Hi! I can help with this ✋

[2019-10-20 12:03] mohitAppRinger opened #2436 "Open Classroom App from Third Party iOS app and preselect an account if gmail account is already logged In"
I am trying to open Google Classroom App from my iOS app first, there is no Deeplink exposed from the same...then I opened the classroom app via opening classroom course URL inside the Safari browser and it is redirecting me to classroom app but it is making me select email account every time.

Is there a way to simply pass the account email in URL and avoid the selection of email id again and aga

[2019-10-21 15:05] femmebot opened #2438 "Interstitial page experiment"
[See document for details](https://docs.google.com/document/d/1JOaR0bHbbMYnr0IH9e-zKA9jXcUIXBnV9PQ6ur7kaSk/edit?usp=sharing)

[2019-10-21 16:54] d12 opened #2440 "Linking roster entry moves user back to page 1 on roster screen"
If you're on pg 2 of roster entries and you link a user, it moves you back to pg 1. I got this feedback from a user, this can be extremely frustrating if you're trying to link a large number of users in a roster.

[2019-10-22 22:13] jedbrown opened #2441 "Moodle assignment links"
### Feature request :sparkles:
I've used the Moodle integration to sync rosters. The Moodle side is also meant to be able to link GitHub Assignments as Moodle Activities, but I think that feature isn't implemented. In particular, if I create a new Activity and select the GitHub Classroom preconfigured too,l I think it's intended that this "Select content" button be clickable and be able to select

[2019-10-23 08:40] ConsoleFriend commented on #602
The archiving of a classroom work perfect.
I was wondering however if the functionality could be extended so the actual GitHub repositories in relation with the classroom are archived as well.
This would be a big help in keeping our organisations up to date so we can actually filter on active student repositories.

[2019-10-23 11:33] sigged commented on #602
This would add great value to the archiving feature!

[2019-10-23 15:56] femmebot opened #2442 "Set up instrumentation for onboarding analytics"
We want to be able to track funnel conversions on an ongoing basis through different points in a new user's journey from signup to classroom creation through student assignment activity.

Cohort data 1-week intervals:
- Number of visits
- What's the dropoff rate? % who fail to progress to appropriate "next" step (where next step depends on context)

see https://github.com/education/classroom/issue

[2019-10-23 18:11] femmebot opened #2443 "Investigate a streamlined, custom flow for creating a new organization for Classroom"
Rather than having users go through the existing new organization flow on dotcom, we'd like to explore a pared-down version that presents the following:
- Organization name
- Educational ToS
- poss. .edu email

We can pre-select free Team for Open Source for them behind the scenes (and perhaps consider requesting for the academic email address instead of the billing email). Preliminary mockups att

[2019-10-23 18:27] femmebot opened #2444 "Return to classroom after creating new org, granting access"
Currently, users who sign up fro Classroom often wind up marooned in dotcom when they try to create an organization or try to grant access to one. Based on the inquiry initiated by @d12: https://github.com/github/github/issues/120061#issuecomment-542834615 and effort by @natashaU: https://github.com/github/github/issues/127297, can begin investigate how we might either redirect users back to Class

[2019-10-23 18:42] femmebot opened #2445 "Investigate using signed auth tokens + Twirp to sign in to Classroom"
Based on this [Team post](https://team.githubapp.com/posts/33246), can we do some investigation into whether we can use Twirp + signed session access tokens so users don't have to authenticate and not have to grant access to orgs.

[2019-10-23 22:37] JessRudder opened #2446 "Add End-to-End Testing with Selenium for Critical Paths"
We had an incident where broken javascript prevented assignment acceptance for students on certain browser. To mitigate against this (and similar issues) in the future, we want to add end-to-end testing with Selenium for all critical paths.

- [ ] Identify critical paths
- [ ] Write tests (this can be broken into sub tasks by whomever picks it up)

[2019-10-23 22:56] JessRudder opened #2447 "Determine why broken javascript stopped entire assignment import"
Recently, a bug fix for search/sort JavaScript on Firefox resulted in a breakage of the ability to accept assignments on IE/Edge.

We need to identify why broken front end code would stop the assignment import process which is kicked off on the back end.

[2019-10-24 15:18] andrewbredow commented on #2228
Closing this for now. It's been an uphill climb, and we're not currently prioritizing this work.

[2019-10-24 15:18] #2228 closed

[2019-10-24 15:24] #1943 closed

[2019-10-25 02:25] JessRudder commented on #2447
I've been digging into this and have been unable to recreate the same issue (even running the same code on Edge).

I do get the same JS error in console as before and the progress bars no longer work. However, the repo creation and import is still happening in the background which is not consistent with the previously reported error.

That said, the entire repo creation and import process is manag

[2019-10-25 18:07] MeyAyre opened #2450 "Request to change "Enable assignment invitation URL" checkbox to "Disable assignment invitation URL""
### Feature request :sparkles:
The 'enable assignment URL' checkbox is checked by default, which makes for a confusing user flow since unchecking it actually disables this ability. Changing this to a checkbox that you click to disable the assignment invitation URL would improve the user flow and be easier to capture in user-facing documentation.

![image](https://user-images.githubusercontent.com/

[2019-10-28 18:07] SMUGSterling commented on #240
Agreed. GitHub Classroom on GHE would be amazing.

[2019-10-28 18:12] mdwheele commented on #240
Hey @hjmjohnson @farassadek @basejumpa @SMUGSterling! As of #1163, Classroom can be configured to work with GitHub Enterprise. You should check it out and generate some feedback!

[2019-10-28 19:28] yves-chevallier opened #2453 "Do not sync solution branch?"
I don't know exactly what the expected behavior is, but here is what I have:

An assignment with two branches (private template):

- `master` with the student's assignment
- `solution` with the teacher's solution

When I create a new assignment and my student clone the repository I could check (by testing with a dummy user) that only the `master` branch will be forked with a massive squash on all

[2019-10-29 15:32] d12 opened #2454 "Look into EduAppCenter"
https://www.eduappcenter.com/

Setting up Classroom on eduappcenter will make it easier for teachers to get our integration set up with their LMS. When we re-prioritize LTI/LMS work, lets' consider getting this done.

cc @stephaniegiang

[2019-10-29 19:22] yves-chevallier commented on #2453
Oh ! This is a very bad news. We spent some time to came up with a nice workflow and we released our first big assignment to our students. Unfortunately I discovered Yesterday that the solution was then visible and despite none of them pretended to notice it. We simply cannot give them a mark on this assignment, so we had to cancel it (which is also a really bad news in my (evil) plan to convince

[2019-10-29 19:23] yves-chevallier commented on #2453
That said, if the behavior changed, I would call this issue a bug and not a feature request :(

[2019-10-30 05:30] stevecassidy opened #2455 "Validation or correction of student's Github ID registration"
### Feature request :sparkles:

I have 260 students in my class. Some have selected the wrong identifier when they signed up meaning they have the assignment repository within the organisation but they are linked to the wrong student ID. The person with that ID then can't find their ID to associate when they login, compounding the problem.

In my case, identifiers are email addresses so sending a

[2019-10-31 09:38] jbieniasz opened #2456 "Cannot delete assignment - "500 internal server error""
**Describe the bug**
I cannot delete assignment. `500 Internal Error` is returned.

[2019-10-31 13:16] THSCS opened #2457 "IP Throttling / Blocking"
It was suggested that I report this here. It's not specific to Classroom, but is a technical issue we're having using GitHub in the classroom.

**Describe the bug**
It appears that there are IP throttles in place.

In a class of about 25 students only about half were able to register for GitHub accounts at the same time. The ones that could not were getting a "Something went wrong" message in a re

[2019-10-31 19:00] dmackenz commented on #2389
We would like to create this integration next week. Is there anyone that we can talk to about this?

[2019-10-31 19:02] DiljotSG commented on #2389
I am on the same team as Dylan and we are interested in offering this integration for our clients. Please let us know if there is anyone at GitHub we can chat to about this functionality.

[2019-10-31 19:42] d12 commented on #2389
@dmackenz @DiljotSG :wave:, I'm the Program Manager for the project. Could you send an email to d12 at github dot com, and we can set up a call?

[2019-10-31 20:18] DiljotSG commented on #2389
@d12 Expect an email regarding this soon. 😃

[2019-11-01 11:46] oscarbenjamin opened #2458 "Private accounts for students"
Is there a way to create private Github accounts that are not visible in any way to the wider internet?

I am investigating the possibility of using Github classroom for a University class. We have to be careful about the privacy of students though. A github account has an associated publicly accessible page and makes it possible for anyone to contact the user e.g. through `@` references. We gener

[2019-11-01 14:31] d12 commented on #2458
:wave: @oscarbenjamin ! If you're using GitHub.com, the best you can do is hide email addresses and ensure your students don't put PII on their public-facing GitHub profile.

Another alternative would be to check out https://education.github.com/schools, which includes hosted GitHub Enterprise. That way, all the data is on your servers, and nothing is public-facing.

[2019-11-01 17:05] jameskinneavy opened #2459 "Invitation source changes per assignment accepted"
** Describe the problem **
When an assignment invitation link is pasted into the browser by a student (or me simulating a student), the person receives an email invitation from one of the "Administrators" of the classroom, but it is not always the same one and, because of the fact that Administrators are global and not at the individual classroom level, this creates confusion for the

**To Reprodu

[2019-11-01 20:15] oscarbenjamin commented on #2458
Thanks @d12. I've filled out the form for the Campus Program and I'll see what happens there. Hiding email addresses might also be an option - I'll have to check...

What should I do with this issue? ISTM that many of the target users for classroom will face this problem and there doesn't seem to be any readily available guidance or advice.

[2019-11-02 07:59] kavindyasinthasilva opened #2460 "class room # creating error one"
### Feature request :sparkles:
_Please provide a description of the feature you would like Classroom to have_
![Screenshot (27)](https://user-images.githubusercontent.com/49961072/68067947-bbc82300-fd74-11e9-908c-e85deb994c96.png)

[2019-11-02 08:00] kavindyasinthasilva commented on #2460
#you archived correct repository number and it use the your assigments

[2019-11-02 23:49] #2450 closed

[2019-11-03 05:01] derekShaheen opened #2462 "Code Stuck at Importing"
**Describe the bug**
Hello, upon attempting to import my assignment, it has been hanging for approximately 45 minutes and not updating.

Found at this URL here: https://classroom.github.com/assignment-invitations/2c25c8f012b6e9cb69c8951ce3eebba2/setup

**To Reproduce**
Import an assignment per normal steps.
https://classroom.github.com/assignment-invitations/2c25c8f012b6e9cb69c8951ce3eebba2/setup

[2019-11-03 07:15] kavindyasinthasilva opened #2463 "There are no assignments in this classroom yet."
![Screenshot (30)](https://user-images.githubusercontent.com/49961072/68081637-7b7da900-fe37-11e9-9cc8-8ddd355d7bec.png)
![Screenshot (31)](https://user-images.githubusercontent.com/49961072/68081643-9b14d180-fe37-11e9-8564-5aeb8a63f24e.png)
![Screenshot (32)](https://user-images.githubusercontent.com/49961072/68081644-9bad6800-fe37-11e9-934d-cddf735a01a5.png)
![Screenshot (33)](https://user-image

[2019-11-05 19:38] THSCS commented on #2462
Had a similar issue, but only with some students. It seemed to usually be the same few students.

I switched to using templates instead of cloning the full repo and that seems to have cleared it up. Plus, it's much faster for the students that work anyway.

[2019-11-06 15:03] DiljotSG commented on #2389
@d12 I sent you an email earlier this week

[2019-11-06 20:42] carolinehardin opened #2464 "Repo hangs on clone for one student for one assignment"
**Describe the bug**
One of my students, when trying to clone the assignment, has it hang. It happens on multiple computers, but only for that student. That student has been able to clone everything else.

**To Reproduce**
Student goes to clone the repo for the assignment, clicks on it and waits

**Expected behavior**
It should complete
![IMG_20191030_134809](https://user-images.githubusercontent.

[2019-11-11 18:32] EricPickup opened #2466 "Deadline calendar resets to current time when opening"
**Describe the bug**
Went to update the deadline for an assignment, and noticed that when I open the calendar, the time is reset to the current (default) time and when I close that calendar, it will update the time in the form to that time.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an assignment with a deadline in the future
2. Edit the assignment
3. Click on the calendar
4. Dat

[2019-11-14 17:43] d12 commented on #2458
At this time, the only bullet-proof solution is to use hosted GitHub Enterprise. Because of how GitHub.com works, it'll be difficult to solve this in the mean time. I'll close this one out for now.

[2019-11-14 17:43] #2458 closed

[2019-11-15 10:16] agricolamz commented on #1632
I faced the same issues with two my classes:

https://classroom.github.com/classrooms/56619293-2019_2020_ds4dh/assignments/ds4dh-hw1
https://classroom.github.com/classrooms/56619293-2019_2020_ds4dh/assignments/ds4dh-hw2

Links are from clicking `Download repositories` button.

It happened yesterday, but two-three weeks ago I downloaded and evaluated first of this classes.

BUT: when I reloged in t

[2019-11-19 17:57] dgomes opened #2473 "Assignment archive"
### Feature request :sparkles:
I would like to have the option to archive an assignment, you can already archive a classroom, but I could use archiving a single assignment

[2019-11-21 04:12] kkeoghfeduni opened #2474 "how to verify who has committed to an assignment - multiple commits by different users"
### Feature request :sparkles:
_Please provide a description of the feature you would like Classroom to have_
It seems that students claim that their github name can be different based on what computer they use (home or university) so it is difficult to be sure that students are not having someone else doing their work. Is there a way to verify a github username with a student email for example?

[2019-11-25 22:38] maxwofford opened #2479 "Can't join group assignment after deleting associated team"
**Describe the bug**
I can't join a team or create a team on a group assignment because the "Max number of teams"  is being taken by a deleted team.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a group assignment
2. Set the assignment's "Maximum number of teams" to 1
3. Sign up for the assignment & create a new team
4. Go to org's teams index page & delete the newly created team
5

[2019-11-26 16:21] d12 commented on #2479
@maxwofford :wave:! Looks like we're running into some sort of undefined behavior here, we don't advise deleting teams off of GitHub.com when using GitHub Classroom. We have an open issue here for better management of teams in general when using GitHub Classroom: https://github.com/education/classroom/issues/292

The workaround for now is to create a new assignment if this were to happen. If you'd

[2019-11-26 16:28] maxwofford commented on #2479
Seems like an issue with soft-deletion of teams. Will avoid doing this in the future. I'd appreciate it if you can disassociate the "all" team from the assignment on the backend.

[2019-11-26 17:56] maxwofford commented on #2479
I've gone ahead and just nuked the assignment & restarted from scratch– no need to make changes on the backend. Seems like this is a specific bug under the scope of #292, and seeing that other bugs commented in that issue are being closed I'll go ahead and close this.

[2019-11-26 17:56] #2479 closed

[2019-11-26 18:17] maxwofford commented on #2479
@d12 I've managed to brick another assignment. Can I get [this repo](https://github.com/hackclub/dinosaurs) set as the assignment repo for [this assignment](https://classroom.github.com/classrooms/5633654-hack-club/group-assignments/dinoisseur-badge) manually for the time being? I'd like to send this assignment out asap & am just blocking on having a working Classroom assignment. I got stuck tryin

[2019-11-26 18:22] d12 commented on #2479
Taking a peek at this now @maxwofford , thanks for reporting!

[2019-11-26 18:35] d12 commented on #2479
@maxwofford To help our engineers debug, what steps did you take to get into this state?

To unblock, you could create a new assignment with the repository you want to use. Not totally sure why changing the starter code repo is causing these errors, but we'll dig into it.

[2019-11-26 18:41] maxwofford commented on #2479
1. Created a new assignment
2. Created a new assignment team
3. Went to the team settings, replaced the generated repo w/ an existing repo
4. Tried to accept an invite to the assignment, reached a 404

As for getting unblocked, I don't know another way to do this. My end-result is that I'd like an assignment with a single team that uses an [existing repo](https://github.com/hackclub/dinosaurs) as

[2019-11-26 18:46] d12 commented on #2479
@maxwofford Ah, I see. This isn't a supported workflow on GitHub Classroom, we don't have a way of accomplishing what you're trying to do. Can you do this through GitHub by adding collaborators to a repository?

With GitHub Classroom, the flow is intended to be

1. Teacher sets up "starter code" repo with instructions and frameworking
2. Teacher creates assignment and sets starter code repository

[2019-11-26 19:15] maxwofford commented on #2479
I'm running a competition where participants all submit by PRing to a single repo. I'm using GitHub Classroom to give people access to the repo & add them to a team + org at the push of a button. Classroom has been fantastic for this & does what I need it to flawlessly.

The one change I'd like to make is for people to PR into [an existing repo](https://hack.af/pack) which has sentimental value to

[2019-11-27 16:47] d12 commented on #2479
It'd be a pretty big change to the way the application has worked in the past, and it'd be a pretty decent engineering project to build out the functionality. Unfortunately I can't promise anything in the short term, but we'll note the feature request and try to get to it soon.

In this case, you'd probably be better off writing some sort of integration to do this. Looking at the API docs:

Will t

[2019-12-01 05:53] chetannova commented on #2389
How to run a program without code like just by phrases.

[2019-12-02 07:35] kavindyasinthasilva opened #2483 "how to connect with my social media"
this is improve how to connect with my social media and other web , and they have join social media link and .they can share this class room .they are other friends,and the can apply new platform

[2019-12-03 07:01] femmebot opened #2487 "Problem identifying which student submitted assignment"
**Issue**
When downloading assignments via Classroom Assistant, teachers have trouble identifying which student submitted the assignment. It’s especially problematic for those who teach large classes or multiple sections.

**Who has this problem:**
* Teachers/TAs who hadn’t set up a roster and are simply relying on the student's GitHub username from Classroom Assistant
* Teachers/TAs who used iden

[2019-12-03 07:13] femmebot opened #2488 "Issues with assignment deadlines"
**Issue**
Teachers and students have problems with the assignment deadlines:
* When teachers/TAs set up a deadline, they don’t expect students to be able to continue submitting past the due date.
* When using Classroom Assistant to grade assignments that have a due date, teachers/TAs expect to be able to see whether the assignment was submitted on time (esp. if late submissions impact their grade)

[2019-12-03 13:22] tgalling commented on #2350
Brightspace is LTI 1.3 compliant as well - Looking forward to being able to use the membership service.

[2019-12-03 15:12] d12 commented on #2389
@chetannova We don't have first class support for something like that right now, but there are various REPL services online that you can integrate with GitHub.

[2019-12-03 17:33] kavindyasinthasilva commented on #846
thank you < i can share other teacher......................

[2019-12-03 21:29] jeffrafter opened #2491 "Move slow LMS actions to background jobs"
Currently much of the work for LMS integrations is done in the request/response web cycle. External APIs can be slow and we should move these to a background job to ensure the user experience feels snappy (and doesn't timeout 😱)

* `Orgs::RostersController#import_from_lms`
* `Orgs::GoogleClassroomConfigurationsController#search`
* `Orgs::RostersController#sync_google_classroom`
* `Orgs::RostersCon

[2019-12-04 07:34] brrcrites opened #2493 "Assignment Forks Misattributing Template Repo Commits"
**Describe the bug**
GitHub Classroom assignments which are created with starter code and use the "Import starter code using a template repository" beta feature occasionally seem to incorrectly attribute authorship of the template repo's commits in the newly forked commit history (and contributor list) to a different author. This doesn't happen in every student submission fork of the template repo

[2019-12-04 16:12] d12 commented on #1611
We got another report of this bug, if Classroom is setup with an established org with members and repositories, changing the default permissions can revoke access from a lot of people. At the very least, let's give the user a big warning when setting up Classroom on a repository with existing members _and_ repositories.

cc @andrewbredow for triage.

[2019-12-04 17:50] femmebot opened #2494 "[Tracking] IA redesign"
- [ ] New header / navigation
- [ ] Update Admins/TAs content layout
- [ ] Update Settings content layout
- [ ] Update Assignment creation and Assignment view pages
- [ ] Update Roster management which includes:
  - Improved ability to search/sort roster entries
  - Updating roster management via modal
  - Layout/UI updates
- [ ] Student page view (new page with new functionality)

[2019-12-04 17:59] femmebot opened #2495 "Update Admins/TAs content layout (IA redesign)"
Update layout/UI for GitHub Classroom admin settings. Part of IA redesign effort ([tracking](https://github.com/education/classroom/issues/2494)).

![009](https://user-images.githubusercontent.com/471514/70167841-93925380-1695-11ea-94e9-1a5196156371.png)

<img width="1240" alt="TAs, Admins" src="https://user-images.githubusercontent.com/471514/71212508-79ed3080-227f-11ea-94d5-9bf3b900b931.png">

[2019-12-04 18:12] femmebot opened #2496 "Update Settings content/layout (IA redesign)"
Part of IA effort ([tracking](https://github.com/education/classroom/issues/2494)). Much of the content that's currently under Classroom settings will be relocated to make it easier and more intuitive for users to find and access things.

### Settings page
![010](https://user-images.githubusercontent.com/471514/70168705-5af37980-1697-11ea-81f6-f7f814349c75.png)

[2019-12-04 18:24] femmebot opened #2497 "Update roster management (IA redesign)"
Part of IA redesign ([tracking](https://github.com/education/classroom/issues/2494)). Much of this functionality that currently resides under Classroom > Settings > roster management will now occupy its own tab, **Students**. Refer to the [Figma mockups (011.0 - 011.4)](https://www.figma.com/file/L40ym5wffm0yMyxXilbY7j/Classroom-onboarding?node-id=909%3A30975) for details/context.

![011  1](https

[2019-12-05 06:31] pelikhan opened #2498 "Configure the "View repository" URL"
If an course is using a 3rd party editors, like makecode.microbit.org, a teacher might want to open the repository in such editor rather than GitHub.com. Currently, the teacher needs to open the repository, copy the URL, go to MakeCode, import the URL.

The proposition is to allow the customization of the "View repository" (or maybe an additional button) through a .yml file, e.g. ``.github/classro

[2019-12-05 08:02] Juanlu001 commented on #292
I find it weird that administrators cannot pre-create the teams. Came here and sorted the issues by most :+1: reactions, was not surprising to see this is the most requested one. At least it would be nice to state this fact more clearly in the documentation while it's being worked out?

[2019-12-05 14:46] d12 commented on #292
Thanks for the feedback, we're doing some thinking into how we can improve this experience. @MeyAyre Are you able to help with adding something in the docs noting this isn't possible yet?

[2019-12-05 15:03] johndbritton commented on #292
The way we implemented teams should support the need for teachers to pre-define who is on what team.

There needs to be a UI built that allows a teacher to create a group of teams and put people from a roster into each of the teams. Then when the students join the classroom and connect to the roster entry, they will automatically be on the correct teams.

[2019-12-05 19:31] d12 opened #2499 "Move repo prefix to optional section"
<img width="694" alt="Screen Shot 2019-12-05 at 2 29 32 PM" src="https://user-images.githubusercontent.com/30920216/70267088-b858fa80-176b-11ea-8688-4f3345ab163f.png">

To reduce clutter up top, let's move the prefix box into the optional section. The way we automatically update the prefix box when you type an assignment name is a little unexpected, it'd be cleaner to just treat the box as an "ove

[2019-12-05 19:32] d12 commented on #2499
cc @femmebot for thoughts.

[2019-12-06 16:47] d12 commented on #2493
Thanks for the report! I'm going to close this issue in favor of the earlier https://github.com/education/classroom/issues/2459

[2019-12-06 16:47] #2493 closed

[2019-12-06 16:48] d12 commented on #2459
Thanks for the report! We're looking into ways to make this less random, but for now, the administrator who adds the student to the assignment is not constant.

[2019-12-06 16:49] d12 commented on #2483
GitHub Classroom doesn't have any social media functionality at this time.

[2019-12-06 16:49] #2483 closed

[2019-12-06 16:51] d12 commented on #2474
With Git, a commit can be authored as anyone, by anyone. The way to verify identities on GitHub is to use GPG key signing with Git. See https://help.github.com/en/github/authenticating-to-github/signing-commits

Commits that are signed will show as "VERIFIED" on the commits page: https://github.com/education/classroom/commits/master

[2019-12-06 16:51] #2474 closed

[2019-12-06 16:52] d12 commented on #2473
We support archiving of a single assignment by disabling the invitation link. When the link is disabled, students can no longer accept the assignment.

[2019-12-06 16:52] #2473 closed

[2019-12-06 16:52] d12 commented on #2460
This looks correct, you cannot create assignments in archived Classrooms.

[2019-12-06 16:52] #2460 closed

[2019-12-06 16:53] d12 commented on #2464
Hey @carolinehardin ! We haven't gotten any more reports lately, it seems this might have been a small hiccup. I'll close this, but please let us know if you run into this again.

[2019-12-06 16:53] #2464 closed

[2019-12-06 16:54] d12 commented on #2462
The issue is solved by using template repos. We'll deprecate the old method of importing soon, closing this issue.

[2019-12-06 16:54] #2462 closed

[2019-12-06 16:54] #2463 closed

[2019-12-06 16:56] d12 commented on #2457
:wave: As you guessed, this is an issue specific to GitHub.com, not GitHub Classroom. There isn't much we can do on our side to prevent this type of rate limiting, would you mind reaching out to GitHub support at support@github.com?

[2019-12-06 16:56] #2457 closed

[2019-12-06 16:57] #2417 closed

[2019-12-06 19:49] kavindyasinthasilva commented on #2460
ok sir .ow it is done

[2019-12-08 10:58] prater-devin opened #2501 "Synchronizing Moodle Courses with Github Classroom"
## Feature Request

Good day,

I'm a technical assistant, I help with courses taught at an adult education facility teaching people with disabilities. Because I work in the Assistive Technology department, and am blind myself, I work on a few of our courses, and use Emacs, with Emacspeak, to write Markdown. Our CMS is Moodle, which sadly doesn't have an Emacs Mode, so there's plenty of copying and

[2019-12-09 18:21] #1496 closed

[2019-12-09 18:21] #1518 closed

[2019-12-09 19:19] d12 commented on #2425
None of our developers work on Windows, we're not able to be helpful here :/ You'll find better help on StackOverflow or possibly the rbenv repository.

[2019-12-09 19:19] #2425 closed

[2019-12-09 19:21] d12 commented on #2436
It seems like this is a question about Google Classroom, this repository is for the GitHub Classroom project.

[2019-12-09 19:21] #2436 closed

[2019-12-09 19:29] d12 commented on #2455
Rolling this into https://github.com/education/classroom/issues/377

For now, there is the roster management UI where administrators can correct mistakes made by students.

[2019-12-09 19:29] #2455 closed

[2019-12-09 19:29] d12 commented on #2456
@jbieniasz Could you send us some details about what assignment you cannot delete?

[2019-12-09 19:30] d12 commented on #2466
Closing in favor of https://github.com/education/classroom/issues/2073 ❤️

[2019-12-09 19:30] #2466 closed

[2019-12-09 19:38] d12 commented on #2498
I'm :+1: with this, will see when we can fit it into our roadmap. Let's keep in touch :)

[2019-12-09 19:39] d12 commented on #2499
Love it :sparkles:

[2019-12-09 19:41] titaniumbones commented on #1518
Is this closed as won't do or b/c it's implemented?

[2019-12-09 19:42] d12 commented on #2501
Better course/assignment sync between GitHub Classroom and popular LMSs is something we've definitely been thinking about! I'd imagine this is something we'll look into some time next year.

[2019-12-09 19:44] d12 commented on #1518
Closing as we're not moving forward with a GraphQL API for classroom, for internal or external use. If we expose Classroom data via an API, it'll likely be REST. #1679 is the tracking issue for this :)

[2019-12-11 19:31] ggorman opened #2502 "logging out of classroom.github results in 404 error"
**Describe the bug**
When you click 'logout' you get the following message.

404
Page not found
The page you are trying to reach does not exist, or has been moved.
Go back to classroom dashboard
 with  by
GitHub Classroom is open source.

**To Reproduce**
Using Chrome Version 79.0.3945.79 (Official Build) (64-bit)
logout of classroom.github

**Expected behavior**
expected to logout

[2019-12-13 15:09] d12 commented on #2502
Thanks for the report! I tried to reproduce, but I get logged out and sent back to our splash page as expected. When you reproduce, are you logged into GitHub.com, or logged out?

[2019-12-20 22:33] d12 commented on #2499
Love it!!!

[2019-12-22 04:32] julianstanley opened #2505 "Package libgconf2-4 dependency error"
**Describe the bug**
GitHub classroom assistant 1.0.5_amd64.deb does not install on Ubuntu 19.10 due to a "Dependency is not satisfiable" error.

[code]

[code]

**To Reproduce**
Download @ https://classroom.github.com/assistant
`sudo dpkg -i classroom-assistant_1.0.5_amd64.deb`

**Expected behavior**
The classroom app should install.

**Additional context: personal solution**
The classroom assist

[2019-12-22 07:22] femmebot opened #2506 "Assignment create (individual, group), view, listing pages (IA redesign)"
Assignment pages:
- Create new individual assignment
- Create new group assignment
- Assignment submissions page

Part of IA redesign ([tracking](https://github.com/education/classroom/issues/2494)).

Refer to the Figma mockups ([006.0 - 012](https://www.figma.com/file/L40ym5wffm0yMyxXilbY7j/Classroom-onboarding?node-id=909%3A30975)) for details/context.

<details>
<summary>New Individual Assignme

[2019-12-23 13:09] BabaKofiFHDA opened #2507 "Misspelling on Connect GitHub Classroom to Canvas page"
**Describe the bug**
Misspelling on Connect GitHub Classroom to Canvas page

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a GithHub classroom and go to the lti_configuration page for Canvas
2. The link "step-by-step guide for configuing GitHub Classroom with Canvas" has the word configuring misspelled.

[2019-12-23 16:07] #2353 closed

[2019-12-23 16:42] #2496 closed

[2019-12-24 02:22] catherine-leung opened #2508 "Users who have changed username cannot create assignments"
**Describe the bug**
I have had 2 students this term who decided to change their github usernames  (they were wanting to change it to something more professional).  These two students cannot accept assignments via github classroom assignment links.  I have tested this myself using another account and found that this seems to be case.

**To Reproduce**

1. create a gropu assignment link (Mine were

[2019-12-24 03:00] d12 commented on #2508
Which specific students are impacted? While we work on a more long term
fix, I can fix up their accounts in our system.

On Mon, Dec 23, 2019, 9:22 PM catherine-leung <notifications@github.com>
wrote:

[2019-12-24 06:20] catherine-leung commented on #2508
I had manually added them to their repos and the course is over so its ok for now I think.  Just wanted to report the issue.

[2019-12-30 21:45] jeremymanning opened #2509 "Error accepting course assignment"
**Describe the bug**
I encounter an error when I attempt to accept a course assignment.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to assignment URL (https://classroom.github.com/a/rw4gMFGJ)
2. Click "accept this assignment"
3. Encounter error (screenshot below); message: `GitHub repository could not be created from template, please try again. (You are forbidden from performing this

[2019-12-30 21:53] jeremymanning opened #2510 "GitHub classroom unable to access Canvas course roster"
**Describe the bug**
I'm unable to import the course roster from Canvas

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Students" tab of course ([link](https://classroom.github.com/classrooms/22374976-introduction-to-programming-for-psychological-scientists-psyc-32/roster/new))
2. Click on "Import from Canvas" button
3. See error: `GitHub Classroom does not have access to your course

[2019-12-30 23:45] mkfreeman opened #2511 "Unable to Create New Classroom"
**Describe the bug**
I am unable to create a new classroom, despite having provided the appropriate permissions on GitHub.

**To Reproduce**
Steps to reproduce the behavior (see screenshots below):
1. Provide 3rd party access on GitHub
2. Go to create a new classroom
3. Select the desired organization (info340a-w20)
4. See error (_You are forbidden from performing this action on github.com_)

**Ex

[2019-12-31 00:30] amanzer2020 opened #2512 "Create first classroom problem"
**Describe the bug**
I am not able to create first classroom

**To Reproduce**
I followed the steps after creating organization I went to create classroom

**Screenshots**
![image](https://user-images.githubusercontent.com/58564798/71605910-b26ff280-2b3a-11ea-9068-ade5c29491fc.png)

**Additional context**
I get the following message:
You are forbidden from performing this action on github.com
Sele

[2019-12-31 00:36] jeffrafter commented on #2509
Hi @jeremymanning sorry for the trouble; it looks like a change I shipped might be related. We just shipped a fix; can you try again?

[2019-12-31 00:37] jeffrafter commented on #2511
Hi @mkfreeman, it looks like this is related to a change I shipped today that affected some classroom users. We've just deployed a fix for the fix... could you try again and see if you are still getting the error (you might need to sign out and sign back in).

[2019-12-31 00:38] jeffrafter commented on #2512
Hi @amanzer2020, it looks like this is related to a change I shipped today that affected some classroom users. We've just deployed a fix for the fix... could you try again and see if you are still getting the error (you might need to sign out and sign back in).

[2019-12-31 01:06] jeremymanning commented on #2509
That fixed the problem-- it works great now (behavior is now as expected)!  Thanks so much for addressing this so quickly!

[2019-12-31 01:06] #2509 closed

[2019-12-31 19:31] jeremymanning commented on #2510
Update: I believe this is related to [this issue](https://github.com/education/classroom/issues/2263).  It looks like the canvas administrator needs to enable the "Allow this tool to access the IMS Names and Role Provisioning Service" option.

I can either update (or close) this issue once our administrator has enabled that option, or I'm fine to close the issue now (or for you to close it).

Othe

[2020-01-02 04:28] mkfreeman commented on #2511
Amazing, @jeffrafter ! Thanks for the quick response around the new year. Worked just fine.

[2020-01-02 04:28] #2511 closed

[2020-01-03 17:34] catiaspsilva opened #2513 "Import rooster from Canvas"
I have successfully connected GitHub Classroom to Canvas by following the steps in https://classroom.github.com/help/setup-canvas and using the consumer key, shared secret and App URL provided.

There seems to be a bug when importing student's rooster from Canvas. I have repeatedly re-launched GitHub Classroom from Canvas and click on "Import from Canvas" but I keep receiving the same error messag

[2020-01-03 17:55] #2495 closed

[2020-01-03 18:54] #2513 closed

[2020-01-05 18:50] nag11nag opened #2514 "Unable to create private repos for classroom assignments"
**Describe the bug**
Unable to select private repositories -- even though I've been approved as faculty

**To Reproduce**
Steps to reproduce the behavior:
1. Create an assignment
2. Attempt to select "Private Repository"

**Expected behavior**
I should be able to select private repository

**Screenshots**
Please find a screenshot of creating a new assignment (with the unavailable private repo butt

[2020-01-07 05:45] ryancdavison commented on #2386
Is there an update for this.  I am experiencing the same behavior with self-hosted Moodle 3.1.x (GitHub Classroom states 3.0 and up is ok).  I am able to connect Moodle, but am unable to import the roster.  The big difference for me is the lack of the Services options in the setup docs, that allow for the configuring the IMS LTI Names and Role Provisioning menu.  This is for classroom https://clas

[2020-01-10 16:06] spinecone commented on #2499
I found some interesting historical information in the original PR for adding the customizable repo prefix field: https://github.com/education/classroom/pull/728

It looks like repo prefixes used to be generated directly from assignment titles. However, this caused problems when assignment titles included special characters that couldn't be used in repo titles. To solve this, we now ask the user t

[2020-01-10 18:06] spinecone commented on #2499
Would it make sense to communicate to a user that an assignment title they are providing will lead to a repo prefix with stripped characters, without specifically letting them change the repo prefix itself? Something like what dotcom does here:
![Screen Shot 2020-01-10 at 12 05 16 PM](https://user-images.githubusercontent.com/7772827/72175342-94f42180-33a1-11ea-9542-e5a928e550ff.png)

[2020-01-10 19:31] maxwofford commented on #2479
Sorry for the late response here– slipped past my unreads. I ended up going for the integration (missed that line about the raised invite limit the first time) and it's working perfectly for my use-case. Thanks for recommending it.

Max Wofford
max@maxwofford.com
Engineering & Operations @ Hack Club ( https://hackclub.com )

On Wed, Nov 27, 2019 at 11:47 AM, Nathaniel Woodthorpe < notifications@gi

[2020-01-11 23:31] gustavosobral commented on #1381
I think I can do this one. Have you done any work on this @v4vasanth?

---
@BenEmdon So, your idea here is to just create these three queues that you've mentioned and re-assign the workers? I thought about doing something like this:

[code]

And assigning the Workers that have a queue with priority 3 to the `critical` queue and so on.

Other option would be this setup:

[code]

But from the Sideki

[2020-01-11 23:56] gustavosobral opened #2515 "bin/setup script fails"
**Describe the bug**
Running `script/setup` fails because of `caskroom/cask`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `script/setup`
2. See the following error:

[code]

**Expected behavior**
Succeed setting up the project

**Additional context**
Homebrew Cask is now integrated into Homebrew itself and tapping `caskroom/cask` is not necessary https://github.com/Homebrew/homebrew-

[2020-01-12 15:21] gustavosobral opened #2517 "Add pt-BR translations 🇧🇷"
### Feature request :sparkles:
Translate the app into Brazilian Portuguese (pt-BR).

The app doesn't have a language selector yet, right? Should it also be part of this feature? Any suggestions?

---

I can do this one.

[2020-01-13 18:05] d12 commented on #2514
@nag11nag I'll close this as solved, please re-open if you run into issues :)

[2020-01-13 18:05] #2514 closed

[2020-01-13 18:16] d12 commented on #2510
Hey @jeremymanning ! The IMS Names and Role Provisioning Service is required to pull roster information at this time. As an alternative to using the LTI integration, you could also import students via a .csv by navigating to your students tab and clicking "update students".

Let me know if this solves the problem :)

[2020-01-13 23:35] jessebett opened #2519 "Student Roster Linking Process is Incredibbly Frustrating"
Linking students from my roster to their github account is incredibly frustrating for students and me as the instructor.

Not only does it expose the entire course roster (which is a privacy issue if I were using emails, though I am using student IDs) it is also **very** easy to mess-up.
Students have to click their names from scrolling through very long list. If they accidentally click another st

[2020-01-14 17:19] paulsmithkc opened #2520 "Cannot pull new code for student assignments"
**Describe the bug**
I can use the Classroom Assistant client to download a snapshot of my students' assignments. However, when I try to pull down a new version of their assignment I get the following error.

`remote: The token in this link has expired. Please request another temporary clone link.`

**To Reproduce**
Steps to reproduce the behavior:
1. Download and Install the **Classroom Assistant

[2020-01-14 17:44] paulsmithkc opened #2521 "Failed to create repos due to large files in base repo"
**Describe the bug**
I created an assignment with a base repo. When students attempted to accept the assignment they received the following error message:

`We were unable to clone <base repo> contents into <student repo>. The template you used includes files that are larger than 10 megabytes. Please remove those files from the template and try again.`

I removed the files that were bigger than 10

[2020-01-14 18:17] d12 commented on #2521
Thanks for the report @paulsmithkc , your expected behaviors seem spot on. We don't support template repos with files greater than 10MB right now, but we would like to surface these errors earlier in GitHub Classroom as you noted. I'll update this issue when we fix this up, but for now, your workaround of recreating the assignment will work.

[2020-01-15 04:01] gvhagopian opened #2522 "After deleting a team, it still shows up when accepting an assignment"
**Describe the bug**
After deleting a team, it still shows up when accepting an assignment

**To Reproduce**
Steps to reproduce the behavior:
1. set up an organization with one class and one group project and one team
2. Delete the sole team
3. While logged in to an unrelated github account, use the link to accept the assignment

**Expected behavior**
The only option should be to create a new team

[2020-01-15 06:40] womenpower19111 commented on #2520
Stop sending me email I have tried to unroll but you refuse stop now or else

Sent from Yahoo Mail on Android

  On Tue, Jan 14, 2020 at 11:19 AM, Paul Smith<notifications@github.com> wrote:
Describe the bug
I can use the Classroom Assistant client to download a snapshot of my students' assignments. However, when I try to pull down a new version of their assignment I get the following error.

remo

[2020-01-15 06:45] womenpower19111 commented on #2520
Unscribe

Sent from Yahoo Mail on Android

  On Wed, Jan 15, 2020 at 12:40 AM, womenpower19111<notifications@github.com> wrote:   Stop sending me email I have tried to unroll but you refuse stop now or else

Sent from Yahoo Mail on Android

 On Tue, Jan 14, 2020 at 11:19 AM, Paul Smith<notifications@github.com> wrote:
Describe the bug
I can use the Classroom Assistant client to download a snapshot

[2020-01-15 08:05] JavierCane commented on #2509
Hi!

I'm having this very same problem. Could it be happening because a misconfiguration of the organization permissions or something else from my side? Or could it be something related to the mentioned bug?

Thanks!

[2020-01-15 08:42] jeffrafter commented on #2509
@JavierCane sorry you are having trouble. The bug associated with this issue is fixed so it is likely misconfiguration of organization permissions. If you are seeing a specific error that might help diagnose it.

[2020-01-15 15:33] d12 commented on #2520
@womenpower19111 You're receiving notifications because you're watching the repository, you can un-watch at the top of this page.

@paulsmithkc Thanks for the report! I spent some time digging this morning and I _think_ I've tracked down the issue. In one of the affected repositories, if you run `git remote -v`, do you see a URL that includes an access token like this?

[code]

If so, we'll just n

[2020-01-15 15:36] paulsmithkc commented on #2520
Yes, the remotes do follow that pattern and include an access token.

[2020-01-15 15:52] d12 commented on #2520
Awesome, can you try resetting the remote and seeing if it resolves the issue?

The new URL is the one you see in git remote -v, but without the `x-access-token:blahblah@`.

[code]

[2020-01-15 15:57] d12 commented on #2520
Alternatively, this one liner will fix the origin remote for you:

[code]

[2020-01-15 16:25] d12 commented on #2522
Thanks for posting this issue! We don't have the ability to delete teams at the moment, but this is an issue we're tracking in #292 . I'm not quite sure when we'll get to that issue, but if you follow it, you'll be notified when we post an update.

[2020-01-15 16:25] #2522 closed

[2020-01-15 16:49] paulsmithkc commented on #2520
Yes, that one line script does fix the remote config.

[2020-01-15 16:52] #2520 closed

[2020-01-15 17:05] d12 commented on #2517
In the past, we've had issues with adding translations because we'd like to validate them all with at least a few different people, but we don't have the people to do that. Let's hold off on implementing this for now until we have a game plan there.

[2020-01-15 17:12] paulsmithkc commented on #2520
Script to do this for all repos in a folder below, based on a previous automation script I had written, to pull all repos.

[code]

[2020-01-15 17:19] paulsmithkc commented on #2520
However, if applied twice it does not work. If this script is run again I get:

origin **https://origin**  https://github.com/RankenTechnicalCollege/awd-1112-alexander-ottosson.git (fetch)

Notice the extra https://origin, because the @ sign is no longer there.

[2020-01-15 17:21] paulsmithkc commented on #2520
This script, which I found on another thread works better:

`git remote set-url origin $(git remote -v | head -n 1  | grep -o 'github\.com.*\.git' | awk '{print "https://"$1}')`

[2020-01-15 17:28] paulsmithkc commented on #2520
Script to do fix the origin and pull code for all my students in one go:

[code]

[2020-01-15 17:30] JavierCane commented on #2509
The steps to reproduce the error and the error message are the very same as the ones described in this issue, that is:

*How to reproduce*:

1. Create an assignment with a starter code repository specified (https://github.com/CodelyTV/php-basic-skeleton) and with the "Import starter code using a template repository" option enabled because it's a template repository.
2. Go to assignment URL
3. Clic

[2020-01-16 15:03] THSCS opened #2523 "Filter classrooms by owner"
### Show only my courses :sparkles:

We're looking at several schools in our district using Classroom next year. I'm the only teacher currently using it, but several have expressed interest for next year, and a couple of made test courses to play around.

What I noticed is that I'm able to see any courses created in Classroom that are part of the same organization and create assignments in any of

[2020-01-16 16:33] d12 commented on #2523
Seems like a super reasonable request :) We'll update this issue when we've implemented this!

Assuming you're talking about the GitHub Campus Program, your district will be given an _Enterprise_, which consists of many _Organizations_. You'll be free to create as many premium organizations as you like, so you'll still be able to have an org per teacher, faculty, school, or however you'd best like

[2020-01-16 16:54] jessebett commented on #2519
Further frustration, the student roster is paginated. Since I am now having to correct many mistaken student links I cannot even do it simply, by `ctrl-f` for their ID. I have to manually click through many pages to find their student ID to link.

[2020-01-16 18:02] jamarFraction commented on #2509
Myself and others in my class are currently having the same issue. For some students it works, for the majority it doesn't.

[2020-01-16 18:13] bwiernik commented on #2508
I am currently having this problem. The user account for @ElisaCarsten is not listed in my classroom, only the only name for the account @ElisaCarsten2. When she clicks an assignment link, it shows the "Congratulations" message, but doesn't make a new repo or link her current account name to her name in the Student roster.

[2020-01-16 19:52] Ace-Cassidy commented on #2509
I am also experiencing this issue with https://classroom.github.com/a/JCQTn8LW

[2020-01-16 20:14] chundhau commented on #2509
I think the issue has to do with how the instructor sets up the assignment. There is a beta feature that uses a "repository template" to clone the repo when the assignment is selected. It seems that this beta feature has, or used to have, a bug. When I switched, from the instructor interface, to the non template option of distributing the repo, the problem seemed to go away.

[2020-01-16 20:32] d12 commented on #2509
Hey all, we're digging into this right now. We'll update here soon when we have more info.

[2020-01-16 21:11] mpapka opened #2524 "404 When adding TA"
I'm not sure it is a bug, but when adding TA, I add them to the organization and it works fine.  When they use the link provided by GitHub Classroom to join the classroom, sometimes it gets to login, sometimes past login to verify account, but it never adds TA to classroom. Most of the time it gives a 404 message. The TA is a member (not owner) of the organization.

[2020-01-16 23:03] jeffrafter commented on #2509
Thanks for the patience everyone. We spent some time digging into this and the recent errors around accepting are not related the original issue (which was a particular bug that was fixed).

For the recent reports there appear to be a couple of factors at work.

## For template repositories

It appears that https://github.com/CodelyTV/php-basic-skeleton is owned by an organization which has Third

[2020-01-17 00:02] timscherr88 opened #2525 "Can't add students"
**Describe the bug**
A clear and concise description of what the bug is.
I started to connect my GitHub Classroom to Canvas, but was uncertain if I had sufficient authority, so I hit back.   Now it says Github is connected to Canvas, even though I never completed the connection, and won't let me manually add students.   Only the add through Canvas option is available.   I am stuck.  Please allow m

[2020-01-17 00:28] wahalulu commented on #2524
I've been having the same issue. Just made TAs owner and trying the link again, but they were getting a 404.

[2020-01-17 02:40] JRHonda opened #2526 "Stuck on Creating Repository"
**Describe the bug**
Creation of repository appears to stop making progress after 30 minutes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/assignment-invitations/c1077b662e97d2063f0d655d116fa552/setup
2. Wait

**Expected behavior**
Should 1) Create the repository 2) Import starter code

**Screenshots**
<img width="1017" alt="Screen Shot 2020-01-16 at 9 38

[2020-01-17 17:50] jeffrafter commented on #2509
As a followup: using the legacy importer with actions should now work as expected as well.

[2020-01-17 22:17] d12 commented on #2524
@wahalulu If the TA is an owner of the organization, they should be able to access the Classroom. If you're still having issues, could you pass along the org name and TA GitHub handle so that I can dig into it?

[2020-01-17 22:19] d12 commented on #2526
@JRHonda This issue is resolved by using the new template repositories feature. We're working on making it a more seamless experience, but for now, this document explains how you can set it up for your assignments: https://classroom.github.com/help/using-template-repos-for-assignments

[2020-01-17 22:19] #2526 closed

[2020-01-17 22:21] d12 commented on #2525
:wave: @timscherr88 , we disallow manual roster changes while linked to an LMS because it breaks our sync functionality that keeps the GitHub roster in line with your LMS roster. If you're looking to just use manual rosters, you can un-link the LMS from your classroom and work from there. Let me know if I can help out :)

[2020-01-17 22:31] jeremymanning commented on #2510
I'm not seeing an update students option-- here's what that tab looks like for my course:
<img width="1016" alt="Screenshot 2020-01-17 17 31 06" src="https://user-images.githubusercontent.com/9030494/72650703-373a7900-394f-11ea-8dc0-b7981ea06a22.png">

[2020-01-19 18:27] developerium opened #2527 "Error: (Repository: User could not be added)"
**Describe the bug**
I'm trying to open an assignment, but I keep getting `(Repository: User could not be added)`

**To Reproduce**
1. Open the link given to me
2. Click on the setup button
3. I see a red dialog showing me `(Repository: User could not be added)`
4. Click on retry repository setup
5. The same thing happens again

**Expected behavior**
I was expecting to be able to access the assign

[2020-01-19 18:52] developerium commented on #2527
Should I add the link to the assignment?

[2020-01-19 19:06] d12 commented on #2527
That would help :) I will look at this soon!

On Sun, Jan 19, 2020, 1:52 PM Vahid Kheradmand <notifications@github.com>
wrote:

[2020-01-19 19:08] developerium commented on #2527
Here it is:
https://classroom.github.com/assignment-invitations/eb6ed84883fc974fd768287c07a2c22c/setup

[2020-01-19 20:27] d12 commented on #2527
:wave: @developerium!

I took a look, your account has some restrictions that are preventing you from being added to the repository. Sorry about the cryptic error, we'll try to improve that on our end.

We're not able to help with this type of issue, you'll want to reach out to GitHub Support and let them know you're getting an error when being added to a repository. https://support.github.com/con

[2020-01-19 20:27] #2527 closed

[2020-01-19 23:59] lizfischer opened #2528 "Canvas Integration Configuration 404"
**Describe the bug**
When opening an assignment in Canvas set to open with GitHub Classroom, there is a 404 error. The link from the 404 page that says "Go back to classroom dashboard" results in "classroom.github.com refused to connect."

**To Reproduce**
1. Follow the [instructions ](https://classroom.github.com/help/setup-canvas)for setting up Canvas integration. (Note here: the language in the

[2020-01-19 23:59] lizfischer commented on #2528
Apologies if I'm just missing something here...

[2020-01-20 00:42] womenpower19111 commented on #2528
The fucWhy is it that GitHub is harassing me i have been trying and trying to inscribe from you services because i simply am not going to use GitHub for an thing in my position so het the fuck shit away from me i am feed up with it now what's its going take you sorry motherfuckers

Sent from Yahoo Mail on Android

  On Sun, Jan 19, 2020, at 5:59 PM, Liz Fischer<notifications@github.com> wrote:
Des

[2020-01-20 00:53] lizfischer commented on #2528
Hi @womenpower19111 -- you're probably watching this repository on GitHub... if you go to [this link  ](https://github.com/education/classroom) and there's a button near the top right that says "Unwatch" you can click it and change to "Not Watching" to stop notifications.
![image](https://user-images.githubusercontent.com/7800842/72691657-b3b68e80-3aec-11ea-8889-834ff5aae9e2.png)

You can also go

[2020-01-20 01:45] d12 commented on #2528
:wave: @lizfischer , right now the integration only supports roster imports which you'll find in the students tab of your Classroom. Until we build out that support, trying to embed Classroom in your assignments like this won't do anything super useful :)

[2020-01-20 01:45] #2528 closed

[2020-01-20 06:10] developerium commented on #2527
I'm living in Iran that's why my account has some restrictions!

Thanks for clearing the issue for me

[2020-01-20 07:39] lizfischer commented on #2528
Oh, that explains it! Thank you :)

[2020-01-21 10:02] JavierCane commented on #2509
Thanks for the fix. It's working properly now 🤟🙌

[2020-01-21 16:41] m940421 opened #2529 "Duplicated repository created by students"
**Describe the bug**
When students accept a new homework, the classroom is creating duplicated repositories. Sometimes the classroom even creates 5 duplicated repositories for one account. This happened for a few students but not all of them.

**To Reproduce**
Steps to reproduce the behavior:
Not exactly sure what leads to the problem

**Expected behavior**
Normally only one repository is created.

[2020-01-21 21:27] lizfischer commented on #2510
@jeremymanning I believe you have to remove the Canvas connection before it will let you add students manually. That's what worked for me, anyway.

I'm currently experiencing this problem even with "Allow this tool to access the IMS Names and Role Provisioning Service" checked. I tried removing the app in Canvas and re-adding, but it still doesn't work.

[2020-01-21 22:44] joncooknmsu commented on #1302
I agree with dfkotz. TAs should not be owners.

[2020-01-21 22:55] gordonwatts opened #2530 "Cannot find assignment"
**Describe the bug**
Using the `download repositories` button on the assignment page, Classroom Assistant displays the error message "could not find assignment" (https://classroom.github.com/classrooms/59599810-2020-winter-phys-427/assignments/02-the-abcd-background-method)

**To Reproduce**
Use classroom assistant to download the url https://classroom.github.com/classrooms/59599810-2020-winter-ph

[2020-01-21 23:07] timscherr88 commented on #2525
Nate,

The link to the LMS was made by another party, and when he unlinked it I was able to do the manual addition.

Best,

Tim

From: Nathaniel Woodthorpe <notifications@github.com>
Sent: Friday, January 17, 2020 3:21 PM
To: education/classroom <classroom@noreply.github.com>
Cc: Timothy Lee Scherr <Timothy.Scherr@Colorado.EDU>; Mention <mention@noreply.github.com>
Subject: Re: [education/classroo

[2020-01-21 23:07] gordonwatts commented on #2530
Another assignment which I'd successfully downloaded (on this machine) last week is no longer found either.

[2020-01-21 23:13] alexpapster opened #2531 "Classroom assistant incorrect login and cannot find assignment"
I am facing a weird bug. Up to today, I did not have any issue with the classroom assistant. The only change that I did today was that I added my co-instructor as an owner of the classroom.

When I login in the classroom assistant, rather than seeing my avatar, I see his (!?) as logged in. It also no longer finds an assignment that it could find just fine up to this morning.

[2020-01-21 23:26] d12 commented on #2531
Thanks for the report! We're looking into this right now, we'll update you as soon as we've resolved. I'm going to close this issue in favor of https://github.com/education/classroom/issues/2530 so that I can keep updates all in one place :)

[2020-01-21 23:26] #2531 closed

[2020-01-21 23:27] d12 commented on #2530
Something's definitely up right now, we're looking into this. I'll post an update once we have more info.

[2020-01-21 23:46] ProfBird commented on #2530
I'm having the same problem. I downloaded the repositories for this assignment last week:
https://classroom.github.com/classrooms/59457339-lcc-cs296n-classroom/assignments/labs
Now the Classroom Assistant displays the red error message "Could not find assignment". Looks like a new bug in the Classroom Assistant!

[2020-01-21 23:49] d12 commented on #2530
We are making good progress towards a fix, thanks for the patience and reports everyone!

[2020-01-21 23:58] d12 commented on #2525
Glad to hear!

[2020-01-21 23:58] #2525 closed

[2020-01-22 00:19] d12 commented on #2530
@gordonwatts @ProfBird We've pushed a fix upstream, you should be all set. Thanks for the reports, and sorry for the downtime!

[2020-01-22 00:19] #2530 closed

[2020-01-22 18:22] d12 commented on #2529
Hey, thanks for the report! I've noticed this behavior before, but we haven't figured out what exactly causes it yet. In the mean time, the template repositories feature seems to not have this issue: https://classroom.github.com/help/using-template-repos-for-assignments

[2020-01-22 19:22] paulnakroshis opened #2532 "Assignment link takes forever to load for some."
**Describe the bug**
I gave students a link to an assignment today on the first day of my class,
and for some students, create a repo and downloaded the assignment quickly,
but for others, it seemed to take forever and never completed. I only have 15 students
in the course, and this behavior is going to make me abandon github classroom if it persists.

**To Reproduce**
Steps to reproduce the behav

[2020-01-22 22:37] d12 commented on #2532
Hey @paulnakroshis ! Was your assignment using the template repositories feature? It's a beta feature that resolves all of the slow import problems we've been having. We're working on making it a little easier to use, but for now, you can check out the docs here to learn more: https://classroom.github.com/help/using-template-repos-for-assignments

[2020-01-22 22:45] d12 commented on #1302
Hey all :wave: I'm re-opening this issue for us to address when a bit of engineering bandwidth opens up. We'll post updates here when something changes :)

[2020-01-22 23:22] paulnakroshis commented on #2532
My assignments are simple .ipynb files, housed in private individual repos. I have already created several assignments, but after reading your link, I went to GitHub and noticed that the assignments were not in template repositories, so I checked the little "template repository' box. Do you think that this will automatically fix the assignments in Github Classroom which were already linked to the

[2020-01-22 23:28] paulnakroshis opened #2533 "Question about using Classroom with JupyterHub"
I am new to Github Classroom. Today I had my first class, and I made an assignment available to students in class. The procedure for using Github Classroom with Jupyterhub seems cumbersome, and I am wondering if there is a way around this.
Currently:
a) I make the assignment link available to students
b) they open the link, repo is cloned to their github account
c) they download the repo to their

[2020-01-22 23:30] d12 commented on #2532
@paulnakroshis It's a two step process, you have to tick the little box in the GitHub repository settings, but also edit the assignment in GitHub Classroom to use the new "beta" template repositories import method. You're looking for this radio button here:

<img width="621" alt="Screen Shot 2020-01-22 at 3 30 37 PM" src="https://user-images.githubusercontent.com/30920216/72943911-29f50400-3d2c-11

[2020-01-22 23:38] d12 commented on #2533
:wave: I'm unfamiliar with JupyterHub, do they have any sort of GitHub or VCS integration? Many tools that our professors use are able to pull directly from GitHub, and push straight back to GitHub when the student is done working. If not, there unfortunately isn't very much we can do on our end to help make that more efficient.

[2020-01-23 22:26] leestott commented on #2533
Hi @paulnakroshis have you looked into nbgitpuller https://github.com/jupyterhub/nbgitpuller   nbgitpuller lets you distribute content in a git repository to your students by having them click a simple link. :ref:`Automatic, opinioned conflict resolution <topic/automatic-merging>` ensures that your students are never exposed to git directly. It is primarily used with a JupyterHub, but can also wor

[2020-01-23 22:31] leestott commented on #2533
@paulnakroshis here a nice little overview of how to use nbgitpuller http://tljh.jupyter.org/en/latest/howto/content/nbgitpuller.html student then simply upload or push their Notebooks to github classroom after completing any necessary changes. If you use the Jupyter Extension within VSCode you can do all the changes execution and git submits directly within the IDE see https://code.visualstudio.c

[2020-01-24 16:19] THSCS commented on #2529
Came here to post about the same issue. Noticed it happening over the past few days.

Not sure if it's related, but I watched a student import a repo template today and the first time he got an error that it couldn't be created first. Clicked retry and then it started looping. The scroll bars would go like they finished and then they'd start over. It created about a dozen copies of the repo before

[2020-01-25 15:34] paulnakroshis commented on #2533
D12, Leestott,

Thanks for your feedback. One annoyance from a student's point of view is that when logged into our jupyterhub server and running a jupyter notebook (not the jupyterlab interface), the process of using GitHub classroom is complicated:
a) clone assignment repo from link I provide from GitHub classroom
b) download repo to laptop
c) upload to jupyterhub
d) complete assignment
e) downl

[2020-01-25 21:19] paulnakroshis commented on #2533
I think the third option is probably better:
When the students are done they can upload it to a dropbox or Google Drive folder that I share with them.

[2020-01-26 18:39] MortezaTaghaddomi99 opened #2534 "Run github classroom on gitlab"
Is it possible to run this project on my own server, using the server's gitlab?

[2020-01-27 16:40] d12 commented on #2534
It is not, sorry!

[2020-01-27 16:40] #2534 closed

[2020-01-27 16:42] d12 commented on #2533
You can also make a post on the community forum and see if anyone else has build out a workflow for GitHub Classroom + JupyterHub: https://education.github.community/

We'll look into better supporting these tools in the future :)

[2020-01-27 18:44] amir-abdi commented on #2527
@d12 The above is quite irresponsible of Github! Opensource and openaccess has a zero tolerance policy for racial profiling.

[2020-01-28 00:08] nathanstill opened #2535 "Push Issue to Each Student/Team Repository"
### Feature request :sparkles:
It would be great if the classroom teacher/TA could push a duplicate issue to each student/team in an assignment.

Thank you!

[2020-01-28 16:57] ngAtesz opened #2536 "Failed to import assignment even it uses template repository as base repo"
**Describe the bug**
We have a classroom assignment which uses template base repository but multiple times our students can not start to work because of failing import. The import starts and after that it freezes without creating the repository. When I try to reset the import as an admin it freezes again without any further notification.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2020-01-28 18:56] ToddSproull-WUSTL opened #2537 ""Repository not found" message randomly appears."
**Describe the bug**
I am receiving a "Repository not found" message where I would click to "View repository" in the Assignments sections for some of my students.  If I reload the page some of the "Repository not found" messages turn to "View repository" (but not all of them)

**To Reproduce**
Steps to reproduce the behavior:
1.Go to :  https://classroom.github.com/classrooms/59711801-cse330-sprin

[2020-01-29 05:59] mehraUTD commented on #1271
I am having the same issue! any updates?

[2020-01-29 14:45] d12 commented on #1271
@mehraUTD We're working on solving this issue with template repo imports, which should reduce the error rate here. More info: https://classroom.github.com/help/using-template-repos-for-assignments

[2020-01-29 15:06] d12 commented on #2537
cc @education/classroom-reviewers , some debugging needed here

[2020-01-29 15:19] d12 commented on #2536
:wave @ngAtesz , thanks for the report! It seems the January flood of new users overwhelmed some of our infrastructure. We've increased our capacity and you shouldn't experience any more delays!

[2020-01-29 15:19] #2536 closed

[2020-01-29 22:02] amueller opened #2538 ""update students" results in many duplicate students"
I tried to update my roster after more students enrolled.
I click on "update students" and pasted all the enrolled students. That created duplicate accounts for all the existing students.
I assumed it would not recreate existing accounts. Now I have to manually delete 150 accounts.

[2020-01-29 23:09] d12 commented on #2538
@amueller :wave: That's quite annoying, we'll keep this issue open to track getting this bug fixed up.

For now, I can look into cleaning up the roster for you. If you can give me specific criteria, I can clean that up.

[2020-01-29 23:10] amueller commented on #2538
@d12 that would be great. It's all those ending with "-1" the classroom is 60368672-appliedml2020-classroom-1

[2020-01-29 23:11] amueller commented on #2538
I have done like half of it but if you can do the rest with a database query that would be sweet!

[2020-01-29 23:16] d12 commented on #2538
Give me 5 min :)

[2020-01-29 23:20] d12 commented on #2538
Done! And sorry for the trouble, this issue will be updated when we've made fixes.

[2020-01-29 23:20] amueller commented on #2538
Thank you so much!

[2020-01-30 13:51] #2538 closed

[2020-01-31 00:53] lbang-hmc opened #2539 "Cannot enable assignment. Checking the box causes infinitely spinning wheel"
**Describe the bug**
I go to the assignment page, check the box next to Enable assignment invitation URL, and a little spinning status wheel comes up, never goes away, and the assignment is not made available to students using the link.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to assignment page
2. Click on the checkbox next to Enable assignment invitation URL
3. Spinning wheel han

[2020-01-31 10:34] RonaldAJ commented on #1824
For my old classroom the problem persists. But I opened a new classroom this academic year and there the problem seems to be gone.

[2020-01-31 15:43] d12 commented on #1824
cc @education/classroom-reviewers

[2020-01-31 16:08] d12 commented on #2539
:wave: @lbang-hmc Which browser are you using here? This is sometimes caused by very out of date browsers which aren't running our JavaScript correctly.

[2020-01-31 16:11] #2515 closed

[2020-01-31 16:18] lbang-hmc commented on #2539
Chromium myself, but my colleague also tried on several different browsers and all had the same issue.

Eventually, I deleted the assignment and then created it from scratch. The "enable" button was then already checked when it was created, so I just left it alone. But still I would like to be able to uncheck it and then check it again without having this happen.

[2020-01-31 16:22] d12 commented on #2539
Very strange, I tried it myself and didn't experience any issues. I've forwarded this to the eng team, they'll take a look soon! Thanks for the report :)

[2020-02-01 00:55] MrsSpindler opened #2541 "Cannot create new classroom"
**Describe the bug**
I get a 500 internal server error when I try to create a new classroom.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard
2. Click on "New Classroom"
3. Error. (Also happens when I click on an empty plus sign near the bottom of my classroom tiles)

**Expected behavior**
I should be able to select my organization to create the classroom

**Screenshots**
N/A

[2020-02-01 01:07] d12 commented on #2541
@MrsSpindler :wave:! Something's definitely broken, we're looking into this now. We should have the page back up very shortly.

[2020-02-01 01:18] d12 commented on #2541
All sorted! Thanks for the report :)

[2020-02-01 01:18] #2541 closed

[2020-02-01 01:30] MrsSpindler commented on #2541
Thanks for the quick response!

[2020-02-01 23:14] amueller opened #2542 "Students can easily link to wrong identifier, can't unlink"
### Feature request :sparkles:
From my students experience, it looks like it's very easy to link an account to the wrong identifier. I assume a single click is enough. It would be better if this would require also clicking "ok" or similar.
I had several students link to the wrong UNI.
Once they link to the wrong identifier, they can't unlink.
I had students link to random identifiers that they acc

[2020-02-01 23:17] amueller commented on #2542
If you could help me unlink that would be great, the github account that doesn't know which identifier is linked to is ilica. I can't search the roster for that from what I can see, so it would be great if you could do that.

[2020-02-01 23:20] amueller opened #2543 "Student can't see which identifier they are linked to"
**Describe the bug**
A student can not confirm which identifier they linked their account to.

[2020-02-01 23:23] amueller opened #2544 "Allow students to link their account to an identifier after they create a repo"
### Feature request :sparkles:
It looks like it's not possible for students to assign an identifier to their account once the repo is created.
I had several students enroll late to the class. Many of them started the homework, leading to unlinked accounts. Now I need to link each of them individually.

[2020-02-02 08:40] adebali commented on #2325
I also get the 500 internal server error message. I checked the configuration on Sakai, but I cannot figure out how to retrieve the roster. Could you tell me your solution? @merliseclyde

[2020-02-03 18:37] waqarsaleem opened #2545 "New Assignment Creation Page Does not Work"
**Describe the bug**
The new assignment creation page, see below, has lost the following functionality
- detect repository names from GitHub
- allow custom prefix
<img width="1436" alt="image" src="https://user-images.githubusercontent.com/13131021/73680149-91706380-46dd-11ea-8940-a7226f5354d1.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Create Individual Assignment
2. Click o

[2020-02-03 18:43] spinecone commented on #2545
Hi @waqarsaleem , I'm taking a look at these issues now. Have you been able to create any assignments despite the issues with the starter code and the custom prefix?

[2020-02-03 18:44] BenEmdon opened #2546 "Update Maintainers List"
### Feature request :sparkles:
I think it's about time we update this outdated list of maintainers on the README.md:

Maybe adding yourselves? CC: @education/classroom-reviewers

[2020-02-03 18:56] waqarsaleem commented on #2545
This is the first time I am seeing and using this page. I think an assignment did get created but that was with minimal settings for testing when regular creation failed. Its settings need to be changed, but I keep encountering the same issues when I try to edit it.

[2020-02-03 18:58] waqarsaleem commented on #2545
In case you need to check it, this is the assignment page,
https://classroom.github.com/classrooms/49143948-cs-113-discrete-mathematics-spring-2020/assignments/cs113-sp20-hw2

[2020-02-03 19:00] waqarsaleem commented on #2545
Actually, I had not paid attention to the URL until I copied it here just now. The URL contains the custom prefix I want. The deadline was not set when creating the assignment but I think the source repository was. I will go ahead and share the invite link for now and will enter the deadline when the issues are resolved.

[2020-02-03 19:04] waqarsaleem commented on #2545
You will notice in the first screenshot above that the space for the prefix is shaded. That is the default behavior when I edit the created assignment. It gets populated with the default name when I click in the Assignment Title box. I would expect it to be populated with the stored custom prefix. The repository I entered for the started code is remembered but creating after setting the deadline e

[2020-02-03 19:54] amueller opened #2547 "Allow searching roster"
Right now the roster has no search function. So if I want to unlink a student, I have to do binary search over all the pages to find their identifier.

[2020-02-03 19:59] spinecone commented on #2545
We've just deployed a revert to the changes on the assignment form and it should be working now. Let us know if you experience any other issues.

[2020-02-03 20:50] melvidoni commented on #1592
I'm also having this issue. Unchecking doesn't work, and the link is still shareable.

[2020-02-03 21:02] melvidoni opened #2548 ""Enable assignment invitation URL" not working"
I have an organisation with multiple classrooms. I created all the private repos on the organisation, and then an assignment on the classroom.

After creating the assignment I unchecked the "Enable assignment invitation URL". Shared it with a test student, and they still can accept the repository.

Is there any fix for this?

**Expected behaviour**
Students should _not_ be able to accept the assig

[2020-02-03 21:49] d12 commented on #2548
@melvidoni The students will be shown the screen to accept the assignment, but if they click the green button, it will show an error saying that invitations are currently disabled. I just tried it out and it seems to still perform like that.

A feature request to say the invitations are disabled on the initial page makes sense to me though :+1:

[2020-02-03 22:00] melvidoni commented on #2548
@d12 Thank you very much! It does work like that, though it is highly unusual to have the disabled notification popping up later.

I do second that feature request!

[2020-02-04 14:54] #2546 closed

[2020-02-04 15:22] THSCS commented on #2537
Came here to post about the same thing. Seeing it randomly switch between linking to the repo and showing not available when I refresh.

And I've checked that all the repositories exist and both I (teacher) and the students have access.

[2020-02-05 04:43] d12 commented on #2325
cc @andrewbredow

[2020-02-05 04:45] d12 commented on #2544
Students who did not link will be prompted again when they go to accept a second assignment. It would be nice to have a way for students to re-do the linking process without needing to accept a second assignment though :)

[2020-02-05 04:47] d12 commented on #2542
@amueller This is an interesting edge case we hadn't thought of, thanks for letting us know! We'll see what we can do here.

The identifier your student matched to was `ipm2111`.

[2020-02-05 15:15] amueller commented on #2544
Thanks. That is also not obvious ;)

[2020-02-05 15:16] amueller commented on #2542
This edgecase happened about 5 times in my class of 225 students ;)

[2020-02-05 15:27] amueller opened #2549 "Pagination in unlinked users goes to "All students""
Clicking on page two on 'unlinked GitHub accounts' in the roster lands on the "All students" page (on the first page):
https://classroom.github.com/classrooms/60368672-appliedml2020-classroom-1/roster?unlinked_users_page=2

Clicking on "unlinked GitHub accounts" again goes to the desired page (page 2 of unlinked users), but this is somewhat confusing.

[2020-02-05 15:29] amueller opened #2550 "Class roster pagination really slow"
### Feature request :sparkles:

With 225 students, paginating through the class roster takes about 5s-10s per page load. Given what I saw in #2549 it looks like maybe all the students are sent to the page instead of only those that need to be shown?
Either way, any optimization of the load-time would be great.

[2020-02-05 17:12] amueller commented on #2542
It's happening more and more times, and together with the students not being able to figure out which identifier they are linked to, it's pretty tricky to fix, as I can's search for their github user accounts.

[2020-02-06 16:04] alex-s-hong opened #2551 "Username is not updated for github education and got resource error message."
**Describe the bug**
When I try to join/create a group on github classroom I got on error as
'Resource could not be found on github.com'
When I click my profile from the page I got 404 error message with my previous username used on URL.

It seems github classroom still uses my previous username and did not update to the new one.
Would you fix it right away so that I can start my assignment as soo

[2020-02-06 17:26] numerator opened #2552 "starter code import is stuck/taking forever"
**Describe the bug**
We have created a classroom at https://classroom.github.com/classrooms/59929502-507-w20 and one assignment. We are testing the student import functionality and it is stuck and/or taking forever to import the starter code. The starter code is just two files, both of which are very small.

I see that this issue has been opened and declared resolved several times in the past, so

[2020-02-06 17:27] numerator commented on #2552
It finally worked for tsuyoshikano after about 20 minutes. Still not working for me. We are hoping to release  this assignment to 140 students later today so would like to know if this is going to  be an issue for all of them.

[2020-02-06 18:03] ZhenyuLiu46 commented on #2508
I have the same problem. I had to change back to my previous name and that solves the problem.

[2020-02-06 21:18] lbang-hmc commented on #2539
It is happening again. With my new assignment for Homework-03 on my github classroom, when I click the box, I just get a spinning wheel forever.

[2020-02-06 21:54] lbang-hmc commented on #2539
Here is a video of the error happening

https://www.cs.hmc.edu/~bang/ghcr-error.mp4

[2020-02-07 00:10] stephaniegiang commented on #2551
Hey @alex-s-hong  👋
So sorry about this inconvenience. Could you try again? It should be fixed now.

[2020-02-07 00:25] stephaniegiang commented on #2552
Hello 👋
What kind of starter code importer are you using? Template repos or source code? We recommend template repos as it is faster and more reliable than source code.

Here is a more in-depth page for helping you set that up: https://classroom.github.com/help/using-template-repos-for-assignments

[2020-02-07 01:44] alex-s-hong commented on #2551
It has been fixed!
Thank you!

[2020-02-07 03:43] numerator commented on #2552
Not helpful. I tried the template approach last semester and it didn't
work. I had to delay an assignment. Don't have time to risk that again. The
old way used to work and it should still work.

On Thu, Feb 6, 2020 at 7:25 PM Stephanie Giang <notifications@github.com>
wrote:

--

||\\//|| \\//\\// ||\\||
| Mark W. Newman
| Professor
| School of Information & Department of EECS
| University of Mich

[2020-02-07 03:54] d12 commented on #2552
@numerator Template repositories are the recommended way to go. They're much more efficient and less error-prone than the older method which we're looking at deprecating. The doc Stephanie linked will show how to use them. You said they don't work, do you have specifics?

Another team is responsible for the older import functionality, I've reached out to them to see what's going on. We'll update h

[2020-02-07 16:51] #2551 closed

[2020-02-07 19:03] stephaniegiang commented on #2510
Hi @lizfischer 👋
To just get a better understanding of the issue, could I ask about where your Canvas is hosted. Is it self hosted or on Canvas' servers.

[2020-02-07 19:16] erikmd opened #2553 "[group-assignment] 1 maintainer of GH org randomly added to created teams"
**Describe the bug**
During the automated creation of GitHub-classroom repositories for group assignments, one teacher (maintainer) is randomly added to each created GitHub team.

Cc @jochy FYI

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/classrooms
2. Click on an existing classroom within a GitHub organization (say, `https://github.com/GHOrgName`)
3. De

[2020-02-08 00:22] numerator commented on #2552
Ok I’ll give the templates a try again. If I have troubles I will document
them and open a new issue. The import seems to be working but VERY slowly
so we’re ok for now.

On Thu, Feb 6, 2020 at 10:54 PM Nathaniel Woodthorpe <
notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-02-08 10:29] ilyasELBANI opened #2554 "[BUG] Cannot create/join a github classroom repository after changing account username"
**Describe the bug**
If you have changed your username in the past, you can't join a github classroom repository repo and/or create a new one

**To Reproduce**
Steps to reproduce the behavior:
1. change your github username
2. join/create a new repository in a github classrom

**Expected behavior**
User is able to create/join the new repository

**Temporary solution for users facing the same probl

[2020-02-08 13:19] d12 commented on #2554
Could you send me any user logins being affected? I'll sort it out on our
end while we're working on a long term fix :)

On Sat, Feb 8, 2020, 2:29 AM Ilyas EL BANI <notifications@github.com> wrote:

[2020-02-08 15:32] ilyasELBANI commented on #2554
We used the temporary solution I posted, so no no user is affected right now! Thanks!

[2020-02-08 18:28] #2554 closed

[2020-02-08 19:17] ahanmal opened #2555 "Unable To Disable Invitations For Group Assignments"
I am unable to disable invitations for group assignments. Toggling the checkbox results in the loading indicator loading indefinitely. Looking at the XHR call, it appeared that the `toggle_invitations` endpoint was returning a 404. Looking closely at the request URL and the page URL, it appears that the page was hitting `.../assignments/ps7/toggle_invitations` instead of `.../group-assignments/ps7

[2020-02-08 19:25] d12 commented on #2555
Thanks for the report, and nice debugging!! We've been a little tight on
engineering lately and haven't gotten to dig into this yet, but this looks
simple to fix. I'll update here when we've pushed something up to
production.

On Sat, Feb 8, 2020, 11:17 AM Ahan Malhotra <notifications@github.com>
wrote:

[2020-02-08 19:33] ahanmal commented on #2555
Thanks!

[2020-02-08 21:16] d12 commented on #2539
@lbang-hmc This is fixed! Sorry for the delay and the issues, and thanks for the report!

[2020-02-08 21:16] #2539 closed

[2020-02-08 21:16] d12 commented on #2555
@ahanmal All fixed up! Thanks for the report :)

[2020-02-08 21:16] #2555 closed

[2020-02-08 21:32] lbang-hmc commented on #2539
Great! Thanks so much! :)

[2020-02-09 20:12] lizfischer commented on #2510
I believe it's on Canvas' servers, but my only basis for that guess is the URL: https://utexas.instructure.com/

[2020-02-09 22:44] rscherl opened #2556 "I am Using GitHub Classroom and can't access the student's code."
On the left side I see their username/icon and on the right "Repository". If I click on Repository I get page not found. If I click on their username/icon I find other projects, but not the one for this class.

[2020-02-10 00:42] sunnypatel165 commented on #1353
We saw this as part of one of our classes too - https://classroom.github.com/classrooms/39249536-web-technologies-spring-2020/assignments/homework3?query=xudo&sort_by=Student%20identifier

[2020-02-10 16:55] d12 commented on #1353
:wave: @sunnypatel165 , did your student make any commits before the deadline? I see the deadline was 5 days ago, "Not submitted" either means no commits were made, or all were after the deadline. You can check by checking the GitHub repository commit history.

[2020-02-10 19:27] d12 commented on #2556
Hi @rscherl , thanks for the report. I'll need a little more info to dig into this, could you post the repo URL you're getting "page not found" for?

[2020-02-10 20:58] d12 commented on #2508
@ZhenyuLiu46 :wave:! If you'd like to change your GitHub login, I can fix up your Classroom account for you. After changing, just reach out to me here and I'll sort it out ASAP :)

[2020-02-10 23:41] sunnypatel165 commented on #1353
Yes, the commits were 13 days ago.

[2020-02-11 14:27] PGijsbers opened #2557 "Allow a specific account under which new student assignment repositories should be created."
**Proposed feature:**
Allow a specific account under which new student assignment repositories should be created.

**Background**
I'm a TA at a course taught using Github Classroom. The classroom/course is owned by a Github organisation and I am one of four admins. I noticed that as students started working on the assignments, their repositories are created in my name (and that of other admins). O

[2020-02-11 15:34] d12 commented on #1353
Great, it sounds like the feature is working as intended then :+1:

[2020-02-11 15:35] THSCS commented on #2537
Noticed today that this also seems to be affecting Classroom Assistant, or at least there's a similar issue. Tried to download a group of submissions and several listed "Clone Error: an error has occurred"

[2020-02-11 15:37] sunnypatel165 commented on #1353
@d12 - Sorry, How is this working as expected? The deadline was 5 days ago and the commits were 13 days ago.

So they DID submit before the deadline but still marked as not submitted. I think there is a bug.

[2020-02-11 15:41] d12 commented on #1353
Ah I see! I misread your comment, oops. I'll ping the engineering team to peek at this soon.

[2020-02-11 17:52] THSCS opened #2558 "Server error creating assignment"
**Describe the bug**
500 server error creating an assignment

**To Reproduce**
Steps to reproduce the behavior:
1. New individual assignment
2. Set starter code to use a non-template repo, but select that it should be imported from template
3. After submit it redirects back to assignment entry page with an error message that starter code is not a template
4. Switch tabs and change source repo to t

[2020-02-11 17:55] THSCS opened #2559 "Not allowing private repos"
**Describe the bug**
Trying to create new assignments, it's been sporadically not letting me use private repos for students.

If I go back and try again it usually will let me.

This seems like a fairly recent change. Never noticed this happening up until a few weeks ago.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on new assignment
2. Private repos not available, see screen shot.

[2020-02-11 17:55] jeffrafter commented on #2558
Hi @THSCS this definitely looks like a bug in Classroom. We're digging into it now. Thanks for the report!

[2020-02-11 19:02] bwiedermann commented on #2558
I think I am seeing related errors (see info below). Students were able to last successfully use classroom on Feb. 11, 12:15am PST. The first student reported an error on Feb 11, 10:11am PST.

For a group assignment I already created, students have the following experience:

1.  Visit the URL for the assignment invitation.
2. Type a team name in box with the label "OR Create a new team"
3. Click C

[2020-02-11 20:23] jeffrafter commented on #2559
@THSCS I think this is related to an ongoing incident on github.com. This should be resolved shortly.

[2020-02-12 02:56] rscherl commented on #2556
Thanks for the response, but shortly after posting this I found that I was able to click on Repository and access the code for all of those in the class except for those few who didn't do something correctly. So, for whatever reason it is ok, now.

[2020-02-13 21:07] d12 commented on #2556
Strange. Please re-open if it happens again and we'll look into it!

[2020-02-13 21:07] #2556 closed

[2020-02-14 15:36] d12 commented on #2559
This should be resolved.

[2020-02-14 15:36] #2559 closed

[2020-02-14 15:36] d12 commented on #2558
:wave:, is this error still happening? We believe it might have been caused by a GitHub.com API issue which is now fixed.

[2020-02-14 15:48] THSCS commented on #2558
Yes, and it seems worse.

I created an empty repo that wasn't set as a template and tried to use it as starter code. Instead of giving me the error that the source had to be a template it went directly to a 500 error. I've never tried to use an empty source as a template, so maybe it's always happened. Not that it really makes sense to use an empty template anyway.

With a repo with just a readme.

[2020-02-14 16:21] d12 commented on #2558
@THSCS Which Classroom are you seeing this in? I'm digging now.

[2020-02-14 16:32] THSCS commented on #2558
Which of my classrooms?

/classrooms/9141231-data-structures-2019-2020

[2020-02-14 16:41] d12 commented on #2558
Great, is there any other info you can give us that might help debug or reproduce? We haven't been able to replicate quite yet.

[2020-02-14 16:45] THSCS commented on #2558
The two repos that I tested with are

https://github.com/THS-CompSci/dummy-repo
It's empty and threw a 500 immediately trying to create an assignment.

https://github.com/THS-CompSci/dummy-with-readme
Tried to create an assignment using this as a template, but didn't have it set as a template. It came back with an error message that the source repo wasn't a template. I opened a new tab and changed

[2020-02-14 18:56] d12 commented on #2558
@THSCS We've figured out the issue and I've manually fixed up your account for now. We're working on a small fix that'll prevent this from happening in the future.

There were 2 admins on your Classroom that did not have owner access to the organization anymore. GitHub Classroom requires all admins have owner access, and does weird things when that's not the case. Normally we detect when a change

[2020-02-14 18:56] #2558 closed

[2020-02-17 09:56] maciejjankowski opened #2561 "unable to update the assignments starter code repository link"
unable to update the assignments starter code repository link, getting

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://classroom.github.com/classrooms/43291578-codecool-global/group-assignments/tic-tac-toe-python/settings
2. Click on 'Add starter code' (it will show 'repository deleted')
3. Paste: 'CodecoolBase/tic-tac-toe'
4. Click 'Update assignment'
5. See 500 error

**Expec

[2020-02-18 13:46] THSCS commented on #2537
Any chance this might be related to #2558 and education/classroom-assistant#166 ?

Both of those seemed to clear up after your tweak to the data structures class I listed in #2558 , but were still showing up on my other classes. I went it to the other classes and removed all admins except me and now they appear to be working fine. No more "Repository not Found" buttons and downloading is working i

[2020-02-18 17:03] wjakob commented on #1156
@tarebyte: I was trying to find out how to disable all of these notifications and only found this closed thread. I don't think this issue should have been closed, it is a very real problem.

[2020-02-18 22:30] gstew5 commented on #2423
Hi, all. Is there a status update on this bug? I've also encountered it (I got the same 404 while doing a demo in class :-)).

[2020-02-19 21:25] dpmcsuss commented on #1590
I've been having a lot of students encounter this issue when clicking classroom assignment links. I do have a fairly large class (75) and they might all be clicking the link at once. Is there anything you would recommend?

[2020-02-20 16:37] alqahtanisarra opened #2562 "Can't access my students' repos anymore"
I'm having issues to access my students repos. I used to be able to access them but now all links give me 404 errors. Any idea how to fix this issue?

Thanks

[2020-02-20 17:26] stephaniegiang commented on #2562
Hi @alqahtanisarra 👋
Could I get the name of the classroom so I can take a look?

[2020-02-20 18:49] alqahtanisarra commented on #2562
Here it is (private though):https://classroom.github.com/classrooms/59588328-csc112-spring2020alqahtani-classroom

[2020-02-20 20:32] stephaniegiang commented on #2562
Thank you! That helped a lot.

Have you recently changed your GitHub username?

[2020-02-20 23:54] daturkel commented on #1097
I experienced this issue today, so it appears to still be around.

[2020-02-21 01:26] sarraalqahtani commented on #2562
Thank you! that was the problem and it is fixed now.

[2020-02-21 14:02] stephaniegiang commented on #2562
Awesome!

[2020-02-21 15:06] #2562 closed

[2020-02-21 15:55] THSCS commented on #2529
Not sure that it's the cause for everybody, but after some troubleshooting on #2558 it turned out that I had teachers assigned to the classroom that were no longer owners in the organization. Removing those two teacher accounts from my class seems to have fixed this issue as well, and pretty much every glitch that I've come across in Classroom.

[2020-02-24 12:19] pdvrieze commented on #2453
This is a feature I would also really want. As a workaround it is possible to have a solution repo (with all code) and a problem repo (with only the base code) where you use a different remote to synchronize only the problem branch to the problem repo.

[2020-02-24 18:35] tamberg opened #2563 "Remove Ads"
**Describe the bug**
An advertisement for "Student Developer Pack" is shown during accepting an assignment.

**To Reproduce**
Click classroom link of an assignment.

**Expected behavior**
Let students use the system without displaying ads.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1552" alt="Screenshot 2020-02-24 at 19 31 30" src="https://user-images

[2020-02-24 18:52] d12 commented on #2563
:wave: Does your school have a specific definition of what an "ad" is? We've never considered this an ad, it's part of our interface showcasing other functionality that we offer. It's not paid advertisement in any way. GitHub also has similar dialogs in other places on the website, e.g. on https://github.com.

<img width="346" alt="Screen Shot 2020-02-24 at 1 50 04 PM" src="https://user-images.git

[2020-02-24 19:10] jackbicknell14 opened #2564 "Unable to connect to GitHub enterprise"
Hi all,

I'm trying to connect to our GitHub Enterprise account and having issues. I have followed all instructions to set up and keep receiving this message.

![image](https://user-images.githubusercontent.com/36764552/75182816-12e56f80-5739-11ea-9e2e-bbe671160420.png)

I have taken the `NON_STAFF_GITHUB_ADMIN_IDS` as the `id` from `api.github.com/users/mypersonalaccount`.

I have tried provision

[2020-02-25 16:12] BenEmdon commented on #1590
Looks like this has bubbled up again
CC: @education/classroom

[2020-02-25 21:26] lizfischer opened #2566 "Assignments with starter code show as "Submitted" even when students have not pushed changes."
**Describe the bug**
When assignments have starter code from which student repositories are created, assignments are marked as "Submitted" whether or not the student has pushed any of their own work. Because Classroom interprets the last commit before the deadline as a submission, the initial commit that populates the repositories with the starter code is counted.

**To Reproduce**
Create an assig

[2020-02-26 14:51] sgzwach opened #2567 "Editing Autograding Test Case Results in Lost Newlines"
**Describe the bug**
If newlines are required as part of a test case in autograding, they are lost if a test case is edited. It seems they're not loaded back into the text area.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new assignment with autograding enabled.
2. Add a generic Input/Output test case that includes newlines in the Expected Output text area.
3. Click Create Assig

[2020-02-26 21:08] d12 commented on #2567
Thanks! Added to our TODO to fix :)

[2020-02-26 21:35] boyland opened #2568 "Repository creation hangs even with templates"
**Describe the bug**
When students follow the link, it starts to create a repository but hangs.  When the instructor goes to GitHub to check, the repository has a message that GitHub is working on setting up the repo and that it will just take a bit, but hours later, no progress is made.  This is happening sporadically.  Two of 70 students have reported problems to me.

**To Reproduce**
Following

[2020-02-26 21:53] d12 commented on #2568
Hey @boyland , this looks like it may have been related to the GitHub incident yesterday. We'll see what we can do to better handle outages like this next time. Please let us know if it happens again and we'll dig in more!

[2020-02-26 21:53] #2568 closed

[2020-02-26 21:54] boyland commented on #2568
Thanks.  I looked to see if there was a posted incident.  Let me know where I can find these.

[2020-02-26 21:56] d12 commented on #2568
@boyland The best place to find those would be here: https://www.githubstatus.com/

[2020-02-28 01:30] stevecassidy commented on #2519
Second this.  This frustration almost makes it impossible to use Classroom with large numbers of students. I have 100 right now and trying to link them up is so frustrating.

The interface would be fine if it were responsive. I understand that there are queries flying around to github to get the list but basically it's managing the pairing between two lists of identifiers. These could be cached lo

[2020-02-28 01:36] stevecassidy commented on #2542
I also see this often. I raised it last year in #2455.  Once a student does this it means that the real owner of the identifier can't select it, compounding the problem. I then have to use the awful roster management interface to try to detangle the associations.

[2020-02-28 17:21] amueller commented on #2542
Indeed, and I think it's different from #377 which #2455 has been rolled into.

Generally I refrain from calling any OSS project awful unless I wrote it myself, though ;)

Have you experience #2550 by the way? Not sure how big your class is.

[2020-02-28 18:17] amueller commented on #2519
Also see #2542.

My main suggestion was to change the current setup to a two-step procedure where the students have to click "ok" or somehow confirm their selection. That will make it much less likely for them to make an accidental selection, I think.

[2020-02-28 19:36] bsiever commented on #2325
For what it's worth, when I go to the roster page and open the Inspector I'm seeing messages like:

`[DOM] Found 3217 elements with non-unique id #roster_entry_id: (More info: ...)`

It seems like this should be an easy fix.  (The performance issues are still there though)

[2020-02-28 21:20] d12 commented on #2519
@amueller @stevecassidy :wave: Thanks for reaching out and sharing your feedback. We're looking into completely redoing the roster system we agree it's not ideal at all right now. While we work on planning how that'll work, @amueller we've shipped your suggestion to have a confirm prompt when selecting a roster entry. We hope this helps reduce some of the pain you've been dealing with.

[2020-02-28 21:22] d12 commented on #2542
cc https://github.com/education/classroom/issues/2519#issuecomment-592734122

Posting here as well for folks discovering this issue, we've shipped a small improvement to this interface, it now asks students to verify they clicked the correct roster entry before continuing. Thank you both for your feedback, we really appreciate it. We're working on a new system some time soon!

[2020-02-28 21:27] amueller commented on #2519
Awesome, that's amazing @d12! Many thanks!

[2020-02-28 22:33] hroncok opened #2569 "How to disable the Feedback PR?"
**Describe the bug**
Today, when I've created a new assignment in @3DprintFIT the following things happen that did not previously happen:

1. two commits to master from a random member of our org happen in the repo, both with the "Setting up GitHub Classroom Feedback" commit message. First creates `.github/.keep`, the other one seems empty.
2. a feedback branch with only the first commit from the

[2020-02-28 22:43] d12 commented on #2569
@hroncok Hey! Sorry about that, we're working on a new feature and I accidentally turned it on to the world. I've fixed that up, you shouldn't get these PRs again until we launch.

Out of curiosity, how does the PR interfere with your workflow?

[2020-02-28 22:51] hroncok commented on #2569
In this case, we run Jenkins CI for every commit and open issues in the repo. Now students get unrelated issues. Also, they receive feedback in those automatic issues, not in an artificial PR.

(I am not saying we cannot adapt or use this to some benefit, but not so suddenly.)

[2020-02-28 23:07] hroncok commented on #2569
FTR this is now indeed not happening any more.

Good luck with the launch :shipit:

[2020-02-28 23:07] #2569 closed

[2020-02-28 23:07] hroncok commented on #2569
And thanks for a super fast response.

[2020-02-28 23:09] d12 commented on #2569
Thanks for the info, we'll keep your workflow in mind :)

[2020-02-29 15:27] wschentw opened #2570 "can't delete classroom"
**Describe the bug**
the class room can't delete
I had type the classroom name, but the cancel button still no active

![image](https://user-images.githubusercontent.com/60765285/75610292-f7200600-5b4a-11ea-8d7a-7e45db61a92f.png)

[2020-02-29 22:29] mstavares opened #2571 "Not able to delete classrom"
Hi,

I don't know why but I'm not being able to delete this classroom. Can you please help me?

![ewfrarfwate4wfre](https://user-images.githubusercontent.com/9629936/75615996-f5eadb00-5b42-11ea-92a0-a08597ac0154.png)

Thank you!

[2020-03-01 07:21] metinsenturk commented on #2570
I have the same issue. Mine might be related to organization renaming.
I've recently renamed my organization, and I had some demo classroom's that I made with my old organization name.

Both created when my organization name was `spu-bigdataanalytics`.

spu-bigdataanalytics-classroom-2
spu-bigdataanalytics-classroom-1

I renamed the organization to `spu-bigdataanalytics-193`.

Now I can't delete t

[2020-03-01 23:08] stevecassidy commented on #2497
Thanks very much for this which will hopefully address the main frustrations in Classroom.  Some comments:

1. Making a change to an entry should update the entry and maintain the state of the filters and pagination - current behaviour flips back to the first page of the list.  Support the workflow of working through the list from start to finish making updates as needed.  Test on larger classes -

[2020-03-02 16:22] stephaniegiang commented on #2571
Hi @mstavares 👋
A fix just went in for this, so you should be able to delete a classroom.

[2020-03-02 16:23] stephaniegiang commented on #2570
Hi @wschentw and @metinsenturk  👋
A fix just went in for this, so you should be able to delete a classroom.

[2020-03-02 16:24] mstavares commented on #2571
Hi @stephaniegiang

Done. Thank you so much :)

[2020-03-02 16:24] #2571 closed

[2020-03-02 16:25] #2570 closed

[2020-03-02 21:37] mbcastro opened #2572 "Add option to allow multiple users to be removed from the classroom roster"
### Feature request :sparkles:
As of today, we can only remove users from the classroom roster 1 by 1. It would be very useful to have a checkbox (or something similar) to allow multiple users to be selected/removed from the classroom roster.

[2020-03-03 17:14] d12 commented on #2497
All great suggestions @stevecassidy :) We'll do our best to address your points when we free up some engineering resources.

[2020-03-03 20:10] samldiop commented on #2350
Hello, any updates on the timeline on the move to LTI 1.3?

[2020-03-03 21:44] firasm commented on #775
Hey @BelieveC and @BenEmdon - I can see from [this PR](https://github.com/education/classroom/pull/906) that this functionality was added as a PR last year.

But is this actually working? Is there a setting somewhere that I can control this? I'd like my students to be automatically notified if I open a PR in their repo

[2020-03-04 10:48] kenpower opened #2574 "Can't find & download repos"
**Describe the bug**
Can't download repos with classroom assistant

**To Reproduce**
Steps to reproduce the behavior:
1. Open classroom assistant application (CA app)  (see note below)
1. Go to assignment page (https://classroom.github.com/classrooms/26654217-games-idad-firstyearstudents/assignments/games-idad-project-2020)
2. Click on "Download Repositories"/"Open in classsroom assistant"
3. Clas

[2020-03-04 16:18] BenEmdon commented on #775
I no longer work on this project, but it looks like the PR you are referencing was **not merged**.

I'll go ahead and notify the team who works on this project.
CC: @education/classroom

[2020-03-04 17:19] firasm commented on #775
Thanks and sorry!

[2020-03-05 17:55] brooklynO opened #2575 "Classroom home / landing "marketing" page Redesign"
We are redesigning the landing page for Classroom.github.com to reflect new features, modernize it, and get it aligned to the latest primer site design styles.

Content lives here:
https://docs.google.com/document/d/1g2NHZUDFhvEww9E33ot_d4E1Kr48av3EvIK1NhIr5Hc/edit#

Figma working file lives here:
https://www.figma.com/file/H1YZnsj3s4FmTbXf3ErOGk/Classroom-Marketing-Site?node-id=27%3A25606

[2020-03-05 18:00] brooklynO commented on #2575
Here are first drafts. Version 1 peppers the quotes throughout and Version 2 creates a little clickthrough module. My concern on that one is everything is so boxy (but the features definitely work better with the boxes). I'd like to do UI illustrations for the features and bring the page to life a bit more in the future, but those will take several days to complete so may have to happen in a futur

[2020-03-05 22:54] brooklynO commented on #2575
Yes if we could even out the quantity of text in each box that would help a lot... somewhere close to the amount in the "insight into student work" or a bit shorter would be nice.

[2020-03-06 01:53] brooklynO commented on #2575
Duplicative of classroom #72 - closing.

[2020-03-06 01:53] #2575 closed

[2020-03-07 17:21] jeffrafter opened #2576 "Ops: move classroom alerts to classroom-ops"
Move alerts to more actionable place.

[2020-03-09 07:17] MarkMensah commented on #2386
Hello, Any update on this particular Issue, Please, because I'm in the same soup.

[2020-03-09 15:20] #2576 closed

[2020-03-09 16:59] yashjahit-21705201 opened #2577 "Accessing invitation link returns a 404 error"
**Describe the bug**
Opening invitation link for a GitHub classrom returns a 404 error

**To Reproduce**
Steps to reproduce the behavior:
1. Follow invitation link
2. Login to GitHub and grant access to GitHub Classrom
3. Error appears and classroms page is empty

**Expected behavior**
Access the link without any problem

**Screenshots**
![image](https://user-images.githubusercontent.com/34451870/

[2020-03-09 17:01] jeffrafter commented on #2577
Looking into this... thanks for the report

[2020-03-09 17:19] yashjahit-21705201 commented on #2577
Just checked again, link was invalid. I will close the issue. Thanks!

[2020-03-09 17:19] #2577 closed

[2020-03-09 17:20] jeffrafter commented on #2577
@yashjahit-21705201 is there any chance that the assignment (related to the invitation) has been deleted. This is usually the only way that we would remove an invitation.

[2020-03-10 08:09] yun-kwak opened #2578 "Cannot join the team. 'Resource could not be found on github.com' appeared."
**Describe the bug**
I accepted the group assignment invitation. But I can't join a team. When I click the join button of my team, an error message('Resource could not be found on github.com') appear.

**To Reproduce**
1. Accept the group assignment invitation.
2. Click the join button of any team.
3. The error message('Resource could not be found on github.com') appears

**Expected behavior**
To

[2020-03-10 10:03] david-kishi commented on #2578
Seem this issue still exists because of a user changing their username, as seen in #2508.

@d12, would you be able to assist us with this? I'm having issues with accepting my class's assignment as well because I changed my username a few months back.

[2020-03-10 13:45] d12 commented on #2578
Looking into this now, I'll get back to you very soon!

[2020-03-10 13:48] d12 commented on #2578
@david-kishi @yun-kwak Your accounts are both fixed, sorry about that!

[2020-03-10 13:48] #2578 closed

[2020-03-10 13:50] #2563 closed

[2020-03-10 13:51] d12 commented on #2561
Hey @maciejjankowski We were having some issues a couple of weeks ago due to GitHub.com outages, is this working for you now?

[2020-03-11 17:30] arademaker opened #2579 "sync with roster with the classroom.google.com"
**Describe the bug**

Some students from the classroom.google.com are still unlinked to github account. How the link is computed? How to solve these cases?

**To Reproduce**

Steps to reproduce the behavior:

1. I imported students from LMS (I choose the classroom.google.com),.
2. Imported the students. In the list, we have 4 cases of students not linked.

**Expected behavior**

all students have

[2020-03-11 18:10] d12 commented on #2579
:wave: Students have the option to skip the linking process if they don't see their name which might be why some students in your roster are appearing as unlinked. You can manually link these students in the roster settings if you'd like!

[2020-03-11 18:10] #2579 closed

[2020-03-11 18:12] d12 commented on #2574
:wave @kenpower , we were having some issues the other week caused by GitHub.com outages. Are you still seeing this problem?

[2020-03-11 18:13] d12 commented on #2572
:100: agreed, we'll try to find time for this soon :)

[2020-03-11 18:13] d12 commented on #2567
Fixed!

[2020-03-11 18:13] #2567 closed

[2020-03-11 18:15] d12 commented on #2566
Hey @lizfischer , thanks for the report! We've added this to our list of things TODO, hopefully we'll fix this up soon.

[2020-03-11 18:17] d12 commented on #2564
Hi @jackbicknell14 , are you still seeing this issue? Off the top of my head, I'm not quite sure what this could be. If you're still seeing this, would you mind reaching out at education@github.com and we can work from there?

[2020-03-11 18:20] d12 commented on #2557
This is something we've been looking into solving, we 100% see the pain here. It's on our list of things todo, we're hoping to get to it fairly soon!

[2020-03-11 18:22] d12 commented on #2553
Unfortunately due to technical limitations of how GitHub Classroom is built at the moment, this has to be done. We're looking into possible ways to solve this sometime in the future though.

[2020-03-11 18:23] #2552 closed

[2020-03-11 18:24] d12 commented on #2550
We've added this to our list of issues to work through. I can't give an ETA right now, but we'd like to fix up the perf issues here sooner rather than later.

[2020-03-11 18:27] arademaker commented on #2579
When I download the rosters, some students in the classroom.goggle.com are not listed. So I am suspecting that the classroom.google.com didn't provided all the students to the github classroom.  I have 32 students in the classroom.google.com but only 30 students in the roster.

so I can't manually link these studetns in the roster settings because for some students github accounts I can't find the

[2020-03-11 18:28] d12 commented on #2549
Thanks for the report, we're looking to fix this soon!

[2020-03-11 19:20] erikmd commented on #2553
@d12 OK I see; thanks for your reply!

But beyond the fact the current behavior is not intuitive, are you sure this couldn't also trigger an issue regarding the maximum-number-of-members-per-team if one select that constraint in the group assignment?

(as I said in my initial post, I had to manually add one student in a given group as he didn't manage to join this group by the invitation link… but

[2020-03-11 20:13] d12 commented on #2553
The `maximum-number-of-members-per-team` limit doesn't look at the number of people in the GitHub.com team, it uses an internal GitHub Classroom counter, so it should be unaffected. The issue you had sounds like it may have been a transient issue, please let us know if this happens again!

[2020-03-11 21:19] d12 commented on #2579
@arademaker We've seen this bug in the past from Google, for some reason they don't send us all the students in the roster. We don't have bandwidth to work more on the Google integration at the moment, so the easiest way to get rolling with Classroom would probably be to unlink the LMS and manually add your 2 other students. Unlinking won't destroy the roster entries that were made by Google, so y

[2020-03-12 00:09] canhelp2001 opened #2580 "Students cannot import assignment"
**Describe the bug**
My students cannot import the assignment: here is the assignment link: https://classroom.github.com/a/W_5cNVSs

**To Reproduce**
just click the above link to import the assignment. It stuck at the importing page

**Expected behavior**
It stuck at the importing page

**Screenshots**
![Untitled](https://user-images.githubusercontent.com/49698747/76475094-3e708700-63d4-11ea-8bc4-

[2020-03-12 00:18] theozinner commented on #2580
I am having the same Issue. Here is the link for mine:
https://classroom.github.com/a/rkAW865U

[2020-03-12 00:19] canhelp2001 commented on #2580
I cannot import yours

[2020-03-12 00:48] ashriram opened #2581 "classroom assignment clone stalled"
**Describe the bug**
Students unable to clone classroom assignments from link.
The clone seems to simply stall at waiting.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your

[2020-03-12 01:25] jzz0060 commented on #2580
I am having the same issue. Here is the link for mine:
https://classroom.github.com/a/rkAW865U

[2020-03-12 01:29] huzzyd opened #2582 "Excessive amount of time taken for repository creation"
**Describe the bug**
The repository download is hanging - preventing me from working on course material
https://classroom.github.com/assignment-invitations/ad7ba127898723845d35c180d537c26d/setup

**To Reproduce**
Steps to reproduce the behavior:
1. Access Invite Link
2. Accept Invite
3. See error

**Expected behavior**
The repository doesn't take this long to work

**Screenshots**
If applicable, a

[2020-03-12 01:37] jeffrafter commented on #2582
Thanks for the report! Confirmed, we've found the source of the problem and are fixing now.

[2020-03-12 01:37] jeffrafter commented on #2581
Thanks for the report! Confirmed, we've found the source of the problem and are fixing now.

[2020-03-12 02:00] jeffrafter commented on #2581
This should be solved now. Thanks!

[2020-03-12 02:00] jeffrafter commented on #2582
This should be solved now, can you try again?

[2020-03-12 02:33] #2582 closed

[2020-03-12 02:33] huzzyd commented on #2582
Awesome it worked!

[2020-03-12 05:36] #2581 closed

[2020-03-12 12:05] canhelp2001 commented on #2580
It seems Github fixed this problem

[2020-03-12 12:58] d12 commented on #2580
Thanks for the report, Wwe fixed the issue shortly after your report!

[2020-03-12 12:58] #2580 closed

[2020-03-12 15:08] arademaker commented on #2579
I didn't see any option for `unlink` a roster. I can only see `delete roster`.

[2020-03-12 15:10] arademaker commented on #2579
Ops! I found it in the settings. In the end, what I will be missing once I do't have the Google Classroom LMS linked to the organization?

[2020-03-12 15:12] d12 commented on #2579
When you unsync, your Classroom roster won't be able to pull changes from your Google Classroom roster. That's the only difference :)