[2019-04-28 07:57] DavidGriswoldTeacher commented on #1805
I was able to solve this by using `git config --system core.longpaths true` for anybody else out there who might run into this. Will now experiment with using a docker image to get this into development.

[2019-05-03 13:25] #1805 closed

[2019-05-03 18:02] belgort-clark opened #1819 "Classroom assignment page shows incorrectly"
**Describe the bug**
When a student clicks on an assignment URL they are brought to the page which shows extraneous HTML at the top

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a classroom assignment page
2. See [this error](https://www.dropbox.com/s/imi1j4zlds3e886/Screenshot%202019-05-03%2011.00.10.png?dl=0)

**Expected behavior**
The additional buggy HTML should be removed

**Scr

[2019-05-04 17:59] macaines commented on #1636
Still having this problem......starter code progress bar gets nearly to the end and then it retracts to the beginning and tries again endlessly. Firefox 66.0.3

[2019-05-04 19:52] johndbritton commented on #1636
@macaines this is likely specific to your account, please email `education@github.com` with reference to this issue.

They probably need to configure hooks on your account.

[2019-05-06 01:46] profgsindel opened #1821 "After being approved for private repos, I get "have reached the limit of 0""
**Describe the bug**
After being approved for private repos, I get "have reached the limit of 0"

**To Reproduce**
Steps to reproduce the behavior:
Create an assignment
Click "Private Repos"
Create...

Error: "have reached the limit of 0"

**Expected behavior**
Expected I could grant repos. Have 5 students 8 weeks, several assignments... 500 or so.

[2019-05-06 14:17] mozzadrella commented on #1821
Hi,

You were approved for an individual account, but you'll need to get a Team Plan Discount for Classroom.

You still need to apply separately for private repositories for any GitHub organization you are using for academic purposes:

https://education.github.com/discount_requests/new

After the approval is processed, verified faculty can now easily upgrade any GitHub organization being used for

[2019-05-06 14:17] #1821 closed

[2019-05-08 02:01] profumang opened #1823 "publish all classroom assignment repositories as one public url"
### Feature request :sparkles:

i want to give my classroom assignment repositories access to all other students after completion. so basically i need one public url where without password they can access all the data.

[2019-05-09 02:00] ramlaxman commented on #721
Kindly reopen this issue as it is helpful for all trainers and teachers across the world to use both classrooms.

[2019-05-09 10:59] d12 commented on #721
I'm unsure of the status on this. @BenEmdon @srinjoym or @mozzadrella may know more.

[2019-05-09 16:24] srinjoym commented on #721
Hi @ramlaxman 👋

We're actively working on integration with Google Classroom in #1791. I'll update this thread when we're getting ready to release the feature to everyone.

[2019-05-10 14:19] RonaldAJ opened #1824 "Random behavior regarding Repository not found message."
**Describe the bug**
When I open the page which refers to submitted work, whether or not the students work is found changes on reloading the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://classroom.github.com/classrooms/<organization>/assignments/<assignment name>`
2. Check whose students repo's have a 'View repository' button and which have a 'Repository not found' mes

[2019-05-10 17:36] AmeliaMN commented on #1592
Not sure the stale bot made the right call here! Do stale issues eventually get addressed?

[2019-05-11 11:20] DavidGriswoldTeacher opened #1825 "Improved Grading and Commenting Platform via PRs"
### Feature request :sparkles:
#### The Problem
Right now, the described best practice for commenting and reviewing student submissions is on a commit by commit basis.

However, if students make several commits over he course of the assignment (a good practice!) then it can be hard to find individual changes in the commit view to comment on them.

#### The solution
@alexch Proposes a workflow at [

[2019-05-11 11:46] DavidGriswoldTeacher commented on #1825
I will work on this feature IF there is any confirmation that it might someday be accepted into the repo. I would like to improve my ruby on rails skills anyway, now that I have a working dev environment on my windows machine thanks to #1818

If it will not be accepted I will instead work on a script to do it for myself.

[2019-05-11 11:47] Siddharth6 commented on #1825
I will work on this feature IF there is any confirmation that it might someday be accepted into the repo.
thankyou.

[2019-05-11 22:25] faloi commented on #1825
Hi @DavidGriswoldTeacher!

I wrote a small CLI app on Ruby that does something very similar to what is being discussed here, but designed to be executed after an assignment deadline. Basically, it creates two branches: one pointing to the "template" commit and another one pointing to the last commit of the student.

Doc and part of the code is in Spanish, but you can reach me if you are interested

[2019-05-13 07:13] priyank-intellial opened #1826 "Accept assignment button is missing"
I have created an assignment and there is an invitation link for the students. I have used that link for my different account(Consider as a student) and strange there is no accept button to accept that assignment.

![image](https://user-images.githubusercontent.com/40655077/57602361-8ccab480-757c-11e9-94ef-f813c21b0d5b.png)

[2019-05-13 09:23] DavidGriswoldTeacher commented on #1825
Cool! I will look at it. How does it keep track of what commit was the
template commit? Do you just pass it in the original template repository?
Or search backward for the last commit by a specific user (the teacher)?
Does it break if you make changes to the template after some students have
created assignments?

I played with this for a few hours but didn't really get anywhere. I
finally figured

[2019-05-13 11:37] faloi commented on #1825
You have to manually provide the SHA of the template commit. I thought about automatically retrieving it from the template repository but it's not that easy: we are a lot of teachers using the same exercises, so the template repo could change at any moment. Perhaps I will work on that in a near future.

[2019-05-13 12:13] DavidGriswoldTeacher commented on #1825
No, I think your system is fine. The advantage of rolling this feature into
classroom itself is we could simply add the ID to the database at
assignment copying, so it's easy to keep track of without any fragile
assumptions.

The more I think about it, the more I like the idea of making the comment
PR process be user initiated at grading time (or any time after copying) so
I don't need to worry ab

[2019-05-13 13:18] faloi commented on #1825
classroom itself is we could simply add the ID to the database at
assignment copying, so it's easy to keep track of without any fragile
assumptions.

There are a lot of advantages of including this into Classroom. I did it by myself because I needed it quickly.

PR process be user initiated at grading time (or any time after copying) so
I don't need to worry about webhooks etc.

Sounds good. Perha

[2019-05-13 21:57] krispringle opened #1828 "slow import of starter code"
**Describe the bug**
when importing the starter code it hangs on the panel not fully reaching completion.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Add

[2019-05-14 15:02] xuyangit opened #1829 "Don't find roster management using my local server"
**Describe the bug**
I have cloned the repo and started the server in my local machine. However, it seems I cannot find the roster management page and button. Besides, I cannot choose to manage my roster when I create the classroom. Is there any option to turn this on? Or it's not supported using the master branch. Thanks!

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the master repo

[2019-05-14 15:05] d12 commented on #1829
@xuyangit Wow, seems like this feature is still under a flipper feature. I'll get that sorted in a bit. For now, you can run this in your local rails console:

[code]

[2019-05-14 16:23] jbschrades commented on #1271
We are seeing this issue with some (not all) of our students.  We do not have 2FA enabled at the org level.

[2019-05-14 16:29] BenEmdon commented on #1828
@krispringle please fill in the details of the bug template before reopening this issue. The title alone isn't enough information for us to work with.

[2019-05-14 16:29] #1828 closed

[2019-05-14 16:40] BenEmdon commented on #1826
For group assignments there is no "Accept Assignment" button. Instead the student/user needs to create or join a group, which in turn would create an assignment for the group.

Im going to go ahead and close this. If you feel that the user experience needs some tweaking I'd be happy to hear your suggestions 😄

[2019-05-14 16:40] #1826 closed

[2019-05-14 17:36] BenEmdon opened #1830 "Site navigation CSS broken for assignment acceptance"
**Describe the bug**
The site navigation CSS is looking a little janky on the assignment acceptance page:

![](https://user-images.githubusercontent.com/11095731/57719077-ec909080-764c-11e9-9b3d-3025c8e039a6.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to accept an assignment (eg. https://classroom.github.com/a/vggUMIyj)

**Expected behaviour**
Should look like this:

![](https://

[2019-05-14 19:32] EricPickup commented on #1819
@BenEmdon this looks like a duplicate of #1830 which will be fixed in #1831.

[2019-05-15 00:22] BenEmdon commented on #1819
Closing this duplicate, which we are now tracking in #1830

[2019-05-15 00:22] #1819 closed

[2019-05-15 00:54] #1830 closed

[2019-05-15 05:46] xuyangit1 commented on #1829
@d12 ,Tks for your help!

[2019-05-15 10:02] talbronfer opened #1832 "Starter code imports stuck again"
**Describe the bug**
When creating a new assignment repo, the code import part is stuck for our students for 20 minutes and more.

This is not the first time it happens and puts us in a difficult position with our customers. Can anyone urgently indicate if this is a known issue and if so, why does it happen and when is it expected to be resolved?

[2019-05-15 14:38] srinjoym commented on #1829
@d12 I was planning on removing the `student_identifier` feature flag in #1791 and adding a new `google_classroom_import` feature flag so I can take care of it!

[2019-05-15 19:43] BenEmdon commented on #1832
@talbronfer can you confirm that the repos are created on your organization? If so, can you check if the student repositories are populated with starter code?

[2019-05-16 07:44] talbronfer commented on #1832
Repos were created, the import itself was hanging and the repos were empty. After a few hours it was back up - we had to delete and re-create all the students' assignment repos.

I realize this is a recurring problem that has something to do with the GitHub Import API - but we need at least some indication about the status of the import API and ability to report issues, this is something that happ

[2019-05-16 07:44] talbronfer commented on #1832
Repos were created, the import itself was hanging and the repos were empty. After a few hours it was back up - we had to delete and re-create all the students' assignment repos.

I realize this is a recurring problem that has something to do with the GitHub Import API - but we need at least some indication about the status of the import API and ability to report issues, this is something that happ

[2019-05-16 11:45] duzhuan119 opened #1834 "warning: 2.6.3-compliant syntax, but you are running 2.6.0"
Describe the bug
execute script :  rake db:seed   ，Error occurred :
warning: parser/current is loading parser/ruby26, which recognizes
warning: 2.6.3-compliant syntax, but you are running 2.6.0.
warning: please see https://github.com/whitequark/parser#compatibility-with-ruby-mri.

How to solve this problem?
Thanks very much.

[2019-05-17 14:48] BenEmdon commented on #1832
We totally agree. We are working with the Source Imports team to improve the situation (and provide better insight).

Since the situation here resolved over time, I am going to go ahead and close this.

If you experience and classroom related bugs or want to request a feature, don't hesitate to open a new issue.

[2019-05-17 14:48] #1832 closed

[2019-05-18 13:29] d12 commented on #1834
This is just a warning, I wouldn't worry about it too much. The link you posted has some good information if you're interested!

[2019-05-18 13:29] #1834 closed

[2019-05-18 13:42] d12 commented on #1813
This list has a search option now. @phannan does this solve your problems?

[2019-05-18 13:49] d12 commented on #1825
:wave: @DavidGriswoldTeacher

Thanks for your feature suggestion and offer to help out! Open source contributions are always welcome, but thanks for checking in with us re: will this get merged.

I think the idea is great, we've discussed something similar before. Your implementation makes sense to me, let me know if you get stuck at all along the way. I'd be glad to help :)

[2019-05-18 17:41] phannan commented on #1813
Yes!  Thanks.

[2019-05-18 17:41] #1813 closed

[2019-05-20 23:33] thecalliopecrashed opened #1837 "Speed bumps with the setup process"
**Describe the bug**
Running the script to set the project up on my macintosh computer,
I hit a number of errors.

I was hoping to start in on #1802, but the `script/setup` process has ended up overwhelming the work day.

Here is what I am working with so far:

1. Add to `Brewfile`:

[code]

2. In fish shell, add to `~/.config/fish/config.fish`:

[code]

3. Elasticsearch memory constraints:
https:

[2019-05-21 15:43] nasseef commented on #1792
I've been having the same issue yesterday and today. It hangs but it imports correctly. No feedback that it did import.

[2019-05-21 15:50] nasseef commented on #1796
Same issue starting Sunday 5/19/19.

[2019-05-21 15:53] BenEmdon commented on #1792
@nasseef do you mind elaborating what you mean by _"It hangs but it imports correctly."_?

Does the import progress on classroom hang, while the import on GitHub.com complete?

[2019-05-21 16:08] nasseef commented on #1792
A student clicks on the assignment link. Progress bar completes "Creating Repository". The progress bar for "Importing starter code" never completes.  When I check my students' repos, it shows that creating and importing was done.

[2019-05-21 16:12] BenEmdon commented on #1792
@nasseef would you mind providing the assignment link? I would like to see what's going on.

[2019-05-21 16:13] BenEmdon commented on #1792
I have a feeling that this is related to #1647

[2019-05-21 16:13] nasseef commented on #1792
https://classroom.github.com/a/42v5vaVl

[2019-05-21 16:17] BenEmdon commented on #1792
@nasseef it appears that your classroom is missing webhooks (related to #1647), I'll see if I can fix that my end.

[2019-05-21 16:33] BenEmdon commented on #1792
@nasseef I went ahead and fixed webhooks on your classroom. Everything should work as expected.

[2019-05-21 16:35] nasseef commented on #1792
@BenEmdon How can I do this on my end?

[2019-05-21 18:00] BenEmdon commented on #1792
@nasseef this problem happens sporadically and we are working on a global fix in #1647. There isn't a way to fix this on your end.

If this happens to you again, please write in.

I am going to go ahead and close this issue since it has gone stale. If the original author is still experiencing this I invite them to reopen this issue and provide details (so we can help them).

[2019-05-21 18:00] #1792 closed

[2019-05-23 16:47] BenEmdon commented on #1837
The `script/setup` isn't in the best shape 😕 Theres room for a ton of improvement! Any contributions are welcome 🙌

To ensure your PR's merge ASAP, keep them as small as possible so we can review them incrementally. Theres a sizeable PR backlog rn and it's easier for us to merge any low hanging fruit.

[2019-05-23 19:27] thecalliopecrashed commented on #1837
Another hiccup will pop up when you use the `docker-machine` VirtualBox driver.
You need to forward ports from the VM to your `localhost` machine, with something like:

[code]

[2019-05-23 19:40] thecalliopecrashed commented on #1837
@BenEmdon thanks! I'll keep that in mind. Maybe this issue can serve more as documentation than a merge-able commit, because I'm new to the GitHub "one script to rule them all" policy.

[2019-05-23 21:09] drbeco opened #1840 "Assignment disappeared pacman inky"
Hello guys,

Please can someone from inside tell me any clues as why this assignment

https://github.com/BecoSystems/pac-inky

simply disappeared? There is nothing on the git logs to show why, also no strange linux commands from the users (students), and the most mysterious thing is that there is nothing on the github feed (watchlist, notifications, nothing).

The team still exists, but with zero

[2019-05-24 15:42] drbeco commented on #1840
The repository was destroyed using my classroom API key:

![image](https://user-images.githubusercontent.com/5805111/58339992-29b10b80-7e21-11e9-9774-0c7e13df5666.png)

[2019-05-24 15:59] drbeco commented on #1840
@tarebyte I've replied an email to support, originated first by one of my students, and cc you. Thanks for looking into it. I hope a backup can be brought to life asap. Thanks.

[2019-05-24 22:26] drbeco commented on #1840
Just for update: I've created a new repository pac-inky, so the students can start working while we figure out what happened.

Thanks

[2019-05-26 08:28] Iphytech commented on #1505
Hi @BenEmdon can I work on this issue?

[2019-05-26 17:59] oliviercailloux commented on #1796
I see this behavior systematically since about a month when my 25 students all try to create an assignment repository at (about) the same time at the start of the session: about half of them get apparently stuck at the screen shown above. In fact, the repository is created, but some students do not get it and wait there for minutes before realizing that the repostory in fact exists. Even when they

[2019-05-26 18:00] oliviercailloux commented on #1796
This issue duplicates #1795

[2019-05-26 18:24] oliviercailloux commented on #1591
A similar problem is hitting me almost systematically in my organisation. Please see #1796.

Numerous reports are open describing similar problems, as you probably know. Should I comment here, or should I open a new bug report?

[2019-05-26 19:43] oliviercailloux opened #1841 "Record commit date"
### Feature request :sparkles:
_I would like to be able to programmatically get from GitHub the reception times for each commit._

**Details**
Given one of my student’s repository used for an assignment. GitHub would send me (through an authenticated API request) a list of (commit, time). There would be one such pair for each commit having happened on that repository in, say, the last three months

[2019-05-27 07:57] hinshofer commented on #443
@mozzadrella How's the research going? I am a TA at National Polytechnic University of Armenia and we are trying to integrate Moodle LMS which allows adding external tools as long as they conform the LTI.

Is there anything I can help you with?

[2019-05-27 19:27] JarrettBillingsley commented on #1140
Yeah, this feels like a weird honor system to me. What would be great is if **an individualized link were created for each student.** Even if GH doesn't send emails out itself, if I could get a CSV of links/user IDs (I use their university emails as IDs) I could send the emails out myself.

[2019-05-28 11:28] vincentsijben commented on #1591
These problems still occur to me as well. Some students have their import ready in seconds, others take hours. Any update on this problem?

[2019-05-28 17:08] BenEmdon commented on #1505
@Iphytech, yes totally! Let me check that this bug is still being reported 👀

[2019-05-28 17:19] BenEmdon commented on #1505
It appears that this bug is still reported 🐛 Best of luck squashing it 🔨

[2019-05-28 17:40] BenEmdon commented on #1591
Slow starter code imports are bottlenecked by the [Source Import API's](https://developer.github.com/v3/migrations/source_imports/) infrastructure. The Classroom team isn't responsible for this infrastructure. The team responsible for the Source Import API is making an ongoing effort to improve their infrastructure.

Unfortunately the source import API is not guaranteed to be instantaneous, so my

[2019-05-28 18:17] vincentsijben commented on #1591
Thanks for the update. Assignments ahead of time sometimes arent possible. Hope it gets resolved soon 👍

[2019-05-28 18:46] kevinwortman commented on #1591
Yes thanks for the info. Unfortunately having students accept assignments ahead of time is infeasible in our programming lab classes. In order to meet students' learning needs we need to be able to adjust the starter code shortly before class starts. This is a deal-breaker, sadly if this cannot be resolved we will have to stop using GitHub Classroom in these courses.

[2019-05-28 19:46] jbschrades commented on #1575
We're having the same problem.  I've tried it with the Organization 2FA turned off and on.  Student 2FA turned off and on.  That doesn't seem to be the cause.

[2019-05-28 20:02] BenEmdon commented on #1575
@jbschrades Would you mind providing an assignment link and screenshot of the error?
Also can you confirm that you are on the GitHub education organization plan? You can check this by going to the `settings/billing` tab on your GitHub Organization.

[2019-05-28 21:53] BenEmdon commented on #1647
Interesting, hooks created by the OAuth app cannot be seen by users. And hooks created by users cannot be seen by the Oauth app.

[2019-05-28 23:31] oliviercailloux commented on #1591
My use case is: graded exercice. The topic of the exercice is not known by students in advance. I therefore do not want to publish the link before starting the session!

In the meantime, at least, please consider:
- Pinning this issue (or a similar one with an explicit title), or renaming the pinned issue so that ppl see clearly that it is about the code import problem, if it is, so that they see

[2019-05-29 14:16] weeser opened #1842 "Importing starter code after new assignment hangs"
**Describe the bug**
When accepting an assignment, the repository is created, but the import of starter code will randomly hang for some students.  This will hang for 5-10 minutes, sometimes a day or indefinitely.  Once it gets to anything longer than 5-10 minutes, this becomes unusable for running a coding lab.  This issue occurred 5/28/2019 between 11:30am and 1:30pm central.  The classroom is l

[2019-05-29 14:23] BenEmdon commented on #1591
@oliviercailloux I appreciate your suggestions, and I've renamed this issue and will pin it to the issues board.

I also like your idea of closing the various old issues about code import (with the intent of not wasting peoples time). I'll go ahead and do that 👍

[2019-05-29 14:32] BenEmdon commented on #1842
Hey @weeser, thanks for reporting this in.

Slow starter code imports are bottlenecked by the Source Import API's infrastructure. The Classroom team isn't responsible for this infrastructure. The team responsible for the Source Import API is making an ongoing effort to improve their infrastructure.

The slow down you mentioned coincides with a slowdown of imports across GitHub (site wide).

Unfort

[2019-05-29 14:34] BenEmdon commented on #1842
This is a duplicate of #1591 and we are tracking this issue there. Closing this issue in favour of #1591.

[2019-05-29 14:34] #1842 closed

[2019-05-29 14:40] BenEmdon commented on #1824
@RonaldAJ could you tell me which classroom and what assignment which this occurs?

[2019-05-29 15:02] oliviercailloux opened #1844 "Assignments starting in (almost) real-time"
### Feature request :sparkles:
_I would like to have a guarantee that when my students accept an assignment, they can start to work on it in the next two minutes_

**Use case**
Graded individual exercise. The specifics of the exercise must not be known by students in advance. I prepare the assignment ahead of time, but publish the link only at the start of the session. Students have to accept the

[2019-05-29 18:59] RonaldAJ commented on #1824
The classroom is: https://classroom.github.com/classrooms/22001022-mastersse

One of the assignments showing this behavior:
https://classroom.github.com/classrooms/22001022-mastersse/assignments/aml-aedchallenge

But these are private, so I am not sure how this info can help you. Content consists mainly of Jupyter notebooks submitted by students.

[2019-05-29 19:40] BenEmdon commented on #1647
##Update
So after investigating the API, it turns out that OAuth apps can't use their own token to register web hooks. 😔 This means that we will have to continue to use user tokens to register webhooks.

## Steps forward
- [ ] close #1839
- Go back to the plan about warning users about their classroom missing webhooks

[2019-05-30 12:58] Alvarofdz97 commented on #1842
Still having the same problem

[2019-05-30 19:03] BenEmdon opened #1846 "A fix webhook button (in staff tools)"
### Feature request :sparkles:
It would be great if we could have a fix webhooks button in the staff tools page of classroom. The button would trigger the `ensure_webhook_is_active!` method on the `OrganizationWebhook` model. Heres a code snippet of the method it would call:

https://github.com/education/classroom/blob/d5d7a9a78c5b35e372abcff73936b890574c8973/app/models/organization_webhook.rb#L78

[2019-05-30 19:12] BenEmdon opened #1847 "Remove the `webhook_id` and `is_webhook_active` column from the Organization model"
### Feature request :sparkles:
Now that we have moved to using the `OrganizationWebhook` model as a source of truth for the webhook ID, we should remove the unused webhook_id column from `Organization`.

This should clean up some tech debt (and duplication).

## TODO

- [ ] Remove all usage of `Organization`'s `webhook_id`( #1850, #1848)
- [ ] Remove all usage of `Organization`'s `is_webhook_enabl

[2019-05-30 21:06] mozzadrella commented on #443
@hinshofer we plan to undertake this work starting 10 June :)

[2019-05-31 04:26] doctorscott opened #1851 "Course Copy"
### Feature request :sparkles:
_Allow the structure of a course to be copied to another_
I'm loving GitHub classroom! But I'm finding it (unnecessarily) tedious to create a new course with many assignments for a new semester. The course structure stays the same, so it would be really nice to have an option to copy an existing Classroom into a new one with the same assignment structure. It shouldn'

[2019-05-31 15:20] mozzadrella commented on #1851
@doctorscott great idea :)

[2019-06-03 02:04] #1847 closed

[2019-06-03 02:18] #1846 closed

[2019-06-03 19:25] BenEmdon commented on #1648
This approach isn't necessary.

[2019-06-03 19:25] #1648 closed

[2019-06-04 18:38] student-low opened #1857 "Classroom Assistant Cannot Find Assignment"
**Describe the bug**
Unable to open assignment in classroom assignment. When clicking download repositories to launch classroom assistant, redirected to download page despite downloading classroom assistant. Classroom assistant has been uninstalled and re-downloaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'classroom'
2. Click on 'Download repositories'
e. See error

**Expected

[2019-06-04 19:40] BenEmdon commented on #1647
## Update
Ran the `organization_webhook_health_migration` and now the number of classrooms missing webhooks is:
[code]
## The 3674 Organizations without Webhooks
These organizations are missing webhooks for one of two reasons:
1. The organization no longer has a user token with the `admin:org_hook` scope (as in the user left the organization).
2. The organization was deleted.

We can't do anything

[2019-06-05 18:09] leoxtc commented on #1761
Hello I have the full plan and some of my studants are having this issue.

My organization Display name is Kapital Trading

What I can do to check this ?

[2019-06-06 13:42] ericdrosado opened #1859 "Update verify_organization_has_private_repos_available with new error message."
The error message [here](https://github.com/education/classroom/blob/afb5c947f7a8206cc8ac88685cd7fe800e64f385/app/models/concerns/github_plan.rb) in `github_plan.rb` has created some confusion with students.

I would recommend changing the language to the following:
[code]

[2019-06-06 18:36] ShreyaPrasad1209 commented on #1591
![2019-06-05 (2)](https://user-images.githubusercontent.com/43600306/59057448-07ef6400-88b8-11e9-9bd8-68f1baf274f6.png)

Hi can anyone tell me what to do next? It's been like that for past 3 days

[2019-06-06 18:43] ShreyaPrasad1209 commented on #1591
![2019-06-07 (1)](https://user-images.githubusercontent.com/43600306/59057753-bc898580-88b8-11e9-86d1-35248577f701.png)

[2019-06-06 23:26] student-low opened #1860 "Classroom Assistant: Download Repositories link missing when Classroom Assistant not launched"
**Describe the bug**
When Classroom Assistant is not open, the Download Repositories button will open Classroom Assistant, but the assignment URL text box is not filled in. When Classroom Assistant is launched, only then will the URL text box be filled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Download Repositories'
2. Click on 'Classroom Assistant'
3. See error.

**Expected be

[2019-06-07 02:01] pinventado commented on #1591
If I might suggest, you can follow the steps I used described above (or follow this [link](https://github.com/education/classroom/issues/1591#issuecomment-467299390))

[2019-06-07 17:55] BenEmdon commented on #1591
@ShreyaPrasad1209 common reasons for a starter code import to have an error are:
* The source repo (the one the teacher/professor uses as a template) has a GitHub action in it
* The source repo is empty

[2019-06-07 18:06] BenEmdon commented on #1761
@leoxtc I just checked your plan and it appears that all of your organization seats are filled. (Same as the issue being experienced above). You can confirm this by going to https://github.com/organizations/clearbrain/settings/billing.

To fix the problem you can either upgrade your plan to have more seats, or if you are an education organization you can apply for the education discount at https:/

[2019-06-08 08:07] ShreyaPrasad1209 commented on #1591
@BenEmdon the "creating repository" part in the above screenshot is the source repository? If so, it's not opening.

[2019-06-08 08:13] ShreyaPrasad1209 commented on #1591
@pinventado it's not working. The first screenshot above is the result I'm getting whenever I follow your steps.

[2019-06-08 14:04] pinventado commented on #1591
@ShreyaPrasad1209 just to clarify, you see the first screenshot after cancelling the import and reimporting it again?

[2019-06-08 19:10] BenEmdon commented on #1591
@pinventado are you the professor/teacher of your GitHub classroom? If so, please edit the assignment to see which repository is set in the "Starter code repository field":

![](https://user-images.githubusercontent.com/11095731/59151342-3cba0300-89ff-11e9-9a63-e80abe02a03e.png)

The repository set there is the source repository. As I mentioned earlier, I think that the source repository might be

[2019-06-09 04:03] ShreyaPrasad1209 commented on #1591
@pinventado  yes

[2019-06-09 15:53] BenEmdon commented on #1591
@sahilshekhawat are you the professor/teacher of your GitHub classroom? If so, please edit the assignment to see which repository is set in the "Starter code repository field":

![](https://user-images.githubusercontent.com/11095731/59151342-3cba0300-89ff-11e9-9a63-e80abe02a03e.png)

The repository set there is the source repository. As I mentioned earlier, I think that the source repository might

[2019-06-09 16:28] #1859 closed

[2019-06-10 08:56] ShreyaPrasad1209 commented on #1591
@BenEmdon  I'm a student and I want to start my training for GitHub Campus Expert. I'm unable to do that because of above errors.

[2019-06-10 18:49] BenEmdon commented on #1253
A better approach than using the source imports API would be to use GitHub's new template repository feature https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/

[2019-06-11 19:49] drbeco commented on #1840
I guess the support is non-responsive. No reply here, and it was urgent. I'm saved by the backup. I guess we can just close this issue then. Thanks anyhow.

[2019-06-11 19:49] #1840 closed

[2019-06-12 00:11] BenEmdon commented on #1591
@ShreyaPrasad1209 please report this to your professor/teacher and give them the context in https://github.com/education/classroom/issues/1591#issuecomment-499980298

[2019-06-12 00:13] BenEmdon commented on #1591
## Update
A faster and more reliable approach will soon be implemented (it is in our roadmap). The better approach than using the source imports API would be to use GitHub's new template repository feature https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/

[2019-06-12 00:36] pinventado commented on #1591
@benemdon awesome! Will that template functionality be implemented in GitHub classroom? Or will users need to apply it themselves?

[2019-06-12 17:24] stephaniegiang commented on #1815
Hi 👋 I'm new to the Classroom team. I just wanted to clarify the steps you took so I can take a further look into the problem.

1. You created a group assignment and your students created their teams and repositories
2. A student working on the assignment deleted their assignment and were unable to view the assignment
3. The student later logged into their GitHub account and was able to see the re

[2019-06-12 17:26] EricPickup commented on #1505
I've been looking into this for a bit and can't think of a way to fix the broken `GroupAssignmentRepo`'s with any migration or background job. The connection from a group assignment repo to a team was made through the `Group` model which is destroyed on those broken records.

I think the best solution at this point is to check for a nil group on a `GroupAssignmentRepo` and return a `NullGitHubTeam

[2019-06-12 19:32] emersonmello opened #1866 "A classroom suffix on profile information to be used on assignment repository prefix"
### Feature request :sparkles:

Since Jan/2019 [Github Classroom is supporting multiple classroom per organisation](https://github.blog/2019-01-23-github-classroom-now-supports-multiple-classrooms-per-organization/) :clap:.

This feature helps me a lot because I don't need to create a new organisation each semester. However, now this unique Github organization stores assignments from different "cl

[2019-06-12 21:35] kevinwortman commented on #1591
@BenEmdon  This is great news, thanks for the info.

[2019-06-13 21:53] BenEmdon commented on #1591
This will come in an update to GitHub classroom. When the change is shipped all you will need to do is refresh the website 😄

[2019-06-14 14:17] mbcastro opened #1871 "Maximum number of groups"
### Feature request :sparkles:
_Please provide a description of the feature you would like Classroom to have_
I would like to be able to limit the maximum number of groups that could be created for an assignment. This is very useful to avoid students creating lots of individual groups in a group assignment and force tham to join already created groups.

[2019-06-14 18:59] wahalulu opened #1872 "Error in heroku download links"
The links that point to the downloadable app for all os's (Heroku) is down:
https://classroom-assistant-releases.herokuapp.com/download/win
https://classroom-assistant-releases.herokuapp.com/download/linux_deb_64
https://classroom-assistant-releases.herokuapp.com/download/mac

[2019-06-14 19:19] stephaniegiang opened #1873 "Search functionality for students within an assignment"
### Feature request :sparkles:
Creating a feature that allows teachers to search for a students within an assignment.

[2019-06-14 22:37] stephaniegiang commented on #1872
Hello 👋
This problem has been fixed!

[2019-06-14 22:37] #1872 closed

[2019-06-17 20:33] dgilleland commented on #443
For those wishing to follow the development, see [this branch](https://github.com/education/classroom/tree/google-classroom) and Issue #1791

[2019-06-17 22:15] EricPickup commented on #1829
Closing this issue since a temporary solution is posted and the flag will be removed in #1791.

[2019-06-17 22:15] #1829 closed

[2019-06-17 22:38] EricPickup commented on #1592
@AmeliaMN That sounds like an unrelated but good idea, would you mind creating a separate issue for your feature request?

The invitations URL is what students use to accept an assignment and create a repo. Disabling the invitation URL would disable the link and prevent students from accepting the assignment/creating a repo for it.

[2019-06-17 22:40] EricPickup commented on #1750
Closing since this is a duplicate of #1592.

[2019-06-17 22:40] #1750 closed

[2019-06-17 22:52] EricPickup commented on #1592
Myself and other contributors have tried to reproduce this with no luck. It was also last reported 6 months ago so I'm assuming the issue was resolved.

[2019-06-17 22:52] #1592 closed

[2019-06-18 18:47] ericpickup-test1 opened #1881 "Improve UX/UI for roster list on assignment invitation"
When joining the classroom roster, the roster list box takes up only about 1/3 of the vertical space and lists around 7 students at a time which seems inefficient considering most rosters will have 50+ students.

We should expand this list to take up more of the page which will make it easier to navigate and find your identifier.

Also, when hovering over the box I don't see a scroll bar to naviga

[2019-06-18 18:47] #1881 closed

[2019-06-18 18:49] EricPickup opened #1882 "Improve UX/UI for roster list on assignment invitation"
When joining the classroom roster, the roster list box takes up only about 1/3 of the vertical space and lists around 7 students at a time which seems inefficient considering most rosters will have 50+ students.

We should expand this list to take up more of the page which will make it easier to navigate and find your identifier.

Also, when hovering over the box I don't see a scroll bar to naviga

[2019-06-18 20:08] EricPickup commented on #1677
If you mean to hide the subgroups from TA's for privacy reasons, I'm not sure that'd be entirely possible. Classroom uses GitHub organizations where teachers are owners and students are members. I don't think there'd be a way to hide certain students from teachers/assistants since they're owners of the org.

If that's not the main focus and you primarily want to organize into subgroups, as Ben men

[2019-06-19 22:22] BenEmdon opened #1885 "Make GroupAssignmentRepo follow the Creator pattern"
Right now `GroupAssignmentRepo` makes network requests in active record callbacks. This is not ideal because we are unable to build a factory for it.

If we made `GroupAssignmentRepo` follow the Creator pattern we could write a factory bot for it 🤖

- [x] Make `GroupAssignmentRepo::Creator`
- [x] Make factory bot for `GroupAssignmentRepo`

[2019-06-19 22:26] shaunakpp opened #1886 "When creating AssignmentRepo and GroupAssignmentRepo, use the #perform method"
Currently, when we create new `AssignmentRepo` and `GroupAssignmentRepo` from the `CreateGithubRepositoryJob` we do not use the `perform` method. Instead we have repeated code. There are broadcast messages sent in between which are not in the `perform` method but apart from that the code is essentially the same. We can move these messages to the creator and use perform method in the job.

[2019-06-19 22:31] EricPickup opened #1887 "SignalException every time a PR is deployed"
I've noticed on Haystack that we get 4 SIGTERM/SignalException errors every time we deploy a PR to production.

@tarebyte pointed out that 4 is also the number of dynos we're running.

Example:
[code]
(https://haystack.githubapp.com/classroom/needles/IWuUfmHU5nB5bFmPMxDXcw)

![image](https://user-images.githubusercontent.com/1490434/59805845-4d903180-92a7-11e9-83fc-a53cc23ad10c.png)

[2019-06-19 22:34] BenEmdon commented on #1887
Is this issue proposing that we don't report these specific errors?

[2019-06-19 23:00] EricPickup commented on #1887
@BenEmdon not necessarily, just opening it to eventually investigate the cause. Not sure if it's something to be concerned about

[2019-06-20 00:10] #1871 closed

[2019-06-20 00:11] EricPickup commented on #1871
Hey @mbcastro, your feature request was implemented and is now live! Hope this helps. 🎉

[2019-06-20 01:19] #1505 closed

[2019-06-20 17:39] BenEmdon commented on #1887
This `SIGTERM` is an expected puma related signal which we expect on every deploy on heroku.

In my opinion, exceptions in haystack should be _exceptional_ and receiving signals like `SIGTERM`  are _exceptional_.

I realize that these could add to the noise, but removing it might take away value.

Conclusively, I think we could close this issue. If you disagree please reopen this issue.

[2019-06-20 17:39] #1887 closed

[2019-06-24 03:34] tarebyte opened #1894 "Upgrading our instance of PostgreSQL"
Currently, our Heroku instance of PostgreSQL is running at version `9.4.21` 😅

This _is_ a supported version, but it appears that 9.4 [will stop being supported in early 2020](https://www.postgresql.org/support/versioning/).

While it's the summer time we should look into what it would take to upgrade Postgres to the latest version.

Here are the [Heroku docs](https://devcenter.heroku.com/articles

[2019-06-24 07:57] talbronfer opened #1895 "Student repo gets wrong collaborator entry"
**Describe the bug**
When creating a student repo from a starter template, the student repo gets a collaborator entry that never existed in the parent/starter repo. This is creating problems for our use case since we are using the GitHub API to get the repo contributors when the repo is created, and we expect to find there only the student which this repo belongs to.

**To Reproduce**
1. Create a

[2019-06-24 22:51] BenEmdon commented on #1684
Is this actually closed by #1892?
CC @shaunakpp you have the context to agree/disagree since you were working on the refactor with `GroupAssignmentRepos`.

[2019-06-24 23:11] shaunakpp commented on #1684
@BenEmdon @EricPickup #1892 doesn't entirely close this issue as we still have to remove the error constants from the code, but it can be done only when #1884 gets merged. So let us keep this issue open till we do that. What do y'all think?

[2019-06-24 23:28] EricPickup commented on #1684
I see - currently `GroupAssignmentRepos` already report the detailed github error (as seen [here](https://github.com/education/classroom/blob/master/app/jobs/group_assignment_repo/create_github_repository_job.rb#L47)) but #1884 brings error constants to it which is understandable since that's what we're doing in the individual assignment creator. In that case I'll have to do the same thing to `Gro

[2019-06-24 23:44] BenEmdon commented on #1684
@EricPickup in that case could you change the wording in your pr?
[code]

Otherwise, it will merge and close this PR

[2019-06-25 01:45] thebradbain commented on #1894
I’d be happy to take this up! 🚀

[2019-06-25 18:19] BenEmdon opened #1896 "Image/gif won't load"
**Describe the bug**
The image/gif on https://classroom.github.com/help/probot-settings and https://classroom.github.com/help/upgrade-your-organization won't load.

**To Reproduce**
Go to https://classroom.github.com/help/probot-settings or https://classroom.github.com/help/upgrade-your-organization

**Expected behavior**
Image/gif should load.

**Screenshots**
<img alt="Screen Shot 2019-06-25 at

[2019-06-25 18:56] EricPickup commented on #1896
Looking into it. I'm 90% sure the issue is here: https://raw.githubusercontent.com/education/classroom/master/docs/probot-settings.md

We're using a raw HTML image tag to link to an image in the asset pipeline. We can't use the `image_tag` helper since this is a markdown file. I think the solution would be to move these gifs to the `/public` directory, where static assets belong. I'll create a PR!

[2019-06-25 20:45] #1896 closed

[2019-06-25 21:02] #1885 closed

[2019-06-25 21:11] d12 commented on #1427
@miltonlab This project is in progress. It's currently being tracked in another issue.

Closing in favor of https://github.com/education/classroom/issues/721.

[2019-06-25 21:11] #1427 closed

[2019-06-25 21:13] d12 commented on #813
Reopening, the fix hasn't merged yet. https://github.com/education/classroom/pull/839

[2019-06-25 22:07] shaunakpp opened #1898 "MembershipEventJob goes into retries when repo_access not found"
**Describe the bug**
Whenever we get an event for removing repo_accesses for a team, we find the user and the group via payload and find the repo_access for that user, and then delete the repo access for the said user. But since this behavior is dependent on web-hook delivery, sometimes the same web-hook may get triggered(weird but happens). This results in the job going into a retry cycle as the

[2019-06-25 23:31] thebradbain commented on #1894
_Note:_ We will be upgrading to PostgresQL v10.9, as that is the latest version currently supported by Travis CI. v10.9 will be supported until [Nov 10, 2022](https://www.postgresql.org/support/versioning/)

Upgrade is planned for **7:30 PM PST on Sunday, 06/30/2019**

**Pre-Upgrade Checklist**:

- [ ] Announce planned upgrade on GitHub Classroom website
- [ ] Upgrade `pg` gem from v0.21.0 to 1.1.

[2019-06-26 00:49] #1898 closed

[2019-06-26 16:32] BenEmdon commented on #1580
@d12 we should try achieve this as part of the work being done with assignment setup. This should be a small piece of work.

[2019-06-26 16:33] BenEmdon commented on #292
@d12 Im not sure where are roadmap is rn but I think this would be a good candidate for some summer work.

[2019-06-26 17:24] d12 commented on #292
:100:, Adding this to our backlog

[2019-06-26 17:24] d12 commented on #1580
🙌 Adding to the project board!

[2019-06-26 17:56] #1300 closed

[2019-06-26 17:56] #1873 closed

[2019-06-26 17:56] #847 closed

[2019-06-26 18:04] stephaniegiang opened #1902 "Update JS"
### Feature request :sparkles:
Update JS so we can use statements like `let`

[2019-06-26 18:28] shaunakpp commented on #1894
Attaching the links for release notes on the new postgres version(11.4) and also the migration changes. I don't think we need to make any changes for our instance, but it might come in handy for quick reference.
Release notes:
https://www.postgresql.org/docs/11/release-11-4.html

Migration reference:
https://www.postgresql.org/docs/11/release-11-1.html

[2019-06-26 18:34] EricPickup commented on #1726
I've been looking into this - It seems that the cache is working properly and we are making a request to github's API for each user only _once_ since the user info is cached. This is necessary for us to list the `login` (handle) of each unlinked user. We do the same request for linked users.

[2019-06-26 23:05] shaunakpp commented on #1796
This is a duplicate of #1591 and we are tracking this issue there. Closing this issue in favour of #1591.

[2019-06-26 23:05] #1796 closed

[2019-06-26 23:09] shaunakpp commented on #1795
This is a duplicate of #1591 and we are tracking this issue there. Closing this issue in favour of #1591. I've also added a "slow code import" tag so that we can reference this issue.

[2019-06-26 23:09] #1795 closed

[2019-06-26 23:10] shaunakpp commented on #1758
This is a duplicate of #1591 and we are tracking this issue there. Closing this issue in favour of #1591. I've also added a "slow code import" tag so that we can reference this issue.

[2019-06-26 23:10] #1758 closed

[2019-06-26 23:16] EricPickup opened #1906 "Starter code importer hangs when importing from empty repository"
**Describe the bug**
The starter code importer hangs/breaks when the starter code repo is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new assignment
2. Select an empty repo to use as starter code
3. Accept invitation
4. Starter code importer hangs

**Expected behavior**
We should warn teachers if the starter code repo is empty and prevent them from choosing it.

We can ea

[2019-06-27 17:21] #1684 closed

[2019-06-27 18:26] AmeliaMN opened #1907 "Centralized classroom page for students"
I'd love students to be able to go to a centralized "classroom" page for my class, and see all the assignments, rather than me having to send out the links for each assignment. I'm migrating this over from #1592, because I thought that was what was supposed to happen if I unchecked the "enable assignment invitation URL" box.

[2019-06-28 17:43] stephaniegiang opened #1913 "ActionView::Template::Error"
This has been popping up every now and then.

**Needle**: https://haystack.githubapp.com/classroom/needles/Rz07Y3ke5Hm16ywXEMrO_w
**Rollup**: https://haystack.githubapp.com/classroom/rollups/3ab043d19f9278b64d9bf5327edf480a

[code]

<table>
  <thead>
    <tr>
      <th>attribute</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>action</td>
      <td>create</td>
    </tr>

[2019-06-28 19:35] EricPickup opened #1914 "Map out assignment and repo creation flow"
In preparation of our importer deprecation project, we should make a diagram of the current assignment and assignment_repo creation flow so that we can fully understand the process and what we need to change.

[2019-06-29 00:26] d12 opened #1924 "Classroom Status Page"
We should put together a simple status page for users when we're having issues. We can point to it on our 500 and maintenance pages.

[2019-06-29 00:28] d12 opened #1925 "Consider moving to GitHub Infra"
Heroku (specifically the datadog buildpacks and elasticsearch addons) have given us a lot of trouble in the past. It might be worth investigating what it'd take to put Classroom on the internal GitHub infra and whether or not it'd be worth it.

[2019-06-29 00:33] d12 opened #1926 "Remove Elasticsearch dependency"
Elasticsearch can be replaced by Postres full text search to remove a dependency that's caused availability issues in the past.

https://www.postgresql.org/docs/9.5/textsearch.html

[2019-06-29 21:59] brghena opened #1927 "Student Assignment Setup Never Resolves"
**Describe the bug**
I am managing a [github classroom](https://classroom.github.com/classrooms/42046610-cs-61c-summer-2019), and a few students (2 out of 200) are having issues with assignment setup. When they follow the link to setup an assignment, the process hangs and does not seem to ever complete. Refreshing the page has no effect on setup progress, and they have waited hours with no change

[2019-07-01 16:16] EricPickup commented on #1927
Hi @brghena, thanks for reporting this.

This is a known issue reported in #1591. We're currently working on a fix for this - you can track the progress there. Sorry for the troubles.

[2019-07-01 16:16] #1927 closed

[2019-07-02 01:17] stephaniegiang opened #1937 "ActionView::MissingTemplate"
ActionView::MissingTemplate

**[ActionView::MissingTemplate](https://haystack.githubapp.com/classroom/rollups/77679ba2aa171a09f13e52327808b58f)** &mdash; First occurred on 2019-05-06 12:29:14 -0700

[code]

*Brought to you by Haystack's `!` hotkey.  Try it on a needle or rollup today!*

[2019-07-02 06:28] TheRijn opened #1938 "Importing Starter code takes forever"
**Describe the bug**
importing starter code takes forever when accepting a assignment

**To Reproduce**
Steps to reproduce the behavior:
Accept an assignment, for example https://classroom.github.com/a/ntKY1Xry

**Expected behavior**
Get redirected to the repo

**Screenshots**
Same as all the other, so no screenshot provided

**Additional context**
Probably a probleem with the organisation web hoo

[2019-07-02 13:43] nasseef commented on #1792
@BenEmdon can you please fix this problem on a different classroom. I'm having the same import hanging issues. Here is the assignment link https://classroom.github.com/a/x3Nvwikc.  Here is the classroom link: https://classroom.github.com/classrooms/49959068-2400-fl-19-classroom

[2019-07-02 14:16] nasseef commented on #1792
@BenEmdon Never mind. It works now. It just took more than 30 minutes to complete. Thanks.

[2019-07-02 16:35] EricPickup commented on #1793
Finished in #1794 🚀

[2019-07-02 16:35] #1793 closed

[2019-07-02 16:52] d12 opened #1940 "Upgrade to better TravisCI plan"
Lets look into upgrading to a better TravisCI plan, we're still on the free plan. If we're on the legacy system, we'll need to migrate to their newer stuff first.

[2019-07-02 17:12] EricPickup opened #1941 "Update Octokit with ability to clone template repos"
This is a goal for after the main part of our importer deprecation project is finished.

Once Octokit is updated with the ability to clone template repositories, we should update the gem and our code to use this feature to keep consistency with the rest of our API calls.

[2019-07-02 17:17] tarebyte commented on #1941
@EricPickup we actually don't need to update Octokit (although the contribution is welcome).

[2019-07-02 17:22] stephaniegiang opened #1942 "Adding a numerical suffix to the end of duplicate roster entries"
For Google Classroom, sometimes we may have students with the same first and last name which causes a bug in the roster creation. In the controller, this will cause only one user to be created as we do not allow duplicates.

A fix for this is when a duplicate entry is found, we add a numerical suffix such as `-1` to the end of the entry. We should also allow teachers to edit the roster entries aft

[2019-07-02 17:22] EricPickup commented on #1941
@tarebyte Good to know! I'll update the description and leave this issue up as a low-priority goal to eventually refactor our code to use Octokit once it has been updated to keep it consistent with the rest of our API calls.

[2019-07-02 17:47] stephaniegiang opened #1943 "Google Classroom Integration To-Do"
Creating an issue for me to track for the Google Classroom Integration.

## TO-DO
- [x] Have this feature behind a feature flag `google_classroom_roster_import`
- [x] Migration merged
- [x] Get initial PR for google classroom merged https://github.com/education/classroom/pull/1791
- [x] Fix bug for sync modal https://github.com/education/classroom/pull/1991
- [x] Fix bug of not being manually able

[2019-07-02 19:27] thebradbain opened #1945 "LMS-Classroom Configuration Modeling"
A `Classroom` instance should have (at most) one `LMSConfiguration` model, which contains parameters specific to that instance of the classroom organization to tie it to an LMS.

Required model columns include:

`consumer_key` -- the classroom-specific identifier linking a classroom to an LMS
`shared_secret` -- should _never_ be sent over the wire; used to decrypt the payload from the LMS, also sp

[2019-07-02 20:24] EricPickup opened #1946 "Implement back-end changes to clone a template repository"
Add functionality to call github API and clone a template repository.

Depends on #1934 and the internal changes that allow us to call the REST api to clone a template repo.

Aiming to finish by July 15.

[2019-07-02 21:09] cheshire137 commented on #1941
👋 The repo templates REST API preview is live now. See https://github.com/github/github/pull/117135#issuecomment-507844681 for some sample queries.

[2019-07-02 21:14] EricPickup commented on #1941
Looks great, thanks @cheshire137!

[2019-07-03 14:49] d12 commented on #1938
Hey @TheRijn ! Thanks for the report, sometimes the GitHub Importer gets overloaded and starter code imports take a long time. We're currently working on a solution which we're hoping to begin rolling out some time closer to the end of this month.

Please see @BenEmdon 's update here: https://github.com/education/classroom/issues/1591#issuecomment-501070754, engineering work for this project began

[2019-07-03 14:49] #1938 closed

[2019-07-03 15:23] d12 commented on #1895
Hey @talbronfer ! I checked the GitHub audit logs and this appears to be a side effect of creating a repository in the org while authenticated as the admin user. You should see the same behavior if you were to create a new repo in the org directly via the GitHub API.

Are you able to filter out your admins in the API response? Unfortunately there isn't much we can do about this on the Classroom si

[2019-07-03 15:29] d12 commented on #1866
I think this is a great idea! I'll add this to our backlog of work to tackle, and I'll update you when we make progress on this.

[2019-07-03 16:59] EricPickup commented on #1591
Hi everyone! 👋 As an update, we're currently working on the feature mentioned in https://github.com/education/classroom/issues/1591#issuecomment-501070754. We expect to gradually roll out the feature by the beginning of August and have a complete rollout by the end of the summer.
This new method of creating repos is expected to increase the repo creation speed dramatically and fix the unexpected i

[2019-07-03 17:39] shaunakpp opened #1948 "Proposed changes for unifying repository creators"
For unifying the existing creators, we need to make a few changes, especially to determine if we're creating a `GroupAssignmentRepo` or an `AssignmentRepo`. Also based on that, we need to make sure that appropriate API calls are made, to do this I'm proposing the following changes:

Move the unified repo creator from `models` to `services` as the creator isn't necessarily a value object or represe

[2019-07-03 17:40] BenEmdon commented on #1948
That issue name :joy:

[2019-07-03 18:38] #1913 closed

[2019-07-03 20:14] d12 commented on #1948
@shaunakpp @EricPickup The architecture and delegations make sense to me.

Let's just make sure that refactoring and perfect design don't get in the way of shipping. There's a balance between quality and shipping, and it's easy to go too far in either direction. If there's a decision between assignment/group_assignment deduplication vs shipping the feature, I'd lean towards the later, especially c

[2019-07-03 21:00] stephaniegiang opened #1951 "Remove feature flags at 100%"
We should remove flags that have been at 100% for a while. Feel free to add to this list.

A list of flags we should remove:
- [x] student_identifier
- [x] public_home_v2
- [x] public_assistant_landing_page
- [x] multiple_classrooms_per_org
- [x] import_resiliency
- [x] group_import_resiliency
- [x] download_repositories
- [x] deadlines
- [x] dashboard_search

[2019-07-03 21:01] #1945 closed

[2019-07-03 22:15] #1906 closed

[2019-07-03 22:40] EricPickup commented on #1948
@d12 We'll make sure it won't get in the way. I'm almost ready to put up a PR for using template repositories and won't be depending on this refactor for it. It'll be easy to implement that PR into this once it's shipped.

[2019-07-05 13:35] d12 opened #1955 "Start running all-features CI build"
Working on #1951 has been a pain because of old specs asserting old behavior that fail with the features enabled. At GitHub, we get around this by running CI a second time with all feature flags turned to 100. Then, any specs that don't work on the new version of the code have to be specifically guarded with `unless flipper[:foo].enabled?`.

[2019-07-05 14:58] d12 commented on #1951
`deadlines` was removed a while ago here https://github.com/education/classroom/commit/6c09575f96121f775bb8813a1bb3dece222769ad

I'll remove the feature from production flipper.

[2019-07-08 17:30] d12 commented on #721
We're still working on this in #1791. Getting very close to merging now.

[2019-07-08 18:10] thebradbain commented on #1894
@tarebyte Since Classroom seems to be in a more stable place now, would you like to 🍐 on the actual db upgrade again sometime after you're back from summit?

[2019-07-08 18:11] d12 commented on #1726
This instance of loading GitHub data is especially bad because it's happening before we render the view, most of our other GitHub API requests are in AJAX requests and have less of an effect on UX.

@AhmedKamal20 I'm working on https://github.com/education/classroom/pull/1964 which will fix this problem.

[2019-07-08 18:35] tarebyte commented on #1894
Sure thing! Grab a time on my calendar.

[2019-07-08 21:48] aalgahmi opened #1965 "Unable to add a starter code repository to a new assignment"
**Describe the bug**
I'm trying to create a new assignment but not able to due to a problem with starter code repository. I keep getting the error message:
**

**

The started code repository I selected shows on the  **Add your starter code from GitHub (optional)** auto-generated dropdown and I have verified again and again that it's not empty. I was able to do this without a problem last week. I

[2019-07-09 02:24] ericpickup-test1 commented on #1965
Hi @aalgahmi, thanks for reporting this. Preventing teachers from using empty repos in starter code was a fix put in last week. Sounds like something went wrong with it.

Would you be able to link me to the starter code repository if it's public?

[2019-07-09 02:25] EricPickup commented on #1965
Hi @aalgahmi, thanks for reporting this. Preventing teachers from using empty repos in starter code was a fix put in last week. Sounds like something went wrong with it.

Would you be able to link me to the starter code repository if it's public?

[2019-07-09 02:32] aalgahmi commented on #1965
Of course. It's  https://github.com/WSU-SUMMER-2019/web2620-assignment-07. Thanks

[2019-07-09 04:51] EricPickup commented on #1965
Thanks @aalgahmi. I tried it out with your repo and found that there is an edge case.

When checking if the repo is empty [we're calling the API to look at the repo's contributor statistics](https://github.com/education/classroom/blob/master/app/models/github_repository.rb#L152) and pulling the number of commits from that. However, it seems like your git name/email configuration is off and your co

[2019-07-09 13:04] aalgahmi commented on #1965
Thank you! that fixed the issue for me.

[2019-07-09 13:04] #1965 closed

[2019-07-09 15:12] shaunakpp opened #1968 "Deprecation warning for :permission option when creating a GitHub team"
**Describe the bug**
When we create a team for a group we get the following deprecation warning:

`Deprecated: Passing :permission option to #create_team. Assign team repository permission by passing :permission to #add_team_repository instead.`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Group assignment
2. Create a team for this assignment
3. Notice the deprecation warning in

[2019-07-09 15:20] d12 commented on #1726
@AhmedKamal20 Could you try your roster page again and see if this has made it better? I've shipped a fix for the `user.github_user.login` bit, and I'm digging into some performance issues on the assignment page now.

[2019-07-09 16:10] d12 commented on #1726
I tried this out on a class of over 1000 and it seems to be working a lot better now. I'll close this out, but please re-open if you're still having issues.

[2019-07-09 16:10] #1726 closed

[2019-07-09 16:18] d12 opened #1969 "Slow assignment page load for large rosters"
When rendering roster entries in the assignment view, we execute this query to properly order the relation: https://github.com/education/classroom/blob/17848e109b977bd19c8cc26cf80ed8438f602639/app/models/roster_entry.rb#L66-L78

If `sql_formatted_users` is too large, this query becomes ridiculously slow. We need to find a better way to order this relation without passing so many IDs into IN, which

[2019-07-09 16:22] d12 commented on #1969
To solve this issue properly, we might want to consider redesigning the assignment show page a little bit. Roster entries were jammed into an existing view and made a bit of a mess. We may be able to organize this data in a better way such that we don't need these complex queries anymore.

The main thing is that we have 1 list of:

- Repos not linked to a student
- Repos linked to a student
- Rost

[2019-07-09 20:36] EricPickup opened #1971 "Decide the best way to determine if a repo is empty"
#1931 was introduced to prevent teachers from using empty repos as starter code repo.

We originally checked the number of commits but ran into a couple edge cases in #1965.

Then switched to checking the repositories disk `size` but ran into another edge case described in #1970.

The most fail-proof way I can think of is to use the [Contents](https://www.rubydoc.info/github/pengwynn/octokit/Octok

[2019-07-09 21:39] d12 opened #1973 "Enforce migrations are shipped seperately"
This morning I deployed a PR with logic + the migration together, which caused a couple minutes of downtime. We can prevent this from happening in the future by adding a test that asserts we haven't changed the schema + non `db/` files.

[2019-07-09 22:37] #1914 closed

[2019-07-09 23:14] waqarsaleem commented on #1965
I am facing the same issue. I believe the user information is correct. The repository with the starter code is at https://github.com/hu-cs-224-summer-19/hw03

[2019-07-09 23:34] waqarsaleem opened #1974 "Starter Code repository not importing - wrongly identified as empty"
**Describe the bug**
I am trying to create an assignment from starter code in the repository at https://github.com/hu-cs-224-summer-19/hw03 which is not empty. Assignment creation fails with an error message claiming the repository to be empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Github Classroom and sign in.
2. Click on appropriate buttons to choose the classroom and creat

[2019-07-10 00:12] d12 commented on #1974
@waqarsaleem This has been resolved by https://github.com/education/classroom/pull/1975, your starter code import should now work as expected!

[2019-07-10 00:19] waqarsaleem commented on #1974
Acknowledged and homework assigned to the students. Thanks!

I hope the issue is permanently resolved by next week when the next homework goes out.

[2019-07-10 00:20] #1974 closed

[2019-07-10 17:10] d12 opened #1976 "Option to transfer student coursework to student after course is over"
Teachers often use Classroom as a way of developing a portfolio for students. This doesn't work with private repos since they live within the org and students cannot publicize them. They also cannot fork and publicize the fork. At the end of the course, students have nothing to show future schools or employers.

it'd be great if at the end of the course, a teacher could choose to transfer ownershi

[2019-07-10 17:13] d12 opened #1977 "Allow students to have read access on all assignment repos"
There should be a way to allow students to have access to all assignment repos in the course, but keep them private and not visible to the world. This important since a lot of faculties and administrations require student work be non-visible to the world.

[2019-07-10 17:29] #1886 closed

[2019-07-10 17:57] AhmedKamal20 commented on #1726
@d12 Yeah, it's a lot faster than before, especially after the first time

Thank you.

[2019-07-10 18:01] d12 commented on #1726
Glad to hear. That first time slowness is because of how the cache is implemented, you should be good to go now that the caches are warmed. Thanks for the issue!

[2019-07-10 18:40] stephaniegiang opened #1978 "Allow teachers to search and sort by GitHub handles"
### Feature request :sparkles:
We now have caching for GitHub handles. So we should now allow teachers to search and sort by GitHub handles. So we can now rollout this feature to teachers that do not have rosters.

[2019-07-10 21:23] #1951 closed

[2019-07-10 21:31] d12 opened #1980 "Styling issue with MOTD"
There's a white bar below the MOTD on Classroom right now.

There's 10px of margin-bottom that we need to remove from that `p` tag to fix. A CSS class that removes the margin will suffice.

[2019-07-10 23:00] #1980 closed

[2019-07-11 14:57] d12 opened #1984 "Populate User github_ caches"
https://github.com/education/classroom/pull/1964 added a github_ cache to the User model which holds some data from GitHub.com so we don't need to make so many API requests. If a GitHub field is requested but doesn't exist in the cache, we fetch it and populate the cache.

The problem is that the cache won't be populated for users who haven't been pulled up in Classroom in the last week, so we can

[2019-07-11 19:41] EricPickup opened #1988 "Error box covers other form fields and can't be closed"
The error dialogue box on the assignment forms covers the next field or descriptions and cannot be closed. This is annoying especially since the descriptions under fields may help explain the confusion that caused the error in the first place.

![image](https://user-images.githubusercontent.com/1490434/61079931-ea9b4180-a3f1-11e9-8db3-81d34aa6b81c.png)
![image](https://user-images.githubuserconten

[2019-07-12 17:46] stephaniegiang opened #1993 "Unable to manually add roster entries"
**Describe the bug**
In the inital PR for Google Classroom, there is a bug where the user is unable to manually add roster entries after unlinking from Google Classroom.

[2019-07-12 18:18] thebradbain opened #1994 "Implement LTI's Auto-configure Application capabilities"
LTI has the ability to semi-automatically configure Classroom on an instructor's LMS such that they would only have to provide their `consumer_key`/`public_key` and a link to our application to configure the app on their LMS.

It's a non-required capability for LMSs to implement, but it will make it a lot easier for the instructors to integrate Classroom on LMSs which do

[2019-07-12 18:26] stephaniegiang opened #1995 "Only allow one integration"
With Google Classroom and LMS integration being shipped around the same time, we want to make sure we are not allowing users to have more than one integration.

Requirements
- User cannot create another integration if one exists
- If user wants to connection to a different integration, they have to delete existing one beforehand

[2019-07-12 21:21] EricPickup opened #1996 "Classroom After-life Project"
Related to #602, #1976, and #438

Many teachers have requested the ability to archive/hide old classrooms. Currently their only option is to delete the classroom and all of its repos entirely, or leave the dead classroom in their dashboard which makes it difficult to find their active classrooms.

There's many ways we can handle the after-life of a classroom.

Teachers may want to archive the clas

[2019-07-12 21:25] EricPickup commented on #1996
Quick note:
- We can archive repos through the api however we **cannot** un-archive them through the github api. If teachers archive all of the student repos it cannot be undone through classroom.

I'm going to start on the first step (adding ability to hide/archive classroom in list). @d12 what do you think about the rest of these goals?

[2019-07-12 21:38] d12 commented on #1996
This is great! Thanks for writing this up. The main thing I'd like to change is to move that step 2 `Add ability to archive all assignment repos through github API` to the very end. I'd say it's the least important and least requested in the list.

When archiving Classrooms, let's do it in a way where we don't delete anything, we just move the classes to a different "archived classrooms" view or t

[2019-07-13 01:35] thebradbain opened #1999 "LTI AppSec Review"
Procure AppSec feedback and approval before release

https://github.com/github/appsec-reviews/issues/353

[2019-07-14 13:08] tarebyte opened #2000 "Missing compound indexes for uniqueness constraints"
As I was going through the application today I noticed that in almost every case where we are requiring [uniqueness via scope](https://guides.rubyonrails.org/active_record_validations.html#uniqueness).

Documentation: https://www.postgresql.org/docs/11/indexes-multicolumn.html

I'm opening up a tracking issue to keep tabs on these, it's not 🔥 urgent but as the app gets more traffic this is somethi

[2019-07-14 20:32] dependabot-preview[bot] opened #2002 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-14 20:58] dependabot-preview[bot] opened #2005 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-14 20:58] #2002 closed

[2019-07-15 05:44] dependabot-preview[bot] opened #2006 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-15 05:44] #2005 closed

[2019-07-15 16:09] d12 commented on #1926
Re-opening, #1983 removed our dependency on ElasticSearch but lets not close this until we've actually removed ES from our Gemfile, cleaned up any ES files/logic, and unprovisioned ES in Heroku.

[2019-07-15 17:28] stephaniegiang opened #2007 "LMS/GClassroom DataDog metrics"
Before official launch, we should add some DataDog metrics so we can get some data.

- [ ] Creation and deletion of LTI and Google configurations
- [ ] Number of imports (not syncs)

[2019-07-15 17:37] #1993 closed

[2019-07-15 17:41] stephaniegiang opened #2008 "One place for integrations"
Currently for LTI and Google Classroom integration, connecting to them are in completely different pages and process. To make it easier for teachers to connect to them, we should create one page for them.

[2019-07-15 20:45] EricPickup commented on #1971
Closed by #1989

[2019-07-15 20:45] #1971 closed

[2019-07-15 21:00] d12 opened #2012 "Investigate automatically running DB migrations in Heroku"
Currently, we deploy migration PRs and then `heroku run bundle exec rake db:migrate` to run the migration. We may be able to use https://devcenter.heroku.com/articles/release-phase to automatically run these migrations after the deploy release finishes.

[2019-07-16 05:45] #2006 closed

[2019-07-16 05:45] dependabot-preview[bot] opened #2015 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-16 05:45] dependabot-preview[bot] opened #2016 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-16 05:45] #2015 closed

[2019-07-16 15:01] EricPickup opened #2017 "Broken styling on continue button on classroom invite page"
The "Continue" button on the Classroom invite page (appears after creating a classroom) has blue font without hover which is inconsistent with the rest of our buttons in the application.

![image](https://user-images.githubusercontent.com/1490434/61305500-e9cf2a80-a7b8-11e9-8637-9b538841cd87.png)

[2019-07-16 15:34] EricPickup commented on #2017
Issue only existed locally

[2019-07-16 15:34] #2017 closed

[2019-07-16 20:48] stephaniegiang opened #2019 "Assignment sort default to student identifier"
There was an issue presented in https://github.com/education/classroom/pull/1889

The default for assignment sort is `created at` but we should default to `student identifier` instead.

[2019-07-16 21:08] #1994 closed

[2019-07-17 01:32] thebradbain opened #2023 "Untangle Google Classroom functionality from RostersController"
Currently, Google Classroom functionality is extremely coupled with `Orgs::RostersController` and its views, so much so that almost every action within `RostersController` interacts with Google Classroom in some way.

<img width="749" alt="Screen Shot 2019-07-16 at 6 22 41 PM" src="https://user-images.githubusercontent.com/2936741/61340375-e5296700-a7f6-11e9-9769-5e294d823d2c.png">

This doesn’t s

[2019-07-17 03:46] thebradbain opened #2024 "LMS Support Docs"
Compile support docs for configuring GitHub Classroom as an LTI Application on an LMS

[2019-07-17 05:45] #2016 closed

[2019-07-17 05:45] dependabot-preview[bot] opened #2025 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-17 06:09] thebradbain opened #2026 "Unified LTI Tool Provider"
In #1992 we moved various LTI services to under the `GitHubClassroom::LTI` model.

Now, we could further reduce initialization boilerplate by unifying this bag of services into a lightweight client, so that something unnecessarily verbose like (contrived example)

[code]

could be replaced with

[code]

[2019-07-17 13:27] d12 commented on #2023
Currently this is all in the rosters controller because all of the UI interactions with google classroom is on roster/show! We have a meeting today with @brandonrosage to discuss how to better design this feature which will help in this code untangling.

[2019-07-17 18:13] #2019 closed

[2019-07-17 20:22] stephaniegiang opened #2027 "Move configuration of Google Classroom to a higher level"
## TO-DO

- [x] Move the authorization of Google Classroom into the application controller
- [x] When creating a new classroom, ask for the user for the integration at the beginning
- [x] With existing classroom, add a button to `Classroom profile` tab/page so that they can connect Google Classroom

## CONTEXT
After speaking with @brandonrosage, we ironed out some details on where the configuratio

[2019-07-17 20:39] thebradbain commented on #2027
And it appears #2023 will be partly taken care of by this, too! 🥳

[2019-07-17 20:44] EricPickup commented on #1591
Update: The template repos feature is being slowly rolled out starting today. If all goes well I expect to roll out to all classrooms by Friday.

[2019-07-17 21:28] thebradbain opened #2029 "Ensure LMS User Flow consistent with Google Classroom"
**Action Items**

- [x] Move initial LMS Configuration setup flow into the Classroom Profile (Issue #2050)
- [x] When creating a new classroom, ask for the user about integration at the beginning
- [x] Remove dedicated LMS Configuration page from sidebar
- [x] Refer to the LMS by its official platform name on the front-end (e.g. Canvas, Blackboard, Moodle) rather than generic LMS/Learning Manageme

[2019-07-17 23:48] EricPickup opened #2031 "Option to publicize all student repos"
Related to #1996.

Teachers should have the ability to publicize all student assignment repos. A use-case is after the course is over, the teacher may allow the students to show off/access their work on their GitHub profiles.

A positive side-effect would be that this would make it easy to also privatize all student repos and add the ability to publicize/privatize the assignment and its repos _aft

[2019-07-18 00:22] EricPickup opened #2032 "Add ability to change repo into a template repo through classroom"
With template repos shipped out, I can't imagine how many people are going to see this issue when creating an assignment and trying to use template repos (default option):
![image](https://user-images.githubusercontent.com/1490434/61420367-e8842780-a8b6-11e9-9499-eee7dc4f2a85.png)

Thanks to @cheshire137 we will soon be able to copy branches with template repos which will allow us to remove the so

[2019-07-18 00:42] EricPickup commented on #2032
@femmebot What do you think about how we should approach this from a UX perspective?

To provide some context: We've adding the ability to import starter code using template repositories. The teacher enters the repository with the starter code which **must** template repository.

[2019-07-18 15:53] dependabot-preview[bot] opened #2035 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-18 15:53] #2025 closed

[2019-07-18 16:41] EricPickup opened #2036 "Grouping still created and out of sync when assignment validation fails"
**Describe the bug**
When creating a group assignment, if validation fails (e.g. title was blank) the grouping is still created. The list of existing teams is not updated on the form. If I try to enter that same new team name and submit we get a `ActiveRecord::RecordInvalid` because the group already exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to new group assignment form
2. C

[2019-07-18 16:43] EricPickup commented on #2036
This issue is appearing more frequently in the past day when teachers try to create an assignment using template starter code. It's common for teachers to forget to make the repo a template, raising an error on the form and making this issue easy to reproduce.

[2019-07-18 17:04] #1995 closed

[2019-07-18 19:35] stephaniegiang opened #2037 "ActionView::Template::Error"
ActionView::Template::Error

**[ActionView::Template::Error](https://haystack.githubapp.com/classroom/rollups/04af95995f467d51f44781c46c6459b7)** &mdash; First occurred on 2019-04-20 09:50:06 -0700

[code]

*Brought to you by Haystack's `!` hotkey.  Try it on a needle or rollup today!*

[2019-07-18 21:10] shaunakpp opened #2039 "ActionView::Template::Error"
**Needle**: https://haystack.githubapp.com/classroom/needles/YmQK5jIL7Eb4P2uwZMUDkw
**Rollup**: https://haystack.githubapp.com/classroom/rollups/ca7420a2466a97e9cb707cc61b95fefc

[code]

<table>
  <thead>
    <tr>
      <th>attribute</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>cause</td>
      <td><pre>NoMethodError: undefined method `user_login&#39; for #&lt;Assign

[2019-07-18 21:11] EricPickup commented on #2039
I noticed this happening when using stafftools search that @d12 updated. Good news is it's not user-facing. Bad news is, doesn't that mean the backfill didn't complete properly?

[2019-07-19 00:09] #1978 closed

[2019-07-19 14:43] d12 commented on #2039
Ah, this is just some old code trying to render a ActiveRecord object using logic written for ES objects. I'll update the logic today.

[2019-07-19 17:11] EricPickup opened #2046 "Remove porter from Classroom"
The source importer (porter) has been the # 1 issue in Classroom since it was launched.

With the new implementation of template repos (#1985) and the recently-added ability to copy branches using template repos (#2045), template repos now supports everything [Porter](https://github.com/github/porter) can do and is much quicker and more reliable.

Steps we should take before removing porter:
- [ ]

[2019-07-19 17:39] #2036 closed

[2019-07-19 18:41] #1968 closed

[2019-07-19 21:19] d12 opened #2049 "Migrate GitHub Classroom to a GitHub App + Improve On-boarding"
To date, GitHub Classroom has been an OAuth app. GitHub apps are the way forward and have more features. They also allow us to be more granular in the permissions we request from our users.

This will also allow us to rework our on-boarding experience. One of the biggest pain points teachers face is having to go to the OAuth installation page and click "grant" when they make a new org. There aren'

[2019-07-19 21:23] thebradbain opened #2050 "Move initial LMS Configuration setup flow into the Classroom Profile"
Moves initial LMS configuration flow to the profile page, rather than its own separate corner of settings.

See #2029 for further context.

[2019-07-19 22:41] stephaniegiang commented on #2023
I'm going to take this over. Since moving the Google Classroom to a new UI, I'm already doing a lot of this. So by the end of it, it should be entirely untangled!

[2019-07-19 23:37] #1948 closed

[2019-07-20 06:18] brghena opened #2053 "Templated Assignment Corrupts Some Files"
**Describe the bug**
I created a github classroom assignment using the new templating feature based off of a starter repo: https://github.com/61c-teach/su19-proj3-2-starter

When students created their private repos, however, some files in the starter code were zero byte files in their newly created repos. These were the two .jar files `logisim-evolution.jar` and `venus-cs61c-su19.jar`. Both are l

[2019-07-20 06:32] brghena opened #2054 "Pushing Updates to Templated Repos"
TLDR: What is the correct method for providing updates to templated repos?

We have been using github classroom for our student assignments with student code based off of a starter repo that they then make edits to. Not on each project, but at least a couple times a semester, we find bugs in the starter code, make a fix to our starter, and want to push the update out to students. For labs, we usua

[2019-07-20 14:50] #1941 closed

[2019-07-22 01:18] timalcon commented on #696
I can't delete an assignment, possibly because I deleted its associated repository first.  When I try, I get "500 internal server error".

[2019-07-22 06:30] thebradbain opened #2057 "Refer to an LMS by its Platform name"
Per #2029, we should refer to a Learning Management System by its official platform name on the front-end (e.g. Canvas, Blackboard, Moodle) rather than generic"/Learning Management System" or "LMS".

[2019-07-22 06:35] thebradbain opened #2058 "Upgrade pinned development version of PostgresQL"
Now that we've successfully upgraded the db in production and CI (#1894), we should update the pinned postgres version in development.

[2019-07-22 06:42] thebradbain opened #2059 "Remove Postgres 9.4 from CI"
Now that we've upgraded Postgres on production (#1894), we should remove the legacy version (9.4) from CI, since it's unnecessary to keep testing it alongside the current version (10).

[2019-07-22 06:42] thebradbain commented on #1894
Woo! Now that we've finally upgraded the db in production, I've created two followup issues re: tying up loose ends.

- [ ] Update pinned development environment version of postgresql to ensure consistency (#2058)
- [ ] Remove the old postgres version from CI, now that we're fully transitioned (#2059)

[2019-07-22 14:49] #2059 closed

[2019-07-22 14:50] d12 opened #2061 "Failure generating template repo"
https://haystack.githubapp.com/classroom/needles/iyHtuAzge-Y7_ckWHP23Rg

Classroom / Octokit::UnprocessableEntity
July 22, 2019 4:57:50 AM

cc @EricPickup @shaunakpp

[2019-07-22 14:55] d12 opened #2062 "Octokit::InvalidRepository"
**Needle**: https://haystack.githubapp.com/classroom/needles/K6O9yrlANYGDnCkh3grAAQ
**Rollup**: https://haystack.githubapp.com/classroom/rollups/ccc0f258be4e6d04197ebd636b1ccf96

[code]

<table>
  <thead>
    <tr>
      <th>attribute</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>action</td>
      <td>destroy</td>
    </tr>
    <tr>
      <td>class_name</td>
      <td>

[2019-07-22 14:59] d12 commented on #1926
As an update, I _believe_ all uses of ElasticSearch have been removed from Classroom. To close out this issue:

- [ ] Check ES provider for read/write activity. (We use a cloud provider through Heroku)
- [ ] Remove old ES logic in the app
- [ ] Remove ES related bootstrapping logic
- [ ] Remove ES gems
- [ ] Deprovision the service on Heroku
- [ ] Profit.

@andrewbredow Can I hand this off to you

[2019-07-22 16:31] EricPickup commented on #2053
Hi @brghena, thanks for reporting this. I was able to reproduce the issue you reported and will pass this on to the team that's in charge of template repositories.

[2019-07-22 16:55] brghena commented on #2053
Thanks for the response and reproducing the issue. Does this look like an issue with github classroom problem or a github-at-large one? Is there a public tracking issue for the problem?

The root of the questions is that right now I don't trust templates at all. How do I know when I should be willing to try them again?

[2019-07-22 17:08] d12 commented on #2053
Hey @brghena ,thanks for the report!

This is an upstream issue with GitHub template repositories. We're working with the feature team who owns the feature to get this resolved.

GitHub doesn't do public tracking issues, but I will do my best to keep you updated on progress in this issue. Me or @EricPickup will notify you when this is resolved.

[2019-07-22 17:11] d12 commented on #1924
cc @andrewbredow

[2019-07-22 19:18] d12 opened #2066 "Disable browser autocomplete on deadline text field"
<img width="627" alt="Screen Shot 2019-07-22 at 3 17 01 PM" src="https://user-images.githubusercontent.com/30920216/61658662-d548d180-ac93-11e9-9517-099c7c9b95e7.png">

The browser autocomplete is blocking the calendar. Let's :fire: the autocomplete on this field.

[2019-07-22 21:18] d12 commented on #1984
This is done. https://github.com/education/classroom/pull/2011

[2019-07-22 21:18] #1984 closed

[2019-07-22 21:19] #2057 closed

[2019-07-22 23:03] #2062 closed

[2019-07-23 10:30] danielmccluskey opened #2072 "Deadlines per student in roster"
### Feature request :sparkles:

A helpful feature would be to have separate deadlines per student on the roster for each assignment, so that it is easier to handle when a student submits a deadline extension request.

_e.g._

- Set a base deadline for all students on that assignment of 31st July at 15:00
- If a student requests a 7 day extension, I can set their individual deadline for that assign

[2019-07-23 13:27] d12 commented on #2072
Thanks for the feature request! We have a couple of ongoing large projects at the moment, but I'll add this to our list of things to address!

[2019-07-23 13:39] d12 opened #2073 "Improve deadline picker"
A couple of issues with the current deadline picker:

- [ ] Users can only pick times exactly on an hour. To get around that, teachers have to manually edit the ISO8601 datetime.
- [ ] If the datetime is edited and not perfectly formatted, clicking away from the textbox undoes all changes.
- [ ] Part of the string is the users time zone. We probably don't need to have this being user visible? They

[2019-07-23 17:50] shaunakpp opened #2075 "Move repo templates API logic to GitHubOrganization"
We just shipped the new repo templates feature! 🎉
As part of the quick ship and the evolving API for cloning repositories, we kept the logic for calling the API in the creators and now that the feature is deployed we can move the logic to `GitHubOrganization` and have a more consistent logic. Just like we have `GitHubOrganization#create_repository` we could have a method for repo templates on the

[2019-07-23 17:51] EricPickup commented on #2075
Already working on this in a PR! 😄

[2019-07-23 17:51] d12 commented on #2075
:100:, sounds good to me!

[2019-07-23 19:06] #2058 closed

[2019-07-23 19:46] EricPickup commented on #2032
@femmebot this would be a user error due to a change we made which requires users to change old behaviors (if they use the template option).

We already decided how we're going to handle it though, it's in the description under the strikethrough text.

[2019-07-23 21:44] thebradbain opened #2082 "LMS UX Flows"
Provide UX stories for tasks we anticipate our users to do to better gather feedback (from both our designers and our testers).

Currently, these cover the most commonly anticipated use-cases of configuring an LMS and also importing a roster from the LMS. You'll notice the creation flow differs whether its Google Classroom or a standard LMS we're integrating, and would love your thoughts on which

[2019-07-23 21:47] shaunakpp opened #2083 "Help doc for use of template repos in classroom"
### Feature request :sparkles:

Template repos was recently shipped for classroom. It would be helpful for everyone to know what features we get for using the template repos instead of importer code for generating assignments.
The help document could cover the following points:
- Features we get with template repos
- Features we miss out on
- Recommended option based on the type of assignment
- He

[2019-07-23 21:56] shaunakpp opened #2084 "Next iteration for improving UIUX of our help docs"
### Feature request :sparkles:

Currently we have a help section for classroom at https://classroom.github.com/help. It is working great and at `v1` and also supports markdown now courtesy of #1794.  But we would like to work on the next iteration by making it more consistent with the [GitHub Help](https://help.github.com/en) design.

CC: @femmebot @sophshep @d12

[2019-07-23 22:07] EricPickup commented on #602
@femmebot @sophshep I'd love to get your opinions on how we can design an "Archived classrooms" section or page. This is what the current main page looks like, which shows all classrooms:

![image](https://user-images.githubusercontent.com/1490434/61750847-54550d00-ad5b-11e9-8911-c76f69b0e6f9.png)

[2019-07-23 22:31] BenEmdon commented on #1647
This issue could be resolved if Classroom became a GitHub app #2049

[2019-07-24 14:13] d12 commented on #2084
Making it more consistent with GitHub Help is my suggestion, but I will defer to our design managers as the domain experts :)

[2019-07-24 16:13] #2039 closed

[2019-07-24 16:50] sophshep commented on #2082
Thanks for sharing these yesterday on a call, and here in the doc! I left some specific feedback as comments in the doc.

Overall, I don't feel that one makes more sense over the other since they are somewhat similar. Instead, my feedback for both is to decide whether customization should happen during the creation flow or after, and to separate creation/onboarding from the classroom itself. Right

[2019-07-24 17:05] d12 commented on #2082
I'm a fan of # 1 personally. I'd like to do deeper investigations into both options in the future though :)

[2019-07-24 17:19] EricPickup commented on #602
@femmebot currently classrooms are sorted by creation date.
These comments on the issue describe the problems we want to solve:
https://github.com/education/classroom/issues/602#issuecomment-384097275
https://github.com/education/classroom/issues/602#issuecomment-446763379

To solve this, we're introducing classroom archiving. We already have a button in the classroom settings page (under a featur

[2019-07-24 17:20] robwhess commented on #602
I'll chime in again to second @phannan's suggestion to simply sort classrooms newest first.  Right now, it looks like classrooms are sorted oldest first.  If you have a lot of classrooms (which I do, since I have one classroom per course, and I teach 2-3 courses per term), then your current classrooms don't even show up on the first page, and it takes some work to get to them.  I'd rather have qui

[2019-07-24 17:30] EricPickup commented on #602
Thanks for all of your input @robwhess. I'll create another issue to add sorting functionality to the classroom dashboard, and keep in mind that we should disable all assignments when archiving.

[2019-07-24 17:34] EricPickup opened #2085 "Sorting classroom dashboard"
### Feature request :sparkles:
This issue/comment describes it all: https://github.com/education/classroom/issues/602#issuecomment-514722539

Currently the classroom dashboard sorts classrooms by date created (oldest first) and 12 per page. For teachers who use Classroom for multiple classes for multiple terms, this can make it very difficult to find their active classrooms.

We already have searc

[2019-07-24 18:11] thebradbain commented on #2085
This should be very easy from a backend perspective thanks to #1889. #1982 specifically uses the new functionality introduced in it for searching on cached github attributes, and may be a little easier to digest.

[2019-07-24 19:34] EricPickup opened #2086 "Styling breaks when there's an error on classroom settings form"
**Describe the bug**
We have some style issues when an error comes up on the manage classroom page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Manage classroom"
2. Make the classroom title blank
3. Save

**Screenshots**
**Before:**
![image](https://user-images.githubusercontent.com/1490434/61822791-4791f100-ae0f-11e9-8e96-53fc549a0fec.png)

**After:**
![image](https://user-images

[2019-07-24 20:11] d12 commented on #2084
@femmebot We have access to a contractor for professional writing / docs if needed!

[2019-07-24 20:35] sophshep commented on #2084
I agree! @shaunakpp you mentioned that it's working great, what is the impetus to change it / make it like the main help site?

[2019-07-24 20:55] shaunakpp commented on #2084
Hi @sophshep and @femmebot! Thank you so much for taking a peek at the docs. Well we don't need to change the docs on priority, but there are a few things we'd love to have:

-  Re-iterating on what @femmebot mentioned, a quick start section, there are video tutorials for that, but they are a bit outdated
- The Help page looks like a large bullet list of links, so maybe a search section like GitHu

[2019-07-24 22:27] #2075 closed

[2019-07-25 03:56] rtoal opened #2092 "Joining GitHub Classroom without exposing organization repos"
Hello. When I try to join GitHub classroom I am taken to an Authorization Page. It says that the GitHub classroom app would like to access my github account which is tied to 7 organizations. Two of the organizations have a green check; three have a Request button; two have a Grant button.

The authorization widget says that the app is asking for permissions that include creating and managing organ

[2019-07-25 04:24] #2092 closed

[2019-07-25 04:24] rtoal commented on #2092
Figured it out

[2019-07-25 06:53] waqarsaleem opened #2093 "Download Repositories disabled for Assignment with Repositories"
**Describe the bug**
The __Download Repositories__ button is disabled for an assignment even though students have created repositories for it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the relevant assignment in GitHub Classroom.
2. Click on the __Download Repositories__ button.
3. No scrolling necessary.
4. See the error below. The button is grayed out even though student reposi

[2019-07-25 16:11] robwhess commented on #602
Thanks @EricPickup!

[2019-07-25 16:43] stephaniegiang commented on #2093
Hi @waqarsaleem 👋 thanks for the report!
Took a look into this and it seems like if not all students accepted the assignment, the button is disabled. This is isn't the expected behavior.

We will let you know here, when this is resolved.

[2019-07-25 17:14] d12 commented on #2093
cc @srinjoym

[2019-07-25 17:47] GQuirino commented on #2066
can i take a look this issue?

[2019-07-25 17:49] d12 commented on #2066
Please! Ping me on this issue or a PR if you need a hand :)

On Thu., Jul. 25, 2019, 1:48 p.m. Guilherme Quirino, <
notifications@github.com> wrote:

[2019-07-25 18:01] #2093 closed

[2019-07-25 18:11] iancanderson opened #2095 "Upgrade to Rails 5.2.x"
Rails 6 is almost stable, so let's get on 5.2.x now!

https://guides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-5-1-to-rails-5-2

[2019-07-25 22:22] #2066 closed

[2019-07-25 22:56] shaunakpp opened #2098 "ActionView::Template::Error"
**Needle**: https://haystack.githubapp.com/classroom/needles/5oOgZwoXgSAfwz1QmUEtRw
**Rollup**: https://haystack.githubapp.com/classroom/rollups/d7feb3b7a09eebd9ecebae5b0246a268

[code]

<table>
  <thead>
    <tr>
      <th>attribute</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>action</td>
      <td>accept</td>
    </tr>
    <tr>
      <td>cause</td>
      <td><pre>N

[2019-07-26 06:31] waqarsaleem commented on #2093
Thanks @stephaniegiang for the quick action. I downloaded the repositories manually yesterday but am glad that I will be able to do it automatically in the future.

[2019-07-26 20:50] shaunakpp opened #2108 "NoMethodError"
**Needle**: https://haystack.githubapp.com/classroom/needles/0Vg5Mbg6uqVBi3QBi8BEjA
**Rollup**: https://haystack.githubapp.com/classroom/rollups/5fc5cde413e46633aefbaaaf10ab2736

[code]

<table>
  <thead>
    <tr>
      <th>attribute</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>action</td>
      <td>clone_url</td>
    </tr>
    <tr>
      <td>class_name</td>
      <t

[2019-07-27 02:48] ramlaxman commented on #721
Thanks for updating. I'm really excited to use it and share the feedback.

[2019-07-27 04:00] belgort-clark opened #2111 "Students are not given access to their repos on acceptance of an assignment"
**Describe the bug**
When a student accepts an assignment, they don't have access to the repository. The student repos are private for the assignment. I had to manually add them as a collaborator.

**To Reproduce**
Steps to reproduce the behavior:
1. Student accepts assignment
2. Tries to clone down the assignment using the URL after repo creation
3. Student cannot access repo
4. The instructor ha

[2019-07-27 04:34] EricPickup commented on #2111
Hi @belgort-clark, I'm taking a look at this right now. Would you be able to provide some more context such as whether this was a group or individual exercise, how often this is occurring when your students accept the assignment, and the assignment link if possible?

[2019-07-27 04:38] belgort-clark commented on #2111
Hi!

Here are the two assignments experiencing the problem:

https://classroom.github.com/classrooms/16167463-ctec-121-summer-2019/assignments/module-3-problem-set-no-3

https://classroom.github.com/classrooms/16167463-ctec-121-summer-2019/assignments/module-3-problem-set-no-4

It's an individual exercise and started happening today.

Does this help?

[2019-07-27 14:41] belgort-clark commented on #2111
@EricPickup were you able to reproduce the error?

[2019-07-27 15:15] belgort-clark commented on #2111
A student just created a repo via an assignment and their name was in fact on the list of collaborators.

[2019-07-27 17:17] EricPickup commented on #2111
@belgort-clark I wasn’t able to reproduce the issue but I’ll leave this open for now in case it comes up again.

[2019-07-27 17:19] belgort-clark commented on #2111
Thanks. I will keep an eye on new repos to see if the students are being added correctly. Thank you for your assistance.

[2019-07-28 22:36] stephaniegiang commented on #1943
Just an update on Google Classroom. V1 for roster import is done. Further functionality of Google Classroom will be worked on in the near future.

[2019-07-29 09:43] RonaldAJ commented on #1824
As far as I know the issue is still unsolved and needs a solution.

[2019-07-29 13:42] d12 commented on #721
Hey @ramlaxman ! We're targeting an August 13'th ship date right now. I'll update this issue again when we ship :)

[2019-07-29 14:02] ramlaxman commented on #721
Thanks for the great work and contribution. @d12 and all.

[2019-07-29 14:50] adamfdotnet commented on #721
Hi. Is there a reason why you are only focused on Google Classroom and not a standard integration with other LMSs via LTI? This would be far more useful for use at universities as very few use Google Classroom. Or am I misunderstanding something? Thanks.

[2019-07-29 15:08] d12 commented on #443
https://github.com/education/classroom/issues/721 is tracking progress. We're targetting a launch of August 13'th for roster sync from LTI tools to Classroom.

[2019-07-29 15:10] d12 commented on #721
@adamfdotnet Thanks for noting that, I've changed the issue title to be more accurate. Google Classroom isn't an LTI tool which is why development for it has been separate, but we are also launching LTI integration alongside Google Classroom integration!

[2019-07-29 16:03] femmebot opened #2115 "Suggested improvement for Enable assignment URL functionality"
### Problem

Currently, the functionality for enabling the assignment URL lacks context for what it does. Since it's located within the assignment creation flow, it's divorced from the actual URL itself. Conversely, once the assignment has been created and the user is shown the assignment URL, we don't provide any feedback to indicate whether the URL is enabled or not.

### Proposal

Relocate the

[2019-07-29 16:44] #2098 closed

[2019-07-29 17:17] stephaniegiang commented on #2023
Now completely removed from Rosters Controller 🎉
PR #2074

[2019-07-29 17:17] #2023 closed

[2019-07-29 17:18] stephaniegiang commented on #2008
This was done in https://github.com/education/classroom/pull/2089

[2019-07-29 17:18] #2008 closed

[2019-07-29 17:19] stephaniegiang commented on #2027
This is done in https://github.com/education/classroom/pull/2038

[2019-07-29 17:19] #2027 closed

[2019-07-29 20:16] stephaniegiang opened #2116 "Need to re-check user authenication"
This issue happens when a user goes to Google and removes GitHub Classroom from their authorized applications.

To fix this, we need to ask the user to re-authenticate.

Google::Apis::AuthorizationError

**[Google::Apis::AuthorizationError](https://haystack.githubapp.com/classroom/rollups/410639761472c358cf1b15f929b114cb)** &mdash; First occurred on 2019-07-29 13:06:20 -0700

[code]

*Brought to y

[2019-07-29 21:43] BenEmdon commented on #1824
@EricPickup worked on a similar bug recently. Eric, any idea what is going on here?

[2019-07-29 22:18] #2108 closed

[2019-07-30 14:47] Sallenmoore opened #2123 "Multiple Repositories Created from Clicking Assignment Accept Link once"
When clicking on an assignment link once, multiple repositories are created with the '-n' suffix.
I have verified that this happens to almost all students, and that they are only clicking the assignment link one time.

[2019-07-30 15:01] d12 commented on #2123
@Sallenmoore I tried reproducing and didn't get multiple repositories created. Could you specify exactly how you're reproducing? Thanks

[2019-07-30 15:43] Sallenmoore commented on #2123
I am just clicking on the accept assignment link. Here is a screenshot:
<img width="528" alt="Screen Shot 2019-07-30 at 10 44 32 AM" src="https://user-images.githubusercontent.com/520255/62144110-3dfd0300-b2bf-11e9-9979-e17498426cee.png">

[2019-07-30 16:40] stephaniegiang commented on #2123
Hello 👋
Just have a question, for the assignment are you using the source importer or template repos?

[2019-07-30 16:52] Sallenmoore commented on #2123
For that assignment, I used the template repository. I switched to the template repositories because I was hoping it would fix the problem (and they are a great idea!). However, I believe the problem occurred on both kinds of repos.

[2019-07-30 17:13] stephaniegiang commented on #2123
Could you give us the classroom name where this is happening?

[2019-07-30 17:21] stephaniegiang opened #2125 "Remove archived Google classes from index and search"
Currently, we display all classrooms in Google including the archived ones.

To fix this, we just need to check the field `course_state`.

`"courseState": "ARCHIVED"`

[2019-07-30 17:40] Sallenmoore commented on #2123
binghamtonuniversity-cs110

Here is the url as well:
https://classroom.github.com/classrooms/34315140-cs-110-introduction-to-programming-with-python

-- Steven A Moore

On Tue, Jul 30, 2019 at 1:13 PM Stephanie Giang <notifications@github.com>
wrote:

[2019-07-30 20:16] #2007 closed

[2019-07-30 21:07] stephaniegiang commented on #2123
We are adding some debugging info to the application. We will get back to you on this issue once we collected some data on this.

[2019-07-30 22:44] stephaniegiang opened #2129 "ActionView::Template::Error"
ActionView::Template::Error

**[ActionView::Template::Error](https://haystack.githubapp.com/classroom/rollups/8416a3bdc340dbe731e8f5be06d8887a)** &mdash; First occurred on 2019-07-24 01:20:59 -0700

[code]

*Brought to you by Haystack's `!` hotkey.  Try it on a needle or rollup today!*

[2019-07-30 22:45] stephaniegiang commented on #2129
This just started to occur this Wednesday (July 24)

[2019-07-31 16:35] stephaniegiang opened #2131 "ArgumentError"
**Needle**: https://haystack.githubapp.com/classroom/needles/DBtGX0oi5x53ssNwMkONRg
**Rollup**: https://haystack.githubapp.com/classroom/rollups/f20e477b05d1f878e5742c62871077b2

[code]

<table>
  <thead>
    <tr>
      <th>attribute</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>class_name</td>
      <td>ArgumentError</td>
    </tr>
    <tr>
      <td>method</td>

[2019-07-31 18:13] shaunakpp opened #2135 "ActionController::RoutingError"
**Needle**: https://haystack.githubapp.com/classroom/needles/76oZBMIRsPAgYMQ5mCvvlw
**Rollup**: https://haystack.githubapp.com/classroom/rollups/c96bd2bd7032590db5e18d08260f97b9

[code]

<table>
  <thead>
    <tr>
      <th>attribute</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>cause</td>
      <td><pre>NameError: uninitialized constant API::OrganizationsController<b

[2019-07-31 18:38] #2116 closed

[2019-07-31 22:18] EricPickup opened #2138 "Sync Google Classroom archiving with GitHub Classroom"
With our Google Classroom integration, we can make archiving a class in GitHub Classroom archive the class in Google Classroom.

We should decide if we want to do this automatically or with a prompt.

cc @stephaniegiang

[2019-07-31 22:22] stephaniegiang commented on #2138
@d12 what do you think?

I think it would be cool for teachers in the end of the semester, to go through classrooms they want to archive and then also archive the google ones at the same time.

But, this is something that I think would differ fro the other LMSs as that is not a functionality we could do.

[2019-07-31 22:37] #2135 closed

[2019-07-31 22:52] EricPickup opened #2139 "Automatically disable assignment invitations when classroom is archived"
Originally requested here: https://github.com/education/classroom/issues/602#issuecomment-514722539

We should disable assignment invitations for all assignments when we archive a Classroom.

I'm thinking we add something to the archive button description that informs teachers of this behavior, and also a message to the unarchive description that tells them that their assignment invitations are al

[2019-08-01 00:14] thebradbain opened #2141 "Add search and sort component on relevant views"
As mentioned in #2140, adding search and sorting to any given view is now almost as simple as just rendering the shared search and sort component. Since it's low hanging fruit, we may as well add it to views where it could enhance the user experience:

- [x] Course dashboard
- [x] Assignment repos list with roster
- [x] Assignment repos list without roster
- [x] Group assignment repos list
- [ ] C

[2019-08-01 00:28] EricPickup opened #2145 "Add prompt for classroom archiving"
We should add a confirmation prompt modal when archiving classroom since it makes some irreversible (can be fixed manually) changes by disabling assignment invitations (#2143).

[2019-08-01 05:19] brghena opened #2147 "Don't count student commits toward user contribution activity"
### Feature request :sparkles:
This is obviously low priority, but one really annoying feature of Github Classroom is that it wrecks the "Contribution Activity" of whoever set it up.

For example, on [my Github profile](https://github.com/brghena) it says that in July I had 1991 commits in 548 repositories. While I did feel like it was a productive month, I think I can only claim about 100 of thos

[2019-08-01 14:28] d12 commented on #2147
Hey!

This is a great feature request, you're totally right, GitHub will associate all the starter code commits to your own account.

One way to lessen that a bit is to use the new template repo way of using starter code. Docs aren't published yet, but I can point you towards the in-progress PR: https://github.com/education/classroom/pull/2110

The only way this helps is by collapsing starter code

[2019-08-01 15:32] d12 commented on #2138
Let's hold off on this for now. I'd like to keep the integration functionality the same between all LMS's for now until we decide there's a good enough reason to start diverging. As soon as different LMS's have different functionality, user messaging gets a lot more complicated.

[2019-08-01 18:29] #2125 closed

[2019-08-01 22:25] jeffrafter commented on #2053
Hi @brghena, thanks for the report. We're working on this problem internally but I wanted to give an update:

- Previously the template mechanism was limited to files less than 1 megabyte. We'd like to increase this to something much larger in the near future, but for now we have expanded it to 10 megabytes (max per file); though I'll note that this still wouldn't have solved the problem for your

[2019-08-01 22:26] #2083 closed

[2019-08-01 22:31] #2138 closed

[2019-08-02 14:24] wolfieorama commented on #2073
anyone on this issue ? if not willing to take it up as my first contribution

[2019-08-02 14:28] d12 commented on #2073
Yes please!! That'd be great @wolfieorama

[2019-08-02 14:28] wolfieorama commented on #2073
cool on it @d12

[2019-08-02 20:00] #1946 closed

[2019-08-02 21:57] thebradbain opened #2162 "LTI Certification Process"
Now that we're in the home stretch and most all the LTI functionality is set in place, we should be in a good place to start the [certification process](https://www.imsglobal.org/lti-certification-suite)! We will be targeting **LTI 1.1** (which also covers LTI 1.0) as a **Tool Provider**.

The process consists of two phases:

1. Running the semi-automated certification test suite
2. Submitting tho

[2019-08-02 23:59] thebradbain opened #2166 "Remove `:get` matcher for routes which don't need them"
From the AppSec discussion [here](https://github.com/github/appsec-reviews/issues/353#issuecomment-517688280), @forced-request pointed out possible insecurities with accepting `GET` requests for a couple routes, not all related to the LMS integration. I won't describe what they are publicly because they're marked `critical` but, the first two can for sure immediately be changed to only match `POST

[2019-08-05 17:17] #2145 closed

[2019-08-05 17:54] #2086 closed

[2019-08-05 18:57] d12 commented on #1907
Hey @AmeliaMN , thanks for the feature request!

As you noticed, we currently don't have any student-facing interfaces besides the assignment acceptance flow. We'll do a bit of investigation into what this might look like and how this might work, and get back to you soon!

[2019-08-05 22:22] #2139 closed

[2019-08-06 16:51] thebradbain opened #2179 "Add LTI 1.0 Support"
Part of the LTI 1.1 certification requires being backwards-compatible with LTI 1.0 messages, even though 1.1 has a different message response format (replaces XML with JSON, and whether the OAuth signature is in the request headers or the body). Fortunately it's a pretty straightforward fix, and we will now have out-of-the-box support for LMSs which haven't yet implemented LTI 1.1 but do support L

[2019-08-06 18:14] d12 commented on #1140
As another note here, there's opportunity to improve the entropy of the invitation links to lower the possibility of students joining a wrong assignment through typo or via malicious means.

Our keys are b64, 6 chars, which means 68 billion combinations. Upping this to 8 chars would mean 281,474 billion combinations which I feel is sufficiently large.

There's room for investigation here into how

[2019-08-06 18:19] bulletshot60 commented on #1140
Just to comment again on what we've wound up doing at my University.  We use Canvas which is accessible only by University students.  We put the assignment link in the Canvas assignment description (or as an external tool).  This way the URL is not available until we're ready for it to be, and it is only accessible to University students enrolled in the course.

(Due to the keys being b64, I'm not

[2019-08-06 18:20] JarrettBillingsley commented on #1140
I know you probably can't say when it'll be done, but is there a chance this might be ready in time for the fall semester (by the end of August)?

[2019-08-06 18:25] d12 commented on #1140
Thanks for the update @bulletshot60 :)

@jarrettBillingsley There is still some investigation needed to be done. Rosters are very lightweight and self-serve at the moment, we'd need to add a decent bit of functionality to have "verified" students, whether that be via email address on their GitHub profile or via one-time-use personalized invitation URLs.

Let me get some thoughts from our engineeri

[2019-08-06 18:45] gcschmit opened #2182 "Can't Push to Repository Cloned using Classroom"
**Describe the bug**

When student repositories are cloned using Classroom Assistant, I receive an error when trying to push any changes that I make to these repositories. This does not occur when I clone the repositories using GitHub Desktop or git in a terminal.

**To Reproduce**

Steps to reproduce the behavior:

1. In Classroom Assistant (1.0.5), specify the assignment, choose repositories, ch

[2019-08-06 19:42] andrewbredow opened #2183 "Open Appsec Review for Google Classroom"

[2019-08-06 20:05] EricPickup opened #2184 "Add support for bulk API-calling jobs"
The after-life project will introduce a lot of bulk changing features (publicize **all** repos in a classroom, transfer ownership, archive, etc.). We also already have the `RepositoryVisibilityJob` (https://github.com/education/classroom/blob/master/app/jobs/assignment/repository_visibility_job.rb) that changes the visibility of all repos in an assignment when we switch the assignment between publ

[2019-08-06 20:46] shaunakpp opened #2185 "SignalException raised on deployment"
Whenever we deploy, our exception tracker gets noisy with the `SignalExcpetion` due to `Puma` receiving a SIGTERM. This is an expected behavior and should not be raised. It can be fixed adding `raise_exception_on_sigterm(false)` to our Puma config.

More information here:

https://github.com/puma/puma/pull/1690

**Needle**: https://haystack.githubapp.com/classroom/needles/zMtX4AGAjJVlre9rBQyzOA
**

[2019-08-06 23:37] #2085 closed

[2019-08-07 16:12] dicer2000 commented on #1356
I'm having this same problem.  Was it resolved for you?

[2019-08-07 16:18] dicer2000 opened #2190 "Error Linking Student to their Github Account"
**Describe the bug**
When I try to link a student to their Github account, I get an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings => Roster Management
2. Click on Link to GitHub Account
3. "Select an unlinked GitHub account to link this student to"

**Expected behavior**
Expected to enter a GitHub account for this student.  Am I missing something?

**Screenshots**
![S

[2019-08-07 16:57] #2179 closed

[2019-08-07 16:59] EricPickup commented on #2190
Hi @dicer2000 👋
This is most likely because no GitHub users have accepted the assignment or all the users have already been linked to a roster entry. When your students accept the assignment they will be able to select their identifier (looks like you use names) in the roster list to link their GitHub account to the roster entry.

![image](https://user-images.githubusercontent.com/1490434/62641925

[2019-08-07 17:01] EricPickup opened #2191 "Create help docs for roster management"
Roster management can be pretty confusing for first-time users. We've seen confusion in user testing sessions (cc @stephaniegiang) and various issues like this: https://github.com/education/classroom/issues/2190.

We should add help docs to help teachers understand exactly how rosters work.

[2019-08-07 17:01] #2050 closed

[2019-08-07 17:01] #2029 closed

[2019-08-07 17:05] thebradbain opened #2192 "Create LMS/Google Classroom roster import support docs"
We already have support docs regarding setting up an LMS integration, but we should also have a specific guide illustrating how to import students from an LMS once they've successfully setup the integration, as mentioned in #2171.

[2019-08-07 17:08] EricPickup commented on #2192
If this is solely for importing the roster from LMS we could probably add it to the same doc as #2191

[2019-08-07 17:10] EricPickup commented on #2061
Closing this since we haven't seen it in a long time, assuming it was unintentionally fixed!

[2019-08-07 17:10] #2061 closed

[2019-08-07 20:17] srinjoym commented on #2182
👋 @gcschmit Thank you so much for writing in! Unfortunately, this is a known limitation of Classroom Assistant since we use a temporary token to clone the repository from GitHub (we decided to do this so that Classroom Assistant wouldn't have to be its own OAuth app).

The workaround right now is to either clone the assignment again (since the tokens would be refreshed) or manually replace the URL

[2019-08-07 20:17] #2182 closed

[2019-08-07 20:19] shaunakpp commented on #2185
solved by #2186

[2019-08-07 20:19] #2185 closed

[2019-08-07 20:41] greg-longo opened #2197 "Not permitted to add organization as a classroom"
I'm following the steps [https://www.youtube.com/watch?v=MjYiNdFsvzI&feature=youtu.be](url) provided to add my organization to a classroom.  I did the following:

- Created a new organization
- Went to classroom.github.com
- Clicked 'Create your first classroom'
- Granted access to GitHub classroom
-  Returned to classroom, refreshed, and attempted to "Select an organization for your new classroom

[2019-08-07 20:59] d12 commented on #2197
Hey! Thanks for raising this issue, we did a bit of digging and caught a few bugs in the codebase. I've opened https://github.com/education/classroom/pull/2198 to fix them up, but in the mean time, I've manually fixed your user account. You should be good to go :)

[2019-08-07 20:59] #2197 closed

[2019-08-07 21:04] d12 opened #2199 "Next steps for user caching work"
We have some cool caching logic here which saves us a lot fo API requests when rendering views: https://github.com/education/classroom/blob/ad27303e55660d93503977e81aa319691d21e76a/app/models/github_model.rb#L56

It's a simple write-through cache that only makes an API request if we need to. There's also a (use_cache: false) kwarg to skip the cache when needed.

Two problems:

1) We don't have a s

[2019-08-07 21:55] EricPickup opened #2202 "NotFound when hitting templates API endpoint to generate repo from certain templates"
We've been investigating this issue for a while without success.

Haystack: https://haystack.githubapp.com/classroom/rollups/5b37ca2f1b25097be9b95d0d34f3e299

Certain template repos will return a NotFound error when hitting the `/repositories/:id/generate` or `/repos/owner/name/generate` endpoints to create a repository from a template repo. Most of these failures are with private repos so we don'

[2019-08-07 23:05] jeffrafter commented on #2202
We're now able to reproduce this issue. The problem happens when the organization that owns the repository (even a public repository) restricts third party access:

![](https://rpl.cat/uploads/VoHmmN0KLE3YHIfSafoSMb5WJkeNl7Kpw4PoQnSu9oM/public.png)

[2019-08-07 23:06] stephaniegiang commented on #1942
Done in #2177 and #2178

[2019-08-07 23:06] #1942 closed

[2019-08-07 23:12] shaunakpp commented on #1926
I believe https://github.com/education/classroom/pull/2107 takes care of most of the above checkboxes

[2019-08-07 23:20] greg-longo commented on #2197
Thanks!

[2019-08-08 00:17] shaunakpp commented on #2012
We can add the following release command in our `Procfile` and get this working:

`release: bin/rails db:migrate`

Should we test it on a demo instance of classroom?

[2019-08-08 14:56] d12 commented on #2012
Nice, this _should_ work. Do you know if this plays nicely with multiple dynos on Heroku?

[2019-08-08 23:21] shaunakpp opened #2210 "Move adding students in a Roster to a background job"
### Feature request :sparkles:

Currently, we when add students to an existing Roster, we do it within the request-response cycle. So if someone uploads a large `.csv` file or adds a large list of students, it takes a long time for the upload to happen. Also if there's a timeout or an error in adding those entries, we rollback all of them, which also takes a lot of time.

Moving this process to a

[2019-08-08 23:40] stephaniegiang opened #2212 "Deleting roster entries that are not associated with an active roster"
We currently do not delete roster entries when we delete a roster.

With this PR https://github.com/education/classroom/pull/2211 we should think about running a job to delete the 61,000+ roster entries that are not associated to a roster.

[2019-08-09 00:05] shaunakpp commented on #2012
Good catch! I'll check it out.

[2019-08-09 16:23] #2162 closed

[2019-08-09 16:26] thebradbain opened #2216 "Change occurrences of "Learning Management System" to "learning management system""
As identified in #2201, Learning Management System is not a proper noun. We should also change occurrences within GitHub Classroom to ensure consistency with the support docs.

[2019-08-09 17:34] EricPickup commented on #2123
Just had this issue pop up again. Created an assignment, accepted it, got "Success" in creation progress bar then the page refreshed and restarted the creation. Ended up with 3 repos. Happened again the next time with only 2 repos created. I wasn't able to reproduce it again afterwards.

[2019-08-09 20:02] #2216 closed

[2019-08-09 20:07] kurmasz opened #2219 "Can't clone template repos from another organization"
I just set up my first GitHub classroom assignment. Everything looks good on my end; but, when my student attempts to follow the invitation link, he gets this error:

"Starter code template repository was not found. The repository might be deleted, or the organization that owns the repository has restrictions on third-party access. (Resource could not be found on github.com)"

The GitHub classroom

[2019-08-09 20:20] EricPickup commented on #2219
Hi @kurmasz, thanks for the detailed report. This is an issue we've been investigating for a while.

The link you provided is for installing a GitHub App, however GitHub Classroom is currently an OAuth Application.

Could you navigate here on your organization that the repo belongs to (`kurmasz-assignments`)?
`Organization -> Settings -> Third-party access` and tell me if you have any applications

[2019-08-09 20:32] kurmasz commented on #2219
I solved my problem; but, there may be a related bug.

 Before I got your email, I found this link on the web: https://github.com/settings/connections/applications/64a051cf1598b9f0658f
and it allowed me to authorize the Classroom app in the kurmasz-assignments repository.

However, when I go to Organization -> Settings -> Third-part access for a different organization that has not yet authorized G

[2019-08-09 20:44] EricPickup commented on #2219
Glad you were able to work it out. This information helps a lot. We're working to improve this as much as possible, thanks @kurmasz!

FYI the images you replied with weren't posted for some reason (maybe because you replied through email).

[2019-08-09 21:12] stephaniegiang commented on #2123
Looking into this, I will update this issue 😄

[2019-08-09 22:11] EricPickup opened #2222 "Teachers using private repo belonging to their user account"
A lot of teachers have been using private repos created on their **user** account (rather than on the org) as their starter code repo.

This isn't an issue when they create the assignment because we're querying that repo on their behalf. The repo is accessible.

However, when a student accepts that assignment, we pick a random org owner's token to create a repo on the classroom org. If that random

[2019-08-09 22:44] #2219 closed

[2019-08-09 23:47] EricPickup commented on #2115
@femmebot If we were to change the URL copy button styling we should reflect those changes application-wide, right?
e.g. the classroom index page:
![image](https://user-images.githubusercontent.com/1490434/62814368-57732b80-bac5-11e9-9fed-dec3bc56a4f4.png)

If so I think we should do that in a separate PR from #2223 where we can update it application-wide, what do you think?

[2019-08-10 08:48] shaunakpp commented on #2012
So the [Heroku official blog](https://blog.heroku.com/announcing-release-phase-run-tasks-before-new-release-deployed) about release phase mentions that release phases run in [one-off dynos](https://devcenter.heroku.com/articles/one-off-dynos), which is equivalent to booting up the console and running the migration manually, but ensuring that the deployment will fail if the release phase failed.
An

[2019-08-10 08:52] shaunakpp opened #2224 "Consider Heroku Review apps for deploying branches"
With the recent update causing us to go into maintenance mode for a while, we can consider enabling [review apps](https://devcenter.heroku.com/articles/github-integration-review-apps)
for Classroom. It can help us deploy branches in a production-like environment, without affecting the availability of Classroom.

cc: @d12 @andrewbredow

[2019-08-11 20:41] BenEmdon commented on #1611
This might be a good candidate issue for the classroom roadmap
CC: @d12 @education/classroom-reviewers

[2019-08-11 21:02] dependabot-preview[bot] opened #2225 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-08-11 21:02] #2035 closed

[2019-08-12 05:41] #2225 closed

[2019-08-12 05:41] dependabot-preview[bot] opened #2226 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-08-12 13:43] andrewbredow commented on #2224
@shaunakpp Agreed... as long as we're in Heroku-land, we should take advantage of review apps. Adding to our backlog for operationalizing.

[2019-08-12 14:59] d12 commented on #1253
Closing in favor of many other more up-to-date issues.

https://github.com/education/classroom/issues/1591
https://github.com/education/classroom/issues/2046

Template repos are now enabled as an option for our users, we're working on fixing up some bugs and improving UX and messaging.

[2019-08-12 14:59] #1253 closed

[2019-08-12 16:57] d12 commented on #2222
100/100 investigative work, nice work 😄

@EricPickup @shaunakpp I'd love for you to try to solve this in your last week - if possible. If you don't have time to implement anything, outlining a proposed fix for handoff to @education/classroom-reviewers to work on would be :100:

[2019-08-12 17:14] EricPickup commented on #2222
@shaunakpp let's set up some time today to work on this!

A couple solutions I've thought about..

1. When a new assignment is created or a new teacher/TA is added as a classroom owner, add them as collaborators to any starter code repositories. We'd definitely add some message to indicate this. We could check who created each assignment, grab their token and add all other classroom owners. This w

[2019-08-12 17:17] EricPickup commented on #2202
After a lot of investigation we determined that #2222 was the biggest source of these errors.

https://github.com/education/classroom/issues/2202#issuecomment-519300046 was still the case with one or two orgs and we've added proper error messages to help teachers out with this, and stopped reporting the errors to Haystack since this is expected behavior when teachers modify their org's third-party

[2019-08-12 17:17] #2202 closed

[2019-08-12 17:36] shaunakpp commented on #2222
This may not work if the starter code repository is a public repository not belonging to the teacher or the organization.

This makes an already long-running job longer, is it possible to short-circuit this step while assignment creation? Like, keep a list of user_ids that are valid owners/collaborators for the starter code repository and use one of them while creating the assignment repo for a st

[2019-08-12 17:44] JayPeeTeeDee opened #2227 "Internal Server Error when accessing Assignment"
**Describe the bug**
Internal server error page displayed when trying to access [Assignment Link](https://classroom.github.com/classrooms/2061356-software-product-engineering-for-digital-markets-2019/group-assignments/a3-mobile-cloud)

**Additional context**
1. [Classroom Page](https://classroom.github.com/classrooms/2061356-software-product-engineering-for-digital-markets-2019) also shows interna

[2019-08-12 17:46] EricPickup commented on #2222
This step wouldn't be necessary if it's a public repo!

The only issue I see with this is that even though it's unlikely collaborators for the repo can change at any time. It also still leaves the rate limit issue. 😬

I think we should wait to see what @d12 thinks before we get started since both methods have their ups/downs.

[2019-08-12 17:58] EricPickup commented on #2227
Hi @JayPeeTeeDee,

I've taken a look and somehow your `grouping` (set of teams) on one of your group assignments is null. Not sure how this happened but I can update it for you. Is it alright if I update your set of teams on your group assignment to be the same as the other one?

[2019-08-12 18:09] JayPeeTeeDee commented on #2227
The teams for both A3 and A4 should be empty as I have not created any teams under both assignments.

No issues with this, thank you

[2019-08-12 18:17] BenEmdon commented on #2222
Awesome job investigating this 👌 This was totally an oversight!

## Issue with Proposed Solutions
Both suggested solutions 1. and 2. in https://github.com/education/classroom/issues/2222#issuecomment-520513631 rely on users maintaining access to their classroom organization. This would prevent classroom organizations form using GitHub organization access as they might normally.

If a ta/teacher is

[2019-08-12 18:20] shaunakpp commented on #2222
Yes, but we currently store just the `starter_code_repo_id` so we wouldn't know whether the repo is public or not until we start the assignment creation process for a student. So, probably we'll need to add a flag like `starter_code_repo_private` to circumvent this added check if the repo is public.

We can keep user_ids as cache, and bust the cache if we get a 404, and retry the process. (This is

[2019-08-12 18:24] EricPickup commented on #2227
@JayPeeTeeDee the actual GitHub teams can be empty, but when you create a group assignment you have to choose or create a new set of teams. Not sure how yours became nil but I'll look into it if this comes up again:
![image](https://user-images.githubusercontent.com/1490434/62887887-0b0d3300-bcf3-11e9-8351-790b971b6506.png)

I've updated your grouping for that assignment and it looks like everythi

[2019-08-12 18:30] JayPeeTeeDee commented on #2227
Yes it was fixed, but I've managed to reproduce the internal server error again.

These were my exact steps:
Step 1: Delete A3 Assignment
Step 2: Create new assignment (with the same name)
- Under `Create a new set of teams`: Entered `A3 Teams`

[2019-08-12 18:32] EricPickup commented on #2222
@BenEmdon I really like this solution and think it's the most stable.

We could fork the repo over to the organization instead of copying using templates. That removes the extra step of making that repo into a template and also cover the plan that @d12 proposed related to this: https://github.com/education/classroom/issues/2032 where if the user doesn't have permission to make a repo into a templa

[2019-08-12 18:32] shaunakpp commented on #2222
@BenEmdon creating a fork looks like a good solution 👍.

We'll need to add clear messages that we are creating a fork in the organization, as currently picking a starter code repository creates no _perceived_ side effects to the organization. But, with this implementation, we'll be adding a new repository to the org and at the same time make it a template.

[2019-08-12 18:35] thebradbain opened #2228 "Provision LMS instances on AWS"
To facilitate further LMS development after my internship ends and make the context-handoff easier, provision LMS instances on our Team AWS account:

- [ ] Canvas
- [ ] Moodle
- [ ] Blackboard
- [ ] Sakai

[2019-08-12 18:43] EricPickup opened #2229 "Small inconsistency in assignment form optional settings"
In the optional section of our assignment settings we append `(optional)` to half of the options and don't append it to the other half.

We should append it to all or none to be consistent.

![image](https://user-images.githubusercontent.com/1490434/62889483-5bd25b00-bcf6-11e9-9c8d-c6108ef18f15.png)

cc @femmebot which way do you think is best? I personally prefer keeping the optional tag at the e

[2019-08-12 19:25] EricPickup commented on #2227
@JayPeeTeeDee it looks like your classroom already has a team set called "A3 Teams". I tried reproducing it and found that when creating a new set of teams with the name `A3 Teams` caused the error to occur the second time because that set of teams already existed. The error handling for that is broken and I'll create a bug report for this.

For now your classroom is fixed (A3 is using the same gr

[2019-08-12 19:30] EricPickup opened #2230 "500 Internal server error when creating a Grouping with a duplicate name"
This came up in #2227

**Describe the bug**
We get a 500 internal server error when creating a new Grouping with the same name as an existing Grouping on the org.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to new Group Assignment form
2. Under ` Create a new set of teams` enter a name of a grouping that already exists (check your dropdown)
3. Submit
4. See error

**Expected behavior*

[2019-08-12 23:00] #2192 closed

[2019-08-12 23:26] EricPickup opened #2234 "Cannot create repo using a template belonging organization disconnected from Classroom"
This initially came up in #2219 and the issue seems like an issue with github's template feature.

We cannot generate a repository using a template belonging to another organization that is not authorized with GitHub Classroom, _even if_ the repo is public.

Steps to reproduce:
1. Create a GitHub organization, do not use it in Classroom
2. Create a public template repository in that organization
3

[2019-08-12 23:36] EricPickup commented on #2234
This issue would be fixed (or avoided, rather) if we end up doing this: https://github.com/education/classroom/issues/2222#issuecomment-520537306

[2019-08-12 23:43] d12 commented on #2222
This makes sense to me :+1:

As far as copying goes, we should be forking, not importing or template copying. The repo may not necessarily be a template repo, and we don't want to add further dependencies on the importer.

Keep in mind that GitHub forks are absurdly complex, there's a LOT of edge cases to worry about.
@BenEmdon 's point about not having to keep a seat in a paid org is depending on

[2019-08-13 00:25] EricPickup commented on #2222
The forking option will solve a lot of our issues such as #2234 and #2032 but I've just started working on it and noticed a few issues:
- We can only fork a repository once per user/org. What if a teacher wants to use the same starter code repo in multiple assignments? We _could_ check if the fork already exists and use that one
- How will we handle a situation where the teacher wants to update th

[2019-08-13 01:28] JessRudder commented on #1926
I was going through the checklist and I'm fairly certain this is all done. @jeffrafter it looks like you removed elasticsearch from Heroku - if so (and you're comfortable that there's nothing else we need to do to remove ES), feel free to close this out!

[2019-08-13 01:35] #1926 closed

[2019-08-13 01:38] d12 commented on #2222
1) Yep, we should check if the fork exists. Make sure we don't make naming assumptions here since forks aren't guaranteed to be named something specific.

2) @femmebot May have ideas for how we can design this. Super savvy users may be able to figure this out themselves, but let's guide the users from the Classroom UI.

[2019-08-13 01:51] d12 commented on #2227
Closing as this is being tracked in https://github.com/education/classroom/issues/2230. Thanks for the report!

[2019-08-13 01:51] #2227 closed

[2019-08-13 02:56] JayPeeTeeDee commented on #2227
Thank you for the help!

[2019-08-13 15:27] andrewbredow opened #2238 "Link to Help from footer"
Let's follow the convention used in Dotcom. What other things might be useful in there?

cc @d12 @mozzadrella

[2019-08-13 17:17] thebradbain opened #2239 "Moodle error message is unfriendly"
**Describe the bug**
On Moodle LMS integrations, whenever a user has entered the wrong `consumer_key` or `shared_secret`, authentication will fail (as expected). However, when we redirect the user back to their LMS with a friendly error message explaining they've entered the wrong credentials, they're instead greeted with a different error: "sesskey invalid"

This bug only occurs for Moodle, and n

[2019-08-13 18:16] stephaniegiang commented on #721
Hey everyone! 👋
We have just launched the GitHub Classroom + LMS integration (that includes Google Classroom).

Check out the blog post here: https://github.blog/2019-08-13-use-github-classroom-with-your-own-tools/
And here are the docs to help set you up: https://classroom.github.com/help/connect-to-lms

Try it out and let us know what you think! If there are any problems, feel free to open an is

[2019-08-13 20:08] EricPickup opened #2241 "Fork all starter code repositories onto classroom organization"
Related to #2222

When teachers create an assignment and wants to use a starter code repository, we should fork the starter code repo onto the classroom's organization and use that as the actual starter code repository.

Advantages:
- We will have full permissions to change repo settings (e.g. we can make it a template)
- All of the classroom owners/admins will be have the same access to starter c

[2019-08-13 21:20] stephaniegiang opened #2242 "Creating jobs for roster creation"
With the LMS and Google integration now live, we want to make sure we are more resilient and don't have many time outs.

With @shaunakpp working on jobs for adding students to a roster, we should look into making a job for creating a roster with roster entries. This will have to be a separate job due to the fact that the roster and the roster entries during `roster#create` are not persisted.

[2019-08-13 21:45] stephaniegiang commented on #721
Closing this issue as GitHub Classroom now integrates with LMSs for roster import. We have plans to expand the capabilities in the future to more of GitHub Classroom.

[2019-08-13 21:45] #721 closed

[2019-08-13 21:48] stephaniegiang commented on #1679
@titaniumbones @talbronfer We have just launched the GitHub Classroom + LMS integration! 🎉

Check out the blog post here: https://github.blog/2019-08-13-use-github-classroom-with-your-own-tools/
And here are the docs to help set you up: https://classroom.github.com/help/connect-to-lms

Try it out and let us know what you think! If there are any problems, feel free to open an issue

[2019-08-13 22:39] stephaniegiang commented on #1814
Hello 👋
Sorry for the late reply. This is not on our roadmap currently. However we did recently release a new GitHub Classroom + LMS integration that allows roster sync that might help.

Check out the blog post here: https://github.blog/2019-08-13-use-github-classroom-with-your-own-tools/
And here are the docs to help set you up: https://classroom.github.com/help/connect-to-lms

Try it out and let

[2019-08-14 13:54] andrewbredow opened #2247 "Skewed images on Help Docs"
**Describe the bug**

In Safari, the images in the new LMS docs are skewed... seems to be affecting all of them.

Browser|Screenshot
--|--
Safari|![Screen Shot 2019-08-14 at 9 47 03 AM](https://user-images.githubusercontent.com/96793/63026205-beebfb00-be78-11e9-88b4-1accb46296a0.png)
Chrome|![Screen Shot 2019-08-14 at 9 50 30 AM](https://user-images.githubusercontent.com/96793/63026321-fbb7f200-be

[2019-08-14 14:36] andrewbredow opened #2248 "404 for github-markdown.css"
**Describe the bug**
Noticed this 404 in the web inspector.

Let's determine if

1. We need this file, and something is broken without it
- or -
2. We don't need this file, let's remove the gem and the `@include` from our css.

[2019-08-14 17:08] thebradbain commented on #2247
Very interesting. It appears to affect any support doc that has centered images, too:

![image](https://user-images.githubusercontent.com/2936741/63040894-5fdbb580-be7b-11e9-8cc5-e949cf0b1198.png)

https://classroom.github.com/help/probot-settings

@mozzadrella should we uncenter all uncentered images in the meantime?

[2019-08-14 17:37] d12 commented on #2247
cc @femmebot, Do you have ideas for why our styling classes are causing this?

[2019-08-14 17:39] andrewbredow commented on #2247
@thebradbain Another option, if that container isn't used for other content, is to center the images via margin.

Safari has some flexbox quirks (long time Safari user here).

[2019-08-14 18:36] #2230 closed

[2019-08-14 19:42] #2037 closed

[2019-08-14 19:59] shaunakpp commented on #2166
@thebradbain is it okay to close this?

[2019-08-14 20:16] #2229 closed

[2019-08-14 20:58] d12 opened #2251 "Poor docs SEO"
https://www.google.com/search?q=GitHub+Classroom+docs

Our documentation doesn't reach the first page of Google.

Let's try to fix this as users aren't able to find documentation when searching for it.

[2019-08-14 22:46] #1988 closed

[2019-08-14 22:47] jeffrafter commented on #2222
Although it solves a variety of problems, relying on forking makes me generally uneasy and I tend to agree with @d12 that it could introduce more problems, including possibly:

* Forks are slow
* Forks can become detached
* You can't fork something more than once
* Multiple people can't fork the same thing to the same org
* It introduces new ownership problems
* Forks of private can be limited in

[2019-08-14 23:47] EricPickup commented on #2222
FYI @jeffrafter we should add this row to the table due to #2234:

| Owner | Public/Private | Students can see/use the template |
|-----------|----------------------|----|
| Third party org[^2]   | Public               | No (can see, cannot use) |

I agree with @jeffrafter, I don't think this forking solution is the way to go anymore in light of the barriers we keep finding with forks.

I think sp

[2019-08-14 23:54] jeffrafter commented on #2222
Oh, I really like that idea. We could even make this button just open GitHub's transfer page.

💯 Better error messages are so helpful

[2019-08-15 12:05] yves-chevallier opened #2253 "Modify permissions to repositories after deadline"
After a deadline has been submitted I noticed the permissions to the students repositories are not changed. It means the student can still commit anything to its repository.

My ideal workflow would be to have access to this repository to do the review and commit my remarks directly into students repositories.

[2019-08-15 16:20] #2247 closed

[2019-08-15 16:37] d12 commented on #2222
I'm :-1: for one major reason: If I'm understanding correctly, this solution doesn't let us share starter code repos among classrooms if they aren't in the same org. Teachers _very often_ share starter code repositories among classrooms in different organizations, often having a shared faculty organization with these shared teaching resources. _or_, teachers are free to use starter code repositori

[2019-08-15 16:40] jeffrafter commented on #2222
@d12 that makes sense:

In those cases are the students typically members of the third party org or are the shared repositories public?

[2019-08-15 16:42] EricPickup commented on #2253
Great idea! I could see us doing this two ways:
- Remove students from collaborators on the repo
- Archive the repo (if students have admin permissions I think they could undo this)

If you wanted to commit your remarks directly to the repo then the best approach would be that first option since you couldn't commit if the repo is archived.

@d12 is there any reason why haven't done this already? I

[2019-08-15 16:43] d12 commented on #2222
Not based off of what I've seen, teachers often have "teacher only" orgs for sharing internal resources.

[2019-08-15 16:43] d12 commented on #2222
If this could happen, it'd solve all our problems 🤞

[2019-08-15 16:45] EricPickup commented on #2222
@d12 that's a good point. What do you think about just providing detailed failure/error reports to the user like I mentioned in https://github.com/education/classroom/issues/2222#issuecomment-521460371? I personally think it's still worth providing a failure reason for this specific case rather than confusing the situation for all cases with forks.

[2019-08-15 16:49] yves-chevallier commented on #2253
Thanks for your message :)

I have downloaded the code to attempt to implement this feature, but I would certainly need a lot of time to first understand the architecture of Classroom then to familiarize myself with Ruby (I know Perl), and then implement this feature...

Regarding the feature, I would complete your list with (b):

a. Remove students from collaborators on the repository
b. Change s

[2019-08-15 16:49] d12 commented on #2253
Hey! The reason we designed deadlines like this is because teachers often want students to be able to continue working after the deadline for their own interest, or for extra credit. The teacher has an image of what was done by the deadline, but we don't want to stop students from completing work if they want to.

That said, there's definitely flows where students working after the deadline can ca

[2019-08-15 16:50] d12 commented on #2253
We likely won't be able to get to this work in the near future, so if you want to take a stab, please do! My only ask is that we keep this an optional feature as a toggle in the assignment settings.

[2019-08-15 17:06] d12 commented on #2222
@EricPickup The failure messages would be good, but if they're surfaced when students accept a repo and not when teachers create the assignment, it's going to cause a lot of trouble for teachers.

[2019-08-15 18:38] dgilleland opened #2254 "Moodle LTS - Only allowing User IDs, not Names or Emails"
**Describe the bug**
After setting up GitHub Classroom as a preconfigured tool (etc.), when I click on the **Import from Moodle** link, the "Sync Roster from Moodle" page only give the User IDs as the student data to import (see screenshot).

I looked into the [troubleshooting](https://classroom.github.com/help/import-roster-from-lms#troubleshooting) portion of the instructions, but they didn't se

[2019-08-15 19:09] thebradbain commented on #2254
Hello!

This looks like it could possbily be a default privacy settings preference set by your school. Your institution may allow you to change the default settings for an external tool within Moodle via

1. Navigating to your pre-configured tool
2. Clicking the "gear" icon next to the dropdown for "Preconfigured tool"
3. Scroll down to "privacy"
4. For "share launcher's name with tool" or "share

[2019-08-15 19:13] thebradbain opened #2256 "Roster Importing Support Docs (Moodle Troubleshooting)"
As identified in issue #2254, sometimes an LMS may have default privacy settings set such that GitHub Classroom can't import by student email or name. We already have some general docs around this issue within our support docs, but nothing specific to an LMS.

The solution pointed out in issue #2254 could probably be better integrated within the Moodle setup steps.

[2019-08-15 19:45] #1969 closed

[2019-08-15 20:06] #2115 closed

[2019-08-16 17:21] d12 opened #2257 "Docs are not mobile-responsive"
I got an alert from Google saying our docs are not mobile responsive. I checked:

<img width="403" alt="Screen Shot 2019-08-16 at 10 20 16 AM" src="https://user-images.githubusercontent.com/30920216/63185698-8c283b00-c00f-11e9-853a-5b34ecccb05a.png">

[2019-08-16 17:46] d12 commented on #2024
@thebradbain This good to close out?

[2019-08-16 17:46] d12 commented on #1999
@thebradbain Is this good to close out?

[2019-08-16 18:08] thebradbain commented on #1999
Yup!

[2019-08-16 18:08] #1999 closed

[2019-08-16 18:08] stephaniegiang opened #2259 "New features page!"
### Feature request :sparkles:
We should create a place where we can announce new features to user.

This could be something like a drop down listing the latest three features and then a link on the bottom bringing to a page listing all new features.

[2019-08-16 18:18] #2257 closed

[2019-08-16 18:22] #2082 closed

[2019-08-16 18:22] #2024 closed

[2019-08-16 18:22] thebradbain commented on #2024
Yup!

[2019-08-16 18:22] stephaniegiang commented on #2251
We could add HTML meta tags like this

 `<meta name="keywords" content="github, classroom, lms, google, ... ">`

Just not sure what we should add to the keywords. There are also more meta we can do such as title and description that should help with Google too.

[2019-08-16 18:34] thebradbain opened #2261 "LTI Context Handoff"
Hi all! As today is my last day as an intern 😭, I've done my best to give a quick overview of all the code around the LTI integration.

## Overview
GitHub Classroom now integrates with LTI-capable LMSs (specifically versions 1.0 and 1.1). @philipbremer has previously
provided a [thorough overview and roadmap](https://github.com/github/education/issues/925).

## The code
[Project-board tracking the

[2019-08-16 18:42] thebradbain commented on #2162
We've obtained LTI Certification! This will need to be updated yearly.

[2019-08-16 21:55] JessRudder opened #2262 "[RAILS UPGRADE] RuntimeError"
Note - This error seems to have occurred in two places when we deployed the Rails upgrade:
[short_url#assignment_invitation](https://haystack.githubapp.com/classroom/needles/MSZW7MMWkQ3tglpmN1kHzQ)
[hooks#receive](https://haystack.githubapp.com/classroom/needles/o8KJB9PoQbx_ccPwgtzOJA)

Part of #2102

**Needle**: https://haystack.githubapp.com/classroom/needles/s6LSpjC-lWDXaKSpLKg8Wg
**Rollup**: h

[2019-08-17 16:47] belgort-clark commented on #2111
I have not seen this issue appear again. This bug can be closed.

[2019-08-18 14:33] neloe opened #2263 "Canvas roster import fails"
**Describe the bug**
When importing the roster from Canvas it fails with the error
"GitHub Classroom is unable to fetch membership from Canvas at this time. If the problem persists, re-launch GitHub Classroom from your learning management system and try again. "

**To Reproduce**
Steps to reproduce the behavior:
1.Set up GH Classroom App as per LMS instructions
2. Launch GH Classroom from Canvas (

[2019-08-19 07:48] greg2paris commented on #364
hi

[2019-08-19 13:44] d12 commented on #364
cc @education/classroom-reviewers

[2019-08-19 13:59] EricPickup commented on #2111
Thanks for keeping us updated @belgort-clark!

[2019-08-19 13:59] #2111 closed

[2019-08-19 17:37] #2241 closed

[2019-08-19 20:12] stephaniegiang commented on #2263
Hello 👋
That error means that no membership URL was given. Have you tried re-launching GitHub Classroom from your LMS again?

[2019-08-19 21:23] neloe commented on #2263
Hi there!

I've opened GitHub Classroom from the link that appears on the left hand side of my course:

![image](https://user-images.githubusercontent.com/278757/63300296-7e87e500-c29d-11e9-8b76-677df83924ae.png)

(Highlighting mine)

If there's an additional step I missed it in the documentation.

When I do that I get a message that GH Classroom is being launched from my LMS, then clicking the "I

[2019-08-19 22:18] stephaniegiang commented on #2263
I'm going to try to duplicate this error on my end. There might be another setting that needs to be turned on.

I'll check back in a day or so.

But in the meantime, have you tried deleting the configuration on GitHub Classroom and the app on Canvas? Maybe try doing the steps again.

[2019-08-20 14:16] neloe commented on #2263
When I was first trouble shooting (after getting the "IMS names" box enabled) I did try deleting the app on canvas and recreating the class on GH Classroom.  I also just now disconnected from Canvas in Classroom and deleted the app in Canvas, then recreated the connection.

It took a little longer to fail (and chrome is showing a *few* more errors in the console (I don't know if this is relevant)

[2019-08-20 14:21] stephaniegiang commented on #2263
Oh not seeing IMS would be the main culprit for not being able to import students. You might have to enable the IMS names for your account.

Trying going to `Account < Settings < Feature option`. There should be an option called: Membership service configuration. Turn that on.
![image](https://user-images.githubusercontent.com/22784140/63355461-294ae280-c334-11e9-895a-dca6ff72adf4.png)

Let me kno

[2019-08-20 15:15] neloe commented on #2263
I don't have that option, but the IMS option is available when I configure the application (I contacted our administrator and they enabled it for us).  The image in Additional Context above shows that I do have that box, but not the toggle for Membership Service Configuration in Feature Options.

[2019-08-20 15:27] deppeler commented on #284
Not sure if I am in same group as this thread.  But, my organization (U of Wisconsin - Madison) does not allow me to add external Apps to my Canvas course.  Only institution approved apps are allowed and GitHub Classroom is not on that list.  I am trying to change that.  Otherwise, its GitHub classroom without Canvas integration.

[2019-08-20 15:28] ctanis commented on #2263
FYI I'm having the exact same problem with an Instructure-hosted Canvas installation.  They just enabled the Membership services, and I've checked the "IMS names" box, but it's not syncing the roster.

[2019-08-20 17:06] spinecone commented on #1580
I've been poking around the original PR, the revert, and slack discussion around them, and it looks like what happened was:
- https://github.com/education/classroom/pull/924 was deployed which started causing some kind of error
- https://github.com/education/classroom/pull/943 was created because 924 was using an incorrect method name (`private_repos_available?` rather than `has_private_repos_avai

[2019-08-20 17:22] shaunakpp commented on #1591
Hi 👋 ! Just a friendly update from the classroom team, we shipped template repositories support for importing starter code a few weeks ago as @EricPickup  mentioned. Just letting y'all know that template repositories is the _recommended_ option for importing starter code and is useful in _most_ of the cases, so we're closing this issue. I'm posting links to our help docs for template repositories

[2019-08-20 17:22] #1591 closed

[2019-08-20 17:24] shaunakpp commented on #1712
Closing this as it is a duplicate of #1591 and https://github.com/education/classroom/issues/1591#issuecomment-523112964 describes the new and recommended option to import starter code.

[2019-08-20 17:24] #1712 closed

[2019-08-20 19:29] andrewbredow opened #2267 "Review appsec review on LTS/Google classroom and add issues to this board."
Validate that this is cleared

[2019-08-20 19:30] andrewbredow commented on #2191
Let's resume this after the Roster changes land.

[2019-08-20 19:59] titaniumbones commented on #1679
Hey @stephaniegiang , I have just sen this (was on vacation for a week!), and would like to try it out, but do not seem to have the Canvas admin privileges that the app requires.  I have a support request in, but I'm sure the more info I have, the more likely that request is to be approved. I'm also wondering if anyone has reported how they've negotiated with their IT staff to get the app approved

[2019-08-20 21:55] JessRudder commented on #2212
@stephaniegiang, looks like the related PR has been merged in. Is there a cleanup issue we need to do as a follow on (to remove the roster-less roster entries)?

If not, please feel free to close this ticket!

[2019-08-20 22:10] shaunakpp opened #2268 "Improve roster creation flow"
This is a high-level issue of the three part proposed changes that for improving the Roster creation process. With LMS integrations, rosters have become an essential part of classroom and we could work on improving this experience for teachers. Here are the following improvements that we could work on:

- [ ] Move roster updates(#2233 ) and creation to background jobs(#2242)
- [ ] Move/Copy the li

[2019-08-21 14:57] EricPickup commented on #2259
I like this idea! We could have a changelog or something like that for user-facing changes.

We could do this pretty easily using a markdown page.

[2019-08-21 16:23] d12 opened #2271 "When changing from porter -> template, check if repo is a template"
If you update an existing assignment with starter code from porter -> template, it doesn't seem like we check if the repo is a template. I gave it a go and the assignment update succeeded.

[2019-08-21 16:42] stephaniegiang commented on #2263
Currently in talks with Canvas, so hopefully we can identify the problem soon. I'll update this issue when more info comes 😄

[2019-08-21 17:41] stephaniegiang commented on #1679
Hey @titaniumbones! Super excited for you to try it out. You should also mention to the admins that GitHub Education is LTI certified 😄 If you are going to be using Canvas and it is hosted on Instructure, just want to let you know we are experiencing some issues with importing: https://github.com/education/classroom/issues/2263

Let us know what you think!

[2019-08-21 17:52] stephaniegiang commented on #2242
Going to close this in favor of https://github.com/education/classroom/issues/2268

[2019-08-21 17:52] #2242 closed

[2019-08-21 17:54] stephaniegiang commented on #2259
Yep! I think the PR list isn't super helpful since there are a lot of low level fixes going in. Especially when we are making smaller PRs to build a feature. Would love to work with you @femmebot on this after the roster import improvements 😄

[2019-08-21 18:30] titaniumbones commented on #1679
I'll keep my fingers crossed.  In the meantime -- do instructors have any prospect of accessing roster info directly via a web api? If so, thatwould be a pretty good option for me, as well.  Thanks!

[2019-08-21 18:31] titaniumbones commented on #1518
I see this has gone stale, is it still a target?

[2019-08-21 18:38] #1882 closed

[2019-08-21 20:48] stephaniegiang commented on #2267
Can close this as completed in this PR https://github.com/education/classroom/pull/2218

[2019-08-21 20:48] #2267 closed

[2019-08-21 20:56] femmebot opened #2275 "[Tracking] Assignment invitation improvements"
### Assignment invitation feature enhancements

- [ ] Enable students to quickly find their identifier from a very long list on the assignment invitation acceptance page (see:  https://github.com/education/classroom/pull/2266#issuecomment-523253355)
- [ ] After selecting an identifier from the list, provide a way for student to confirm that they selected the correct identifier from the list and re

[2019-08-21 21:16] #2239 closed

[2019-08-21 22:16] stephaniegiang commented on #1679
@titaniumbones It's in our roadmap, not sure if this will be worked on anytime soon. We will update this issue with more details once they come in 😄

[2019-08-21 22:55] skrauskopf-nyos opened #2277 "Private Assignment submission is viewable by the world"
I am a CS teacher and my son happens to be in my class. So I did some testing with private assignment submission before using it in the classroom.

I created an organization.
I created a private repository in the organization (also tried doing with a personal private)
I created a classroom.
I linked the classroom to my Google classroom.
I created a private assignment, with starter code linked to m

[2019-08-22 02:58] Mr-9riffin opened #2278 "Can't Create Classroom"
**Describe the bug**
After clicking create classroom, when I click on the organization that I created a message in red says "You are not permitted to add this organization as a classroom"

I recently changed my GitHub user name and I noticed that the GitHub Classroom user name is still my old username.  Also, when I click on my user icon (top right corner) and then click on my user name I get a 40

[2019-08-22 03:54] d12 commented on #2278
Hey @Mr-9riffin

You should be good to go. We have a bug when users change their handle which should be resolved soon, but for now I've fixed your account manually. Thanks for the report!

[2019-08-22 03:54] #2278 closed

[2019-08-22 05:05] jason-lim commented on #2278
Hi,

I'm not too sure if I should open a new issue. But I'm facing the same issue described above.
I've changed my username and now I couldn't create classrooms. Also, the username reflected at the classroom page is still showing the old username. Thanks!

[2019-08-22 12:25] tgalling opened #2279 "LTI integration - Brightspace"
Hi,

I'm just trying to setup the LTI integration with Brightspace (D2L) and am having issues with the roster sync.

I've gone through the stages of adding the URL, shared key and secret and linked a Brightspace course to a GitHub Classroom. The GitHub Classroom states that I am 'currently connected to Brightspace' from the setting page.

When clicking on Roster Management and trying to Sync the R

[2019-08-22 12:43] stephaniegiang commented on #2279
Hi @tgalling 👋 have you reached out to your administrator that handles your Brightspace? There might be settings that need to be turned on. Specifically, GitHub Classroom needs the membership setting for LTIs turned on.

For students, we don't recommend sharing the external LTI link to students. It will prompt them to either sign up or log in, but once that happens it will lead them to a 404 since

[2019-08-22 12:51] Mr-9riffin commented on #2278
It's working!  Thanks!

[2019-08-22 12:59] stephaniegiang commented on #2277
Hi @skrauskopf-nyos 👋 This shouldn't be the case. Private assignments should create private repositories. In this case, it is creating a public repository.

We will take a look at this issue and update you when a fix has gone in 😄

[2019-08-22 13:13] tgalling commented on #2279
Hi @stephaniegiang, thanks for your quick response. I'm the VLE administrator and am just chatting with D2L support team as well to see what they can suggest.

If the students don't use the link from Brightspace, I'm afraid I'm not quite sure what this integration provides. From an academic point of view they need to setup the organisation and class directly in GitHub anyway, so for them, it will

[2019-08-22 13:19] d12 commented on #2278
@jason-lim , you're also fixed now :)

[2019-08-22 14:10] ctanis commented on #2263
@stephaniegiang is this problem more widespread than just the two of us?

[2019-08-22 15:46] shaunakpp commented on #2277
Hi @skrauskopf-nyos , thank you so much for reporting this issue to us! It has been fixed and deployed in #2280

[2019-08-22 15:50] #2277 closed

[2019-08-22 15:55] femmebot opened #2281 "Clearer messaging and action for disabled private repo option"
### Problem

We currently don't provide context for why private repositories aren't available for certain accounts. And the prompt to apply for free, unlimited private repos is too detached from the relevant item.

#### Current

<img width="1086" alt="Screen Shot 2019-08-22 at 11 49 03 AM" src="https://user-images.githubusercontent.com/471514/63529584-e2dfba00-c4d2-11e9-9ae1-d2e667cba852.png">

##

[2019-08-22 16:43] tgalling commented on #2279
Hi @femmebot, sure, I think that would defeintely help me. I've just completed the form on the link provided.

[2019-08-22 16:51] EricPickup opened #2282 "Use webhooks to keep classroom owners in sync with organization admins"
Currently we use a random classroom owner's token to make API calls on behalf of the org (checking if they have private repos, creating repo, deleting, adding collaborators, etc.).

If a teachers removed a TA/admin from the classroom organization on GitHub, we should receive a webhook and remove them from the classroom administrators list.

This way we won't try to make calls on behalf of a user w

[2019-08-22 16:53] asazegar commented on #2263
I am facing the same issue. I wish we could manually add students at this point. Is there a way to do so?

[2019-08-22 16:57] stephaniegiang commented on #2263
Sorry for the late reply. This problem currently affects all Canvas’ hosted
on Instructure. I’m currently talking to them as we are trying to identify
the issue.

I will post updates here!

On Thu, Aug 22, 2019 at 12:53 PM asazegar <notifications@github.com> wrote:

[2019-08-22 17:05] asazegar commented on #2263
So that you know, in my case I did not see any checkbox for role provisioning access when adding the GitHub app.

[2019-08-22 18:26] stephaniegiang commented on #2263
@asazegar You will need to ask your administrator to turn on the setting called "Membership service configuration".

The administrator can find the setting by `Account < Settings < Feature option`. There should be an option called: Membership service configuration. Turn that on.
![image](https://user-images.githubusercontent.com/22784140/63355461-294ae280-c334-11e9-895a-dca6ff72adf4.png)

[2019-08-22 18:37] bethard commented on #2279
I'm very interested in the result of your interview. I have exactly the same problem, and the administrators of our Brightspace/D2L installation also could not find an option to allow GitHub Classroom (or any other LTI integrations) to retrieve course membership.

[2019-08-22 18:48] d12 commented on #1518
This is not a priority right now! Are you looking for API access to Classroom data?

[2019-08-22 19:21] titaniumbones commented on #1518
Yes. ATM I can't use the Canvas integration at my school, so I rely on my own API client to interact with Canvas; I'd really like to have access to student Github id's so I can match them.

[2019-08-22 19:58] EricPickup opened #2285 "Suggest moving private starter code repos to classroom organization"
Front-end solution to #2222

On assignment creation, we should add a background check after the starter code repo field is filled that will check if the repository is private.

If it is private and does not belong to the classroom org, we should flash a message suggesting (but not requiring) that they use repositories belonging to the classroom organization instead. We _could_ also add a link to t

[2019-08-22 20:34] EricPickup commented on #2222
**Update:**
I've put up a PR for a back-end solution to this in #2286 and have proposed a front-end method of preventing this in #2285.

[2019-08-22 21:37] #2271 closed

[2019-08-22 22:06] crslade commented on #2263
Having the same issue, just so you know it is more widespread. Instructure does host my Canvas as well.

[2019-08-23 08:26] tgalling commented on #2279
hi @bethard, we've been with Brightspace for a couple of years and I've not seen any LTI integration that can actually pull roster data from Brightspace. There were some membership services that could be called with Blackboard to do the roster sync for vatrious tools but that only way I've seen student data move from Brightspace to a third party via LTI is when a student individually clicks on an

[2019-08-23 13:20] stephaniegiang commented on #2279
Quick update: I have reached out to D2L Support Team and hopefully we can come up with some solutions. I'll post updates when I have some 😄

[2019-08-23 15:48] stephaniegiang commented on #2263
Update: I have added some additional error logging to help us figure out this issue. Do you guys mind repeating this error again? Thanks!

[2019-08-23 15:53] maltobelli commented on #2263
@stephaniegiang  Re-ran error on classroom 54155595-maltobellitestorg-classroom-2

[2019-08-23 16:18] neloe commented on #2263
@stephaniegiang Using a test class (since I needed to get my other rosters up and running yesterday, sadly), but can now test using a different class.
Classroom name (exhibits error) is 38159787-roster_import_test

Thanks so much!@

[2019-08-23 18:55] shaunakpp commented on #2259
There's some previous conversation on this in this issue https://github.com/education/classroom/issues/1304

[2019-08-23 19:19] hanleybrand commented on #2263
I was asked to set this integration up for an instructor (I'm a root-admin on our Canvas instance, which is hosted by instructure) - when I went to accounts/1/settings and checked the Feature Options tab, there is no setting called "Membership service configuration".

I searched the release notes for Canvas (no mention of this setting) and searched the community for the exact phrase "Membership se

[2019-08-23 19:39] stephaniegiang commented on #2263
Hi @hanleybrand 👋
Try going to Admin < Site Admin < Settings < Feature Option. You should find it there 😄

[2019-08-23 19:47] stephaniegiang commented on #2259
Update: We are going to start working on this project in conjuction to the new roster updates 😄

[2019-08-23 19:47] hanleybrand commented on #2263
That's what `accounts/1/settings` is (Admin < Site Admin < Settings < Feature Option) in Canvas, sorry if I wasn't clear.

[2019-08-23 19:47] neloe commented on #2263
@hanleybrand @stephaniegiang At my institution I did not have the "Membership service configuration" feature option even after my administrator got that enabled for us.  However, after the administrator intervened we had the "IMS" check box.  There may be the possibility that the membership service configuration can be enabled "globally" (if that has any meaning?  I dunno) and won't appear on a co

[2019-08-23 19:51] stephaniegiang commented on #2263
@hanleybrand @neloe Ah I misunderstood. I'll check in with Canvas to get a better idea of this setting and seeing if there are any limitations.

Small update: I have a pretty good hunch on the problem with Canvas on Instructure. Just going to confirm this with them. So hopefully this problem will be resolved soon.

[2019-08-23 19:52] hanleybrand commented on #2263
I've discovered that browsing the source code for Canvas is often the answer - the Membership Service Configuration is set to hidden in [config/feature_flags](https://github.com/instructure/canvas-lms/blob/master/config/feature_flags/00_standard.yml) which I think means that admins have to ask their institution's Customer Service Rep to have un-hidden:

[code]

[2019-08-23 19:53] stephaniegiang commented on #2263
@hanleybrand thank you so much for getting that information 😄 I'll update the help documentation

[2019-08-23 20:00] stephaniegiang opened #2294 "Adding admin specific steps to Canvas docs"
Identified in https://github.com/education/classroom/issues/2263#issuecomment-524441376

There are more steps that an admin needs to take in order to get GitHub Classroom set up. We should add admin specific section to the docs to make it easier.

[2019-08-23 20:03] #2183 closed

[2019-08-23 20:18] stephaniegiang commented on #2259
I like the idea of Netflix, instead of a notification bell it can be a different icon?
<img width="1677" alt="Screen Shot 2019-08-23 at 4 16 14 PM" src="https://user-images.githubusercontent.com/22784140/63621289-8c04de00-c5c1-11e9-9b63-1633fb5612d9.png">

[2019-08-23 20:38] #2212 closed

[2019-08-23 21:58] olano opened #2297 ""Importing Starter Code" stalls on a large starter repository"
**Describe the bug**
I am attempting to use classroom for a class where students will be using and modifying the Unreal Engine source. Given the size of UE4, the plan is to have a single assignment repository per students that they push changes to through the semester. None the less, two test student assignment repositories have been stuck importing for hours without finishing.

I have an organiza

[2019-08-23 22:15] hanleybrand commented on #2263
Okay, our rep got back to me - it is a hidden account feature, so before the admin can turn the feature on, it needs to be enabled by an Instructure employee.

I don't think there's any way to tell which Canvas instances have it enabled already (but I think that only instances where its been requested would have it).

[2019-08-24 01:04] #2095 closed

[2019-08-24 01:11] JessRudder opened #2298 "Upgrade from Rails 5.2 to Rails 6.0"
GitHub Classroom is currently on Rails 5.2

We should upgrade to the latest stable release (6.0.x)

https://guides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-5-2-to-rails-6-0

[2019-08-24 01:19] JessRudder commented on #2262
This was fixed with #2102 - The issue was in the rack-tracker gem which is only run in production. Rails 5.2 switched to freezing string in all the places. This meant that on redirects rack-tracker had a frozen string that it expected to be able to mutate.

They had fixed this in a more recent version of rack-tracker. Upgrading the rack-tracker version fixed that problem like a charm.

For future

[2019-08-24 01:19] #2262 closed

[2019-08-24 15:55] pinventado commented on #1431
I also have the same problem where I can't use a forked private repo as starter code for my GItHub Classroom assignment.

[2019-08-25 07:51] dbc2201 opened #2299 "Rosters: Incomplete roster sync from Google Classroom LMS"
**Describe the bug**
I created a Google Classroom for my students and tried to import them to a GitHub classroom via `Connect To A LMS` feature. As of now only some of the students are being shown in the GitHub classroom roster while they are added (I verified it many times) in the Google classroom.
I've issued an assignment for the students, but they cannot find their names in the classroom's ass

[2019-08-26 05:12] #2226 closed

[2019-08-26 13:16] stephaniegiang commented on #2299
Hi @dbc2201 👋 Could you give me your classroom name so I can take a further look?
Thanks 😄

[2019-08-26 13:30] dbc2201 commented on #2299
Hello @stephaniegiang,
I actually have created 4 classrooms and the error persists for all of them could you please take a look at all of them?
GLAU-2019-BCSC0002-2A, GLAU-2019-BCSC0002-2E, GLAU-2019-BCSC0002-2F, GLAU-2019-BCSC0002-2M

[2019-08-26 13:52] stephaniegiang commented on #2299
@dbc2201 Thanks! I'll take a look and I'll post updates when I have them

[2019-08-26 15:32] dbc2201 commented on #2299
Sure, @stephaniegiang , the average class size for section A, E and F is 70 and section M has 26 students

[2019-08-26 18:08] stephaniegiang opened #2311 "Paginate Google Classroom request"
Currently, we do not paginate the api request for grabbing students. We should think about paginating the response so that the request is not slow for classrooms that are large.

https://github.com/education/classroom/blob/b5d4cab8cfdb4556b6d3e277522769ea10e5c5d9/app/controllers/orgs/rosters_controller/google_classroom_dependency.rb#L58

[API docs for Google Classroom](https://developers.google.co

[2019-08-26 18:09] andrewbredow opened #2312 "Autograding"
The initial plan for this will be two parts:

- [x] Automated setup and feedback
- [x] Automated test runs

The initial target will use GitHub Actions and will involve a custom workflow.

[2019-08-26 20:44] yttrian opened #2313 "Changing usernames messes up the accept assignment page"
**Describe the bug**
After changing my username, the Accept Assignment page still wants to use my old username.

**To Reproduce**
Steps to reproduce the behavior:
1. Click a link for an assignment invitation (in the format https://classroom.github.com/a/some-random-code) and accept the OAuth permission request from GitHub Classroom
2. Change your username
3. Revisit the assignment invitation

**Ex

[2019-08-26 21:20] #2313 closed, assigned to nobody

[2019-08-26 21:54] stephaniegiang commented on #2313
Can you try again? Should be fixed now

On Mon, Aug 26, 2019 at 5:27 PM Ian Moore <notifications@github.com> wrote:

[2019-08-27 15:44] andrewbredow opened #2316 "Load resources using include-fragment-elements."
Moved from note in stafftools backlog

Starter code to look at, example pull request: https://github.com/education/classroom/pull/792

[2019-08-27 15:46] andrewbredow opened #2317 "Limit impersonation to certain staff, not all staff."
(moved from note in stafftools backlog)

[2019-08-27 15:46] andrewbredow opened #2318 "Create ability to run cron jobs for cleaning up data."
(moved from note in stafftools backlog)

[2019-08-27 15:47] andrewbredow opened #2319 "Add audit log to let us better track what users performed what actions"
(moved from note in stafftools backlog)

[2019-08-27 19:55] dbc2201 commented on #2299
Hello @stephaniegiang, I would have to check that and get back to you because I am not sure whether they did that.
Just out of curiosity, if a student might have done that, is there a list of steps to do that, or check if they did it?

[2019-08-27 20:57] stephaniegiang opened #2324 "Remove temporary logging for LMS"
I have added temporary logging for LMS. So we should remove this once all issues have been resolved.

Logging to remove
- [ ] https://github.com/education/classroom/pull/2323

[2019-08-27 23:28] bsiever opened #2325 "Poor Performance / Failure when Downloading Roster"
Downloading a roster has poor performance or "hangs" (leads to a 500 "Internal server error").
The class involved is relatively large, ~620-640 students, and we've uploaded a roster. Paging through the roster is also very very slow.

It worked relatively well before many students had joined the class.  I'm guessing that it's forcing a LOT of work to take place client side (CPU utilization spikes!)

[2019-08-28 14:03] femmebot opened #2326 "Remove @ symbol before organization name"
Is there a reason why we precede the organization name with the @ symbol? The format is usually reserved for @mentions on GitHub.

[2019-08-28 21:13] stephaniegiang commented on #2263
Hey guys 👋 I recently put in a fix for this problem. Let me know if you guys are able to import your rosters!

[2019-08-28 21:20] stephaniegiang commented on #2263
Also one last thing I forgot to mention: you may have to delete the current configuration, and then re-create it

[2019-08-28 21:21] maltobelli commented on #2263
Hi Stephanie,

I was able to import my roster without deleting my App.

Thank you!

[2019-08-28 21:22] t6b commented on #2263
Thank you so much @stephaniegiang. It is working now in my test course (didn't need to change the configuration, just tried it and it worked. Very much appreciate it!

[2019-08-28 21:39] stephaniegiang commented on #2263
Awesome! Thanks for everyone's patience on this and so sorry for the inconvenience. Going to close this issue now.

But if anymore problems come up, feel free to open a new one 😄 Also make sure to check out the [setup documentation](https://classroom.github.com/help/setup-canvas) for any troubleshooting.

[2019-08-28 21:39] #2263 closed

[2019-08-29 02:38] #2326 closed

[2019-08-29 15:16] spinecone commented on #2324
Should we consider leaving the logging in place (with a more specific rescued error like `JSON::ParserError`) to make it easier to diagnose future problems if they come up?

[2019-08-29 15:29] spinecone commented on #2317
This could be implemented similarly to how staff account access is handled in github.com (require entering a reason why the access is needed and logging it).

[2019-08-29 17:33] neloe commented on #2263
It looks like it worked perfectly in my test course!  I didn't need to recreate the configuration.

Thanks @stephaniegiang

[2019-08-29 18:21] stephaniegiang commented on #2279
Update: We are currently talking with D2L integration team. Hopefully we will have some solutions soon. I will be posting updates here as I get them.

[2019-08-29 18:34] hanleybrand commented on #2263
Just tested it and it seems to be basically working - great work, thanks!

Just a couple suggestions (I can open new issues if you'd like):

- In my test classroom I first set the user identifier to id, but I got the Canvas UUId (lit launch parameter `user_id`, which is an md5 hash (or at least looks like one, like  `bcd538aa0237dd82952e099bcd92a2337d053357` -- this will probably be the same acros

[2019-08-29 18:36] hanleybrand commented on #2263
I wasn't, I was using a hosted instance - but obviously you got it figured out, so I hope my info wasn't a red herring.

[2019-08-29 19:04] stephaniegiang commented on #2263
@hanleybrand

Ahh that is something we should look into. Feel free to make an issue for this and I'll take a look into it 😄

I also have noticed that. I believe I just need to look into possibly removing one of the roles we look for when grabbing students. I'll take a look into that as well. We do have a planned assignment & submission sync for LTI integration. But this can be done before that hap

[2019-08-29 19:21] domincl commented on #2263
Just adding that TA were are also added to the roster. Can be a bit confusing as in large group it can be difficult to remember them.

[2019-08-29 19:27] stephaniegiang commented on #2324
Yeah I was originally planning to do that. However, for some reason, the `JSON::ParserError` gets stuck in Papertrail and never ends up in Haystack. For now I think now we will leave the logging until we get a better idea of what is happening with Haystack.

[2019-08-29 19:28] stephaniegiang opened #2331 "Canvas Import: Teachers and TA showing up in roster"
There have been reports of teachers importing rosters that include themselves and TA's.

First reported in https://github.com/education/classroom/issues/2263

[2019-08-29 19:30] stephaniegiang opened #2332 "Canvas Import: Using student ID is not actual student ID"
When importing using student ID, we are actually getting the user's id in Canvas.

First reported in https://github.com/education/classroom/issues/2263

[2019-08-29 19:30] stephaniegiang commented on #2263
@hanleybrand @domincl I have created issues for this and will be looking into it 😄

[2019-08-29 21:21] #2248 closed

[2019-08-29 22:13] stephaniegiang commented on #2332
Currently right now, when grabbing students we check for `Student` and `Learner`.

https://github.com/education/classroom/blob/c458bd05a035dfacdb69a13fe26a8fdaea45e6f8/lib/github_classroom/lti/membership_service.rb#L16

However, with Canvas they have modified the roles to be `urn:lti:role:ims/lis/Learner`.

Two options for solution:
1. Check whether the LMS is Canvas, if so we check for that certa

[2019-08-29 22:19] #2281 closed

[2019-08-29 22:22] stephaniegiang commented on #2331
Currently right now, when grabbing students we check for `Student` and `Learner`.

https://github.com/education/classroom/blob/c458bd05a035dfacdb69a13fe26a8fdaea45e6f8/lib/github_classroom/lti/membership_service.rb#L16

However, with Canvas they have modified the roles to be `urn:lti:role:ims/lis/Learner`.

Two options for solution:
1. Check whether the LMS is Canvas, if so we check for that certa

[2019-08-30 06:49] dbc2201 commented on #2299
Hi @stephaniegiang, from the conversations I had with students, they don't seem to recollect any such modification. What could be done now?

[2019-08-30 17:26] spinecone commented on #2311
If there isn't a risk of the request timing out, we might want to consider just moving this request to a background job instead of paginating it (so far I haven't seen any references to timeouts in the google classroom API docs but will keep looking).

[2019-08-30 17:32] stephaniegiang commented on #2299
Ahh thanks for that information. I'm currently trying to reproduce this problem. However I can't seem to. I'll keep looking into this.

[2019-08-30 19:29] spinecone commented on #2324
Specific error type is rescued in https://github.com/education/classroom/pull/2335

[2019-08-30 20:56] cynthiateeters opened #2336 "Getting Error When Attempting to Import My Roster From Canvas"
I'm looking for help on this error message when I try to import my Canvas roster.

GitHub Classroom is unable to fetch membership from Canvas at this time. If the problem persists, re-launch GitHub Classroom from your learning management system and try again.

I tried multiple times installing with help from the site:
https://classroom.github.com/help/setup-canvas

I keep getting the above error.

[2019-08-30 21:06] dbc2201 commented on #2299
Well, we are using the email addresses provided by our university which asks us to create a work profile in order to use it on an Android-based smartphone, would that change things? I believe most of the students use Google Classroom app from an Android-based smartphone.

[2019-08-31 15:46] Sallenmoore commented on #2123
This is still happening. Any progress on the issue?

[2019-09-01 15:15] jules2689 opened #2337 "Title of Organization does not match GitHub's parameters"
**Describe the bug**

My Organization has a long title:
<img width="995" alt="image" src="https://user-images.githubusercontent.com/3074765/64078486-62c30c80-cca9-11e9-8801-c7c6ab3a3a98.png">

When I try to grant access in Classroom, it fails without a seemingly valid reason:
![2019-09-01 11-13-09 2019-09-01 11_13_47](https://user-images.githubusercontent.com/3074765/64078512-9aca4f80-cca9-11e9-88

[2019-09-01 15:19] jules2689 commented on #2337
Related PR: https://github.com/education/classroom/pull/248

@tarebyte do you have context as to why a limit of 60 was placed on orgs? https://github.com/education/classroom/pull/248#issuecomment-144863273 Seems to suggest that there's no specific reason.

[2019-09-03 03:52] spring-haru commented on #1431
Exactly the same problem, which led me to this thread. It would be extremely useful if the bug was fixed.

[2019-09-03 06:50] ConsoleFriend commented on #602
Looking forward to this much needed feature! Super

[2019-09-03 12:29] stephaniegiang commented on #2336
Hi @cynthiateeters 👋 When setting up your classroom, were you able to see a box called "Allow this tool to access the IMS Names and Role Provisioning Service"?

[2019-09-03 13:54] stephaniegiang commented on #2324
Going to close this issue, since we should probably leave the logging in place.

[2019-09-03 13:54] #2324 closed

[2019-09-03 15:12] cynthiateeters commented on #2336
Hi Stephanie,

Thank you for reaching out to me.

I did finally find the discussion about that checkbox and that it is probably hidden. I have reached out to my admin with the link to the discussion and am waiting for her reply.

Sincerely,﻿

Cynthia Teeters, M.S.

Adjunct Assistant Professor

Interactive Digital Media & Web Development

Department of Arts and Design

Raritan Valley Community Coll

[2019-09-03 15:31] favonia opened #2339 "Starter code from GitHub Enterprise"
Currently the UI to specify starter code is turned off when connected to GitHub Enterprise, but it seems there is no fundamental reason not to support it. I suspected that we can just replace `https://github.com` with `GitHubClassroom.github_url` in the following:

https://github.com/education/classroom/blob/0ab1d4be6727dac8dd6be7703ce385ad53ee11d9/app/models/github_repository/import_dependency.rb

[2019-09-03 15:35] favonia commented on #2339
FYI: the UI was turned off in PR #1163. While I understand GitHub Enterprise does not support template repositories (yet), general importing should work.

[2019-09-03 15:55] jeffrafter commented on #2339
Thanks for opening this @favonia... my understanding is that the non-template version of this relied on Porter which I thought (possibly wrongly) was not part of GitHub Enterprise. If it is, I think we'll need to do some work there. The good news is template repositories have landed in GitHub Enterprise! (See https://github.blog/2019-08-20-github-enterprise-server-2-18-is-here/#repository-template

[2019-09-03 16:45] favonia commented on #2339
Thanks for the great news! But no, I do not think that path would be faster. It will take some time for my school to upgrade GitHub Enterprise, so a workaround will still be appreciated.

In the meanwhile, perhaps we should enable the entire UI now---maybe with a warning. ;-)

[2019-09-04 13:08] stephaniegiang commented on #2336
Awesome! I'm going to close this issue for now. But feel free to re-open if this occurs again after the setting is turned on.

[2019-09-04 13:08] #2336 closed

[2019-09-04 13:53] stephaniegiang commented on #2299
Does this change how the Google accounts/emails work?

[2019-09-04 14:13] dbc2201 commented on #2299
I believe so, sometimes it does not let us log in to our work email on an app if it was not installed from a work profile.

[2019-09-04 14:16] stephaniegiang commented on #2299
Interesting, I'm not sure how this will affect Google Classroom. But does all of your students have a work profile then? Are they all using the Google Classroom app?

[2019-09-04 14:20] dbc2201 commented on #2299
I'm afraid not all the students are using a work profile neither are they using the official app on their smartphones, some students prefer the web version. They are likely to use whatever method 'just works' :joy:

[2019-09-04 14:21] stephaniegiang commented on #2299
Could you reach out to the students that were unable to be imported to ask about the work profile and whether they are using the google classroom app as well?

[2019-09-04 14:24] stephaniegiang commented on #2331
Seems like the request we are making to grab the `Student` and `Learner` role is not working.

A quick fix could be to just iterate through the response we get again to remove users that we don't want.

[2019-09-04 19:12] spinecone commented on #2337
Looking at the validations on github.com, the limit for organization login names is only 40 characters, but profile names can be 255 characters. If we're copying over the profile name we should probably be using the 255 character limit instead.

[2019-09-04 20:00] jules2689 commented on #2337
@spinecone For clarification, for [this org](https://github.com/dcsil/) where is says `Department of Computer Science Innovation Lab`, that is what failed. It used to say `Department of Computer Science Innovation Lab [University of Toronto]`

[2019-09-04 20:11] spinecone commented on #2337
Discussed with @femmebot and @stephaniegiang , the changes we'll want to make are:
- increase organization title limit to 255
- change organization thumbnails in dashboard from 4 per row to 3 per row
- remove @ from organization titles in dashboard

[2019-09-04 21:40] spinecone opened #2340 "organizations shouldn't be shown if they can't be used"
Discussed this with @femmebot , we are currently showing all organizations that have been granted access to github classroom in the new classroom form. However, if the current user is not an owner of the organization, they can't actually use it to create a classroom:

![Screen Shot 2019-09-04 at 4 35 42 PM](https://user-images.githubusercontent.com/7772827/64293583-877de500-cf32-11e9-9ed1-c648adc3

[2019-09-05 07:38] mwehr commented on #2339
Hi favonia,

I've GitHub Enterprise 2.18 succesfully running with Classroom Assignments and Template Repositories feature.

To get the thing working you have to remove the '" include_all_branches" property in "app/services/create_github_repo_service.rb" from "def repo_from_template_options"

regards
Mario

[2019-09-05 13:00] merliseclyde commented on #2325
I am having a similar problem creating a roster imported from Sakai.   I have configured Sakai for another class and encountered the 500 internal server error message several times (but figured that it might have been a configuration problem on Sakai).  Eventually the roster loaded.  Repeating steps for another class (STA721) and encountering the same issue, but have not been successful in getting

[2019-09-05 17:12] jules2689 commented on #2337
https://classroom.github.com/classrooms/54954454-a-really-long-name-that-never-ends-it-goes-on-and-on-my-friends-some-people-starting-saying-it-not-know-what-it-was-but-they-ll-continue-saying-it-forever-just-because-goto-0-classroom-1

It works with https://github.com/testing-dcsil :smile:

I'll let you close this as it sounds you had other things you were using this to track as per https://githu

[2019-09-05 17:12] jdbarrie opened #2342 "Assignment Search"
### Feature request :sparkles:

It would be incredibly helpful to be able to search/sort assignments. Currently we have to scroll through pages upon pages to find a specific one.

[2019-09-05 17:41] ariyanzri opened #2343 "Problem setting up a classroom repository"
**Describe the bug**
I cannot join a classroom repository under the address [Link](https://classroom.github.com/a/CXAdCXKm ). When it is trying to setup the repository for me, it prompts with the error message "Assignment could not be created, please try again. (Validation failed: Assignment Should only have one assignment repository for each user-assignment combination)". I need to note that Gith

[2019-09-05 17:43] jdbarrie commented on #2342
Looking to search/sort through the assignments that I or my colleagues have created as a teacher.

[2019-09-05 17:50] #2337 closed

[2019-09-05 20:26] mdwheele commented on #2339
@favonia @jeffrafter When #1163 was opened 2 years ago (:grinning:), we would have had to have separate implementations of the same feature for GitHub.com vs GitHub Enterprise. Starting with 2.18 (which everybody should upgrade to because it's awesome), we could **totally** do template repositories.

I'd be glad to open up that work (or anybody else can if interested). That's going to be a must-ha

[2019-09-05 20:45] spinecone commented on #2343
Hi @ariyanzri , thanks for reaching out! Since this is related to your github.com account being restricted, please contact  `developersupport@github.com` and they can work with you to get to the bottom of this issue.

[2019-09-05 20:51] bethard commented on #2343
Is it definitely the case that the problem is the GitHub.com account being restricted? The GitHub Classroom message makes it look like it's a different problem. (But maybe that's just a messaging error?)